[2020-04-07 13:23] atamazov opened #136 "find-db for gfx908 is missing"
Found during looking into Jenkins logs.

[2020-04-07 14:30] alexandraBara commented on #136
@daniellowell  do i just run this as part of the next tuna cycle or do i need to do this now?

[2020-04-08 21:47] shurale-nkn opened #142 "[test_conv2d] Memory access fault"
Error in test_conv2d from MIOpenConvBwdWrWS2.cl

System:
Vega 20
HIP
ROCm 3.0.6
checked commits: ce986b21b , 3a716fe, fcd5563, 481d6b9,  cea60643c, a02171c92e3

For reproduce:
Reproduceable in combination of BWD + WRW only. The error is present in all combinations, but only in this one it can be seen as "Memory access fault".
[code]

[code]

[2020-04-10 21:36] ashishfarmer opened #148 "Large convolution unit test in pyTorch gives seg fault"
A unit test in pyTorch that runs the config `convfp16 -n 4097 -c 2 -H 512 -W 512 -k 2 -y 8 -x 8 -p 0 -q 0 -u 8 -v 8 -l 1 -j 1 -m conv -g 1 -F 1 -t 1` gives a seg fault. The log from the test with MIOPEN_LOG_LEVEL=6 is attached here [log.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/4463478/log.txt)

This same config when I run through MIOpenDriver, there is a seg fault even before any

[2020-04-11 02:43] daniellowell commented on #130
The Find calls for convolution are now parallelized per algorithm. That is, each algorithm compiles the solvers' kernels in parallel. Expect future improvements in this area.

[2020-04-11 02:43] #130 closed

[2020-04-12 16:00] atamazov opened #150 "Unneccesary files written to filesystem during HIP compilation"
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/a02171c92e3213ca30f930b7ff0b362934b856fb/src/hip/hip_build_utils.cpp#L92-L93

`.inc` files are assembly includes and not needed during HIP build.

[2020-04-15 10:28] zjunweihit opened #153 "[build] How to set HALF_INCLUDE_DIR when build MIOpen with HIP backend"
Hi

when I build MIOpen in ROCm 3.0 on Ubuntu18.04.3 env, it requires to set HALF_INCLUDE_DIR for cmake.
How should I set this path? any guide for that?
Thanks.

error log:

$ CXX=/opt/rocm/hcc/bin/hcc cmake .. -DMIOPEN_BACKEND=HIP -DCMAKE_PREFIX_PATH="/opt/rocm/hcc;/opt/rocm/hip" -DCMAKE_INSTALL_PREFIX=/home/zjunwei/mathlib/miopen-lib/
-- Hip compiler flags:  -isystem /opt/rocm-3.1.0/hip/../inclu

[2020-04-15 15:30] daniellowell commented on #142
@shurale-nkn Please delete your local user performance database and retest.

[2020-04-15 15:39] daniellowell commented on #153
@zjunweihit Where and how are you installing MIOpen's dependencies?
Typically I do it like this:

Install minimum deps for building in an ROCm environment:
[code]

Then configure the build dir:
[code]

See docs here:
https://rocmsoftwareplatform.github.io/MIOpen/doc/html/install.html

[2020-04-15 17:36] atamazov commented on #142
The problem related to a02171c  is probably fixed. However I think that the initial issue still persists. I mean this one:

When there is no perfdb record (or the record is invalid), the Solver should provide valid default perf-config

[2020-04-15 22:55] JehandadKhan opened #156 "Remove temp files once MIOpen finishes using them"
During compilation MIOpen writes various files to the `/tmp` directory which should be removed once they are not required.

[2020-04-16 01:38] atamazov commented on #156
Here we can see how removal of tempfiles was thrown away, https://github.com/AMDComputeLibraries/MLOpen/pull/829 @DrizztDoUrden @pfultz2 @daniellowell

[2020-04-16 01:56] zjunweihit commented on #153
@daniellowell Thanks for your reply.
I did forget to add the dep path. However, unfortunately it has save error after setting the dep path.
[code]

* My miopen-dep is below
[code]

[2020-04-16 15:32] JehandadKhan commented on #156
@atamazov Thanks for digging that up. I will create a PR to address this.

[2020-04-16 15:56] daniellowell commented on #153
It seems as if you're missing the half dependencies. What is the contents of include folder?
Also, if your environment is a fully installed ROCm environment you can add the `--minimum` to that `cmake -P install_deps.cmake` command so you don't need to install all ROCm components once again.

I would delete the dependency directory and try once again, but with the minimum flag.

[2020-04-16 16:24] cderb opened #159 "Errors when running Winograd"
using commit: 9216cc08e20c56c257862446904ee0c53fa12172
tested on gfx906 60

**environment:**
MIOPEN_LOG_LEVEL=7
MIOPEN_DEBUG_CONV_GEMM=0
MIOPEN_DEBUG_CONV_DIRECT=0
MIOPEN_DEBUG_CONV_IMPLICIT_GEMM=0
MIOPEN_DEBUG_CONV_FFT=0
MIOPEN_DEBUG_CONV_SCGEMM=0

**Configs expected to work for Winograd, but failing with 'incorrect parameters':**
[code]
In the output log, many of the fields are reported as not f

[2020-04-16 16:30] JehandadKhan commented on #159
Please clean your user perf db and remove any previously installed system perf db at `/opt/rocm/miopen/share/miopen/db/*` and reinstall MIOpen. That should take care of the fields issue.

[2020-04-16 16:59] cderb commented on #159
Yes, that fixes the fields print outs.
The invalid parameters error is still present though.

[2020-04-16 17:44] JehandadKhan commented on #159
I am unable to reproduce this, both with OpenCL and HIP backends

[2020-04-16 17:56] JehandadKhan commented on #159
The version of MIOpen in the logs is `2.3.0`

[2020-04-16 19:26] atamazov commented on #156
@JehandadKhan Nada problemas ;) However the things became more complicated since then. Now we are using sub-directories in temp (that was done for HIP builds which writes includes to disk, I guess, but all build "types" affected). So now we have to remove empty sub-dir in temp. Sad.

[2020-04-16 19:28] JehandadKhan commented on #156
It does indeed, the temp directory class actually cleans up after itself (in the destructor) which means either something is bad or all the temp files being left behind are a result of segfaults. I am still investigating before I commit to a solution

[2020-04-16 20:36] atamazov opened #160 "Warning [KernDb] Invalid fields..."
Radeon VII, ROCm 3.3, `BUILD_DEV=On`, binary cache removed.

[code]
Developer builds do not access binary cache, so the warning shouldn't appear.

Need to investigate if something is really wrong.

[2020-04-16 21:05] atamazov commented on #160
The suspicious warning actually appears with `MIOPEN_DEBUG_FIND_ONLY_SOLVER=ConvOclDirectFwd`. The Info2 _"Field kernel_name not found"_ messages also appear in this case. Part of the log at level 6:
[code]

- Full log with all solvers: [2.log.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/4489726/2.log.txt)
- Full "only solver" log: [1.log.txt](https://github.com/ROCmSoftwarePlatform/M

[2020-04-16 21:40] kiritigowda opened #161 "Performance Hit - ROCm Version Changes"
With the ROCm version, 3.1.34 and above the OpenCL backend kernels are taking a performance hit.

### MIOpen - V2.1.0

## Test Case
`
./MIOpenDriver conv -n 1 -c 3 -H 224 -W 224 -k 64 -y 3 -x 3 -p 1 -q 1 -u 1 -v 1 -l 1 -j 1 -m conv -g 1 -F 1 -t 1
`

## ROCm 2.10 - MIOpenDriver CLI Time

[code]
## ROCm 3.1.34 - MIOpenDriver CLI Time
[code]

## ROCm 3.3 - MIOpenDriver CLI Timing
[code]

## Test Case

[2020-04-16 22:43] cderb commented on #159
I ran it again after a fresh build/install with: 9216cc08e20c56c257862446904ee0c53fa12172
removed the .config/miopen direction
made sure miopen.db in rocm directory was latest

[winograd_miopenFreshInstall_noCfgDir.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/4490032/winograd_miopenFreshInstall_noCfgDir.txt)

[2020-04-16 22:52] ashishfarmer commented on #160
I just observed the KernDb warning while running RNN tests in PyTorch as well. It is reproducible even when just running RNN driver.
[code]

[2020-04-17 05:42] zjunweihit commented on #153
@daniellowell Thanks for your kind detail info. I have ROCm environment 3.1 installed.
Going to try it with clean folder by `--minimun`.

BTW, if my network cannot access the some webset stably, Is that OK to download them all locally one by one and install them manually?

[2020-04-17 14:40] TejashShah commented on #142
http://micimaster.amd.com/blue/organizations/jenkins/MIGraphX%2FMIOpen/detail/dev%2Ftejashs%2Fresolve_hip_clang_compilation_error/1/pipeline

There is an  another failure I observed on CI occasionally.  It also deals with small size input. But observed in gemm algorithm

/var/jenkins/workspace/olve_hip_clang_compilation_error/build/bin/test_conv2d --float --cmode conv --pmode same --group-count 1

[2020-04-17 19:07] cderb commented on #159
I'm not sure what the issue is yet, but It seems there is a way to build MIOpen such that this problem doesn't arise. I'll report again when I find out what the source is.

[2020-04-17 19:07] #159 closed

[2020-04-20 13:36] atamazov commented on #142
This shouldn't be released.

Also we see memory access faults on Jenkins from time to time, hardly reproducible. This corresponds the random nature of this issue, so it is the "suspect zero".

[2020-04-20 13:38] atamazov opened #168 "Issue observed on CI occasionally (moved from #142)"
At first, we need to find a way for reproducing this issue and then identify the root reason.

----
There is an  [another failure I observed on CI occasionally](http://micimaster.amd.com/blue/organizations/jenkins/MIGraphX%2FMIOpen/detail/dev%2Ftejashs%2Fresolve_hip_clang_compilation_error/1/pipeline).  It also deals with small size input. But observed in gemm algorithm
[code]

_Originally posted

[2020-04-20 13:45] atamazov commented on #142
The reason of the issue is that OpenCL kernel writes to wrong memory locations. @TejashShah do you have time for this? If not, then we'll introduce a workaround that would disable this solver.

[2020-04-20 13:48] atamazov commented on #156
@JehandadKhan

Something is bad;)

[2020-04-21 17:25] atamazov commented on #168
@alexandraBara Please set some priority label if this is important for you.

[2020-04-22 14:06] aserio commented on #132
Hi @tsteinholz, Did Daniel's comment help resolve the problem?

[2020-04-22 14:09] aserio commented on #115
@daniellowell, has this issue been addressed?

[2020-04-22 17:52] daniellowell commented on #161
@alexandraBara Can you make sure these get into our config database.

[2020-04-22 18:04] alexandraBara commented on #161
@daniellowell  you want these to be recurrent or just exist in our table?

[2020-04-23 19:02] JehandadKhan opened #174 "Merging Perf DB and Find DB"
MIOpen currently has two databases:

* Perf DB with the perf parameters for kernels
* Find DB with comparative information about the different algorithms

Both these databases share the same key ( derived from the problem description) and therefore it may be useful to merge the two. This would reduce the number of files installed by MIOpen ( only one `miopen .db` ) as compared to one for each arch

[2020-04-24 22:59] cderb commented on #159
The incorrect parameter error seems to be a result of clang not installing correctly, or being in the wrong directory.
Following the errors to the external interface, we get to src/ocl/gcn_asm_utils.cpp. The failure is at ValidateGcnAssemblerImpl, where the path returned by GetGcnAssemblerPath is tested invalid. It should point to a clang version supporting amdgcn, but in my case it was pointing t

[2020-04-26 02:45] pfultz2 commented on #174
I think we can merge the system dbs, but the user dbs should be separate files since we will version them differently. Finddb will version based on the miopen version including the tweak(which contains the rocm release), but the perfdb will just sue the schema version.

[2020-04-27 16:01] atamazov commented on #174
The down side would be wall time regression of Immediate, Fast Find and Hybrid Find modes.

[2020-04-27 16:19] pfultz2 commented on #174
Is there? I have yet to see any perf numbers for this. It seems parsing raw text files would be much slower than using sqlite db.

[2020-04-27 20:57] shurale-nkn opened #180 "[test_conv2d] wrong behavior with Invalid group number"
test_conv2d launched BWD and WRW shaders with this wrong arguments.
It should print a warning and exit.

[code]
LOG:

[code]

[2020-04-27 23:26] atamazov commented on #174
@pfultz2 We use in-memory caching of system fin-db in `std::map`. I tested it but I didn't published detailed results. I can re-test and publish detailed results.

W.r.t User-find-db in-memory caching: testing was done as well, and average numbers published at https://github.com/AMDComputeLibraries/MLOpen/pull/1968.

[2020-04-28 07:21] JehandadKhan opened #181 "Pruning Solvers from MIOpen"
[Link to Excel Sheet](https://amdcloud-my.sharepoint.com/:x:/g/personal/jkhan_amd_com/EbnODXXEQ9BMtZ761J5Y9s4BPh17yPhe3fqD3kBJpv6Y4w?e=dcUzsE)

In an effort to reduce the clutter in our library as well as ensure economy of effort, I ran some analysis on our find db to determine which solvers are usually picked for various configs, as a result of the latest tuning runs. These were run of gfx906 / 6

[2020-04-28 13:49] asroy opened #183 "Use shorter name for iGEMM kernel wrapper"
@asroy I mean this `gridwise_convolution_backward_data_implicit_gemm` is always the same (except "backward_data" of course), so I would replace it with smth like `gw_conv_fwd/bwd/wrw_igemm` or even `conv_igemm_gw_fwd/bwd/wrw`...

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/145_

[2020-04-28 13:58] atamazov commented on #181
Thank you for collecting the data, Jehandad. AFAICS it lists the "best" solvers from our find-db (that contains about of 56K configs).

Could you please check BF16 data? The following are not applicable but listed as "the best":

cmd | solver | direction | Count
-- | -- | -- | --
convbfp16 | ConvAsm1x1U | B | 32
convbfp16 | ConvAsm1x1U | F | 180
convbfp16 | ConvAsm1x1UV2 | B | 6
convbfp16 | ConvAs

[2020-04-28 14:04] DrizztDoUrden commented on #183
I think you are meaning something other than #145, which is igemm data invokers PR ;)

[2020-04-28 14:05] atamazov commented on #180
This is questionable if test driver must check if tensor sizes match. Otherwise? how could we feed wrong inputs to the library to check that it refuses bad configs?

[2020-04-28 16:12] shurale-nkn commented on #180
@atamazov
Not necessarily test_conv2d, but something should do it. (parameters check)

And test_conv2d actually do some checks and don't give to run this configuration.
[code]

We have this configuration, where FWD and WRW finished without kernel launching.

[code]

<details><summary>test_conv2d CONSOLE LOGS</summary>

[code]
</details>

And MIOpenDriver  in this case throw an Exception
[code]

<d

[2020-04-28 16:24] shurale-nkn commented on #180
Simple example:
Failed without kernel launch. It's OK.
[code]
<details><summary>test_conv2d CONSOLE FULL LOGS</summary>
[code]
</details>

But with this "Invalid group number" we have no errors and kernel launched with bad parameters.  It's NOT OK.
[code]

<details><summary>test_conv2d CONSOLE FULL LOGS</summary>

[code]
</details>

[2020-04-28 18:36] JehandadKhan opened #184 "Moving SQLite calls to cpp files"
Currently we are not linking in the static version of sqlite, however, when we link in the static version the test breaks when the symbols are hidden. This is because part of the sqlite code is in the header and some other code is in the cpp file which cause two different instances of sqlite to be used in the test which is a problem because of the global variables used in sqlite

We need to put al

[2020-04-28 18:37] JehandadKhan commented on #184
@pfultz2 I will start working on this and should have a PR soon.

[2020-04-28 18:38] JehandadKhan commented on #181
You are right, that does sound like a bug. Let me investigate

[2020-04-28 18:50] JehandadKhan commented on #181
@alexandraBara  Can you please look at these configs? From the database it seems that they were actually run and produced "valid" results. As @atamazov  points out above that should not be the case. There is a bug somewhere.

[2020-04-28 20:57] pfultz2 commented on #184
We need to probably use the pimpl idiom so we dont leak any sqlite objects into the headers.

[2020-04-28 23:55] #160 closed

[2020-04-29 05:41] JehandadKhan commented on #184
Will do

[2020-04-29 09:39] learner321 opened #186 "How to install the miopenkernels-<arch> package"
I found the kernels compiled time is too long for the first time running. But I don't find the  pre-complied kernel package in the repository of "http://repo.radeon.com/rocm/yum/rpm". Could you please share the download link or how to build that package. Thank you.

[2020-04-29 19:37] kiritigowda commented on #161
Any updates on this bug @daniellowell ? Thanks!

[2020-04-29 22:00] atamazov commented on #161
@alexandraBara @daniellowell IIRC some time ago we excluded `-n 1` cases from tuning?

[2020-04-30 06:02] JehandadKhan opened #187 "SQLite DB calling SQLExec with invalid database"
When the SQLite database is created with an empty string, the class initializes without calling any SQL API to support MIOpen functionality.

However, the SQLExec may still be called resulting in a misleading `out of memory` error resulting from a SQL_MISUSE status.

[2020-04-30 21:37] aserio commented on #186
@JehandadKhan, would you be able to shed some light here?

[2020-05-01 04:00] #187 closed

[2020-05-01 05:43] JehandadKhan opened #193 "Resolve comments for #188 (SQLite out of memory)"
Placeholder to address issues raised in #188 review

[2020-05-01 14:14] alexandraBara commented on #161
configs have been added.

[2020-05-01 14:15] alexandraBara commented on #161
we havent tuned batchsize 1 in a while i think. We are doing it in our current tuning.

[2020-05-01 14:46] aserio commented on #193
Tasks:

1. Move logging into base class
2. Set the ptrDb to null instead using a separate dbInvalid flag
3. Create unit test to check for the Out of Memory error

[2020-05-02 07:37] JehandadKhan commented on #186
@learner321 thanks for reaching out, the kernels packages are not released yet but should be out in a few weeks. I will update this issue when new information becomes available.

[2020-05-03 17:11] atamazov opened #197 "Output tensor size does not present in the sqlite db binding"
Let's conder this:
[code]
It seems like output tensor size does not present in the sqlite db binding.

IIRC the size of output tensor is important to distinguish asymmetric padding cases (that may happen in _same_ padding mode), for example:
[code]
The former case (`same` padding mode) shows 0x0 padding but actual padding is `[top 0, bottom 1] x [left 0, right 1]`. So we need output size in the db

[2020-05-04 11:08] JehandadKhan commented on #197
That is a valid point, I was not aware of the consequence of this. Will open a PR to address this.

[2020-05-04 22:26] TejashShah opened #199 "GPU Kernel Time Elapsed reported in MIOpenDriver invalid for certain specific scenarios"
./bin/MIOpenDriver conv -n 128 -V 0 -c 1024 -H 14 -W 14 -k 1024 -y 3 -x 3 -p 0 -q 0 -u 1 -v 1 -l 1 -j 1 -g 32 -F 5 -t 1 -i 1

IOpen(HIP): Info [FindConvBwdWeightsAlgorithm] miopenConvolutionBwdWeightsAlgoImplicitGEMM     8.52753 0
MIOpen(HIP): Info [FindConvBwdWeightsAlgorithm] BWrW Chosen Algorithm: ConvHipImplicitGemmV4R4GenWrWXdlops , 0, 8.52753

MIOpen Backward Weights Conv. Algorithm: 5, Solu

[2020-05-05 13:14] #184 closed

[2020-05-06 07:31] zjunweihit commented on #153
@daniellowell , thanks for your advice. it works well now.
closing the issue.

[2020-05-06 07:31] #153 closed

[2020-05-07 16:35] atamazov opened #207 "Support HIP BE builds with CXX other than hip-clang or hcc."
I've tried that locally and (after some hacks) was able build fully working library (including iGemm kernels, of course) and the driver. Benefits:
- Dramatic boost (~10X) of the build time of the library. The is very important for development.
- Less doubts about speed and correctness of the host code. This is especially important during transition from hcc to hip-clang.
- Correct debugging inform

[2020-05-07 17:25] JehandadKhan commented on #207
I support this!
@atamazov what hacks ?

[2020-05-08 08:35] learner321 commented on #186
@JehandadKhan Thank you. Now the compiled kernels are storing in the ~/.cache for differnent users. I will compile the kernels again even the other users have been trained before ,like some common sizes for conv/pooling. Is there some mechanism to share the complied kernels like system-db.

[2020-05-08 14:39] aserio commented on #156
@JehandadKhan and @atamazov, Have you been able to return to this issue?

[2020-05-08 14:41] aserio commented on #142
@TejashShah, @shurale-nkn, and @atamazov, is this issue still at large? Do we have a plan to address it?

[2020-05-08 17:59] atamazov commented on #142
Further TODOs:
- Disable asymmetric padding for all OCL kernels
- Disable asymmetric padding for asm kernels that do not support it

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/179#issuecomment-621234965_

@Kirpich30000

[2020-05-08 18:00] atamazov commented on #156
I am not looking at this.

[2020-05-08 18:15] atamazov opened #209 "Rework #152 to Invokers."
~This is a blocker for #203 (and parallel tuning that depends on it) due to [this](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/152#discussion_r422289511). Changes introduced by #152 must be reworked to invokers.~

~Since #145 we should NOT use `RunAndMeasure()` in the new Solvers. The only reason that #152 has passed the tests is that #203 is not yet merged.~

@daniellowell @DrizztDoUrden

[2020-05-08 18:44] zjing14 commented on #209
@atamazov Do I need to remove the RunAndMeasure() now or after #203?

[2020-05-08 20:18] JehandadKhan commented on #156
@aserio  I am but I was able to reproduce the issue to the same extent as reported earlier by the MIGraphX team. MeV has not been able to reproduce the issue either, therefore this dropped in priority.

[2020-05-08 21:24] atamazov commented on #209
Sorry, my bad. The issue is wrong :face_with_head_bandage:

[2020-05-08 21:25] #209 closed

[2020-05-08 22:19] aserio commented on #156
@JehandadKhan Thanks!

[2020-05-11 08:20] JehandadKhan opened #213 "Copy elision warning in ROCm 3.3 (HIP)"
When compiling MIOpen on ROCm 3.3 the following warning appears:

[code]

[2020-05-11 09:40] atamazov commented on #213
This is addressed in #212

[2020-05-11 12:17] #213 closed

[2020-05-12 12:42] atamazov commented on #180
I think we shall add relevant check to the _library_.

[2020-05-12 12:45] atamazov commented on #181
Right now this is a bug for Alex to triage...

[2020-05-12 21:11] JehandadKhan commented on #181
That error was fixed, I have updated the sheet with new numbers.

[2020-05-12 21:57] atamazov commented on #181
Good, thanks! By #171?

[2020-05-12 22:01] JehandadKhan commented on #181
No, there was an error in Tuna

[2020-05-12 22:15] atamazov commented on #181
Aha, so the system fdb we have in develop right now is not affected by this bug, right?

[2020-05-13 00:57] asroy commented on #181
@JehandadKhan Which rocm version is this? Is ```MIOPEN_DEBUG_IMPLICIT_GEMM_FIND_ALL_SOLUTIONS``` set to 0 or 1?

[2020-05-13 16:59] JehandadKhan commented on #181
@asroy `MIOPEN_DEBUG_IMPLICIT_GEMM_FIND_ALL_SOLUTIONS` would be at its default value.

[2020-05-13 17:00] JehandadKhan commented on #181
The system find db should not have this bug.

[2020-05-13 17:19] JehandadKhan opened #216 "Design of Invokers"
_The internals of our library went some major changes recently with solver registry, invokers etc. It would be helpful to have a design document to understand what the new design looks like._

## Motivation and basic concepts

See [Extend Solver/Solution architecture with Invoker objects. #1127](https://github.com/AMDComputeLibraries/MLOpen/issues/1127)

## Design of Invokers

Initial design is ex

[2020-05-14 22:07] kiritigowda commented on #161
Any updates on this bug?

[2020-05-15 03:12] daniellowell opened #218 "Workspace needed for sub-sample"
We are seeing this error a lot in our CI. I would like to know if it is related to the invoker changes:
[code]

[2020-05-15 13:56] aserio commented on #142
@atamazov do we have a plan to implement these to dos? (or did you mean to add the "priority_medium" ticket :D  )

[2020-05-15 16:44] atamazov commented on #142
The plan is to resolve this ticket, see my previous comment.

[2020-05-15 17:33] atamazov commented on #218
The following command (the 1st one from the description) uses Find mode, not Immediate mode, which is weird: `./bin/test_immed_conv2d --float --cmode conv --pmode same --group-count 1 --enable-fdb 1 --input 1, 128, 56, 56 --weights 1, 128, 1, 1 --pads_strides_dilations 0 0 2 2 1 1 --trans_output_pads 0 0 --disable-backward-data --disable-backward-weights`.

I am looking into the test source...

[2020-05-15 17:56] atamazov commented on #218
Here https://github.com/AMDComputeLibraries/MLOpen/pull/2110/files?diff=split&w=1#r425960325

[2020-05-15 21:01] atamazov opened #219 "Interoperability of Find mode and Immediate mode API calls is limited in MP/MT environments."
The documentation does not allow cooperative use of Find and Immediate API calls so far. The results of Immediate mode API calls should not be passed to Find mode API calls and vice versa.

Find and Immediate modes are not fully interoperable due to API restrictions. For example, `Find()` returns an `algorithm`, but Immediate mode needs `solution_id` to run etc.

However we would like to ensure in

[2020-05-15 21:02] atamazov commented on #219
These calls are optional. The obvious proposal is to remove them.

[2020-05-15 21:03] atamazov commented on #219
@pfultz2 @daniellowell @DrizztDoUrden FYI

[2020-05-15 21:40] JehandadKhan commented on #219
I am not sure I follow, why is removal the obvious solution ?

A simpler solution is to not store the workspace size in FDB ( I think we went over this earlier). Since the workspace size can be calculated by the solver without the perf params ( ie. a PDB access) GWSS calls should avoid the fdb access and just compute the workspace size from the problem and tensor descriptors.

[2020-05-15 22:14] atamazov commented on #219
GWSS must know solver id to do this calculation.

[2020-05-15 22:15] JehandadKhan commented on #219
@atamazov  Which should be known in immediate mode, even if its not, it can be enumerated from the any-solver containers.

[2020-05-15 22:21] atamazov commented on #219
You are right. And I was a bit wrong in the description (partially fixed). I need to think about this...

[2020-05-15 22:58] atamazov commented on #142
@aserio This priority_high is correct here, because of possibility of undefined behavior (UB).

[2020-05-16 10:12] Zadagu opened #221 "Support for GRU with ReLU activation function"
Hi,

i'm looking for a method to accelerate training of RNNoise.
RNNoise uses 3 layers of GRUs with ReLU activation function.
I don't have any AMD Cards to test this myself. Does ROCm and MIOpen
support GRUs with ReLU activation function in Tensorflow? CuDNN doesn't.
For me this would be a reason to buy an AMD Card.

[2020-05-16 12:19] atamazov commented on #219
[Informative] `GetForwardSolutionWorkspaceSize()` works independently of find-db. Actually it MUST work this way due to some find-db limitations imposed by Find API 1.0. So the use case scenario like this would never fail:

## Use case
[code]
As GetSolutionWorkspaceSize does not read WS size from find-db but always _computes_ it, it returns valid value workspace size regardless of any find-db upda

[2020-05-16 12:19] atamazov commented on #219
@JehandadKhan I will update issue title & description, and hide or delete some irrelevant comments soon.

[2020-05-16 15:22] atamazov commented on #218
Possible explanation of reason of the issue is at https://github.com/ROCmSoftwarePlatform/MIOpen/pull/220#issuecomment-629643827

[2020-05-17 15:09] daniellowell commented on #221
Our GRU implementation follows this mathematical formulation:
![image](https://user-images.githubusercontent.com/12801049/82152343-211dc600-9826-11ea-88df-d9df286868fe.png)

Luckily, AMD's implementation is entirely open source!

Which means you can implement any activation function quite easily and build it for your own purposes, or submit a pull request as an additional feature to MIOpen.

I thi

[2020-05-18 13:36] atamazov commented on #181
@asroy @JehandadKhan

It is disabled by default ((

[2020-05-18 13:41] atamazov commented on #181
There is https://github.com/AMDComputeLibraries/MLOpen/pull/2520 that woukarounds SWDEV-227826.

[2020-05-18 13:45] atamazov commented on #181
@asroy @JehandadKhan

- It is disabled by default :( There is https://github.com/AMDComputeLibraries/MLOpen/pull/2520 that workarounds SWDEV-227826.
- Also it seems like https://github.com/AMDComputeLibraries/MLOpen/issues/2518 is forgotten. I am afraid that the order of iGemm Solvers is still far from optimal.

These two bullets together mean that the fastest iGemm solvers could be missed :face_w

[2020-05-18 13:46] atamazov commented on #181
@asroy @JehandadKhan

- It is disabled by default :( There is https://github.com/AMDComputeLibraries/MLOpen/pull/2520 that workarounds SWDEV-227826.
- Also it seems like https://github.com/AMDComputeLibraries/MLOpen/issues/2518 is forgotten. I am afraid that the order of iGemm Solvers is still far from optimal.

These two bullets together mean that the fastest iGemm solvers could be missed :face_w

[2020-05-18 17:22] JehandadKhan commented on #181
That is unfortunate. @asroy are there any other env vars that I should be aware of? I plan on re-running this this week and would be helpful to setup the proper env, please advise.

[2020-05-18 17:23] JehandadKhan commented on #181
If we enable the env variable, the order is no longer an issue. At least data collection would  yield actionable results.

[2020-05-18 19:18] atamazov commented on #181
@JehandadKhan

It's true. The problem is that perf-db (most likely) does not contain information for the solvers to be enabled, so the collected data will still be inaccurate ;(

[2020-05-18 20:49] JehandadKhan commented on #181
We can get around that by using an env var to do a find and disable find-db access

[2020-05-19 00:03] atamazov commented on #181
I mean that solvers to be enabled are not tuned yet. Or I do not understand something...?

[2020-05-19 08:37] JehandadKhan commented on #181
@atamazov I follow you now, I will see what I can do to fix that.

[2020-05-19 13:13] atamazov opened #225 ""-D__HIP_PLATFORM_HCC__=1" in V4R4GenXdlops iGemm Solutions"
Producing macros with reserved names may yield problems. These two lines can create problems with hip-clang (and comgr).

- https://github.com/ROCmSoftwarePlatform/MIOpen/blob/14d51c85df366e54de7329874dc23921eb2625c1/src/solver/conv_hip_implicit_gemm_v4r4_gen_xdlops_fwd_fp32.cpp#L532

- https://github.com/ROCmSoftwarePlatform/MIOpen/blob/b25e2e8120cecb5c3ce24303963a30362b85708d/src/solver/conv_hip

[2020-05-19 15:28] atamazov commented on #181
@JehandadKhan Let me clarify the objective of "pruning solvers" how I see it. I would like to find that Solvers that never win, and remove those from the library. Are we on the same page?

[2020-05-19 16:54] daniellowell opened #226 "[Jenkins] Segmentation Fault in test_conv_extra config"
`bin/test_conv2d --float --cmode conv --pmode default --group-count 1 --input 4, 64, 14, 14 --weights 24, 64, 5, 5 --pads_strides_dilations 2 2 1 1 1 1 --trans_output_pads 0 0 `

and

`bin/test_conv2d --float --cmode conv --pmode default --group-count 1 --input 1, 1, 1, 1 --weights 1, 1, 3, 3 --pads_strides_dilations 1 1 2 2 2 1 --trans_output_pads 0 0`

Failing configs on our Jenkins CI, gfx908.

[2020-05-19 18:13] JehandadKhan opened #229 "Remove iGEMM solvers"
The following solvers need to be removed from the library:

* ConvHipImplicitGemmV4_1x1
* ConvHipImplicitGemmV4Fwd

@asroy Please update the list if you believe some others can be removed as well

[2020-05-19 20:05] JehandadKhan commented on #225
This is also part of the CMakeLists.txt [here](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/1be0abd6c9e05d4b40c8ae1cd2b42f5aede65682/src/CMakeLists.txt#L532)

[2020-05-20 14:22] atamazov opened #230 "HIP/HCC To HIP-Clang Porting Guide"
Whom it may concern: the document is under review. https://github.com/ROCm-Developer-Tools/HIP/pull/2085/files?short_path=3b3f767#diff-3b3f76782e021626c3873a2bc96d86c4

/cc @asroy @zjing14 @daniellowell @pfultz2 @TejashShah

[2020-05-21 18:52] atamazov opened #235 "`PrecompileSolutions` needs some assessments and fixes."
https://github.com/AMDComputeLibraries/MLOpen/pull/2400#pullrequestreview-416375222

- [x] :heavy_check_mark: :red_circle: [Reliability](https://github.com/AMDComputeLibraries/MLOpen/pull/2400/files#r428823875) - assessed; not a bug
- [x] :heavy_check_mark: :red_circle: [Unsafe work with HIP/OCL runtime?](https://github.com/AMDComputeLibraries/MLOpen/pull/2400/files#r428826961) - assessed; not a b

[2020-05-21 21:35] daniellowell opened #237 "Tuning set for 2.5"
#### gfx900-56cu / gfx900-64cu
iGEMM, fp32 only -- all Recurrent
3D convolution iGEMM, fp32 -- all configs
All solvers, fp32 only -- batch size 1

#### gfx906-60cu / gfx906-60cu
iGEMM, fp32-fp16  -- all Recurrent
3D convolution iGEMM, fp32 -- all configs
All solvers, fp32-fp16              -- batch size 1

#### gfx908
iGEMM, fp32, fp16, bfp16 -- ResNet50 and ResNext101

[2020-05-21 21:36] daniellowell commented on #237
And anything missed from this ticket: https://github.com/ROCmSoftwarePlatform/MIOpen/issues/161

[2020-05-23 00:34] TejashShah opened #238 "Wrong workspace calculation/allocation disallows running xdlops bwd v1r1 kernels"
When running fp16 configs through MIOpenDriver with all fwd/wrw/bwd directions (default behavior), often backward v1r1 xdlops kernels are not running due to workspace check.

Steps to reproduce:

1. Fetch the tip of develop (ef1c1925fcd3d76c31769272da175947923b9ae2)

2.
export MIOPEN_DEBUG_AMD_WINOGRAD_RXS_WRW=0
export MIOPEN_DEBUG_AMD_ROCM_PRECOMPILED_BINARIES=0
export MIOPEN_DEBUG_GCN_ASM_KERNEL

[2020-05-25 11:36] atamazov commented on #238
We'll look into this. However we can't reproduce this as we do not have access to the necessary HW.

@dagamayank @daniellowell

[2020-05-25 11:37] atamazov commented on #238
We'll look into this. However we can't reproduce this as we do not have access to the necessary HW. Please assign somebody else.

@dagamayank @daniellowell

[2020-05-25 11:44] atamazov commented on #238
We'll be able to help better if the following steps done:
1. Identifying the failing commit in the range [41a9a47, ef1c192]
1. Collecting logs with level 6 from the failing commit and the one that immediately precedes it.
1. Attaching these logs here.

[2020-05-25 17:23] atamazov commented on #226
## Analysis of a failing case

For now we are saving binary in the same thread where is is being built. If we build several kernels, then saving may happen concurrently. Assembling is very fast, so it is more likely that concurrency would occur after assembly than after OCL or HIP build.

In the attached logs, three asm kernels are built in parallel (download and open in diff tool for details):
-

[2020-05-25 20:36] atamazov opened #241 "[tuning] Allow the driver to run on GPU-less machines"
Right now we cannot use parallelism at full. Dedicated GPU-less servers for building binary cache will be able to leverage parallelism more intensively.

We need to enable running the driver on a machine without a GPU. This would allow to begin the implementation of a new tuning infrastructure. Off hand proposal is to make an environment variable (something like `MIOPEN_ONLY_BUILD_FOR_GFX`).

Orig

[2020-05-26 15:18] JehandadKhan commented on #226
@atamazov  There is no harm in removing that line, however, please note that since the case at hand is an empty database it would return from the call immediately [here](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/3ed5e8569ec82ea2d5f8706d279e2074ceeb8a5a/src/include/miopen/kern_db.hpp#L104)

[2020-05-26 20:25] alexandraBara commented on #237
On this ticket, where are the Driver cmds? are they under "Test Cases to Replicate Issue"?

[2020-05-26 21:15] atamazov opened #242 "Use `RUN_SERIAL` property in cmake for the tests that use a lot threads."
See https://cmake.org/cmake/help/v3.10/manual/cmake-properties.7.html.

_Originally posted by @pfultz2 in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/240#discussion_r430655147_

[2020-05-27 03:14] TejashShah commented on #238
commit ec00901b745ee38002120ae5e1d178829584e650

Shared debug.log at
https://amdcloud-my.sharepoint.com/:u:/g/personal/teshah_amd_com/EVdaXsFzdKVDn0KAooXIgR0BrDMlee8B0bjnd1ej4QzxcA

Please let me know if you could access the file as it's first attempt.

[2020-05-27 07:49] atamazov commented on #238
Oops, wait...

[2020-05-27 07:54] atamazov commented on #238
This is either driver or library problem... Does test_conv2d succeed when run with this config?

[2020-05-27 15:47] TejashShah commented on #238
As I mentioned earlier, it works fine when you run MIOpenDriver command "-F 2". Only when all directions are run one after another it misbehaves.

[2020-05-27 16:36] atamazov commented on #238
`test_conv2d` is not a driver.

[2020-05-27 16:38] atamazov commented on #238
I do not have access to amdcloud.

[2020-05-27 16:45] atamazov commented on #238
@TejashShah please run Bwd-only with `test_conv2d`:
[code]
and all directions:
[code]
This would tell us if the problem is in the driver of in the library. Thanks!

[2020-05-27 18:48] TejashShah commented on #238
It looks good. So, no problem in the library. Just a driver, perhaps.

root@rocm-framework-7:/PublicMIOpen/pr-hip-build-33# ./bin/test_conv2d --half --cmode conv --pmode default --group-count 1 \

./bin/test_conv2d --half --cmode conv --pmode default --group-count 1 --input 128, 1024, 14, 14 --weights 1024, 1024, 1, 1 --pads_strides_dilations 0 0 1 1 1 1 --trans_output_pads 0 0
MIOpen(HIP): Warnin

[2020-05-27 19:28] alexandraBara commented on #237
configs tagged so far:
"recurrent"
"3d"
"obsolete" - taken from http://ontrack-internal.amd.com/browse/SWDEV-234450

[2020-05-28 17:26] JehandadKhan opened #247 "MIGraphX tuning"
[Link to file](https://github.com/mvermeulen/rocm-migraphx/blob/7c249f732cff60e2eba77826b390afb3169382ea/dockerfiles/miopen/gfx906_60.HIP.2_3_0.ufdb.txt#L1)

The above file is a find db with the configs needed to be tuned.

[2020-05-28 17:52] alexandraBara commented on #247
these need to be tuned this tuning session?

[2020-05-28 17:53] JehandadKhan commented on #247
I believe no, @daniellowell  would you agree ?

[2020-05-28 17:56] alexandraBara commented on #247
OK, regardless I tagged them with "issue247"

[2020-05-28 22:50] ashishfarmer opened #248 "MIOpen BatchNorm results in NaN in pyTorch"
The issue is originally reported on ROCm PyTorch[ issue#657](https://github.com/ROCmSoftwarePlatform/pytorch/issues/657).

For the specific input tensor mentioned in the ticket, there are NaN's in the output. Verified that for the given test case, MIOpen BatchNorm is being used, and `MIOPEN_CHECK_NUMERICS` confirm the presence of NaNs in the output from MIOpen.
[code]

The tensor for which this be

[2020-05-29 13:37] aserio commented on #248
@ashishfarmer, What priority would you set for this issue?

[2020-05-29 13:40] aserio commented on #218
@atamazov has this issues been resolved with PR#220?

[2020-05-29 13:47] aserio commented on #226
This issue can be closed upon PR #240 being merged.

[2020-05-29 13:51] aserio commented on #235
@alexandraBara  and @atamazov, have you been able to begin working on a resolution for this ticket?

[2020-05-29 13:52] aserio commented on #229
@JehandadKhan, has the work to remove these two solvers started? Who will be creating the PR?

[2020-05-29 13:53] aserio commented on #225
@zjing14, do you have any update on the resolution of this issue?

[2020-05-29 13:54] alexandraBara commented on #235
It's still in progress and we have a Design Document out

[2020-05-29 13:57] aserio commented on #142
@atamazov and @TejashShah, have you been able to disable asymmetric padding for all OCL kernels and disable asymmetric padding for asm kernels that do not support it? Who is responsible for creating this pull request?

[2020-05-29 15:04] atamazov commented on #226
This is not so anymore, I just restored #226 in the #240 because of this failure during "Full long tests / FP32 gfx908 Hip Release All subset":
[code]
Needs to investigate.

[2020-05-29 15:14] atamazov commented on #142
No (no time). Me.

[2020-05-29 15:25] atamazov commented on #218
Maybe. I do not see this in the CI logs of #240 that I am working on (among other things). We can close this after #240 is merged.

[2020-05-29 16:16] JehandadKhan commented on #229
If the iGEMM team does not object I can do it.

[2020-05-29 16:50] zjing14 commented on #225
__HIP_PLATFORM_HCC__ is mainly for low precision, i.e., float16 and bfloat16. For example, we use __float16 type in hip. I do not see the resolution currently. @TejashShah can give you more details.

[2020-05-29 16:54] zjing14 commented on #225
Currently, @TejashShah @asroy and me (@zjing14) are working on refactoring the solver and kernel. We can take care of it and change the macro name during refactoring.

[2020-05-29 17:00] TejashShah commented on #225
We could change the name. But I need a flag that could tell whether I am building .cl vs hip kernel. It is required because HIP kernel compilation didn't support ushortx2 while opencl did. There are quite a few differences we encountered in OpenCL vs HIP backend. Thus this flag was used.

As far as I recall, this flag was not added by me. But I used the following CMakeLists.txt to learn that this

[2020-05-29 17:07] TejashShah commented on #225
Few examples where opencl and hip compiler expected difference

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/fb0aa75c2d75d28d0b22ac0ad7f9c9057019da40/src/kernels/float_types.h#L84
half - opencl
_float16 - hcc/hipclang

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/fb0aa75c2d75d28d0b22ac0ad7f9c9057019da40/src/kernels/float_types.h#L39

[2020-05-29 17:38] atamazov commented on #225
WE SHOULD NOT PRODUCE MACROS WITH RESERVED NAMES

[2020-05-29 17:41] zjing14 commented on #225
@atamazov How we avoid using reserved names in the future? All reserved names have prefix "__".

[2020-05-29 17:43] atamazov commented on #225
You can use `#ifdef __OPENCL_VERSION__` to differentiate HIP compilation from OCL compilation. This macro is defined by the OCL compiler, https://www.khronos.org/registry/OpenCL/sdk/2.1/docs/man/xhtml/preprocessorDirectives.html

[2020-05-29 17:51] atamazov commented on #225
Use can use these names (if name is documented), but we shouldn't define/declare these under any circumstances except P1 workarounds. Even single underscore in the beginning is usually prohibited, https://en.cppreference.com/w/cpp/language/identifiers

IIRC hip runtime headers use `__HIP_PLATFORM_HCC__` for its own purposes. It is the compiler and its library who are allowed to define (or not defi

[2020-05-29 17:55] TejashShah commented on #225
We haven't produced this macro. This macro was introduced by someone (with HIP expert) in CMakeLists.txt. We simply reused the same macro at kernel level. So, it is correct to say that we shouldn't have reused the same macro.

[2020-05-29 19:44] TejashShah commented on #225
@atamazov Your concern is that we should not define/redefine the variables with__. Point takend

My question: You don't have any objection if we use  HIP_PLATFORM_HCC  inside kernels, assuming the compiler have already defined it as part of passing those arguments just like we do

If I could use this variable, I wouldn't change it to __OPENCL_VERSION__. The problem is that what is the gaurantee th

[2020-05-29 21:42] atamazov commented on #225
Please see the issue description, it denotes our C++ source code.

Any entities (macros, functions, variables/objects, types) beginning with `_` or `__`.

The `__OPENCL_VERSION__` macro is defined by the OpenCL compiler within each translation unit from the beginning til the end of compilation. Otherwise there is a bug (and we'll file a ticket and apply workaround).

The `__OPENCL_VERSION__` macro

[2020-05-29 22:29] TejashShah commented on #225
< We haven't produced this macro.
< Please see the issue description, it denotes our C++ source code.

Reference to the ticket which introduces this macro. Just to reiterate, we used it based on someone's recommendation

https://github.com/ROCmSoftwarePlatform/MIOpen/commit/75787c355be6639f3608662cd9a287f1421941e6

I will correct to use HIP_PLATFORM_HCC

[2020-05-29 22:59] TejashShah commented on #225
I wouldn't want to change anything if I have option to do. I will try to remove the following code from all igemm solvers and check if it runs fine in hipclang and rocm3.3 and rocm3.5. if it works, implies that the compiler is setting this variable correctly (no need to set workaround), I would remove the following line.

std::string(" -D__HIP_PLATFORM_HCC__=1") +

If I can't run the kernel correc

[2020-05-29 23:27] atamazov commented on #225
I like conservatism ;) Please be aware that Jenkins uses something older than ROCm3.3. Good luck!

[2020-05-30 00:57] TejashShah commented on #225
Surrendered! :wink: Changing my stance to avoid digging myself in the hole of older ROCm3.3 !! Will change to HIP_PLATFORM_HCC  in solver and kernels files.

[2020-05-30 23:30] sunway513 commented on #248
@aserio I'd suggest to mark it as P2.

[2020-06-01 15:55] aserio commented on #235
@alexandraBara, would you provide the link here?

[2020-06-01 19:44] daniellowell commented on #235
No, just email it. @aserio what is the ask?

[2020-06-01 20:32] aserio commented on #235
I was asking so that I could track the development of the issue easier. I would be clearer to me what is happening on the ticket and I might not have to needlessly bug people.

[2020-06-02 18:37] atamazov opened #254 "[test_handle_test][ROCm 3.3] test_multithreads() failure"
Test fails with
[code]
~The reason is sharing MIOpen handle between threads. Setting `MIOPEN_TEST_USE_GLOBAL_HANDLE` to 0 in `...test/get_handle.hpp` resolves the issue.~

Note that the issue is not reproducible with ROCm 3.5.

I am wondering if ROCm 3.3 and its predecessors have problems with this, and if this affects the stability of our tests on Jenkins.

[2020-06-02 19:20] atamazov opened #255 "Elaborate workaround introduced in #252"
#252 narrows the applicability of three MP Winograd solvers under certain conditions. This is workaround for SWDEV-234193. We need to find exact reason of the problem and implement proper fix.

[2020-06-03 02:37] pfultz2 commented on #254
The handle is used across multiple threads but not at the same time. The test is there to ensure that this can be safely done. In addition, switching `MIOPEN_TEST_USE_GLOBAL_HANDLE` wouldn't make a difference since it calls `get_handle()` once and reuses that handle multiple times across the different threads.

[2020-06-03 15:11] daniellowell opened #258 "test_cache build failure"
On the latest `develop` branch on ROCm 3.5 I am seeing this issue when building

[code]

This happens on both backends. Checking multiple systems.

[2020-06-03 15:32] daniellowell commented on #258
False alarm.

[2020-06-03 15:55] aserio commented on #218
Closing as #240 has been merged.

[2020-06-03 15:55] #218 closed

[2020-06-04 00:48] atamazov commented on #258
This is a bug that I've introduced when switched from sqlite binary cache to file based one. Needs to be fixed, but not urgent.

[2020-06-04 14:58] aserio commented on #226
@atamazov, do you have a status update on this issue?

[2020-06-04 15:00] aserio commented on #235
@alexandraBara, please email the document to me -- Thanks!

[2020-06-04 15:01] aserio commented on #229
@daniellowell, please clarify who is assigned this task so that we can drive this high priority issue to completion.

[2020-06-04 15:04] aserio commented on #225
@TejashShah, would you be able to provide an update on this issue?

[2020-06-04 15:19] aserio commented on #199
@TejashShah, Can this issue be closed as #200 has been merged?

[2020-06-04 15:21] aserio commented on #136
@alexandraBara, is this issue still at large?

[2020-06-04 15:22] aserio commented on #150
@asroy, is this issues still at large?

[2020-06-04 16:41] alexandraBara commented on #136
@cderb did a round of tuning this time, I am not sure if we had enough time to do gfx908 as well but he can update us with status.

[2020-06-04 19:28] atamazov opened #263 "rocm3.5 - Could not find a package configuration file provided by "rocblas""
Vanilla rocm3.5:
[code]

[2020-06-04 21:58] atamazov commented on #263
Fixed after
[code]
Rocbals 2.22.0.2367-b2cceba released for ROCm 3.5.0, https://github.com/ROCmSoftwarePlatform/rocBLAS/releases/tag/rocm-3.5.0

[2020-06-05 00:39] atamazov opened #264 "[ROCm3.5][Driver] miopenGcnAsmWinogradXformData_7_7_2_2: Memory access fault by GPU node-2"
ROCm3.5, Radeon VII, develop at e65e04ac1df4f. CMake command line:
[code]
Failing config:
[code]

## Triaging

- The issue disappears with `-F 4` (WrW only):
[code]
[pass.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/4733293/pass.log)
[fail.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/4733294/fail.log)

- Disabling all algos except Winograd doesn't help. I.e. when run with

[2020-06-05 00:44] TejashShah commented on #225
@aserio Testing changes. Will have PR tomorrow, if not today.

[2020-06-05 12:22] atamazov commented on #254
@pfultz2 Sorry for confusion, the description was incomplete.

The patch that workarounds the issue is attached. In short:
[code]
Both unmodified test and this test fail. With `MIOPEN_TEST_USE_GLOBAL_HANDLE` to 0, modified test is passing.

[2020-06-05 12:24] atamazov commented on #254
Note that the issue is not reproducible with ROCm 3.5, so lowering the priority.

I am wondering if ROCm 3.3 and its predecessors have problems with this, and if this affects the stability of our tests on Jenkins.

[2020-06-05 15:19] atamazov commented on #226
No.

[2020-06-05 17:54] JehandadKhan opened #266 "conv::ProblemDescription vs miopen::ProblemDescription"
The following lines of code in `miopen::conv::ProblemDescription` appear to be for the consumption of SQLite Perf DB

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/e65e04ac1df4fa1381cf6ea439ad22b29998df42/src/include/miopen/conv/problem_description.hpp#L285

However, AFAIU only the Visit methods in `miopen::ProblemDescription` are used there. Furthermore, `miopen::conv::ProblemDescription` h

[2020-06-05 19:54] atamazov commented on #266
[Off-topic] [Tip] :bulb: @JehandadKhan click on the source code link you've provided,

then scroll to the top of the page and click `[Blame]` to see where this line of code came from.

[2020-06-05 20:01] DrizztDoUrden commented on #266
We should update all solvers to the new struct and get rid of miopen::ProblemDescription. That would eliminate unrequited copies of tensor descriptors data an all the mess around it.

[2020-06-05 20:02] JehandadKhan commented on #266
I will update the perf db infra to use the new struct.

[2020-06-05 20:55] atamazov commented on #266
@DrizztDoUrden It is so that all new solvers should use `miopen::conv::ProblemDescription`?

[2020-06-05 22:18] DrizztDoUrden commented on #266
My idea was to smooth transition by making them have 2 `GetSolution()`, one with old struct and one with `ExectutionContext` and `conv::ProblemDescription`. Old API method just transforming params. And later just remove all old methods.

[2020-06-05 23:02] atamazov commented on #238
This weird message means that nullptr is passed. Most likely this is a driver bug, introduced recently.

[2020-06-07 01:25] shurale-nkn commented on #264
workspace_dev ptr was corrupted in PR #172 .
workspace_dev was initialized at AllocateBuffersAndCopy().
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/f10b50b844611ab444695b286c06db24deeb7d0e/driver/conv_driver.hpp#L1035-L1040

And corrupted after FindForward(),
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/f10b50b844611ab444695b286c06db24deeb7d0e/driver/conv_driver.hpp#L1657-L1659

Fin

[2020-06-08 14:44] aserio commented on #226
@daniellowell, please assign someone to this blocking issue.

[2020-06-08 14:45] aserio commented on #229
@daniellowell, following up with my request.

[2020-06-08 14:47] aserio commented on #142
@daniellowell, following up with my request.

[2020-06-08 15:14] TejashShah opened #268 "lstm unit test segfault on CI"
[code]

The CI job where the failure was reported is [here](http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/dev%2Ftejashs%2Frename_hipcompiler_flag/5/pipeline/1054).

[2020-06-08 15:26] atamazov commented on #268
Yes, this happens from time to time.

Let's also add into scope of this ticket the full-blown fix of the following commit introduced in #240:
- c71697a [test_lstm] The "Forward Inference LSTM" sub-test is disabled.

[2020-06-08 15:26] atamazov commented on #268
@TejashShah let's use `>` for quoting ;)

[2020-06-08 16:41] cderb commented on #237
[miopen_benchmark.zip](https://github.com/ROCmSoftwarePlatform/MIOpen/files/4747340/miopen_benchmark.zip)
performance comparison

[2020-06-08 16:56] alexandraBara opened #270 "Tuning set for 2.6"
Needs tuning:
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/175

Existing entries for `PerformanceImplicitGemmBwdDataV4R1Xdlops` are obsoleted by #232, so all the applicable configs would need retuning.

Add entries from Tuna issue [111](https://github.com/ROCmSoftwarePlatform/Tuna/issues/111)

**use rocm-version 3.6** to build the docker.

**Tagged configs for tuning:**

- Resnet50_v1.5_Pyt

[2020-06-08 17:36] JehandadKhan commented on #237
### Performance Comparison

| Model         |  precision |  batchsize | This PR |  develop | Speed Up over develop |
|---------------|------------|------------|---------|----------|-----------------------|
| inception3    |  fp32      | 128        | 123.12  | 108.39   | 113.59%               |
| inception3    |  fp16      | 128        | 90.29   | 76.36    | 118.24%               |
| inception4

[2020-06-09 03:52] #225 closed

[2020-06-09 11:26] atamazov commented on #225
just in case -- I do not recommend using automatic closure of issues.

[2020-06-09 16:42] asroy commented on #229
@JehandadKhan please go ahead and remove these solvers, unless @zjing14, @Tejash object

I will remove the kernel part in separate PR.

[2020-06-09 18:03] atamazov opened #275 "Remove pure fp16 Winograd kernel introduced in PR #175"
Remove pure fp16 Winograd kernel introduced in PR #175. See https://github.com/AMDComputeLibraries/MLOpen/issues/1180 for explanation.

---

This is pure FP16 kernel. We are not using pure FP16 kernels. Please disable and remove.

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/175/files#r437619057_

[2020-06-09 23:50] atamazov commented on #229
@asroy PR #274 how has some dead code in RunAndMeasureSolutionBase and GetSolutionBase. Maybe some invokers are never used.

Can we make all removals in a single PR?

[2020-06-10 22:59] atamazov opened #279 "Refactor generic search code (esp. Computed container)"
Goal: To make the code easier to understand.

- [ ] Rename `IsValid()` in the ComputedContainer, https://github.com/ROCmSoftwarePlatform/MIOpen/pull/243#issuecomment-641928317
- [ ] Get rid of `IsValidPerformanceConfig()` in Solvers, https://github.com/ROCmSoftwarePlatform/MIOpen/pull/243#issuecomment-642307196

/cc @asroy

[2020-06-10 23:39] atamazov commented on #264
Thank you for detailed analysis, Kamil.

[2020-06-10 23:53] atamazov commented on #264
However the code you are pointing to looks valid. Initially, workspace_dev is set up to suit Find() needs. After Find(), the library often needs less workspace. If we give more, then we can miss a bug in the Solver (if it reports less workspace than is actually needs).

The idea is to resize workspace to match the size required for the found algorithm. This has been implemented in #171.

@zjing14,

[2020-06-11 15:07] DrizztDoUrden commented on #266
@aserio Do you have in mind any specific topic you expect comments on?

[2020-06-11 15:16] aserio commented on #266
@DrizztDoUrden, I was just adding the label  to clarify the purpose of the ticket :)

[2020-06-11 18:47] shurale-nkn commented on #264
@atamazov

 1)This code cannot guarantee that an error will be found. Buffer reallocation leads only to undefined behavior. Your new small buffer can be located in a previously released one.
Pleas check branch **WSPC_problems**. Here I reduced the size of the reallocated buffer by 2 times, and no errors related to workspace occurred.

 2)Lets do not mix _Unit testing_ with _Integration testing_.
U

[2020-06-11 20:32] atamazov commented on #266
@aserio Basically there is nothing to discuss. This is a quality issue that will be gradually resolved.

[2020-06-11 21:15] atamazov commented on #264
@shurale-nkn Thanks for feedback.

Of course. However we would like to raise probability that error will be caught.

OCL/HIP runtime can give bigger buffers than asked (but never smaller). This is not an UB. But we are getting NULL, and the most interesting question is why this happens?

This is normal. If you provide smaller buffer than needed, then you definitely step into UB. Errors are not gua

[2020-06-11 22:16] atamazov opened #282 "Refactor new Invokers (better structurize code)"
This is umbrella ticket originated from https://github.com/ROCmSoftwarePlatform/MIOpen/pull/233#discussion_r438977127. We need to identify the Invokers (Invoker Factories) that needs restructuring, open and assign relevant issues.

The expected side effect is slightly better performance of the host code.

[2020-06-11 22:32] shurale-nkn commented on #264
@atamazov

UB here is result of the testing. In one case buffer reallocated in new place with protected pages on both sides, and we have a segfault. In the other case it is the same place with a large unprotected area and no segfault  will occur.
And you can't predict which one of them will be now, because new size same or smaller. Plus memory protection works only on page size, there is no guaran

[2020-06-11 23:05] atamazov commented on #264
I don't. In this ticket I am trying to resolve the specific problem. The code in the driver looks good, but it gives nullptr instead of workspace. There is an issue somewhere. We need to identify the reason of it. Or, at least, make sure that our library is NOT the reason. Revering #172 is easy, but this is not a solution.

Other discussions are basically off-topic here.

You can find relevant inf

[2020-06-11 23:49] shurale-nkn commented on #264
@atamazov
[code]
[code]
[code]

Adding reallocation at the beginning of each Run____GpuFind() function, before Find__() call, will fix the problem.

Then you will get 3 separated  WS for each direction.
https://github.com/AMDComputeLibraries/MLOpen/pull/2341#issuecomment-570716517

But you still can't check WS calculation. Because this about segfaults, and you can't guarantee exactly where the buf

[2020-06-12 08:14] DrizztDoUrden commented on #266
To clarify the intent. My idea was to show how to do it in GEMM solver PRs, as I would have to make solvers there. But it's got postponed.

[2020-06-12 12:44] alexandraBara opened #284 "Compile on GPUless machines"
I'm looking for input on this new feature.

We want to be able to:
1. use generic_search loop to only compile(and not run) kernels on machines with no GPU.
1. use custom cache directory (something other than .cache/miopen/ ) --> through env var to specify custom cache (so we can run once per arch and specify different location so we can distinguish between architectures)
1. use env var to specify

[2020-06-12 13:16] atamazov commented on #284
Is it the only reason for customizing binary cache directory?

[2020-06-12 14:05] alexandraBara commented on #284
I believe so, but we can just not implement it and leave the regular cache location unless someone thinks of a better reason to keep both.

[2020-06-12 14:12] atamazov opened #285 "[Test][CI][gfx1030][test_soft_max] Investigate & fix soft_max failures and instabilities"
PR #240 has a workaround, commit b4d6805 [test_soft_max] Workaround for cases that often fail on Jenkins and ___always___ fail with ROCm3.3/Radeon VII.

Nevertheless, `test_soft_max` continues to often fail on jenkins, for example, see:
- http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/develop/17/pipeline/
- http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2F

[2020-06-12 14:21] atamazov commented on #284
IIRC gfx arch and num of CUs are associated with each binary-db (kern_db) record. There should be some other reason, otherwise we simply do not need this feature.

[2020-06-12 15:02] alexandraBara commented on #284
I'm not sure which feature you are referring to when you say "we simply do not need this feature"! If you are referring to the extra custom cache location, yeah we dont really need another one, we can use the default cache location as well.
If you are referring to this entire feature of GPUless compilation - we do in fact need this feature.
But i need help with the invoker stuff here - specificall

[2020-06-12 16:28] atamazov commented on #284
Of course I mean the "use custom cache directory". If it is not needed, then could you please remove this feature from the list. I really would like to help you, but I need to understand the task first.

[2020-06-12 16:32] atamazov commented on #284
Unfortunately, this is incorrect. The library needs to know the number of CUs in order to prepare Solutions (that contain build options, that depend on num of CUs)

[2020-06-12 17:15] JehandadKhan commented on #266
@DrizztDoUrden we should add all the members of the `miopen::ProblemDescription` Visitor to the `miopen::conv::ProblemDescription` before we make the transition.

[2020-06-14 17:53] zjing14 opened #290 "hipErrorSharedObjectInitFailed during tuning in Pytorch"
- hipErrorSharedObjectInitFailed during tuning in Pytorch
- Reported by http://ontrack-internal.amd.com/browse/SWDEV-240233
- Similar failure (hipErrorSharedObjectSymbolNotFound) found with resnext101
- Based on current logs, failure happens with tuning Asm kernels (both DirectConv and Winograd Asm kernels) on gfx908 in Pytorch. Cannot reproduce the failure with tuning individual config with MIOpe

[2020-06-14 18:52] atamazov commented on #290
Similar error happens in our CI from time to time. Not reproducible too.

[2020-06-15 02:11] sunway513 opened #291 "MIOpen abort when there's no /tmp folder"
I see the following crash reported when there's no "/tmp" folder in the docker container.
[code]

[2020-06-16 00:10] atamazov commented on #264
Thanks Kamil, not I see the bug in the driver. Wondering how it works now.

[2020-06-16 00:11] atamazov commented on #264
@shurale-nkn Thanks Kamil, now I see the bug in the driver. Wondering how it works...

[2020-06-16 06:02] learner321 commented on #186
I find that pre-complied kernels has been released in rocm3.5. After installed, I delete the miopen caches and config in the ~/.cache/miopen and ~/.config/miopen. I test some samples that can be found in the /opt/rocm-3.5.0/miopen/share/miopen/db/*.HIP.fdb.txt such as "64-56-56-1x1-128-56-56-32-0x0-1x1-1x1-0-NCHW-FP32-F", *.kdb also can be found in that dir.  however, after ran the test, kern_db a

[2020-06-16 15:11] aserio commented on #291
@sunway513, would you be able to assign a priority to this issue?

[2020-06-16 15:26] JehandadKhan commented on #186
@learner321 Due to size restrictions, not all configs found in *.fdb.txt files are shipped in kernel db, therefore, it is possible that even though an entry exists in the find-db it may not be shipped with a precompiled kernel.

The compile time parameter `MIOPEN_ENABLE_SQLITE_KERN_CACHE` may be used to control this feature, while running CMake. This feature is enabled by default in ROCm v3.5.0 (

[2020-06-16 15:26] #186 closed

[2020-06-17 17:33] atamazov commented on #275
By #276

[2020-06-17 17:33] #275 closed

[2020-06-17 18:00] atamazov commented on #258
Fixed by #297

[2020-06-17 18:00] #258 closed

[2020-06-17 18:04] atamazov commented on #238
This should be fixed by #296

[2020-06-17 20:59] daniellowell opened #299 "Hybrid mode with iGEMM hit detection"
Currently we have PR #178. Which has this "hybrid" behavior:
1. When running Find() MIOpen will first check the Find-Db
2. If there is a hit, then that solver will be selected for compilation and execution
3. If there is a miss, then the "normal" Find() behavior kicks in.

In order to reduce compilation time down further, we propose this tweak in the "hybrid" mode:
1. When running Find() MIOpen wi

[2020-06-17 21:21] atamazov commented on #299
That would bypass also "dynamic" HIP kernels. Do we want this?

[2020-06-17 21:27] atamazov commented on #299
Shall we see how much can we get from existing measures, -- Hybrid Find, precompiled kernels, hip-clang (which seems way faster than hcc) -- and then decide about importance of this.

[2020-06-17 23:50] daniellowell commented on #299
No, what I meant was that asm iGEMM “dynamic” kernels would run, but HIP source kernels would not be.

[2020-06-18 00:16] atamazov commented on #299
...So this would implicitly depend on how "dynamic" kernels are written. I think it is better to explicitly specify which Solutions should be skipped during Hybrid Find fallback (that leverages normal Find). This is clear design (and easy to implement).

[2020-06-18 00:32] atamazov commented on #299
[Minor side effect] This (skipping solvers during Hybrid Find fallback) may affect _potential_ Immediate mode performance. I am saying "potential" because this happens when find-db does NOT contain relevant record, so Immediate mode would by default hit its fallback (now GEMM). However Immediate mode may reveal better performance after normal Find (and after Hybrid mode) than after this modified H

[2020-06-18 01:10] carlushuang commented on #299
This mode seems also imply a **db-record-first** strategy. I think it is OK and easy to understand. If there is some _potential_ performance drop, just add them into DB?

[2020-06-18 03:06] JehandadKhan commented on #299
This might be simplified if we add dynamic iGEMM as a separate algorithm

[2020-06-18 14:15] daniellowell commented on #299
@carlushuang @JehandadKhan It might be easier if dynamic iGEMM asm kernels were a different algorithm. I'm not sure it matters if we an just filter on solvers, but perhaps it would be cleaner.

[2020-06-18 14:50] atamazov commented on #299
The notion of "algorithm" is intended for other purposes. See https://github.com/AMDComputeLibraries/MLOpen/issues/1753

[2020-06-18 16:22] atamazov commented on #299
https://github.com/ROCmSoftwarePlatform/MIOpen/issues/299#issuecomment-645692843 is updated with more or less clear proposal.

### Motivation

Q: Why we are not simply disabling the Solvers that delay the inital startup time, i.e. those that slow to build AND have narrow coverage? Why we want this "tweak"? Tweaks are not good!

A: We are delivering a package with pre-compiled kernels for the best

[2020-06-18 16:51] atamazov opened #300 "[driver] Verify all found Solutions"
Idea originated from https://github.com/ROCmSoftwarePlatform/MIOpen/pull/233#discussion_r439105412.

With verification cache enabled, this could be pretty fast.

[2020-06-18 17:12] atamazov commented on #207
Very dirty hacks, like editing generated makefiles.

It seems like hip-clang has much better performance than hcc (when compiling the host code). I think we do not need this anymore.

[2020-06-18 17:12] #207 closed

[2020-06-18 17:18] atamazov commented on #235
@daniellowell I think that we need to resolve at lest red bullets prior next release.

[2020-06-18 18:49] JehandadKhan commented on #299
I would be against anything that creates versions of any db for any purpose. This adds considerable overhead and strains procedures in place.

[2020-06-18 22:03] atamazov commented on #299
Of course :wink:

[2020-06-19 14:56] aserio commented on #226
@daniellowell, do you have an update on this issue?

[2020-06-19 14:57] aserio commented on #142
@daniellowell, following up with my request

[2020-06-22 13:25] tonysy commented on #87
@daniellowell

Hi, I run the https://github.com/facebookresearch/detectron2 , which support to install on AMD GPU, and run the training command , the network seemed to stuck, and the log is here:
[train_detectron2_log.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/4813408/train_detectron2_log.log)

The detail for MIOpen can be found in logs.

Software version:
[code]

When I press ctrl+

[2020-06-22 14:54] dagamayank commented on #87
/cc @sunway513 for ^^

[2020-06-22 16:12] sunway513 commented on #87
Hi @tonysy , it seems you have been using the ROCm3.3 based PyTorch. Can you try Detectron2 with ROCm3.5 based Pytorch build?
`docker pull rocm/pytorch:latest`
Plus, in the ROCm3.5 based docker container, you might want to enable the MIOpen hybrid find feature using the following environment variable:
`export MIOPEN_FIND_MODE=3`

[2020-06-22 16:28] tonysy commented on #87
@sunway513 Thanks for your reply. I use an HPC cluster where I have no root access. I wonder is there possible to install ROCm3.5 and build the pytorch by myself without root access requirements.

If you can share a solution for this, it would be great.

[2020-06-22 16:32] tonysy commented on #87
Or is there any possibility to solve the problem by setting some environment variables within ROCm3.3 environment. Thanks

[2020-06-22 16:37] sunway513 commented on #87
@tonysy there're two improvements in MIOpen from ROCm3.5 would help on Detectron2:
1. pre-compiled MIOpen kernels
2. Fast/Hybrid Find mode
However, none of those two were included in ROCm3.3.
Can you create a github issue on the rocm/pytorch repo? We can discuss further there on the deployment options for your use case.

https://github.com/ROCmSoftwarePlatform/pytorch

[2020-06-22 16:44] daniellowell commented on #291
@DrizztDoUrden please take a look. We should have a environment variable to be able to specify the /tmp directory to be used.
@sunway513 how are other components handling no /tmp directory? Or is it only MIOpen that uses it?

[2020-06-22 16:49] tonysy commented on #87
@sunway513  Hi, I have created an issue and looking forward to the further discussion. Thanks a lot.

[2020-06-22 16:49] sunway513 commented on #291
@daniellowell This is just a corner case, by default the OS will have /tmp folders available.
I manually delete that folder (60GB+) after hours of re-tuning to free some space. I've only seen complains from MIOpen end when the /tmp folder is missing.

[2020-06-22 17:50] atamazov commented on #291
We already have it:
[code]
See https://www.boost.org/doc/libs/1_73_0/libs/filesystem/doc/reference.html#temp_directory_path

[2020-06-23 16:00] daniellowell opened #306 "std::logic_error in SQLite deleter"
In "near" develop TOT this test on gfx900 (haven't tested other ASICS):

`bin/test_conv2d --float --cmode conv --pmode default --group-count 1 --enable-fdb 1 --batch_size 1 --input_channels 32 --output_channels 32 --spatial_dim_elements 28 28 --filter_dims 1 1 --pads_strides_dilations 0 0 1 1 2 2 --trans_output_pads 0 0`

Causes:
[code]

Partial frames in GDB:
[code]

The actual branch I used was

[2020-06-23 16:08] daniellowell commented on #306
This is a ROCm 3.5 environment. So I perhaps there is something with my environment. Let me check another machine.

[2020-06-23 20:32] daniellowell commented on #270
Winograd changes were made as well.

[2020-06-23 22:17] atamazov opened #309 "[BF16] ConvHipImplicitGemmBwdDataV1R1: Memory access faults."
Radeon VII, vanilla ROCm 3.5:

[code]

[2020-06-24 00:11] cderb opened #311 "Faulting configs (tested on gfx906 60)"
`MIOPEN_LOG_LEVEL=7 MIOPEN_DEBUG_FIND_ONLY_SOLVER=55 MIOPEN_DEBUG_CONV_GEMM=0 MIOPEN_DEBUG_CONV_FFT=0 MIOpenDriver convfp16 -F 2 --pad_h 1 --out_channels 64 --fil_w 3 --dilation_w 1 --fil_h 3 --in_h 224 --conv_stride_w 1 --group_count 1 --in_channels 64 --in_w 224 --dilation_h 1 --conv_stride_h 1 --pad_w 1 --batchsize 512 --pad_mode default --mode conv --fil_d 1 --in_d 1 --spatial_dim 2 --conv_str

[2020-06-24 00:18] TejashShah commented on #309
@atamazov Thanks for reporting the issue.

I was able to reproduce the issue on develop. One thing I am noticing here, it skipped all solvers that needs workspace, including bwddatav1r1 igemm solver.

<<
MIOpen(HIP): Info [EvaluateInvokers] **Warning: skipping solver** <ConvHipImplicitGemmBwdDataV1R1> due to no workspace provided (5971968 required)
MIOpen(HIP): Info [FindConvBwdDataAlgorithm] miop

[2020-06-24 00:42] TejashShah commented on #309
I just ran with -F 2. It tells me that segfault comes from SetTensor kernel that initializes workspace to 0 before running bwdv1r1 kernel

[code]

This is similar to what I am currently debugging for my PR #305 . I am suspecting something is going wrong in creating workspace buffer after this new invoker rearchitect. Nothing has changed on Radeon VII pertaining to bwdv1r1 kernel except moving to i

[2020-06-24 02:31] 401qingkong opened #312 "miopen Run(): popen() failed"
I run an object detection demo with pytorch . But when I train the 6th epoch , the miopen error occures just as belowing:
`terminate called after throwing an instance of 'miopen::Exception'
what():  /root/driver/MLOpen/src/exec_utils.cpp:58: miopen::exec::Run(): popen() failed
`
system:
vega20
rocm3.3
pytorch1.5

How to solve this problem? Looking forward to your reply.

[2020-06-24 13:54] tonysy commented on #48
Hi, I found though the build process of MIOpen 2.4.0 is successful. There have some issues for the test process.

When I conduct `./MIOpenDriver --version` to check the MIOpenDriver, I get the following erros:

[code]

I have searched the MIOpen repo but don't find solutions. Could you give some hints or ideas? Thanks

I use the 2.4.0 release version of MIOpen and the build command is :
[code]

[2020-06-24 14:45] asroy commented on #309
@TejashShah Can you try use -O1 instead of -O3 optimization flag? You can changenitnin src/hip/hip_build_util.cpp

Let's rule out compiler bug first

[2020-06-24 15:20] JehandadKhan commented on #311
@cderb  Please add some log and description of the behavior that occurs.

[2020-06-24 17:33] TejashShah commented on #309
@atamazov I tried on rocm3.1 using rocm/miopen-private:rocm3.1-tf1.15-dev-modified_clamp_device docker which uses hcc. It works fine.

./bin/MIOpenDriver convbfp16 -x 3 -y 3 -W 54 -H 54 -c 64 -n 8 -k 64 -p 1 -q 1 -u 1 -v 1 -l 1 -j 1 -V 1 -s 0 -F 2 -w 2 -t 1 -i 6
MIOpenDriver convbfp16 -x 3 -y 3 -W 54 -H 54 -c 64 -n 8 -k 64 -p 1 -q 1 -u 1 -v 1 -l 1 -j 1 -V 1 -s 0 -F 2 -w 2 -t 1 -i 6
MIOpen(OpenCL):

[2020-06-24 17:34] asroy commented on #309
@TejashShah You can try ```-O1``` instead of ```-O3``` flag for hip-clang, in ```src/hip/hip_build.util.cpp```

[2020-06-24 18:15] TejashShah commented on #309
Yes, it fixes the issue in rocm3.5, pointing to the hipclang compiler issue

One more thing: Although I suspected SetTensor kernel to be the cause of segfault from earlier log as it was the last in log. But this lowering of optimization is targeted only for hip kernel, not ocl kernel (SetTensor kernel). Thus, it leads me to conclude that the actual segfaul came from bwdv1r1 kernel but, for some re

[2020-06-24 21:16] atamazov commented on #238
Let's check if the current driver has this problem (and hopefully close).

[2020-06-24 21:21] atamazov commented on #264
by #296

[2020-06-24 21:21] #264 closed

[2020-06-24 21:30] atamazov commented on #309
@TejashShah

This is protection implemented in Invokers.

`ConvHipImplicitGemmBwdDataV1R1`, as shown in the issue title.

[2020-06-24 21:47] atamazov commented on #309
@TejashShah Could you please check on ROCm 3.3 with a number of BF16 configs and confirm that it is free of this problem. Thanks.

[2020-06-24 21:49] atamazov commented on #309
Most likely the program is terminated before the relevant log line is printed (console output is buffered). This is happens very often in case of fatal errors.

[2020-06-24 22:16] TejashShah commented on #309
It passed.

[2020-06-25 00:09] asroy commented on #309
@TejashShah Worth another JIRA ticket for hip-clang

[2020-06-25 11:30] atamazov commented on #311
@cderb The 1st case is most likely a duplicate of #264. Please re-test with recent develop than contains a fix (#296). WRT other cases I need logs (level 5 is enough).

[2020-06-25 11:54] atamazov commented on #311
@cderb The failing configs are huge. How much memory do they need (for buffers and for workspace) and how much memory is installed on your system (including GPU)?

Also I am not sure if all our kernels are able to work with buffers biger than 4 GiB. I guess that Solvers 55, 26, 31 are missing relevant checks. Please address this issue to solver developers.

[2020-06-25 12:22] atamazov commented on #311
However it seems like we are really touching system limits.

I tried the 1st config on my Radeon VII (16GB GPU, 16GB RAM, 32GB SWAP) with ConvBinWinogradRxS that is really capable to handle huge buffers (`MIOPEN_DEBUG_FIND_ONLY_SOLVER=ConvBinWinogradRxS  MIOPEN_DEBUG_CONV_FFT=0 MIOPEN_DEBUG_CONV_GEMM=0 ./bin/MIOpenDriver ...`):
- `conv -H 224 -W 224 -c 64 -n 512 -k 64 -x 3 -y 3 -p 1 -q 1 -F 4 -n 1

[2020-06-25 16:56] TejashShah commented on #309
@asroy Yes, I am trying to pinpoint particular instruction causing it. Apparently, rocm-debug-agent doesnt work in rocm3.5

[2020-06-25 22:47] sunway513 commented on #270
I've collected the following set of configs, please refer to the following confluence:
http://confluence.amd.com/display/MLSE/Convolution+Models+Performance+Optimization#ConvolutionModelsPerformanceOptimization-Resnet50_v1.5,Pytorch,FP16BS256
Please also check the following sections:

- Resnet50_v1.5, Pytorch, FP16 BS 256
- Resnet50_v1.5, Pytorch, FP16 BS 512
- Resnext101_32x4d, Pytorch, FP16 BS 1

[2020-06-26 16:47] daniellowell commented on #312
This is MIOpen 2.3?
Please create and post a backtrace.

[2020-06-26 17:23] atamazov commented on #312
Most likely, the reason is lack of system and/or GPU memory. See https://github.com/ROCmSoftwarePlatform/MIOpen/issues/311#issuecomment-649507661

[2020-06-26 17:26] JehandadKhan commented on #311
@atamazov  Thanks for the insights, should we check for these limits in MIOpen and filter them out or do we need to improve our available memory checking mechanism ?

[2020-06-26 17:32] atamazov commented on #311
I am not sure how this could be resolved in the library  (and whether this is possible or not). It is the user's application that allocates resources (system and GPU memory), so it is the app's responsibility to avoid over-allocation, I think.

[2020-06-26 17:49] JehandadKhan commented on #311
That means this is a bug in the driver ?

[2020-06-26 18:00] atamazov commented on #311
I wouldn't call this a "bug" :bug: , but yes, the driver could have better diagnostics.

[2020-06-26 18:02] JehandadKhan commented on #270
PR #243  would result in changes as well .

[2020-06-29 17:13] daniellowell commented on #299
@carlushuang @zjing14 What is the status of this feature?

[2020-06-29 17:16] atamazov commented on #291
comgr uses `llvm::sys::path::system_temp_directory()`, see
https://github.com/llvm/llvm-project/blob/dab859d1bf250c4d0299ac505e2a6773c56b6503/llvm/lib/Suppor/Unix/Path.inc#L1205
It tries the following temp vars, in order: `TMPDIR`, `TMP`, `TEMP`, `TEMPDIR`. If none variables defined, `/tmp` is returned. This matches the logic of `boost::temp_directory()`, under linux at least.

[2020-06-29 17:17] atamazov commented on #291
Quick test shows that both comgr and MIOpen follow the TMPDIR env var.

[2020-06-29 17:29] zjing14 commented on #299
@daniellowell I did not get a chance to take care of this PR. I will work on this PR this week. Is it urgent?

[2020-06-29 18:38] daniellowell commented on #299
Not urgent per-say, I would just like to make progress on it.

[2020-06-30 03:56] zjing14 commented on #299
At the first stage, we should separate the dynamic igemm solvers (i.e., ConvAsmImplicitGemmV4R1DynamicFwd_1x1 and ConvAsmImplicitGemmV4R1DynamicFwd) out of the regular implicit gemm algorithm into a new algorithm, called dynamicImplicitGemm.

[2020-06-30 04:05] zjing14 commented on #299
@atamazov @daniellowell Since all igemm solvers except dynamic igemm are hip-based. After splitting all dynamic igemm into a dedicated algorithm, we skip the entire igemm algorithm instead of adding an explicit attribute to all solvers.

[2020-06-30 11:13] atamazov commented on #299
Please don't. This would affect all databases.

[2020-06-30 11:14] atamazov commented on #299
Let's reach consensus prior going for implementation.

[2020-06-30 15:58] aserio commented on #235
@atamazov, will we be able to resolve the red bullets before ROCm 3.7?

[2020-06-30 16:57] aserio commented on #226
Only reproducible in Jenkins afaik

[2020-06-30 17:02] aserio commented on #142
@TejashShah will look into this issue.
This is still a high-priority issue as it can lead to UB

[2020-06-30 19:29] daniellowell commented on #270
Models | Iterations | Base Batch Size | num_gpu | Precision | 3.5-30 | Diff % | 3.6-22
-- | -- | -- | -- | -- | -- | -- | --
resnet50 | 10 | 256 | 1 | FP16 | 554.58 | -0.83% | 549.99
resnet101 | 10 | 128 | 1 | FP16 | 341.56 | -0.74% | 339.04
resnet152 | 10 | 128 | 1 | FP16 | 238.65 | -0.69% | 237.00
alexnet | 10 | 1024 | 1 | FP16 | 4273.89 | -11.32% | 3790.09
SqueezeNet | 10 | 128 | 1 | FP16 | 160

[2020-06-30 22:04] daniellowell opened #321 "CMake flag for embedded builds"
### Required:
Changes to make user-db optional.
CMake variable `-DMIOPEN_DISABLE_USERDB=1`
Reference PR #251

Changes to disable system-db:
CMake variable `-DMIOPEN_DISABLE_SYSDB`
Reference PR #329

Build statically.
CMake variable `-DBUILD_SHARED_LIBS=Off`
Reference PR #137

Disable HIP kernels.
CMake variable `-DMIOPEN_USE_HIP_KERNELS=Off`
Reference PR #283

Enable builds via COMgr.
CMake variab

[2020-06-30 23:29] atamazov commented on #321
Added COMgr specific flags.

[2020-07-01 13:53] atamazov commented on #226
@aserio Why priority changed from blocker to unknown?

[2020-07-01 13:59] aserio commented on #226
@atamazov, In both cases @daniellowell  suggested the de-escalation. In the last change (from priority_high to priority_unknown) Daniel noted that we are unable to reproduce the issue outside of Jenkins. Feel free to re-prioritize the ticket if you have some insight here!

[2020-07-01 18:20] atamazov commented on #226
I see. I am concluding that @daniellowell is thinking that the reason of our inability to reproduce these errors is "unusual" (of somewhat incorrect) Jenkins environment (that is not vanilla ROCm). This sounds reasonable. Let's assign low_priority. Eventually, after some Jenkins upgrade, we shall re-enable these tests ans see what happens.

[2020-07-01 18:21] atamazov commented on #226
If we take the above as a current hypothesis, then this is not a bug.

[2020-07-01 20:23] TejashShah commented on #309
http://ontrack-internal.amd.com/browse/SWDEV-243048

[2020-07-01 21:02] JehandadKhan commented on #306
@dlowell can you share the CMake env ?

[2020-07-02 00:19] daniellowell commented on #306
I don’t haven’t it anymore. Please ask @asroy @zjing14 @TejashShah

[2020-07-02 00:35] asroy commented on #306
I saw this issue once, but now I cannot see it anymore. But the hardware team saw it again today:

[code]
So he commented out all the code inside the ```operator()``` function of ```Sqlite``` struct, and was able to workaround the core dump issue

[2020-07-02 07:22] JehandadKhan commented on #306
@asroy Thanks for the update, I will triage it further and try to reproduce it. I believe it has something to do with Debug vs Release builds. This is not high-priority since the SQLite object only gets created once and is destroyed when the library is unloaded.

[2020-07-02 19:01] atamazov commented on #235
Red bullets resolved.

[2020-07-02 20:58] atamazov commented on #216
Basic information added. Please do not hesitate to ask specific questions.

[2020-07-03 01:25] TejashShah commented on #142
@atamazov I spent some time to understand this issue.

You are right to point out that we should disable asymmetric padding across kernels. Even if, supposedly, one writes kernel that supports asymmetric padding, how does one (frameworks) describe the problem with asymmetric padding? Our current problem description seems to assume symmetric padding with the following variables defined in ProblemDe

[2020-07-03 01:28] TejashShah commented on #142
@atamazov Essentially, I am trying to find failed (segfault/verification fail) asymmetrical configs which are currently exercised by MIOpen which would later be un-exercised once I have changed applicability to explicitly disable asymmetrical cases.

[2020-07-06 00:19] zjing14 commented on #299
Purpose a prototype with FallBackSolversContainer (PR #326). @atamazov @pfultz2 @JehandadKhan Please check if the method is OK for the "hybrid" mode

[2020-07-06 14:42] pfultz2 commented on #321
This should be fixed in HIP(as its an usage requirement for HIP static lib), MIOpen should not be adding this flag.

[2020-07-06 19:13] aserio commented on #285
@daniellowell what is the status of this ticket?

[2020-07-06 21:54] atamazov commented on #299
@zjing14 Thanks! Some [feedback](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/326#issuecomment-654483612).

[2020-07-06 22:12] atamazov commented on #299
@daniellowell I believe we need a name for this new Find mode. This is very like the Hybrid mode, but with an _optimized version of Find machinery_ -- where "inefficient" kernels are excluded, -- instead of the normal Find on the fallback path. What about ___OptimizedHybrid Find mode___?

[2020-07-06 22:18] JehandadKhan commented on #299
@atamazov I would prefer the implementation that @zjing14 has created as opposed to touching each solver to add a new attribute. Having a container as a heuristic, I believe is much simpler to maintain. @pfultz2 do you care to weigh in ?

[2020-07-06 22:20] atamazov commented on #299
@JehandadKhan

[2020-07-06 22:22] JehandadKhan commented on #299
@atamazov Fair enough, however, having a single container to change if we add new solver or remove one from the mix seems like a better design to me. This gives one source location with all the information.

[2020-07-06 22:30] ekuznetsov139 commented on #270
The database currently included with the develop build lacks good MI100

tunes for resnet50_v1.5 both fp16 and fp32, particularly for conv -F 4 modes. Manual retuning bumps the training rate from 360 image/s to 480 image/s with fp32 and from 500 to 750 with fp16 (TF).
Attaching the configs.
[resnet50.zip](https://github.com/ROCmSoftwarePlatform/MIOpen/files/4881496/resnet50.zip)

[2020-07-06 22:33] ekuznetsov139 commented on #270
[resnet50.zip](https://github.com/ROCmSoftwarePlatform/MIOpen/files/4881512/resnet50.zip)

[2020-07-06 22:42] atamazov commented on #299
Having zero containers to change is even better, right? No need to change anything when we add or remove the Solver. It is the Solver who contains all the info.

[2020-07-06 22:44] JehandadKhan commented on #299
Indeed, and finding out which container would and would not be called requires looking at all solvers.

[2020-07-06 22:57] atamazov commented on #299
Do you have performance optimization in mind?

[2020-07-07 16:41] JehandadKhan commented on #299
I don't believe either approach would differ much in performance.

[2020-07-07 19:25] rohithkrn opened #330 "FP16 Transpose3d Conv throws runtime error"
Environment: gfx908, rocm3.5

Error log:
[code]
@daniellowell

[2020-07-07 20:06] dagamayank commented on #330
/cc @aserio

[2020-07-07 20:16] #306 closed

[2020-07-08 00:35] asleepzzz commented on #330
commit 5dee7812056ca9db542e60149ae9c6137bd78a01 change these parameters ,so failed now

[2020-07-08 00:59] asleepzzz commented on #330
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/331 will fix it

[2020-07-08 19:31] JehandadKhan opened #332 "Dynamic Implicit GEMM should not have Performance Configs or RunAndMeasure methods."
The Dynamic Implicit GEMM solvers are not tunable, but still have PerformanceConfig classes as well as RunAndMeasure Methods.

This can result in unnecessary cycles spent in tuning.

[2020-07-09 18:33] daniellowell opened #336 "API to set the MIOPEN_FIND_MODE"
If we are adding more modes, we need to have a API to control this. This is a requirement for MIGraphX via @pfultz2.

The question is, where will this be tied into? Set to the handle?

[2020-07-09 19:56] JehandadKhan commented on #336
I think is a good time for the (very) long await Find 2.0

[2020-07-09 20:16] pfultz2 commented on #336
We could create an opaque object that has the find settings or use a local struct, but we will need a new API function to pass this along.

It would also be nice if we can merge `miopenConvAlgoPerf_t` and `miopenConvSolution_t`, but it looks like we screwed that one up(the field for `memory` is called `workspace_size`).

[2020-07-09 20:18] JehandadKhan commented on #336
Perhaps the same opaque object may merge immediate and non-immediate as well ?

[2020-07-09 20:46] pfultz2 commented on #336
But that will require adding v2 for immediate mode as well, which then we could switch the name.

[2020-07-09 20:49] atamazov commented on #336
Find 2.0 API and Find Modes (and other modes like this) are unrelated so far.

@pfultz2 Would you like to have a global (per library instance) Find Modes or you need capability to specify mode in each call?

[2020-07-09 20:55] atamazov commented on #336
Sure, Replacing `miopenConvAlgoPerf_t` with `miopenConvSolution_t` in Find API 2.0 calls is one of its targets. There is a short survey at https://github.com/AMDComputeLibraries/MLOpen/issues/1938 (100).

[2020-07-09 21:11] daniellowell opened #337 "Dynamic Kernels Assignments"
### Purpose
This project exists to minimize our reliance on compile time parameterization in MIOpen's source kernels. The goal isn't to sacrifice performance, but rather determine a ways of reducing the compile time overhead of the first time iteration of neural networks using MIOpen.

### Strategy
For some of these kernels the task is pretty straight forward; take the compile time parameters and

[2020-07-09 23:16] atamazov commented on #332
Wait, it looks like this is tunable. Its `GetSolution()` needs `PerformanceConfig` on input: https://github.com/ROCmSoftwarePlatform/MIOpen/blob/38d18b7716a96d229373747eeda4c1a864a349e3/src/solver/conv_asm_implicit_gemm_v4r1_dynamic.cpp#L565-L575

[2020-07-09 23:26] atamazov commented on #332
There are code quality issues (like unused boolean parameter of `GetSolution`, useless CO V3 related things, and ridiculous format of serialized `PerformanceConfig`), but I do not see why this is not tunable.

[2020-07-10 00:12] atamazov commented on #337
Because assembling is much faster than OCL/HIP compilation?

[2020-07-10 00:48] carlushuang commented on #337
Basically speaking, if source code is `.s` assembly file, only need do assembly phase. If source code is HIP/OCL, need go front-end-> IR -> back-end, compile time should be much longer. So basically convert the `static` kernel to `dynamic` kernel can already save a great lot of time, weather it is in HIP or OCL dynamic.

The decision to choose **[1] assembly-dynamic** or **[2] HIP/OCL-dynamic** I

[2020-07-10 05:57] carlushuang commented on #332
Hi @atamazov , ultimately dynamic kernel should not need tunable. When I implement this solver I just keep it compatible with the non-dynamic version of HIP igemm, and I think I need to re-factor this to avoid confusing.

[2020-07-10 15:50] JehandadKhan commented on #332
Me and @carlushuang has a chat about this and he would factor this out in a future PR once he is done with other higher priority work.

[2020-07-10 21:30] atamazov commented on #337
@carlushuang Thanks for explanations. Just in case:  AFAICS the assembly builds are ~100 times faster than HIP builds and ~15 times faster than OCL builds (you can try auto-tuning and see how many kernels fit into 3 second logging intervals). Therefore even linear transformation from HIP/OCL to ASM (without adding any "dynamism") would yield substantial acceleration. Of course, extending the cover

[2020-07-11 01:36] atamazov commented on #332
OMG indeed, `GetSolutionBase()` does not use `PerformanceConfig` to configure kernel. How can we write this :facepalm: ...

[2020-07-11 13:20] carlushuang commented on #332
@atamazov sorry for the confusing, let me take the refactor into work.

[2020-07-11 15:17] atamazov commented on #254
I think this is ROCm 3.3 specific problem unrelated to the MIOpen.

[2020-07-11 15:18] #254 closed

[2020-07-12 13:18] asleepzzz commented on #330
pr already merged

[2020-07-13 01:47] pfultz2 commented on #336
Kind of. They are somewhat unrelated but it may be necessary to have a new API function call, and if we are adding a new Find API function call we should make sure it can work with Find 2.0.

It would be best to specify it for each API call.

[2020-07-13 21:44] daniellowell commented on #330
fixed

[2020-07-13 21:44] #330 closed

[2020-07-14 13:15] atamazov commented on #142
@TejashShah

@asroy This is question for you. Do these support paddimg mode = same && even filters? Such configs hav asymmetric padding.

[2020-07-14 14:19] daniellowell commented on #336
I don't see this as a problem.

[2020-07-14 14:21] daniellowell commented on #336
I would like unify the data structures and parameters between find and immediate mode. If this requires V2 of everything that is fine.

I don't really see a use case for having FIND_MODE toggled for each layer. Is this something that would actually be useful?

[2020-07-14 15:30] pfultz2 commented on #336
But we could just use a V2 of Find if we reuse the struct for immediate mode.

But I dont see a use case for having per handle either. Its associated with the `Find` call just like `exhaustiveSearch` so it only seems to make sense to be passed to the Find function.

Also from a user perspective it makes setting the mode local to the find call. A handle could be set up in a completely different par

[2020-07-14 16:27] daniellowell commented on #291
@sunway513 is this still an issue?

[2020-07-14 17:03] sunway513 commented on #291
@daniellowell , should I try the tip of develop to test again?

[2020-07-14 17:15] daniellowell commented on #238
@TejashShah please verifiy

[2020-07-14 17:15] #199 closed

[2020-07-14 17:18] daniellowell commented on #148
I will retest this on the newer stack.

[2020-07-14 17:26] daniellowell commented on #142
Let's open a ticket for asymmetrical padding support.

[2020-07-14 17:26] daniellowell commented on #133
Closing due to inactivity.

[2020-07-14 17:26] #133 closed

[2020-07-14 17:59] TejashShah commented on #238
The test passed. I no longer see
"
MIOpen(HIP): Info [EvaluateInvokers] Skipping solver due to insufficient workspace (102760448 < 102760448)
MIOpen Error: /PublicMIOpen/src/ocl/convolutionocl.cpp:2633: Backward Data Algo cannot be executed
MIOpen Backward Weights Conv. Algorithm: 5, Solution: 50/ConvHipImplicitGemmV4R4WrWXdlops
GPU Kernel Time Backward Weights Conv. Elapsed: 13.954194 ms (average

[2020-07-14 17:59] #238 closed

[2020-07-14 19:10] JehandadKhan opened #345 "Missing Find Db Files"
Find Db files for gfx908 are not installed by MIOpen.

[2020-07-14 19:18] JehandadKhan commented on #345
I will update #340 to fix this

[2020-07-15 14:36] atamazov commented on #336
Unfortunately, it is also associated with GWSS calls.

Yes, but all Find API calls need a handle to be passed. So the user always have handle available.

I see two options:
- (A) Introduce a FindMode object. Extend API with a call to modify the object. Pass it to Find and GWSS calls.
- (B) Introduce a LibraryOptions object. Extend API with a call to modify it. Store it in the handle.

Variant (A)

[2020-07-15 22:52] atamazov commented on #291
@sunway513 The environment that does not have nether one of {`TMPDIR`, `TMP`, `TEMP`, `TEMPDIR`} variables set nor `/tmp` directory does not comply the POSIX base specification.

In other words, any, er, "normal" system should have temp directory created and it should provide apps with information where it resides.

[2020-07-15 23:10] sunway513 commented on #291
@atamazov , thanks for the info, that's fair enough. I'll close this issue then.

[2020-07-15 23:10] #291 closed

[2020-07-16 00:15] atamazov commented on #148
Input tensor requires 4 296 015 872 bytes of GPU memory (0x1 0010 0000). This means that byte offset in the input buffer exceeds 32 bits. IIRC our kernels use 32-bit offsets. Perhaps we need to add relevant checks to HIP, rocBLAS and OCL based Solvers. ASM-based Solvers already have necessary checks.

`FindConvFwdAlgorithm` begins with GEMM algo, so GEMM is the likely the first-order suspect.

[2020-07-16 00:20] atamazov commented on #142
#341 merged

[2020-07-16 00:20] #142 closed

[2020-07-16 21:31] atamazov commented on #266
@DrizztDoUrden Is it so that currently we need `Serialize` and `mloBuildConf_Key` methods from both ProblemDescriptions?

[2020-07-17 17:41] atamazov commented on #312
We do not know if this a bug of not. Most likely, not. Please see https://github.com/ROCmSoftwarePlatform/MIOpen/issues/311#issuecomment-649507661 and below.

[2020-07-20 13:58] joseprupi commented on #132
It dit work for me

[2020-07-20 16:28] JehandadKhan opened #352 "MIOpen v2.6 tuning tracker"
- [ ] add vector-load tune param to improve fp16 frwd #347
        Only FP16, Only Forward

[2020-07-21 04:49] JehandadKhan opened #353 "Bug in ConvOclBwdWrW53 isApplicable"
The `IsApplicable` method of `ConvOclBwdWrW53` does not check the direction of the context and within the `IsApplicable` method calls the GetSolution method, which throws an exception if the convolution direction is not acceptable.

Ideally, the `IsApplicable` method should check the direction of convolution and return false instead of throwing an exception.

[2020-07-21 13:49] aserio commented on #312
@atamazov, I agree that we don't know if it is our bug yet, but how else would you label this issue?

[2020-07-21 13:57] aserio commented on #345
@JehandadKhan Now that #340 has been merged, can this issue be closed?

[2020-07-21 14:00] aserio commented on #332
@carlushuang Is this issue related to an open pull request?

[2020-07-21 14:03] aserio commented on #321
@daniellowell can this issue now be closed or should we expect further PRs to address this issue?

[2020-07-21 14:03] aserio commented on #285
@daniellowell following up with my request.

[2020-07-21 14:06] aserio commented on #235
@atamazov and @alexandraBara what is the status of this issue?

[2020-07-21 14:09] aserio commented on #229
@JehandadKhan has #274 addressed this issue or are there still aspects of this issue at large?

[2020-07-21 14:35] daniellowell commented on #321
I still need to integrate rocBLAS, leaving this open in case there are any additional issues.

[2020-07-21 15:12] daniellowell commented on #353
Where else does this crop up?

[2020-07-21 15:59] JehandadKhan commented on #229
The PR has addressed the issue

[2020-07-21 15:59] #229 closed

[2020-07-21 17:02] JehandadKhan commented on #345
Resolved by #340

[2020-07-21 17:02] #345 closed

[2020-07-21 17:04] JehandadKhan commented on #353
In a few other solvers, I discovered this while enumerating solvers in `Fin`. Will update the issue with other solvers as well.

[2020-07-21 18:09] JehandadKhan commented on #353
The following solvers show as applicable in the forward direction, however, they don't raise exceptions:

* ConvAsmBwdWrW3x3
* ConvOclBwdWrW2NonTunable

[2020-07-21 22:50] kiritigowda commented on #115
Any update on this? @daniellowell @paolodalberto

[2020-07-21 22:51] kiritigowda commented on #161
@daniellowell is there a fix for this with ROCm 3.6 and above?

[2020-07-22 08:58] carlushuang commented on #332
Hi, currently no PR is dealing with this issue. But there is another PR:https://github.com/ROCmSoftwarePlatform/MIOpen/pull/272 that changes several related invokers code. I prefer that PR merged then create another PR to deal with this issue, in case of code conflict :)

[2020-07-22 17:17] pfultz2 commented on #336
I dont think we need to add it to GWSS. This is max workspace of all solvers, which should always be sufficient to run find with any mode. This also a temporary buffer only for Find.

Although, I am not against adding a new API for GWSS to support the Find modes, but I think the original API call doesn't need to be deprecated.

Well most likely it will be SearchOptions which will include FindMode

[2020-07-22 22:15] jithunnair-amd opened #356 "Enable/disable logging at runtime using C api"
Hi,
Can we explore whether we can add the ability for a user to enable/disable MIOpen logging at runtime using a C api? The current environment-variable-based approach works well for relatively short testcases, but for a long-running testcase, this can result in a lot of logging output. If we wish to focus only on a section of the workload, it'd be quite useful to be able to turn on/off logging at

[2020-07-23 22:54] atamazov commented on #312
Most likely this issue is related to an application that uses our library. The app should manage available resources (including RAM) as appropriate thus avoiding RAM starvation.

I think this is duplicate of #311. Since there is no activity of @401qingkong I am suggesting closing this.

[2020-07-23 22:57] atamazov commented on #235
@aserio I guess that the status is clearly indicated in the [topmost comment](https://github.com/ROCmSoftwarePlatform/MIOpen/issues/235#issue-622706627).

[2020-07-23 23:03] atamazov commented on #353
@JehandadKhan Could you please shed some light ___how___ could I reproduce the problem?

[2020-07-23 23:05] JehandadKhan commented on #353
@atamazov You cannot reproduce this problem using MIOpen driver since MIOpen catches exceptions occurring inside solvers and silently moves on. I discovered this using a C++ level tool that I am writing, which is specifically designed to operate on the solver level.

[2020-07-23 23:17] atamazov commented on #353
IIRC the library never tries to use WrW solvers for Forward and Backward directions. What is the sequence of miopen API calls that may lead to this? I see two options:
- Corrupt find-db
- Missing call to `miopenConvolutionGet*Solution()` prior calling `miopenConvolution*Immediate()`

In both cases throwing an exception is an appropriate behavior. What I am missing?

[2020-07-27 11:13] DrizztDoUrden commented on #266
I don't think there should be any point in time when the methods should be used from both simultaneously.

[2020-07-27 17:00] JehandadKhan commented on #353
I discovered this using C++ objects, not using the API, as follows:

[code]

Since this issue has been addressed with #354  I am closing this issue.

[2020-07-27 17:00] #353 closed

[2020-07-29 06:40] sabreshao commented on #337
May I know the average compilation time for HIP/OCL/ASM kernel? HIP 4s, OCL 600ms, ASM 40ms?

[2020-07-30 17:17] deven-amd opened #365 "3D pooling regression in TF unit tests with MIOpen from ROCm 3.7RC1"
Some of the TF unit tests are failing with the following error
[code]

The same tests work fine with older MIOpen versions (from ROCm 3.5).

output with miopen logging enabled seems to point to
[code]

but when I run that command standalone it works fine

[code]

[2020-07-30 18:32] deven-amd commented on #365
this is probably unrelated but though I  should mention it.

the following MIOpen error seems to pop up in some unit tests
[code]

does not seem to lead to any errors, but would be nice if we could prevent it from getting displayed (assuming it is not an error symptom)

[2020-07-30 21:46] ce1adon commented on #365
@deven-amd Please check if PR #366 fix the failures.

For the following issue, can you provide more info? In what circumstance does this msg pop out?

[2020-07-30 22:40] pfultz2 commented on #365
This was fixed in clang-ocl here: https://github.com/RadeonOpenCompute/clang-ocl/pull/27

[2020-07-31 20:53] deven-amd commented on #365
Applied the same change (as in PR #366) on the TF side, and all the unit test regressions are gone

[2020-08-03 13:48] aserio commented on #332
@carlushuang, As PR#272 is now merged have you returned to this issue?

[2020-08-03 13:49] aserio commented on #321
@daniellowell, have you had the opportunity to integrate rocBLAS?

[2020-08-03 13:51] aserio commented on #266
@DrizztDoUrden, would you be able to provide an update on the status of this ticket?

[2020-08-04 13:39] carlushuang commented on #332
@aserio Hi, yes let me take some time to fix this issue.

[2020-08-05 10:09] DrizztDoUrden commented on #266
What do you mean?

[2020-08-05 14:05] aserio commented on #266
@DrizztDoUrden I have two primary concerns as this is a high-priority ticket:
1. What are the steps to resolve this issue? (Especially what the the remaining steps to resolve the issue.)
2. What is the current timeline for completion?

[2020-08-05 23:56] ce1adon commented on #181
@JehandadKhan  I notice that the excel table in your comment at top is dated Apr 28. Have there been any changes to the best solver db since then?

[2020-08-06 03:06] carlushuang commented on #332
@aserio Please check https://github.com/ROCmSoftwarePlatform/MIOpen/pull/368

[2020-08-06 13:48] aserio commented on #332
@carlushuang, Thanks for the update and your quick work!

[2020-08-06 16:27] JehandadKhan commented on #181
@ce1adon Indeed, this table can certainly be updated.

[2020-08-09 12:35] DrizztDoUrden commented on #266
Steps to resolve as I see them:
1. Move every solver to the conv::ProblemDescription.
2. Remove the miopen::ConvolutionContext.

Timeline: I am not sure, kind of every other ticket I get lately is a high priority. But I'd like to get into this after Run and Measure elimination. It shouldn't require a lot of time though and the first step may be paralleled.
This is kind of blocker for a sane way of

[2020-08-10 19:55] charles-r-earp opened #372 "Support beta for ConvolutionBackward functions."
It appears that the latest version of the miopen-hip package does not support beta != 0 for ConvolutionBackwardData, ConvolutionBackwardWeights, and ConvolutionBackwardBias, (and ConvolutionForward as well?). While it is possible to work around this, this generally requires a temporary to assign the output to, and then a saxpy post op. This is particularly useful when the weights are shared or the

[2020-08-11 15:02] daniellowell commented on #365
Implemented.

[2020-08-11 15:02] #365 closed

[2020-08-11 15:03] #332 closed

[2020-08-11 15:13] daniellowell opened #373 "C API to set Find Mode"
Because we are adding additional find modes we need to add C API to be able to explicitly toggle which find mode MIOpen will use.
cc: @pfultz2 for MIGraphX requirements.

[2020-08-11 15:24] daniellowell opened #374 "Find 2.0 design"
Let's begin the planning for Find 2.0.

Some preliminary requirements:
1. Find 2.0 should unify the perf data structure of Findv1.0 and immediate mode
2. Find 2.0 should be able to accept the uint64 solver ID

[2020-08-11 16:07] daniellowell opened #375 "Precompiled kernels should contain compiled defaults"
Need to assess whether this is feasible.

Two types of defaults exist:
1. Some solver have hard-coded defaults -- one kernel for everything.
2. Others are configured at runtime using inputs (not true defaults)

Type 1 seems more feasible, type 2 might be impossible unless there is a limited set.

[2020-08-11 16:20] daniellowell opened #376 "Move databases to precompiled kernels"
The current performance database is in binary format, and it is now approaching 80MB.
There is a max limit of 100MB on GitHub, so we will need to do tricks to support it if we are to continue.
I propose moving all databases to precompiled kernels packages.

The alternative is to break up all databases along architectures to reduce individual database file sizes.

[2020-08-11 16:23] daniellowell commented on #373
I just realized I already created this one.

[2020-08-11 16:23] #373 closed

[2020-08-11 17:42] JehandadKhan commented on #376
In theory Git LFS as suggested by @ce1adon is an ideal solution, since it would allow us to bring back the pre-compiled kernels package in the repo as well (no more separate package and simpler embedded package as well). However, when we tested it for a separate repo, it needs installation of the separate package ( the git lfs package) and it would not pull down the db file automatically and you n

[2020-08-12 05:05] asroy opened #377 "FP16 xdlops regression after PR #323"
@zjing14 Somehow this PR is creating some regression in some cases (using rocm 3.5)

commit: 089f10fe8977ce90684f839fb1af17439590a8a9
[code]

commit: 14064f08046b926459ff19295e741eb222a0b553
[code]

_Originally posted by @asroy in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/323#issuecomment-672575177_

[2020-08-12 05:09] asroy commented on #377
This maybe a compiler issue (related to AccVGPR), @zjing14 please look into it and create a compiler JIRA if necessary.

[2020-08-12 16:47] daniellowell opened #378 "Heuristic mapping feature"
@carlushuang @atamazov I merged this PR #368, but I am thinking that we should discuss adding a type of tuning in these ASM-iGEMM. However, this feature would not be "tuning" as we know it, but rather a means to extract a heuristic based on how each of the ASM kernels perform when given an input.

In this scenario RunAndMeasure would just run through all the ASM kernels, overriding the existing he

[2020-08-12 21:01] zjing14 commented on #377
Yes. The regression is caused by AccVGPR allocation issue. Using M/N repeats will trigger that. Let me investigate if it is due to moving repeats from blockwise-gemm to xdlops-gemm. If yes, we can temporally keep repeats in blockwise-gemm.

[2020-08-13 00:03] carlushuang commented on #378
Hi @daniellowell . From current solver design it seems we can't have both:

1. Purely Heuristic, no RunAndMeasure
2. Heuristic mapping, need tuning

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/src/include/miopen/find_solution.hpp#L118 here by `rank<>` statically, we may go either RunAndMeasure, or just GetSolution without run.

[2020-08-13 03:43] pfultz2 commented on #376
When using git lfs, will we still be able to download the source tarballs from GH?

This makes it difficult to use MIOpen when building and installing from source as the kernels package and webserver is not publicly available nor is it easily installable.

I thought we already do that?

[2020-08-13 19:12] aserio commented on #321
Daniel reports that the rocBLAS library has been integrated.

[2020-08-13 19:12] #321 closed

[2020-08-13 22:00] atamazov commented on #336
Variant (B) from https://github.com/ROCmSoftwarePlatform/MIOpen/issues/336#issuecomment-658807139 can be used to implement #356

[2020-08-13 22:20] atamazov commented on #356
Variant (B) from https://github.com/ROCmSoftwarePlatform/MIOpen/issues/336#issuecomment-658807139 can be used to implement this.

[2020-08-14 14:46] daniellowell opened #380 "No writing to user find-db when fast-hybrid mode is enabled."
Extension of #299 (implemented in PR #326).
@atamazov Can you or @DrizztDoUrden take this task?

[2020-08-14 16:39] aserio commented on #380
@daniellowell, what priority should this issue have?

[2020-08-14 22:24] daniellowell opened #381 "ResNext3D layer selected incorrectly large WSS causing OOM failure"
ROCm 3.8 Blocking issue.

JIRA tracking issue for ResNext3D:
http://ontrack-internal.amd.com/browse/SWDEV-246350

Issue is in default hybrid mode Caffe2 model is crashing with OOM. However, in normal find mode it passes.

**Analysis**:
- Deleting the user Find-Db and running in default hybrid mode also fails with OOM.

- MIOPEN_LOG_LEVEL=6 for default hybrid mode shows 1.3GB is requested by layer:

[2020-08-14 23:24] atamazov commented on #381
Comments above show that the ___system___ find-db contains incorrect information under `256-1-14-14-3x3x3-256-1-14-14-4-1x1x1-1x1x1-1x1x1-0-NCHW-FP32-B_g256`.

[2020-08-14 23:37] atamazov commented on #381
`1387266048 / 256 = 5419008`
Something is wrong with computations related to n_groups ( = 256 ).

[2020-08-15 00:06] atamazov commented on #381
Perhaps we need to look at these changes: https://github.com/AMDComputeLibraries/MLOpen/pull/2340/files

[2020-08-15 00:20] atamazov commented on #381
@zjing14 Please have a look.

[2020-08-15 00:47] zjing14 commented on #381
The multiple of group_count is moved into miopenConvolutionBwdWeightsAlgoGEMM, but not remove the multiple * group_count outside. Will create a fix.

[2020-08-15 01:01] daniellowell commented on #381
[AMD Official Use Only - Internal Distribution Only]

Awesome thanks guys. Of course this means we have to regenerate the entire find-db.

Daniel Lowell
________________________________
From: Artem Tamazov <notifications@github.com>
Sent: Friday, August 14, 2020 7:20:14 PM
To: ROCmSoftwarePlatform/MIOpen <MIOpen@noreply.github.com>
Cc: Lowell, Daniel <Daniel.Lowell@amd.com>; Assign <assign@noreply

[2020-08-15 01:05] daniellowell commented on #381
@zjing14 Does this only affect 3D convolutions, or 2D as well?

[2020-08-15 01:15] zjing14 commented on #381
Both, probably.

[2020-08-17 12:39] atamazov commented on #381
Actually, only GEMM Backward Data needs to be regenerated, which is ~1/15 of the full regeneration. The process looks like this:
- (1) Save existing find-db
- (2) Disable all algorithms except GEMM
- (3) Run all Backward and Forward Transposed configs (ignore failures when solution is not found)
- (4) Merge resulting find-db into existing find-db saved at step (1).

I hoping that Tuna has such a c

[2020-08-17 14:40] daniellowell commented on #381
Yes, we have the ability.
In Tuna we actually scan the solvers, running them individually, then populate a database. The database is then exported in the form of Find-db, so it is straightforward from that perspective to spot correct individual solutions.

[2020-08-17 15:12] JehandadKhan commented on #376
For everything except perf db

[2020-08-17 16:12] aserio commented on #375
@daniellowell, who is in charge of this defect?

[2020-08-17 16:24] daniellowell commented on #376
Bingo.

But really I think it may be better to kick the can down there road and split up the performance database across separate architectures.

[2020-08-17 19:02] atamazov commented on #378
@daniellowell

Hmm... Do you mean exhaustive search under "RunAndMeasure"?

What is "production mode"?

I _feel_ I know the answers, but would not like to guess ;)))

[2020-08-17 21:40] JehandadKhan commented on #376
Can you please clarify a bit?

Do we want to split the DBs now and avoid storing these files separately ?
Or
Do we want to just move the file away now and not have to deal with this again and again?
Or
Both ?

[2020-08-17 22:02] atamazov commented on #372
See also https://github.com/AMDComputeLibraries/MLOpen/issues/1756

[2020-08-17 22:10] atamazov commented on #374
### Clarifications/Rationale/Plan

- [ ] (100) Find 2.0 API.
  - The main goal is interoperability between Find and Immediate modes.
  - Simplification/robustness of MIOpen code.
  - [x] (100.1) Find-db: Change structure to better suit Immediate mode
    - Why: Currently find-db "mirrors" requirements imposed by Find 1.0 API. It is able to hold only one set of metrics per algorithm; if more than o

[2020-08-17 22:45] atamazov commented on #378
@carlushuang

When perf-db has relevant record, the library works as if:
[code]
Otherwise, the library takes Solution from:
[code]
In other words, the solver builds the "default" performance-config from the problem-config. It is the `GetPerformanceConfig(ProblemDescription&)` method that does this. ___It may perform whatever heuristic we want.___

See `FindSolutionImpl(rank<1>...)` at line 42 and

[2020-08-18 13:15] atamazov commented on #380
@daniellowell Let's reach consensus first.

The idea of "Fast" Find modes is pretty simple: re-use existing code to accelerate Find. The Fast Find mode re-uses existing Immediate mode machinery. The Hybrid mode combines existing Immediate and Find mechanisms (and that is why it is named "Hybrid"); in case of find-db hit we use Immediate mode machinery, in the case of find-db miss we use existing F

[2020-08-18 16:46] atamazov commented on #381
https://github.com/ROCmSoftwarePlatform/MIOpen/issues/381#issuecomment-674856752 updated.

[2020-08-18 19:55] atamazov opened #387 "Post-merge review(s) of PR #347"
This is to be closed once all comments mentioned below are resolved.

- [x] https://github.com/ROCmSoftwarePlatform/MIOpen/pull/347#pullrequestreview-469461853

/cc reviewers of #347 -- @daniellowell @asroy @zjing14 @carlushuang @TejashShah

[2020-08-18 19:59] atamazov opened #388 "Make ConvolutionContext accessible in SetNextValue()"
It seems like missing access to `ConvolutionContext` enforces us to use weird designs. However `ComputedContainer` is intended to ease the code (and the life of Solvers' developers).

We shall make `ConvolutionContext` accessible in `SetNextValue()`. This requires a refactoring of the library and thus worths a separate PR.

----
/cc @shurale-nkn @asroy @ce1adon @zjing14 @daniellowell @jane-zxy

_O

[2020-08-18 20:08] atamazov commented on #375
@aserio All of us. This is not a defect, this is RFC.

[2020-08-18 20:13] atamazov commented on #375
@daniellowell I do not understand the issue. Some solvers use kernels that depend on the problem. Some other use kernels that irrelevant to the problem. Nevertheless all these kernels reside in the binary cache. Each kernel is stored only once. What potential issue do you have in mind?

[2020-08-18 20:37] atamazov commented on #377
[Side note] @asroy As the main product of the library (after correctness) is _performance_, I would say that any performance regression this is a bug. Of course, correctness bugs usually should have higher priority assigned (than performance bugs), and we have a set of `priority` labels for that.

However the term `bug` usually understood as a correctness problem. Perhaps that if why you've used t

[2020-08-18 20:49] atamazov commented on #377
@asroy @zjing14 Let's track SWDEV-241664. If it is decided that the problem is in the compiler, then we'll need to rework the code introduced in #379. We'll need to use version detection machinery to disable the workaround as soon as fixed compiler arrives. Am I correct?

[2020-08-18 21:35] daniellowell commented on #381
Implemented.

[2020-08-18 21:35] #381 closed

[2020-08-18 21:42] daniellowell commented on #380
I agree we shouldn't pile up technical debt for such a thing.
The overall goal is to have the compile time drop drastically for MIOpen generally, but for unseen (therefore untuned) configs specifically. If we can refactor MIOpen to use this hybrid-find mode with a clean design then I think we should do so.
We have 2 domains of MIOpen tuned known configs and untuned unknown configs. If it untuned a

[2020-08-18 21:44] daniellowell commented on #375
Defaults do not reside in the precompiled kernel package right now. The goal is to reuse kernels instead of compiling them for each layer. If there is tuned entry then it uses the default so, why bother compiling it repeatedly? The only ones that are a problem are the solvers that configure defaults based on inputs. Nothing to be done about those.

[2020-08-18 21:46] daniellowell commented on #376
Split the performance database miopen.db across architectures.
We will have to revisit this again, but the complexity of moving the db to the precompiled kernels seems not fantastic....

[2020-08-19 10:02] learner321 opened #390 "Memory access fault by GPU when MIOPEN_FIND_ENFORCE=3 for CBAInfer"
When set MIOPEN_FIND_ENFORCE=3 for CBAInfer for all searching, I got the "Memory access fault by GPU" message.

- command: `MIOPEN_FIND_ENFORCE=3 /opt/rocm/miopen/bin/MIOpenDriver CBAInfer -c 3 -H 48 -W 48 -y 3 -x 3`
- ROCm Version: 3.5.0/3.3.0
- MIOpen Version: 2.4.0/2.3.0

<details><summary><b><i>ROCm 3.3 log</i></b></summary>

[code]
</details>

[2020-08-19 21:27] daniellowell commented on #378
Production mode would be MIOpen that is tuned up and being run in a regular training session.

[2020-08-20 13:59] atamazov commented on #380
This is a new idea that worth separate ticket.

[2020-08-20 14:12] atamazov opened #392 "Extend FastHybrid mode -- exclude tunable solutions."
Extension of #299.

@daniellowell, originated from https://github.com/ROCmSoftwarePlatform/MIOpen/issues/380#issuecomment-675734858:

Note that not all tunable Solutions show bad performance. We have some Solvers that have advanced logic that produce good default PerformanceConfigs. IIRC legacy OCL Solutions are of this kind. So I think the design should allow us to specify which tunable Solutions

[2020-08-20 22:39] atamazov commented on #375
@daniellowell Hmm... Please confirm that I am understanding you correctly:
- (1) "default" is a kernel that was compiled with the default PerformanceConfig
- (2) You would like to add such kernels to the precompiled kernel package
- (3) This ticket is related to the tunable Solvers only.

[2020-08-20 22:47] atamazov commented on #390
Thanks for reporting. Please do not use `MIOPEN_FIND_ENFORCE` with fusions for now. How important is it for you?

[2020-08-21 05:10] XiuYuLi opened #393 "> ...the same accuracy as GEMM..."
Hmm... Do you mean GEMM or Implicit GEMM (iGEMM)?

Yes, direct method also

Have you carefully checked that cellfft works properly in these cases, especially for Forward and Backward directions?

Yes, we checked, even in these cases, the accuracy of most elements is still <1e-6(the driver result display *e-8), the accuracy > 1e-5(driver display result *e-7)  occurs when the tile of 32x32 is select

[2020-08-21 05:10] #393 closed

[2020-08-21 06:24] learner321 commented on #390
I am using the AMDMIGraphx tools to do some detection inferencing. So I want to use the `MIOPEN_FIND_ENFORCE` mode to get the best performance for some OP or kernels. So if other kernels still do the exhaustive searching, except the CBAInfer, how to do to achive that. Thank you :)

[2020-08-23 16:55] atamazov commented on #392
Please note that:
- Right now the library does NOT read perf-db during GWSS calls. That was done for optimization purposes (see https://github.com/AMDComputeLibraries/MLOpen/pull/1930).
  - [Informative] This is possible because required workspace size does not depend on perf-config. This limitation is implied by Find API (let me omitt detailed explanations here).
- Therefore, during GWSS calls, w

[2020-08-23 21:02] atamazov commented on #392
The implementation is ready for testing with frameworks. I have smoke tested it and get promising results.

[2020-08-24 16:59] daniellowell commented on #337
@sabreshao The initial push for this is to support mask-rcnn and retinanet type networks.

[2020-08-24 20:33] JehandadKhan opened #398 "Initial Iteration Time: Overall Plan"
This issue describes the initial ideas for the overall plan and opens it for discussion. While issue #337 explains some of the details, however, it is more focused on assigning dynamic kernels to developers and lacks the overall picture.

## Primary Challenge

The primary issue facing MIOpen right now is that the cost of compiling and searching for the optimum algorithm far outweighs the benefits

[2020-08-24 21:30] daniellowell opened #399 "Precompiled Headers Embedded into MIOpen static build"
Requirements:
- Cmake flag to allow developers to precompile hip headers @shaojiewang
- Precompile hip headers (PCH) @shaojiewang
- Embed PCH @JehandadKhan
- Have COMgr use PCH to compile hip kernels @atamazov

This one requires a bit of a team effort.

[2020-08-25 22:16] asroy commented on #398
We can implement Col2Im and Im2Col using dynamic composable kernels, once it is implemented. Converting the OCL kernel will be throw-away work.

Non-convolution operations can also be written using dynamic composable kernels.

We can have dynamic HIP kernels for following operations in ROCm 3.10 time frame: iGEMM, Im2Col, Col2Im. I'm not sure if it's possible to have dynamic HIP kernels for batch-

[2020-08-26 15:59] atamazov commented on #398
Thank you Jehandad, for very detailed and informative analysis. Some feedback to "**Proposal for Convolution Operations**":

[Informative] Exactly. And IIRC this is already one of our current goals for Embedded. It is very good that we reuse existing machinery for the new features.

Yes. Unfortunately, that would require some modification of the mechanisms that collect pre-compiled binary cache. W

[2020-08-26 15:59] atamazov commented on #398
This is a bit questionable. It is so that currently known networks (Mask-RCNN, retina-net...) vary only N, H and W? Even if this is so right now, the future networks may vary more parameters.

[2020-08-27 15:17] JehandadKhan commented on #398
Your assessment is correct, the comment was only meant to highlight the fact that N, H and W have a higher priority when converting parameters from static to dynamic.

[2020-08-27 18:25] aserio commented on #266
@DrizztDoUrden have you been able to return to this issue?

[2020-08-27 18:27] aserio commented on #376
@daniellowell shall I mark this as on hold?

[2020-08-27 18:30] aserio commented on #387
@atamazov, should we close this issue as #347 has been merged?

[2020-08-27 21:37] atamazov commented on #378
@daniellowell It seems like I've understood the idea.

We have some Solvers that can perform auto-tuning very quicky (in 1-3 seconds). Basically, those that are written in assembly language and have a small number of possible PerformanceConfigs. If auto-tuning is expected to provide significant performance gain, then it may be worth running auto-tuning automatically, when Normal Find is performed

[2020-08-27 21:45] atamazov commented on #390
@learner321 Does the workaround proposed at https://github.com/ROCmSoftwarePlatform/MIOpen/issues/390#issuecomment-678531231 work for you?

[2020-08-27 22:58] atamazov commented on #387
@aserio Just the opposite.

[2020-08-28 02:01] learner321 commented on #390
@atamazov Yes, it worked for this case. Thanks. But whether I set `MIOPEN_FIND_ENFORCE` default or 3,  the performance is almost same.

[2020-08-28 19:53] asroy commented on #377
@atamazov I believe this issue will be fixed by #403. @zjing14 Can you confirm?

[2020-08-28 20:36] zjing14 commented on #377
This should be already workaround in develop. Of course #403 can resolve
the problem fundamentally.

On Fri, Aug 28, 2020 at 2:53 PM Chao Liu <notifications@github.com> wrote:

[2020-08-28 22:06] aserio commented on #387
@atamazov, Ah! Skimmed through to fast!

[2020-08-28 22:39] atamazov commented on #390
@learner321 I looked at your use case more carefully. Well, only 1x1 fusions are tunable, but your case is 3x3.

For 3x3 we have very fast assembly-written Winograd kernels, but these work only when `(C >= 18) && (C %2 == 0)`. IIRC the OpenCL kernel is selected otherwise (`MIOpenConvDirBatchNormActiv.cl`). It is not that fast and not tunable.

Perhaps the fusions are not the best choice for your u

[2020-08-28 23:07] atamazov commented on #377
Good news, thanks.

[2020-08-28 23:49] atamazov opened #406 "Implement workaround for correctness problems in ConvHipImplicitGemmV4R4GenWrWXdlops"
The workaround should make the solver non-applicable for the cases described at https://github.com/AMDComputeLibraries/MLOpen/issues/2532#issuecomment-682304119. This could be done quickly and would ensure correctness in case of delaying the delivery of the new bwd-wrw xdlops kernel mentioned at https://github.com/AMDComputeLibraries/MLOpen/issues/2532#issuecomment-683137628.

[2020-08-29 11:02] learner321 commented on #390
ok, I see. I'll change some other paramters to try. And yes, 3 for c is not a good choice for the performance.

[2020-08-29 18:30] ce1adon opened #407 "Failure in ConvOclBwdWrW2<1>"
A replicable failure has been observed in kernel ConvOclBwdWrW2<1>.

See:
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/139#issuecomment-678445039

Please evaluate it.

[2020-08-30 21:35] perestoronin opened #408 "ld error due to dublicated symbol boost::spirit::utree boost::spirit::function_impl_invert::eval<bool>(bool const&) in md_graph.cpp and mdg_expr.cpp"
Version MIOpen 3.7.0 compile from ebuild for Gentoo https://github.com/justxi/rocm/blob/master/sci-libs/miopen/miopen-3.7.0.ebuild

`/usr/lib/gcc/x86_64-pc-linux-gnu/10.2.0/../../../../x86_64-pc-linux-gnu/bin/ld: CMakeFiles/MIOpen.dir/mdg_expr.cpp.o: в функции «boost::spirit::utree boost::spirit::function_impl_invert::eval<bool>(bool const&)»:
mdg_expr.cpp:(.text+0x0): повторное определение «boost

[2020-08-30 23:07] perestoronin commented on #408
error in boost 1.74.0 https://github.com/boostorg/spirit/commit/36f8e09cfd112840085472627a6f2b9e11ff5739#diff-316724f0e450faeac4f414af9c8b17bd

[2020-08-30 23:07] #408 closed

[2020-08-31 14:23] atamazov commented on #407
Thanks for opening the issue. But it works for me on Radeon VII, ROCm 3.5. How can I reproduce it? Should I use different ROCm or GPU?

[2020-08-31 15:10] asroy commented on #406
@ltqin has test new bwd-wrw on these cases and they passed.

@zjing14 Please create workaround to disable the configs for ConvHipImplicitGemmV4R4GenWrWXdlops for now. The workaround doesn't need to be very accurate because ConvHipImplicitGemmV4R4GenWrWXdlops will be deprecated once new kernel is merged in.

[2020-08-31 15:22] zjing14 commented on #406
@asroy Based on the investigation from @ekuznetsov139, the issue is related to BBlockCopySrcDataPerRead > 1. As the kernel will be deprecated, we can force BBlockCopySrcDataPerRead = 1, though it degrades performance.

[2020-08-31 15:27] atamazov commented on #406
This looks acceptable, but may lead to worse perf pregressions than if we make the solver non-applicable.

[2020-08-31 15:30] zjing14 commented on #406
Yes. But other kernels without xdlops and atomic support won't perform well anyway.

[2020-08-31 15:49] atamazov commented on #406
If `ConvHipImplicitGemmV4R4GenWrWXdlops` may win over all other kernels even with enforced `BBlockCopySrcDataPerRead = 1`, then I was wrong, and narrowing applicability is not the best choice for the workaround ;)

[2020-08-31 15:52] zjing14 commented on #406
I can do tests after enforcing BBlockCopySrcDataPerRead = 1 to see if ConvHipImplicitGemmV4R4GenWrWXdlops still outperform other kernels.

[2020-08-31 17:44] ce1adon commented on #407
Sure. Details sent.

[2020-08-31 19:25] atamazov opened #410 "Initial Interation Time: Convolutions / Immediate Mode: Fallback improvements using GetWti()"
According to analysis at https://github.com/ROCmSoftwarePlatform/MIOpen/issues/398#issuecomment-680970315, we can use existing Fast Find mode. However, Immediate Mode Fallback path needs to be improved for this purpose:

- (10) Beef up Immediate Mode Fallback with Solvers that provide Dynamic kernels ("Dynamic Solvers"). The minimum requirements for these Solvers _[originated from #398]_:
  - (10.

[2020-08-31 19:31] atamazov commented on #410
## TODO

[2020-08-31 20:05] atamazov commented on #407
Moved to https://github.com/AMDComputeLibraries/MLOpen/issues/2534

[2020-08-31 20:05] #407 closed

[2020-08-31 20:54] alexandraBara opened #411 "ConvBinWinogradRxSf2x3 bug"
Found Winograd failing in Generic search during tuning:
[code]

Here is a sample:
[code]

@atamazov  can you please add IIya and Kamil to this issue, i dont know their github usernames

[2020-08-31 21:26] daniellowell commented on #411
I've seen a similar issue (probably side effect from this issue) [here](http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/zyin-layouts/19/pipeline):
[code]

[2020-08-31 21:32] daniellowell commented on #410
AFAIK from our data the tolerance for even 1 compile is pretty low. The kernel should already be loadable and our heuristics / model should just be a selector.

[2020-08-31 21:43] daniellowell commented on #410
Keep in mind, what we do with Find, is "hopefully" just a bridge to a better API implementation. There are still a lot of good features in immediate mode, so we still need a plan to have this all work with immediate mode. Additionally, Find 2.0 is still on the books to be implemented.

[2020-08-31 22:27] atamazov commented on #411
@DrizztDoUrden Please have a glance at these error messages. Anything that looks familiar?

[2020-08-31 22:33] DrizztDoUrden commented on #411
Not familiar to me. I may have messed up with something in the generic search, though. But I won't bet on that without further investigation if it is only Winograd related. And the message looks like it is from develop. I'll check tomorrow.

[2020-08-31 22:45] atamazov commented on #410
We already discussed that (on the meeting) and IIRC agreed that it is not physically possible to pre-compile all the dynamic kernels that comply the minimal requirements (dynamic N, H, W, see (10.10). From the other hand, spending a minute for compiling some dozen of kernels per a network (that runs hours) should be okay.

Similarly, spending ~5 sec for tuning a dynamic kernel (that would work in

[2020-08-31 22:47] atamazov commented on #410
Of course, I remember all my proposals, including this one ;)

[2020-09-01 00:25] daniellowell commented on #411
AFAWK this is the only solver that is affected: `ConvBinWinogradRxSf2x3`

[2020-09-01 01:09] daniellowell commented on #410
If by this you mean that this happens online, then I completely disagree. End users will not know how to do this and MIOpen will never know the difference between ResNet50 versus Mask-RCNN.

[2020-09-01 01:30] daniellowell commented on #410
Each developer must create `GetWti(ConvolutionContext&)` so that give any input we can calculate their relative score on that input? I have my doubts...but let's see.
Personally, I still would rather have a data driven classifier.

[2020-09-01 08:25] DrizztDoUrden commented on #411
Does it happen on develop or on branch based from invokers auto-tune?

[2020-09-01 12:18] alexandraBara commented on #411
It's in develop

[2020-09-01 14:47] atamazov commented on #410
We need `GetWti()` for Dynamic kernels only. Also we do not need WTI for any input right away. I would advise developers to begin with something that is easy to calculate (and return `wti_unknown` (-2.0) for the rest). Later we can extend an applicable domain of `GetWti()`.

[2020-09-01 14:50] DrizztDoUrden commented on #411
Then I am not sure what causes it, but it may be fixed in my branch due to the removal of almost all buffer mangling in the generic search.

[2020-09-01 14:57] daniellowell commented on #410
I'm concerned, or rather confused, that without a WTI based on inputs it will be functionally useless.

[2020-09-01 15:45] alexandraBara commented on #411
On MI100 i see this error on more than just the Winograd solver:

 INFO - MIOpen(HIP): Error [FindSolutionImpl] Search failed for: ConvBinWinogradRxSf2x3: /root/dMIOpen/src/include/miopen/generic_search.hpp:408: GenericSearch: top_ocl_ptr == nullptr || bot_ocl_ptr == nullptr || wei_ocl_ptr == nullptr
 INFO - MIOpen(HIP): Error [FindSolutionImpl] Search failed for: ConvBinWinogradRxSf2x3: /root/dMI

[2020-09-01 17:06] zjing14 opened #412 "Compiling failure XdlopsBackwardData for fp16"
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-09-02 14:36] jerryyin opened #414 "ctest race condition when using with --verbose option"
The symptom looks like the failure in [this](http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/zyin-layouts/23/pipeline/15/) CI log. Both `Fiji GCC Debug` and `Clang Debug` failed with 5 test failing in total:

Failure signatures varies quite a lot, ranging from indexing error to corrupted descriptor memory. See the CI log for details.

This is a race condition because no

[2020-09-02 14:57] daniellowell commented on #411
@DrizztDoUrden Any progress here? @shurale-nkn Can you take a look as well?

[2020-09-02 15:05] daniellowell commented on #410
@atamazov @JehandadKhan @DrizztDoUrden Since the heuristic implementation is a bit more experimental, and we have a couple of different approaches, I propose we implement this in two phases. First get the PR merge that implements the reduced set of solvers so that we have the dynamic Find. Find would benchmark the remaining solvers, or implement a crude selection process (rather the former than th

[2020-09-02 15:59] shurale-nkn commented on #411
@daniellowell
Yes, I'm already working on it.

I think this is a driver error, not solver.

In my tests this error is printed, but  execution continues and the winograd 'ConvBinWinogradRxSf2x3' was tuned later.

[code]

[2020-09-02 21:39] atamazov commented on #411
[off-topic] The following construct can be used to collapse long logs on github pages:
[code]

[2020-09-02 23:23] atamazov commented on #411
Together with Kamil we have managed to find the error. Please expect the fix tomorrow morning.

[2020-09-03 10:58] t-vi commented on #398
Thank you for working on this!

I wonder if for BatchNorm a relatively simple HIP kernel might work. A long time ago I improved and benchmarked the PyTorch BN kernel and it seemed to have good performance for FP32.

Another architecture that suffers tremendously from this problem is FastSpeech (e.g. https://github.com/ming024/FastSpeech2/), a TTS system.

In my experience, I would tend to think th

[2020-09-03 18:33] atamazov commented on #410
@daniellowell I would like to dedicate this ticket to the details of the "Immediate Mode Fallback / GetWti" approach. "Immediate Mode Fallback / MLP" details worth another ticket.

This looks like another Find mode (Dynamic Find?) -- an idea that worth different ticket, right?

Could you please move [this (quite valid) comment](https://github.com/ROCmSoftwarePlatform/MIOpen/issues/410#issuecomment

[2020-09-03 21:18] asroy commented on #412
we should deprecate this solver/kernel, because we would use following instead:
```ConvHipImplicitGemmBwdDataV1R1Xdlops```
```gridwise_convolution_backward_data_implicit_gemm_v1r1_xdlops_nchw_kcyx_nkhw.cpp```

[2020-09-03 22:05] atamazov commented on #412
Good news. Just in case -- if we need to quickly disable it, then changing the default value of respective env variable will do the job ( `IsDisabled()` -> `!IsEnabled()`).

[2020-09-04 01:47] aserio commented on #406
@zjing14, can this issue be closed as your PR has been merged?

[2020-09-04 02:03] zjing14 commented on #406
@aserio My PR does not fix this issue. We are waiting for this PR https://github.com/ROCmSoftwarePlatform/MIOpen/pull/413.

[2020-09-04 12:05] atamazov commented on #406
@zjing14 This blocker issue is dedicated to the workaround and now should be closed. It is the https://github.com/AMDComputeLibraries/MLOpen/issues/2532 issue that is of high priority and needs #413.

[2020-09-04 12:05] #406 closed

[2020-09-04 15:11] atamazov commented on #398
_On behalf of @daniellowell_

## Phased implementation for convolutions

Since the heuristic implementation is a bit more experimental, and we have a couple of different approaches, I propose we implement this in two phases.
- First get the PR merge that implements the reduced set of solvers so that we have the dynamic Find. Find would benchmark the remaining solvers, or implement a crude selectio

[2020-09-05 19:46] shurale-nkn opened #418 "[gemm_v2.cpp] dummy_memset may corrupt input data"
In some cases, GEMM may corrupt input data.

This happens if one of the matrices A or B has the same pointer with matrix C. (in some cases the matrixes is located in the same buffer but with different offsets)
But the dummy_memset function does not contain an offset variable in the arguments. And it fills the memory, starting with mem, with zeros.
https://github.com/ROCmSoftwarePlatform/MIOpen/blo

[2020-09-07 15:59] atamazov commented on #418
@shurale-nkn We need to evaluate importance of this. Does it lead to any harm (correctness problems)? In which cases?

[2020-09-08 16:38] aserio commented on #410
This is a blocker for ROCm 4.0

[2020-09-08 18:51] aserio commented on #399
@shaojiewang, @JehandadKhan, @atamazov, @anghostcici: What is the status of each of your contributions?
cc: @sabreshao

[2020-09-08 18:53] aserio commented on #387
@jane-zxy What is the status of these post-merge reviews?

[2020-09-08 18:54] aserio commented on #376
@daniellowell shall I mark this as on hold?

[2020-09-08 18:56] aserio commented on #375
@daniellowell what is the status of this request?

[2020-09-08 20:58] JehandadKhan commented on #399
This is completed

[2020-09-10 15:17] JehandadKhan commented on #375
@aserio This feature would be enabled by integrating fin into Tuna.

[2020-09-10 15:43] daniellowell commented on #411
Looks like this issue is not fixed.

[2020-09-10 15:53] alexandraBara commented on #411
I am still seeing this issue in develop today, here is a log: looks like the same issue

<details><summary><b><i>LOG</i></b></summary><hr>

Executing: sudo docker run --device='/dev/kfd' --device='/dev/dri' -w /home/miopenpdb -v /home/miopenpdb:/home/miopenpdb --user=root --group-add video --privileged=true --rm miopentuna bash  -c "export MIOPEN_LOG_LEVEL=7 && export MIOPEN_FIND_ENFORCE=3 && expo

[2020-09-10 23:06] atamazov opened #426 "Post-merge review of #423"
- [x] https://github.com/ROCmSoftwarePlatform/MIOpen/pull/423#discussion_r486680472

[2020-09-10 23:16] atamazov commented on #375
BTW I still do not fully understand what we want. This is suspicious. Can someone please explain?

[2020-09-11 00:13] #411 closed

[2020-09-11 07:08] sabreshao commented on #399
@aserio Gupta Maneesh's team is working on implement the hip_embed_pch.sh for generating PCH object file and embed it. See SWDEV-249870 for more information.

[2020-09-11 15:05] alexandraBara opened #427 "Solver generic_search fail: ConvHipImplicitGemmBwdDataV1R1Xdlops and ConvHipImplicitGemmForwardV4R4Xdlops"
After this issue https://github.com/ROCmSoftwarePlatform/MIOpen/issues/411 was solved i pulled in the changes and ran tuning again.
Ran into another issue that seems to be generic_search failing for 2 solvers. I will attach logs bellow

[2020-09-11 15:06] alexandraBara commented on #427
<details><summary><b><i>ConvHipImplicitGemmBwdDataV1R1Xdlops</i></b></summary><hr>

INFO - Executing: sudo docker run --device='/dev/kfd' --device='/dev/dri' -w /home/miopenpdb -v /home/miopenpdb:/home/miopenpdb --user=root --group-add video --privileged=true --rm miopentuna bash  -c "export MIOPEN_LOG_LEVEL=7 && export MIOPEN_FIND_ENFORCE=3 && export HIP_VISIBLE_DEVICES=7 && MIOpenDriver conv -V

[2020-09-11 15:07] alexandraBara commented on #427
<details><summary><b><i>ConvHipImplicitGemmForwardV4R4Xdlops</i></b></summary><hr>

 INFO - Executing: sudo docker run --device='/dev/kfd' --device='/dev/dri' -w /home/miopenpdb -v /home/miopenpdb:/home/miopenpdb --user=root --group-add video --privileged=true --rm miopentuna bash  -c "export MIOPEN_LOG_LEVEL=7 && export MIOPEN_FIND_ENFORCE=3 && export HIP_VISIBLE_DEVICES=7 && MIOpenDriver convfp1

[2020-09-11 15:37] atamazov commented on #427
Both failures relate to the ComputedContainer of PerformanceConfigs. In both cases the following occurs in the log:
[code]
This means that the main ComputedContainer is empty. In other words, the Solver has is unable to provide GenericSearch with a set of valid PerformanceConfigs for tuning.

Please note that #387 is not yet resolved.

[2020-09-11 16:39] JehandadKhan opened #428 "MLP based heuristic for dynamic solvers to replace find step"
Mentioned at https://github.com/ROCmSoftwarePlatform/MIOpen/issues/398#issuecomment-687210054

[2020-09-11 16:41] JehandadKhan opened #429 "Call stack evaluation for host bottleneck evaluation"

[2020-09-11 16:43] JehandadKhan opened #430 "Tune GEMMs"
Explore if we can tune GEMMs to improve fall perf

[2020-09-13 22:33] JehandadKhan opened #433 "Cached User Db"
From [previous issue](https://github.com/AMDComputeLibraries/MLOpen/issues/1723)

However, I dont believe we need a write back to the disk since looking forward that has no value and increases the code complexity.
Further details may be discussed here.

[2020-09-14 19:55] atamazov commented on #433
Thanks for opening the discussion.

Formally speaking, we need this to fully implement find-db as a cache of Find. The current implementation lacks one of the most important cache characteristics, namely speed. As a result, when the User find-db is big, the performance of Hybrid Find (which is the default now), Fast Find and Immediate Mode suffer. The library spends dozens of ms only to discover f

[2020-09-15 07:08] oleid opened #436 "Memory exception on virtual address 0x7f863d000, node id 1 : Page not present"
It would seem I'm having trouble with MIOpen in Tensorflow on my R470 GPU. I'm using ArchLinux, rocm-3.7 and kernel 5.8 (mainline).

Although I'm using the rocm port of tensorflow, this looks like a miopen-problem to me.

Here a short excerpt of the messages:

[code]

I'm seeing messages like the following via dmesg:

[code]

I have a self-contained example to reproduce the problem (with bigger co

[2020-09-15 07:22] oleid commented on #436
This, by the way, seems not to have anything to do with ArchLinux. I get the same result with the minimal example in the docker-ed version of rocm3.7:

[2020-09-15-minimal-docker.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5223096/2020-09-15-minimal-docker.txt)

[2020-09-15 07:41] oleid commented on #436
It would seem using the official ROCm-3.7 kernel module (with Linux-5.4) doesn't change anything:

[2020-09-15-minimal-linux_lts+rocm-37_kernel_mod.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5223202/2020-09-15-minimal-linux_lts%2Brocm-37_kernel_mod.txt)

[2020-09-16 02:15] zjing14 opened #437 "ConvHipImplicitGemmV4R1WrW failure on MI60"
I can reproduce failures on both rocm 3.5 and 3.7 with "-O3" and "-O1". Thus, the failures are unlikely due to the compiler.

[code]

[code]

[2020-09-19 22:29] ce1adon opened #449 "Failure in ConvOclBwdWrW53 in GCC release all test"
The failure has been observed twice in GCC release all test and initially reported here https://github.com/ROCmSoftwarePlatform/MIOpen/pull/139#issuecomment-695349605
[code]

It blocks the test of PR #139 .

[2020-09-21 17:13] ce1adon commented on #449
Remove priority blocker tag since the issue is gone after #435

[2020-09-22 16:18] aserio commented on #449
@ce1adon, should we keep this issue open if the bug is no longer observed?

[2020-09-22 16:19] aserio commented on #437
@zjing14, As your PR is merged can this issue be closed?

[2020-09-22 16:27] aserio commented on #426
@atamazov, @daniellowell What is the status of this post-merge review?

[2020-09-22 16:29] aserio commented on #412
@zjing14 and @asroy, what is the status of this issue?

[2020-09-22 16:30] aserio commented on #387
@jane-zxy What is the status of these post-merge reviews?

[2020-09-22 16:48] ce1adon commented on #449
@aserio Yes

[2020-09-22 16:56] aserio commented on #410
Proof of concept for Winograd kernels are looking good. @atamazov to look into integrating this feature with the broader library

[2020-09-22 16:57] aserio commented on #399
Still waiting for pre-compiled header resolution. #452 should solve the issue.

[2020-09-22 16:59] aserio commented on #380
Part of the requirement for new dynamic mode. Still in progress

[2020-09-22 17:01] aserio commented on #376
Will create a ticket to split the perf-db into arch. specific files.

[2020-09-22 17:01] #376 closed

[2020-09-22 18:37] zjing14 opened #456 "ConvHipImplicitGemmBwdDataV1R1Xdlops failed due to compiler issues"
[code]
Passed with "-O1". Related to the JIRA: http://ontrack-internal.amd.com/browse/SWDEV-251757

[2020-09-22 18:39] zjing14 commented on #456
@asleepzzz Please take a look this failure and verify if this failure fixed in your bwd 4r1 PR.

[2020-09-22 20:27] zjing14 commented on #437
Yes. Closed.

[2020-09-22 20:27] #437 closed

[2020-09-22 22:08] daniellowell commented on #436
Hello, can you run your minimal example with the environment variables set as:
MIOPEN_LOG_LEVEL=6
MIOPEN_ENABLE_LOGGING_CMD=1

and then post the log results?
This will help us narrow down the exact layer that is causing this issue.

[2020-09-22 22:16] asroy commented on #456
@zjing14 Is this a compiler bug?

[2020-09-22 22:40] zjing14 commented on #456
Yes. It is a compiler bug same as we captured before.

[2020-09-22 22:53] asroy commented on #456
@zjing14 please add a link to the JIRA ticket here. And also comments on the JIRA ticket about this new failed case

[2020-09-22 23:01] asroy opened #458 "ConvHipImplicitGemmWrwV4R4Xdlops failure due to compiler issue"
Testing this PR:
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/413

This case fails
[code]

However, if change compiler optimization from -O3 to -O1. It will pass, indicating this is a compiler bug
[code]

@ltqin Please
1. open a JIRA ticket and add "BlockingComposableKernels" tag to it:
http://ontrack-internal.amd.com/issues/?jql=labels+%3D+BlockingComposableKernels
2. create a workaround i

[2020-09-22 23:06] whchung commented on #458
@asroy please collect IR / ISA dump between: -O1, -O2, -O3 here.

[2020-09-22 23:10] asroy commented on #458
@ltqin, please follow up with @whchung 's request

[2020-09-22 23:36] atamazov commented on #380
@aserio What is new dynamic mode?

[2020-09-22 23:42] atamazov commented on #399
The design described in the topmost comment is no longer relevant. Let's not confuse ourselves. I highly recommend updating the description, or closing this ticket as invalid.

[2020-09-22 23:44] atamazov commented on #410
#424 should be merged in first.

[2020-09-22 23:46] atamazov commented on #426
@aserio As you can see, this issue is open, which means that review is not resolved yet, right?

[2020-09-23 03:20] ekuznetsov139 commented on #458
This was spotted during a review of bwdw-conv1x1u1 performance for low values of w*h. As best as I can tell, the bug is only triggered when w*h is either 24 or 48.

[2020-09-23 07:24] oleid commented on #436
Uh, I missed  `MIOPEN_ENABLE_LOGGING_CMD`, that explains why this option was of no use when I tried it!

Here you are, hope that helps finding out what is wrong!

[2020-09-23-minimal.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5266281/2020-09-23-minimal.txt)
[2020-09-23-inception-inspired.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5266285/2020-09-23-inception-inspired.

[2020-09-23 07:28] oleid commented on #436
Ah, I missed stdout -- these logs are better:

[2020-09-23-inception-inspired.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5266322/2020-09-23-inception-inspired.txt)
[2020-09-23-minimal.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5266324/2020-09-23-minimal.txt)

[2020-09-23 11:07] ltqin commented on #458
I create a JIRA: http://ontrack-internal.amd.com/browse/SWDEV-253624

[2020-09-23 13:35] aserio commented on #380
Dynamic Hybrid mode is the new find mode (MIOPEN_FIND_MODE=5). It is similar to Fast Hybrid Find, but in the case of a find_db miss, it will skip all non-dynamic kernels.

[2020-09-23 13:42] aserio commented on #426
@atamazov form the looks of things no one is doing any work on this ticket, and according to you the work is important, easy to complete and affects performance and quality. So I think following up on the status is warranted.

[2020-09-23 19:04] daniellowell commented on #436
Looks like this is the issue:
[code]

@asroy @zjing14 I believe #457 will resolve this issue. Can you guys comment?

[2020-09-23 23:16] atamazov commented on #426
Absolutely.

[2020-09-23 23:29] atamazov commented on #380
Thanks. We do not have consensus yet -- if this is requirement or not. Please see https://github.com/ROCmSoftwarePlatform/MIOpen/issues/380#issuecomment-675472170 and https://github.com/ROCmSoftwarePlatform/MIOpen/issues/380#issuecomment-675734858.

[2020-09-23 23:40] atamazov commented on #436
The problem happens with gfx803 with 32 CUs. Do we fully support this HW?

[2020-09-24 05:01] asleepzzz commented on #456
V4R1 can pass
MIOpen Backward Data Conv. Algorithm: 5, Solution: 60/ConvHipImplicitGemmBwdDataV4R1Xdlops
GPU Kernel Time Backward Data Conv. Elapsed: 0.295041 ms (average)
stats: name, n, c, ho, wo, x, y, k, flopCnt, bytesRead, bytesWritten, GFLOPs, GB/s, timeMs
stats: bwdd-conv1x1u1, 64, 384, 1, 1, 96, 35, 35,  5780275200, 9584640, 30105600, 19591, 135, 0.295041
Backward Convolution Data Verifies

[2020-09-24 06:05] oleid commented on #436
Just tried that one here (built && installed MIOpen from that branch, the rest is at ROCM-3.7 lvl -- hope that is okay).
The issue is the same:

[2020-09-24-minimal+457.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5273777/2020-09-24-minimal%2B457.txt)

[2020-09-24 08:12] asleepzzz commented on #456
form jira:
 CXX=/opt/rocm/llvm/bin/clang++ cmake -DMIOPEN_BACKEND=HIP -DCMAKE_PREFIX_PATH="/opt/rocm/hcc;/opt/rocm/hip" -DBUILD_DEV=On ..
    make -j32 MIOpenDriver

but after 3.5 , we should set DCMAKE_CXX_COMPILER
 cmake -DMIOPEN_BACKEND=HIP -DCMAKE_CXX_COMPILER=/opt/rocm/llvm/bin/clang++ -DCMAKE_DISABLE_FIND_PACKAGE_miopengemm=OFF -DCMAKE_BUILD_TYPE=Release -DBUILD_DEV=ON -DMIOPEN_CACHE_DIR="..

[2020-09-24 12:09] atamazov opened #460 "[driver] Find mode is not auto-set to NORMAL when -w 2 option is used"
The reason is that the change of state of `miopen::debug::FindEnforceDisable` is not observed when `GetFindModeValue()` is called.

While #336 is not implemented, this is a minor issue, but should be fixed together with #336.

[2020-09-24 14:10] atamazov opened #461 "iGemm Bwd V4R1 xdlops - build failure"
This blocks #457, which is urgent itself, so blocker priority.

More info: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/457#issuecomment-698350757

[2020-09-24 14:49] #399 closed

[2020-09-24 15:00] daniellowell commented on #436
Not fully. Our support is really for 64CU count SKUs with gfx803.
@oleid you can try filtering out that algorithm to make sure it does not get picked.
Try setting the environment variable: `MIOPEN_DEBUG_CONV_IMPLICIT_GEMM=0`
Details on this process are here:
https://rocmsoftwareplatform.github.io/MIOpen/doc/html/DebugAndLogging.html#filtering-by-algorithm

You can disable the algorithms until your

[2020-09-24 15:29] asroy commented on #461
for the record, this is the config for which bwd-data-v4r1 failed on Jekins
[code]

[2020-09-24 15:36] asroy commented on #458
@whchung The IR/ISA dump is submitted to JIRA
http://ontrack-internal.amd.com/browse/SWDEV-253624

[2020-09-24 18:10] asroy commented on #461
Update:
The failed config is not supposed to be supported by ```ConvHipImplicitGemmBwdDataV4R1Xdlops```, PR #419 fix the issue.

#457 should be hold off unitl #419 is merged.

[2020-09-24 18:16] asroy commented on #456
I test ConvHipImplicitGemmBwdDataV4R1Xdlops in PR #419, and it passed.

I think for now, we will just wait for #419 to merge, and them disable ```ConvHipImplicitGemmBwdDataV1R1Xdlops``` until we have a compiler fix

[code]

[2020-09-25 07:13] oleid commented on #436
That actually makes it run for both networks, great!

If I've seen correctly, MIOpenGEMM isn't currently used by MIOpen as distributed in the docker images (and probably in ubuntu). Would you suggest to build MIOpen with MIOpenGEMM support?

If I read the debug output of MIOpen correctly, instead of  `ConvHipImplicitGemmBwdDataV1R1` now `ConvOclDirectFwd1x1` is used. Are the Ocl ones which are "ok

[2020-09-25 14:36] daniellowell commented on #436
If you're using the OpenCL backend use MIOpenGEMM. If you're using the HIP backend, use rocBLAS as the GEMM library.
I might have made the assumption that you're using the OpenCL backend in my previous comment.

[2020-09-25 14:36] daniellowell commented on #436
@asroy @zjing14 can you please put on your task list to disable iGEMM for gfx803 with 32CUs.

[2020-09-25 14:38] daniellowell opened #464 "Disable iGEMM for some gfx803 architectures."
Regarding issue #436
iGEMM should be disabled for gfx803 with compute unit count != 64.

[2020-09-25 15:53] shurale-nkn opened #465 "Unit testing: solvers and their kernels"
As part of improving the testing system and expanding the developer tools.
Required to be able to test each solver and each of its unique combinations of kernels, directly and in different testing modes.

Goals:
- Exclude the influence of errors in the control logic(search, find, tuning, database operations) on the result of verification of the developed solutions.
- Exclude the possibility of neg

[2020-09-25 15:59] shurale-nkn commented on #465
FYI @Kirpich30000

[2020-09-25 16:00] atamazov commented on #464
Do you mean kernels written in HIP? IIRC there are some iGemm Solvers that produce assembly kernels.

[2020-09-25 16:17] atamazov commented on #465
Related ticket: https://github.com/AMDComputeLibraries/MLOpen/issues/2212.

[2020-09-25 19:42] oleid commented on #436
I'm using hip, I presume, since I'm using tensorflow.

[2020-09-25 22:27] atamazov commented on #458
All, lets evaluate importance of this. If it is high, then a workaround should be provided asap, right? /cc @daniellowell

[2020-09-25 23:14] atamazov commented on #461
#419 merged

[2020-09-25 23:14] #461 closed

[2020-09-26 12:45] daniellowell commented on #436
OpenCL kernels are fine, it isn't an issue between HIP kernels versus OpenCL kernels, it is more that there is a bug in one of our HIP kernel algorithms.

Let us know if you  need additional support.

[2020-09-26 12:45] #436 closed

[2020-09-28 20:51] asroy opened #469 "Potentially wrong offset calculation in the use of buffer intrinsic"
For this JIRA filed originally as compiler bug for ROCm-3.7/3.8 (also failed on 3.5)
http://ontrack-internal.amd.com/browse/SWDEV-251757
http://ontrack-internal.amd.com/browse/SWDEV-247082

However, the failure may potentially due to mis-use of buffer intrinsic:

@ekuznetsov139 think this may be due to a combination of following things:
1) Fp32 pass use the deprecated buffer intrinsic, where user

[2020-09-28 22:21] asroy commented on #456
@zjing14 test latest develop on ROCm3.5, also failed
[code]

[2020-09-28 22:28] atamazov commented on #464
@daniellowell Ping

[2020-09-28 22:35] zjing14 commented on #456
@asroy Yes. I can reproduce the failure on rocm 3.5 after cleaning perf_db.

[2020-09-28 22:56] atamazov commented on #436
@daniellowell I thought it is a compiler bug.

[2020-09-30 15:59] pfultz2 commented on #336
Here is the API, I suggest:

[code]

We could have the search options be passed as `nullptr`, and we can pick a default.

When we set exhaustiveSearch, there is an option to always tune or only when its missing from the DB.

Then there is settings to control the different search modes. I think this is simpler than having bunch of different find modes. I added `miopenSearchOptionsEnableFindCache` t

[2020-09-30 17:29] asroy opened #476 "Need double check vector read length for ConvHipImplicitGemmForwardV4R4Xdlops_Padded_Gemm"
Still not sure we have got it correct, need to double check some other time.

=====================================
should be:
```SrcDataPerRead_GemmKPack = gcd(SrcDataPerRead_GemmKPack, gemm_k_real % GemmKPack);```

because you want to make sure ```SrcDataPerRead_GemmKPack```is a factor or ```gemm_k_real % GemmKPack``` not ```gemm_k_extra```

(I don't know what you call ```gemm_k_real``` in your

[2020-09-30 18:15] JehandadKhan commented on #336
The consensus after the meeting is as follows:

* An additional API that takes as input the handle and the convolution descriptor would set the find mode for the convolution operation associated with the convolution descriptor.
* This API would not be a part of `miopen.h` and would not be supported long term since this is an interim solution and would be  superseded by Find 2.0
* The rest of API w

[2020-09-30 23:44] pfultz2 commented on #336
I dont think it needs the handle.

We would also update the documentation to say it will be deprecated.

[2020-10-01 04:44] daniellowell opened #479 "Variant 4 intermittently fails in ctests and frameworks"
http://ontrack-internal.amd.com/browse/SWDEV-253606

[2020-10-01 04:45] daniellowell commented on #479
Disabling via PR #478

[2020-10-01 04:52] JehandadKhan commented on #336
Lets wait for @atamazov's analysis and see what he proposes.

Of course.

[2020-10-01 06:04] artyom-beilis opened #480 "Winograd Kernels Source Code?"
I'm trying to understand how MIOpen's Winograd convolution kernels work - to be able to convert the specific code to generic opencl (even with embedded assembly) so it can run on non-ROCm platform or at least understand how kernel's flow works.

I've tried to look into source code, for example

<https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/src/kernels/Conv_Winograd_v21_1_0_gfx9_fp32

[2020-10-01 19:47] JehandadKhan commented on #430
[Associated JIRA](http://ontrack-internal.amd.com/browse/SWDEV-253698)

[2020-10-01 22:30] atamazov commented on #480
Due to historical reasons, for development of Winograd kernels, we use not the assembler that is included in ROCm, but another one (sp3). sp3 is incompatible with our AMDGCN assembler (`clang -x assembler`) w.r.t. directives and other stuff, and, therefore, the library can't assemble the original sp3 source. That is why we had to use the preprocessed source that is, in fact, a binary.

@Kirpich300

[2020-10-01 22:34] atamazov commented on #336
Let me try to make some experimental implementation. I will update ticket as soon as have something.

[2020-10-02 03:10] artyom-beilis commented on #480
Thanks for the quick response, even at starting point original sources with actual comments would be very helpful - that can explain the order of operations, work groups, data sharing etc.

Even if it can't be modified/converted to current inline "binary"

Thanjs

[2020-10-02 12:53] atamazov opened #481 "The system find-db logging is missing "Key match" and "Contents found""
Output when a record is found in the user-find-db:
[code]
Same for the system-find-db:
[code]
This impedes analyzing the logs sent to us by the library users, so high priority. Could you please provide a PR ASAP, thanks.

[2020-10-02 16:24] atamazov commented on #336
Problem:
- Find Mode needs to know if tuning is enforced. In this case Find Mode is reset to Normal, regardless of the the environment setting.
- In order to find out if tuning is enforced for certain convolution, the library needs to know the direction of convolution. This is because we have [MIOPEN_FIND_ENFORCE_SCOPE](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/doc/src/perfdataba

[2020-10-02 16:33] JehandadKhan commented on #336
I dont have an objection to the removal of the `MIOPEN_FIND_ENFORCE_SCOPE` since I dont recall ever using it. @daniellowell  do you recall anywhere we use this?

cc @cderb

[2020-10-02 21:06] JehandadKhan opened #482 "Convert MIOpenUtilKernels4.cl to dynamic"
`MIOpenUtilKernels4.cl` is not dynamic at the moment and is compiled fairly often. It needs to be converted to a dynamic kernel.

[2020-10-02 22:36] atamazov opened #483 "WORKAROUND_SWDEV_227826 should not affect iGEMM solvers written in ASM"
Originated from https://github.com/AMDComputeLibraries/MLOpen/issues/2535#issuecomment-702984109.

I expect that importance of this will grow over time.

/cc @daniellowell @asroy @JehandadKhan

[2020-10-04 06:54] artyom-beilis commented on #480
@atamazov Does it mean that no kernels for RDNA were written?

RDNA is quite different  for example all dpp/b/permute work only on wave32 base and I assume the conversion isn't straight forward

[2020-10-05 08:49] oleid commented on #436
@daniellowell  I tested today with latest miopen git version (2.7.0-14-g807c08e63) as well as the aforementioned branch. There is a change in behavior, probably due to upgrading my system with ROCm 3.8. Training now starts and does things. In the branch, however, training stops at some point with the same error.

[2020-10-05 11:33] oleid commented on #464
Was that already disabled in master? `2.7.0-14-g807c08e63` + rocm3.8 doesn't have those problems, anymore.

[2020-10-05 17:01] daniellowell opened #484 "v_mac in gfx10 architectures not supported"
gfx10 does not support the below instructions present in v4r1 and other kernels:

[code]

[2020-10-05 17:03] daniellowell opened #485 "DPP broadcast unsupported for gfx10 present in Batch Norm reduction"
gfx10 does not support broadcast as written with DPP instructions. Need to check architecture and fallback to LDS based reduction until rewrite is complete.

[code]

[2020-10-05 20:50] asroy commented on #483
PR #488 would remove this workaround, so all iGEMM solver will be enabled by default.

[2020-10-06 16:42] aserio commented on #375
Have decided to uses assembly kernels as fall back. This reduces the priority to low.

[2020-10-06 16:52] aserio commented on #380
Closing as it is already implemented

[2020-10-06 16:52] #380 closed

[2020-10-06 16:54] aserio commented on #412
@zjing14 please close if new PR resolves this issue

[2020-10-06 20:17] atamazov commented on #336
@pfultz2 Do you need similar support for FIND_ENFORCE (well... actually it should be renamed to _Search Mode_) stuff right now?

[2020-10-06 20:22] atamazov commented on #426
Review comments resolved.

[2020-10-06 20:22] #426 closed

[2020-10-06 20:41] atamazov commented on #412
Workaround by #457. Full blown fix is not yet implemented, so let's keep it open but lower priority.

[2020-10-07 17:46] JehandadKhan opened #494 "Failing configs in MIOpen"
arch: gfx908

Example Configs:

[code]

Another example
[code]

a complete list is attached.
[gfx908.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5342749/err2.log)
[gfx900_56.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5342798/gfx900_56err2.log)
[gfx900_64.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5342800/gfx900_64err2.log)
[gfx906_60.log](https://github.

[2020-10-07 22:13] atamazov commented on #480
AMDGCN assembler supports RDNA. However IIRC MIOpen does not officially support  it yet, so no asm kernels for RDNA were written. And yes, conversion is not straightforward at all.

[2020-10-07 22:21] atamazov commented on #380
Clarification: Assured by design of the Fast Find mode.

[2020-10-08 02:38] carlushuang commented on #484
Hi @daniellowell `v_mac_f32` should be a valid instruction in gfx10 [ISA](https://www.llvm.org/docs/AMDGPU/AMDGPUAsmGFX10.html), I just tested `echo "v_mac_f32 v2, v3, v4" | /opt/rocm/llvm/bin/llvm-mc -arch=amdgcn -mcpu=gfx1000 -show-encoding  -show-inst` on our rocm3.7

[2020-10-08 15:29] atamazov commented on #484
IIRC VOP2 v_mac_v32 should be valid for all gfx10 parts, see https://llvm.org/docs/AMDGPU/AMDGPUAsmGFX10.html. Please inform Dmitry Preobrazhensky if assembler has issues with it.

Maybe there is an issue in the high-level compiler (that can be considered as an intermediate layer between inline assembly code and llvm-mc layer). If something is wrong, please open Jira ticket.

[2020-10-08 15:33] atamazov commented on #484
If there is a compiler or assembler issue, it is possible to use `v_mad_f32` or `v_fmac_f32` as a workaround, I think.

[2020-10-09 16:34] JehandadKhan opened #500 "Enable check numerics during Tuning"
To catch compiler bugs and debug numerical issues during tuning, enable Numeric Checks during tuning loops.

[2020-10-09 22:33] atamazov opened #503 "Port-merge review of PR 441"
The most of review comments are code clarity/quality related, but there are some more important performance-related comments.
- [x] https://github.com/ROCmSoftwarePlatform/MIOpen/pull/441#pullrequestreview-504338519
- [x] https://github.com/ROCmSoftwarePlatform/MIOpen/pull/441#pullrequestreview-506013678

These reviews should have been resolved prior to merging #441 so `high_priority`. I am sorry

[2020-10-10 01:21] carlushuang commented on #503
@shaojiewang @fronteer @jane-zxy we need some modification accoriding to @atamazov 's review. let's discuss offline

cc: @sabreshao

[2020-10-10 01:44] carlushuang commented on #484
Ah, gfx1030 should have deprecated both `v_mad_f32` and `v_mac_f32`, need use `v_fmac_f32` instead

[2020-10-10 21:19] shurale-nkn opened #506 "Is xnack enabled on GPU"
- To create correct asm kernels with xnack support, required a function that determines whether xnack is enabled or disabled on the GPU.
- Also require access to this information from the IsApplicable() functions to disable unsupported kernels.

related to #505

[2020-10-11 22:08] atamazov commented on #506
Right now we support only GPUs that have XNACK = OFF.

[2020-10-12 07:51] jane-zxy commented on #503
create a pr to resolve this: [pr508](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/508)

[2020-10-12 13:42] atamazov opened #509 "Support for different tensor layouts"
This is follow-up of #343, see https://github.com/ROCmSoftwarePlatform/MIOpen/pull/343#discussion_r495241947 and other comments there.

The goal is to get uniform support for different tensor layouts at the architecture level, in all library components. Presumably, at first, we need to add layout information into problem description (which solvers or algorithms will support them is another matter)

[2020-10-12 16:05] daniellowell commented on #484
@ltqin Please give me an ETA on when you think this can be completed.

[2020-10-12 22:24] atamazov commented on #484
I recommend extending `inst_wrappers.inc` with `_v_mac_f32` macro and using it in the kernels.

[2020-10-13 21:24] JehandadKhan opened #513 "Numeric Check during Tuning"

[2020-10-13 21:47] atamazov commented on #513
Checks like `ConvForwardCheckNumerics()` or full verification of output?

[2020-10-14 02:08] JehandadKhan commented on #513
@atamazov yeah, there has been instances of numeric issues during tuning. So this is a debug feature to help developers troubleshoot such problems.

[2020-10-14 02:09] JehandadKhan opened #514 "Update PerfDb infra to support various data layouts."

[2020-10-14 03:57] ltqin commented on #484
@daniellowell  Can I change inst_wrappers.inc? I see this in the document: "Only Gfx8 and Gfx9 ISA is supported"

[2020-10-14 16:58] atamazov commented on #513
@JehandadKhan

Perhaps _after_ tuning, i.e. tuned config fails to pass verification?

[2020-10-14 17:02] atamazov commented on #513
The driver validates the final result of tuning, if `-V 1` is passed. Would you like to verify output after each tuning run?

[2020-10-15 09:23] ltqin commented on #484
@daniellowell The task seems simple, but there are some strange problems in the test. If the task is not urgent, I will finish it by November 15th. Is that ok?

[2020-10-16 00:47] ltqin commented on #484
Directly using v_fmac_f32 replaces v_mac_f32,it can be compiled on navi21, but the running results can not be verified, and the hip version of fp32 also fails to pass the verification. but fp16 is correct. Next I will confirm whether there is a problem with the installation environment.

[2020-10-16 14:00] atamazov commented on #484
Kernels with inline `v_fmac_f32` fail verification?

Do you mean "kernels without inline assembly code"?

[2020-10-16 14:08] DrizztDoUrden opened #519 "Fwd gemm is crashing with int8 and group_count > 1"
Here are 3 driver commands:
[code]

The first and second run just fine. The third one crashes on the run stage. I have found this behavior because I have actually found the code responsible for that.

On the find stage, we have an `int8` check on the outside with no `group_count` check in the `int8` case.
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/5edf26d95e3840b21e9137e08d5e0661f91ad851/

[2020-10-16 17:42] atamazov commented on #519
@ce1adon Please have a look. This holds GEMM solvers/invokers work, which is important. Thanks.

[2020-10-16 18:28] ce1adon commented on #519
@atamazov Did you enable or disable cache?

[2020-10-16 20:43] atamazov opened #521 "Elaborate experimental FP16 mode of MPBidirectWinograd"
Each configuration should be controlled separately. Group convolution needs to be double checked. Then 16/16 F(2,3) and F(3,3) to be tested on a network level. I guess those could be enabled for normal use.

_Originally posted by @Kirpich30000 in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/491#issuecomment-710587689_

[2020-10-16 20:46] atamazov commented on #519
BUILD_DEV=On, so binary cache is disabled. @DrizztDoUrden to confirm.

[2020-10-16 21:31] DrizztDoUrden commented on #519
I didn't enable cache manually, but I have DUILD_DEV=On, so it should be disabled.

[2020-10-16 21:43] JehandadKhan commented on #513
Yeah, that is the request. I think we would need to add the `ConvForwardCheckNumerics()` in the `generic_search.cpp` loop. Do you have a better approach in mind ?

[2020-10-16 22:38] atamazov commented on #513
Let me clarify. AFAICS CheckNumerics doesn't perform verification for correctness. It checks for NaNs INFs and possibly other junk, I guess. Do we want this?

`ConvForwardCheckNumerics()` checks input _buffers_. I think we want to check _output_ buffer, right?

[2020-10-17 00:56] ce1adon commented on #519
@atamazov  int8 && group>1 is a new feature to us. You can disable it at this point and request in issues.

[2020-10-17 00:59] DrizztDoUrden commented on #519
So it's not allowed for now?

[2020-10-17 15:01] ltqin commented on #484
YES

YES

[2020-10-17 19:07] ce1adon commented on #519
Yes, please disable it and then request this feature.

[2020-10-17 22:13] atamazov commented on #484
Then there is general HIP compilation problem.

Most likely, the `v_mac_f32 -> v_fmac_f32` substituion is correct. Actually, it can't be incorrect, except cases that VERY sensitive to precision. Which is not the case for convolutions. Please go ahead with `v_mac_f32 -> v_fmac_f32` for Navi21.

[2020-10-17 22:15] atamazov commented on #484
@ltqin [off-topic][githib formatting] Please use one empty line after citation mark, otherwise formatting will be incorrect. Valid:
[code]
Incorrect:
[code]

[2020-10-19 08:34] ltqin commented on #484
@atamazov Okay, I got it

[2020-10-19 08:45] ltqin commented on #484
when set the flag "CK_USE_AMD_BUFFER_ADDRESSING" to zero,  the test pass (both with inline  v_fmac_f32 and  without inline assembly code).  does "amdgcn_buffer_load_f32X" not work for gfx1030.

[2020-10-19 14:28] daniellowell commented on #485
#493 Works around this issue, so it is no longer a bug, but we need a design of this section of the code for gfx10.

[2020-10-19 14:29] daniellowell commented on #469
@asroy This one is 3 weeks old. What update do you have here?

[2020-10-19 14:30] daniellowell commented on #464
@asroy Status?

[2020-10-19 14:32] daniellowell commented on #458
@asroy Please provide a status update.

[2020-10-19 14:35] daniellowell commented on #456
@asleepzzz @asroy Status update?

[2020-10-19 14:43] daniellowell commented on #427
@asroy Please update this issue. Who is working it?

[2020-10-19 14:44] daniellowell commented on #418
@shurale-nkn Updates?

[2020-10-19 14:45] daniellowell commented on #414
@jerryyin Is this a real issue?

[2020-10-19 14:45] daniellowell commented on #390
No activity.

[2020-10-19 14:45] #390 closed

[2020-10-19 14:46] daniellowell commented on #268
Do not seem like a real issue. Please reopen if needed.

[2020-10-19 14:46] #268 closed

[2020-10-19 14:47] daniellowell commented on #248
@ashishfarmer If this is still an issue please feel free to reopen it.

[2020-10-19 14:47] #248 closed

[2020-10-19 14:48] daniellowell commented on #168
No activity.

[2020-10-19 14:48] #168 closed

[2020-10-19 14:49] daniellowell commented on #148
@asroy Can you check if this is still an issue?

[2020-10-19 15:19] asroy commented on #458
@ltqin Please test if rocm3.9 fixes the issue. If not, please comment on JIRA and ask Mark for a hip-clang package with the fix

http://ontrack-internal.amd.com/browse/SWDEV-253624?focusedCommentId=6425343&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-6425343

[2020-10-19 15:21] jerryyin commented on #414
@daniellowell This is the one that get me blocked for a couple of days making me doubt if it is my code change that resulted in the issue above, until I synced with @JehandadKhan and decided to try something else. Then I realized it is a timing related race condition.

I'd suggest you to keep the issue because it is reproducible in very strict conditions. (It has to be the commit I recorded in the

[2020-10-19 16:11] asroy commented on #484
@ltqin Please disable buffer_load for navi.

[2020-10-19 16:14] ce1adon commented on #268
It's probably related with the verification cache, which is disabled here PR #448 .

[2020-10-19 16:19] asroy commented on #469
The ticket is only a speculation of root cause the failure in http://ontrack-internal.amd.com/browse/SWDEV-251757

This ticket is not blocking anything AFAIK

There is no update from compiler team in the JIRA. I will just leave this issue open until compiler team get down to the bottom of it and either confirm or disagree with our speculation.

[2020-10-19 16:56] asroy commented on #148
Still and issue, but it's not HIP iGEMM or ASM iGEMM, they are not applicable

MIOpenDriver convfp16 -n 4097 -c 2 -H 512 -W 512 -k 2 -y 8 -x 8 -p 0 -q 0 -u 8 -v 8 -l 1 -j 1 -m conv -g 1 -F 1 -t 1
MIOpen(OpenCL): Info [Handle] Device name: gfx908
MIOpen(OpenCL): Info [Handle] stream: 0x281c510, device_id: 0x28cb170
MIOpen(OpenCL): Info [ForwardGetWorkSpaceSize]
MIOpen(OpenCL): Info [AmdRocmMetadata

[2020-10-19 17:35] atamazov commented on #484
@asroy

This should be _workaround_ (due to compiler issues), because buffer insns are supported on gfx1030, right?

[2020-10-19 17:39] shurale-nkn commented on #418
@daniellowell
The problem is still relevant.

In develop branch we are calling gemm with dummy_memset only in Find mode, therefore, there are no verification errors.
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/6fd907bb51fd974c083cf01aeaf52aa7d6b707f4/src/ocl/convolutionocl.cpp#L435-L445

where ``time_precision`` is responsible for using dummy_memset,
https://github.com/ROCmSoftwarePlatform

[2020-10-19 17:41] atamazov commented on #414
@jerryyin

The CI logs are not persistent. Please attach a copy of the log to the ticket.

[2020-10-19 17:48] jerryyin commented on #414
[Clang Debug.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5403768/Clang.Debug.txt)

[Fiji GCC Debug.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5403769/Fiji.GCC.Debug.txt)

[2020-10-19 21:16] atamazov commented on #494
MIOpenDriver needs more memory for tensors that is available on gfx908. The first one needs ~32.5 GiB, the second -- ~32.8 GiB. It is possile to use `-F 1`, `-F 2`, `-F 4` to run each direction separately.

I've tried the first config on Radeon VII (that has twice less memory) with half-sized tensors and it works as expected (`-F 0` fails, but `-F 1/2/4` work fine).

However there is less luck wit

[2020-10-19 21:17] atamazov commented on #494
Let me summarize possible reasons of issues with very big tensors:
- Address or index computation problems in the driver
- Address or index computation problems in the host code of the library
- There are known limitation of rocBLAS (buffer addressing is limited by 4 GiB or so?)
- Code generation issues in the compiler
- OCL/HIP runtime issues.

[2020-10-19 21:40] muralinr opened #524 "Test handle test architecture check failure on gfx10"
The architecture check fails on GFX10.  We need to fix this issue.  Here are details..

root@rocm-framework-nv21-4:/testx/MIOpen/build# ./bin/test_handle_test --all -v
error_hip.cpp:2:56: error: use of undeclared identifier 'num'
extern "C" { __global__ void write(int* data) { data[num] *= 2;}}
^
1 error generated when compiling for gfx1030.
error_hip.cpp:2:56: error: use of undeclared identifier

[2020-10-20 05:40] asleepzzz commented on #427
Hi Alex,
I reproduce this issue
with
./bin/MIOpenDriver conv -F 2 -n 128 -c 32 -H 7 -W 7 -k 128 -y 5 -x 5 -p 2 -q 2 -u 1 -v 1 -l 1 -j 1 -g 1 -t 1
&
./bin/MIOpenDriver convfp16 -F 1 -n 128 -c 24 -H 14 -W 14 -k 64 -y 5 -x 5 -p 2 -q 2 -u 1 -v 1 -l 1 -j 1 -g 1 -t 1

ConvHipImplicitGemmForwardV4R4Xdlops search failed
but ConvHipImplicitGemmBwdDataV1R1Xdlops can search if we don't disable it

I'll fix C

[2020-10-20 07:09] asleepzzz commented on #427
ConvHipImplicitGemmForwardV4R4Xdlops failed due to
            if(GemmKPerBlock * GemmKPack < 16)
               return false;
in IsFastToBeUsedForTuning

[2020-10-21 08:15] asleepzzz commented on #427
will fix in PR 531

[2020-10-21 09:19] ltqin commented on #458
test pass on rocm3.9

[2020-10-21 10:14] jane-zxy commented on #494
I also see this is a complicate problem:
1. do we have limitation for the tensorsize? since tensor<Tgpu>(miopen::deref(inputTensor).GetLengths()) maybe run out of memory if length is really huge.
2. we didn't do any HIP API runtime check while we call any of its func.
eg. GPUMem(uint32_t ctx, size_t psz, size_t pdata_sz) : _ctx(ctx), sz(psz), data_sz(pdata_sz)
    {
        hipMalloc(static_cast<v

[2020-10-21 10:50] fronteer commented on #148
1) The segment-fault occurs on in AllocateBuffersAndCopy() of driver/conv_driver.hpp, which is caused by the integer overflowing in GetTensorSize() of tensor_driver.hpp.  The code row

        size_t sz            = std::accumulate(len.begin(), len.end(), 1, std::multiplies<int>());

 using "int" rather than "size_t" for accumulating before the result is assigned to variable "sz"

The following co

[2020-10-21 11:04] fronteer commented on #148
More complete log:

MIOpen(HIP): Info2 [SQLiteBase] Initializing user database file /root/.config/miopen/miopen_1.0.0.udb
MIOpen(HIP): Info2 [SearchForAllSolutions] ConvBinWinograd3x3U: Not applicable
MIOpen(HIP): Info2 [SearchForAllSolutions] ConvBinWinogradRxSf3x2: Not applicable
MIOpen(HIP): Info2 [SearchForAllSolutions] ConvBinWinogradRxSf2x3: Not applicable
MIOpen(HIP): Info2 [SearchForAllSol

[2020-10-21 15:50] atamazov opened #532 "ConvAsmBwdWrW3x3 has precision issues with some PerformanceConfigs"
Manifests on gfx908/906
[code]

For now, we are going to disable stride=2 for this solver as a workaround.

[2020-10-21 15:52] atamazov commented on #532
Assigned to @Kirpich30000 (can't do that in normal way...)

[2020-10-21 17:25] JehandadKhan commented on #494
I agree, there are issues. But the driver should not crash throwing a `std:bad_alloc`. The termination should be graceful and a correct error message should be reported.

If allocating memory for all the directions makes it fail, then perhaps we should only allocate memory for one direction at a time, run it and then either reuse or re-allocate memory for the other directions.

[2020-10-21 17:26] asroy commented on #387
After double checking the comments of, I think there are not issues with original PR

https://github.com/ROCmSoftwarePlatform/MIOpen/pull/347#issuecomment-713729502

@atamazov @jane-zxy

[2020-10-22 22:24] asroy opened #540 "ConvAsmImplicitGemmGTCDynamicWrwXdlops memory access fault"
found on CI for PR #488:
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/enable_all_igemm_solver/8/pipeline

[code]
[code]

[2020-10-23 00:39] carlushuang commented on #540
@shaojiewang let's check this BUG and have a quick fix

[2020-10-23 15:46] asroy commented on #148
@fronteer Thanks for looking into it. Please try to narrow down the failure to the faulty kernel. You can disable solvers by setting env variables.
https://rocmsoftwareplatform.github.io/MIOpen/doc/html/DebugAndLogging.html#filtering-by-algorithm

[2020-10-23 16:01] atamazov commented on #148
The fix for `size_t sz            = std::accumulate(len.begin(), len.end(), 1, std::multiplies<int>());` is available at #527

[2020-10-23 16:13] atamazov commented on #148
[off-topic] @fronteer This is how to insert console logs:

[code]

[2020-10-23 16:15] atamazov commented on #148
WRT GEMM issue I guess there is 4GiB buffer limit of rocBLAS. @shurale-nkn Am I right?

[2020-10-23 16:19] atamazov commented on #148
Partial duplicate of #494

[2020-10-23 21:29] atamazov commented on #387
I just resolved all review comments but one, -- `NextFlag<false, false>` is not good.

[2020-10-25 13:34] daniellowell opened #546 "iGEMM v4r5 contains a divide by zero hazard"
Found in testing PR #147 and blocking that PR.
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/reshuffleAndReduceTestCases/118/pipeline/

[code]

[2020-10-25 15:08] zjing14 commented on #546
Here is the failed config: ./bin/MIOpenDriver convbfp16 -c 16 -n 1 -k 32 -H 28 -W 28 -u 2 -v 2 -p 3 -q 3 -y 3 -x 3 -F 1

[2020-10-26 18:44] hgaspar commented on #398
Regarding the question about how dynamic the number of channels is, the answer is definitely less than the rest (batch size, width, height): The network specifies the number of channels per layer, and while there is variability (128,256, etc,etc) , it is known beforehand, and most importantly, dataset independent.  That is not the case  for the remaining params, which are dataset and context depen

[2020-10-26 19:56] atamazov commented on #458
@ltqin If SWDEV 251757 is fixed in ROCm 3.9, then we need to switch off the workaround, see https://github.com/ROCmSoftwarePlatform/MIOpen/pull/423#discussion_r500456160. What is exact version number or ROCm where bug disappeared? (you can find it in the log, if you have it saved)

[2020-10-26 19:59] atamazov commented on #458
This can be closed after workaround for SWDEV-251757 is updated.

[2020-10-26 20:02] atamazov commented on #532
Not a blocker anymore as we have workaround in place.

[2020-10-26 20:05] atamazov commented on #532
@Kirpich30000 please self-assign (I can't do that and don't know why)

[2020-10-26 21:14] atamazov opened #549 "On defin of implicitgemm_util"
- [ ] (10) Missing heading comment. https://github.com/ROCmSoftwarePlatform/MIOpen/blob/bb711a5d75ff6a02358f58d672624cb5886f8867/src/solver/implicitgemm_util.hpp#L1

- [ ] (20) [Note] This instantiates a copy of env var in each module where header is included. https://github.com/ROCmSoftwarePlatform/MIOpen/blob/bb711a5d75ff6a02358f58d672624cb5886f8867/src/solver/implicitgemm_util.hpp#L9-L13

- [ ]

[2020-10-27 23:09] ggghamd opened #551 "build issue with requiring sqlite3 even though it is installed"
Seeing following error when cmake is issued. I can see sqlite3 is installed, wondering anything else needs to be done?

root@sriov-guest:~/ROCm/MIOpen# cmake -DMIOPEN_BACKEND=OpenCL -DMIOPEN_HIP_COMPILER=/opt/rocm/llvm/bin/clang++
-- The C compiler identification is GNU 7.4.0
-- The CXX compiler identification is GNU 7.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compile

[2020-10-29 04:06] asroy commented on #464
#553 should fix it

[2020-10-29 04:52] asroy commented on #418
#554 removes dummy_memset

[2020-10-29 14:58] carlushuang commented on #551
@ggghamd here is a quick one-line command-line to fix the sqlite:
[code]

[2020-10-29 20:00] ggghamd commented on #551
no it is already installed, you shoudl try on your end before making statement here.

[2020-10-30 00:51] carlushuang commented on #551
Yes I compared my printout with yours then found out the missing packages, here is the printout of my machine:
[code]
From your print out log `libsqlite3-dev:amd64` is missing

[2020-10-30 03:43] ltqin opened #557 "gfx1030 not work properly when using buffer instructions"
Although gfx1030 supports buffer instructions ，but it not work properly  when we use  the  corresponding llvm intrinsic functions . Because those llvm intrinsic functions  are deprecated by compiler team, so I record this issue here.  ~and record this is for writing a workaround~

----
@atamazov EDIT: In short, we need to use LLVM intrinsics correctly, at least.

[2020-10-30 18:29] daniellowell commented on #524
This test is meant to fail intentionally.

[2020-10-30 18:29] #524 closed

[2020-10-30 18:31] daniellowell opened #559 "ConvOclBwdWrW53 fails on gfx10"
Large number of numerical validation issues. Likely a compiler issue.

[2020-10-30 18:55] alexandraBara opened #560 "Tracking changes requested in merged PR #307"
@atamazov  I will address changes requested here: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/307 in an upcoming PR as we want to unblock this PR: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/533

also to address:

Find IsCacheDisabled() in binary_cache.cpp
Rename it to IsBinaryCacheDisabled()
Make it global (remove static and add its declaration to binary_cache.hpp)
Use it here ins

[2020-10-30 23:27] atamazov commented on #560
@alexandraBara Direct links to relevant items:
- [ ] https://github.com/ROCmSoftwarePlatform/MIOpen/pull/533#discussion_r513783447
- [ ] https://github.com/ROCmSoftwarePlatform/MIOpen/pull/533#discussion_r515365226
- [ ] leftovers of https://github.com/ROCmSoftwarePlatform/MIOpen/pull/307#pullrequestreview-518920649

[2020-10-31 01:54] atamazov opened #561 "Lifecycle of workarounds related to external components"
## Motivation

Usually we use workarounds when external components have issues that affect the library. As a rule, such issues begin with some version of the external component, and fixed in one of the subsequent versions.

The library, in turn, is also evolving. During this process, old versions of external components become a bottleneck, and we find ourselves forced to dismiss support of these o

[2020-10-31 01:56] atamazov commented on #557
Originated from https://github.com/ROCmSoftwarePlatform/MIOpen/pull/545#discussion_r512298129

[2020-10-31 21:40] atamazov commented on #503
#508 merged in

[2020-10-31 21:40] #503 closed

[2020-10-31 21:46] atamazov commented on #216
"Why and how computations should be moved from Invoker to InvokerFactory" added to the topmost comment.

[2020-10-31 21:55] atamazov commented on #299
FAST_HYBRID mode implemented in #326

[2020-10-31 21:55] #299 closed

[2020-11-02 16:39] aserio commented on #546
@zjing14, can this issue be closed as #547 is now merged?

[2020-11-03 02:04] asroy commented on #557
This is a MIOpen issue, because we need to start using the new LLVM intrinsic.
@atamazov

[2020-11-03 02:05] asroy commented on #546
Closing, since #547 is merged

[2020-11-03 02:05] #546 closed

[2020-11-03 11:32] atamazov commented on #557
So this is workaround for MIOpen. We do not need to check compiler version, but the fix is still workaround.

[2020-11-03 15:51] atamazov commented on #519
@ce1adon Please confirm that the following issue is fixed in develop:
[code]
then remove the `bug` label. Right now the issue still persists:
[code]

[2020-11-03 15:52] atamazov commented on #519
@ce1adon @DrizztDoUrden
AFAICS this holds GEMM solvers/invokers work, which is important.

[2020-11-03 17:30] ce1adon commented on #519
@atamazov int8 with group convolution is not implemented yet. Please request this new feature with issue or ticket.

[2020-11-03 18:15] #482 closed

[2020-11-03 18:38] atamazov commented on #410
@aserio The status remains the same.
- I need to work on #424 and make it merged in (in progress).
- Then, I am going to finish `GetWti` for WinogradRxS2x3 Solver (this is alreday in progress).
- And then `GetWti` for GEMM. Solvers/Invokers for GEMM is a blocker for this (@DrizztDoUrden is working on it).

[2020-11-03 18:39] atamazov commented on #481
@DrizztDoUrden Please try to find time for this this week. Is it possible?

[2020-11-03 21:05] atamazov commented on #519
Yes, but then the library should fail in controllable way, before rocblas. @DrizztDoUrden Could you please make appropriate fix in the library?

[2020-11-03 21:37] atamazov opened #565 "Use GetWorkspaceSize instead of GetSolution in all Solvers."
For example, right now `ForwardBackwardDataGetWorkSpaceSizeWinograd()` uses `FindAllWinogradSolutions()` but should use something like `FindAllWinogradWorkspaceSizes()`. Ditto all other algorithms.

This is leftover, i.e. we are already late, so `urgency_high`

[2020-11-05 17:38] asroy commented on #148
@atamazov So now host side is Ok, and the remaining issue is kernel cannot deal with >4GB buffer?

[2020-11-06 08:07] ZPEthanWen opened #570 "Environment variables should not be read multiple times in the program"
Environment variables should be read only once at startup, otherwise, the risk caused by modifying the value of environment variables during program running cannot be prevented.

[2020-11-06 08:20] atamazov commented on #570
This is already so.

[2020-11-06 08:21] atamazov commented on #570
But the reason is performance

[2020-11-06 08:33] ZPEthanWen commented on #570
Oh, sorry, I didn't notice the "static const" before the variables in functions.

[2020-11-06 08:35] #570 closed

[2020-11-06 15:52] DrizztDoUrden commented on #519
Do you mean to fix it outside of the gemm solver PR?

[2020-11-06 19:29] atamazov commented on #519
I do not care. What is important is to open path for your gemm solver work.

[2020-11-06 19:44] atamazov commented on #148
@asroy WRT issue with GEMM algorithm, -- likely, yes.

[2020-11-07 16:12] atamazov commented on #374
Another specific requirement (from #424):
[code]

[2020-11-07 21:45] JehandadKhan opened #574 "Test for Multi-Process Compilation"
The current test for the binary cache ( `tests/cache.cpp`) does not account for multi-GPU setting. This might result in unnoticed issues in our cache implementation.

The test for binary cache needs to be revamped so that it has similar multi-process testing like the perf db.

Once the test is updated we can merge #572

[2020-11-10 01:03] carlushuang opened #575 "igemm v4r1 bwd computation fail when stride=3"
found computation error while running following convolution:
[code]
This is indeed utilize `ConvHipImplicitGemmBwdDataV4R1Xdlops` solver. Hence may indicate a failure in this v4r1 bwd strategy

following stride=5 case also fail:
[code]

cc @asroy  @jane-zxy

[2020-11-10 14:35] atamazov commented on #560
@alexandraBara Any progress?

[2020-11-10 21:27] alexandraBara opened #579 "Mem access fault for kernel: MIOpenCvBwdWrW_rdc"
During tuning, i see this kernel giving mem access fault:

 INFO - MIOpen(HIP): Info2 [PrepareInvoker] Preparing kernel: MIOpenCvBwdWrW_rdc
 INFO - Memory access fault by GPU node-7 (Agent handle: 0x12dd920) on address 0x7f8d61545000. Reason: Page not present or supervisor privilege.

Ill attach log file.

[2020-11-10 21:30] alexandraBara commented on #579
[Uploading log_err.txt…]()

[2020-11-10 22:21] atamazov commented on #560
- [ ] :bug: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/533#pullrequestreview-527654975

[2020-11-10 23:11] atamazov opened #581 "ConvBinWinogradRxSf2x3: Incorrect values in System perf-db"
Found accidentally, in develop (2e0c870b0). The system perf-db for gfx906/60 contains invalid PerfConfigs for `ConvBinWinogradRxSf2x3` for the following convolutions:
[code]
<details><summary><b><i>More details from the log</i></b></summary>

[code]
</details>

Invalid values result in bad performance. In the log it is easy to see that ConvBinWinogradRxSf2x3 is ridiculously slow.

I just checked a

[2020-11-11 16:32] streamhsa commented on #148
@atamazov I'm not sure if there is an MIOpen kernel can support >4GB.

This config uses:
input: 4097*2*512*512*sizeof(half)= 4,296,015,872 Byte.

[2020-11-11 18:06] JehandadKhan commented on #581
@atamazov  are these the only configs or there may be others ?

[2020-11-11 19:36] atamazov commented on #581
@JehandadKhan I didn't tried to find more. These two found out of 93 I normally use for testing.

[2020-11-11 20:29] asroy commented on #148
@atamazov I'm not sure if there is an MIOpen kernel can support >4GB.

This config uses:
input: 4097x2x512x512*sizeof(half)= 4,296,015,872 Byte.

[2020-11-11 21:07] daniellowell opened #586 "PR Testing Updates"
### Faster verification time
- [x] a. Create GPU convolution reference kernel (@carlushuang)
&nbsp;&nbsp;&nbsp;&nbsp;i. Carlus’ implementation: [link to naive_conv](https://github.com/carlushuang/mkldnn_test/blob/master/conv/naive_conv.h)
&nbsp;&nbsp;&nbsp;&nbsp;ii. PR: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/583
- [x] b. Create test for GPU reference kernel against CPU reference (@car

[2020-11-11 21:24] atamazov commented on #410
@aserio Status updated

[2020-11-11 21:33] atamazov commented on #581
[Note] #587 disables auto-tuning for ConvBinWinogradRxSf2x3.

[2020-11-11 21:38] zjing14 opened #588 "Limited converage of 3d conv. with no-workspace-required kernels."
For SWDEV-258292, we cannot rely on GEMM, which requires large workspaces, as fallbacks for 3d conv.

For the 3DUNet medical benchmark in the JIRA, we miss the support of the following 3d conv. configs with no-GEMM kernels.

`./bin/test_conv3d --disable-validation --float --cmode conv --pmode default --group-count 1 --input 2, 32, 128, 128, 128 --weights 4, 32, 3, 3, 3 --pads_strides_dilations 1 1

[2020-11-12 10:53] atamazov commented on #148
@asroy I think that both HIP and OCL kernels support 64-bit pointers. Consider the following config:
[code]
- Input tensor size (NCHW) = `128*256*256*256*4=` ___8 GiB___
- Output tensor size (NKHW) = `128*6*256*256*4=` 192 MiB
- Filter size (CKRS) = `256*6*1*1*4=` 6 kiB

Applicable Solvers (gfx908):
[code]
All solutions pass verification (surprisingly, GEMM too!) @shurale-nkn Thoughts?

[2020-11-12 12:07] atamazov commented on #588
A naive implementation is now being added to the driver (#583). I think we can use it for 3D right away, right?

[2020-11-12 14:49] carlushuang commented on #588
@atamazov Hi that can be used, but that is very un-optimized, and don't expect good performance. I think maybe we still need a implicit gemm implementation

[2020-11-12 16:49] zjing14 commented on #588
@atamazov @carlushuang Let me try. It will be great if we have some algorithms to support it before we have igemm implementation.

[2020-11-12 17:46] zjing14 commented on #588
@carlushuang I tried with the reference kernel, still not find a suitable algorithm. Did I use the reference kernel correctly?
`MIOPEN_FIND_MODE=1 MIOPEN_DRIVER_USE_GPU_REFERENCE=1 MIOPEN_DEBUG_CONV_GEMM=0 ./bin/test_conv3d --float --cmode conv --pmode default --group-count 1 --input 2, 32, 128, 128, 128 --weights 4, 32, 3, 3, 3 --pads_strides_dilations 1 1 1 1 1 1 1 1 1
FAILED: /dockerx/MIOpen/sr

[2020-11-13 02:35] carlushuang commented on #588
@zjing14 Yes, currently we just use it for validation. For if it can be a fallback kernel or not, the answer is yes. But the only concern is performance. Because you can check [naive_conv.cpp](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/e91e4e8f07a279c8571829943af1cb8acb51df9c/src/kernels/gpu_reference_kernel/naive_conv.cpp), there is no optimization at all.

[2020-11-13 03:42] zjing14 commented on #588
@carlushuang Yes. We definitely will need the support of igemm. But currently, we may need reference kernels as fallback to resolve the issue as soon as possible. Could you add reference kernels into MIOpen as an algorithm?

[2020-11-13 14:36] carlushuang commented on #588
@zjing14 OK, let me think about this feature in PR: #583