[2022-01-21 19:42] junliume opened #1385 "[cppcheck][warning][overlappingWriteUnion] issue and question about type pruning in bf16 header file"
**[Keywords]:**
cppcheck; warning;
**[Urgency: Low; Importance: Low]**

**[Env]:**
cppcheck@2.6

**[Description]:**
It first appeared as a simple warning:
<pre>
bfloat16_dev.hpp:106:24: warning: Overlapping read/write of union is undefined behavior [overlappingWriteUnion]
         target_val.u32 += (0x7fff + (target_val.ushortvec[1] & 1));
                        ^
</pre>
https://github.com/ROCmSo

[2022-01-21 19:45] atamazov commented on #1372
@pfultz2

Some of the Navi21 nodes already upgraded to 4.5, but docker stays at 4.3.1, which might led to stabiltiy issues. But I think we can wait with this ticket (full CI upgrade) and only update docker to 4.5.2.

Of course. That is why this ticket is saying, in the next statement:

__Note that the main goal of this ticket is to inform everyone about "full CI upgrade" plan__, regardless of ROCm

[2022-01-22 20:29] masahi commented on #1169
I also got the following error with the latest `develop` branch on ubuntu 20.04, rocm 4.5.2, `CXX=/opt/rocm/llvm/bin/clang++. MIOpen README says it only supports boost 1.72 but apparently the installed version is 1.71.

[code]

[2022-01-22 20:44] pfultz2 commented on #1169
Boost needs to be compiled with -fPIC.

[2022-01-23 01:31] masahi commented on #1169
Yup installing boost 1.72 built with -fPIC fixed it. This issue can be closed.

[2022-01-23 06:01] #1169 closed

[2022-01-24 11:08] atamazov opened #1387 "[Navi21] Potential issue in MIOpenBatchNormBwdSpatialMeanVariance"
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/adcef3b33d68ddf0c46c861dc8048d9ae26b228c/src/kernels/MIOpenBatchNormBwdSpatial.cl#L725-L727

- The sizes of local arrays are MIO_BN_NGRPS.
- MIO_BN_NGRPS is defined at the host as `int(std::ceil(float(ygridsize) / ylocalsize))`, see https://github.com/search?q=org%3AROCmSoftwarePlatform+MIO_BN_NGRPS&type=code.
- `lds_reduce2` assumes that the siz

[2022-01-24 15:28] atamazov commented on #1387
Same in MIOpenBatchNormBwdSpatialFinalDScaleDBias.

[2022-01-26 08:38] jithunnair-amd opened #1391 "Using kdb with PyTorch wheels"
PyTorch wheels are self-contained wrt ROCm (and hence MIOpen) libraries, bundling them as part of the wheel.

When running workloads with the PyTorch wheel, we observe slow warmup times and see messages such as:
`MIOpen(HIP): Warning [SQLiteBase] Missing system database file: gfx900_64.kdb Performance may degrade. Please follow instructions to install: https://github.com/ROCmSoftwarePlatform/MIOpe

[2022-01-26 12:16] atamazov commented on #1387
Another suspicion. In src/kernels/reduction_functions.h, there is:

[code]

It seems like lds_reduce2 is not working properly when MIO_BN_LDS_SIZE is not power of 2.

[2022-01-26 20:58] atamazov commented on #1188
Let's verify this (develop + latest ROCm RC) and close if not reproducible.

[2022-01-26 20:58] atamazov commented on #1189
Let's verify this (develop + latest ROCm RC) and close if not reproducible.

[2022-01-27 00:25] junliume commented on #1189
[Issue_1189.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/7946553/Issue_1189.log)
Issue is not reproducible with the driver command; however, different algorithm is selected (ConvAsmImplicitGemmGTCDynamicFwdXdlops instead of ConvHipImplicitGemmForwardV4R4Xdlops)
Shall we force (if possible) the selected algorithm and try more diagnostics? @atamazov

[2022-01-27 13:16] atamazov commented on #1189
Of course. How: https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1188#issuecomment-945211219

[2022-01-28 01:09] junliume commented on #1189
@atamazov Err... how to interpret this result?

./bin/test_conv2d --half --cmode conv --pmode default --group-count 1 --input 128 832 7 7 --weights 128 832 1 1 --batch_size 128 --input_channels 832 --output_channels 128 --spatial_dim_elements 7 7 --filter_dims 3 3 --pads_strides_dilations 0 0 1 1 2 2 --trans_output_pads 0 0 --in_layout NCHW --fil_layout NCHW --out_layout NCHW
**FAILED: /root/MIOpe

[2022-01-28 01:14] #1189 closed

[2022-01-28 01:20] junliume commented on #1188
@shaojiewang @carlushuang  it seems that we are still having issues with these configs:
root@gb-sjc2-19:/root/MIOpen/build# ./bin/test_conv2d --half --input 64 256 56 56 --weights 64 256 1 1 --pads_strides_dilations 0 0 1 1 1 1
./bin/test_conv2d --half --cmode conv --pmode default --group-count 1 --input 64 256 56 56 --weights 64 256 1 1 --batch_size 64 --input_channels 256 --output_channels 64 --

[2022-01-28 01:57] carlushuang commented on #1188
@asroy @ltqin @zjing14 this is a V4R1 legacy HIP kernel, can you help check on this, or need retire?

[2022-01-28 02:01] junliume commented on #1188
@atamazov @JehandadKhan  among all listed configurations, only the last one still failed if solver is not enforced:
**./bin/test_conv2d --half --input 64 256 56 56 --weights 64 256 1 1 --pads_strides_dilations 0 0 1 1 1 1**

Shall we disable the V4R1 legacy HIP kernel if @asroy @ltqin @zjing14 all agrees?

[2022-01-28 14:50] atamazov commented on #1188
Disabling is workaround. If we are not going to fix, then let's remove the solver.

[2022-01-28 17:11] JehandadKhan commented on #1188
I agree

[2022-01-30 21:25] atamazov commented on #1368
@junliume The best candidate is someone who will take over Jing's works.

[2022-01-30 21:50] atamazov commented on #1391
@jithunnair-amd I recommend assigning the "urgency" and/or "value" labels to the ticket to inform us how important is this for you.

[2022-01-30 21:53] atamazov commented on #1391
@jithunnair-amd Question. "Installation of kdb files" means installation of the System Binary cache. As far as I understand, you would like MIOpen to read it. **Would you like PyTotch wheels to read/write the User Minary cache into $HOME/cache?**

[2022-02-01 00:07] atamazov commented on #1385
cppcheck does not allow to use different members of union in RHS and LHS of the assignment op. Possible fix:
[code]

[2022-02-01 00:12] atamazov commented on #1385
Note that use of unions for "type punning" in C++ is UB but always works in practice. We can migrate to `std::bit_cast` when C++20 becomes available.

[2022-02-01 00:53] okakarpa commented on #1183
@atamazov  can i still use this branch for testing out a node with nogpu
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/wip-rocmtest-trial-nogpu/Jenkinsfile

what other  labels we need to add if we plan on adding build-only servers

[2022-02-01 16:32] atamazov commented on #1311
[off-topic] @technicalgrp89 The formatting is a bit weird. Please pay some attention to markdown formatting rules, especially to:
- https://github.github.com/gfm/#example-50
- https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#quoting-code

Formatting fixed.

[2022-02-01 16:40] atamazov opened #1399 "[post-merge review] PR 1316"
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1316#pullrequestreview-869371563

Let's discuss comments there until all those resolved or fixed (we'll need separate PR for the fixes).

[2022-02-01 22:25] atamazov commented on #1384
I am wondering what is `vec_size`?

[2022-02-02 21:55] jerryyin opened #1401 "[MIOpenDriver] Print out perf config after MIOpenDriver failed after tuning"
This is a debugging ticket brought up from @krzysz00 in MLIR team.

In using the MIOpenDriver to help MLIR tune different configs, it is common for MIOpen to pick up a different config than the heuristic config and validate the result. Occasionally when a different config generates a kernel that malfunctions, it results into a failure in MLIR CI. When this happens, it is hard for a developer who d

[2022-02-03 17:09] pfultz2 commented on #1385
It has the same problem even though it might not have a warning from cppcheck. The type aliasing rules for `reinterpret_cast` are the same rules applied to accessing the inactive member of a union. A `reinterpret_cast` is mostly only valid to and from `char*`.

Yes, most compilers relax the rules, but there is no guarantee in the future.

`bit_cast` doesn't work with references or pointers. So you

[2022-02-04 16:14] atamazov opened #1405 "[Navi21] BN lefovers from #1386 (ref: SWDEV-292187)"
Leftovers from #1386:
- [x] 🙅 DECLINED ~(1) :red_circle: Identify the root reason of BN issue.
  - Is it `lds_reduce2()`? See [here](https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1387#issuecomment-1022145303).
- [x] (2) :red_circle: Regression test #1643
- [x] (3) #1408 :yellow_circle: Fix for the "failed" BN driver message
- [x] 🙅 DECLINED (4) :question: More from `bn_bwd_spatial_num_fix_

[2022-02-04 19:05] muralinr commented on #1405
Hi Artem,
Current OCL batchnorm code will be phased out soon.  We are not spending time on further development.  We will support blocking batchnorm issues only.

[2022-02-04 19:30] atamazov commented on #1405
@muralinr

If so, then items (1), (4) and (5) are not needed. But we still need (2) and (3).

@junliume Please confirm, thanks!

[2022-02-04 19:59] atamazov commented on #1405
@muralinr @junliume

Correction: "not needed" is incorrect. This depends on the ETA of the new BN code. **_What is your current estimation?_**

Until (1) is resolved, we are still in a high risk zone. The longer we are there the higher is probability of problems.

[2022-02-04 21:35] #1319 closed

[2022-02-04 22:03] atamazov commented on #1385
@junliume :warning: Note that with current implementation, all the objects of type `cvt_bf16_fp32_t` must be defined as `volatile` to avoid optimizations that compiler may apply to the members: after writing to one member, it can optimize out re-reading the just writtien value when another member is being read.

[2022-02-04 22:09] atamazov commented on #1385
@pfultz2 `memcpy` seems too expensive ;( What we need is reading/writing bits from memory (actually, registers) and interpreting them as different types. Union is an ideal solution for C (and it is free!), but in C++ it may lead to UB... Any other ideas?

[2022-02-04 22:41] atamazov commented on #1401
MIOpen validates each TuningConfig by means of `Solver::IsValidPerformanceConfig()`. It is the Solver who must guarantee that validated TuningConfig provides good kernels. So the root of the problem is a bug in the Solver.

Handling solver bugs require knowledge about MIOpen internals ;(

The Driver is not unaware of tuning, so this won't help. However exporting `MIOPEN_LOG_LEVEL=6` usually able t

[2022-02-04 22:52] atamazov commented on #1401
Maybe the key question is _how_ do you usually reproduce? Answer to this question would help me to better understand how can we deliver the necessary info to the user.

What _we_ normally do (when we need to reproduce) is simply re-running the failing test on the local machine (with some instrumentation like logging etc).

[2022-02-04 23:03] krzysz00 commented on #1401
How I'd like to reproduce the case where tuning generates a kernel that then has incorrect results:

1. Look at the failure log for a failing kernel config
2. Copy out the `conv_config` parameter that was passed to MLIR
3. Run `./bin/miopen-gen "--conv-config=[whatever the failing configuration was]" -pv_with_gpu | ./bin/mlir-miopen-driver -c | rocm-run` to confirm the failure (possibly with `-pv`

[2022-02-05 00:10] junliume commented on #1322
@averinevg reopening this issue since if we run `make -j16 check` there are still tons of similar warnings :(
looks like mostly this line, but please check elsewhere too:
[code]

[2022-02-06 01:09] atamazov commented on #1322
@junliume I have a fix for it in the hiprtc branch.

[2022-02-06 01:10] atamazov commented on #1322
This is a bug actually.

[2022-02-06 13:44] atamazov commented on #1401
From the reproduce instructions I do not see how MIOpenDriver is engaged in this problem (and consequently, how the modification of the MIOpenDriver can help). The procedure does not even mention the driver, except "_...but now searching for the arguments passed to MIOpenDriver_". Is it so that `./bin/mlir-miopen-driver` invokes MIOpenDriver?

Hopefully the problem can be resolved at the mlir harn

[2022-02-06 17:09] atamazov commented on #1183
@okakarpa

You mean, for testing nodes that do not have AMD GPU installed? I think, yes. It should work.

Note that this ticket is about Jenkinsfile changes.

[2022-02-06 21:38] atamazov commented on #1311
@technicalgrp89 Please confirm that everything is clear in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1311#issuecomment-1027037206 or ask questions. I'll be happy to help.

[2022-02-07 17:21] krzysz00 commented on #1401
I'm afraid I left out some context. We call MIOpenDriver to test our tuning support and to make sure we can be called from MIOpen - the CI eventually runs https://github.com/ROCmSoftwarePlatform/llvm-project-mlir/blob/miopen-dialect/mlir/utils/jenkins/miopen-tests/miopen_validate.sh to call MIOpenDriver

`mlir-miopen-driver` is an unrelated tool that runs the code generation pipeline.

[2022-02-07 21:28] atamazov opened #1410 "[tests] `test_reduce_test --D 1024 30528` fails"
Leftover from #1409. This works:
[code]
But this doesn't:
[code]
The `--tolerance` option does not help.

As a result, this case was not added to the tests. **_The fix should include adding it._**

[2022-02-07 22:43] muralinr commented on #1405
@junliume will provide the ETA of the new BN code.

[2022-02-08 06:52] qianfengz commented on #1410
MIOpenDriver and test_reduce_test depend on different methods for initializing data.  Since test_reduce_test needs supports both batch testing and interactive testing, and its batch testing has all operations covered,  its data initializing is more complicated and it is hard for test_reduce_test to specify a suitable tolerance value for any unexpected testing case.    For example, MIOpenDriver ini

[2022-02-08 08:44] qianfengz commented on #1410
The above case can be solved by using a similar initializing data as MIOpenDriver uses and enlarge the tolerance for ADD from 80 to 800.  But do we really need to do so ?

[2022-02-08 12:50] averinevg opened #1412 "Mark public API with "C" linkage as "noexcept""
I suggest to mark exported functions with C linkage as `noexcept` for better c++ support. Most of them wrapped in `miopen::try_` internally, so it is possible to add `noexcept` to them.

[2022-02-08 14:37] atamazov opened #1413 "[tests] test_reduce_test should not print verify_reduce_no_indices failed if no actual failure happened."
@jun  The ”verify_reduce_no_indices failed“ is printed because when the "verbose" mode is enable by "-v",   the common codes in test/driver.hpp  line 835 will call the fail() member function of specific test module.    This is a long-term issue,   one correct answer for the issue could be for each fail() member function to check the passed "int" value, and if the "int" value indicates only "verbos

[2022-02-08 14:38] atamazov commented on #1413
The design of the fix to be discussed prior implementation.

[2022-02-08 23:25] atamazov commented on #1412
@averinevg Can you please explain here why this is needed (or provide a link if explanation exists somewhere)?

Please set appropriate category labels (bug, enhancement, quality...), urgency label and set milestone, if it is applicable (let's discuss if something is unclear). Thanks!

[2022-02-09 00:07] atamazov commented on #1401
The quick solution could be like this: add to MIOpen an env var that enables logging of PerfConfigs in MLIR solvers. Use log level 4 (Warning). Logging should happen in `GetSolution()`. Use that var in your script. Recommended name for var: `MIOPEN_DEBUG_CONV_MLIR_LOG_TUNING_CONFIGS`. Please try and let me know if it works for you.

[2022-02-09 00:08] atamazov commented on #1401
@jerryyin

I think this is about debugging.

[2022-02-09 00:30] pfultz2 commented on #1385
Its actually not expensive. The compiler optimizes it down to just manipulating the bits in register with no calls to `std::memcpy`:

https://godbolt.org/z/bxGsf5eob

The only other option it to pass to a function that get compiled as C99.

[2022-02-09 15:31] averinevg commented on #1412
Consider, for example, `miopenCreate()` function, which is declared as:
[code]
The only information we have about this function is that it has a `C` linkage and some return value indicating the execution status. Functions with `C` linkage called from C++ are not implicitly `noexcept`, so the compiler will have to treat them as if they may throw. However we don't have any information about exceptio

[2022-02-09 16:53] atamazov commented on #1412
@pfultz2 Can you please share your opinion on this?

[2022-02-09 23:48] pfultz2 commented on #1412
`noexcept` wont prevent us from throwing an exception. The application will just abort instead. Using `noexcept` is just useful to callers to detect if the function they are calling will throw an exceptions(ie `noexcept(miopenCreate(&handle))` will return true instead of false).

We may want to have some kind of custom linting to make sure we are always catching the exceptions in our api calls.

[2022-02-10 04:18] gggh000 opened #1416 "hip build option failing with 4.5.2 release"
OpenCL build ok but wiht HIP:

[code]

[2022-02-10 08:53] junliume commented on #1416
@atamazov  could you please take a look? I cannot reproduce it locally and hopefully @gggh000 could you please provide full log and steps to reproduce?

[2022-02-10 08:57] #1322 closed

[2022-02-10 11:02] averinevg commented on #1412
Most of our API are always catch exceptions, they are wrapped in `miopen::try_`. We can add `noexcept` to them at first stage. And then prepare remaining functions for proper exception handling.

[2022-02-10 11:20] averinevg commented on #1412
Maybe something like this:
[code]

[2022-02-10 23:26] #1410 closed

[2022-02-11 19:53] junliume opened #1423 "[Tests][Navi21][fp16] added test_reduce_test from #1415 still fails with nan"
**[Keywords]:**
test; Navi21; reduction; fp16
**URGENCY :HIGH** since it is already in the develop branch

**[Env]:**
Navi21
ROCm 5.0
**FP16**

**[Description]:**
related to #1415 and https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1415#issuecomment-1036515269

It is failing the CI test and my local builds on gfx1030 **for FP16**.
Problematic CI: http://micimaster.amd.com/blue/organizations/je

[2022-02-11 20:15] junliume opened #1424 "[Tests][fp16] test_bn_3d_spatial_test fails CI test frequently"
**[Keywords]:**
test; vega20; batchnorm
**URGENCY :HIGH** since it is already in the develop branch

**[Env]:**
vega20 mainly
Sometimes gfx908

**[Description]:**

This test fails frequently (and usually pass with rerun):
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/cpu_conv_acc_tpye_fix/1/pipeline
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/

[2022-02-11 20:35] junliume commented on #1423
Do those large tensors make sense for FP16? `HALF_ENABLED` is applied here. @qianfengz

[2022-02-11 20:39] junliume commented on #1424
@muralinr  and @DrizztDoUrden could you please take a look with me too?

[2022-02-11 21:15] atamazov commented on #898
The library now detects PCH state correctly. MIOPEN_DEBUG_COMGR_HIP_PCH_ENFORCE can be removed as well as WORKAROUND_ISSUE_898.

[2022-02-12 03:54] junliume commented on #1424
Right, I tried on another gfx900 and cannot reproduce this issue either.

[2022-02-12 06:20] junliume commented on #1424
It seems that it only fails for gfx906

[2022-02-13 20:00] junliume commented on #1416
@gggh000 are you still experiencing the issue or has it been resolved?
I have tested the following script and it should work fine with HIP backend.
Hence: replace `/root` with your home directory if necessary
[code]

[2022-02-14 09:02] qianfengz commented on #1423
I think we could not guarantee the data we provided for testing will not cause overflowing for half_t when the tensor rank/extent is very special.   For this `--half` case, both the Host and Gpu reduction lead to overflow, and the same is true for using MIOpenDriver. Since we using a fixed method to set up data,  we could not guarantee our data is suitable for any Reduction testing case given by t

[2022-02-14 09:54] qianfengz commented on #1423
Does not make sense for real application situation of FP16, since fp16 max is 65504, lowest is -65504. Assume the mean of data is `0.01`,  then the sum of `1024*30528` values could be approximately `3052800`, which will lead to overflow.

[2022-02-14 10:17] qianfengz commented on #1423
The issue can be solved by moving the mean value to 0.001 from 0.01 (needed to keep the result in scope for fp16) and move the max_value to 9999 from 999 (needed for reducing accumulative error for fp32). Like the following
`max_value = miopen_type<T>{} == miopenHalf ? 13 : miopen_type<T>{} == miopenInt8 ? 127 : 9999;`
`sign_value * rand_value / max_value + 0.001`

And some change also need be mad

[2022-02-14 17:49] junliume commented on #1423
@qianfengz Thank you for your detailed explanations. Yes, I have removed the test case from CI but I removed it for all cases (half and float) on an urgent basis. I think we can add it back for float only.

[2022-02-14 20:40] junliume commented on #1424
Tried on a gfx906 and still cannot reproduce this issue.

[2022-02-14 22:50] junliume commented on #1416
@gggh000 I would recommend deleting the build folder and try again, it looks like wrong C++ toolset is picked up.
Please re-open the issue if the issue is not resolved with a fresh process. Thanks!

[2022-02-14 22:50] #1416 closed

[2022-02-15 05:58] Griffintaur opened #1427 "MiOpen causing the training to fail"
Full error message when I am trying to train a deep learning model.
[code]

[2022-02-16 09:35] shaojiewang opened #1429 "[90a][db][question]Did database log the wrong workspace size?"
In our db, the logged workspaceSize seems wrong. In file src/kernels/gfx90a68.HIP.fdb.txt, line 83635, it logged the workspacesize with "244112512", but the right number should be "244112640".
The right one should be
```64-112-112-7x7-3-224-224-128-3x3-2x2-1x1-0-NCHW-FP16-W=miopenConvolutionBwdWeightsAlgoImplicitGEMM:ConvAsmImplicitGemmGTCDynamicWrwXdlopsNHWC,1.64945,244112640,miopenConvolutionBwd

[2022-02-16 13:08] emankov opened #1430 "[cuDNN] `cudnnSetTensor4dDescriptorEx` support in MIOpen is needed"
[Reasons]
1. `cudnnSetTensor4dDescriptorEx` is used in the `Apollo` project [here](https://github.com/ApolloAuto/apollo/blob/266afbf68d83fa6fac7a812ff8a950223f5ab2c0/modules/perception/inference/tensorrt/plugins/softmax_plugin.cu#L39), its support is needed in `MIOpen` as `MIOpen` support is going to appear in `Apollo` along with `AMD GPU` support.
2. `cudnnSetTensor4dDescriptorEx` has already bee

[2022-02-16 15:16] junliume commented on #1429
@cderb @JehandadKhan this issue might also be related to https://ontrack-internal.amd.com/browse/SWDEV-321007

[2022-02-16 15:22] junliume opened #1431 "[Navi21][ROCm5.0] warpSize inconsistent between different HIP kernel building methods"
This could be compiler issue.  I found that the `warpSize` used by my `DirectWarpSize` reduction kernels is 64, while the value of `handle.GetWavefrontWidth()` is 32.   My understand is that `warpSize` is provided as a constant by the compiler, while `handle.GetWavefrontWidth()` gets the warp size from the HIP Runtime device properties.  So the constant value maintained by the compiler under ROCM

[2022-02-16 15:24] junliume commented on #1431
AFAIK Navi21 only support one warpSize. Should we enforce it for all kernels? ref to #1407 @atamazov

[2022-02-16 16:04] junliume commented on #1430
@JehandadKhan  could you take a look at this feature request? Is it something aligned with our roadmap?
@sunway513 How about framework support on Apollo project?

[2022-02-16 16:27] JehandadKhan commented on #1429
Thanks @shaojiewang. This does look like a bug.

[2022-02-16 16:34] JehandadKhan commented on #1430
Hello @emankov ,

Thanks for reaching out. Can you please look at the [`miopenSetTensorDescriptor`](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/349928c032a42275a64a1f39c10c83daf20c1d75/include/miopen/miopen.h#L620) API call. `miopenSetTensorDescriptor` allows you to set the data type, strides and dimensions for a 4-DImensional tensor. If this API does not satisfy the requirements please up

[2022-02-16 21:02] averinevg opened #1432 "[Solvers] ConvBiasActivAsm1x1U solver - mix of performance configs"
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/src/include/miopen/solver.hpp#L306
[code]
Solver `ConvBiasActivAsm1x1U` derived from `ConvAsm1x1U`, and it has its own performance config `PerformanceConfigConvBiasActivAsm1x1U`, but `GetSolution()` uses `PerformanceConfigConvAsm1x1U`. `IsValidPerformanceConfig()` derived from `ConvAsm1x1U` and hence uses `PerformanceConfigConvAsm1x1U` to

[2022-02-17 09:15] emankov commented on #1430
Hi @JehandadKhan,

MIOpen already has an analogue for `cudnnGetTensor4dDescriptor` - [miopenGet4dTensorDescriptor](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/master/include/miopen/miopen.h#L586), where all four strides are presented as arguments (as well as four dimension arguments).
Adding `miopenSet4dTensorDescriptorEx` analogous to `cudnnSetTensor4dDescriptorEx` seems logical as it als

[2022-02-17 11:24] qianfengz commented on #1431
The issue also occurred on ROCM-4.3 ROCM-4.3.1 with my testing.  But the following codes compiled with hipcc is able to output the warpSize of 32 on Navi.
[code]
Also one more important finding is that when building MIOpen with `-DMIOPEN_USE_COMGR=off`, which enables the hip kernels being compiled using the `HipBuild` path, instead of the `comgr` or `hiprtc` path, the issue does not occur. Since b

[2022-02-21 07:58] junliume commented on #1432
@DrizztDoUrden  could you take a look at this issue?

[2022-02-22 16:36] cderb opened #1439 "Cross-Compile failing with hipErrorSharedObjectInitFailed"
Running on gfx906 60, attempting to use cross-compile operation for gfx90a 110
inside docker using MIOpen : 0183095329e7c1803e65de64350c7a057562d068
rocm: compute-rocm-dkms-no-npi-hipclang-9650

[code]

[2022-02-22 17:19] cderb commented on #1439
error seems to manifest only when cross-compiling
when compiling gfx90a on gfx90a this error does not appear.

[2022-02-22 17:41] cderb commented on #1439
Confirming complementary case, compiling gfx906 from gfx90a results in the same error.
[code]

[2022-02-22 20:23] junliume commented on #1429
@shaojiewang with #1434 and #1437 both merged in develop branch, could you check if the issue is resolved? Thanks!

[2022-02-22 22:21] atamazov commented on #1439
Creation of HIP modules should NOT happen at all during so-called "cross-compilation".

IIRC this functionality was implemented in
- https://github.com/ROCmSoftwarePlatform/MIOpen/pull/307
- https://github.com/ROCmSoftwarePlatform/MIOpen/pull/533

The following review comment is not resolved yet: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/533#pullrequestreview-521022821

[2022-02-22 22:24] atamazov commented on #1439
@junliume I am not going to fix this unless I get a direct request from you.

[2022-02-22 22:40] junliume commented on #1439
@atamazov Thanks! And glad to see you back online, even better if not already this late time of day.
@alexandraBara : Hi Alex, could you please follow up on the comments? We can talk about task priorities.

[2022-02-22 23:23] atamazov commented on #1429
There is https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1354 which directly modifies fdb in order to resolve #1349 without retuning. It blindly adds 3*255 bytes to workspace size, which should be enough to align 4 sub-buffers.

**_There is no need to add padding for the most recent buffer because there is no buffer after it._**

I suspect that the reason of the issue is that `MultiBufferWorks

[2022-02-22 23:25] atamazov commented on #1429
There is no harm in #1434 and 1437, but the proper fix should be applied as well as soon as time permits.

[2022-02-22 23:39] atamazov commented on #1439
I think that the reason of the issue is that cross-compilation is not implemented in the COMGR build path.

Since COMGR was recently switched ON by default, MIOpen needs to be built with `-DMIOPEN_USE_COMGR=Off` for cross-compilation to function.

Cross-compilation cannot be used with compute-rocm-dkms-no-npi-hipclang docker images. Note that COMGR performance is much worse that offlice compilatio

[2022-02-22 23:41] atamazov commented on #1439
[Recommendation] No fix. Rebuild MIOpen with `-DMIOPEN_USE_COMGR=Off`.

[2022-02-23 01:23] shaojiewang commented on #1429
In #1354 , only [gfx90a6e.HIP.fdb.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1354/files#diff-2f8a22ec817c2920d8d6b5872234365e252c7513870e073538692729d5fc5eb8) is changed, but I think gfx90a68.HIP.fdb.txt and gfx90878.HIP.fdb.txt should also be changed because these archs are using same solver.

Yes, I agree. I will open an another PR to avoid too much paddings.

[2022-02-23 01:23] shaojiewang commented on #1429
Yes, you're right. I'll do it.

[2022-02-23 01:24] cderb commented on #1439
Thanks for the Insight @atamazov! I'll work this flag into our tuning code.

[2022-02-23 02:00] shaojiewang commented on #1429
Hi, no failure observed. Thanks.

[2022-02-23 13:06] atamazov commented on #1431
@junliume

Navi21 supports both 64 and 32, but 32 must be the default.

Yes.

[2022-02-23 14:05] atamazov opened #1440 "[Navi21] Consider usage of `GetMaxHardwareComputeUnits()` instead of `GetMaxComputeUnits()`."
For Navi21, the latter function returns a number of WGPs. The number of actual hardware CUs is twice bigger. The usage of number of WGPs when number of CUs is actually required may lead to underutilization of GPU.

The number of actual CUs is returned by `GetMaxHardwareComputeUnits()`.

I recommend double-checking of all places where `GetMaxComputeUnits()` is currently used for Navi21 (https://git

[2022-02-23 14:22] atamazov commented on #1431
@qianfengz

It should be 64 for devices that do not support the `wavefrontsize64` target feature (e.g. all gfx9). For Navi21 (actually, for all known gfx10), it should be 32 by default, but can be switched to 64 (see https://llvm.org/docs/AMDGPUUsage.html#target-features).

AFAICS, HIP runtime always returns 32 for gfx10. Actual warp size depends on wavesize values set by the compiler in the code

[2022-02-23 14:27] atamazov commented on #1429
Thank you very much, guys. Actually I missed "too much padding" during review (well, I've noticed it but wrongly decided that there is no harm).

[2022-02-23 20:44] cderb commented on #1439
Cross-compile functions as intended when building MIOpen with -DMIOPEN_USE_COMGR=Off. I'll close this issue as it no longer inhibits tuning.

[2022-02-23 20:44] #1439 closed

[2022-02-23 22:14] atamazov commented on #1412
@averinevg This looks good to me, please go ahead with PR ;)

[2022-02-23 22:30] atamazov commented on #1423
@junliume I recommend:
- Adding `add_custom_test(test_reduce_custom_float HALF_DISABLED...` with the only test case (`...--D 1024 30528...`)
- Removing `WORKAROUND_ISSUE_1423`
- And then closing this ticket

[2022-02-23 22:32] hansely opened #1441 "miopenBatchNormalizationForwardInference() failing"
`miopenBatchNormalizationForwardInference` function is failing when the nullptr is passed for mean & variance.

https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/master/amd_openvx_extensions/amd_nn/src/batch_normalization_layer.cpp#L121

The above function works fine but

https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/master/amd_openvx_extensions/amd_

[2022-02-23 22:33] atamazov commented on #1423
@qianfengz wrt https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1423#issuecomment-1038904243 -- let's keep in mind your idea ;)

[2022-02-23 22:50] atamazov opened #1442 "[BN] checkNumericsInput is called with nullptr"
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/df658f382c5af02133836a8fa5700a23b58c2ca0/src/ocl/batchnormocl.cpp#L171-L172

These numeric checks must not be performed when `(estimatedMean == nullptr)` or `(estimatedVariance == nullptr)`.

I highly recommend checking for similar issues in the rest of BN code.

[2022-02-23 22:55] atamazov commented on #1441
@hansely I do not think this is known issue.

Can you please provide us with reproduce instructions? This is absolutely necessary in order to start working on it.

[2022-02-23 23:27] hansely commented on #1441
Hi @atamazov . You'll have to build [MIVisionX](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX) first. You can either build it on your system or use the [docker](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX#docker).

After building MIVisionX, you can try running the unit tests for scale layer & batch norm layer.

Scale layer unit test : [Link](https://gith

[2022-02-23 23:33] muralinr commented on #1441
@hansely Could you please rule out issue from your side as mentioned by you because both functions call same kernel?

[2022-02-23 23:54] hansely commented on #1441
Both slice & batchnorm call the same function but with different parameters.
Slice pass nullptr for mean & varaince and 0 for epsilon.

[2022-02-23 23:58] muralinr commented on #1441
@hansely Can you please provide us input arguments in both slice and batchnorm calls?  You may dump them in both calls.

[2022-02-24 00:07] hansely commented on #1441
Batchnorm:

`miopenBatchNormalizationForwardInference(miopenHandle, miopenBNSpatial, &data->alpha, &data->beta, data->input_desc, data->input_mem, data->output_desc, data->output_mem, data->bnScaleBiasMeanVarDesc, data->bnScale, data->bnBias, data->bnMean, data->bnVariance, data->eps)`

Slice:

`miopenBatchNormalizationForwardInference(miopenHandle, miopenBNSpatial, &data->alpha, &data->beta, data

[2022-02-24 00:22] muralinr commented on #1441
@hansely I looked at your input arguments.  I would suggest not to use batchnorm op for Slice.  Batchnorm has division by squareroot of variance.  If variance is zero, it would result in Inf & NAN values which is expected in this case.  Even if we add epsilon value as 0.00001, input value is changed.
<img width="529" alt="Batchnorm" src="https://user-images.githubusercontent.com/33875998/155433281

[2022-02-24 00:26] hansely commented on #1441
@muralinr  I understand. However, on [miopen documentation](https://rocmsoftwareplatform.github.io/MIOpen/doc/html/batchnorm.html?highlight=miopenbatchnorm#miopenbatchnormalizationforwardinference) it says passing nullptr for mean & variance is allowed. They will just not be used.

[2022-02-24 00:44] muralinr commented on #1441
@hansely We will change documentation.  Batchnorm code uses mean and variance.

@atamazov @junliume How do I change documentation here?  I need to update the line saying that nullptr is not allowed for mean and variance.

https://rocmsoftwareplatform.github.io/MIOpen/doc/html/batchnorm.html?highlight=miopenbatchnorm#miopenbatchnormalizationforwardinference

[2022-02-24 10:50] carlushuang commented on #1440
@atamazov [MIOpen/src/hip/batched_transpose_sol.cpp](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/f02d9598fc02ad4fbf67d4f1cd88ed4e296f0961/src/hip/batched_transpose_sol.cpp#L302) will be used in any architecture, not only navi. Indeed this kernel is important in our NCHW xdlops support in gfx90a, by utilize this as NCHW<->NHWC transpose and re-use the NHWC kernel

[2022-02-24 15:16] junliume commented on #1423
Branch `fix_1423` was created a few days ago for that purpose. I wish to let it pass CI tests before making a PR :)

[2022-02-24 15:19] junliume commented on #1441
@muralinr @atamazov You can change it here:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/df658f382c5af02133836a8fa5700a23b58c2ca0/include/miopen/miopen.h#L2410

[2022-02-24 19:10] hansely commented on #1441
Thanks. Closing the issue.

[2022-02-24 21:45] atamazov commented on #1441
@muralinr

If this is not allowed, then MIOpen should MIOPEN_THROW with error message.

Let's close the issue when:
- Error handling is implemented
- Documentation updated.

[2022-02-24 21:50] atamazov commented on #1441
@muralinr Are you saying that the `else` branch is not needed here:

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/df658f382c5af02133836a8fa5700a23b58c2ca0/src/ocl/batchnormocl.cpp#L175 ... https://github.com/ROCmSoftwarePlatform/MIOpen/blob/df658f382c5af02133836a8fa5700a23b58c2ca0/src/ocl/batchnormocl.cpp#L224-L227 ...

[2022-02-24 22:16] atamazov commented on #1440
@carlushuang

Of course, I know that. Replacing `GetMaxComputeUnits()` with `GetMaxHardwareComputeUnits()` affects only gfx10 targets (see #677).

[2022-02-24 23:47] muralinr commented on #1441
No code change is needed.  We just need to update the current documentation saying that "If either estimatedMean, or estimatedVariance are null pointers then the values for the mean and variance will be calculated from input data and input values will be updated with this calculated mean and variance."  This will avoid confusion.

[2022-02-25 01:10] muralinr commented on #1441
@atamazov Do you want me to raise a PR with comment changed here on develop?
[MIOpen/include/miopen/miopen.h](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/df658f382c5af02133836a8fa5700a23b58c2ca0/include/miopen/miopen.h#L2410)

[2022-02-25 22:06] atamazov commented on #1427
@Griffintaur We need to reproduce the problem in order to fix it. Please provide full reproduce info.

[2022-02-25 22:15] atamazov commented on #560
@junliume The [TODO list](https://github.com/ROCmSoftwarePlatform/MIOpen/issues/560#issuecomment-719842997) is not done. Shall we really close this ticket?

[2022-02-25 22:21] atamazov commented on #1430
@emankov

Please tell us how important is this for you (high, moderate or low). We'll discuss your request internally and let you know.

[2022-03-01 04:55] hansely commented on #1441
@muralinr

Does this mean that having Inf & NaN as output values is a normal behavior?
Is passing nullptr to mean & variance an allowed behavior? If not, why is there a `else` part in the code?
Would you be able to create sample test cases to test the `else` part?

[2022-03-01 18:40] muralinr commented on #1441
@hansely  We will phase out current batchnorm code soon and are in the process of implementing new batchnorm code.  We are currently supporting blocking issues.  I will update documentation with correct API usage.

[2022-03-01 19:36] atamazov commented on #1441
@muralinr

These questions are good ones. AFAIU these have nothing to do with BN implementation, but closely realted to the API of BN. Can you provide answers please? Maybe the best solution is inclusion of answers into documentation in the upcoming PR ;)

[2022-03-02 02:31] junliume commented on #1441
@muralinr I think we should raise a PR to update the documentation first. The mentioned questions are good ones too, when we are implementing the new BNs. Thanks!

[2022-03-02 04:03] muralinr commented on #1441
Sure folks.  I will raise a PR to update the documentation first.

[2022-03-02 04:05] qianfengz commented on #1431
This lead to one more question,  how to let the warp size used by the host layer to be consistent with the `warpSize` seen by the kernel ?

[2022-03-02 16:05] #1423 closed

[2022-03-02 18:24] atamazov commented on #479
@junliume Please change value label to `unknown` and urgency label to `high`. Thanks.

[2022-03-02 23:20] atamazov commented on #1431
@qianfengz

Right now Solvers shall assume that warp size is 32 for all gfx10* GPUs and 64 for others.

[Future directions] Instead of the assumption, it may worth implementing relevant method in the handle, e.g. `GetDefaultWarpSize()`.

[2022-03-03 00:49] junliume commented on #479
Done!

[2022-03-03 00:50] junliume commented on #1431
@qianfengz  The Workaround should be sufficient for ROCm 5.1. Could you implement the full "fix" as suggested above as a follow-up? Thanks!

[2022-03-03 17:48] atamazov commented on #1430
@emankov Implemented in #1446

[2022-03-03 19:15] atamazov commented on #1431
@junliume I can do this, if you wish

[2022-03-03 22:24] junliume commented on #1431
Yes it would be much appreciated :)

[2022-03-04 00:00] muralinr commented on #1441
This PR is raised to update API documentation. https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1447

[2022-03-04 03:16] #1430 closed

[2022-03-04 13:14] carlushuang opened #1449 "MLIR kernel fail to run while tuning"
This is found while debugging [SWDEV-316705](https://ontrack-internal.amd.com/browse/SWDEV-316705)

on gfx908, latest develop branch, rocm-5.1

`MIOPEN_FIND_MODE=1  MIOPEN_FIND_ENFORCE=4   ./MIOpenDriver  conv -n 16 -c 186 -H 16 -W 16 -k 191 -y 3 -x 3 -p 1 -q 1 -u 2 -v 2 -l 1 -j 1 -m conv -g 1 -F 2 -t 1      2>&1 | tee log.txt`

This will fail in following solver:
after doing `export MIOPEN_DEBUG_

[2022-03-04 14:53] jerryyin commented on #1449
@carlushuang Thanks for reporting. I'd want to check for its urgency. Is the deadline of fixing tied to a recent release like ROCm 5.1 or ROCm 5.2?

[2022-03-04 18:59] atamazov commented on #1441
@muralinr

Excuse me, Murali, but I still have one Q: _Is current implementation correct?_

If it is correct, then the new BN shall just replicate existing behavior, and the questions have nothing to do with it.

Am I missing something?

[2022-03-04 19:41] atamazov commented on #1449
@jerryyin @junliume I think this is blocker issue.

This is internal fatal error in the MLIR compiler (llvm-based). As MLIR compilation is performed in process, this kind of error kills the library together with the users' application and unfortunately there is NO way to prevent it except disabling the guilty Solver.

As a quick W/A I recommend disabling all MLIR solvers until the root reason of t

[2022-03-04 20:51] muralinr commented on #1441
We will add more error checks in new BN implementation to avoid NANs for cases when espilon is ZERO and calculated variance is 0.  I will try to update current BN code itself to report espilon issues and avoid NANs.

[2022-03-04 21:22] hansely commented on #1441
@muralinr
When do you expect the new implementation to be released?

[2022-03-04 23:05] muralinr commented on #1441
@junliume Can you please comment on new BN implementation readiness date?

[2022-03-05 01:53] carlushuang commented on #1449
Thanks @atamazov
@jerryyin I would say it block part of that issue. But more importantly it will block the tuning when we release the next rocm by TUNA. So I also suggest fix this issue or have a W/A.
I mean, if in tuning MLIR does not support a specific config, it shouldn't raise an exception right?

cc @JehandadKhan

[2022-03-06 07:33] carlushuang opened #1452 "clang-format fail in latest develop branch."
latest code now has clang-format issue, introduced by https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1447

Now it will block our CI if we has an PR including above PR, like below example:
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/hot_fix_deterministic_in_is_applicable/1/pipeline
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/mlir-

[2022-03-06 07:39] carlushuang commented on #1452
#1453 will fix this issue.

[2022-03-07 14:42] SNikhilVashista opened #1455 "[question]clarification on binary operator"
1. Are source broadcast and blocking supported in MIOpen?

2. cuDNN supports certain combinations of inputs and output datatypes?
(refer table 10. https://docs.nvidia.com/deeplearning/cudnn/api/index.html#cudnnOpTensor)

Is there any such restrictions on MIOpen binary implementations, if yes, please provide any references if available.

[2022-03-07 16:27] jerryyin commented on #1449
@atamazov @carlushuang Confirming the issue is reproducible in my local environment. From the symptom looks like the applicability check somehow didn't function as expected. This shouldn't be too much work to finish the fix ASAP.

Let's shoot for having this fixed by ROCm 5.2 development complete date, within roughly 3 weeks.

CC: @whchung

[2022-03-07 17:51] #1452 closed

[2022-03-07 17:59] junliume commented on #1449
@JehandadKhan  would this block tuning for ROCm 5.1? The target resolve date is ROCM 5.2.

[2022-03-07 18:44] junliume commented on #1452
@carlushuang  thank you for the hotfix! Please feel free to ping me on Teams in similar cases, since I carry it with me all the time. :) GitHub notifications will reach me a bit later.

[2022-03-07 18:54] cderb commented on #1439
@JehandadKhan opened here
https://github.com/ROCmSoftwarePlatform/Tuna/pull/626

[2022-03-08 16:19] MaierOli2010 opened #1456 "Network build stage fails in clang call with segfault"
Just stumbled over the following error when building a CNN using ROCM 5.2 with the pre-build tensorflow-rocm package.

Running on Arch Linux and build ROCm from source. Version 4.3 worked on Arch without the error below.

[code]

It seemes that an `-isystem` is missing after `-isystem /opt/rocm/include` infront of `/opt/rocm/llvm/lib/clang/14.0.0/lib/linux/libclang_rt.builtins-x86_64.a `.

Buildin

[2022-03-08 18:57] junliume commented on #1456
@pfultz2 is there any changes needed for rbuild or cmakes? Your guidance would be appreciated :)

BTW~ could we host half/rbuild/cget to https://github.com/ROCmSoftwarePlatform ?

[2022-03-08 19:57] jerryyin commented on #1449
@carlushuang Please swap the MLIR dependency commit hash to af7328f0806531a8c47a8d5d085bc126c6b1c999 and rebuild dependency locally to unblock you.

I'll push [the ](https://github.com/ROCmSoftwarePlatform/llvm-project-mlir/pull/545) to merge ASAP and bump the MIOpen end commit hash once it is merged.

[2022-03-08 20:36] pfultz2 commented on #1456
This is most likely due to generate expressions in the flags for hip that we capture in cmake, and we need to update our parsing of cmake flags to handle generator expressions.

In MIGraphX, I updated the parsing to evaluate some of the generator expressions [here](https://github.com/ROCmSoftwarePlatform/AMDMIGraphX/pull/1055). However, MIOpen fixed the issue by just removing .a files in #1264, bu

[2022-03-08 22:08] jerryyin commented on #1449
@junliume @JehandadKhan If this turns out to be a problem in ROCm 5.1, we can backport the PR to MLIR ROCm 5.1 release branch. Just let me know if this is necessary.

[2022-03-09 22:01] jerryyin commented on #1449
Synced with @junliume and we decide to make this change incorporated into ROCm 5.2. Will close this PR once the commit is in MIOpen develop branch.

[2022-03-10 06:35] shaojiewang opened #1458 "There is no need to add padding for the most recent buffer because there is no buffer after it."
There is https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1354 which directly modifies fdb in order to resolve #1349 without retuning. It blindly adds 3*255 bytes to workspace size, which should be enough to align 4 sub-buffers.

**_There is no need to add padding for the most recent buffer because there is no buffer after it._**

I suspect that the reason of the issue is that `MultiBufferWorks

[2022-03-11 21:14] junliume opened #1460 "[bug][gfx908] 1x1 convolution failure passing from MIOpen to rocBLAS"
**./bin/MIOpenDriver conv -n 16 -c 76 -H 9 -W 9 -k 32 -y 1 -x 1 -p 0 -q 0 -u 1 -v 1 -l 1 -j 1 -m conv -g 1 -F 1 -t 1**

**On gfx908 :**

**On gfx90a:**

[2022-03-14 06:42] #1458 closed

[2022-03-14 19:17] junliume commented on #1460
It’s quite interesting that if you try the command on a fresh docker container, it would actually work. However, run it a few times, and it consistently fails thereafter.

[code]

[2022-03-15 05:14] #1429 closed

[2022-03-18 15:53] atamazov commented on #1431
[Preliminary] The reason of the issue is a bug in PCH. Why: Bug disappears with `export MIOPEN_DEBUG_COMGR_HIP_PCH_ENFORCE=0` (COMGR on, HIPRTC off). It seems like `warpSize` is coming from PCH, but these precompiled with fixed value of 64.

We need to open Jira ticket for this issue.

I am preparing workaround that should override `warpSize` with correct value. Stay tuned.

[2022-03-21 13:28] qianfengz commented on #1431
Yes, I just tested and  verified that the bug disappears with `MIOPEN_DEBUG_COMGR_HIP_PCH_ENFORCE=0`.   By searching under /opt/rocm/hip/include,   I can find that `__hipGetPCH` is declared, but I could not find where it is defined from HIP source.  Theoretically, we should be able to check the value of `warpSize` from PCH by writing simple codes using the `comgr` API.  And by checking the impleme

[2022-03-21 15:47] atamazov commented on #1460
Looks like a HIP runtime problem or issue in the invoker of ConvAsmImplicitGemmGTCDynamicFwdXdlops.

The difference between fresh and used container is: binary cache and find-db. Does removing these helps?

Is this scenario (test passed one or more times, then memory fault(s), then consistently out of resources) **_stable_** or **_random_**?

/cc @DrizztDoUrden

[2022-03-21 17:36] junliume opened #1468 "[CI][Navi21] add unit test to cover inconsistent warpSize between different HIP kernel building methods issue"
Sadly, this PR does not add this test case, and I am unable to find it in ./test/CMakeLists.txt. Maybe we shall add it to `test_reduce_custom_fp32_fp16` or to `test_reduce_custom_fp32`?

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1436#issuecomment-1074041499_

[2022-03-21 18:15] atamazov commented on #1468
@junliume Well, I just extended the scope of #1431 with the same task ;), see https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1431#issuecomment-1074043979. Shall we close this or revert changes in #1431?

[2022-03-21 19:03] junliume commented on #1468
@atamazov  thanks!
Close this one since duplicated changes in #1431

[2022-03-21 19:03] #1468 closed

[2022-03-21 19:33] atamazov commented on #1460
@junliume

Then this is most likely MIOpen issue. I am afraid _it'll be back_.
![image](https://user-images.githubusercontent.com/12697412/159349931-f678ae2e-9137-4546-bd22-cfbc48cb2b69.png)

Can you please find out if clearing find-db or clearing binary cache helps?

[2022-03-21 19:43] junliume commented on #1460
@cderb @JehandadKhan this is an easily reproducible issue with the above mentioned driver command, could you or assign someone to take a look?

[2022-03-22 12:52] qianfengz commented on #1431
A question, when adding a Unit test to test/CMakeLists.txt, how to ensure the test is executed using a specific ROCM version? I think the `inconsistent warpSize` does not occur with ROCM version between `[4.4, 5.0)`,  since `__hipGetPCH` is not available with ROCM in `[4.4, 5.0)`,  and I have verified this on ROCM `4.5.2` using `bin/test_reduce_test --all` and by checking `readelf -s -d libamdhip6

[2022-03-22 20:41] atamazov commented on #1431
Additional info which may help compiler developers. Passing `-DwarpSize=32` helps for HIP builds via COMGR. This would be the best and the simplest hack. Sadly, when I build HIP kernels via HIPRTC, the following error happens:
[code]
:arrow_up: The above denotes the source of the issue, a definition in amd_device_functions.h.

[2022-03-22 20:55] atamazov commented on #1431
@qianfengz This specific regression test is really fast so we do not need to skip it within [4.4, 5.0).

At build time, you can examine `MIOPEN_hip_VERSION_FLAT`/`MAJOR`/`MINOR`/`PATCH`. Example: https://github.com/ROCmSoftwarePlatform/MIOpen/blob/223b4b814676809274e105df70749fd189059a55/test/CMakeLists.txt#L1080
:warning: I do not like this idea and I recommend using it as a last resort.

[2022-03-23 03:24] qianfengz commented on #1431
I mean we need to use ROCM 4.3 or ROCM 5.0 to verify that the  issue is actually solved with our fixing.

[2022-03-23 03:47] qianfengz commented on #1431
Yes,  we could not pass `-DwarpSize=64` because `warpSize` is already declared as a constant.   So it is the compiler which sets the wrong value of __AMDGCN_WAVEFRONT_SIZE ?

[2022-03-23 10:37] sushkaur1 opened #1471 "Build MIOpen any single test independent of building MIOpen"
I want to build any one of the MIOpen tests (present at https://github.com/ROCmSoftwarePlatform/MIOpen/tree/amd-master/test ) without the need for building MIOpen.

Also, I tried to do the following to build a single test, but ran into include file issues:

**_cd MIOpen/test; mkdir build; cd build; cmake -DCMAKE_BUILD_TYPE=Debug .. ,  make test_conv_igemm_dynamic_xdlops_nhwc_wrw_bf16_gfx90a_**

ro

[2022-03-23 14:38] junliume commented on #1471
@pfultz2 I think this way (build test without building MIOpen) is not supported, right?

[2022-03-23 14:49] whchung opened #1472 "[MLIR] tuning search space is different when `MIOPEN_COMPILE_PARALLEL_LEVEL=1`"
Discovered while working on enabling KPACK for backward weight convolution in MLIR solver. More details to follow.

+ @jerryyin .

[2022-03-23 17:47] DrizztDoUrden commented on #1442
I can fix it, it's less than an hour of work.

[2022-03-23 18:18] atamazov commented on #1442
No objections. Or maybe @dmikushin is eager to to fix this? :smile:

[2022-03-23 18:55] atamazov opened #1473 "Build error: ROCMHeaderWrapper not found after #1454"
MIOpen build fails after #1454. Tried with vanilla ROCm 5.0 on two machines + rocm-cmake installed.

rocm-cmake installation/update:
[code]

MIOpen build:
[code]

@junliume @pfultz2 @arvindcheru :red_circle: This seems to be a blocker issue for me.

[2022-03-23 19:04] atamazov commented on #1473
Works on third machine... Maybe this is my local configuration issue. Closing until issue is clarified.

[2022-03-23 19:28] junliume commented on #1473
@atamazov MIOpen dependency needs to be updated (rocm-cmake specifically). I've met this issue once and re-ran the dependency installation fixed it. Let me know if this issue persists on your end. :)

[2022-03-23 19:32] atamazov commented on #1473
The reason was another, outdated, instance of rocm-cmake installed on my machine due to some reason, at `/usr/local/share/rocm/cmake`. Removal of it resolves the problem.

[2022-03-23 19:48] atamazov commented on #1471
@sushkaur1 If you want to build single test, do NOT `cd MIOpen/test` please. Example for `test_reduce_test`
1. configure MIOpen as usual, i.e. run `cmake ...`
2. `make -j test_reduce_test`

@junliume

Yes, because unit tests need the subject of testing, i.e. the library itself. CMake "knows" that and builds the library if it does not exist.

[2022-03-24 02:33] pfultz2 commented on #1471
No, its not supported, you need to build MIOpen with the tests. The tests use internal private classes as some are unit tests.

[2022-03-24 06:18] sushkaur1 commented on #1471
I'm fine if already MIOpen debian/rpm is installed in the /opt/rocm/ path and used while building the tests.
Only I don't want to build MIOpen from source but just build the tests alone using the existing MIOpen installed.

As suggested by @atamazov , I tried doing cmake and make in test folder but facing include errors:
root@ixt-sjc2-18:/root/Staging/MIOpen/test/build# make -j test_reduce_test
[

[2022-03-24 08:42] DrizztDoUrden commented on #1442
I think, I'll just do it.

[2022-03-24 16:47] atamazov opened #1476 "Post-merge review of #1419 "Universal tensor transform feature" and #1481..."
UPDATE: Leftovers:
- https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1419#discussion_r846165878
- https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1419#discussion_r834377391

@junliume Currently this is of `normal_urgency`

----
<details><summary><b><i>The 1st version of this ticket (outdated)</i></b></summary>

All review comments must be resolved (the most important ones are marked with :

[2022-03-24 16:57] junliume commented on #1476
@aska-0096 could you follow up with Artem's comments in #1419 asap?

[2022-03-24 18:31] atamazov commented on #1471
@sushkaur1 Problems with configuration phase.

When current dir is .../MIOpen/test/build, `cmake -DCMAKE_BUILD_TYPE=Debug ..` does NOT refer to the root of MIOpen, but uses .../MIOpen/test, which is wrong. You can use this:

[code]
Then, run make from the same directory.

Hint: When you change cmake options, clean up build directory.

[2022-03-24 18:33] atamazov commented on #1456
@junliume I am going to look into this & fix asap.

[2022-03-25 06:29] junliume commented on #1473
Need to reopen this issue due to break of backward compatibility:

@pfultz2 @arvindcheru please advice.

[Steps to reproduce]: pull any 5.0 docker and try to build MIOpen within it.

[2022-03-25 06:54] sushkaur1 commented on #1471
Hi @atamazov, Thanks for your input.
But I am intentionally doing the cmake and make steps from MIOpen/test/build directory, since I am trying to use the CMakeLists.txt present at MIOpen/test directory to build the tests only and NOT the MIOpen from the source.

[2022-03-25 07:07] atamazov commented on #1471
This won't work.

[2022-03-25 07:16] junliume opened #1477 "[ROCm 5.0] test_conv_for_implicit_gemm Failed"
[Log]:

[Here](http://micimaster.amd.com/blue/rest/organizations/jenkins/pipelines/MLLibs/pipelines/MIOpen/branches/update_docker_rocm502/runs/11/nodes/266/log/?start=0)
[gfx90a_bf16.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/8348272/gfx90a_bf16.log)
and attached

[Steps to Reproduce]
MI200 with ROCm 5.0

[2022-03-25 08:16] sushkaur1 commented on #1471
So is there any other MIOpen test/samples/examples that can be built the way I expect them to?

[2022-03-25 10:35] DrizztDoUrden commented on #747
Right now, most kernels are not added to kcache, only built through it. They are only stored in the invoker.

[2022-03-25 13:35] atamazov commented on #747
It looks like this feature it's not needed.

[2022-03-25 13:35] #747 closed

[2022-03-25 13:46] qianfengz commented on #1431
HIP uses the the scripts [hip_embed_pch.sh](https://github.com/ROCm-Developer-Tools/HIP/blob/rocm-4.3.x/bin/hip_embed_pch.sh) to generate the pre-compiled header. The command line to pre-compile the header file (`-E`) does not include the option `--cuda-gpu-arch=<xxx>` that is used by [HipBuildImpl](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/src/hip/hip_build_utils.cpp#L120-L124).

[2022-03-25 13:49] atamazov commented on #1473
@junliume

This is normal because 5.0 contains outdated dependencies (including rocm-cmake). Further releases will contain updated rocm-cmake because [requirements.txt is updated in #1454](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1454/files#diff-4d7c51b1efe9043e44439a949dfd92e5827321b34082903477fd04876edb7552).

The problem only affects developers who want to build fresh MIOpen with old

[2022-03-25 14:33] atamazov commented on #1431
@qianfengz **_Can you please open Jira ticket to ROCClr_** (as I've asked [here](https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1431#issuecomment-1072543830))? I can't do that.

And big thanks for the investigation! I believe it is worth adding this info to the Jira ticket.

Most likely the proper solution is to generate two PCH (for warp size 32 and 64). API is not an option for us because

[2022-03-25 14:34] arvindcheru commented on #1473
Thanks for comments/inputs @junliume , @atamazov.
As explained @atamazov in last comment, this dependency installation is done based on existing requirements.txt processing,  as per our last changes, we did addition of rocm-cmake also to it.
This was added, since the Wrapperfunction is only available from latest (0.7.3) releases of rocm-cmake.

Will try to understand whether we can handle existing

[2022-03-25 14:35] atamazov commented on #1477
[code]
This is internal compiler error. I recommend opening Jira ticket.

[2022-03-25 14:36] atamazov commented on #1477
Does it work fine with offline compiler or with COMGR?

[2022-03-25 14:42] atamazov commented on #1477
@junliume The only quick W/A that I can recommend for now is disabling the failing solver (`ConvHipImplicitGemmBwdDataV4R1Xdlops`) for BF16 && MI200.

[2022-03-25 14:47] atamazov commented on #1471
No. But what is the final purpose? just to build the tests? or to test the existing MIOpen installation?

[2022-03-25 14:54] junliume commented on #1473
@atamazov I ran the following script to install MIOpen, with the dependency installation:

mkdir -p install_dir && **cmake -P install_deps.cmake --minimum --prefix /root/MIOpen/install_dir** && \
mkdir -p build && cd build && export CXX=/opt/rocm/llvm/bin/clang++ && \
cmake -DMIOPEN_BACKEND=HIP **-DCMAKE_PREFIX_PATH="/root/MIOpen/install_dir"** ..

and still meet the above error, until I remove th

[2022-03-25 15:58] atamazov commented on #1477
please attach failing log.

[2022-03-25 16:02] junliume commented on #1477
MIOpen(HIP): Error [Do] 'amd_comgr_do_action(kind, handle, in.GetHandle(), out.GetHandle())' AMD_COMGR_ACTION_CODEGEN_BC_TO_RELOCATABLE: ERROR (1)
MIOpen(HIP): Error [BuildHip] comgr status = ERROR (1)
MIOpen(HIP): Warning [BuildHip] error: register rewriting failed: cycle in copy bundle
1 error generated.
/root/MIOpen/build/bin/test_conv2d --bfloat16 --cmode conv --pmode default --group-count 1 -

[2022-03-25 16:25] atamazov commented on #1477
So the compiler fails with both COMGR and HIPRTC, with the same Solver. What about offline compiler? (-DMIOPEN_USE_COMGR=Off) It's good to know when creating Jira ticket.

The quick W/A is still the same -- https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1477#issuecomment-1079095273.

[2022-03-25 16:46] junliume commented on #1477
Still failed with offline compiler. It looks like something we need to file them a ticket on :

**error: register rewriting failed: cycle in copy bundle**
1 error generated when compiling for gfx90a.
bin/test_conv2d --bfloat16 --cmode conv --pmode default --group-count 1 --input 64 256 35 35 --weights 64 256 1 1 --batch_size 64 --input_channels 256 --output_channels 64 --spatial_dim_elements 35 35

[2022-03-25 16:58] atamazov commented on #1477
Yes. This is compiler error (see https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1477#issuecomment-1079089221 :sunglasses:).

If `MIOPEN_DEBUG_CONV_IMPLICIT_GEMM_HIP_BWD_V4R1_XDLOPS=0` helps, then I can quickly create W/A.

[2022-03-25 17:11] junliume commented on #1477
Yes, `MIOPEN_DEBUG_CONV_IMPLICIT_GEMM_HIP_BWD_V4R1_XDLOPS=0` helps.
I've disabled `test_conv_for_implicit_gemm` in #1463 but seems that we can narrow down to this particular solver only.

[2022-03-25 17:40] junliume commented on #1477
Issue tracked at: [SWDEV-329642](https://ontrack-internal.amd.com/browse/SWDEV-329642)

[2022-03-25 18:08] arvindcheru commented on #1473
One observation, currently build is done with rbuild for me where this issue is not see, it will do the dependency installation to the deps_hip directory and in turn will proceed with success build.

@pfultz2,
 for now shall we add download like our previous version just an exception (for now) for rocm-cmake like we did https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1454/files/ef9930472b81351

[2022-03-25 18:08] sushkaur1 commented on #1471
The purpose is to build the MIOpen tests independent of the MIOpen building and run them using the already installed MIOpen.

[2022-03-25 19:01] atamazov commented on #1477
@junliume #1480 created.

[2022-03-25 19:16] atamazov commented on #1471
What you see in ./tests is _unit tests_ which can't be used in this way by definition.

But you can use MIOpenDriver in this way. Driver allows to test the most of the library's functionality.

Build the driver (`make -j MIOpenDriver`). This will build the library as well, but you can ignore it. Just run MIOpenDriver. IIRC it will use the installed library.

[2022-03-25 19:16] aska-0096 commented on #1476
@atamazov @junliume I send the PR #1481 to cover these review suggestions, hope it works.

[2022-03-25 20:49] pfultz2 commented on #1473
So `/opt/rocm` get preferred over the system path because cmake first searchs `CMAKE_INSTALL_PREFIX`, which is `/opt/rocm`.

So we could update install_deps.cmake to use rbuild, I think it would be better, but I am not sure why it works over what we do currently. The difference here is that rbuild will set `CMAKE_PREFIX_PATH`, whereas with install_deps.cmake, users are relying on the dependencies

[2022-03-25 20:53] pfultz2 commented on #1473
So #1482 is a proposed fix.

[2022-03-28 06:39] aska-0096 opened #1483 "[CI] http://www.zlib.net/zlib-1.2.11.tar.gz no longer available"
When I running CI for PR #1481, it failed in OpenCL tidy docker build step with error:
[code]
And I try to access the zlib url manually but failed again with:
[code]
I think the reason is that zlib has updated their version from 1.2.11 to 1.2.12 and the _**old version url**_ no longer accessible.
(https://www.zlib.net/) and tensor flow has met this kind of zlib version update problem 5 years ago.(

[2022-03-28 06:57] junliume commented on #1483
@pfultz2 it seems to be a blocker now for all CI processes. zlib seems to be from cget and needs to be changed there? It seems that 1.2.12 may just work.

[2022-03-28 09:36] carlushuang commented on #1483
http://zlib.net/fossils/ this link has some archived address, like http://zlib.net/fossils/zlib-1.2.11.tar.gz

[2022-03-28 11:04] qianfengz commented on #1431
@atamazov    Completely agree with you !

I have filed a JIRA   [SWDEV-329802](https://ontrack-internal.amd.com/browse/SWDEV-329802)

[2022-03-28 11:54] sushkaur1 commented on #1471
But since it builds the library first, It won't work for me.
I could resolve the include errors that I reported in the above comments while using the CMakeLists.txt in test folder, but now I'm stuck with the linker errors:
[ 50%] Linking CXX executable test_conv3d
**/usr/bin/ld: cannot find -lmiopen_data**
collect2: error: ld returned 1 exit status
CMakeFiles/test_conv3d.dir/build.make:100: recipe

[2022-03-28 15:27] pfultz2 commented on #1483
If you define the `ROCM_USE_MIOPEN_DEPS` env variable then it will pull zlib from the zigzag local machine.

[2022-03-28 16:46] whchung commented on #1483
https://github.com/ROCmSoftwarePlatform/rocm-recipes/pull/3

[2022-03-29 06:56] #1483 closed

[2022-03-29 17:16] sushkaur1 commented on #1471
Any Update?

[2022-03-29 18:36] junliume commented on #1471
@sushkaur1  as mentioned by comments above, the proposed way of working is not feasible without building MIOpen first. If you need to run tests, MIOpenDriver which is installed by default should be the way to go.

[2022-03-29 21:16] atamazov commented on #1471
Indeed))

[2022-03-30 07:27] JP-Ellis opened #1489 "Boost dependency can be (mostly) upgraded"
Previously, there was an incompatibility between Boost's `noinline` and what was provided within the HIP compiler which was initially reported in #658.  Since then, the Boost library has been patched through boostorg/config#393 which was included in Boost version 1.78.  As a result, I have tried again to see if I can avoid having to recompile Boost and use the system version and it mostly works.

[2022-03-31 07:20] DrizztDoUrden commented on #1476
Is there any specific reason for not basing this on TransposingSolver?https://github.com/ROCmSoftwarePlatform/MIOpen/blob/0c6bdeb3ff46505d65f69a8c6e72ec0eef29835a/src/include/miopen/utility/transposing_solver.hpp#L411
That removes a whole lot of duplications and doesn't require any modification to the transposed solver.
Example of usage: https://github.com/ROCmSoftwarePlatform/MIOpen/blob/0c6bdeb3

[2022-03-31 07:57] aska-0096 opened #1494 "[CTEST] "--weight" flag won't pass the expected value to weight tensor"
When I running CTEST in `/MIOpen/test/CMakeLists.txt` like:
[code]
I found that in the output
[code]
`--filter_dimis` does not give the expected filter_dims (1, 7) we passed to `--weight`, but the default one (3,3,) set by the `/miopen-aska/MIOpen/test/conv2d.cpp`.
And I check the relative part
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/0c6bdeb3ff46505d65f69a8c6e72ec0eef29835a/test/conv_c

[2022-03-31 13:06] shaojiewang opened #1495 "conv bwd-data error"
conv bwd-data got error when hi=wi=2, stride=2. Error case is:
./bin/MIOpenDriver conv -n 256 -c 2048 -H 2 -W 2 -k 1024 -y 1 -x 1 -p 0 -q 0 -u 2 -v 2 -l 1 -j 1 -g 1 -F 2 -t 1 -w 1 .

[2022-03-31 22:10] #1442 closed

[2022-03-31 22:22] junliume commented on #1494
@aska-0096 Can you generate a PR to fix this issue? Thanks!

[2022-03-31 23:45] junliume commented on #1489
Thanks! We are planning on removing dependency on boost (especially since it is 1.72 now) when upgrading to C++17.
@JehandadKhan  and @pfultz2  could you help to take a look is the current fix could helpful till the removal actually happens?

[2022-04-01 01:37] aska-0096 commented on #1494
PR #1498 is created.

[2022-04-04 22:20] atamazov commented on #1449
@jerryyin @junliume This is good, but if this issue is reproducible with current MIOpen develop + ROCm mainline, then we have a bug. If this is so, then we have to provide a workaround at least, ASAP.

@jerryyin Excuse me, but can you please clarify what is "this PR" and what is "the commit"?

[2022-04-04 22:24] atamazov commented on #1456
@junliume Can you please assign this to me to make it better visible, thanks.

[2022-04-04 22:29] jerryyin commented on #1449
@atamazov Sure, it is already merged one month ago here: https://github.com/ROCmSoftwarePlatform/llvm-project-mlir/pull/545

On the second look this is already incorporated in the MLIR's commit id so should not be reproducible now using the latest MIOpen. @carlushuang Mind giving this config a retest in latest MIOpen docker?

[2022-04-05 09:29] #1495 closed

[2022-04-05 15:49] jerryyin commented on #1449
Retested on tip of develop branch at commit 7604344 and verified the failure is no longer reproducible.

[2022-04-05 20:01] jerryyin commented on #1472
@jerryyin Could you fill out all the details you can remember? I can guarantee to reproduce when I got time to look at this with only information from the linked PR.

[2022-04-06 16:56] #898 closed

[2022-04-06 17:28] junliume commented on #1476
@aska-0096 could you take a look and respond to @DrizztDoUrden 's inquiries above? Thanks!

[2022-04-06 17:42] #1432 closed

[2022-04-06 20:58] junliume opened #1506 "[tests] Problem with Enabled PCH for testing builds that have COMGR enabled"
After merging https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1478, a few unit tests are failing so we have to revert #1478 for now.

The errors:
[code]

[2022-04-06 21:47] kiritigowda opened #1507 "Build - HIP Backend - Warnings"
[code]

[2022-04-06 22:04] junliume commented on #1507
Hi @kiritigowda, have you checked the latest develop branch of MIOpen? This issue should have been resolved by https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1322

@JehandadKhan  could you help update the releases on GitHub?

[2022-04-06 22:07] #1477 closed

[2022-04-07 02:35] aska-0096 commented on #1476
@DrizztDoUrden Sorry for late reply. I'd like to give three main advantage in tensor reorder solver.

Performance:
1. In tensor reorder method, we re-utilize the exist batched-transpose kernel for higher performance. You can refer to performance data in PR# 1419.
2. All Tensor reorder kernel is compiled in compile-time, and chosen via specific reorder sequence(i.e. Reorder NCHW to NHWC is (0,2,3,1

[2022-04-07 14:14] #1473 closed

[2022-04-07 14:56] atamazov commented on #1456
@junliume wrt https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1456#issuecomment-1090536363:

@junliume Most likely this is unrelated and, as diagnostic says, `std::` should be removed from line 104 in type.hpp (if I am right, then the origin of the issue is here: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1108/files#r845232142). Can you please try this simple fix and see if it helps

[2022-04-07 15:10] atamazov commented on #1506
Duplicate of #1476, let's close this.

[2022-04-07 16:36] junliume commented on #1494
@atamazov @aska-0096 will merge #1498 asap. Thanks!

[2022-04-07 18:21] kiritigowda commented on #1507
@asalmanp -- use the latest release for deps

[2022-04-08 02:01] junliume commented on #1427
@Griffintaur close issue for now for inactivity, please reopen and attach full info so that we can reproduce the issue.

[2022-04-08 02:01] #1427 closed

[2022-04-08 02:06] junliume commented on #1456
@atamazov  this (unrelated) issue should be fixed with removing #898  workaround (yes it's test only issues)

The original problem stated here: any recommendations where I should assign it? :)

[2022-04-08 02:06] #1494 closed

[2022-04-08 02:07] #1506 closed

[2022-04-08 02:08] junliume commented on #1476
Can we close this one since #1481 is merged?

[2022-04-08 14:08] atamazov commented on #1476
@junliume This can be closed after resolving all comments in

[2022-04-08 19:02] atamazov commented on #1476
7 comments from https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1419#pullrequestreview-920308419 are not resolved yet; couple of them are red.

[2022-04-08 19:06] atamazov commented on #1476
Description updated with https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1481#pullrequestreview-936525781.

[2022-04-08 19:07] atamazov commented on #1506
@junliume Thank you.

[2022-04-08 19:12] atamazov commented on #1456
@junliume Sorry for delaying (a vacation week interrupted me). Let me finish it. But the most experienced engineer in this field is @pfultz2

[2022-04-08 20:48] junliume opened #1512 "[SWDEV-327397] Need to enable HIPRTC by default (revert PR #1470)"
hipRTC is disabled for ROCm 5.1

[Potential Impacts]:
1. @atamazov  @JehandadKhan : how would it impact PyTorch wheel?
2. Blocking for future releases. Currently tracked by https://ontrack-internal.amd.com/browse/SWDEV-328784

[2022-04-09 11:12] aska-0096 commented on #1476
Updated in #1515. @atamazov

[2022-04-09 12:47] Slimakanzer opened #1516 "[Navi21] test_conv_ck_igemm_fwd_v6r1_dlops_nchw fails"
FP16, HIP backend

[2022-04-10 17:13] atamazov commented on #1512
There shouldn't be any impact unless COMGR-specific issues arise (no known ones at the moment IIRC).

[2022-04-10 17:15] atamazov commented on #1512
@junliume Can you please suggest what the `[Mainline]` tag in the title means?

[2022-04-10 22:18] atamazov commented on #1476
Description updated. @junliume Currently this is of `normal_urgency`

[2022-04-10 22:28] atamazov commented on #1516
@Slimakanzer Good finding! GPU type, ROCm version, Linux version, AMDGPU driver version? Is it reproducible in our CI?

[2022-04-11 05:55] junliume commented on #1516
@Slimakanzer @atamazov This issue has been observed recently and not only on Navi21s. It happens occasionally and restart the pipeline most times it will pass. I tested it locally on a Navi21 with 5.1 for both base OS and docker, and it consistently passes.
@asroy @zjing14 @carlushuang AFAIK this is a legacy CK kernel which will be replaced soon?

[2022-04-11 06:50] junliume commented on #1512
@atamazov I just removed the flag. Removing hipRTC support is getting a lot of questions especially from PyTorch side.

[2022-04-11 06:58] junliume opened #1517 "Revert #1509 since it breaks MIOpen CI"
@arvindcheru This change has to be reverted since it breaks MIOpen CI.
**It is another backward Incompatible change which could be problematic with MIOpen CI, staging CI, and even mainline builds**
Could you let us know the coordinated sync up timing for this change to happen?

_Originally posted by @junliume in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1509#issuecomment-1094622407_

[2022-04-11 18:38] atamazov commented on #1517
@arvindcheru #1509 says:

PR description is missing the explanation. **_Why the above is necessary?_**

@junliume If this breaks CI, then this is a blocker, right? :red_circle:

[2022-04-11 18:40] arvindcheru commented on #1517
Thanks for sharing the comments,
This requires rocblas (reorg changes) merged, So once reorg changes are available the headers will be in include/rocblas/rocblas.h

[2022-04-11 18:43] arvindcheru commented on #1517
So currently if the reorg changes are in, and we try to include like #include <rocblas.h> then we will get deprecated warnings
/opt/rocm-5.2.0-42/include/rocblas.h:14:2: warning: "This file is deprecated. Use the header file from /opt/rocm-5.2.0-42/include/rocblas/rocblas.h by using #include <rocblas/rocblas.h>" [-W#warnings]
#warning "This file is deprecated. Use the header file from /opt/rocm-5.

[2022-04-11 19:17] junliume commented on #1517
#1509 is already reverted in MIOpen, please open another PR and resolve the backward compatibility issues. Thanks!

[2022-04-11 19:44] arvindcheru commented on #1517
@atamazov , Thanks for the detailed comments.
@junliume, Thanks for quick action on it, will check the above shared details and will return back with a new PR as suggested, Thanks!

[2022-04-11 23:07] kiritigowda commented on #1507
@JehandadKhan will you provide a latest release tag or should we use the rocm-5.1.1 tag?

[2022-04-12 00:07] junliume commented on #1507
@kiritigowda could you provide the cmake commands used? I can test if the problem is still reproducible. Thanks!

[2022-04-12 14:26] atamazov commented on #1512
@junliume Can you please remind me why we had to disable HIPRTC?

I recommend renaming this to "Enable HIPRTC by default (revert PR #1470 + more?)" or something alike as current title may confuse the reader. Thanks!

[2022-04-12 16:08] junliume commented on #1512
@atamazov  but it only works at build time not runtime, right? For example, if user does not have hip-clang compiler installed on their nodes and decides to use SRIOV.

[2022-04-12 16:13] atamazov commented on #1512
It works at run time.

[2022-04-12 16:17] junliume commented on #1512
@atamazov Mmm ... okay let me try two approaches in parallel then:
1. "detected SRIOV" and enable/disable hipRTC at runtime. CC: @JehandadKhan
2. Analyze discrepancies when using hipRTC with SRIOV (current WIP).

[2022-04-12 20:36] junliume commented on #1456
@pfultz2 Can we use [TargetFlags.cmake](https://github.com/ROCmSoftwarePlatform/AMDMIGraphX/blob/develop/cmake/TargetFlags.cmake) in MIGraphX or something else also needs to change?
CC: @atamazov

[2022-04-12 20:47] junliume commented on #1456
**Update all ROCm 5.2 targeted PR/issues as blockers.**
No PR associated with this issue yet. Can we defer it to future release? Or if the above suggestion is feasible, we may land in timeframe.

[2022-04-13 21:52] atamazov commented on #1512
@junliume

This can be considered as an improvement of W/A for SRIOV (which is currently simply disables hipRTC), which can be done quickly and may make some of our customers happier)) Then we'll have more time for detailed investigations of hipRTC/SRIOV issue. Does it sound reasonable?

[2022-04-15 07:02] #1456 closed

[2022-04-22 17:26] atamazov commented on #1516
@junliume

This looks like a stability issue. Added to #1147.

If this error happens on our CI, and we still use 4.3.1 there, then I recommend postponing this until CI is upgraded.

[2022-04-24 12:16] DeeptimayeeSethi opened #1526 "Please enable two factor authentication in your github account"
@JP-Ellis;@newling;@alvano;@qianfengz;@zpwenjh;@reidkwja;@averinevg;

We are going to enforce two factor authentication in (https://github.com/ROCmSoftwarePlatform/) organization on 29th April, 2022 .
Since we identified you as outside collaborator for ROCmSoftwarePlatform organization, you need to enable two factor authentication in your github account else you shall be removed from the organizat

[2022-04-26 18:24] kvirikroma opened #1528 "row_bcast operand from src/kernels/reduction_functions.h leads to an error on gfx10"
Note: I'm new to ROCm and this error may be my own fault, but I still would be thankful for any kind of help.
I've compiled MIOpen from source and tried to use it with TensorFlow. It works fine with a simple dense network, but I've tried it on a  convolutional one and got an error on a training stage:
[code]
I've built MIOpen with following parameters:
[code]
Environment:
GPU: Radeon RX 6700 XT (N

[2022-04-26 20:52] JehandadKhan opened #1529 "Failed CK test on Navi FP16"
[code]

[2022-04-26 21:17] JehandadKhan commented on #1529
Duplicate of #1516

[2022-04-26 21:17] #1529 closed

[2022-04-27 09:58] xuhuisheng commented on #1528
This may be the reason.
<https://github.com/ROCmSoftwarePlatform/rocSPARSE/blob/develop/library/src/include/common.h#L218>

You can reference my patch to try it on gfx1031
<https://github.com/xuhuisheng/rocm-build/blob/master/patch/25.rocsparse-gfx10-1.patch>

[2022-04-27 18:26] kvirikroma commented on #1528
@xuhuisheng thank you for answer
I've already done that (using your rocm-build repo, which is really helpful btw) but, unfortunately, it did not help. I don't think it's related to rocSPARSE, because that code (which causes the error) is in the MIOpen

[2022-04-27 18:54] atamazov commented on #1528
@kvirikroma This is issue with inline assembly code used in BN OpenCL kernels. Note that gfx1031 is not officially supported. We can update MIOpen in order to resolve the issue. In order to help us to prioritize this work, please indicate importance of this issue for you.

/cc @junliume

[2022-04-27 19:12] kvirikroma commented on #1528
@atamazov it's not urgent for me because I do it al just for fun/learning/experience and will not lose any money because of the issue. But it would be great to get it working soon)

[2022-04-27 20:09] atamazov commented on #1528
@kvirikroma Okay. Luckily, the fix seems easy to implement. There is PR #1531, please review it first, then give it a try and let us know if it works for you.

[2022-04-28 17:12] kvirikroma commented on #1528
The issue was solved by @atamazov in https://github.com/atamazov/MIOpen/tree/generalize-gfx10 so I'm closing it

[2022-04-29 20:17] atamazov commented on #1528
@kvirikroma Technically, the issue is not closed until the PR is merged in. I recommend re-opening.

[2022-05-02 17:49] jerryyin opened #1535 "Enable gpu reference kernel for int8 fwd convolution"
MLIR team use `MIOPEN_DRIVER_USE_GPU_REFERENCE=1` for MIOpen test and validation.

However, GPU reference kernel does not support for int8 convolution as there is no int8 kernel defined in `src/kernels/gpu_reference_kernel/naive_conv.cpp` for `INT8 x INT8 x INT32` convolution type. Having such support will benefit the MLIR team's CI test performance.

Scheduling this to @carlushuang now as he is t

[2022-05-03 01:57] carlushuang commented on #1535
Hi @jerryyin thanks for asking.
The problem for int8 is we need to do quantization when using this datatype. In other words, if no quantization added inside kernel, the int8 kernel is not usable in reality, so as a production I think it's hard for MIOpen to add this functionality. If this is for internal purpose, is it OK to just use the original FP32 data type as a reference for you to verify ker

[2022-05-03 14:39] jerryyin commented on #1535
@carlushuang

Quantization wise, the other alternative for MIOpen is rocblas which also doesn't have quantization. Framework will just pick them up as-is (for int convolutions), quantization will be a seperate op. So no worry on that end.

Validation wise, though its do-able to flip just the validation of int8 to int32, this is not the most desirable way because it compromised the numerical precis

[2022-05-05 02:02] carlushuang commented on #1535
Hi @jerryyin thanks, sorry for delay due to holiday.

* If use int8 to do computation, and int32 for accumulation, the output wish to be int8 or int32? if wish int8, how do we desire the int32->int8 process? (like saturation? or just cut 8 bit?)
* Templating the data type of naive conv is doable, but previously no requirement on changing to different data type. If this is needed, yes naive conv ca

[2022-05-05 06:48] junliume commented on #1528
The PR is merged :)

[2022-05-05 14:46] jerryyin commented on #1535
- If I understand it right, then it should be: int8 computation, int32 accumulation and int32 as output. MLIR end we are shooting for int8 type and use int8 xdlops under the hood. Hopefully that gives you more informaiton.
 - Sounds good. int8 convolution is an inference only feature. So if you have time to work on it, you can work only on templatizing the fwd direction. Looking at the existing im

[2022-05-06 14:07] atamazov commented on #1535
My 5 cents. Basically the point of this ticket is that reference kernels should support all convolution types that the library supports. As library supports int8 (regardless of how useful it is without quantization), we need similar support in reference kernels.

I would recommend adding also _output_ type, so we can implement also INT8 x INT8 x FP32 convolution with INT32 accumulation which libra

[2022-05-06 15:36] gggh000 opened #1537 "tensor_ops.cpp does not build with debug switch on"
Due to following error in code:

enable debug:

build steps:

[code]

[2022-05-06 17:06] atamazov commented on #1537
@gggh000 I see you have fix on hand. Can you open a PR?

[2022-05-07 07:13] carlushuang commented on #1535
Thanks @jerryyin  @atamazov . I think now it's reasonable to do some refactor of this naive conv implementation.

cc @junliume for awareness.

[2022-05-10 21:45] junliume opened #1540 "MIOpen Build Issues on CS9 due to Boost 1.72 not compatible with glibc 2.34"
So this is a well known issue (I just found out with CS9 steam) with boost1{​69,70,72}​ and glibc-2.34:
[can't build on solaris 11.3 using gcc 8.3.0 · Issue #283 · boostorg/thread (github.com)](https://github.com/boostorg/thread/issues/283)
[code]
and PTHREAD_STACK_MIN is most likely defined as _sysconf such as 
[code]
**[Approaches Forward]:**

- This PR ([Fix Headers for Boost v1.78+ by JP-Ellis

[2022-05-12 19:10] rocm-mici opened #1542 "MIOPEN jenkinsfile fails with method code too large after reboot"
solution is to add this in jenkins script console but doesn't survive reboot need to make sure these can be a permanent fix
org.jenkinsci.plugins.pipeline.modeldefinition.parser.RuntimeASTTransformer.SCRIPT_SPLITTING_TRANSFORMATION=true

[2022-05-13 15:50] aska-0096 commented on #1535
Hi @jerryyin . Hope PR #1544 could solve this issue.

[2022-05-18 21:15] alexandraBara opened #1549 "Batch norm failure on gfx908"
I encountered bn configs failing on gfx908 while using the develop branch. Here are sample configs that failed (these are not all)
./bin/MIOpenDriver bnormfp16 -n 256 -c 64 -H 112 -W 112 -m 1 --forw 1 -b 0 -s 1 -r 1
./bin/MIOpenDriver bnormfp16 -n 256 -c 64 -H 112 -W 112 -m 1 --forw 0 -b 1 -r 1
 ./bin/MIOpenDriver bnormfp16 -n 256 -c 512 -H 7 -W 7 -m 1 --forw 1 -b 0 -s 1 -r 1
./bin/MIOpenDriver bn

[2022-05-18 21:15] alexandraBara commented on #1549
[bn_fail.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/8720939/bn_fail.txt)

[2022-05-18 21:40] muralinr commented on #1549
@alexandraBara What docker did you use on gfx908 machine?

[2022-05-18 22:49] muralinr commented on #1549
All above failed tests are passed on my gfx908 machine with this docker (superbench/main:rocm5.0.1-pytorch1.9.0).  Is this issue docker specific?

root@miopen908-1:/testx/MIOpen/build# ./bin/MIOpenDriver bnormfp16 -n 256 -c 64 -H 112 -W 112 -m 1 --forw 1 -b 0 -s 1 -r 1
MIOpenDriver bnormfp16 -n 256 -c 64 -H 112 -W 112 -m 1 --forw 1 -b 0 -s 1 -r 1
Forward train batch norm verification passed on run

[2022-05-19 15:03] alexandraBara commented on #1549
[bn_fail_extralog.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/8730486/bn_fail_extralog.txt)

[2022-05-19 15:04] alexandraBara commented on #1549
@muralinr  please see above file for extra logging. It seems like it might be docker specific since @junliume  ran a different docker on the same machine and it passed for him. Let me know if you see any indication from the above logs as to what might be causing it.

[2022-05-19 15:49] alexandraBara commented on #1549
It seems like the -mcpu argument comes up empty when running BN with the hip nogpu flag enabled and this causes the problem :
[code]

and this causes

[2022-05-19 19:31] muralinr commented on #485
All openCL kernels use __AMDGCN__ flag. This flag comes during kernel invocation.  Batchnorm code uses this __AMDGCN__ flag to use inline ASM code.  May be we should disable this flag when "-mcpu" is undefined.

#ifndef MIOPEN_USE_AMDGCN
#if defined(__AMDGCN__) && !(defined(MIO_BN_GFX103X) && MIO_BN_GFX103X)
#define MIOPEN_USE_AMDGCN 1
#else
#define MIOPEN_USE_AMDGCN 0
#endif
#endif

[2022-05-20 18:47] jerryyin opened #1554 "GemmFwdRest kernel runs 2561 times and yield wrong kernel execution time"
I'm very confused at the experiments conducted below. This config belong to Resnet50 therefore the workload get tested here is fairly important in its performance signature.

Note: To reproduce please use latest develop on a gfx908 machine.

[code]

### Results

Cmd output:
[code]

$ cat results.stats.csv
[code]

### Problem 1: Abnormal invocation times
 - Please refer to the second column for num

[2022-05-23 05:00] junliume commented on #1554
@illsilin  could you take a look at this issue?

[2022-05-23 14:40] illsilin commented on #1554
Will look into this today.

[2022-05-23 18:41] junliume commented on #1542
A good approach to start is to delete commented and outdated entries. Expect a PR this week for this.

[2022-05-23 21:25] illsilin commented on #1554
OK, so I have added an extensive debugging flag and piped all output to a log file. The log file has a bunch of lines of the following format:

MIOpen(HIP): Info [ConvolutionForward] algo = 0, workspace = 903168
MIOpen(HIP): Info2 [GetInvoker] Returning an invoker for problem 256x14x14x3x3x256x14x14x256xNCHWxINT8INT8INT32x1x1x1x1x1x1x1xF and algorithm miopenConvolutionFwdAlgoGEMM
MIOpen(HIP): Info

[2022-05-23 22:08] #1489 closed

[2022-05-25 06:11] junliume commented on #1554
Ping @DrizztDoUrden to also take a look from the host/API side.

[2022-05-25 15:12] #1540 closed

[2022-05-25 15:14] junliume commented on #1537
@gggh000 could you open an PR on this issue? Thanks!

[2022-05-25 15:17] junliume commented on #1526
@averinevg @qianfengz @zpwenjh  could you confirm if the procedure is implemented in your accounts? I am looking to close this issue by the end of May.

[2022-05-25 15:18] junliume commented on #1512
re-enabled by #1545

[2022-05-25 15:18] #1512 closed

[2022-05-25 15:20] junliume commented on #1507
@kiritigowda is this issue still observed? It should have been resolved as mentioned above. Thanks!

[2022-05-25 15:24] junliume commented on #1399
@technicalgrp89 could you follow up on this one? I am looking to close this soon. Thanks!

[2022-05-25 16:51] JehandadKhan commented on #1554
We discussed this with @asroy and it seems the driver is working as intended. The reason for the high count is as follows:

The driver calls MIOpen 10 times by default ( `-i` switch) and each convolution requires 256 ( once per batch size) so that makes 2560 rocBlas calls. On top of this there is one warmup MIOpen call by the driver and one additional rocblas call inside MIOpen to account for the

[2022-05-25 17:06] junliume commented on #1554
@jerryyin ping for the above analysis from MIOpen team.

[2022-05-25 17:50] atamazov commented on #1431
@junliume Please lower urgency to normal or low as we have W/A merged from #1469. Thanks!

[2022-05-25 17:58] atamazov commented on #1431
The next steps: Monitor SWDEV-329802. When it is resolved in HIP mainline, use HIP version to disable W/A (change definition of `WORKAROUND_ISSUE_1431`). Then this ticket can be closed.

Further steps (dismissing the W/A when it is not necessary anymore) are out of the scope of this ticket and to be performed during routine handling of existing W/As (covered in #561).

[2022-05-25 18:02] averinevg opened #1557 "[OpenCL] Several tests fail for OpenCL backend"
Several tests fail for OpenCL backend:
[code]
[code]
Branch: 8ecc622c254282a71881a0833182e2a7238dded5

[2022-05-25 18:06] atamazov commented on #1432
@averinevg 🎉

[2022-05-25 18:53] atamazov opened #1558 "[MLIR] Maintain compatibility with previous versions"
Discussion opened at https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1539#discussion_r881996230. Maybe we have a problem.

/cc @junliume @jerryyin

[2022-05-25 19:02] jerryyin commented on #1554
@junliume I believe @JehandadKhan is correct. Sorry for creating this false alarm and appreciate your quick response/triage. I made the mistake due to the lack of knowledge in how gemm algorithm works. Though I do want to take this chance to further my understanding by describing how gemm algorithm work with latest information from @JehandadKhan. Please let me know if I understand it correctly now

[2022-05-25 20:33] kiritigowda commented on #1507
Hi @junliume this issue is not observed in 2.16. thanks for updating the tags. We are now using the apt-get release to avoid future issues.

[2022-05-25 20:33] #1507 closed

[2022-05-26 02:08] densamoilov opened #1559 "[BUG][LRN][gfx90a] LRN output has incorrect sign"
In some cases LRN output has incorrect sign. The simplest way to reproduce it is to modify [lrn_test.cpp](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/test/lrn_test.cpp) in the following way:
[code]
I'm ussing the following command to run the test:
[code]
The output is the following:
[code]
As you can see the first value has incorrect sign. The LRN implementation for CPU in the test

[2022-05-26 04:30] qianfengz commented on #1526
[AMD Official Use Only - General]

@Liu, ***@***.***>

I have two factor authentication enabled using Microsoft Authenticator

Qianfeng
________________________________
From: Jun Liu ***@***.***>
Sent: Wednesday, May 25, 2022 11:17 PM
To: ROCmSoftwarePlatform/MIOpen ***@***.***>
Cc: Zhang, QianFeng ***@***.***>; Mention ***@***.***>
Subject: Re: [ROCmSoftwarePlatform/MIOpen] Please enable two fact

[2022-05-26 06:15] densamoilov commented on #1559
It looks like the bug is caused by using ‘sqrt’ to get the original value [here](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/5655643ac5622823e4957aa6c01652fb8d0162ad/src/kernels/MIOpenLRNFwd.cl#L508).

[2022-05-26 16:38] junliume commented on #1559
@densamoilov thank you for reporting this issue! It's also encouraged if you are proposing PR to the issue, while we will also investigate it.

@JehandadKhan it seems that from the logic negative input values are not supported, just wish to double confirm.

[2022-05-26 16:41] junliume commented on #1557
@averinevg MIOpenGEMM is not optional for OpenCL backend :) You need to enable this library using the cmake configuration flag `-DMIOPEN_USE_MIOPENGEMM=On`
If it is missing in the documentation, I think we need to fix the documentation too.

[2022-05-26 16:46] #1526 closed

[2022-05-26 16:52] junliume commented on #1537
@zjing14 could you raise a PR on this issue?

[2022-05-26 17:38] averinevg commented on #1557
@junliume Wouldn't it be better to add this flag automatically for OpenCL, or at least check that it is set?

[2022-05-26 17:41] DrizztDoUrden commented on #1557
Actually, it is on by default with opencl.

[2022-05-26 17:45] DrizztDoUrden commented on #1557
Unless it is not installed. And I don't think it is mandatory overall. Only when gemm would be the only applicable solver/whatever.

[2022-05-26 17:46] DrizztDoUrden commented on #1557
@averinevg do you have miopengemm-dev installed? It looks like MIOpen cmake didn't find it. It should have logged something like `Built without gemm`

[2022-05-26 17:49] DrizztDoUrden commented on #1557
In that case you would get an error you see for legacy code primitives and something like no applicable solver found for solver primitives.

[2022-05-26 17:53] averinevg commented on #1557
I don't have it installed

[2022-05-26 17:54] DrizztDoUrden commented on #1557
I guess, rnn requires any gemm implementation.

[2022-05-26 18:00] averinevg commented on #1557
In my understanding it should be solved as follows:

- Cmake prints error message and exits
- Or checks if miopengemm installed, and silently add `-DMIOPEN_USE_MIOPENGEMM=On`, or throw an error otherwise
- Or just give a warning and continue execution by disabling some tests

[2022-05-26 21:04] junliume commented on #1557
@averinevg Yes, it makes perfect sense that we should emit errors when OpenCL backend is selected while miopengemm is not installed.

[2022-05-27 05:02] xiaoyu-work opened #1563 "Unable to locate package miopenkernels"
Hi,

When I run my training code, I saw a warning: "MIOpen(HIP): Warning [SQLiteBase] Missing system database file: gfx90878.kdb Performance may degrade. Please follow instructions to install: https://github.com/ROCmSoftwarePlatform/MIOpen#installing-miopen-kernels-package", so I was trying to download miopenkernels packages. By running this script: https://github.com/ROCmSoftwarePlatform/MIOpen/b

[2022-05-27 05:18] junliume commented on #1563
Most likely the pre-compiled kernels are not uploaded to the public place for downloads.
@cderb  do you know how to ping Zhongyu for this issue?

[2022-05-27 05:44] xiaoyu-work commented on #1563
@junliume If it's not public, should the doc update this?

[2022-05-27 20:05] Slimakanzer opened #1564 "Conv Driver fails with default `vector_length` parameter"
Conv Driver throws an error with #1532 PR.

## Example
[code]

Seems the error in the `conv_driver` and the check should be `(vector_length == 1 && vector_dim == 0)`:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/93d1476463d281ff731e8aea394c44b09cdc1da7/driver/conv_driver.hpp#L575-L588

[2022-05-27 20:45] junliume opened #1565 "dpkg error installing MIOpen package"
After regular MIOpen build:
[code]
I have met the following error:
[code]
the whole output of the command is listed:
[code]

[2022-05-27 22:37] Slimakanzer opened #1566 "[GFX10] verification issues"
Verification fails after #1544 PR.

## Local setup
- rocm 5.1.0
- gfx1030

## Failed cases

[code]

[2022-05-27 22:49] junliume commented on #1566
@Slimakanzer @aska-0096 @carlushuang why would #1544 affect Winograd accuracy?

[2022-05-28 03:12] carlushuang commented on #1566
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/test/cpu_conv.hpp#L345
here, this `if...else...` seems problematic. Should use `int32_t` acc type when input is `int8_t`, `double` acc type when input is others. Let me fire a PR

[2022-05-28 03:33] aska-0096 commented on #1564
Thanks @Slimakanzer for report the problem, I made a stupid mistake.
Thanks @carlushuang for implement the hot fix.

[2022-05-28 04:03] carlushuang opened #1569 "[MIOpenDriver] currently no int8 available solver in most of the cases"
We should add naive conv to support `int8`, since currently not all configurations will be support in MIOpenDriver. Let naive conv has a fallback to support any cases.

e.g.: ` ./bin/MIOpenDriver convint8 -c 1 -H 24 -W 24 -y 1 -x 1 -k 1 -n 1 -p 1 -q 1 -u 1 -v 1 -l 1 -j 1 -F 1 -V 1 -i 1 -t 1`

- add `IsInt8()` in `ConvolutionDescriptor`
- let naive conv solver `IsApplicable()` pass if input is int8

[2022-05-28 04:07] aska-0096 commented on #1569
Got it.

[2022-05-28 14:48] zpwenjh commented on #1526
@junliume I have two factor authentication enabled too.

[2022-05-29 07:31] junliume commented on #1424
@DrizztDoUrden @shurale-nkn  could you reproduce this issue?

[2022-05-29 07:33] #1537 closed

[2022-05-29 07:33] #1557 closed

[2022-05-29 21:52] JP-Ellis opened #1570 "Single Threaded Build Issue: Missing MIOpenPasses.h.inc"
Over on the ROCm Arch Linux PKGBUILD repository, there has been an ongoing and difficult to debug build issue affecting users. It appears that this has been finally attributed to the lack of a parallel build when building the MIOpen source (see rocm-arch/rocm-arch#787 and rocm-arch/rocm-arch#785).

Specifically, it would appear that some of the build steps that make use of `mlir/Conversion/MIOpenP

[2022-05-30 07:07] #1542 closed

[2022-05-30 07:25] junliume commented on #1424
@carlushuang  @shaojiewang  do you have vega to test if the issue is reproducible?

[2022-05-30 07:29] junliume commented on #1570
@jerryyin  would this be the same or similar issue as we've seen with massive parallel builds? Could be a build order dependency issue.

[2022-05-30 07:33] junliume commented on #1563
@xiaoyu-work  could you try `apt install -y miopenkernels-gfx908-120kdb`?

@JehandadKhan It seems there could be an issue with https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/utils/install_precompiled_kernels.sh
or something has changed and this script is not updated

[2022-05-31 02:34] #1564 closed

[2022-05-31 02:35] #1566 closed

[2022-05-31 07:24] junliume commented on #1424
The problem is not reproducible on a gfx900 (with ROCm 5.0 base and ROCm 5.2 docker)
Lower the urgency level. However, it is still a "high" issue since it impacts MIOpen CI stability

[2022-05-31 14:32] #1476 closed

[2022-05-31 15:58] jerryyin commented on #1558
I had a discussion with @JehandadKhan and I developed the below reasonings based on the discussion. Let me know what your opinions are @atamazov, thank you!

## Feature definition - what

I'm assuming the definition of backward compatibility is that: MIOpen is able to compile with an arbitrary version of MLIR and still able to compile and not break in its functionality. Below will be based on this

[2022-06-01 22:24] junliume opened #1575 "rocBLAS (and other dependency) include path changes should be guarded and backward compatible"
@junliume I think this should depend on ROCBLAS version, as shown at https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1517#issuecomment-1095449543. Do you agree?

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1543#discussion_r886958057_

[2022-06-02 18:14] jerryyin opened #1576 "Regression in direct naive gpu convolution caused false positive test breakages"
I believe gpu reference convolution kernel for bwd is broken after #1532. I found this via bisecting into MIOpen commit history.

### Before #1532

Command
[code]

Output
[code]

### After #1532 + #1567 + #1568

Command
[code]

Output
[code]

### Summary

Based on #1567 and #1568 has nothing to do with gpu reference kernel, I suspect it is broken by #1532. In the before/after comparison I used the

[2022-06-03 01:08] densamoilov opened #1577 "[BUG][miopenOpTensor][gfx90a] Output is not correct when beta is 0 and C contains NANs"
`miopenOpTensor` produces incorrect result when output contains `NaN`s even though `beta` is 0.
The root-cause is that `beta` is always applied to the output resulting in `NaN` which then added to the operation result. Mathematically, it's correct but the general expectation is that beta scaling is skipped in such cases and result of the operation is written directly to the original output to avoi

[2022-06-03 06:12] aska-0096 commented on #1576
Thanks for the finding.
I can reproduce your problem. This occurs only when using gpu verification, cpu verifaction kernel is ok. let me check it.

[2022-06-03 11:00] aska-0096 commented on #1576
Hi @jerryyin @junliume
The reason to cause verification failed is gpu reference kernel data lost during cast and store into the host tensor, they are all zero. That's why bwd fp32 can work(Type of GPU and Type of Ref are equal, no need to cast), but fp16 and bfp16 failed.
I can repair it by change the way to construct the tensor which used to hold the gpu reference data, let me create the hotfix P

[2022-06-03 15:19] jerryyin commented on #1576
@aska-0096 Nice job in finding out the bug quickly! How did you realize the bug in such an unexpected place? Did you dump the input/filter and figured out they are all zeros, and start from there?

[2022-06-03 15:38] aska-0096 commented on #1576
Exactly.
I worked in this procedure:
1. test bwd conv in other data type and found that fp32 works well, meanwhile I check the miopen log info to make sure correct kernel invoked.
2. print the value of gpu reference tensor hold. -> found they are all zero.
3. check the verify part -> found this bug.

[2022-06-03 22:16] junliume commented on #1577
@zjing14 could you take a look at this issue?

[2022-06-06 07:49] junliume commented on #1424
Now this issue is happening on gfx908 again:
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/issue_1576_bwdfp16gpuref/5/pipeline

@JehandadKhan  could we assign one host/API engineer on this issue?

[2022-06-06 17:18] atamazov opened #1583 "Disable usage of entities from miopenDataType_t"
Disable use entities from miopenDataType_t because this may lead to elusive errors. For more info, see https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1578#discussion_r889038610.

Proposal:
- Create new header, `miopen_api_wrappers.hpp`. In the header
  - Wrap items from `miopenDataType_t` into enum class
  - Disable usage of items like `miopenHalf` using macros
  - Include `miopen_api_wrapper

[2022-06-06 17:19] junliume commented on #1424
After some discussion: @muralinr  could you try running this test multiple times on a MI100 development node, and see if we can reproduce it?
I would suggest some static code checks and see if there is anything suspicious.

[2022-06-06 17:21] atamazov commented on #1583
@jerryyin FYI

[2022-06-06 17:26] muralinr commented on #1424
Sure Jun.

[2022-06-06 18:26] muralinr commented on #1424
I am unable to reproduce this issue on my MI100 machine.  I will continue to analyze this issue to see if anything suspicious.

root@miopen908-1:/testx/MIOpen/build# ./bin/test_bn_3d_spatial_test --half --input 128, 32, 6, 6, 6
root@miopen908-1:/testx/MIOpen/build# ./bin/test_bn_3d_spatial_test --half --input 128, 32, 6, 6, 6
root@miopen908-1:/testx/MIOpen/build# ./bin/test_bn_3d_spatial_test --ha

[2022-06-06 18:30] jerryyin commented on #1583
@atamazov Thank you! The example is illuminating and it didn't occur to me that we can address it this way. This will nicely convert a runtime problem into compile time errors.

[2022-06-06 18:55] #1559 closed

[2022-06-07 03:06] densamoilov opened #1585 "Activation mode miopenActivationPOWER does not handle negative input"
~~Given that the formula for `miopenActivationPOWER` is  `y = (alpha + beta * x)^gamma` and that only [alpha=1 and beta=0](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/86960a41f401c2411702538ebac6fc6f9652e0ab/src/ocl/activ_ocl.cpp#L48) are supported the mode just converts all input values to 1. Do you have plans to at least support `alpha=0` and `beta=1` so that it can be used as a simple `

[2022-06-07 15:29] #1575 closed

[2022-06-07 15:29] #1563 closed

[2022-06-07 16:27] junliume commented on #1565
Not reproducible from a mainline build docker.

[2022-06-07 16:27] #1565 closed

[2022-06-07 20:06] densamoilov opened #1586 "[BUG][miopenBatchNormalizationForwardTraining][GFX1011] MIOpen fails to compile inline asm for GFX1011"
Running `miopenBatchNormalizationForwardTraining` for `miopenBNSpatial` on `GFX1011` results in using `gcn_reduce2` which is implemented via inline asm that doesn't seem to be supported by `GFX1011`. I found that you recently [disabled ](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/62d20d44f34c6539f423ece93a709b71614644fa/src/kernels/MIOpenBatchNormFwdTrainSpatial.cl#L36)`gcn_reduce2` for `

[2022-06-07 20:31] junliume commented on #1586
GFX1011 (Navi12) is not officially supported and legacy system. However, it seems to be a straightforward change we can make and let's discuss it @muralinr

[2022-06-07 20:38] densamoilov commented on #1586
@junliume, thanks for the quick response. Is there a list of officially supported architectures?

[2022-06-07 20:59] junliume commented on #1586
@densamoilov it is listed in the ROCm installation guide:
https://docs.amd.com/bundle/ROCm-Installation-Guide-v5.1.3/page/Prerequisite_Actions.html#d3019e198

[2022-06-08 04:09] densamoilov commented on #1585
@junliume, I think the question about alpha and beta is no longer relevant because that was cause by incorrect API use. Though the question about negative input is still relevant.

[2022-06-08 14:01] atamazov commented on #1585
@junliume @densamoilov So the question is how shall MIOpen handle cases when `X < 0`, where `X = (alpha + beta * x)`. I see two immediate possibilities:
- (1) Assume that `result = 0`. This is the current implementation
- (2) Observe `gamma` and, if it is integer, then compute `result = X^gamma`. Otherwise, assume that `result = 0`

@densamoilov Which variant of implementation do you prefer? I wou

[2022-06-08 19:08] junliume commented on #1405
Yes, we plan to replace the BN OCL kernels after CK integration, that's why I am trying to disable a few legacy BN and OCL related tests to keep CI stable at the moment.
CC: @asroy @JehandadKhan @zjing14

[2022-06-08 19:58] densamoilov commented on #1585
We are working on integration of MIOpen into [oneDNN](https://github.com/oneapi-src/oneDNN). In a number of cases there is a difference in semantics of some operations and `miopenActivationPOWER` is one of them. Particularly, in oneDNN `power` behavior is aligned with `pow` function from C++ numerics library. The rationale for that is definition of `pow` in the major ML frameworks such as [PyTorch

[2022-06-08 22:16] zjing14 commented on #1577
@muralinr Can you take care of it, as you are more familiar with the OCL kernel?

[2022-06-08 23:33] muralinr commented on #1577
Hi @zjing14

Sure Jing.

[2022-06-09 00:35] muralinr commented on #1577
We need to add if condition to check for beta to equal to 0 in the innermost loop in the nested loop.  This would result in huge performance penalty.  However, we can if condition outside nested loop and duplicate code in else part which would result in code size increase.  I will check with @junliume  and @zjing14 and make code changes accordingly.

[2022-06-09 20:49] densamoilov opened #1590 "Question: Performance implications when using tensors [N, C, 1, 1] vs [N, C]"
Suppose I want to perform `miopenOpTensor` operation for a 2D tensor. What are the performance implications when `miopenOpTensor` is used for a tensor `[N, C, 1, 1]` vs `[N, C]`? I found that there are different code paths for tensors with different number of dimensions, for example `[N, C, 1, 1]` case will go to the code path under `USE_4D_TENSOR_GENERIC`.

[2022-06-10 06:56] #1516 closed

[2022-06-10 18:49] alexandraBara commented on #1549
Reopening the issue, since we can are still seeing this issue and we found it is not related to using the nogpu backend. @daniellowell  investigated the failure and was able to reproduce it. @daniellowell  can  you please post your findings here.

[2022-06-10 18:54] daniellowell commented on #1549
From the output:

[code]

Seems to be 2 issues that I can see with the failing compile line. First is that

`ds = mad(xhat4.x, (_FLOAT_PREC)dyRead4.x, ds);`

One of the above variables is not the same type as the others. Which means the compiler does not know which function to call, all double, all float, or all half. Might have been hiding there for a while. Not sure as this particular kernel has

[2022-06-10 18:58] daniellowell commented on #1549
To reproduce:

`docker pull rocm/miopen-private:alex_datatype_fix`

Then launch the docker container:

`docker run -it --network host -v /home/miopenpdb:/data --device=/dev/kfd --device=/dev/dri --group-add video ocm/miopen-private:alex_datatype_fix`

Go to:

`cd /root/dFin/_hip`

Create a file `fin_input.json` with this contents:

[code]

build:

`make -j`

Run the command:

`MIOPEN_LOG_LEVEL=6 .

[2022-06-10 19:21] daniellowell commented on #1549
To reproduce minimally:

[code]

that is the command to reproduce in the folder: `src/kernels`

[2022-06-10 19:39] daniellowell commented on #1586
@junliume No gfx10xx will support broadcasting down with DPP instructions as SIMD width 32 is not compatible with this type of instruction. Currently MIOpen filters via gfx1030, but that is not sufficient and will encounter this issue with any architecture gfx10xx or greater.

[2022-06-10 19:46] daniellowell commented on #1441
Epsilon is specifically designed to prevent numerical instability. It isn't recommended to have it be zero.
In addition, recalculating mean and variance during inference is extremely inefficient.

[2022-06-10 20:41] jerryyin commented on #1558
@atamazov Gentle ping. If you think this feature has to be in ROCm 5.3 please let me know soon because there's only ~2 weeks left till dev complete. Otherwise if this is not of immediate urgency we can hold the pace in discussion and do it in ROCm 5.4 time frame.

[2022-06-10 20:51] atamazov commented on #1586
@junliume

Unfortunately, no. There are some important differences between Navi2x (RDNA2, Radeon RX 6000) and Navi1x (RDNA1, Radeon RX5000). IIRC Navi1x lacks dot product ALU ops that Navi2x have, and some Navi2x FMA operations are not available on Navi1x (they have MAD instead, but MAD has worse precision). So we have to check these aspects at least.

And I think we can remove the `bug` label.

@

[2022-06-10 20:55] atamazov commented on #1586
@daniellowell Yep, it seems like it is worth to filter out DPP for all gfx10 devices.

[2022-06-10 21:04] atamazov commented on #1558
Agreed.

[2022-06-10 21:06] densamoilov commented on #1586
@atamazov, not critical, we just happen to use it for testing.

I think, in documentation we will refer to the list of officially supported hardware in the case oneDNN is used with MIOpen so as long as it's not there I think we are good.

[2022-06-10 21:48] atamazov commented on #1558
@jerryyin The "backward compatibility" may be very useful for triaging issues. When we get a bug report, and MLIR is the suspect, it is nice to roll back MLIR to some previous version and see if the problem disappears or not.

From the other point of view, MIOpen should be available for bisecting (and in this case we can require QA to perform it when they open tickets in Jira).

For backwards comp

[2022-06-10 21:56] atamazov commented on #1586
@densamoilov All right, thanks. I think we shall track this ticket as a low-priority enhancement (if everyone agrees)

[2022-06-10 22:09] muralinr commented on #1586
@atamazov I agree. It's low priority enhancement.

[2022-06-10 22:19] junliume commented on #1549
@shurale-nkn  could you take a look at this issue?

[2022-06-11 01:55] shurale-nkn commented on #1549
This kernel uses mixed precision computations, float for acc and half for data.
So expected to use V_MAD_MIX_F32, but we don't have mixed math MAD in opencl.h

Other kernels prefer to ignore mixed precision and use only one data type (half) for data and acc.

[2022-06-13 14:49] jerryyin commented on #1576
Per @aska-0096 here: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1578#issuecomment-1146089410, I believe another missing item is to get test_gpu_reference_kernel tracked under a smoke stage. (right now it seems to be a target not tracked by automated test but can only run manually?)

[2022-06-13 14:49] jerryyin commented on #1576
Per @aska-0096 here: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1578#issuecomment-1146089410, I believe another missing item is to get test_gpu_reference_kernel tracked under a smoke stage. (right now it seems to be a target not tracked by automated test but can only run manually?)

[2022-06-13 16:04] jerryyin commented on #1576
Reopening for clarification of the last comment. I'd be willing to contribute if needed.

[2022-06-14 19:47] gullabi commented on #114
Our clusters have rocm4.5, MIOpen v2.9.0, CentOS 8.1.1911 and a shared file system and we are having the same problem. During a multinode training we are receiving file not found error for the perf-db files,

[code]

The problem does not occur on single or double node processes but starting from 4 nodes, we are receiving this error, however the perf-db files do exist. We assumed that it was due to

[2022-06-14 20:11] dmikushin commented on #114
@gullabi , distributed filesystems often seen on clusters may introduce specific issues into the file I/O. I assume the `/home/bsc88/bsc88474/.config/miopen//gfx906_60.HIP.2_9_0_8252-64506314e.ufdb.txt` is hosted by NFS. NFS deploys file locking to allow concurrent access. This specific behavior is usually not addressed by general-purpose software. You can configure `MIOPEN_USER_DB_PATH` in your b

[2022-06-15 21:53] atamazov commented on #1576
@jerryyin

`test_gpu_reference_kernel` is not related to this issue (the reason of it is a bug in MIOpenDriver), therefore regression tests for this issue do not touch `test_gpu_reference_kernel`.

`test_gpu_reference_kernel` is used in smoke tests as usual.

Note that for INT8 and BF16 all tests except those explicitly listed in SKIP_ALL_EXCEPT_TESTS are disabled (this is legacy stuff 😉), so `tes

[2022-06-15 22:09] atamazov commented on #1558
@jerryyin

True!

Right! When MLIR is the suspect, switch it off and try. If it helps, enable it back and bisect MLIR. Otherwise the reason is somewhere  MIOpen and we can bisect MIOpen while keeping MLIR disabled.

Yes, of course))

Yes. It seems easy to explicitly cause build errors when MIIR_VERSION_FLAT is too small. Or we can reject at the CMake level. Or we may just not worry about it ;)

[2022-06-16 01:47] aska-0096 commented on #1576
Thanks to @atamazov 's response, it gave us a structured overview of MIOpen ctest, which would be beneficial for any MIOpen developer, I recommend adding it to the MIOpen wiki. Great work!
cc. @junliume

[2022-06-16 14:30] jerryyin commented on #1558
@atamazov Thank you for clarifying. I will leave this ticket open and as the motivation for tracking:
 1. #863
 2. The reminder to bump `MIIR_VERSION_FLAT` in API or invoker changes
 3. If QA starts reporting issues of version mismatches, consider creating a version discoverable from MIOpen's `find_package`. This is such that MIOpen can reject wrong version of MLIR at the cmake configure time

[2022-06-16 15:12] atamazov commented on #1558
@jerryyin Good! Please also label this with `specification` or `request_for_comments` (I can't)

[2022-06-16 15:20] atamazov commented on #1576
In wiki, we can just add a link to the comment (https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1576#issuecomment-1156983158) under the header like "_Structured overview of of test/CMakeLists.txt_". Easy and fast))

[2022-06-17 01:09] shurale-nkn commented on #1549
Well, first about the conditions when error can occur.
1) This is NoGPU runtime
2) This is a system with a GPU, otherwise the MIOpenDriver will die earlier, before kernel selection
3) MIOpen should be compiled without `-DBUILD_DEV=On`.

-   With `-DBUILD_DEV=On`  OpenCL kernel will be compiled with  ``-Weverything``. In that case Clang should check correctness of arguments and return an error if `

[2022-06-17 02:24] aska-0096 commented on #1576
Yes, I create this [page](https://github.com/ROCmSoftwarePlatform/MIOpen/wiki/Structured-overview-of-of-test-CMakeLists.txt)
BTW, I think there are no topic left in this ticket, let me close it.

[2022-06-17 02:24] #1576 closed

[2022-06-17 13:58] jerryyin commented on #1576
Thank you @atamazov for your thorough explanation, `file(GLOB TESTS *.cpp)` is not something I'm aware of and I'm glad to learn about this.

Also thanks @aska-0096 jumping in and handle this immediately after reported.

[2022-06-20 01:21] aska-0096 commented on #1569
Close since PR#1572 has been merged.

[2022-06-20 01:21] #1569 closed

[2022-06-20 15:55] daniellowell commented on #1387
Should always be a power of 2, otherwise binary reduction needs extra checks which will slow that piece.

Might want to consider deprecating `MIO_BN_VARIANT == 2` multi-kernel implementation. Those are multi-stage reductions across the grid. In rare cases it might be faster than a single kernel approach, but I think that is pretty rare. In any case, it is a pretty complicated design as it was one

[2022-06-20 16:41] atamazov commented on #1387
@daniellowell Good recommendation, thanks!

Just to note that deprecation must be thoroughly tested against performance regressions.

[2022-06-21 23:14] atamazov commented on #1424
@junliume Excuse me, but I think it's too soon to close this. We have W/A, which allows to reduce urgency. But we do not know the root reason of the issue yet, and we do not have a fix.

[2022-06-23 06:46] xiaoyu-work opened #1600 "No precompiled kernels found for MI200"
Hi,

I was trying to run [this script](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/utils/install_precompiled_kernels.sh) on MI200 machine, which has gfx90a architecture. While I was not able to install the package and got error:
[code]

Does this precompiled kernel package support MI200 gfx90a architecture? Or which package should I install?

Thanks.

[2022-06-23 08:02] xuhuisheng commented on #1600
there is no kdb
http://repo.radeon.com/rocm/apt/5.1.1/pool/main/m/miopenkernels-gfx90a-110/

[2022-06-23 17:56] junliume commented on #1600
@xiaoyu-work could you please try the following instead?
`sudo apt install -y miopenkernels-gfx90a-110pkg`
The issue is fixed in develop branch and ready for the next release.

[2022-06-23 22:29] junliume commented on #1558
@jerryyin  any follow-ups on this issue?

[2022-06-23 22:31] junliume commented on #1577
While Murali is OoO, @zjing14  could you take a look at the above approach suggested by Daniel?

[2022-06-23 22:33] junliume commented on #1549
@JehandadKhan  could you take a look since it is NoGPU runtime?

[2022-06-24 18:45] shurale-nkn commented on #1549
^

PR #1603 should resolve this Errors.

But not errors from the first message. This is NoGPU related errors.

[2022-06-24 20:52] krzysz00 opened #1604 "[MLIR] Include directory for libMLIRMIOpen not set correctly when it's installed separate from other dependencies"
Steps to reproduce (extracted from attempts to simplify MLIR's CI).
1. Install all the requirements _except_ `llvm-project-mlir` (by deleting that line) to `/usr/local` or somewhere else in the global search path
2. Build `llvm-project-mlir` with `-DBUILD_FAT_LIBMLIRMIOPEN=1` and `cmake --install . --component libMLIRMIOpen --prefix /a/directory`
3. `cmake . -G Unix\ Makefiles -B build -DMIOPEN_US

[2022-06-25 01:13] jnordberg opened #1606 "Missing gfx1030_40"
Getting this warning when using my 6900XT with pytorch:

[code]

Tried following the instructions as well as building from source but still getting the warning

[2022-06-27 17:16] pfultz2 commented on #1583
Alternatively, you could just constrain the constructor to not take enums as inputs:

[code]

[2022-06-27 17:27] pfultz2 commented on #1583
Even better would be to add a clang-tidy or cppcheck check to warn on implicit conversions of an enum to a integer, which can catch this for any new enum types in the future(like `miopenProblemDirection_t`, or `miopenTensorArgumentId_t`)

[2022-06-27 19:22] atamazov commented on #1583
@pfultz2 Yep, it is worth trying this approach to see how many explicit conversions are required.

[2022-06-27 19:36] atamazov commented on #1583
@pfultz2 The potential problem is that warnings on implicit conversions will appear with all enums, and there may be too many of them.

[2022-06-27 23:03] v01dXYZ opened #1610 "Documentation: Keep only one markup language"
Proposition to convert all the restructuredTxt to myST.

Update:
The associated PR actually  converts the rst to md

[2022-06-28 21:27] atamazov commented on #1583
@pfultz2

Thanks for feedback. I am unable to find anything suitable among clang-tidy checks. Going to try with https://clang.llvm.org/extra/clang-tidy/checks/bugprone/suspicious-enum-usage.html, but, according to the doc, it shouldn't warn implicit enum->int conversions. In cppcheck I do not see any enum-specific checks at all. I am experimenting with clang-tidy right now.

Possibly proceeding wi

[2022-06-28 23:37] pfultz2 commented on #1583
Yea there isnt one. We need to add the check. Using a matcher like this will find when enums are passed to functions with integral parameters(you can test this with `clang-query`):

[code]

We just need to wrap this in a tidy check(with some tests) and submit it to llvm.

Newer cppcheck does have addons to write checks that dont have to be upstreamed:

https://github.com/danmar/cppcheck/blob/main/

[2022-06-29 06:27] v01dXYZ commented on #1590
Some details when looking at the code:

* `OpTensor` with `[N, C, 1, 1]` uses `AddKernel` with the following arguments
[code]

* `OpTensor` with `[N, C]` uses `AddKernel` with the following arguments
[code]

[2022-06-29 08:13] v01dXYZ commented on #1604
Hello,

It seems the cmake file solely use `find_library`, which doesn't return any include directory. So maybe it would be necessary to create a cmake package for `MLIR-MIOPEN` or to induce the include directory from the path to library (by doing something sort of `DIRNAME(LIBMLIRMIOPEN)/../include`).

1. MIOPEN CMakeFiles.txt https://github.com/ROCmSoftwarePlatform/MIOpen/blob/8d67ae8b6a84b48deb

[2022-06-29 16:10] atamazov commented on #1583
@pfultz2 Thanks for detailed explanations and proposals.

Unfortunately, `MIOPEN_REQUIRES` covers only a small subset of potential problems with unscoped enums.

WRT adding clang-tidy check I will either do it myself or ask compiler guys to implement it (as they have everything on hand). However, a lot of time will pass before the appearance of this check in the next release of ROCm. Do you advise

[2022-06-29 16:14] atamazov commented on #1610
Motivation (from https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1607#issuecomment-1169369839):

@v01dXYZ

[2022-06-29 16:30] atamazov commented on #1610
In the documentation, yes. But the developers would need to learn reStructuredText, while Markdown is already well known to all github users. So maybe this point is not an advantage (I am not objecting, just to note)

This makes it easier for developers to find the right file. However, it will be necessary to come up with unambiguous criteria for placing files on one or another branch of the tree.

[2022-06-29 22:46] junliume commented on #1606
@jnordberg could you please try the following:
[code]
then change the name of `gfx1030_36.kdb` to `gfx1030_40.kdb`

This is a temporary workaround and we will fix it in the next release

[2022-06-29 22:48] junliume commented on #1604
@jerryyin Could you take on the request from @v01dXYZ ? Thanks!

[2022-06-29 23:30] jnordberg commented on #1606
I've tried that but still getting the error, is there some other place where I need to rename it as well?

[code]

[2022-06-30 11:27] v01dXYZ commented on #1610
You're right. My suggestions are a little bit too opinionated without strong arguments (file renaming, rst over md).

I should provide instead a small MR that converts the rst to md without anything else.

[2022-06-30 14:01] shurale-nkn opened #1613 "[BUG][GFX1030] Random Memory access faults on gfx1030."
[Keywords]:
test; gfx1030;

[Description]:
Random Memory access faults on gfx1030.
5 different PRs failed at a random stage, but always with gfx1030.

http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/test-int8-mlir-nonxdlops/2/pipeline

<details><summary>log info</summary>

[code]
</details>

http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/int

[2022-06-30 14:05] shurale-nkn commented on #1613
@atamazov FYI

[2022-06-30 19:14] JehandadKhan commented on #1460
@atamazov  Can you please investigate this, if you have time ?

[2022-06-30 19:43] junliume commented on #1606
CC: @JehandadKhan  strange it does not work even with renamed KDB

I have a W6800 where the CU number is different from 36 too, @jnordberg  could you let me know the minimal steps to reproduce this issue so that I can try from my end too?

[2022-07-01 18:41] xinlipn opened #1617 "GPU dependent MIOpen tests disabled/present without supporting GPU?"
Had a discussion with Jun, not 100% sure if GPU dependent tasks such as test_activation should be present when no supporting GPU is found.

Here is the partial list of the results after calling "make check" to initiate tests on a no GPU platform:
.....
Start   1: test_activation
  8/103 Test   #1: test_activation .......................................***Not Run (Disabled)   0.00 sec

....
Start

[2022-07-01 18:55] atamazov commented on #1604
I agree with the above recommendation. If this is a way to go, then this ticket should be moved to https://github.com/ROCmSoftwarePlatform/llvm-project-mlir

[2022-07-01 19:23] atamazov commented on #1610
Note that the implementation at #1612 does just the opposite. Maybe it worth to update the topmost comment.

[2022-07-01 19:34] atamazov commented on #1617
And this is why test_include_inliner runs, while test_activation does not. Is there something wrong?

[2022-07-01 19:35] atamazov commented on #1617
Please feel free to rename `SKIP_ALL_EXCEPT_TESTS` to `SKIP_ALL_EXCEPT_THESE_TESTS` ))

[2022-07-01 19:47] atamazov commented on #1613
I'll try to look into this.

[2022-07-01 23:46] atamazov commented on #1460
@JehandadKhan With pleasure, but I do not have gfx908/90a available. Or there is some MI100/200 node available for open-source developers?

[2022-07-01 23:46] atamazov commented on #1460
Or this is reproducible on MI50 or Navi21?

[2022-07-02 00:13] atamazov commented on #1606
@jnordberg

Please notice that this is not an error, but **_warning_**. And copying the system .kdb file (or making a link) _**must**_ resolve issue with .kdb warning message.

Maybe now you see some other warning -- something similar, but related to find-db or perf-db. This should not happen as well, because we have machinery for selection of the closest .fdb and .db files when the number of CUs

[2022-07-05 03:40] densamoilov opened #1620 "What layouts does MIOpen support?"
From the documentation it's not clear what layouts are supported in MIOpen in general and in operations in particular.
Documentation for [miopenSet4dTensorDescriptor](https://rocmsoftwareplatform.github.io/MIOpen/doc/html/tensor.html#miopenset4dtensordescriptor) has a confusing message that " MIOpen currently only implements NCHW layout". I find it confusing because there is another API - `miopenS

[2022-07-05 03:54] densamoilov commented on #1590
The reason I have my question is that MIOpen has different code path for tensors with different number of dimension. So I wanted to clarify whether it makes sense to create tensor descriptors for the exact number of the given dimension or I could just generalize the logic to always use a 4D tensor. Apparently, it works from functional perspective but I'm worrying about performance.

[2022-07-05 10:37] Slimakanzer opened #1621 "[BUG][GFX1030] GemmFwdRest: memory access fault"
[code]

<details>
<summary> MIOpen log </summary>

[code]

</details>

[2022-07-05 15:36] krzysz00 commented on #1604
Yeah, having MLIR generate a CMake package is probably the cleanest solution - I'll raise an issue on our end to look into it, but keep this open so we have an issue number for when this gets fixed

[2022-07-05 18:38] shurale-nkn commented on #1621
@Slimakanzer
Does this error occur every time ?
Please describe the settings of this system. (ROCm or Docker..)

FYI @atamazov @junliume
#1613

[2022-07-05 19:15] atamazov commented on #1621
[code]
Most likely, the reason is that workspace size is > 4 Gb which exceeds the 32-bit addressing used in Im2col kernels.

The simplest proposed fix is limiting applicability of the solvers that use Im2col/col2im machinery.

If rocblas is able to handle >4GB tensors, then it may worth implementing 64-bit Im2col/col2im and use it when necessary.

[2022-07-05 23:16] muralinr commented on #1577
Sure Daniel. I was OOO.  I will work on this issue.

[2022-07-06 06:51] muralinr commented on #1577
Raised PR#1623 to address this issue. https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1623

[2022-07-06 12:04] #1455 closed

[2022-07-06 19:57] densamoilov opened #1624 "cudnnTransformTensor doesn't support data conversion"
`miopenTransformTensor` only allows to change layout of data without data type conversion. There are generally 3 cases where it's used:
1. Quantization (low precision inference): f32 -> int8, f16->int8 conversion (with applying a scale)
2. Downconvert (low precision inference): f32 -> f16
3. Upconvert: f16 -> f32 (for operations that don't support f16)

`cudnnTransformTensor` supports all the 3 ca

[2022-07-07 15:58] JehandadKhan opened #1626 "[Tests] MIOpen CTest use GPU for verification"
The MIOpen Driver has a mode, where the verification is done on the GPU using naive convolution kernels. A similar functionality in the tests would allow us to improve the performance of our tests and reduce the time required for our CI pipeline.

@atamazov  Can I bother you to take a look at this task? I think this would have a huge impact on developer productivity.

[2022-07-07 16:11] atamazov commented on #1626
Let me look into this after July 20

[2022-07-07 23:41] junliume opened #1628 "[noGPU] Tests failed when building with noGPU - should skip them"
The following tests FAILED when building MIOpen on WSL (no GPU platform)
[code]
due to
[code]
We should remove these two tests from the following line:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/8b7e20c0d94a7a0a5acaab260e45aa8047c45672/test/CMakeLists.txt#L216

[2022-07-08 00:01] junliume commented on #1053
@xinlipn  I have tested a few times, and it seems that at least for the HIP backend, this workaround can be removed.

[2022-07-08 20:04] 7910f6ba7ee4 opened #1629 "mlir_build.cpp build error with miirGetWorkspaceSize"
I'm attempting to install MIOpen rocm 5.2.0 via the AUR on Manjaro and patching errors. I'm getting a build error originating from mlir_build.cpp:
[code]

Trying the suggestion of capitalizing the M results in:
[code]
How would I go about solving this? Is miirGetWorkspaceSize supposed to be previously declared?
Also please notify me if I left out any important diagnostics or this is a simple fix,

[2022-07-08 22:57] 7910f6ba7ee4 commented on #1629
Resolved after updating `rocm-llvm-mlir` to 5.2.0

[2022-07-08 22:57] #1629 closed

[2022-07-11 21:59] densamoilov commented on #1620
@JehandadKhan, @junliume, friendly ping.

[2022-07-11 22:00] densamoilov commented on #1624
@JehandadKhan, @junliume, friendly ping.

[2022-07-11 22:00] xiaoyu-work commented on #1600
Hi @junliume , apt install -y miopenkernels-gfx90a-110 doesn't work for new released ROCm 5.2 image: https://hub.docker.com/layers/dev-ubuntu-20.04/rocm/dev-ubuntu-20.04/5.2-complete/images/sha256-4030c8af0c06c286174758523dabe4b3850bf72d4a8c1ef275d3ec69aa475f65?context=explore. Can you fix this?

[2022-07-12 16:12] pfultz2 commented on #1583
Here is the review for llvm: https://reviews.llvm.org/D129570

I personally would think it would be better to wait as the wrappers might introduce other issues in the future that may be harder to diagnose, but its up to you.

[2022-07-12 21:19] junliume commented on #1600
@xiaoyu-work
could you please try:
[code]
we will fix the inconsistency in the script. CC: @JehandadKhan

[2022-07-12 23:41] junliume opened #1632 "[Question] Does MIOpen provide a fused API like cuDNN's [cudnnConvolutionBiasActivationForward] ?"
Quote from a customer:
"
When doing Inferencing benchmark on gfx90a, we found that for models with Convolution(+Bias)+Activation(Relu) operations, MIOpen is missing a fused API like cuDNN, which is [cudnnConvolutionBiasActivationForward](https://docs.nvidia.com/deeplearning/cudnn/api/index.html#cudnnConvolutionBiasActivationForward). Is MIOpen going to add support for such API? Or it can only be s

[2022-07-13 21:18] xiaoyu-work commented on #1600
Thanks @junliume . This package name works. Which package name will be the final one?

[2022-07-14 16:01] junliume commented on #1628
@xinlipn this should be a good starter for a simple PR :)

[2022-07-15 17:19] junliume commented on #1632
MIOpen already supports such fused ops via fusion API, could the customer clarify what might be preventing them from using it?.

https://rocmsoftwareplatform.github.io/MIOpen/doc/html/Getting_Started_FusionAPI.html

[2022-07-15 17:19] #1632 closed

[2022-07-18 18:26] #1628 closed

[2022-07-18 19:18] okakarpa opened #1636 "MIOPEN/CK fails if /dev/dri and /dev/kfd has render group instead of video"
MIOPEN/CK CI fails if /dev/dri and /dev/kfd has render group instead of video group on baremetal

For ubuntu-20.04 the default group of /dev/dri and /dev/kfd is render but CI expects them to be in video group causing cliinfo failing the CI.

The reboot job is taking care of changing permissions but the solution isn't ideal.

[2022-07-19 16:18] JehandadKhan commented on #1636
Then what is the solution?

[2022-07-20 18:05] junliume commented on #1621
@Slimakanzer
Can we verify if the following W/A works?

[2022-07-20 20:44] atamazov commented on #1590
@densamoilov

For better performance I recommend using the former approach for now.

AFAIU the singular dimensions (those of size 1) can be relatively easily "collapsed into nothing" so the library would automatically switch from 4D to 3D tensors, for example. But this kind of optimization has not yet been designed/implemented.

Please let us know if you would like this optimization to be implemen

[2022-07-21 01:01] densamoilov commented on #1590
That was mostly a general question about possible approaches. Thanks for clarifying this.

[2022-07-21 04:28] junliume commented on #1620
@JehandadKhan @zjing14 could you help with the question?

[2022-07-21 04:30] junliume commented on #1624
@JehandadKhan  @carlushuang could you help with the comment?

[2022-07-21 04:34] junliume commented on #1617
Resolved by #1635

[2022-07-21 04:34] #1617 closed

[2022-07-21 04:44] junliume opened #1638 "[CI] Fp32 OpenCL gfx908 test_conv_igemm_dynamic_xdlops_fwd test failed"
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/develop/698/pipeline/253

This is likely due to #1619

/var/jenkins/workspace/MLLibs_MIOpen_develop/build/bin/test_conv2d --float --cmode conv --pmode default --group-count 1 --disable-backward-data --disable-backward-weights --input 128 48 35 35 --weights 64 48 5 5 --batch_size 128 --input_channels 48 --output_channels 64

[2022-07-21 17:15] #1610 closed

[2022-07-21 18:42] JehandadKhan commented on #1620
@densamoilov

1. Support in MIOpen for NHWC layout is currently limited to Convolutions and BatchNorm. With convolutions being performance optimized while for BatchNorm the optimized kernels are in development. The `enum` that you refer to is currently only targeting convolutions as you can see from the linked PR.
2. Your interpretation for the `miopenSetTensorDescriptor` API is correct.

Please l

[2022-07-21 21:35] junliume opened #1641 "[Redo #1612] Fix make doc issues if all rst are converted to md"
#1612 has to be reverted due to the following issue:
[code]

[2022-07-21 21:36] junliume commented on #1641
@v01dXYZ  are you interested in continuing this work?

[2022-07-22 01:46] junliume opened #1642 "[Tensorflow] observed kernel_tests:pool_test_gpu failure after #1296"
It seems that PR #1296 has caused this issue in Tensorflow Unit Test Failure

**[Symptom]**
[code]
shows that the following test has failed:
[code]
However, none of the MIOPEN environmental variables seem to be effective in the log output. The only info available in the log is:
[code]
**[Steps to Reproduce]:**
[code]

[2022-07-22 02:26] junliume commented on #1642
Here are the collected commands:
[code]

and if I run them individually:
[code]

Hopefully this is helpful.

[2022-07-23 09:27] v01dXYZ commented on #1641
@junliume I'll look at it by debugging `MyST` code.

[2022-07-23 14:42] shurale-nkn commented on #1621
@junliume
I can verify and I will create a fix PR.

[2022-07-25 14:41] atamazov commented on #1621
@junliume The full-blown fix which @shurale-nkn is developing is the best solution for the problem.

[2022-07-25 14:43] atamazov commented on #1641
@junliume @v01dXYZ Maybe it is worth reverting the #1612 at first in order to quickly resolve the issue?

[2022-07-25 17:52] atamazov commented on #1549
@junliume
- Now we have W/A in #1603, so the urgency may be lowered to normal.
- However we need someone who can properly resolve the problem [described above](https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1549#issuecomment-1152644636). The description is quite good and gives a brief picture of when needs to be done.
- I am second to @daniellowell and recommend assigning @muralinr, if he h

[2022-07-25 18:07] muralinr commented on #1549
Current Batchnorm code will be phased out soon.  I am not sure it's worth the effort at this point of time if we have W/A fix.  I will let @junliume to comment on it.

[2022-07-25 18:42] junliume commented on #1641
#1612 has been reverted on July 21st to unblock CI :)

[2022-07-25 20:11] junliume commented on #1621
@DrizztDoUrden  and @atamazov : we are having some issues with `Fp32 OpenCL Debug gfx1030` stage
[code]

[2022-07-25 20:17] junliume commented on #1638
Reduce urgency while keeping this ticket open since the solution so far is a workaround.

[2022-07-25 20:18] junliume commented on #1636
@okakarpa Are we moving forward with this issue?

[2022-07-25 20:22] illsilin commented on #1636
I haven't observed any CI crashes due to GPU not detected in any of CK branches since last Monday. So as far as CK team is concerned, the issue seems to be resolved.

[2022-07-25 20:23] #1636 closed

[2022-07-25 20:41] atamazov commented on #1636
@okakarpa @junliume Let's try to get some experience out of this. _What has changed?_

[2022-07-25 20:41] dmikushin commented on #1621
Should be `#ifdef` instead of `#if`?

[2022-07-25 20:44] atamazov commented on #1621
@junliume @dmikushin #1644 is **_draft_** (that's why I said "_[is developing](https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1621#issuecomment-1194140310)_") and not expected to work 😄

[2022-07-25 20:47] junliume commented on #1636
Has CK updated based OS from 18.04 to 20.04 in the time frame? @illsilin

[2022-07-25 20:49] junliume commented on #1642
@DrizztDoUrden this issue is blocking the release. Can we afford to revert PR #1296? We still have a few days though.

[2022-07-25 20:51] illsilin commented on #1636
We are still using the same docker file with Ubuntu 18.04 for CK.
I suspect the solution was to change the group of the offending folders /dev/dri and /dev/kfd from render to video on all the jenkins nodes that run Ubuntu 20.04.
Is that correct, @okakarpa ?

[2022-07-25 21:00] JehandadKhan commented on #1624
Hello @densamoilov, Thanks for  drawing our attention to this disparity. We have added this to our roadmap and will update the issue when we have a PR to fix this.

[2022-07-25 21:07] atamazov commented on #1642
@junliume [Hint]

[code]

[2022-07-25 21:26] junliume commented on #1642
Thanks! Yes, I figured that out and generated the commands above :)

[2022-07-25 21:28] atamazov opened #1647 "[driver][pool] #1313 is missing fixes in Pooling_logging_cmd()."
#1313 is missing some changes in `Pooling_logging_cmd()`. Example of symptoms: https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1642#issuecomment-1192114173.

@junliume @DrizztDoUrden This is a bug of normal priority (formally) because it affects debugging only, but...

[2022-07-25 21:29] atamazov commented on #1642
@junliume #1647 opened

[2022-07-25 21:33] atamazov commented on #1642
@junliume It would be handy if log is collected and attached to the ticket. Suggested env:
[code]

[2022-07-25 21:39] atamazov commented on #1642
@junliume

There should be no problems with Tensorflow build after reverting. However, I do not remember how important is the backward pooling support (which it implements).

Does reverting #1296 resolve the issue?

[2022-07-25 22:25] densamoilov commented on #1624
Thank you !

[2022-07-26 10:27] DrizztDoUrden commented on #1647
Yeah, I guess, I should just fix that. Missed that completely. At some point we should probably make the args parsing a two-way process so we would be able to reuse it to produce command line without duplicating the logic.

[2022-07-26 12:15] Slimakanzer opened #1648 "[BUG] compile errors with HIPRTC"
Naive_conv compilation fails with HIPRTC (`-Wreserved-identifier`, `-Wold-style-cast`).

[code]

<details>
<summary> MIOpen log </summary>

[code]

</details>

## Local setup:
- rocm 5.2.0
- gfx1030
- docker with MIOpen deps: slimakanzer/miopen:miopen-rocm-52

[2022-07-26 12:32] atamazov commented on #1648
👍

@junliume @Slimakanzer Please indicate urgency/importance asap.

[2022-07-26 12:47] atamazov commented on #1647
Yes, there is dependence. I missed that too during review.

[2022-07-26 15:25] dmikushin commented on #1648
So, according to the RTC design, runtime compilation implicitly includes a
builtin header, which in case of HIPRTC is hipRTC_header.h. So,
double-undescored names and other runtime internals are legitimate here, as
the header explicitly takes portions of the runtime headers. I believe,
-Wreserved-identifier must be disregarded or silenced in this context. The
(int) warning is valid and should be c

[2022-07-26 15:31] atamazov commented on #1648
@dmikushin You are welcome to fix this. Please let us know if you wish to be assigned))

[2022-07-26 15:36] junliume commented on #1648
@dmikushin

Yes and I think that is already the case. I cannot reproduce the issue on a bare metal gfx1030, or from a mainline build docker (#10405).
In this case, `Conv_Winograd_v21_1_3_fp32_stride1.s` should already exists in `src/kernels`. So there must be some special operations to reproduce this issue. @Slimakanzer  could you elaborate? Thanks!

[2022-07-26 15:56] junliume commented on #1648
@dmikushin @atamazov  _(Correction to my previous comment):_
**[Steps to reproduce]**:
[code]
it might be easy to suppress the warning at `.clang-tidy`:
[code]
**However**, it still failed with a different error:
[code]

[2022-07-26 15:58] junliume commented on #1648
Here is the short log:
[code]

[2022-07-26 16:22] Slimakanzer commented on #1648
@atamazov @dmikushin
Should we introduce another one `WORKAROUND_ISSUE_1648` and add the following options to the `comgr.cpp` until it will be fixed in RTC? https://github.com/ROCmSoftwarePlatform/MIOpen/blob/634bdaab80672fa0c148a05c7652a76374484da8/src/comgr.cpp#L1294-L1296
[code]

In this case MIOpen runs without errors:

<details>
<summary> MIOpen log </summary>

[code]

</details>

[2022-07-26 16:35] dmikushin commented on #1648
@Slimakanzer Yes, I think this should be a good quickfix. Could you please give it a try and ensure nothing else pops up

[2022-07-26 16:37] dmikushin commented on #1648
@junliume clang-tidy here is just a check, not a part of the compilation itself, right? If yes, then the failure here comes from the clang, because warnings are treated as errors.

[2022-07-26 16:40] junliume commented on #1648
@dmikushin  yes you are right, and @Slimakanzer 's proposal above seems to be working on my dev machine.

maybe you can add it under the existing MACRO:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/634bdaab80672fa0c148a05c7652a76374484da8/src/comgr.cpp#L1291

This line was added to resolve a very similar issue: "[hiprtc] "macro name is a reserved identifier" warnings (hipRTC_header.h)"

[2022-07-26 17:23] #1053 closed

[2022-07-26 17:30] junliume commented on #1642
@atamazov  the issue is pinned to #1296 but it might be difficult to revert it alone due to confict.

Here is the complete log:
[test.zip](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9192059/test.zip)

[2022-07-27 06:23] HikariTJU opened #1651 "No precompiled kernels found for MI210"
Update:
I copied  gfx90a6e.kdb to gfx90a68.kdb, still get the error
[code]
__________________________________________________

Hi, I'm using MI210 which is gfx90a arch and has 104 compute units.
I have updated the apt source list
![image](https://user-images.githubusercontent.com/30501451/181176191-418be85f-d1db-4caf-94e4-86c2028bf41d.png)

But no matching version is found
[code]
Any solution？

[2022-07-27 15:21] #1651 closed

[2022-07-27 15:29] DrizztDoUrden commented on #1642
Just to reiterate: the problem is not caused by argument parsing: miopen is not called from cmdline from the test.

[2022-07-27 15:32] DrizztDoUrden commented on #1642
Also corrected cmd lines from your comment are:
[code]
As a sidenote `-F 2` may require to be removed to be validated correctly by running both forward and backward.

[2022-07-27 15:47] junliume commented on #1642
@DrizztDoUrden Thanks! Now one puzzle is resolved: the debug outputs (commands) are not the same as the one executed and are outdated (this should be resolved BTW).

The bigger problem is `AssertionError: 0.500274658203125 not less than 0.01` , I have tested that the starting point for this regression is #1296

[2022-07-27 16:08] junliume commented on #1651
@HikariTJU  which ROCm release are you using?

[2022-07-27 16:21] HikariTJU commented on #1651
@junliume  5.2.1 ,I tried pytorch+rocm docker and no warning occurs. Anyway, thank you!
(I may have some other questions tomorrow， first time to use an AMD GPU :)

[2022-07-27 16:41] DrizztDoUrden commented on #1642
The last one indeed failes (on other GPUs as well) with this log:
<details>
  <summary>Log</summary>

[code]

</details>

[2022-07-27 18:16] junliume commented on #1651
Please feel free to ask any questions!

[2022-07-27 18:20] junliume opened #1653 "Issue related to changes in PR [API] NCHWc tensor layout support #1532"
issue related to changes in PR [API] NCHWc tensor layout support #1532

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/d19c2575ca918f6b63a022f004d591795afcd85d/driver/conv_driver.hpp#L1278

https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1532/files#diff-2d7eb26c166e89e679bd68a41a7510ac3b8a66c1c2894e9dcf584e40711801ceL1232-L1238

before this PR was called tensor constructor from line:120
h

[2022-07-27 18:21] junliume commented on #1653
@aska-0096 could you take a look at the above issue found by @shurale-nkn ?

[2022-07-27 19:29] atamazov commented on #1642
@DrizztDoUrden

FYI the same list updated, sorted and duplicates removed:
[code]

[2022-07-27 20:43] atamazov commented on #1642
I confirm that the following config
[code]
has issue
[code]
just after merging of #1296 (72d89b40e). Previous commit is 9860cb1e6.

[2022-07-27 20:48] atamazov commented on #1642
Note that #1296 contains MIOpenDriver changes. I will revert them in 72d89b40e and double-check in order to make sure that the reason of the validation failure is changes in the library, NOT in the driver.

[2022-07-27 21:16] shurale-nkn opened #1654 "Unexpected message in output from MLIR."
Unexpected message from MLIR.
MLIR is not applicable but still write something in output.

`Output height 1 doesn't match height -410 computed from other parameters`
[code]

`` miopen::solver::ConvMlirIgemmFwd::IsApplicable`` -> ``return MiirIsConfigApplicable(mlir::ConstructBuildOptions(ctx, false));``

GDB LOGS
[code]

[2022-07-27 21:22] jerryyin commented on #1654
@shurale-nkn Which commit are you on? Is this the latest commit on develop branch?

[2022-07-27 21:47] atamazov commented on #1642
Confirmed that MIOpenDriver changes in #1296 are Ok, the reason is changes in the library.

[2022-07-27 21:51] atamazov commented on #1642
The immediate reason of the [problem](https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1642#issuecomment-1197346784) is incorrect build options for the backward pooling kernel. The solver produces  -DMLO_POOLING_KERNEL_SZ0=1  -DMLO_POOLING_KERNEL_SZ1=2 (instead of correct SZ0=2, SZ1=1).

[2022-07-27 21:53] atamazov commented on #1642
Updated list of regressed cases for testing:
[code]

[2022-07-27 22:44] junliume commented on #1642
Thanks, @atamazov ! Do we know which part would be responsible of fixing it?

[2022-07-27 22:51] atamazov commented on #1642
@junliume There is one obvious place, but we still need to investigate the code rigorously and decide in what exact place the fix should be done. Please expect it soon, either from me or from @DrizztDoUrden

[2022-07-27 22:53] atamazov commented on #1642
@junliume Obvious place: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1296/files?diff=split&w=1#r931642485

[2022-07-27 23:47] shurale-nkn commented on #1654
@jerryyin
Initially, I took a docker container used at CI 8 days ago.
Now I rebuilt MLIR using version from actual requirements.txt and the message is gone.
Thank you.

[2022-07-27 23:50] #1654 closed

[2022-07-28 00:28] DrizztDoUrden commented on #1642
Would fix the first thing in the morning

[2022-07-28 05:49] densamoilov opened #1656 "LRN workspace question"
The documentation says that `workspace` is an input parameter which implies that it's not supposed to contain any meaningful information after the LRN operation completes.
However, when `do_backward` is `true` and forward and backward use different `workspace` buffers  all values of `dx` output are `nan`s.

Can you please clarify whether sharing `workspace` between forward and backward is required

[2022-07-28 07:08] aska-0096 commented on #1653
Hi @junliume
Thanks for found the bug, it seems like I'm not using the debug mode build and the ASSERT was ignored when I developing the this code.
@shurale-nkn shot the bug accurately, let me explain why this not fail the correctness when assertion is suppressed, the failing 3 tensor constructors construct the destination host tensor, feed to the CPU verification part latter. The tensor member ho

[2022-07-28 07:51] Redtorm opened #1658 "Where are the details of the implementation of the Winograd convolution algorithm?"
I would like to know how MIOpen implements the Winograd convolution algorithm, but I only found the convolution kernel implemented in assembly language in the project source code, which is difficult to read and understand. I guess these assembly kernels should be converted from C++ kernels, but I can't find where the related C++ kernel implementations are, **could you tell me where these C++ kerne

[2022-07-28 11:30] DrizztDoUrden commented on #1642
Created #1659 which should solve the reported problem.

[2022-07-28 11:31] DrizztDoUrden commented on #1642
Many thank to @atamazov for help here.

[2022-07-28 14:54] atamazov opened #1660 "[pooling][3d] Regressions after #1381 (Pooling trasposed forward solvers and transposed solver core)"
Test cases (including fully symmetric config):
[code]
These cases pass with 54ac76851, just before #1381, and fail with 61c0c0cb9.
Only _**FORWARD**_ pooling is failing.

@junliume @DrizztDoUrden `bug`, `urgency_high`, but I do not know about milestone.

[2022-07-28 14:55] atamazov commented on #1642
Similar but likely less urgent issue with asymmetric 3d pooling is opened, #1660.

[2022-07-28 14:57] DrizztDoUrden commented on #1660
I guess I can fix that in a similar couple lines manner but haven't looked at it yet.

[2022-07-28 18:59] junliume commented on #1658
@Kirpich30000  could you comment on the question?

[2022-07-28 20:54] pcf000 commented on #1570
I think this issue is superseded by https://github.com/ROCmSoftwarePlatform/llvm-project-private/issues/558 , which is fixed in ROCmSoftwarePlatform/llvm-project-mlir commit 73a1136ddd267c632d6ea760a31f69a8fc7c4ec4 (July 26).

[2022-07-29 09:19] Kirpich30000 commented on #1658
There is no C++ implementation - kernel were specifically designed for high efficiency and implemented from scratch in assembly.
You could look at [this paper](https://arxiv.org/abs/1509.09308) for Winograd introduction. And here is a [reference code](https://github.com/andravin/wincnn) for constructing matrices if you want to try customized Winograd transformation.

[2022-07-29 09:35] Kirpich30000 commented on #1658
To add your own kernel you will need to add a solver and register it in [solver.cpp](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/src/solver.cpp). Peek any solver and look at the code to see how it is implemented. Some solvers use workspace, others - don't. Some solvers invokes only a single kernel, while the other could invoke multiple kernels to perform the operation.

[2022-07-29 12:11] atamazov commented on #1660
Typos in the description fixed (incorrect copy-paste ;). This is 3D Forward pooling issue.

[2022-07-29 12:29] atamazov commented on #1570
@pcf000 @jerryyin

Is it possible to verify that the issue is resolved by the abovementioned commit?

[2022-07-29 14:54] atamazov commented on #1658
@junliume I recommend removing `request_for_comments` (this is `question`, RFC is more like a [spec-in-progress](https://en.wikipedia.org/wiki/Request_for_Comments)) and, maybe, closing this.

[2022-07-29 14:57] DrizztDoUrden commented on #1658
Also to register the solver for the specific convolution (or not conv) calls it supports like these: https://github.com/ROCmSoftwarePlatform/MIOpen/blob/d19c2575ca918f6b63a022f004d591795afcd85d/src/mlo_dir_conv.cpp#L110

[2022-07-29 14:59] atamazov commented on #1658
Intro info about solvers: #866

[2022-07-29 20:41] pcf000 commented on #1570
#787/#769 is a missing dependence from obj.MLIRMIOpenGraphXToTosa to MLIRMIOpenConversionPassIncGen.  That dependence was added in commit c2478038f2f98 on April 25, 2022, which appears in rocm-5.3.0 but not earlier tagged releases.

#785 is a missing dependence from obj.MLIRMIOpenTuning to MLIRMIOpenPassIncGen.  This commit adds that dependence.

I learned today that
  `set_property(GLOBAL PROPERT

[2022-07-29 21:41] krzysz00 commented on #1604
Closing as complete

[2022-07-29 21:41] #1604 closed

[2022-07-31 02:27] Slimakanzer opened #1661 "[BUG] Incorrect result of GetElementSize"
`TensorDescriptor::GetElementSize()` returns an incorrect result if the tensor size is 2^31 or more. The reason is the `vector_length` type which is an integer and could produce overflow.

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/d70e8730865c542e676fd7d3d93bed26a1a0a2d0/src/include/miopen/tensor.hpp#L249-L250

Case example:
[code]

[2022-08-02 04:16] Delta0307 opened #1665 "How to create and add operator into the fusion plan?"

[2022-08-02 05:44] Delta0307 commented on #1665
I am learning to use the fusion API according to [Fusion API: Getting Started](https://rocmsoftwareplatform.github.io/MIOpen/doc/html/Getting_Started_FusionAPI.html#create-and-add-operators). This is my sample code：
[code]
When it comes to the 21st line（miopenCreateOpConvForward(fusePlanDesc, &convOp, convDesc, weightDesc);）, there is a runtime error: ```segmentation fault (core dumped)```. I don'

[2022-08-02 15:22] xinlipn commented on #1424
Similar failure found in PR1611
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1611

Snippet and full log as below
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/sl%2Fgoogle_test/26/pipeline/613/

[2022-08-02T09:30:01.914Z]   8/103 Test   #3: test_bn_3d_spatial_test ...............................***Failed  Error regular expression found in output. Regex=[FAILED]

[2022-08-03 07:31] junliume commented on #1460
@atamazov  @JehandadKhan This issue still exists in the latest build, so far I have tested on gfx908 and gfx1030 and only gfx908 has this problem: (I have attached detailed logs)
***First Run Is okay***
[code]
[pass_log.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9249017/pass_log.log)
[fail_log.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9249018/fail_log.log)

***Second

[2022-08-03 12:07] DrizztDoUrden commented on #1653
In most cases it is better to throw than assert if the execution of the following code would be incorrect anyway.

[2022-08-03 21:14] atamazov opened #1670 "[pooling][2d] Asymmetric configs fail validation when padding != 0x0"
Unlike #1660, this is not a regression caused by #1381. It is likely that the issue persists for a long time.
[code]
Failures do not depend on datatype (`--half` configs fail as well), `--index_type` (you can simply use miopenIndexUint8) and `--mode` (max is ok).

Reproducible on gfx906 and Navi21 (most likely do not depend of gfx type) with ROCm 5.0.

Full list of failures: [test_pooling2d-asymme

[2022-08-03 21:54] atamazov commented on #1642
@junliume Please reopen because regression tests were not added yet.

[2022-08-03 21:54] atamazov commented on #1642
`urgency_high`, no milestone.

[2022-08-03 22:13] densamoilov commented on #1656
I think it's clear to me now, sorry for the noise.

[2022-08-03 22:13] #1656 closed

[2022-08-04 02:40] aska-0096 commented on #1653
Thanks for the advice.
Since the issue has been solved, let me close this issue : )

[2022-08-04 02:43] aska-0096 commented on #1661
@Slimakanzer
Thanks for the bug shooting.
This a bug related to the NCHWC PR, please feel free to assign it to me.

[2022-08-04 02:46] aska-0096 commented on #1621
It looks like the bug fix PR #1644 and extended PR #1657 has been merged, let me close this issue.

[2022-08-04 02:48] aska-0096 commented on #1613
It looks like the issue has been solved, let me close this issue.
Please feel free to re-open it if not resolved yet.

[2022-08-04 11:07] shurale-nkn commented on #1613
Not fixed!

[2022-08-04 11:35] carlushuang commented on #1460
I tried to reproduce this issue, and found, if every time we manually delete the user db (or just run for the first time, since there is no user db yet), then we can have the correct result.

e.g, using docker `compute-artifactory.amd.com:5000/rocm-plus-docker/framework/compute-rocm-dkms-no-npi-hipclang:10584_ubuntu20.04_py3.7_pytorch_rocm5.3_internal_testing_9b13302`

[code]

However, if before r

[2022-08-04 11:43] carlushuang commented on #1460
Wait, https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1619 should disabled above solver.
[code]
I guess just retune the db should be fine? @JehandadKhan

[2022-08-04 12:09] DrizztDoUrden commented on #1460
That may work as a temporary hack for manually picked cases (AFAIK we have one rn, but it is possible to gather them from running tests two times in a row and logging failures, but continuing), but we don't know if there are other cases it would fail at that are not covered by our tests. And, obviously, it is impossible to test every case in sane amount of time.

[2022-08-04 12:16] atamazov commented on #1460
I am looking into this.

[2022-08-04 12:40] atamazov commented on #1460
@junliume

AFAICS from the logs, you've used latest amd-master (Mainline) which is bfe71031fc21ad1d21d6c6f33b17bbd3243bfb29 and 21 days old. #1619 is not there yet; it is promoted into Staging for now. We shall either promote Staging into Master or wait until release branch is cut and then cherry-pick #1619 directly there.

(I am assuming that the reason of this issue is ConvAsmImplicitGemmGTCDyna

[2022-08-04 14:14] atamazov commented on #1621
@junliume @aska-0096 The regression test is not added in #1644. Please re-open this with `testing`, `urgency_normal`.

[2022-08-04 14:16] atamazov commented on #1661
@junliume @aska-0096 @Slimakanzer This is correctness issue so I recommend `urgency_high` or even blocker.

[2022-08-04 14:22] aska-0096 commented on #1613
Sorry for that. Also pin it back.

[2022-08-04 18:13] shurale-nkn opened #1672 "[FP32] [miopengemm] GemmBwd1x1_stride1 verficiation failure"
GemmBwd1x1_stride1 kernel verficiation failure. In
kernel writes only 320 values of result  to image buffer, rest 4 values always zeros.

If to try use bigger input image  like (--spatial_dim_elements 2 18 18) - it will write only 640 elements from the image.

Error only in second path.
miopengemm.cpp:108
[code]

[code]

[code]

affected PR #1503

[2022-08-04 19:59] junliume commented on #1460
@carlushuang  @atamazov  Thanks for the detective work! It seems that #1619 is critical. However, recent staging has found that #1619 has caused some performance regressions. Instead of disabling it I think we need to fix it afterall.

[2022-08-05 02:43] junliume opened #1674 "[gfx1030][FP16][ROCm5.2] test_lrn_test failure due to hipRTC issue"
**[How To Reproduce]:**
[code]

[Symptom]:
test_handle_test (Failed)
test_lrn_test (Failed)

**[More Details]:**
[code]
[code]

[2022-08-05 02:44] junliume commented on #1674
@atamazov could you also take a look?

[2022-08-05 07:07] carlushuang commented on #1460
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1675 is for narrow down the non-applicable range

[2022-08-05 10:45] Yanxing-Shi commented on #1665
Hi, @Delta0307 Thank you for your interest in MIOpen.
- First of all, I ran the [miopen examples](https://github.com/ROCmSoftwarePlatform/MIOpenExamples/blob/master/fusion/main.cpp) and didn't find segmentation fault as you mentioned.
- Second, I find that your sample code has problems because the shape of the real data is needed to create the plan and the Op of each plan, which corresponds to the

[2022-08-05 17:25] DrizztDoUrden commented on #1660
This may be a validation bug (I have updated it to support custom layouts), I don't see any build arguments difference on suggested configs. Anyway am in the process of investigating that.

[2022-08-05 19:44] junliume commented on #1674
@muralinr from these two tickets that it might be the test's problem, could you check on it?
https://ontrack-internal.amd.com/browse/SWDEV-278594
https://ontrack-internal.amd.com/browse/SWDEV-290352
Could you check why this problem is coming back again?

[2022-08-05 21:53] muralinr commented on #1674
Hi @junliume I looked at these errors.  These "test_lrn_test" and "test_handle_test" failures are related to HIPRTC error compilation issues.  We should ask Artem or Paul to look at this issue.

test_lrn_test ..........................................***Failed  Error regular expression found in output. Regex=[FAILED]414.24 sec
/root/MIOpen/build/bin/test_lrn_test --half --input 1, 128, 56, 56 --N

[2022-08-08 05:13] #1647 closed

[2022-08-08 23:33] junliume opened #1680 "[gfx908] ConvAsmImplicitGemmGTCDynamic Xdlops applicability issues after MLIR tuning update #1609"
**[Issue]**
Even with #1675, it seems that the applicability issues of `ConvAsmImplicitGemmGTCDynamicWrwXdlops` still exist. It does not respond correctly with `export MIOPEN_FIND_MODE=1` with the following configuration:
[code]
More examples with the following configurations (these configs have flipped from `ConvAsmImplicitGemmGTCDynamic???Xdlops`:
[code]

- **Why would `bwd` and `wrw` be flipped

[2022-08-08 23:51] #1661 closed

[2022-08-08 23:58] #1577 closed

[2022-08-08 23:59] #1570 closed

[2022-08-09 00:00] #1606 closed

[2022-08-09 00:04] #1314 closed

[2022-08-09 00:06] junliume commented on #56
Reference: #1664

[2022-08-09 00:06] #56 closed

[2022-08-09 00:07] #309 closed

[2022-08-09 00:14] junliume commented on #1680
@carlushuang  could you also help to take a look?

[2022-08-09 00:20] #942 closed

[2022-08-09 00:21] #1094 closed

[2022-08-09 00:21] #1134 closed

[2022-08-09 00:21] #1144 closed

[2022-08-09 00:23] junliume commented on #592
Issue not observed in the latest release

[2022-08-09 00:23] #592 closed

[2022-08-09 00:24] junliume commented on #919
@jerryyin should I convert this issue into "discussion"?

[2022-08-09 12:56] jerryyin commented on #919
@junliume 90% of features in this ticket are done in the past year. I'd treat this as a specification in the past. We can close this one now.

[2022-08-09 12:56] #919 closed

[2022-08-09 14:36] atamazov opened #1681 "Performance drops after PR #1634"
Hi @Slimakanzer thank you for getting back to me during your vacation. The following cases have confirmed performance regressions right after this PR (ranked by the impacted lvel):
[code]
I am also quite interested in why they would be impacted by grouped convolutions: did one of the two pre-merge solvers implicitly support it?

CC: @Kirpich30000 @atamazov @JehandadKhan

_Originally posted by @jun

[2022-08-09 14:39] atamazov commented on #1681
@junliume `urgency_blocker`, `performance`, `bug`.

According to @Slimakanzer's triaging results, the most likely root reason is an issue in #1533 that led to incorrect (unexpected) records in find-db after tuning. W/A to be provided today. Full-blown fix (that should include find-db fixes) a bit later.

[2022-08-09 22:27] JehandadKhan commented on #1680
Hello All,

The application in question is using MIOpen's immediate mode which does not support Find (hence the Immediate) when MIOpen is being rung using the immediate mode API, the assumption is that the framework is in eager mode and therefore does not want MIOpen to compile and benchmark a bunch of kernels which can take considerable time. Hence MIOpen looks for the operation in the database,

[2022-08-09 22:47] junliume commented on #1680
**[Issue Resolved]**
The microbenchmarks has immediate mode by **default**, then we need to document clearly that for customers to fine-tune their models, they need to delete existing DB files first, and then use FIND MODE to generate user DBs from fresh.

[2022-08-10 01:04] #1003 closed

[2022-08-10 01:07] #1112 closed

[2022-08-10 01:11] junliume commented on #494
@JehandadKhan @atamazov
Still failing with the latest `develop`:
[code]

[2022-08-10 01:11] #938 closed

[2022-08-10 01:14] #285 closed

[2022-08-10 01:15] #290 closed

[2022-08-10 11:09] atamazov commented on #1681
@jun Have you seen performance regression on both MI50 (60 CUs) and MI60 (64 CUs)? I am asking because I do not see "unexpected" records in gfx906_60.HIP.fdb.txt, while gfx906_64.HIP.fdb.txt has lots of them. I guess that MI50 is unaffected by the performance regression.

Some stats:
![image](https://user-images.githubusercontent.com/12697412/183886412-73d73f22-2fdb-4edd-ba6c-89da0045f9c4.png)
- "

[2022-08-10 11:10] atamazov commented on #1681
@JehandadKhan Note that find-db for gfx906/60 and /64 remain unchanged for a long time_** (10 and 14 months respectively). However IIRC we update databases before almost each release. Maybe we update databases only in release branches; if this is the case, then the missing step in the process is merging updated databases from the release branches back to develop (I think the best time for this is

[2022-08-10 17:16] #377 closed

[2022-08-10 19:40] shurale-nkn commented on #1674
@junliume  @atamazov
Always happens during testing in our CI.
CI can't detect failures because of regexp in upper case

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/46b85e8f2dcaaee26b9cacbaf6a9babe2335f5b5/test/CMakeLists.txt#L333

[code]

[2022-08-10 23:57] junliume commented on #1674
@muralinr it seems that we need to reopen one of the above mentioned tickets. It should be assigned to compiler I think.

[2022-08-11 00:07] junliume commented on #1674
Thanks @shurale-nkn  I think we need to fix this testing defect too! :)

[2022-08-11 13:33] Delta0307 opened #1690 "Some questions about MIOpen API performance."

[2022-08-11 15:20] zhanglx13 opened #1691 "[CI] Jenkins rebuilds docker image for every branch"
## Problem ##

The current logic to rebuild the docker image is when a new branch is pushed. This has the following two drawbacks:
1. If one of the dependencies in requirements.txt is changed during the development of the new branch, the docker image is not rebuilt.
2. If a new branch does not change anything in the dependencies,  the docker image is rebuilt twice (one for /usr/local and another o

[2022-08-11 16:49] junliume commented on #1690
@Delta0307 our Winograd team has limited availabilities in August and @JehandadKhan can you take a look at the fusion plan?

[2022-08-11 16:52] JehandadKhan commented on #1691
My solution to this problem was to provide an override parameter to the pipeline which can be manually set forcing the generation of a new Docker image ? [See here for code](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/949704b2b0a734ceb4d403007b35b175863e3e2d/Jenkinsfile#L313)

[2022-08-11 18:29] zhanglx13 commented on #1691
@JehandadKhan Thank you for the code. That is indeed a simple workaround to build docker image during the branch development. I'll borrow it to get my PR #1673 done first.

[2022-08-11 20:22] junliume commented on #1674
Taken from official documentation, shall we change the line to the follwing?
[code]

[2022-08-12 01:53] Delta0307 commented on #1690
Sorry, I didn't use the fusion plan. I called these APIs separately. I just felt that the performance of these individual APIs was too bad, so I suspected that it was the problem of the code I wrote.

[2022-08-12 10:04] Delta0307 commented on #1690
I Today I tried to run a very simple program by convolution API in order to get familiar with it, but the program threw the `miopen::Exception`:
[code]
main.cpp:
[code]
Is there any problem with my program? Thank you for your solution!

[2022-08-12 18:58] junliume commented on #1690
@Delta0307 would you prefer to close this issue?

[2022-08-12 20:57] shurale-nkn commented on #1674
@junliume
no, that would be too easy. We are not looking for easy ways 😄

The real problem is the variability of the words used in our output. `Error` can be used in Verification to define difference between gold value and result, it also can be a part of compilation argument. Therefore, we can't say that it is always a negative marker.

[2022-08-12 21:09] shurale-nkn commented on #1674
On the one hand, if the error is not critical and the program can perform a task by another method, it is not necessary to complete it. But we should be able to track it in our CI, where in that case we should always get Error message.

So the mechanism is similar to the current behavior of the `assert` function. Which works only in debug builds. But this should work in any build if some flag was

[2022-08-13 02:04] Delta0307 commented on #1690
@junliume I have rebuilt my code and solved the above problems. Thank you for your reply.

[2022-08-13 13:18] atamazov commented on #1691
@junliume Please add @pfultz2 to this discussion. Also I recommend labeling with `request_for_comments`.

[2022-08-13 13:25] atamazov commented on #1691
@zhanglx13 I highly recommend removing all the mentions of `develop` from the description. Technically, this branch is equal to all other branches except some details unrelated to this topic (e.g. it's special role in the _promotion process_ etc.)

[2022-08-13 13:34] atamazov commented on #1691
The idea of reusing docker images from the "parent" branches is good but it's generic implementation seems too complex.

Why docker build caching is not effective anymore? I remember it worked well some time ago.

[2022-08-13 13:36] atamazov commented on #1691
[Informative] @zhanglx13 Thank you very much for the detailed analysis 👍 !

[2022-08-13 18:59] atamazov commented on #1681
I did some experiments with Radeon VII (as I do not have MI60 available). PR #1634 does not affect performance on Radeon VII, as expected (because gfx906_60 fdb is good), and, consequently, W/A #1681 has no effect.

In order to simulate MI60-specific regression, I replaced the system find-db with gfx906_64.HIP.fdb.txt. Results of runs with replaced find-db:

  | develop 492eea593 (baseline of W/A)

[2022-08-13 20:27] atamazov commented on #1674
[Informative] Current convention is that the failing test should print `FAIL` (uppercase) or return non-zero code.

[2022-08-13 20:32] atamazov commented on #1674
@junliume Build errors in `test_handle_test` is not a bug. Among other checks, this test **_intentionally causes build errors_** in order to check if the library properly catch build errors. Error messages on the console are normal.

[2022-08-13 20:41] atamazov commented on #1674
I am looking into `test_lrn_test` problem. Is it rocm or device specific?

[2022-08-14 21:10] shurale-nkn commented on #1674
In this case, the CI should check the output data for an error and check the correctness of the handling.

[2022-08-15 14:00] zhanglx13 commented on #1691
@atamazov It seems to me that other branches are merging into the `develop` branch, which is considered to be the only relevant difference. This is only for demonstration purpose and the complex proposal handles all branches the same way.
I am new to docker and I'll take a look at docker build caching. Or if you know someone who is more familiar with the topic, could you ask him/her to take a look

[2022-08-15 14:51] junliume commented on #1690
@Delta0307 thanks! Glad to know that your issue has been resolved.

[2022-08-15 14:51] #1690 closed

[2022-08-15 16:46] atamazov commented on #1674
### Update on `test_handle_test` failure
`error: use of undeclared identifier 'num'` has nothing to do with the failure. The test prints this onto console correctly; this is normal behavior (as I mentioned at https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1674#issuecomment-1214218691).

Actual error message if somehow hidden by ctest (when you run `make check` or `ctest --output-on-failure

[2022-08-15 18:05] junliume opened #1697 "[CI][Fp32][Vega20] Hip All Stage timeout Four Times in a Row"
[Fp32 Hip All Vega20 Log2.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9338960/Fp32.Hip.All.Vega20.Log2.log)
[Fp32 Hip All Vega20 Log1.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9338961/Fp32.Hip.All.Vega20.Log1.log)

Tests timeout after 5 hours

Establish this ticket to track diagnostic processes on it

[2022-08-15 18:05] junliume commented on #1697
@atamazov @shurale-nkn  if you are interested in taking a look

[2022-08-15 19:00] atamazov commented on #1674
1. The reason of the issue is that starting from ROCm 5.2 the HIP compiler (both HIPRTC and COMgr paths) does not print this warning:
[code]
for the source code like this
[code]
The handle test properly detects the missing warning and fails.

Note that what we are testing in the "warning test" is capability of the compiler to issue warnings. We do not care if the compiler warns about specific situ

[2022-08-15 19:41] junliume commented on #1697
Cannot reproduce on a gfx906 node with 64 CU
docker:
[code]
base OS has ROCM 5.3.0

[2022-08-15 19:53] atamazov commented on #1674
The previous comment is incorrect.

@junliume In which docker container have you found the issue with test_handle_test?

[2022-08-15 20:01] atamazov commented on #1674
[Informative] I've used 5.2 container with MIOpen installed. Rebuilding the library didn't matter because tests still use the installed library. The tests were built with BUILD_DEV=On and _warning test_ was enabled. But the installed library was built with BUILD_DEV=Off and unable to issue build warnings. Therefore the test has failed, but the failures were actually false positives, and I got the

[2022-08-15 20:39] junliume commented on #1674
@atamazov  I am using a standalone gfx1030 node with base OS (bare metal) ROCm-5.2.0

[2022-08-15 20:44] atamazov commented on #1674
@junliume Thank you. I have gfx1030 on hand, but the base driver is 4.3.0, so may I need to upgrade the node. Please update me with your results with a docker.

[2022-08-16 21:26] junliume commented on #1674
**[ENV]**:
base: ROCm-5.2.0
docker: latest mainline docker

**[Observations]**:

1. Category 1: CMake Error undefined symbol.  `test_immed_conv3d` `test_conv2` `test_conv3D`
    e.g.
[code]
3. Category 2: error: use of undeclared identifier 'num' `test_handle_test`
    e.g.

[2022-08-16 21:29] junliume commented on #1674
@atamazov it looks all related to `handle` issues which may or may not be related to hipRTC

[2022-08-17 07:16] junliume commented on #1697
CC: @aska-0096
This issue is caused by a large test `test_miopendriver_big_tensor`. It's hard to reproduce in dev env but indeed stuck at our CI pipelines for a few outdated ASICs.

[2022-08-17 07:16] #1697 closed

[2022-08-17 07:17] junliume commented on #1697
Should be resolved by #1693

[2022-08-17 07:18] #1691 closed, assigned to zhanglx13, JehandadKhan, junliume

[2022-08-17 07:20] #1680 closed

[2022-08-17 07:21] junliume commented on #1660
@DrizztDoUrden any updates on this issue?

[2022-08-17 07:22] #1665 closed

[2022-08-17 07:25] junliume commented on #1642
@atamazov The regression tests are added? Shall we close this issue?

[2022-08-17 07:27] junliume commented on #1626
@JehandadKhan  I think this is at least mostly completed by #1677 shall we close this issue?

[2022-08-17 07:30] junliume commented on #1600
#1678  dealt with this issue

[2022-08-17 07:30] #1600 closed

[2022-08-17 16:11] atamazov commented on #1674
[Informative] Not reproducible with 5.2 release docker and 4.3.0 base driver.

[2022-08-17 19:19] junliume commented on #1674
@atamazov let's put this issue on hold then. I just checked my last run with this docker and cannot reproduce the issues either.

We are trying to update base OS ROCm to 5.2 and docekr ROCm to the same, let's see if gfx1030-fp16 stability has changed.

Thanks!

[2022-08-17 19:27] atamazov commented on #1674
## Results of running `test_handle_test` with Mainline build 5.3.0-10659

⚠️ The error shown at https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1674#issuecomment-1217183297 is most likely because of installed MIOpen library was built with BUILD_DEV=Off, while the test was built with BUILD_DEV=On, see https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1674#issuecomment-1215731028. **_The f

[2022-08-17 19:45] densamoilov opened #1705 "[MI200][Reduction] Fails when all dimensions of a destination tensor are 1"
When dimensions of source tensor are {15, 12, 3, 5} and dimensions of destination tensor are {1, 1, 1, 1} I get the following runtime error:
[code]
I noticed that if I change only 1 dimension in the destination tensor to be equal that in the source tensor the issue goes away. Also, other cases with different shapes of source tensor can pass, e.g.  {5, 3, 2, 9}.

Is there a workaround for this issu

[2022-08-17 20:17] shurale-nkn opened #1706 "[post-merge] Composable kernels integration"
PR #1692

- Fix dockerfile and correctly reflect project dependencies in rbuild.ini.
- Add Composable kernels to dependencies and build using clang++.

and comments mentioned https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1692#issuecomment-1229235554

Three unresolved comments:

https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1692#discussion_r955493521 - concern about performance, importa

[2022-08-17 20:22] atamazov commented on #1674
@junliume Please add `non_miopen_bug`.

I see some issues in pooling kernels (build errors due to unused variables). I will continue fixing the issues until 5.2 DEV builds pass `make check`.

[2022-08-17 20:39] Sfinx commented on #1391
same here at v5.2.0. it complains while the file is definitely present:

[code]

[code]

[2022-08-17 21:13] junliume commented on #1705
@qianfengz and @zjing14
Could you take a look at this issue? Maybe an unsupported case or a potential bug in reduction implementation.

[2022-08-17 21:30] JehandadKhan commented on #1626
Implemented via #1677

[2022-08-17 21:30] #1626 closed

[2022-08-18 04:18] qianfengz commented on #1705
@densamoilov
I could not reproduce the mentioned issue on ROCM.5.1 using your codes.  And you can also do verification using `[densamoilov](https://github.com/densamoilov)`

I remember the issue has been solved by some P.R.

You can check the codes of the file [gridwise_generic_reduction_second_call_threadwise_reduce_all_dims.cpp](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/src/com

[2022-08-18 04:43] densamoilov commented on #1705
@qianfengz, thanks for the quick response. I have one more question just to make sure I understand how it works. Since this issue is in MIOpen and I use the latest available MIOpen release (2.16) does it mean that ROCm can include MIOpen version that is not officially released?

[2022-08-18 18:42] Denizzje opened #1709 "[gfx1030][Rocm5.1.1] Missing system database file: gfx1030_36.kdb"
Hello,

First off, I am deliberatly on ROCM 5.1.1 because the Pytorch website lists that as the current supported version. If that is the cause of this whole thing, and it can be confirmed that PyTorch works fine on ROCM 5.2.1 I'll try to reinstall it. I am just glad I had it running in the first place...

I am trying to get PyTorch to play along with my RX 6800XT. While it is somewhat functional

[2022-08-18 19:29] junliume commented on #1709
@Denizzje the following should be correct:
[code]
The discrepancy between `36` and `72` is corrected in later releases.

Could you share more details about `poor performance`? We are interested to see the root cause of it. Thanks!

[2022-08-18 20:38] Denizzje commented on #1709
Greetings @junliume ,

In the mean time I actually fully uninstalled 5.1.1 (uninstall and purge, reboot), and moved to 5.2. The problem seems to persist. I did

sudo apt install -y miopenkernels-gfx1030-36kdb which actually upgraded the package.

Running it now gives: miopenkernels-gfx1030-36kdb is already the newest version (1.1.0.50200-65).

So it is installed as a package. Yet I keep having thi

[2022-08-18 21:13] junliume commented on #1709
@Denizzje could you please check the following:

move `gfx1030_36.kdb` from `/opt/rocm/miopen/share/miopen/db` to `/opt/rocm/share/miopen/db`

This is caused by some folder re-organization changes in ROCm for 5.2 and should have been fixed in the latest `develop` branch.

[2022-08-18 22:22] Denizzje commented on #1709
There was no file there when I put in the move command,

and when taking a look they folders and files were already there post reorganisation (I did do a full reinstall when going from 5.1.1 to 5.2.0).

![image](https://user-images.githubusercontent.com/25279882/185502568-70476d1e-0613-4cc5-832c-4ec9076ad2f2.png)

But... I ""Solved"" the problem. I built PyTorch from source. And by chance, I found

[2022-08-18 23:10] junliume commented on #1709
Thanks! @Denizzje I have pinned the issue with PyTorch Wheel and KDB to higher priority and will assign developers to work on it.

Please report any issues in your use cases if any, and any suggestions or recommendations are highly appreciated!

[2022-08-19 03:53] qianfengz commented on #1705
@densamoilov
      `2.16` should be the major version of the MIOpen package,   you can get the complete version of MIOpen on ubuntu by `#> dpkg -s miopen-hip`.   And for each ROCM release/installation, there is a corresponding MIOpen release branch.  For example for ROCM 5.1,  the release MIOpen branch should be `release/rocm-rel-5.0`.
      Also,  I just checked the codes [rocm-rel-5.0 gridwise_g

[2022-08-19 17:44] densamoilov commented on #1620
@JehandadKhan, thanks for the clarification. I have one more question regarding 3D spatial formats. What operations do support NCDHW and NDHWC?

[2022-08-19 22:22] atamazov commented on #1674
@junliume In DEV builds, `test_lrn_test` and `test_activation` fail due to memory allocation error. Tested on both gfx906 (16GB) and Navi21 (16GB), on different ROCm versions (5.0.0 and Mainline build 10659) with different base drivers. Non-DEV builds pass! Reason is still unknown. I am working on the workaround.

[code]

[2022-08-25 20:36] densamoilov commented on #1705
I can confirm that the issue is fixed. Thanks again for the detailed explanation!

[2022-08-25 20:36] #1705 closed

[2022-08-26 00:29] densamoilov opened #1721 "[MI200][Reduction] Weird behavior when using int8 data type"
When I'm using `miopenInt8` for source tensor and `miopenFloat` for destination tensor and `miopenInt8` as a comptype I get correct result however, when I use `miopenInt32` or `miopenFloat` as comptype I get incorrect result. The only difference between correct and incorrect results is that incorrect result has zeroes instead of negative values.
As far as I understand comptype is an accumulation t

[2022-08-26 08:42] qianfengz commented on #1721
Your codes cause segmentation at line `src[i] = distribution(generator);` when tested on several of my dockers.   But I could not reproduce the issue using our `MIOpenDriver` since it does not support using different types for in and out tensor

[2022-08-26 17:47] densamoilov commented on #1721
Sorry, I fixed it, can you please try it again?

[2022-08-29 04:30] qianfengz commented on #1721
From the testing, I think the result of using either `int8_t` or `int32_t` as DstDataType are wrong, and the result of using `float` as DstDataType seems correct.
In the original MIOpen development,   only `fp16`, `fp32` and `fp64` input data types are supported, and the fact can be checked from our cover testing in files `driver/driver.hpp` and `test/reduce_test.hpp`.   MIOpen is mainly for deep

[2022-08-29 05:16] densamoilov commented on #1721
Thanks for the clarification. What is the project you are referring to?

[2022-08-30 01:39] qianfengz commented on #1721
We do have project that is not publicly accessible at present.

[2022-08-30 01:57] densamoilov commented on #1721
Ok, so the outcome is that the reduction operation doesn't support int8 data type. Thanks for the answers!

[2022-08-30 01:57] #1721 closed

[2022-09-01 16:38] littlewu2508 opened #1731 "MIOpen using clang-14 fails 4 tests: "invalid HSA metadata", 1"
I'm packeging MIOpen 5.1.3 for gentoo, and noticing there are test failures.

All errors are "invalid HSA metadata" when compiling assemblies:

[code]

I wonder what difference between llvm/clang from AMD and upstream llvm/clang is causing this?

The complete test log is:
[miopen-vanilla-clang-test.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9471708/miopen-vanilla-clang-test.log)

[2022-09-01 19:37] junliume commented on #1731
@atamazov  could you help to take a look?

[2022-09-01 19:50] junliume opened #1732 "[ROCm 5.3] OpenCL kernels compilation issues [-Werror,-Wunused-but-set-variable]"
@atamazov
Likely due to HIP or COMgr updates, these warnings are treated as errors now. Before these pooling kernels are replaced by CK we may want to disable the warning ?

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/a068b0e205f620f15d6a2c828d035d06854bfd3e/src/kernels/MIOpenPoolingBwd.cl#L289

[code]

And I am not sure why it claims the variable is not used at https://github.com/ROCmSoft

[2022-09-02 10:38] littlewu2508 commented on #1731
So I find the metadata is from src/kernels/Conv_Winograd_v21_1_3_metadata.inc

Can confirm that clang from ROCm-5.1.3 release can built the assembly without issue, while clang-14.0.6 thinks the metadata is invalid

[2022-09-02 11:56] littlewu2508 commented on #1731
I guess this is because https://reviews.llvm.org/D118272 added new metadata requirements:

https://github.com/llvm/llvm-project/blob/llvmorg-14.0.6/llvm/lib/BinaryFormat/AMDGPUMetadataVerifier.cpp requires more metadata entries

[2022-09-02 15:59] littlewu2508 commented on #1731
From gdb tracing, I find the metadata verification fails at https://github.com/llvm/llvm-project/blob/f28c006a5895fc0e329fe15fead81e37457cb1d1/llvm/lib/BinaryFormat/AMDGPUMetadataVerifier.cpp#L99

[2022-09-02 16:23] littlewu2508 commented on #1731
I comment out the metadata wrapper in src/kernels/Conv_Winograd_v21_1_3_metadata.inc, which makes one test passed. A temp workaround maybe.

[2022-09-02 17:36] atamazov commented on #1731
@junliume It looks like the reason of the issue is that https://reviews.llvm.org/D118272 has broken support for V3 metadata.  Some V5-specific checks were **_unconditionally_** added to MetadataVerifier, see https://github.com/llvm/llvm-project/commit/1194b9cdda30df3b76f8dc932d438dc1b3f3ed6c#r82920767

@littlewu2508 Thanks for triaging the issue!

[2022-09-02 17:52] junliume opened #1733 "[CK] Composable Kernel Integration Left-Over Issues"
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/58d100984c807e425c6fe8e6d895d4bcc738196d/Dockerfile#L137

- **[Issue 1]**: *GoogleTest build to fail with ROCM 5.3 and latest HIP*

https://github.com/ROCmSoftwarePlatform/composable_kernel/blob/7589116121f80189f47cfd8692f300ee8c6377ad/cmake/googletest.cmake#L23
without this line CK build (actually GoogelTest) on most recent ROCm 5.3 will fail wi

[2022-09-02 17:55] junliume commented on #1732
@atamazov  and @JehandadKhan
I can add a line right after:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/a068b0e205f620f15d6a2c828d035d06854bfd3e/src/kernels/MIOpenPoolingBwd.cl#L289
like this:
[code]
and the issue goes away ...
Maybe the compiler thinks `MLO_POOLBWD_N_VERT_OUT_PIX` will always be zero somehow?

[2022-09-02 18:26] junliume commented on #1733
Can we point to a more recent commit in CK? It looks like Issue 1 is resolved in CK already.

[2022-09-02 19:56] pfultz2 commented on #1732
We should only pass `-Werror` when `BUILD_DEV=On` so it only shows as an error in our CI and not in release versions. I am not sure if thats the case here.

The value in the variable is never read. Its incremented by some other value but we never read the value in the variable. Considering this code has not been changed in years, the variable can be safely removed with no change in functionality.

[2022-09-02 23:03] atamazov commented on #1732
Fixed in #1729

@pfultz2

Of course, and this is how MIOpen works now.

[2022-09-03 01:48] littlewu2508 commented on #1731
OK. I tried to delete these lines and reinstall llvm, but turns out still getting invalid HSA metadata error. Actually,

Indicates that the verification already fails at ".name" entry.

Further tracing, I finally get the invalid point:https://github.com/llvm/llvm-project/blob/f28c006a5895fc0e329fe15fead81e37457cb1d1/llvm/lib/BinaryFormat/AMDGPUMetadataVerifier.cpp#L34

The entry is a llvm::msgpack

[2022-09-04 05:16] #1732 closed

[2022-09-04 05:30] #1660 closed

[2022-09-05 12:03] littlewu2508 commented on #1731
I figured it out:

Conv_Winograd_v21_1_3_metadata.inc:54
[code]

This `N` is recognized as "false", a boolean type. This explains why I get llvm::msgpack::Type::Boolean, not llvm::msgpack::Type::String.

I chaned it into other characters and the error disappears.

[2022-09-05 12:22] littlewu2508 commented on #1731
I tried clang-12, clang-13 and clang-15 and they both behave the same, so I guess there is some difference between the upstream llvm and https://github.com/RadeonOpenCompute/llvm-project/

[2022-09-05 12:34] XCRailFans commented on #1731
This is YAML syntax. And famously in YAML, unquoted literals tend to get recognized as random things instead of strings. 🤷

[2022-09-05 13:04] littlewu2508 commented on #1731
@atamazov
I changed the name "N" to another character, for example X, and test_conf2d passed successfully.

Looking at the source code of https://github.com/ROCmSoftwarePlatform/MIOpen/blob/f4538d74520ee80aa2f2cae792d743e7257d40f5/src/solver/conv_winoRxS.cpp#L864 I believe the `.name: N` entry is only for matching the cpp code, and does not harm if change the name. I that correct?

[2022-09-05 22:46] atamazov commented on #1731
@littlewu2508 This is amazing finding, thanks again. Changing the name should not affect anything, only types of parameters should be checked at runtime.

Can you please provide me with reproduce instructions? I need to look at this. I would like to make the fix as sustainable as possible to future compiler changes.

[2022-09-05 22:49] atamazov commented on #1731
@littlewu2508 I suspect this problem is very important for you, but could you please clearly indicate it? Thank you!

@junliume Can you please set the urgency label as appropriate? Thanks!

[2022-09-06 04:25] littlewu2508 commented on #1731
For minimal bug reproduction and simple workaround by changing `N` into other names:

I extracted the assembly via `AMD_COMGR_SAVE_TEMPS=1 AMD_COMGR_REDIRECT_LOGS=stdout AMD_COMGR_EMIT_VERBOSE_LOGS=1 ./test_conv2d  --float --all --limit 2 --tolerance 130`, and the gziped code is:

[Conv_Winograd_v21_1_3_f3x2_fp32_stride1_group.s.gz](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9493243/Conv

[2022-09-06 13:15] atamazov commented on #1731
@littlewu2508 Thank you. Will update this ticket when the full-blown fix ready.

[2022-09-06 14:07] atamazov commented on #1681
@junliume This should not be closed because we do not have a full blown fix in develop.

We need #1735 + updated databases (with fixed Winograd 2x3g1/2x3 records) first.

[2022-09-06 22:27] atamazov commented on #1706
This is resolved in the original PR, please update the topmost comment.

[2022-09-07 11:19] shurale-nkn commented on #1674
This is SWDEV-345683.
PR1729 is workaround for this issue, main problem in HIP. Fixed in 5.3.0-27.
necessary to arrange changes as workaround and continue throwing exceptions after hip 5.3.0-27 in order to monitor the unexpected behavior of the system.

[2022-09-07 13:54] atamazov commented on #1674
@shurale-nkn What is this SWDEV-345683 about? Some quirks of hipMemGetInfo or hipFree or...?

@junliume I can prepare the followup PR but I need 5.3.0-27 where the problem is expected to be fixed.

I recommend removing `help_wanted` and setting `urgency_low` or `normal` (as this affects tests only).

[2022-09-07 15:27] JehandadKhan opened #1738 "`ConvCkIgemmFwdV6r1DlopsNchw` should not be marked Dynamic in MIOpen"
The solver `ConvCkIgemmFwdV6r1DlopsNchw` is marked Dynamic in MIOpen, however as [evidenced from here ](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/1d454f6ed6df2dc469dba43bca783df3e2451903/src/composable_kernel/host/solver/include/conv_igemm_fwd_v6r1_dlops_nchw_kcyx_nkhw.hpp#L12) and [used here ](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/1d454f6ed6df2dc469dba43bca783df3e2451903/s

[2022-09-07 15:40] asroy commented on #1738
It is dynamic kernel, but it has many choices of tile sizes, and each tile size will support many tensor sizes (this is the dynamic part of it), but tile size also needs a separate compilation.

If the kernel is compiled many tiles, it just means each time a different tile size is chosen.

[2022-09-07 20:38] CapsAdmin commented on #1606
I also have this issue (?). I tried copying the kdb file to gfx1030_40.kdb but I get the same warning.

This is some of the output from log level 6 around the warning.

[code]

This is the entire log
[output.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9509447/output.txt)

For context I'm running stable diffusion in a docker container building an image from prompt. I'm suspicious that

[2022-09-07 20:47] junliume commented on #1606
@CapsAdmin are you using pytorch wheel? We are looking into this issue
https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1709#issuecomment-1220033318

[2022-09-07 20:56] CapsAdmin commented on #1606
Yes I think so, I'm not 100% sure. I'm not very familiar with python.

This is how it's setup in the Dockerfile
[code]

I'll look into that discussion and try the solutions

[2022-09-07 21:18] atamazov commented on #1391
This is the root cause of the problem. For PyTorch wheels, MIOpen embeds kernel databases in order to keep the wheel self-contained. The wheel you are using seems missing embedded image of gfx900_64.kdb. Adding it ti the file system won't help. The wheel needs to be rebuilt with MIOPEN_EMBED_DB cmake variable updated.

/cc @JehandadKhan

[2022-09-07 21:21] atamazov commented on #1709
IIRC adding missing kdb files to PyTorch wheels is possible only via rebuilding the wheels, because kdb is embedded during the build step.

/cc @JehandadKhan

[2022-09-07 21:37] atamazov commented on #1606
@jnordberg PyTorch wheels shall be self-contained. Therefore, for PyTorch wheels, MIOpen embeds kernel databases during the build. The wheel you are using is missing embedded image of gfx1030_40.kdb. Adding it to the file system won't help. The wheel needs to be rebuilt; see https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/doc/src/embed.md.

I recommend requesting for official support f