[2022-09-07 23:10] atamazov commented on #1738
@JehandadKhan Yep, "dynamic kernel" is a fuzzy notion. @asroy How many different kernels this Solver needs in order to cover all the applicable configs?

[2022-09-08 23:38] atamazov commented on #1681
Another issue in the find-db files. According to #1735, ConvBinWinogradRxSf2x3g1 should not be used in WrW (even if n_groups=1). There are some "bad" records:

[code]
Current impact: we do not tune Winograd kernels for WrW, so the WrW performance is likely somewhat worse than it can be.

The fix will be included into "full-blown fix" I am developing currently.

/cc @Slimakanzer

[2022-09-09 16:21] junliume commented on #1648
@atamazov we are seeing a few CI failures with updated docker (ROCm 5.2.3 in base docker):
[jenkins / MLLibs/MIOpen / develop / #797 (amd.com)](http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/develop/797/pipeline/)

These are not exactly new because: of
https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1648#issuecomment-1195666968

Do you know why are we checking `a

[2022-09-09 19:01] junliume commented on #1648
@atamazov  @JehandadKhan  what do you think about this line?
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/7f702370399144d9afb58dae8ff3893cf5e93500/src/comgr.cpp#L1254

[2022-09-09 23:47] atamazov commented on #1648
@junliume I need to reproduce the issue first (instructions are welcome)

[2022-09-10 04:22] pfultz2 commented on #1648
`hiprtcGetProgramLogSize` includes the null character at the end so we need to skip it when we construct an `std::string`. If we hit this assert then it means the behaviour of `hiprtcGetProgramLogSize` has changed and we need to most likely adjust the logic so we dont lose the last character in the log.

The `buffer.back() == '\0'` condition is redundant.

[2022-09-10 05:01] junliume commented on #1648
Thanks! @atamazov  and @pfultz2

It might be tricky to reproduce since so far it only appears on gfx90a:
I am using this docker image https://hub.docker.com/layers/rocm/miopen/ci_rocm523/images/sha256-e004cf4bfd6fa5858de30cc0b450de723a96da3ad7ee05123c56bd676cb1062f?context=repo
`-DBUILD_DEV=On` is the key
[code]

and I get
[code]

[2022-09-10 11:34] atamazov commented on #1648
@junliume Thanks, I'll try to repro this on Monday.

Meanwhile I recommend printing the buffer and looking what data it actually contains. Maybe ending null character is missing or something else. Maybe we need to accept cases when there is none null character at the end. Or scan the buffer til first null character and construct output string out of what we've found. So the idea of W/A is to use s

[2022-09-11 08:15] junliume opened #1745 "[CI] Task to remove workaround with ROCm 5.3"
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/9a351bb2286eee13a0135ee14c08197842ff3a4c/test/CMakeLists.txt#L250

These tests have issues with gfx90a and fp16, which is not reproducible with ROCm 5.3

This issue is to keep track of Workaround removals

[2022-09-13 05:00] xinlipn commented on #1606
I'm having similar issues on Ubuntu 20.04.05 LTS

1. when run ./utils/install_precompiled_kernels.sh
Unable to locate package miopen-hip-gfx1030-30kdb

2. when run ./opt/rocm-5.2.0/bin/install_precompiled_kernels.sh
Unable to locate package miopen-hip-gfx1030-60kdb

[2022-09-13 06:41] junliume commented on #1606
@xinlipn with latest MIOpen, you can use `git lfs --exclude= --include=gfx1030_36.kdb` and then copy the file `src/kernels/gfx1030_36.kdb` to `/opt/rocm/share/miopen/db/`, rename it to `gfx1030_40.kdb`
Please check file size and make sure it is pulled correctly.

[2022-09-13 06:56] #1733 closed

[2022-09-13 16:04] atamazov opened #1753 "[debug] Overriding of tuning values does not work"
This debugging feature is often necessary for triaging tuning problems.
[code]
Value in perf-db is 40, overridden from env by 1, but actually used value is still 40 (`n_groups=40`).

@Slimakanzer @averinevg @DrizztDoUrden Please have a look. I am not sure what is the reason of the issue, is it ConvBinWinogradRxSf2x3 specific or a generic side effect of recent refactorings/reworkings.

<details><su

[2022-09-13 23:21] atamazov commented on #1606
@junliume I hate to say this, but AFAICS this ticket is about PyTorch wheel problems with missing db, which [can't be resolved by copying databases](https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1606#issuecomment-1239919712).

The problem described by @xinlipn looks similar but it is actually different -- it's an issue with installing precompiled kernels. Can we move it into dedicated tick

[2022-09-15 10:27] jeanmartin13 opened #1756 "System freeze when using viewport shading on blender 3D"
I have system freeze when using viewport shading in Blender 3.3 (also 3.2) on high poly objects. Try to open the blend file provided, go in wiewport shading view, cycles render engine GPU enable, and try to rotate the object named body_linux  (using MMB), after a few times the system freezes (ugly scren, can go back to session login screen with several "ctrl-alt-del". Blender devs said that it is

[2022-09-17 09:55] grinness opened #1764 "[gfx1030][ROCM 5.2.3][rocm-arch]MIOpen(HIP): Error [Do] 'amd_comgr_do_action(kind, handle, in.GetHandle(), out.GetHandle())' AMD_COMGR_ACTION_COMPILE_SOURCE_TO_BC: ERROR (1)"
Hi,

I am using the rocm-arch repos to build:
* rocm 5.2.x -- latest available sources from the repos
* python-pytorch-rocm and python-torchvision-rocm
* all compiled setting the target gfx1030 for both PYTHON and AMDGPU (I have rx6800)

Testing few ML algorithms from the torchvision packages on the MINST dataset: standard feed-forward neural nets work fine, but convolutional neural networks do no

[2022-09-17 09:57] grinness commented on #1764
The link to the rocm-arch git issue:

https://github.com/rocm-arch/rocm-arch/issues/857

[2022-09-19 15:27] bghimireamd opened #1766 "`miopen::checkNumericsInput` does not detect nan for data type `bfloat16` in OpenCL"
I have a [PR](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1752) that is failing in the [test](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/bg/LWPMIOPEN-40/test/gtest/dumpTensorTest.cpp#L127) I wrote.

In the test, I have a variable `host_tensor` which is populated with `nan`. I then pass this `host_tensor` to `miopen::checkNumericsInput` to detect nan but for some reason this api do

[2022-09-20 21:36] alexandraBara opened #1769 "CU check from solvers causes fail during compile step"
Some solvers check the local CU count in the IsValid function and this causes a segfault.
[code]

Steps to reproduce:

1. launch the docker from ginger: ci-tuna:cderb_ubuntu20_dockerbuild_16
2. run fin with the input file attached ```/opt/rocm/bin/fin -i input_file.json -o some_file.json``` where input_file.json is the attached json file. The output file you can name to <whatever>.json just needs

[2022-09-20 22:08] atamazov commented on #1766
@bghimireamd Please look how `checkNumericsInput` is implemented, specifically at `MIOPEN_CHECK_NUMERICS` env var.

May I ask why `value_high` is set for the issue related to the debugging functionality?

[2022-09-21 02:46] cderb commented on #1769
This same error is also showing up during performance evaluation for MLIR. It seems to be a result of the reference to the **stream handler** deteriorating (cause yet unknown).

The error is observable by calling Fin on the attached input file.

The entry point into miopen from fin is through a call to GetPerfCfgParams which takes the **ConvolutionContext**. This eventually calls down to mlir xdlo

[2022-09-21 12:39] doriantsolak opened #1770 "MI100 produces incorrect results in Stable Diffusion inference"
It is quite straightforward to get inference for stable diffusion running on the MI100 (just like any other AMD GPU I suppose).

Using the rocm/pytorch container with ROCM 5.2 installed on the host machine and replacing the conda dependencies in the SD environment.yaml with the official pytorch build (torch torchvision from --extra-index-url https://download.pytorch.org/whl/rocm5.1.1) is enough to

[2022-09-21 16:19] junliume commented on #1769
@alexandraBara @cderb : please check the description here: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1747
and the root cause #1533  where almost similar ConvBinWingradRxSf2x3 and ConvBinWingradRxSf3x2 solvers were merged into one ConvBinWinoRxS solver

[2022-09-21 17:36] atamazov commented on #1769
@alexandraBara

Some Solvers need to know the number of CUs (to produce Solution), and such a request is legitimate.

[2022-09-21 18:11] junliume commented on #1756
@jeanmartin13 it is likely not (or not only) an MIOpen issue, let's see if I have other channels of escalating it internally.

[2022-09-21 18:15] doriantsolak commented on #1770
I am closing this, as I realized during further testing that the reason for this seems to be that PyTorch uses too low precision when using autocast. If one specifies `--precision full` images of the same quality can be obtained. Maybe this helps some people as it bseems to be somewhat of a trap (since non-AMD GPUs produce high quality images without setting preicion manually).

[2022-09-21 18:15] #1770 closed

[2022-09-21 19:28] junliume opened #1775 "[Help needed] OpenCL issues when creating Ubuntu 22.04 base docker image"
**[Summary]**:
When I am trying to build OpenCL backend (static check only) with `ci_rocm530_ubuntu2204` branch on the `rocm/miopen:ci_rocm530_ubuntu2204` docker, I am seeing the following strange errors:
[code]

**[Steps to reproduce]**:

1. Pull the docker `rocm/miopen:ci_rocm530_ubuntu2204`
2. Clone MIOpen:
[code]
3. Checkout the branch: `ci_rocm530_ubuntu2204`
4. The following commands:
[code]

[2022-09-21 20:14] bghimireamd commented on #1766
@atamazov I am only using the return value (bool) of `checkNumericsInput`. Looking at the code, `MIOPEN_CHECK_NUMERICS` seems to be used for logging, print stats and throwing errors. Unless I am missing something, turing on of flags in `MIOPEN_CHECK_NUMERICS` should not be necessary just to detect nan.

[2022-09-22 01:41] zhanglx13 opened #1777 "[CK] Integration with the latest composable_kernel project"
During the static check stage, the following error occurs (CI build can be found [here](http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/find-MLIR/71/pipeline/13))
[code]
The header file in question seems to be removed by this PR: https://github.com/ROCmSoftwarePlatform/composable_kernel/pull/281.

I rebuilt the docker image using the latest commit from composable_kernel

[2022-09-22 09:19] jeanmartin13 commented on #1756
Thanks for your answer. I don't really understand what it means except that I may have opened a ticket in the wrong place and you try to find other channels more related to my issue. As I'm not a developper I just tried to find a rocm related bug report because this bug is really annoying and it seems I'm not the only one experimenting it.

Anyway thanks a lot to see if you can find a better place

[2022-09-22 10:26] xuhuisheng commented on #1756
@jeanmartin13
The blender cycles use HIP directly, it didn't based on MIOpen.
I think the right place to feedback blender's issue is the blender community.

[2022-09-22 11:03] jeanmartin13 commented on #1756
@xuhuisheng that's what I did first, but they answered that it wasn't a Blender issue but a driver issue...

[2022-09-22 12:32] Yanxing-Shi commented on #1777
@zhanglx13 As you said, The header file host_interface. hpp removed in this PR [#281](https://github.com/ROCmSoftwarePlatform/composable_kernel/pull/281)
In merged PR [#281](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1692) Dockerfile
`ARG CK_COMMIT=91d8b7d67ae9dbf8a6e691ea3e17c0b9705c6ba7`
So, you can change can change the composable_kernel commit_id in requirements.txt.
`
ROCmSoftwarePla

[2022-09-22 13:55] zhanglx13 commented on #1777
@Yanxing-Shi I also noticed in a more recent PR https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1737, the commit id of CK was changed to `7589116121f80189f47cfd8692f300ee8c6377ad` and @junliume requested to change CK's commit id to a more recent one in [here](https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1733#issuecomment-1235792832).
Does it mean MIOpen decided to bound with the old C

[2022-09-22 18:54] alexandraBara commented on #1769
While my failure was observed while running one of the renamed solver, @cderb  same observations are not related to this solver.

[2022-09-22 19:01] cderb commented on #1769
Issue appears to be that when we are calling into MIOpen from fin, our stream handler is becoming corrupted.

in Fin, with debug lines:
[code]

in MIOpen, with debug lines:
[code]

[2022-09-22 19:25] cderb commented on #1769
Found the Issue. PR soon

in anysolver:
[code]
ctx.problem should be ctx

[2022-09-22 23:42] atamazov commented on #1775
@junliume It seems like cmake finds some old clang++ somewhere in the docker and uses it for building the host code. Does adding `CXX=g++` prior `cmake...` resolve the issue?

[2022-09-23 00:00] junliume commented on #1775
No, adding `CXX=g++` does not resolve the issue, unfortunately. And this PR has the same issue:
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1761

This above PR might be the root cause of the issue though, since I have merged it into this ci_rocm530_ubuntu2204 branch

[2022-09-23 00:04] pfultz2 commented on #1775
Try adding `VERBOSE=1` to the make command so it will print out how its calling the compiler.

It looks like `hip::device` is being linked on OpenCL backend. Maybe this is coming indirectly from another dependency that libMIOpen is using, such as comgr, mlir, or CK. Also it could be something unusual is happening with `find_package(hip)` as well.

[2022-09-23 00:07] junliume commented on #1775
Thanks, @pfultz2 !  PR https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1761 might be the cause and libMIOpen using CK could be the prime suspect. Just not sure how at this moment.

[2022-09-23 00:16] junliume commented on #1775
@atamazov  @pfultz2 I might be missing an obvious one: CK does not support OpenCL backend.
@JehandadKhan  we need to isolate CK when OpenCL backend is chosen ...

[2022-09-23 00:18] pfultz2 commented on #1775
Yea I am thinking the same thing, but it seems to be unconditionally enabled though.

[2022-09-23 03:45] Yanxing-Shi commented on #1777
@zhanglx13
- Sorry, I hadn't noticed that before. Because the CK's code corresponding to the commit id `7589116121f80189f47cfd8692f300ee8c6377ad`no longer has the `host_interface.hpp`, your PR [#1673](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1673) didn't go through.
-  If use CK's more recent commit id, the integration with the CK project some modifications are required for the latest C

[2022-09-23 19:01] umangyadav opened #1780 "[Find2.0][MIGraphX] Deconvolution support in Find 2.0 API"
Is Deconvolution supported with Find 2.0 in MIOpen?

MIGraphX has simple deconvolution test [here](https://github.com/ROCmSoftwarePlatform/AMDMIGraphX/blob/develop/test/verify/test_deconv.cpp).

When I updated MIGraphX deconvolution Op to use Find.2.0 Interface of MIOpen, the test fails.

Attached is the Log of MIOpen and MIGraphX for that particular test.

[log.txt](https://github.com/ROCmSoftwar

[2022-09-23 22:28] junliume opened #1782 "curl -s https://codecov.io/bash no healthy upstream"
CI pipelines are blocked

[code]

[2022-09-25 03:03] junliume commented on #1782
External issue has been resolved

[2022-09-25 03:03] #1782 closed

[2022-09-25 03:14] junliume opened #1783 "CK installation via requirements.txt fails, but manual process works"
**[Symptoms]**:
CK installation failed via `requirements.txt`
[code]
with
[code]

However, if manually enter the temporary directory
[code]
and then
[code]
then everything works as expected.

**[Discussion]**:
Simple Steps to reproduce this issue:
[code]
then
[code]
then **remove all other inputs in requirements.txt to save time**:
**Keep the ONLY line in `requirements.txt`**
[code]
then
[code]

@

[2022-09-25 19:10] mdrokz commented on #1764
i had the same issue on fedora 36 i solved it by installing the miopen-cl package from official ROCM repos, you get that error when you are missing miopen libraries

[2022-09-26 01:54] pfultz2 commented on #1783
So cget uses a toolchain file under `$CGET_PREFIX/cget/cget.cmake` to set cmake variables, so it would invoke it with `cmake -DCMAKE_TOOLCHAIN_FILE=$CGET_PREFIX/cget/cget.cmake -DCMAKE_INSTALL_PREFIX=$CGET_PREFIX` plus any additional `-D` flags listed in the requirements.txt(see [here](https://cget.readthedocs.io/en/latest/src/building.html#installing-cmake-packages)). You can also run with `--ver

[2022-09-26 06:33] junliume commented on #1783
Thanks @pfultz2 removing the `-DCXX=/opt/rocm/llvm/bin/clang++ ` part indeed has helped.
Adding the `--verbose` line does not seem to have any effects though.

[2022-09-26 06:33] #1783 closed

[2022-09-26 15:30] alexandraBara commented on #1769
Issue fixed in #1778

[2022-09-26 15:30] #1769 closed

[2022-09-26 16:17] junliume opened #1787 "[gfx908][ROCm 5.3][SWDEV-353150] Soft hang with test_miopendriver_big_tensor"
**[Symptoms]**:
https://ontrack-internal.amd.com/browse/SWDEV-353150
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/ci_rocm530_ubuntu2004/8/pipeline/1391/

This issue is a regression, when base OS and docker ROCM versions are both ROCm5.2 it worked as expected. However, when the baseOS is still ROCm 5.2 and docker ROCM is 5.3 we have **soft hang** with:
[code]

The sam

[2022-09-27 00:23] junliume commented on #1787
@aska-0096 @carlushuang  actually, I see that the process is stuck at verification phase:
[rocm530.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9650438/rocm530.log)
Do you know why it is using `miopenConvolutionFwdAlgoImplicitGEMM`?
[code]

[2022-09-27 00:32] junliume commented on #1787
[rocm530.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9650489/rocm530.log)
[rocm523.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9650491/rocm523.log)

[2022-09-27 03:54] aska-0096 commented on #1787
it looks very strange that in rocm5.3:
[code]
while the vectorLength should be 1 because it is not a vectorized tensor. Let me why it becomes that

[2022-09-27 08:01] junliume commented on #1787
@aska-0096  which part is taking too long to compile? If you are pulling the `rocm/miopen:ci_rocm530_ubuntu2004` docker, you do not need to build the dependencies such as CK or MLIR, building MIOpen itself should be really quick.

[2022-09-27 09:44] grinness commented on #1764
@mdrokz

Thanks for the hint (miopen-opencl).
There is currently a package/dependency issue in the rocm-arch repo that prevents testing.

I flagged the issue:
https://github.com/rocm-arch/python-pytorch-rocm/issues/51

[2022-09-27 10:41] mdrokz commented on #1764
Ah no problem, i had the same issue on arch but could never figure out what was wrong, when i switched to Fedora i stumbled upon an YouTube video that showed how to install rocm and miopen

[2022-09-27 11:45] atamazov commented on #1764
@grinness @mdrokz Huge logs impede reading. Please read this and edit your comments: https://github.com/ROCmSoftwarePlatform/MIOpen/wiki/How-to-insert-console-logs-into-github-pages

[2022-09-27 11:46] atamazov commented on #1764
@mdrokz Please avoid quoting huge logs. You can insert a link to the comment that contains log. Thanks.

[2022-09-27 11:59] atamazov commented on #1764
@grinness

Usage of this file looks suspicious. HIP compiler should use header from `/opt/rocm/llvm/lib/clang/14.0.0/include/cuda_wrappers`. I think this is configuration problem. Please check if you've used `CXX=/opt/rocm/llvm/bin/clang++ cmake ...` as necessary.

[2022-09-27 14:55] grinness commented on #1764
@atamazov

rocm, pytorch and pytorch vision come from the rocm-arch AUR repos -- and there are possibly 50+ packages

Looking at miopen-hip PKGBUILD, the variable seems to be set correctly:

`
prepare() {
  cd "$_dirname"

  # -fcf-protection is not supported by HIP, see
  # https://docs.amd.com/bundle/ROCm-Compiler-Reference-Guide-v5.2/page/Appendix_A.html
  # -fPIC fixes linking errors.
  export

[2022-09-27 16:10] grinness commented on #1764
@atamazov

with regards to your query on CC and CXX env variables, python-pytorch-rocm PKGBUILD uses gcc, not the rocm clang binaries:

[code]
I'll try to set the above to cang/clang++ and see if compiles

Thanks,

https://github.com/rocm-arch/python-pytorch-rocm/blob/master/PKGBUILD

[2022-09-27 19:07] junliume commented on #1787
@aska-0096 could you check the following?
In the failed case:
`Info2 [PrepareInvoker] Preparing kernel: naive_conv_fwd_nchw_float_double_float`
while in the passing case:
`Info2 [PrepareInvoker] Preparing kernel: naive_conv_fwd_nchw_fp32`

[2022-09-27 20:43] grinness commented on #1764
FYI,

python-pytoch-rocm does not compile with rocm clang

[2022-09-27 22:25] atamazov commented on #1764
[informative] I run into similar issue with ROCm 5.2.3 when building CK (composable kernels) library. I'll look into it...

[2022-09-28 06:48] grinness commented on #1764
Hi,

to verify if miopen-opencl backend works in place of miopen-hip for pytorch (after going around a number of packageing and dependency issues in rocm-arch AUR), I tried to compule python-pytorc-rocm (AUR) but the build breaks in multiple places ('no marching function' or 'no known conversion') -- not sure where to go from here:

[code]

[2022-09-28 06:52] aska-0096 commented on #1787
Hi @junliume , this part is related to GPU verification kernel, I think it's less possible to hang here because the issue still exist with CPU verification

[2022-09-28 09:53] atamazov commented on #1764
@grinness I am not sure where to go as well. Thanks for opening https://github.com/rocm-arch/python-pytorch-rocm/issues/51.

Please indicate importance/urgency of this issue for you, if you have any workaround or not (e.g. you can use previous rocm) and let's stay in touch.

/cc @junliume

[2022-09-28 10:39] aska-0096 commented on #1787
Hi @junliume
I've found the root cause is:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/ad9779dede0a36d86013ddf86fafe31998c3fc5c/driver/conv_driver.hpp#L1902

It's observed out of memory fault when code try allocate workspace size to `workspace_dev `unique_ptr.
`[hiperror](2) fail to call hipMalloc(static_cast<void**>(&buf), data_sz * sz),(out of memory)`
However, it should not have this ki

[2022-09-28 20:32] junliume commented on #1787
@aska-0096 thanks! Can we establish a minimal example about the exact line? So that we can issue a ticket to runtime.

[2022-09-28 20:35] grinness commented on #1764
@atamazov,

in terms of importance: I use pytorch AI algorithms on the rocm platform and synthetic datasets as proof of concepts (POC) for work
in terms of urgency: there is no immediate urgency on my end, but I do have a list of POCs to run

I could use a docker, but most of the pre-compiled rocm distributions do not have gfx 1030 enabled (AFAIK), I could use CPU -- I do not have available anothe

[2022-09-29 03:23] aska-0096 commented on #1787
@junliume
Hi Jun. I have not find a way to reproduce this issue in a standalone hip file until now.
However I have found a related hip API issue during my debug experiment, the `hipMemGetInfo()` not works correctly on both ROCm 5.3.0 and ROCm 5.4.0.10738, it works well on ROCm 5.0.0 using this example file.
[get_meminfo.hip.cpp.zip](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9670412/get_

[2022-09-29 03:55] junliume commented on #1787
Well done! Please create a JIRA ticket so that I can assign to related component :) Thanks!

[2022-09-29 05:37] aska-0096 commented on #1787
Hi @junliume , JIRA ticket is created: https://ontrack-internal.amd.com/browse/SWDEV-359453
please feel free to modify its ticket description if any inappropriate.

cc @carlushuang

[2022-09-30 07:12] dipietrantonio opened #1797 "Does MIOpen in ROCm >= 5.2.3 still depend on boost 1.72.0?"
In your documentation, version 1.72.0 of boost is explicitly requested. It has been like that for a while. As the title says, can later versions of boost be used to install MIOpen from source?

[2022-09-30 09:39] mdrokz commented on #1764
Hi on arch i was using a Dockerfile as well to run ROCM on gfx1030 if you want i can share the Dockerfile with you.

[2022-09-30 14:46] junliume commented on #1797
Hi @dipietrantonio from the readme file:
[code]
the documentation needs to be updated in the next release.

[2022-09-30 20:47] umangyadav opened #1800 "[Find2.0][MIGraphX] Quant Convolution fails with Find 2.0"
For the quant convolution output tensor descriptor is of type int32 and innputs are either int8 or int8x4.

Find2.0 uses "MIOpenSubTensorOpWithScalarKernel.cl" program which doesn't support int32 type.

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/5e78e715b174edc2119560f41dcababeb1957fac/src/ocl/tensorocl.cpp#L1438

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/5e78e715b174edc2119560f

[2022-10-04 17:37] atamazov opened #1805 "install_deps.cmake fails to build rocm-recipes"
ROCm 5.2.3, `bug`, `urgency_normal` because 3rd party developers might be unable to install necessary deps.

<details><summary><b><i>Failing log</i></b></summary>

[code]
</details>

### Workaround 1

Commenting out the following line works for me (possibly because I already have rocm-recipes installed):

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/27f9528c059c96b8fc3c62f3da1769a140640139/

[2022-10-04 17:50] junliume commented on #1797
@JehandadKhan could you re-assign some one on updating the following page:
https://rocmsoftwareplatform.github.io/MIOpen/doc/html/install.html?highlight=boost

[2022-10-04 17:53] junliume commented on #1805
@atamazov it is strange since even though repo is moved, GitHub usually maintain backward compatibility:
`https://github.com/pfultz2/rocm-recipes` is automatically redirected to `https://github.com/ROCmSoftwarePlatform/rocm-recipes`

[2022-10-04 18:01] junliume commented on #1805
@pfultz2
after checking the log above, I have met similar problems before:

It seems that we cannot create the link if the link already exists (in previous installations for example).

@atamazov in your case deleting the file `/home/atamazov/miopen-deps/etc/cget/recipes/require-hcc/package.txt` or deleting the directory `/home/atamazov/miopen-deps/` (actually preferred) would likely resolve the is

[2022-10-04 18:21] atamazov commented on #1805
@junliume Thanks, I will try it out and let you know if it helps. Description updated.

[2022-10-04 18:25] junliume opened #1807 "[Quality Sponsorship and Community Commitment] Remove Global Warning Suppressions"
**[Keywords]**:
Good-first-PR; Quality

**[Purpose]**:
Eliminate global warning suppressions as much as possible:

- Fix code quality issues wherever possible
- Suppress some warnings at code level (line, or range of lines)

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/27f9528c059c96b8fc3c62f3da1769a140640139/CMakeLists.txt#L626-L654
and
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/2

[2022-10-04 18:27] junliume commented on #1807
Please claim your sponsorship by commenting in this thread, and explicitly mark the ones you are working on to avoid work duplications. Thanks!

[2022-10-04 18:38] bghimireamd commented on #1807
@junliume I will be working on `-misc-confusable-identifiers`

[2022-10-04 18:51] junliume commented on #1807
Please use discretion if after all, it would be better to suppress at global level: for example, if there are way too many `var pl, p1, pi, pI;` to deal with, it might not worth your time fixing all of them

[2022-10-04 19:27] JehandadKhan commented on #1807
@bghimireamd  Can you append your name to the list above ?

[2022-10-04 20:13] pfultz2 commented on #1807
This should be suppressed. There is no ODR because of using seperate executables, but cppcheck doesnt understand that as it assumes everything will be compiled together in one binary.

There are FPs with this so we have it globally disabled for MIGraphX. So I dont think we can fix this.

We have shadow warnings for the compiler so we can disable this check. Its most likely reporting a FP since we

[2022-10-04 20:16] pfultz2 commented on #1807
Clang tidy provide fix-its for many checks(especially the modernize ones), so we should apply those fix-its first.

[2022-10-04 20:19] pfultz2 commented on #1807
You are also missing the `-Wno-unused-result` warning being disabled here: https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/cmake/EnableCompilerWarnings.cmake#L96

[2022-10-04 20:21] pfultz2 commented on #1807
I have some fixes for this here on this branch:

https://github.com/ROCmSoftwarePlatform/MIOpen/commit/57d210b6cbfde18cc678e3935b7ad05871fc8aae

[2022-10-04 23:08] dipietrantonio commented on #1797
Thank you for your reply! Looking forward to trying rocm5.3

[2022-10-05 00:05] junliume opened #1809 "[FIN] Dockerfile and the FIN submodule is outdated"
MITuna should update the FIN submodule to the latest

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/27f9528c059c96b8fc3c62f3da1769a140640139/fin/Dockerfile#L13

[2022-10-05 01:15] junliume commented on #1807
I tried to add `-fix-errors` right after this line:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/27f9528c059c96b8fc3c62f3da1769a140640139/cmake/ClangTidy.cmake#L128

The results are actually ... not very ideal, I guess smart auto fix is not so smart afterall.

[2022-10-05 01:25] pfultz2 commented on #1807
You should also run `make -k tidy` so it will keep running even after failures so you can capture all fixits at once.

[2022-10-05 05:07] junliume commented on #1797
Let us know if you have any questions! :)

[2022-10-05 05:08] #1780 closed

[2022-10-05 14:04] grinness commented on #1764
@mdrokz

I tested using docker image provided in :

https://hub.docker.com/r/rocm/pytorch/#!

the latest version of the docker image supports gfx 1030 (rocm is version 5.2.0)
Convolutional neural-networs and feeed-forward neural network work fine (pytorch/torchvision) -- Note that I use standard Arch Zen Linux kernel with the docker image, not the rocm version and no issues.

It must be something

[2022-10-05 14:48] Denizzje commented on #1709
Hi @junliume  ,  I see there has been a ROCM 5.3 with Ubuntu 22.04 support. Which is good because I feel like taking a time capsule when having to boot 20.04 ;).

 Just a quick follow up question if there has been some progress with this issue or do I need to prepare to compile PyTorch from source when reinstalling Ubuntu and ROCM 5.3? Id rather set it up correctly at once so if there has been no

[2022-10-05 22:46] atamazov commented on #1709
@Denizzje Most likely, your question (together with the issue of missing embedded pre-compiled kernel db for gfx1030/36 in PyTorch) should be addressed to Frameworks team.

@junliume @sunway513 @JehandadKhan What do you think?

[2022-10-06 19:22] atamazov opened #1815 "Porting Guide must be revised."
- https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/doc/src/MIOpen_Porting_Guide.md#the-key-differences-between-miopen-and-cudnn section is seriously outdated
- https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/doc/src/MIOpen_Porting_Guide.md#helpful-miopen-environment-variables
  - duplicates info from [DebugAndLogging.md](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/de

[2022-10-06 19:23] atamazov commented on #1815
@junliume `urgency_low`, `documentation`

[2022-10-06 19:30] junliume commented on #1800
@DrizztDoUrden @atamazov can we take a quick look at this issue?

[2022-10-06 20:51] atamazov commented on #1800
@umangyadav Does it work with Find 1.0 without your fix? If yes, then it is @DrizztDoUrden who can provide the proper fix soon.

Can we reproduce the issue using our tests or driver? Easy reproduction is important for speed.

[2022-10-06 21:21] umangyadav commented on #1800
@atamazov Yes it works with find1.0 without my fix.

[2022-10-06 21:24] umangyadav commented on #1800
@atamazov For the production, i am not much aware with unit-tests or driver  on MIOpen side. Does miopen-driver suppport find.2.0 ?

Otherwise, i can locally test it with MIGraphX once the PR is up.

[2022-10-06 21:50] atamazov commented on #1800
@umangyadav

In #1503 (that you have partially reviewed) you can see new Find2.0 specific tests (so now we have `test_con2d_find2` and `test_conv3d_find2`). If you have difficulties with those (e.g. I am not sure that INT32 is supported), just let us know failing convolution configs. You can use MIOpenDriver's syntax as if you use Find 1.0. Or whatever format that you like.

Thanks. But the _proce

[2022-10-06 21:59] atamazov commented on #1764
@grinness It seems like you've run into some very specific issue. And most likely this is a configuration problem that can't be fixed in MIOpen. If the problem is now resolved for you then I do not see any reason to keep this ticket open.

@mdrokz Do you agree?

[2022-10-06 22:10] junliume commented on #1809
Resolved by #1810

[2022-10-06 22:10] #1809 closed

[2022-10-07 00:01] pfultz2 commented on #1805
This can cause packages to clobber each other, and if you remove or update one package it could remove files from another unrelated package(even ones not installed by cget).

You can do `cget clean -y` to remove all older packages. We have it commented out in install_deps.cmake:

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/install_deps.cmake#L105

It says there is a problem with re

[2022-10-07 09:00] mdrokz commented on #1764
You can also try this docker file https://gist.github.com/mdrokz/04ff6d96e8b32f6842061306f127530b

[2022-10-07 09:01] mdrokz commented on #1764
I agree it's most likely a configuration problem, you can close this issue :)

[2022-10-07 15:56] umangyadav commented on #1800
I tried reproducing now. But it didn't.  It is passing with the latest develop branch build.

I was comparing the MIOpen log from both cases and I see that in the failure case: it is looking for kernel in `dirty` kernel cache.

Failure log :
[quant_conv_failure.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9735396/quant_conv_failure.txt.txt)

Passing Log :
[quant_conv_passing.txt](http

[2022-10-07 18:54] atamazov commented on #1731
@littlewu2508 Please review #1816, thanks.

[2022-10-08 04:30] littlewu2508 commented on #1731
Sorry I forgot to mention, that this issue also exists in other kernels -- the lower case "n" and "y" are affected.

For example, in [src/kernels/dynamic_igemm/igemm_v4r1_dynamic.s](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/src/kernels/dynamic_igemm/igemm_v4r1_dynamic.s), those `.name: n` and `.name: y` has to be replaced, too. That's a huge modification, affecting thousands of k

[2022-10-08 11:01] grinness commented on #1764
Hi all,

thanks for all the info, closing now: issue with rocm-arch repo packages

Best

[2022-10-08 11:01] #1764 closed

[2022-10-09 05:34] MOLOjl opened #1819 "How should I use the batchnormalization kernel?"
Hi, the code below got an error as "Segmentation fault (core dumped)", I checked the parameters, but they seems all right, I counldn't fix this bug, please help me.
[code]
My environment is:
[code]

[2022-10-10 05:54] junliume commented on #1731
@atamazov it seems that #1816 does not fix them all, and there will be more patches incoming?

[2022-10-10 15:07] littlewu2508 commented on #1731
Because https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1816 does not fix all the cases, can this issue be reopened?

[2022-10-10 16:27] atamazov commented on #1807
### Status of what I've taken

- In #1823
  - [x] unknownMacro (continue from [57d210b](https://github.com/ROCmSoftwarePlatform/MIOpen/commit/57d210b6cbfde18cc678e3935b7ad05871fc8aae))
  - [x] -bugprone-branch-clone
  - [x] -bugprone-easily-swappable-parameters
  - [x] -bugprone-implicit-widening-of-multiplication-result

I am testing with ci_rocm530_ubuntu2004 and with ci_rocm530_ubuntu2204, with

[2022-10-11 05:19] junliume opened #1820 "[SWDEV-361241] symbolic links of MIOpen library are circular"
The Tensorflow MI300 NPI CI build is failing to MIOpen library symbolic link issues. The failure log could be found via:

http://rocm-ci.amd.com/view/mi300/job/framework-tensorflow-npi-mi300-ci/17/console

Snippets of failure log:

14:53:57  Error in fail:
14:53:57  [0;31mROCm Configuration Error:[0m Cannot find rocm library MIOpen
14:53:57  [0m[91m[31m[1mERROR: [0mSkipping '//tensorflow/to

[2022-10-11 13:49] atamazov commented on #1807
`-bugprone-branch-clone` is taken

[2022-10-11 13:53] atamazov commented on #1731
@littlewu2508 @junliume Please reopen (I can't)

[2022-10-11 14:01] atamazov commented on #1731
@littlewu2508 Thanks for triaging and for the script. I am going to append underscore to n and y. Please expect another PR very soon.

[2022-10-11 18:00] atamazov commented on #1807
-bugprone-easily-swappable-parameters is taken.

[2022-10-11 19:58] atamazov commented on #1807
-bugprone-implicit-widening-of-multiplication-result is taken

[2022-10-11 20:29] umangyadav commented on #1800
@atamazov @DrizztDoUrden

Here is the minimal example, i could come up with.

[CMakeLists.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9759523/CMakeLists.txt)
[load_and_save.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9759528/load_and_save.txt)

Steps to reproduce :

1. rename `load_and_save.txt` to `load_and_save.cpp` ( as i couldn't attach .cpp file).
2. Use cmakelists

[2022-10-11 22:00] junliume commented on #1807
@atamazov you can push your branch and I will kick off CI pipeline on the two dockers from time to time. :)

[2022-10-11 23:09] atamazov commented on #1807
@junliume Thanks, I have enough CPU power, please save your time ;)

[2022-10-12 16:44] dipietrantonio commented on #1797
Hi @junliume, Indeed I have one more question, but not related to this issue in particular. Do you know anything about building LLVM with OpenMP offloading support?

https://github.com/RadeonOpenCompute/ROCm/issues/1822

[2022-10-12 20:19] junliume commented on #1797
We have asked internal teams to take a look at that ticket, it is not related to MIOpen while we will find relative support for it.

[2022-10-12 23:07] atamazov commented on #1681
Via #1747

[2022-10-13 15:43] atamazov commented on #1807
Now I take a break until #1823 is merged in.

[2022-10-14 12:42] umangyadav commented on #1800
@DrizztDoUrden @atamazov Are you able to reproduce the error with this test case ?

[2022-10-14 19:01] atamazov commented on #1800
[side note] @umangyadav please avoid excessive quotation.

[2022-10-14 19:02] atamazov commented on #1800
@umangyadav Which GPU shall we use?

[2022-10-14 19:12] umangyadav commented on #1800
I was using MI100, but any would do i think.

[2022-10-14 19:55] junliume commented on #1820
It should be an outdated code issue, closing as not reproducible with latest

[2022-10-14 19:55] #1820 closed, assigned to JehandadKhan

[2022-10-14 22:44] atamazov commented on #1800
@umangyadav Reproduced on Navi21 with `test_con2d_find2` (but it requires some patch to support int8). FYI command to reproduce:

[code]

The fix should not affect kernels, so most likely your fix is not the proper one.

I am investigating; stay tuned.

@DrizztDoUrden This is the patch that makes `--int8` working with test_con2d_find2: [test_conv2d_fin2__int8_fix.diff.txt](https://github.com/ROCmS

[2022-10-14 23:01] atamazov commented on #1800
~@DrizztDoUrden The problem happens somewhere in `GemmFwdRest` where int8 type is not handled properly~

[2022-10-14 23:41] atamazov commented on #1800
Error happens during SetTensor call, https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1503/files#r996216187

@DrizztDoUrden Find 1.0 does not use it and I think it should not be there. Let's make a quick call when you have time.

[2022-10-14 23:56] atamazov commented on #1800
@umangyadav The root reason is questionable API "feature", see here: (https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1503/files#r996219686). Let's discuss it in some dedicated ticket.

[2022-10-15 00:05] atamazov commented on #1800
@umangyadav

UPDATE: Your fix adds support for INT32, which is necessary if we decide to keep current implementation of the host code. Maybe we shall use `unsigned` instead of `int` but otherwise it looks good.

[2022-10-15 00:09] atamazov commented on #1800
I will provide ~W/A~ some solution for this tomorrow.

[2022-10-17 13:21] umangyadav commented on #1800
@atamazov Thanks for investigating.
Can we get a temporary workaround in 5.4?

[2022-10-17 13:30] DrizztDoUrden commented on #1800
I would say that there are two main ways of solving this with different purposes in mind.
The first is to add support for the type to the kernel as you have suggested. I don't really see the downsides. A benefit of doing it first is that you won't have to change the way you are using the library.
The second is to allow the consumer to provide his own buffers as in find 1.0, but via find options. I

[2022-10-17 16:06] atamazov commented on #1800
I think yes. Let's ask @junliume to cherry-pick ~W/A~ necessary change into 5.4 release branch.

[2022-10-17 19:19] atamazov commented on #1800
@umangyadav #1828 opened.

[2022-10-17 19:28] atamazov commented on #1800
@umangyadav Please comment on https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1800#issuecomment-1280864283. Current Find 2.0 implementation simplifies the user's apps but the cost is loss of flexibility. Also the GPU memory is now owned by two: the library (which needs to allocate buffers for Find call) and the user's app, -- this is not good (especially if tensors are very big).

[2022-10-17 19:29] atamazov commented on #1800
@umangyadav oops, now I see your comment at https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1503#discussion_r997059225

[2022-10-17 20:07] umangyadav commented on #1800
Currently, MIGraphX is not allocating any buffers itself for calling `Find-2.0`. It is just passing the tensor descriptors. But it is allocating buffers for Find-Immediate API and  passing them through `miopenFindConvolutionForwardAlgorithm`. So, I think it is not duplicating buffer allocations for `Find` process.

FYI @pfultz2

[2022-10-17 23:32] atamazov commented on #1731
@littlewu2508 #1830 created 😎

[2022-10-18 06:16] junliume commented on #1819
@muralinr could you take a look at the above issue? CC: @zjing14

[2022-10-18 06:17] #1805 closed

[2022-10-18 07:01] dipietrantonio commented on #1797
Thanks, I have been provided with useful links that helped me finding the solution.

Best regards,
Cristian

[2022-10-18 12:25] atamazov commented on #1800
@umangyadav oops, now I see your comment at https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1503#discussion_r997059225

[2022-10-18 17:39] muralinr commented on #1819
It looks like "alpha and beta" are sent two times in the called API .  They should be used like below. Can you please use API like below and let me know if you see this issue?

miopenBatchNormalizationForwardInference(handle, miopenBNSpatial, &alpha, &beta, src_d1, src1,
                                             dst_d1, dst1, _bnScaleBiasMeanVarDesc,

[2022-10-18 22:43] #1787 closed

[2022-10-19 00:29] junliume commented on #1766
@bghimireamd could you update on this issue?

[2022-10-19 00:30] junliume commented on #1775
Resolved by #1761

[2022-10-19 00:30] #1775 closed

[2022-10-19 00:32] junliume commented on #1745
replaced with #1807

[2022-10-19 00:32] #1738 closed

[2022-10-19 00:37] #1777 closed

[2022-10-19 00:40] junliume commented on #1309
Resolved by https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1531

[2022-10-19 00:40] #1309 closed

[2022-10-19 00:41] junliume commented on #1385
consolidated with https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1807

[2022-10-19 00:41] #1385 closed

[2022-10-19 00:41] junliume commented on #1384
consolidated with https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1807

[2022-10-19 00:41] #1384 closed

[2022-10-19 00:42] #1355 closed

[2022-10-19 00:44] #1128 closed

[2022-10-19 00:45] #686 closed

[2022-10-19 00:46] #161 closed

[2022-10-19 00:47] #230 closed

[2022-10-19 00:47] #311 closed

[2022-10-19 00:50] junliume commented on #1756
Not MIOpen related and escalated through other channels for related teams

[2022-10-19 00:50] #1756 closed

[2022-10-19 00:50] #829 closed

[2022-10-19 00:51] #1797 closed

[2022-10-19 00:52] #247 closed

[2022-10-19 00:53] #618 closed

[2022-10-19 00:53] #1120 closed

[2022-10-19 09:28] MOLOjl commented on #1819
@muralinr
This function needs 14 arguments, providing 12 will cause the below error.
[code]
I tried to use other alpha and beta arguments, but they still don't work.
[code]

[2022-10-19 15:02] bghimireamd commented on #1766
@junliume  I was able to reproduce the error in my machine after I upgraded `rocm-5.1` to `rocm-5.2.3`. The failure was happening only in `OpenCL`. Since, `OpenCL` is being deprecated, for now I skipped adding any new tests in `OpenCL`.

Let me know if we still want to investigate the root cause of the issue in future. I will create a JIRA ticket for this issue.

[2022-10-19 16:07] atamazov commented on #1187
@junliume Can you please suggest which PR removes WORKAROUND_ISSUE_1187 (I do not see it)? If W/A is not removed, then test_conv_for_implicit_gemm is not enabled for MI200 yet. I highly recommend re-opening the ticket and following the plan shown at https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1187#issuecomment-953830894.

[2022-10-19 16:20] atamazov commented on #618
@junliume Can you please remind which PR resolves this? Thanks!

[2022-10-19 16:26] atamazov commented on #1119
@junliume @muralinr Can you please remind which PR adds regression test for SWDEV-300279? I am afraid that this ticket needs to remain in open state.

[2022-10-19 16:33] atamazov commented on #656
@junliume Unfortunately, I do not see how this was resolved. The code remains the same and this ticket has not been updated to prove that the current implementation is fine. I am afraid we are still in danger of elusive issues.

/cc @asleepzzz @asroy

[2022-10-19 20:04] junliume commented on #618
@atamazov we are closing a few legacy related tickets. If we confirm this is legacy OCL only, then most likely we won't be fixing it.
CC: @JehandadKhan

[2022-10-19 20:25] atamazov commented on #670
@junliume I am afraid that this should be reopened (recommended labels: https://github.com/ROCmSoftwarePlatform/MIOpen/labels/urgency_normal https://github.com/ROCmSoftwarePlatform/MIOpen/labels/quality https://github.com/ROCmSoftwarePlatform/MIOpen/labels/performance https://github.com/ROCmSoftwarePlatform/MIOpen/labels/workaround)

Right now we have WORKAROUND_SWDEV_266868. I think that at first

[2022-10-19 21:16] atamazov commented on #618
@junliume Thanks for explanation. We can use https://github.com/ROCmSoftwarePlatform/MIOpen/labels/wontfix and/or close as "not planned" (but textual description is the most important of course 😉)

![image](https://user-images.githubusercontent.com/12697412/196806115-dfbec39f-28f7-4923-88da-29ce37b35cd3.png)

[2022-10-19 21:29] junliume commented on #1187
Let's reopen it for now, now with more careful look we should keep it :)

[2022-10-19 21:30] junliume commented on #1766
@bghimireamd we can close it for now with wontfix label.

[2022-10-19 21:37] atamazov commented on #686
Programmers are github parasites. They infect it with selective amnesia to bugs they won't fix 🤣

[2022-10-19 21:50] muralinr commented on #1819
This is on old code base.  Can you please upgrade to the latest ROCM release and use API as mentioned in the release?

[2022-10-19 21:56] atamazov commented on #1766
@junliume @bghimireamd
AFAIU "OpenCL" as such is not deprecated. What is deprecated is OpenCL backend, but OpenCL kernels are not.

CheckNumerics is implemented using OpenCL kernels. Note that BF16 NaN detection won't work with HIP runtime as well. I recommend reopening the ticket.

AFAICS the reason of the issue is that BF16 values are interpreted as `ushort`. I think we have to properly utilize

[2022-10-19 22:06] atamazov commented on #670
@junliume I recommend removing https://github.com/ROCmSoftwarePlatform/MIOpen/labels/bug and https://github.com/ROCmSoftwarePlatform/MIOpen/labels/correctness -- that would better match the current status of the issue.

[2022-10-19 22:12] atamazov commented on #1385
@junliume Can you please update https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1807#issue-1396677690 by adding a link to this ticket, like this:
[code]
Thanks.

[2022-10-20 02:50] MOLOjl commented on #1819
I checked the `miopen.h` file in this repository, and only find one function named `miopenBatchNormalizationForwardInference()`, which takes 14 arguments.
I don't understand why I need to update my ROCm since I'm using the API from MIOpen, I'm not the manager of the server I'm using, there are other people who also use this server.  So upgrading ROCm is a risky attempt and may affect other people'

[2022-10-20 03:23] muralinr commented on #1819
As you said, MIOpen library is years ago.  I will find machine with your configuration on Vega20 and reproduce this issue.  I will update you once I reproduce it.

[2022-10-20 07:46] junliume commented on #1766
I guess it's a good reason to reopen this issue then

[2022-10-20 16:27] aserio commented on #1472
Work complete. @whchung to verify that this issue was resolved.

[2022-10-20 16:27] #1472 closed

[2022-10-21 06:07] JehandadKhan opened #1838 "Move GoogleTest dependency to requirements.txt"
Currently, GoogleTest is installed via CMake directive, while all the other dependencies are installed via cget. This creates a discrepancy which should be aligned.

[2022-10-21 13:56] pfultz2 commented on #1838
Since its a developer dependency it would be better in the dev-requirements.txt, but this will require to use the `BUILD_TESTING` cmake variable to enable tests and have it disabled by default. Although we could default it to enabled when `BUILD_DEV` is set as well.

[2022-10-21 16:35] atamazov commented on #1838
@pfultz2

In our CI we test non-DEV builds in many stages, and I believe we want to test non-DEV builds fully. The more tests moved to GoogleTest the more important is this. Can we always enable GoogleTest on our CI regardless of the build type?

[2022-10-22 02:05] junliume commented on #1819
@MOLOjl greetings! MIOpen is part of ROCm release, so if you are using and older version of ROCm but building the latest MIOpen library in it we may encounter compatibility issues.

@JehandadKhan and @atamazov  could you help to check if the API has changed recently?

[2022-10-24 01:58] MOLOjl commented on #1819
@junliume Thanks for your attention!
I didn't build the MIOpen library from the source code, it was installed while I was installing the ROCm, like this:
[code]
I mean my MIOpen library was bonded with the ROCm, I don't think there exist some version issues between them.

[2022-10-24 05:44] MissyDu opened #1842 "dataType – Only fp32 currently supported for RNNs (input)"
It seems there is a contradiction [here](https://rocmsoftwareplatform.github.io/MIOpen/doc/html/datatypes.html):
"dataType – Only fp32 currently supported for RNNs (input)"
                                 &
"Of these types only miopenFloat and miopenHalf are fully supported across all layers in MIOpen."

Whether RNN do not support half?

Thank you.

[2022-10-24 14:59] atamazov opened #1843 "Google tests to obey MIOPEN_TEST_HALF etc"
(1) When the tests are run under CTest's control (i.e. in our CI):
- (1.1) The tests in gtest folder must obey the MIOPEN_TEST_HALF, MIOPEN_TEST_INT8, MIOPEN_TEST_BFLOAT16 etc CMAKE variables. For example FP16 tests should be run only if MIOPEN_TEST_HALF was set to On when the library has been configured.
- (1.2) Ditto `MIOPEN_TEST_ALL`.
- (1.3) The refactored test should obey `SKIP_ALL_EXCEPT_TES

[2022-10-24 16:37] muralinr commented on #1819
I reproduced this issue. Crash is happening in recently introduced batchnorm solver code.  This is not reaching batchnorm OCL kernel code.  I will ask Kamil @shurale-nkn to look at this issue who made batchnorm solver code.

[2022-10-24 16:44] atamazov commented on #1819
@DrizztDoUrden maybe you can have a look at this, too.

[2022-10-24 19:46] atamazov commented on #1842
RNN supports half.

[2022-10-24 21:07] JehandadKhan commented on #1819
Hello @MOLOjl,

Thanks for your interest in MIOpen. Can you please update your code so that it actually creates the MIOpen Handle.

[code]

[2022-10-24 21:26] JehandadKhan commented on #1819
@MOLOjl Please let us know if we can help you further.

[2022-10-24 21:26] #1819 closed, assigned to zjing14, JehandadKhan, muralinr, shurale-nkn

[2022-10-24 21:31] atamazov commented on #1842
Fixed in #1844

[2022-10-25 02:43] MOLOjl commented on #1819
It seems the second alpha and beta argument should be in device memory, you should mention this in the [MIOpen API Reference](https://rocmsoftwareplatform.github.io/MIOpen/doc/html/batchnorm.html). Especially considering other APIs seems don't take a constant parameter from device memory.
The code below will return successfully.
Thanks for your help. @junliume @JehandadKhan  @atamazov @muralinr  @

[2022-10-25 02:50] MOLOjl commented on #1819
Like [this](https://docs.nvidia.com/deeplearning/cudnn/api/index.html#cudnnBatchNormalizationForwardInference)

[2022-10-28 02:01] #1842 closed, assigned to nobody

[2022-10-28 03:03] JehandadKhan commented on #1843
I do not agree with this design since it requires MIOpen run CMake again and again just to change the test cases which are run. Instead each of those precision can be a different test and be run directly. If manual running of tests requires filtering one over the other that can be done using the GTest filter feature which allows tests to run selectively.

I would like to point out that due to this

[2022-10-31 20:50] averinevg commented on #1291
@atamazov @junliume Fixed in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1811

[2022-10-31 21:27] averinevg commented on #867
@atamazov @junliume Fixed in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1438

[2022-11-01 13:24] atamazov commented on #1843
@JehandadKhan

However, this is our current design which we leverage in our CI in order to distribute the total testing work among nodes. If Google tests do not follow it, then _the same testing work is unnecessarily repeated in different stages thus wasting CI resources_. This is the main reason why this issue was opened.

Of course I do agree with many of your statements in previous comment. Cur

[2022-11-01 14:57] atamazov commented on #1291
@averinevg Thanks!

[2022-11-01 14:57] #1291 closed

[2022-11-01 15:08] atamazov commented on #867
@averinevg 👍

[2022-11-01 15:08] #867 closed

[2022-11-04 19:52] #1334 closed

[2022-11-04 23:10] Madouura commented on #1373
I'm also trying to package this for nixpkgs, and would like to know how to properly generate the kdb files for all/specified architectures.
The closest thing I'm finding is the performance database, but I'm not entirely sure that's it.

[2022-11-05 05:33] deltaguo opened #1864 "Can miopen specify the convolution algorithm for miopenConvolutionForward?"
Can miopen specify the convolution algorithm for miopenConvolutionForward?
when I try ```algo = miopenConvolutionFwdAlgoGEMM;```, A runtime error  occured：
[code]

[2022-11-05 23:14] atamazov commented on #1373
@Madouura IIRC you can do this in straightforward way:
- Prepare the development system that is identical to the intended target system, including GPU and ROCm.
- Install MIOpen on that system.
- Run necessary configs on the development system. For example, you can run the neural network(s) that you would like to later run on the target system. During this process, MIOpen builds all the necessary

[2022-11-05 23:26] atamazov commented on #1864
@Delta0307 Yes, but how this should be done depends on which API you are using ([Find API or Immediate mode API](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/doc/src/find_and_immediate.md)). Please let us know so we can provide more specific assistance.

[2022-11-05 23:53] atamazov commented on #1864
@Delta0307 **_I am assuming that you are using Find API._**

In this case you have to call `miopenConvolutionForwardGetWorkSpaceSize()` and `miopenFindConvolutionForwardAlgorithm()` prior invoking convolution. Then you have to check that the output of `miopenFindConvolutionForwardAlgorithm()` (an array of miopenConvAlgoPerf_t) contains GEMM algo. If there is no GEMM there, then GEMM kernel is not

[2022-11-06 06:58] deltaguo commented on #1864
@atamazov Thanks for your answer, I am now able to specify the algorithm I want to use by using the Immediate mode API. But for these algorithms provided by MIOpen:
[code]
What is the difference between **miopenConvolutionAlgoGEMM** and **miopenConvolutionAlgoImplicitGEMM**？
Are they im2col algorithms？

[2022-11-06 07:12] Madouura commented on #1373
Thank you for the prompt response. I'm a bit sick ATM so I may be misunderstanding here.

Does this mean having the actual GPU hardware, or just a setting? I own two AMD GPUs so I can at least generate for RX 6900XT and RX 6800 if it's the latter.

Given that, I'm thinking we need GPU hardware on the development system. Something is concerning me however, by "running the neural networks" am I wron

[2022-11-07 12:38] atamazov commented on #1373
@Madouura

The former. It is also possible without hardware, but not easy AFAIK. Maybe @JehandadKhan can help you with it, when/if he has time.

Different networks use different primitives with different configurations, so MIOpen generates different kernels to implement them.

Yes IIRC

Yes.

[2022-11-07 12:45] atamazov commented on #1864
@Delta0307 This is a bit out of scope of the discussions in this repo. In short, the order of computations is different, and there could be come other magic involved)) We implement GEMM on top of BLAS primitives (rocBLAS). WRT iGemm I recommend beginning with googling "What is Implicit Gemm" 😄

[2022-11-07 12:46] atamazov commented on #1864
@Delta0307 Also please feel free to look into the source code of MIOpen.

[2022-11-07 14:30] Madouura commented on #1373
Yes, if possible that would be ideal since we could stick MIOpen on a (hopefully hydra or hydra-adjacent) server, which will likely be GPU-less and generate new KDBs per consumer/pro GPU release, as well as each major MIOpen change.
The other option is to write a common configuration script and crowdsource (probably trusted, are there any potential security vulnerabilities you know of that a MIOpe

[2022-11-07 14:40] Madouura commented on #1373
One more thing to make sure of.
For MIOpen, I suspect user kernel databases are generated on first neural network use, and then updated for each subsequent use. i.e.: I start up stable-diffusion, there is no .ukdb until I generate an image (I haven't verified this, it may be generated at the start), the .ukdb is generated, and then for each subsequent image generation the .ukdb is updated with any

[2022-11-07 14:59] Madouura commented on #1373
Are kernel databases just a collection of compute shaders?

[2022-11-07 15:53] atamazov commented on #1373
Yes.

[2022-11-07 15:57] atamazov commented on #1373
@Madouura Please provide a list of GPUs you need the pre-built kernels for. Maybe it would be possible to extend the list of "officially" supported GPUs with these.

@JehandadKhan Is it possible to provide an instruction that would allow the end users to generate the pre-compiled kernel packages for their GPUs without actual hardware?

/cc @junliume

[2022-11-07 17:35] Madouura commented on #1373
Sure. Looking at https://llvm.org/docs/AMDGPUUsage.html#processors, these should suffice.
## Need
RDNA1 and up should be officially supported IIRC by most ROCm projects.
~~I own the RX 6900XT (80CU) and the RX 6800 (60CU). When using with MIOpen, the 6900XT creates ``gfx1030_40`` in the cache directory. I'm unsure as to why it's not ``gfx1030_80``. I suspect the same might hold true if I used the

[2022-11-07 23:08] atamazov commented on #1843
[Informative] Issue description updated with  a link to https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1652#issuecomment-1306341535

[2022-11-08 15:30] atamazov commented on #1681
Reopened due to:
- https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1841#issuecomment-1307373707
- https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1862#issuecomment-1307394524
- https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1860#issuecomment-1307402103

Some details/explanations: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1860#issuecomment-1307990033

I am working on the fix.

[2022-11-08 16:12] junliume opened #1866 "[Find-2.0][SWDEV-366795] MIOpen Error of unknown type name “FLOAT”"
[miopen_failed.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9963047/miopen_failed.log)

Creating an issue for @umangyadav for higher visibility (@atamazov @DrizztDoUrden ):

I was trying to run “saved” solution of InceptionV3 model with MIGraphX with Find.2.0 API with Mainline 11064 build on MI100. Even though, it failed on 11064, it fails on earlier builds as well i.e. 11006.
I am ru

[2022-11-08 16:24] DrizztDoUrden commented on #1866
Yes, thank you for investigating. I would create a PR with exactly that right now.

[2022-11-08 16:30] junliume commented on #1681
@atamazov  to provide a data point:
Recently we have had some issues with MLIR kernels with large perf discrepancies between tuning and field runs:

*Driver Command*:
[code]
Then we got very interesting observations:
*After #1818*:
[code]
Before #1818
[code]

However, when I run the actual config, instead of getting `0.795358 ms` as shown above, I am getting `2.076196 ms`
[code]

**MLIR kernel is

[2022-11-08 22:08] JehandadKhan commented on #1843
@atamazov Since it is our current design we have to live with it, however, that is not an argument to complicate a cleaner test architecture. This was done since we were taking an inordinate amount of time during testing which has been considerably reduced. I suggest instead of forcing the same decisions of the past on new things, we should go towards a direction where testing is simple and not de

[2022-11-08 23:02] atamazov commented on #1843
@JehandadKhan

I am not asking to complicate test architecture. My requirements are purely functional. The functionality may be implemented using simple and clean architecture or using entangled and complicate one -- it depends on many circumstances (let me omit description of those).

No problem because I am not forcing this. What I am trying to force is described below.

I am second to this, of

[2022-11-08 23:48] atamazov commented on #1681
@junliume Thanks. The MLIR related issue is not related to this ticket.

[2022-11-08 23:58] atamazov commented on #1681
@junliume I recommend opening separate ticket for MLIR issue.

[2022-11-09 00:41] junliume opened #1869 "[gfx906][SWDEV-366467] ConvAsm1x1U perform significantly differently"
[10807.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9966278/10807.log)
[11023.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/9966279/11023.log)
For the following configuration on gfx906:

We got about **140x perf drop for the same solver**

10807:

MIOpen Backward Data Conv. Algorithm: 1, Solution: 2/ConvAsm1x1U
GPU Kernel Time Backward Data Conv. Elapsed: 1.730399 ms (aver

[2022-11-09 11:26] atamazov commented on #1869
In the good log:
[code]

In 11023 ("bad" log) MIOpen can't find the tuning values for ConvAsm1x1U. The default tuning values provided by the solver heuristics show bad performance:
[code]

The is not a problem per se provided that find-db contains valid information (because we have other faster solvers). However it reports 2.33349 ms (in both logs) for ConvAsm1x1U, which wins.

I think that the ro

[2022-11-09 15:31] junliume commented on #1869
@atamazov thanks! It does not explain why `ConvAsm1x1U` is so much slower now, right? As an ASM solver, I would expect it not to be impacted by compiler/runtime.

[2022-11-09 22:29] junliume commented on #1681
Thanks, yes I did in a private repo to MLIR

[2022-11-09 22:49] atamazov opened #1871 "FFT precision issue with 5x5 stride 2 config"
Found on Navi 21 with ROCm 5.2.3 release:

[code]
At first, this needs to be double-checked with:
- Newer ROCm
- Other GPU types.

@junliume https://github.com/ROCmSoftwarePlatform/MIOpen/labels/bug https://github.com/ROCmSoftwarePlatform/MIOpen/labels/correctness https://github.com/ROCmSoftwarePlatform/MIOpen/labels/urgency_low. Please assign to me for further investigation.

[2022-11-10 00:53] junliume commented on #1871
@atamazov the same issue is still found with the latest ROCm. I am curious why `ConvBinWinogradRxSf2x3g1` is not chosen?

[code]

[2022-11-10 11:21] lsder commented on #91
Is this FR solved?

[2022-11-10 15:34] DrizztDoUrden commented on #1869
As far as I see at the moment, Artem is correct here. There is no entry for the specific solver + config in the perf-db, while there is one in the find-db.
For that reason it gets compiled with very bad perf config and is returned as if it has very good (like the one used for the find-db).

[2022-11-10 17:59] junliume commented on #1869
Hi @DrizztDoUrden  and @atamazov , yes when I reverted `gfx906_60.db` back to 62d2e1c1bebffb692b1dd7fcf1141150d3bdb473 in this history: https://github.com/ROCmSoftwarePlatform/MIOpen/commits/develop/src/kernels/gfx906_60.db I got good performance again.

However, the **"it gets compiled with very bad perf config"** part puzzles me, what might have caused it?

[2022-11-10 18:48] #1866 closed, assigned to DrizztDoUrden

[2022-11-10 19:55] DrizztDoUrden commented on #1869
No entry in perf-db and default config is not valid for the problem. A more generic one has been selected.
@Kirpich30000 or @shurale-nkn may enlighten you about the details of why kernel can become 140x slower due to bad perf config, but I have no idea on kernel implementation details. I guess someone may investigate why specific config was so bad, but that may not be worth the time spent. It woul

[2022-11-10 23:20] junliume commented on #1869
@cderb and @JehandadKhan the critical part is to keep DBs in sync I guess. Could we re-export DBs for gfx906 and check other variations too?

[2022-11-10 23:38] atamazov commented on #1681
https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1681#issuecomment-1307404864 resolved by #1870

[2022-11-10 23:38] #1681 closed

[2022-11-10 23:48] atamazov commented on #1373
In MIOpen we use the number of _Hardware_ Compute Units which is twice less than rocminfo reports for gfx103X GPUs.

[2022-11-10 23:58] atamazov commented on #1869
@junliume

While this is ASM solver, it still requires tuning to reach optimal performance. And this kernel is very sensitive to the tuning values. In this specific case, tuning info is missing in perf-db and the solver uses its own heuristics to guess tuning values. But that guess ends with tuning values that give very bad performance. Note that there is nothing bad with that provided that find-d

[2022-11-11 00:24] Madouura commented on #1373
In that case, it makes sense to move ``gfx1031_20`` down to "want."

[2022-11-11 15:09] atamazov commented on #1871
@junliume

Because of the `-S 34` option ;)

[2022-11-14 19:15] arkhodamoradi opened #1878 "MIOpen cache issue with SLURM and multiple jobs"
The environment is a computing cluster:
Slurm 20.11.3
MI50 GPUs
PyTorch 1.12.0
ROCM 5.2.0

Code (test.py):
****************************************
import torch
net = torch.nn.Conv2d(2, 28, 3).cuda()
inp = torch.randn(20, 2, 50, 50).cuda()
outputs = net(inp)
****************************************

Run the code (test.py) in multiple jobs (using the sbatch command) to get this error:
/long_pathnam

[2022-11-14 19:52] dmikushin commented on #1878
@arkhodamoradi, the discussion in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/114 seems to be related to your guess. Could you please try:

[code]

[2022-11-14 20:58] atamazov commented on #1878
@arkhodamoradi Please read [this](https://github.com/ROCmSoftwarePlatform/MIOpen/issues/114#issuecomment-1155666003) first. Is your ${HOME}  mapped to NFS or similar?

If yes, then we have workaround on hand. Otherwise some further investigation required.

[2022-11-14 21:11] atamazov commented on #114
@gullabi

This solution seems to be using a GPFS volume. I highly recommend using some local volume for MIOpen's databases and kernel cache. This should run faster and, more importantly, be guaranteed to be correct in multiprocessor applications.

[2022-11-14 21:21] arkhodamoradi commented on #1878
@dmikushin
setting MIOPEN_USER_DB_PATH to * did not resolve my issue.

@atamazov
Yes, the HOME is NSF. And setting MIOPEN_USER_DB_PATH to a unique location per job fixed my issue.
However, some jobs are running very slowly, and I still have the ~/.cache/miopen folder shared by all the jobs.
I can resolve the "slow job" issue by setting MIOPEN_CUSTOM_CACHE_DIR to a unique location per job.

[2022-11-14 21:23] atamazov commented on #1878
@dmikushin

Well, this is necessary in order to prevent issues user-perf-db and user-find-db (and I highly recommend using it if ${HOME} is mapped to a network file system). However, the issue happens with the user kernel cache.

In order to change the user's kernel cache location, the user should either use `MIOPEN_CACHE_DIR` CMake variable during the build (see https://github.com/ROCmSoftwarePla

[2022-11-14 21:49] atamazov commented on #1878
@arkhodamoradi

literal `*` is incorrect ;) You can find some good hint at https://github.com/ROCmSoftwarePlatform/MIOpen/issues/114#issuecomment-1155666003

I suspect that setting MIOPEN_USER_DB_PATH changed the timings and, therefore, changed the likelihood of simultaneous accesses to user-kernel-db from different nodes. That might camouflage the database corruption problem and, possibly, negati

[2022-11-14 21:50] atamazov commented on #114
@gullabi You may find this useful: https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1878#issuecomment-1314453188

[2022-11-16 08:46] dmikushin opened #1881 "Failing assert(x.size() == sizeof...(Ns)); in miopen::tien()"
I believe the `miopen::tien()` function has a legitimate use within MIOpen source code with `x.size()` greater than `Ns`, please see the GDB capture below:

Indeed, the user may wish to retrieve only 2 elements of vector out of 5, and the parameter pack expansion would perfectly allow this.

![simplescreenrecorder-2022-11-14_14 27 11](https://user-images.githubusercontent.com/5672874/202131779-aa2

[2022-11-16 17:21] atamazov commented on #1881
@dmikushin Please set https://github.com/ROCmSoftwarePlatform/MIOpen/labels/debugging and https://github.com/ROCmSoftwarePlatform/MIOpen/labels/bug

[2022-11-17 14:34] atamazov commented on #91
@lsder I do not think so. IIRC existing pooling implementations in MIOpen require workspace.

/cc @JehandadKhan @dmikushin

[2022-11-17 14:34] atamazov commented on #91
/cc @junliume

[2022-11-19 10:34] CapsAdmin commented on #1606
After having used [automatic1111's version of stable diffusion](https://github.com/AUTOMATIC1111/stable-diffusion-webui) for a while now and getting a little more familiar with python and the pytorch ecosystem, I just ignore this warning.

**The inference and training performance is good and on par with other gpus** in the same performance class.

I understand this is very high level and out of sc

[2022-11-21 16:49] junliume commented on #1869
@cderb and @JehandadKhan with `release/rocm-rel-5.4-staging-RC3` this problem is resolved, we can close this issue when the patch is merged into `develop`. Thanks all for the valuable inputs!

[2022-11-23 13:55] averinevg commented on #1881
@dmikushin @junliume https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1879 was merged, can this be closed?

[2022-11-23 14:59] dmikushin commented on #1881
Yes, thank you all!

[2022-11-23 14:59] #1881 closed, assigned to nobody

[2022-11-23 15:02] averinevg opened #1887 "[Solvers] New interface for solvers"
**End goals**

1. Ability to reuse almost any solver-related code between primitives and modes.
1.1. Ability to get solvers of any primitive from the registry.
2. Make developing, maintaining and debugging solver-related code easier. Less code duplication - fewer time spent on that by every developer.
3. Make library less error-prone. Duplicate code leads to copy-paste errors and fixes only applie

[2022-11-23 22:03] atamazov opened #1888 "[OCL BE] ConvWinograd3x3MultipassWrW should not appear in find-db for MI100 (OpenCL backend)"
[code]
`ConvWinograd3x3MultipassWrW<X-Y>` solvers are not applicable when backend is not HIP.

While this issue is not important per se, I recommend finding the root cause as soon as possible. Because if we do not know the root cause, then we do not know other possible manifestations (and if they are, then they might have more serious impact on performance).

@junliume https://github.com/ROCmSoftw

[2022-11-25 18:28] pxl-th opened #1891 "MIOpen with BinaryBuilder"
Hi! I'm building MIOpen using [BinaryBuilder](https://binarybuilder.org/) so that it can be installed as a standalone package using [Julia's](https://julialang.org/) package manager system in [AMDGPU.jl](https://github.com/JuliaGPU/AMDGPU.jl).
This way users are not required to build/install it manually, it will be installed automatically.

So far I've [targeted](https://github.com/JuliaGPU/AMDGPU

[2022-11-25 19:31] dmikushin commented on #1891
Hi @pxl-th , the best way to build MIOpen is using the provided Docker container. That container essentially resolves all issues that may encounter during the build, including the one you mentioned. I'm not sure whether you could containerize the build and then ship binaries to Julia users. Does the Julia user have to build the package on his own machine?

[2022-11-25 21:43] pxl-th commented on #1891
No. Once you submit the recipe it is built only once for all platforms and configurations that you've specified.
Then, when user adds a package (simply typing `add MIOpen`) it downloads prebuilt binaries.

This is how all other packages from the ROCm stack work.
See for example [`Project.toml`](https://github.com/JuliaGPU/AMDGPU.jl/blob/d9b7f34f18b6ad7d95794c5af6e360fea24c3eac/Project.toml#L32) fr

[2022-11-25 22:25] dmikushin commented on #1891
I see, thanks! So is it getting any better, if you prepend cmake with CXX definition as in the [guide](https://github.com/ROCmSoftwarePlatform/MIOpen#for-the-hip-backend-rocm-35-and-later-run)? Sorry, I'm not sure if your script is doing this already or not. You seem to be using some other instructions, where do they come from? Perhaps from some older MIOpen releases?

[code]

[2022-11-26 13:28] pfultz2 commented on #1891
Does MIOpen support Float64?

[2022-11-28 15:41] atamazov opened #1892 "[API][Find 2.0] Add MIOPEN_API_VERSION_CONVOLUTION"
Let's add `MIOPEN_API_VERSION_CONVOLUTION` macro, reusing the following approach:

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/cbc16656d7d7a3da72b104f00ca500ab580484e2/include/miopen/miopen.h#L497-L504

This would allow the end users to adapt their applications for MIOpen's capabilities.

@junliume Please assign this to @DrizztDoUrden. https://github.com/ROCmSoftwarePlatform/MIOpen/labels/

[2022-11-28 15:43] atamazov commented on #1891
@pxl-th @pfultz2

MIOpen fully supports FP32, FP16, BF16. INT8/32/8x4 is only supported for inference (forward convolutions). FP64 is only supported for ReduceTensor operations.

[2022-11-28 22:14] atamazov commented on #1424
@junliume WORKAROUND_ISSUE_1424 is stil in our code, so I recommend reopening it with https://github.com/ROCmSoftwarePlatform/MIOpen/labels/urgency_low

[2022-11-30 15:28] averinevg commented on #1887
@atamazov @DrizztDoUrden Please take a look

[2022-11-30 19:50] JehandadKhan commented on #1887
@averinevg How would this impact the solver registry ? Currently, the solver registry does properly support any primitive other than convolution.