[2021-06-07 23:49] ce1adon commented on #686
@shurale-nkn @atamazov @junliume
I realize this ticket could be a total misunderstanding due to the misleading printout of CI.
If you look into verify(), you will find out it will print out the mssages in fail() as long as you turn on "verbose" or "time".
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/test/driver.hpp#L790-L791

I just tested locally. **Removing the "--verbose" flag in

[2021-06-08 11:52] shurale-nkn commented on #898
Еhis solves the problem.

[2021-06-08 13:22] atamazov commented on #898
PCH functionality seems at least partially broken in ROCm 4.2 release.

@shurale-nkn to provide W/A for this specific test.

@atamazov
- to open a ticket in Jira. Related ticket: https://ontrack-internal.amd.com/browse/SWDEV-257056.
- to escalate COMGR testing problem **_again_** for CQE

/cc @junliume

[2021-06-08 13:41] atamazov commented on #686
@ce1adon Historically, `fail` has somewhat cumbersome and misleading semantics. Please look how different `fail` methods are implemented in conv_common.h and those are used.

AFAICS the fix should include changing the signature of `void fail(int badtensor)` (that is intended to be invoker after real failures) to something distinct from `void fail(int)`.
- https://github.com/ROCmSoftwarePlatform/MI

[2021-06-08 13:43] atamazov commented on #686
@ce1adon and BIG thanks for finding the root cause of the issue!

[2021-06-08 15:29] atamazov commented on #686
@shurale-nkn Please remove `--verbose` from this test for now.

Let's think about full-blown solution & implement it as soon as time permits.

[2021-06-09 07:54] zpwenjh commented on #962
@atamazov
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/81c0e4f98a548710626b75ef324774a174a80f0e/src/hipoc/hipoc_program.cpp#L167-L174
What's MIOPEN_WORKAROUND_SWDEV_225285? If I can use `hipModuleLoadData` then this problem can be solved.

[2021-06-09 16:51] junliume commented on #962
HIP claims to have fixed 225285 by https://github.com/ROCm-Developer-Tools/HIP/pull/1988 previously the workaround is to write the hsa object to a temporary file and use hipModuleLoad instead of hipModuleLoadData.

@JehandadKhan if issues in 225285 have been fixed, can we remove the workaround?

[2021-06-09 16:53] JehandadKhan commented on #962
Please run mask RCNN by setting `MIOPEN_FIND_MODE=5` environment variable.

[2021-06-10 20:01] shurale-nkn opened #979 "[MLIR][gfx906][test_conv_igemm_mlir] Failed creating module"
MLIR build failed on test_conv_igemm_mlir on rocm 4.2.

Posibly because of gfx906:sramecc+:xnack-

ROCM 4.2
gfx906

http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/jenkins-ci-rocm-4.2/7/pipeline/129

[code]

[2021-06-10 20:07] atamazov commented on #979
Currently the target ROCm version for MLIR feature is 4.1.1.

[2021-06-10 20:11] jerryyin commented on #979
I synced with @atamazov briefly on this: my ask is to delay upgrading to ROCm 4.2 just as long as the June demo finishes. My estimation of the demo is that it shouldn't last longer than two weeks later on June 24th. I will leave another comment on this ticket once demo is done. Then please do what's necessary to disable the MLIR stage. (And we will enable it later when MLIR is tested and works on

[2021-06-10 20:21] shurale-nkn commented on #979
@jerryyin
I have another suggestion. As part of PR #970, I will install additional special rocm for MLIR.
What version of ROCm are you preparing for the June demo? 4.1.1? I can set it for MLIR, for better testing.

[2021-06-10 21:54] atamazov commented on #979
Agreed & approved.

[2021-06-11 14:11] atamazov commented on #962
This was fixed in ROCm 3.4 and I have been planning to remove it for a long time, but there was always no time. I will make a patch soon.

[2021-06-11 15:01] atamazov commented on #540
Open too long, no activity. Let's escalate this issue.

[2021-06-11 15:32] atamazov opened #980 "[MI100][FP16] Fatal error in ConvAsmImplicitGemmGTCDynamicWrwXdlops"
[code]
Output:
[code]
This must be fixed ASAP.

[2021-06-11 22:53] atamazov commented on #962
@zpwenjh Can you please confirm that #981 fixes this issue? Thanks!

[2021-06-12 15:59] shurale-nkn commented on #979
@jerryyin
Unfortunately on ROCm 4.1.1 failed too.

But i have new information.

Works fine with gpu gfx900 which is identified by the system as `gfx900:xnack-`
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/jenkins-ci-rocm-4.2/14/pipeline/130

And failed on gfx906  which is identified by the system as `gfx906:sramecc+:xnack-`
http://micimaster.amd.com/blue/organization

[2021-06-14 02:00] shaojiewang commented on #980
Kernel selection logic is wrong. I will push a PR soonly.

[2021-06-14 16:01] atamazov commented on #980
Please look at #540, it must be resolved ASAP as well.

BTW, shall we keep #958 on hold until the root reason of #540 is found?

/cc @carlushuang

[2021-06-14 17:00] atamazov commented on #835
@zpwenjh Ping --

[2021-06-15 01:37] zpwenjh commented on #835
@atamazov Yes, I am using `MIOPEN_FIND_ENFORCE=4`, but the error messege is not same as "too many open files". At first, I thought there was not enough hard disk space, but it's not this situation.

[2021-06-15 05:32] carlushuang commented on #980
Hi @atamazov #540 is independent with PR https://github.com/ROCmSoftwarePlatform/MIOpen/pull/958, since the former is for NCHW, and the later PR is for NHWC. They will not use the same logic to choose kernel.

[2021-06-15 22:42] atamazov commented on #979
@jerryyin

[Note] Please look how TargetDescription is used to pass this info to COMGR and to offline HIP compiler.

[2021-06-16 14:30] atamazov opened #985 "[TESTS] Implement detection of GPU type"
This could be implemented in CMake. According to that, the default values of CMake variables like `MIOPEN_TEST_GFX908` should be set.

Right now we at MIOpen use node labeling for that. However, the users can't simply run "make check", they need to check the GPU type and set a CMake variable accordingly.

This is not good, especially for our CQE, who use the same script for all GPU types. For now,

[2021-06-16 14:45] JehandadKhan commented on #985
How about checking the GPU type from the handle in the test and return success with a message which says that the test is skipped since there is no GPU for it.

[2021-06-16 15:40] atamazov commented on #985
This wouldn't work for "custom" tests, which are basically sets of executables with options...

[2021-06-17 02:44] shaojiewang commented on #980
Hi, @atamazov #540 is already fixed by #552. The original fixed PR is #542 . According to https://github.com/ROCmSoftwarePlatform/MIOpen/pull/542#issuecomment-720331456 , fixing code of #542 is contained in code of #552.

[2021-06-17 09:38] shurale-nkn commented on #936
Also fp32 failed, affected PR #970
`./bin/test_conv2d --half --cmode conv --pmode default --group-count 1 --input 64, 32, 28, 28 --weights 64, 32, 1, 7 --pads_strides_dilations 0 0 2 2 1 1 --trans_output_pads 0 0 --in_layout NCHW --fil_layout NCHW --out_layout NCHW `
[code]

[2021-06-17 10:02] shurale-nkn commented on #936
@Kirpich30000
I'm afraid this is too big a deviation for such a small configuration. Other algorithms have a much smaller deviation here

[2021-06-18 22:04] atamazov commented on #835
I suspect that the reason is that `MIOPEN_FIND_ENFORCE=4` ___always___ performs tuning. Even if some config has been tuned 5 minutes ago. Therefore I recommend using `MIOPEN_FIND_ENFORCE=3`. In this mode, the tuning will be performed only once.

However, as you can see [in the doc](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/doc/src/perfdatabase.md#miopen_find_enforce),

This means

[2021-06-18 22:23] atamazov commented on #985
@pfultz2 Can you please advice how can we detect GPU type from CMake?

[2021-06-18 22:30] atamazov commented on #980
@carlushuang @shaojiewang Thanks! Last (but not least) question: do we have regression tests for this issue?

[2021-06-18 22:31] atamazov commented on #980
via #552

[2021-06-18 22:58] atamazov commented on #936
@shurale-nkn

Please be clear. Would you like to ask @asroy to double-check the correctness of computations performed by `ConvHipImplicitGemmV4R1Fwd` for the configs in question?

[2021-06-19 00:32] pfultz2 commented on #985
You can run `execute_process` to run a command that shows what gpus are installed via rocminfo. Of course, I dont know how easy it is to parse that.

Alternatively, we could update the test driver to only run on certain archs. We could add a flag like `--only-arch` that will skip the tests if the arch doesn't match. Such a flag can be added to the custom tests.

[2021-06-19 13:35] atamazov opened #988 "ConvOclDirectFwd1x1: correctness error with "-y 1 -x 1 -n 64 -c 160 -H 73 -W 73 -k 64 -p 0 -q 0""
Appeared during CI testing (ROCm 3.7). How to reproduce:
[code]

Originated from: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/958#issuecomment-864405493

Failed CI build: http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/asm_igemm_nhwc_fwd_bwd/28/pipeline

[2021-06-19 13:56] atamazov commented on #988
I am unable to reproduce the issue. Let's keep is open for a while.

[2021-06-19 14:06] #915 closed

[2021-06-19 14:13] atamazov commented on #985
@pfultz2

Thanks for the recommendation. Theoretically we can grep output and check the status code, but I am now aware of CMake-specific implementation details.

Unfortunately, this won't work in all cases because we have custom tests. Those are are basically sets of executables with GPU-specific options... See `test_conv_igemm_dynamic_xdlops_bwd`, for example.

[2021-06-19 21:36] atamazov opened #990 "[Fp16][MI100] ConvAsmImplicitGemmGTCDynamicWrwXdlops: "Running kernel failed: Invalid Kernel Args""
It seems that ConvAsmImplicitGemmGTCDynamicWrwXdlops is not functional with FP16. This problem is camouflaged by non-Normal Find mode, so the only side effect is performance loss. An error message appears only once (unless find-db is removed).

Preconditions:
- develop f75c7c7ab
- Any ROCm version (tested with 3.7 and 4.2)
- gfx908
- HIP or OCL backend
- Databases & modes:
  - No user find-db (for

[2021-06-19 21:40] atamazov commented on #990
CI was unable to catch this problem because test_conv2d has issue related to handling of the `--verbose` option. test/CMakeLists.txt currently contains the following command lines in `test_conv_igemm_dynamic_xdlops_wrw`:
[code]
But the problem is that test_conv2d ___does nothing___ when `--verbose` is the first option.

[2021-06-19 22:57] atamazov commented on #990
/cc @shurale-nkn for awareness.

[2021-06-19 23:46] atamazov opened #992 "Add regression tests for #987"
+1. I am not going to delay merging this PR and cherry-picking it, however. But if this PR will not contain a regression test, then I'll open a high priority ticket for this.

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/987#issuecomment-864409294_

[2021-06-20 12:02] atamazov opened #993 "Add regression tests for #989"
Regression test is missing. I am not going to delay merging this PR (and cherry-picking it to 4.3), for the sake of speed. But if this PR does not contain a regression test, then I'll open a high priority ticket for this.

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/989#issuecomment-864414465_

[2021-06-20 13:38] atamazov commented on #980
Well, we need answer to this Q first:

[2021-06-20 21:59] ce1adon commented on #988
@atamazov Weird test case failures come and go and the restart button stays eternal.

[2021-06-20 23:08] atamazov commented on #988
@ce1adon This is the wisdom of our ancestors, and thou shalt follow it.

[2021-06-21 05:23] shaojiewang commented on #980
No.
I will add a regression in ctest soon.

[2021-06-21 12:32] atamazov commented on #540
via #552

[2021-06-21 12:32] #540 closed

[2021-06-21 12:37] atamazov opened #995 "[TESTS][Fp16][MI100] Incorrect test case in test_conv_igemm_dynamic_xdlops_bwd and wrw"
BWD:
[code]

WRW:
<details><summary><b><i>CONSOLE LOGS</i></b></summary>

[code]
</details>

[2021-06-21 12:38] atamazov commented on #995
Similar to #954

[2021-06-21 12:40] atamazov commented on #995
I'll provide W/A soon.

[2021-06-21 12:59] atamazov opened #996 "[MI100][Fp16] ConvAsmImplicitGemmGTCDynamicWrwXdlops fails validation"
gfx908, any ROCm:

Two cases from `test_conv_igemm_dynamic_xdlops_wrw`:
- -n 400 -c 256 -H 7 -W 7 -k 1024 -y 7 -x 7 -p 0 -q 0
[code]
- -n 400 -c 256 -H 1 -W 1 -k 1024 -y 1 -x 1 -p 0 -q 0
[code]

What needs to be done:
- (1) W/A for test to unblock CI @atamazov
- (2) Check kernels.
  - If kernels are correct, then this may be a verification issue, similar to #936
  - Otherwise `ConvAsmImplicitGemmG

[2021-06-21 13:11] shurale-nkn commented on #996
`ConvAsmImplicitGemmGTCDynamicFwdXdlops` may also fail under test_conv2d
[code]

[2021-06-21 13:25] atamazov commented on #996
@shurale-nkn This ticket is about WrW.

[2021-06-21 13:46] atamazov commented on #980
Okay! Let's close this ticket after that.

[2021-06-21 16:40] atamazov commented on #995
4 WrW configs added to the topmost comment

[2021-06-21 21:12] atamazov commented on #898
Most likely we'll switch to from COMGR to HIPRTC for online HIP builds.

[2021-06-21 21:14] atamazov commented on #898
@shurale-nkn

Can you please remind me what is the status of this? W/A is included in some of your PRs or...?

[2021-06-22 02:57] shaojiewang commented on #995
wrw failures are due to incorrect parameters.
Can we make these n==1 cases only run for fp16 in ctest?

[2021-06-22 07:24] shaojiewang commented on #996
Root cause is found.

[2021-06-22 08:05] carlushuang commented on #993
will add a test case for this issue till https://github.com/ROCmSoftwarePlatform/MIOpen/pull/991 is merged

[2021-06-22 08:15] shurale-nkn commented on #898
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/970

global MIOPEN_DEBUG_COMGR_HIP_PCH_ENFORCE=0

[2021-06-22 09:05] shurale-nkn opened #999 "[Vega20][Fp32] ConvAsmImplicitGemmV4R1DynamicWrw fails validation"
In test_conv_for_implicit_gemm
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/jenkins-ci-rocm-4.2/29/pipeline/
rocm 4.2
GPU:vega20

[code]

affected PR #970

[2021-06-22 14:26] atamazov commented on #995
@shaojiewang Or course, you can.

If you interested _how_ to do that -- create separate custom test (smth like `test_conv_igemm_dynamic_xdlops_wrw_half`), disable fp32 for it (FLOAT_DISABLE) and move these cases there.

[2021-06-22 14:27] atamazov commented on #996
Good!

[2021-06-22 14:34] atamazov commented on #993
@carlushuang #991 is merged

[2021-06-22 15:12] shaojiewang commented on #995
OK. Thanks.

[2021-06-22 15:35] shaojiewang commented on #999
Root cause: kernel selection bug. I'll fix it.

[2021-06-22 16:05] shaojiewang commented on #980
Please check #1002

[2021-06-22 17:46] sunway513 opened #1003 "Disable the warning message when build MIOpen with COMGR"
Using the pytorch whl package with MIOpen-Comgr, the KDB will not be used. However, we still see the following warning messages when trying to launch PyT workloads:
[code]
Is it possible to disable such warning at build time or run time?
cc @jeffdaily

[2021-06-23 00:11] atamazov commented on #1003
This is possible. But notice that COMGR is just a method of building kernels; it dos not affect how the library reads databases.

You can use `-DMIOPEN_DISABLE_SYSDB=On` in the CMake command line.

And please let us know how do you build MIOpen. Maybe we'll be able to recommend something better.

/cc @JehandadKhan

[2021-06-23 13:11] #999 closed

[2021-06-23 14:05] atamazov commented on #962
#981 merged.

[2021-06-23 16:17] sunway513 commented on #1003
Thanks @atamazov , here's the script we use to build MIOpen:
https://github.com/pytorch/builder/blob/master/common/install_miopen.sh

[2021-06-23 22:07] atamazov commented on #988
Another case, http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/add_regression_test_for_989/3/pipeline/

[2021-06-23T19:21:09.326Z] ../bin/test_conv2d --float --cmode conv --pmode default --group-count 1 --input 64, 192, 35, 35 --weights 48, 192, 1, 1 --pads_strides_dilations 0 0 1 1 1 1 --trans_output_pads 0 0 --in_layout NCHW --fil_layout NCHW --out_layout NCHW
[2021-06

[2021-06-23 22:21] atamazov commented on #1003
Well, maybe the best way to resolve an issue is adding `-DMIOPEN_DISABLE_SYSDB=On`. Can you please try and let us know if this works for you.

[2021-06-24 03:37] shaojiewang commented on #980
So can we close this one?

[2021-06-24 05:39] carlushuang opened #1005 "[ASM IGEMM] refactor asm igemm solver to have less copy inside invoker"
see https://github.com/ROCmSoftwarePlatform/MIOpen/pull/958#discussion_r654802940
refactor solvers to save cpu copy time inside invoker. 2 solver need refactor

~`ConvAsmImplicitGemmV4R1DynamicFwd`~
~`ConvAsmImplicitGemmV4R1DynamicFwd_1x1`~
~`ConvHipImplicitGemmForwardV4R4Xdlops`~
~`ConvAsmImplicitGemmV4R1DynamicBwd`~
~`ConvAsmImplicitGemmV4R1DynamicWrw`~
~`ConvAsmImplicitGemmGTCDynamicWrwXdlops`~

[2021-06-24 07:56] atamazov commented on #980
Sure.

[2021-06-24 07:56] #980 closed

[2021-06-24 14:30] #996 closed

[2021-06-24 14:41] atamazov commented on #894
via #956

[2021-06-24 14:41] #894 closed

[2021-06-24 21:33] atamazov opened #1006 "[find-db] Invalid GemmBwd1x1 records"
The issue manifests during `test_conv_embed_db`. It fails on gfx906/64 (but passes on gfx906/60). The reason is corrupted find-db for gfx906/64/HIP. There are invalid solver names `GemmBwd1x1_0_1/2`. Valid names are `GemmBwd1x1_stride1/2`. How this happens (only tips):
- HYBRID_DYNAMIC Find mode
- Invalid solver id `GemmBwd1x1_0_1`
- `Find()` falls down to NORMAL Find process
- `ConvBinWinogradRxS

[2021-06-24 21:48] junliume commented on #312
Close the issue due to inactivity, @401qingkong please comment or reopen if necessary.

[2021-06-24 21:48] #312 closed

[2021-06-24 21:48] atamazov commented on #1006
Corrupted find-databases:
- gfx803_36.HIP.fdb.txt
- gfx803_36.OpenCL.fdb.txt
- gfx803_64.HIP.fdb.txt
- gfx803_64.OpenCL.fdb.txt
- gfx900_56.OpenCL.fdb.txt
- gfx900_64.HIP.fdb.txt
- gfx900_64.OpenCL.fdb.txt
- gfx906_60.OpenCL.fdb.txt
- gfx906_64.HIP.fdb.txt
- gfx906_64.OpenCL.fdb.txt
- gfx90878.OpenCL.fdb.txt

The issue is originated from #800. I will provide a fix today.

[2021-06-24 21:49] atamazov commented on #1006
/cc @DrizztDoUrden

[2021-06-24 21:57] junliume commented on #698
Close this issue due to inactivity, trace similar issues in #962

[2021-06-24 21:57] #698 closed

[2021-06-24 22:10] junliume commented on #702
@chenyongqing270  could you try on new releases on ROCm? Please comment and reopen if the issue still persists.
Close for now due to inactivity.

[2021-06-24 22:10] #702 closed

[2021-06-24 22:13] junliume commented on #675
@jeffdaily  @cderb has the purge been performed already? May we close this issue?

[2021-06-24 22:15] junliume commented on #668
@JehandadKhan it looks like a perf_db issue which might have been resolved already? Can we close this issue?

[2021-06-24 22:16] atamazov commented on #1006
@junliume @JehandadKhan Another, _implicit_ reason of the issue is that #972 does not contain updates for all find-databases. The ones that updated by #972 does not have this issue. (I do understand that we didn't have enough time for regeneration of find-dbs for all targets).

[2021-06-24 22:16] atamazov commented on #1006
@junliume @JehandadKhan Please note that this issue exists in 4.3 release branch as well.

[2021-06-24 22:22] junliume commented on #115
Close due to inactivity. @kiritigowda if the issue still persists in newer versions of MIOpen, please comment and reopen. Thanks!

[2021-06-24 22:22] #115 closed

[2021-06-24 22:36] jeffdaily commented on #675
Why did I get tagged?

[2021-06-24 22:56] junliume commented on #675
Sorry, mis-tagged :)

[2021-06-24 23:10] atamazov opened #1008 "[perf-db] None records for tunable ConvBinWinogradRxSF3x2"
`ConvBinWinogradRxSF3x2` is tunable but there is none perf-db records for them, for gfx906/64 device at least. This leads to `test_conv_embed_db` failures when in runs on this target.

Basically, tuning for this solver should not be very important for performance. We have to decide if it is necessary. I see two options:
- Make `ConvBinWinogradRxSF3x2` non-tunable.
- Or, check which targets do not

[2021-06-24 23:12] atamazov commented on #1008
I'll create a workaround for this.

[2021-06-24 23:46] atamazov commented on #668
This is incorrect statement. The core of the library implements full support for this.

However each solver must provide correct implementation of `bool IsValidPerformanceConfig(ProblemDescription&, PerformanceConfig&)` (please see https://github.com/ROCmSoftwarePlatform/MIOpen/issues/866#issuecomment-822585406 for more info). If this is not done, then the performanceConfig validation problems may

[2021-06-24 23:48] atamazov commented on #668
@ce1adon

:+1: Luckily, we already have this.

[2021-06-24 23:49] #993 closed

[2021-06-25 04:00] zpwenjh commented on #962
Sorry, I'm late. #981 have fixed this issue if I used miopen with comgr.

[2021-06-25 04:00] #962 closed

[2021-06-25 07:38] atamazov commented on #962
@zpwenjh thanks.

[2021-06-25 09:43] Felix-Petersen opened #1010 "ROCm miopenStatusInternalError /MIOpen/src/sqlite_db.cpp:109: open memvfs: unable to open database file"
## 🐛 Bug

On ROCm 4.2, with PyTorch 1.9.0 installed via

[code]

Running https://github.com/pytorch/examples/tree/master/mnist crashes oftentimes with the error below.
I use an MI50 GPU.
The error sometimes occurs at the very beginning of training, sometimes after the first epoch, sometimes within an epoch and sometimes not at all.
As a rule of thumb, the larger the batch size, the more likely tha

[2021-06-25 10:42] #1006 closed

[2021-06-25 10:43] atamazov commented on #1008
W/A merged in #1007.

[2021-06-25 10:52] atamazov commented on #1010
@Felix-Petersen Thanks for the detailed info. Please let us know the amount of RAM and exact GPU type installed in your machine. Please also check that you have enough disk space.

It also may worth checking if the issue is gone with the recent development version of MIOpen (https://github.com/ROCmSoftwarePlatform/MIOpen/commits/develop), if you can build MIOpen from source.

[2021-06-25 10:53] atamazov commented on #1010
@pfultz2 @JehandadKhan Can you please look into this?

[2021-06-25 11:04] Felix-Petersen commented on #1010
@atamazov RAM is roughly 1 TB, and 8x MI50 with (AFAIK) 16 GB each, only the first of which is used.
Disk storage is 10 GB, but this should be enough for a tiny MNIST experiment?!

Unfortunately, I cannot build from source nor install a different version because it is on a cluster.

[2021-06-25 19:42] junliume commented on #985
@atamazov @pfultz2
If not resolved, we might keep getting reports like [SWDEV-292684](https://ontrack-internal.amd.com/browse/SWDEV-292684)
Maybe something similar to this? https://stackoverflow.com/a/37995691/6889542

[2021-06-25 23:54] atamazov opened #1012 "[OCL] ConvAsmImplicitGemmGTCDynamicWrwXdlops: "FAILED ... oclkernel.hpp:109: Error setting argument #19 to kernel""
Found during triaging of https://ontrack-internal.amd.com/browse/SWDEV-292684.

- Current develop, Staging, Mainline
- OpenCL backend only (HIP seems Ok)
- MI100 only
- Environment
   - Default Find mode (dynamic_hybrid) AND removed User-find-db
   - Or, `MIOPEN_DEBUG_IMPLICIT_GEMM_FIND_ALL_SOLUTIONS=1 MIOPEN_FIND_MODE=normal`

Symptom: exception is thrown
[code]

Some known failing configs
[code]

[2021-06-25 23:59] atamazov commented on #1012
<details><summary><b><i>Example log at level 6</i></b></summary>

[code]
</details>

[2021-06-26 00:13] atamazov commented on #1012
Most likely, the reason is OCL-incompatible metadata in igemm_wrw_gtc_gfx908.s.

[2021-06-26 00:30] atamazov commented on #1012
Well, not only this. The library passes more arguments than kernels are able to read.

@carlushuang @shaojiewang You can take https://github.com/ROCmSoftwarePlatform/MIOpen/tree/fix-issue-1012-atamazov as a basis (it fixes constness of buffers) and add fix for argument 19. I think that the simplest solution could be fixing the Invoker.

[2021-06-26 00:36] atamazov commented on #1012
Since we are passing more arguments than necessary, we run into UB (undefined behavior) with HIP runtime. Which means that even if it works right now, it still may fail at any given moment.

[2021-06-26 00:37] atamazov commented on #1012
/cc @junliume

[2021-06-26 07:26] carlushuang commented on #1012
@atamazov yes you are right. we need make sure number of kernel arg feeding into solver, and declared in metadata are the same. PR created #1013

[2021-06-26 09:28] carlushuang opened #1015 "test_conv_igemm_dynamic_xdlops_wrw fail when testing half"
test on local gfx908 machine, rocm-3.10
using the latest develop 120289fcb33496db05518b24e3a39db01d5adb5c, using following step to build:
[code]

will see fail log:
<details><summary><b><i>test log</i></b></summary>
[code]
</details>

However, for CI test like [here](http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/develop/161/pipeline/1676), this test `test_conv_igemm_d

[2021-06-28 02:40] shaojiewang commented on #1015
For fp16, the precision is about 3 when number is bigger than about 2000.

[2021-06-28 19:46] Felix-Petersen commented on #1010
My impression is, that it might have to do with latency or data access.
The Python environment installation is on a data server connected via Infiniband.
The error is thrown from "/infiniband-shared-storage/.env1/lib64/python3.6/site-packages/torch/lib/libMIOpen-12425ccb.so.1".

On this device, I usually have to start my code 1-2 times before it actually works without crashing, but then there seem

[2021-06-29 15:24] junliume commented on #960
Closed by #961 and #978

[2021-06-29 15:24] #960 closed

[2021-06-29 19:55] #551 closed

[2021-06-29 19:56] #221 closed

[2021-06-29 21:01] jerryyin opened #1018 "MLIR Solvers Tuning Proposal"
## Background and Motivation

Tuning has been known for providing optimal performance for a variety of algorithms. According to the study in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/939, this continue to be true for cpp igemm solvers, the ones that MLIR solvers are prototyped from. To achieve the optimal performance towards important configs, we want to implement tuning for MLIR backe

[2021-06-29 21:56] #1005 closed

[2021-06-29 22:51] atamazov commented on #1018
Please see #388 and raise urgency level if necessary.

[2021-06-29 23:10] muralinr opened #1020 "Add missing batchnorm test cases"
Add missing batchnorm test cases and adjust error thresholds if necessary..

[2021-06-29 23:28] atamazov commented on #1020
Originated from https://github.com/ROCmSoftwarePlatform/MIOpen/pull/974#issuecomment-860793839

[2021-06-30 16:51] jerryyin commented on #1018
Thanks for bring that up, didn't know that has been documented. This is going to be a high priority job for me because it's going to be the largest feature in the next milestone.

Niiiiiice. Thanks for the review.

@JehandadKhan @whchung Any questions, concerns?

[2021-06-30 21:06] atamazov commented on #388
This becomes important for MLIR.

[2021-06-30 21:50] JehandadKhan commented on #1018
@jerryyin We have consensus since Approach 1 makes the most sense to me as well. Thank you for formalizing the ideas.

[2021-06-30 23:04] #1012 closed

[2021-07-01 00:33] carlushuang commented on #1018
@jerryyin this is a good idea to parse `ctx` into `SetNextValue`. We have another scenario to utilize this new API, we can more easily to dicide the gemm_k split value based on the convolution context parsed in. currently we iterate this value based on either next pow of 2, or next multiply of CU number, without the knowledge of current conv configs.

cc @shaojiewang

[2021-07-01 13:59] jerryyin commented on #1018
@JehandadKhan Thank you, appreciate your time for the review.

@carlushuang Agreed, I'm sure knowing more context information can be beneficial. Now that since I have the majority votes on alternative 1, we should continue the `SetNextValue(ctx)` refactor in its original ticket.

---

As the next step, I'd do the following:
 - By next Friday on Junly 9th, if I don't have any objections, I will mar

[2021-07-01 19:02] jerryyin commented on #979
@atamazov Thanks for the pointer. I finally have time to start working on this. I took a look at what you suggested. Do you agree with me making the following changes:

1. Store this rawName as a member of the `struct TargetPorperties{};`

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/c812a33784b4081e0e733ece5632648dc4f8deb0/src/target_properties.cpp#L71-L76

2. Swap the below:

https://gith

[2021-07-01 22:43] atamazov commented on #979
@jerryyin Please borrow design from COMGR, like this:

[code]

You'll also need to add `const std::string targetId4Mlir` to `LcOptionTargetStrings` and initialize it to `(device + sramecc_reported + xnack)`.

This should keep compatibility with older ROCm versions.

[2021-07-02 20:08] jerryyin commented on #979
@atamazov Thanks a lot! Will push for a new PR.

[2021-07-05 22:11] atamazov commented on #854
via #957

[2021-07-05 22:11] #854 closed

[2021-07-06 12:49] #816 closed

[2021-07-06 17:10] atamazov opened #1022 "[TESTS][Navi21] Support Navi21 in tests"
`cmake -DMIOPEN_TEST_GFX1030 ...` ?

[2021-07-06 18:06] junliume commented on #985
@atamazov @pfultz2 @JehandadKhan this issue is popping up a lot. We can continue this _whack a mole game_ till we have a more permanent fix from this PR.
ref:  [SWDEV-290980](https://ontrack-internal.amd.com/browse/SWDEV-290980)
related: [SWDEV-289452](https://ontrack-internal.amd.com/browse/SWDEV-289452)  [SWDEV-293077](https://ontrack-internal.amd.com/browse/SWDEV-293077)  [SWDEV-292684](https:/

[2021-07-08 13:21] atamazov commented on #706
@kahmed10

[2021-07-08 13:22] atamazov commented on #706
@Slimakanzer

Fixes are in the `fix-fusions-asm1x1-supported-arch` branch.

PR will be created soon.

[2021-07-08 13:40] Slimakanzer commented on #706
@atamazov
It seems like others _fusions_ are handling `supported_arch` correctly.

Let me test the changes on gfx10.
After that I will create a PR.

[2021-07-08 13:53] atamazov commented on #985
I am starting to work on this.

[2021-07-08 23:01] atamazov opened #1025 "[Jenkinsfile] MLIR is not tested on gfx908."
This issue is originated from #147, please see https://github.com/ROCmSoftwarePlatform/MIOpen/pull/147#pullrequestreview-702561380 for details.

[2021-07-09 11:41] atamazov commented on #1025
via #1027

[2021-07-09 11:41] #1025 closed

[2021-07-09 12:58] atamazov commented on #706
@Slimakanzer Any progress? Thanks!

[2021-07-09 14:08] Slimakanzer commented on #706
@kahmed10
Can you please check if the fixes in the [fix-fusions-asm1x1-supported-arch](https://github.com/ROCmSoftwarePlatform/MIOpen/commits/fix-fusions-asm1x1-supported-arch) branch resolves the issue?

[2021-07-09 15:25] atamazov commented on #706
@kahmed10 Your help is needed as we do not have access to Navi21 systems.

[2021-07-09 15:27] kahmed10 commented on #706
This resolves the issue of "Only Gfx8 and Gfx9 ISA is supported", but I am seeing the following MIOpen errors:
[code]
This was not present before. I am attaching an updated log, but I'm not sure how to debug. This could also be an artifiact from the gfx1030 ROCm builds I am testing.

[2021-07-09 15:28] kahmed10 commented on #706
[resnet50_migraphx_log2.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/6792398/resnet50_migraphx_log2.txt)

[2021-07-09 16:21] Slimakanzer commented on #706
@atamazov This error is also reproduced with _gfx906_.

[code]

[miopen_log.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/6792658/miopen_log.txt)

The error is thrown from:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/3e45c258b812bf7e3974635c109f92b00ff6db7a/src/solver/conv_ocl_dir2Dfwd.cpp#L305-L309

The `result.out_pix_tile0` and `result.out_pix_tile1` are set in the:
https://

[2021-07-09 16:56] atamazov commented on #992
vkia #997

[2021-07-09 16:56] #992 closed

[2021-07-09 16:57] atamazov commented on #995
Any update?

[2021-07-09 17:49] atamazov commented on #706
@Slimakanzer Thanks for excellent instruction. Can you please open a new ticket?

[2021-07-09 17:51] atamazov commented on #706
@kahmed10 > This resolves the issue of "Only Gfx8 and Gfx9 ISA is supported", but I am seeing the following MIOpen errors:

This is not related to this specific issue. When @Slimakanzer opens a new ticket for it, please add your comment there. Thanks!

[2021-07-09 19:55] Slimakanzer opened #1028 "[Fusion] Failed to get Convolution Forward solution with filter 1x1"
Error while creating Fusion Plan with Convolution+Bias+Activation and filter size 1x1.
Branch: **develop**

[code]

<details><summary>CONSOLE LOGS_LEVEL=7</summary>

[code]
</details>

---

The error is thrown in the source:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/3e45c258b812bf7e3974635c109f92b00ff6db7a/src/solver/conv_ocl_dir2Dfwd.cpp#L305-L309

However, `result.out_pix_tile1` or `re

[2021-07-09 19:57] Slimakanzer commented on #706
@atamazov @kahmed10
Opened ticket: #1028

[2021-07-09 21:32] atamazov commented on #1028
`ConvOclDirectFwdFused` should not be applicable for 1x1 fusions, like its ancestor, `ConvOclDirectFwd` (which is applicable only for 3x3, 5x5, 7x7, 11x11). It seems like this should be fixed: https://github.com/AMDComputeLibraries/MLOpen/pull/1113/files#r667220325.

@JehandadKhan Do you agree?

[2021-07-09 21:37] atamazov commented on #1028
@kahmed10 (originated from https://github.com/ROCmSoftwarePlatform/MIOpen/issues/706#issuecomment-877269104):

[2021-07-09 21:47] atamazov commented on #706
via #1029

[2021-07-09 21:47] #706 closed

[2021-07-13 20:24] atamazov commented on #985
via #1024

[2021-07-13 20:24] #985 closed

[2021-07-13 20:32] atamazov commented on #1022
See #1024 for more info and also look there how `MIOPEN_TEST_VEGA` and `MIOPEN_TEST_GFX908` are implemented.

[2021-07-13 20:33] atamazov opened #1031 "[TESTS][gfx90a] Support gfx90a in tests"
`cmake -DMIOPEN_TEST_GFX90A` ... ? See #1024 for more info and also look there how `MIOPEN_TEST_VEGA` and `MIOPEN_TEST_GFX908` are implemented.

[2021-07-13 21:08] JehandadKhan commented on #1028
I agree, that is a bug. Opened a #1032 for fix

[2021-07-14 12:03] atamazov commented on #388
via #1033

[2021-07-14 12:03] #388 closed

[2021-07-14 19:09] muralinr commented on #1031
What should I do here? Do I need to use "cmake -DMIOPEN_TEST_GFX90A" for testing?  I will sync-up with you

[2021-07-14 21:19] #1028 closed

[2021-07-15 19:10] atamazov commented on #1031
We need to add support for gfx90a in test/CMakeLists.txt. Please look at how gfx908 is supported and add similar stuff.

[2021-07-16 01:17] carlushuang commented on #1031
@atamazov here we have a first PR capable of MI200 kernels https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1035 this I believe is a good test material for the CI infrastructure.
cc @shaojiewang

[2021-07-16 17:42] atamazov commented on #1031
I am going to implement basic support in tests for navi21 and gfx90a, today.

[2021-07-16 17:43] atamazov commented on #1022
I am going to implement basic support in tests for navi21 and gfx90a, today.

[2021-07-16 17:44] atamazov commented on #1031
@okakarpa Assigning to you to keep you in the loop.

[2021-07-16 18:20] okakarpa commented on #1031
the navi21 node

     http://micimaster.amd.com/computer/ixt-sjc2-61/

[2021-07-16 18:24] atamazov opened #1036 "[BN][Navi21] `#undef __AMDGCN__` means UB"
`#undef __...` should NOT be used in kernels.

----
This change leads to undefined behavior. We shouldn't undef macros predefined by the compiler.

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/493#r671445106_

[2021-07-16 18:27] atamazov commented on #1036
Another place: https://github.com/ROCmSoftwarePlatform/MIOpen/blob/00d57548c25399186eb201eb2e0e6f7480915c48/src/kernels/batchnorm_functions.h#L134-L136

[2021-07-16 18:28] junliume commented on #1036
Do we have a ticket tracking this issue?

[2021-07-16 18:58] junliume commented on #1036
Do push_macro and pop_macro work?

[code]

Yikes, it is already in a header file and doubled in many files mentioned above.

**we need some clean up work on Batch Norm kernel code**, suggestion:
1. If every batch norm kernels have batchnorm_functions.h included at the very top of file, and all of them **need** this macro from compiler to be undefined: then generate another restore_batchnorm_macros

[2021-07-16 20:47] junliume commented on #1036
@muralinr could you help to check if the above may work? Or with Artem for a full blown solution? Thanks!

[2021-07-16 21:19] muralinr commented on #1036
@junliume Sure Jun.  Let me work with Artem.

[2021-07-16 23:00] atamazov commented on #1036
It may work (and most likely will) but this is UB anyway, because there is #undef still.

Recommendation:
[code]

[2021-07-17 12:00] atamazov commented on #1022
I am taking this node into use for now...

[2021-07-18 14:21] shaojiewang opened #1039 "[gfx90a] Unnecessary compile log."
When run MIOpenDriver on gfx90a, a compile log appears:
[code]
I think it is not necessary. Could it be eliminated?

Log at level 5:
[code]

[2021-07-19 14:24] atamazov commented on #1039
@shaojiewang Please attach full log at level 5.

[2021-07-19 21:15] atamazov opened #1041 "[driver] Update LogCmdRedux() for double."
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/1ebf0216930f672994c341d3c29c9d670cfd3cf8/src/reducetensor_api.cpp#L44

What is missing there:
[code]

[2021-07-20 02:17] shaojiewang commented on #1039
Yes, attached.

[2021-07-20 12:46] qianfengz commented on #1041
Ok,   I will do this soon

[2021-07-20 16:39] #745 closed

[2021-07-21 11:04] atamazov commented on #1039
What is the actual HIP runtime/compiler version? It reports 4.0.21114, but I guess that you use something newer. It is known bug that Mainline and Staging HIP report incorrect version. If so, then please make sure to inform MIOpen about actual HIP version. See #690 for more info.

[2021-07-23 12:44] atamazov opened #1047 "Revert #1046 and fix BN changes introduced in #916 (real fix for SWDEV-293780 and part 1/2 of the real fix for SWDEV-295434)"
#916 leads to:
- FP32 SSD convergency issue, https://ontrack-internal.amd.com/browse/SWDEV-293780
- FP16 SSD model explosion (NaNs or INFs), https://ontrack-internal.amd.com/browse/SWDEV-295434
- Therefore #916 was reverted #in #1046.
  - :warning: ___This returns the issue described at https://github.com/ROCmSoftwarePlatform/MIOpen/pull/916#issue-634558223 back!___

<details><summary><b><i>FP32 S

[2021-07-23 13:11] atamazov opened #1049 "Revert #1048 and fix changes introduced in #982 (part 2/2 of the real fix for SWDEV-295434)"
#982 leads to memory access fault in FP16 SSD model, https://ontrack-internal.amd.com/browse/SWDEV-295434. Therefore it was reverted #in #1048. :warning: ___This brings back issue #980!___

<details><summary><b><i>FP16 SSD convolution configs</i></b></summary>

[code]
</details>

## Proposed order of work:
- Test SSD configs listed above and collect logs.
  - :warning: Use only `ConvAsmImplicitGem

[2021-07-23 13:12] atamazov commented on #1049
@junliume I marked this as a blocker for 4.4 because I do not want #980 to persist in the release.

[2021-07-23 13:13] atamazov commented on #1049
On hold until #1048 is merged in.

[2021-07-23 13:13] atamazov commented on #1047
On hold until #1046 is merged in.

[2021-07-23 13:54] atamazov commented on #874
Time passes... Raising importance.

[2021-07-23 13:59] atamazov commented on #995
The W/A simply disables many test cases, thus making the library vulnerable for future bugs. Let's put the tests in order, thanks.

/cc @aserio @junliume

[2021-07-23 14:01] atamazov commented on #954
The W/A simply disables test cases, thus making the library vulnerable for future bugs. Let's put the tests in order.

[2021-07-23 14:07] atamazov opened #1050 "Remove WORKAROUND_ISSUE_2298."
This should  enable some tests, e.g. https://github.com/ROCmSoftwarePlatform/MIOpen/blob/dd153b6eb77f20dc68c90bdf3cfa1733b67b0e12/test/CMakeLists.txt#L1364-L1370

See https://github.com/AMDComputeLibraries/MLOpen/issues/2298#issuecomment-858136003 for more info.

[2021-07-23 18:26] jerryyin commented on #1018
Seeing no further feedbacks, I'm starting the implementation on tuning based on alternative 1. I will start with the implementation of non-xdlops mlir solvers.

[2021-07-23 20:33] atamazov opened #1053 "[Navi21] test_lrn_test (Failed)"
ROCm 4.2, OCL backend, Navi21, Full test: `test_lrn_test (Failed)`.

`WORKAROUND_ISSUE_1053` is used to avoid this error.

[2021-07-23 20:35] atamazov commented on #1053
`WORKAROUND_ISSUE_1053` used to avoid this error.

[2021-07-23 20:39] atamazov opened #1054 "[Navi21] test_conv_igemm_dynamic (Failed)"
ROCm 4.2, OCL backend, Navi21, Full test: `test_conv_igemm_dynamic (Failed)`.

`WORKAROUND_ISSUE_1054` is used to avoid this error.

[2021-07-23 23:14] atamazov commented on #1022
@okakarpa `ixt-sjc2-61` works fine and added to the pool of CI nodes. The trial branch for Navi21, `wip-rocmtest-trial-navi21`, is created and ready to use.

[2021-07-24 14:19] atamazov commented on #1053
@junliume @JehandadKhan Can you please assign this?

[2021-07-24 14:19] atamazov commented on #1054
@junliume @JehandadKhan Can you please assign this?

[2021-07-24 17:08] atamazov commented on #1022
Navi21 OCL testing support is ready for review & merge. Testing with HIP backend can't be implemented right now, see https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1038#issue-691923637.

[2021-07-25 06:44] carlushuang commented on #1054
Hi @atamazov please check https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1038#discussion_r676092147

[2021-07-26 22:58] atamazov commented on #1054
@carlushuang Would you like to tell that iGEMM dynamic kernels are not applicable for Navi21 and, therefore, the test should not be used? If yes, then this ticket is invalid. Please close it.

[2021-07-26 23:38] carlushuang commented on #1054
@atamazov yes. the assembly kernel is different for each architecture, or at least in ABI part. In this case, `test_conv_igemm_dynamic` only valid for vega.

[2021-07-26 23:38] #1054 closed

[2021-07-27 02:42] fuag15 opened #1057 "MIOpen keeps logging Info messages to stdout"
I'm not sure if i'm setting something incorrectly or not but for whatever reason a build from source keeps logging info messages and more to stdout. How am I supposed to stop this :?

[2021-07-27 03:25] fuag15 commented on #1057
I can't get MIOpen to stop logging Info messages. Even setting log level to 1 i get messages regarding SetTensor. How do i stop this?

[2021-07-27 21:41] fuag15 commented on #1057
Ok, some more info. I"m setting the cmake build type to release but for whatever reason, settings guarded by NDEBUG and any derivitave expected config is not being set

[2021-07-27 22:01] atamazov commented on #1050
@averinevg https://github.com/AMDComputeLibraries/MLOpen/issues/2298#issuecomment-858136003 simply says:

You can proceed with the implementation of this ticket right away.

[2021-07-27 22:04] atamazov commented on #1054
BTW we have some "universal" assembly kernels for a long time. The kernels employ conditional assembly and macros to achieve this.

[2021-07-27 22:47] #1049 closed

[2021-07-27 23:14] fuag15 commented on #1057
this was my bad. I was setting cxx flags multiple places and stomping on them

[2021-07-27 23:14] #1057 closed

[2021-07-27 23:15] kahmed10 opened #1061 "Error on CI builds with status code 8"
Using develop branch commit 1ebf0216930f672994c341d3c29c9d670cfd3cf8, I am seeing MIOpen fail on a specific unit test. I am attaching the log file for more info. This behavior is only showing up on Jenkins (vega 20 GPU), and I am unable to reproduce locally.

[fusion_ci_fail.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/6889198/fusion_ci_fail.txt)

[2021-07-27 23:34] junliume commented on #1061
It looks similar to https://github.com/ROCmSoftwarePlatform/AMDMIGraphX/issues/570, CI issue which is not able to reproduce locally.
@JehandadKhan  could you take a look?

[2021-07-27 23:36] kahmed10 commented on #1061
@junliume yes this was the same issue reinvestigated with a newer MIOpen build. The difference here is that we are no longer seeing the `MIOpen(HIP): Error [BaseGetSolution] result.out_pix_tile1 == 0 || result.out_pix_tile0 == 0`, but still it is not passing.

[2021-07-27 23:43] junliume commented on #1053
@ce1adon could you take a look? Possibly related to #1054 ? not applicable to Navi21 for some reasons?

[2021-07-28 02:47] carlushuang commented on #1054
Hi @atamazov yes, by using macros we can indeed reduce the number of kernels, with the sacrifice of becoming less human readable. We are thinking about this, because change from gfx9 to gfx10 is relatively large. I'm not sure if this can be achieved or not right now, but we are taking this into consideration in future kernel development.
Will update the old kernels if we found gfx10 kernels is ind

[2021-07-28 15:22] ce1adon commented on #1053
https://ontrack-internal.amd.com/browse/SWDEV-289454?focusedCommentId=7514219&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-7514219
Previous comments show it's a compiler issue.

[2021-07-28 15:23] atamazov commented on #1036
via #1037

[2021-07-28 15:23] #1036 closed

[2021-07-28 15:33] atamazov commented on #1061
@kahmed10 What is the last good (passing) known commit of MIOpen? Is it possible to identify the offending MIOpen commit?

The failing app is `test_conv_bn_add` from MIGraphX tests. How do we reproduce the issue?

[2021-07-28 15:36] yiqian1 opened #1062 "[MLIR] Improve MLIR solvers IsApplicable() performance"
[PR#1016](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1016) moves applicability checks of MLIR bwd solvers to the turning parameter pass. As a result it degraded the performance of IsApplicable() by up to 200x.

For an invalid configuration (on gfx900) which would fail the checks that were removed by PR#1016. The original IsApplicable() takes 12us due to the short-cut check. With the chang

[2021-07-28 15:39] atamazov commented on #1054
@carlushuang Please notice `inst_wrappers.inc` and `rocm_version.inc`. I recommend re-using these (or borrowing the approach) in your kernels if you decide to share kernel sources among different GPU architectures.

[2021-07-28 15:46] jerryyin commented on #1062
The idea to improve the performance is to:

Before padding kernel is ready:
 - Create the dedicated API for availability check
 - In the new API, we avoid the actual creation of the handle, because handle creation will incur a number of overhead including llvm module and llvm context
    - Instead, we perform only applicability check in this API

After padding kernel is ready:
 - Remove the tuning

[2021-07-28 16:15] kahmed10 commented on #1061
@atamazov this was reported first while we moved to MIOpen 2.3, but I'm not sure the exact commit which breaks the CI.

As for reproducing, I've shared the log of what is being called into MIOpen, but it's basically a conv_bias_relu fusion.
Conv input: (1, 128, 56, 56)
Weight input: (256, 128, 1, 1)
padding: 0, 0
strides: 1, 1
dilation: 1, 1
Bias input: (1, 256, 56, 56)

[2021-07-28 18:53] atamazov commented on #1053
@junliume @ce1adon https://ontrack-internal.amd.com/browse/SWDEV-289454 was rejected. It seems that the relevant ticket is https://ontrack-internal.amd.com/browse/SWDEV-288205, which is in closed state now, but fixed Mainline build number of the compiler/runtime was not published there.

[2021-07-28 18:57] atamazov commented on #1053
I recommend checking the issue with the most recent ROCm 4.3 release candidate, If the issue persists, then SWDEV-288205 can be reopened.

[2021-07-28 19:02] atamazov commented on #1062
[Recommendation] Remove "hopefully" :sunglasses:

[2021-07-28 19:05] atamazov commented on #1062
Let's assume that elimination of a performance degradation is a bug fix, not an improvement. Thanks for understanding.

[2021-07-28 19:11] atamazov commented on #1061
@kahmed10 Couple of questions that might be useful for the assignee:
- Vega20, HIP backend, Release build of MIOpen?
- What is the version of HIP compiler/runtime - 4.2 release?

Please also set urgency label on this ticket, thanks.

[2021-07-28 19:21] kahmed10 commented on #1061
I provided the MIOpen branch I used for testing above (HIP backend): 1ebf021
4.2 versions of HIP compiler/runtime.

[2021-07-28 19:23] kahmed10 commented on #1061
If it's easy to explain the errors in the log, please feel free to do so as well. Priority is set to medium, but I would first like to see if this error can be reproduced.

[2021-07-28 21:07] shurale-nkn opened #1063 "[gfx908] test_conv_for_implicit_gemm verification failed"
test_conv_for_implicit_gemm failed on gfx908. Need to check is it ok.
Disabled by default in develop.

[code]
Failed CI build:
http://micimaster.amd.com/blue/rest/organizations/jenkins/pipelines/MLLibs/pipelines/MIOpen/branches/tests_for_908/runs/6/nodes/1505/steps/1603/log/?start=0

[2021-07-28 21:16] shurale-nkn opened #1064 "[gfx908] test_dropout failed without info"
test_dropout failed without 'FAILED' trigger word .

Disabled by default in develop.

```[2021-07-28T15:47:56.349Z]  7/78 Test #17: test_dropout ...............................***Failed  2756.43 sec```
Possible reason:
```[2021-07-28T15:47:56.355Z] Config requires 154619215872 Bytes to write all necessary tensors to GPU. GPU has 34342961152 Bytes of memory```

some test requires 154619215872 bytes

[2021-07-28 22:35] junliume commented on #1064
test_dropout failed on gfx908 as early as I know (April 3rd) and marked as "Same issue as observed in baseline". @atamazov  do you recall how long has it been like this? :)

@ce1adon from [SWDEV-200503](https://ontrack-internal.amd.com/browse/SWDEV-200503)'s description, could you please check if it is a reoccurrence of the same issue?

[2021-07-28 23:00] ce1adon commented on #1064
Will need a gfx908 to debug
If the error is due to usage of memory, we shall add a check to skip those large tests.
BTW, I never see memory error before, it could be another compiler issue.

[2021-07-29 05:23] shaojiewang commented on #1031
Do we have a support for gfx90a in ctest?

[2021-07-29 08:01] shaojiewang commented on #1063
@shurale-nkn Could you please provide a commit number?
I did not reproduce error with latest develop branch.

[2021-07-29 08:07] carlushuang commented on #1063
@junliume indeed this test `test_conv_for_implicit_gemm` is for any architecture for solvers under igemm algorithm. and yes `test_conv_igemm_dynamic_small` is indeed for non-xdlops vega gpus.

[2021-07-29 08:14] shaojiewang commented on #1063
I reproduce the same error with commit 001fbbd9081b151de1c3a3dc81b77d0ccd2b2377, which reverted #982 for a fast fix of ssd issue. But commit 001fbbd9081b151de1c3a3dc81b77d0ccd2b2377 is also reverted by #1045 . For this issue, @shurale-nkn could you please using lastest develop branch and re-run the ctest?

[2021-07-29 10:34] atamazov commented on #1064
@junliume This is something the CQE is observing for a long time. They are considering this as a "known problem", which means that they do not care if dropout fails. If we disable dropout test, then dropout is vulnerable for future, possibly more important bugs, because neither our CI nor CQE will catch them.

Therefore I think this must be resolved and test re-enabled ASAP.

[2021-07-29 10:36] atamazov commented on #1064
In other words: W/A disables some test. The missing test is a bug in tests. That is why I set the `bug` label.

[2021-07-29 10:37] atamazov commented on #1064
Well, maybe blocker is overkill))

[2021-07-29 10:39] atamazov commented on #1064
No, it passed me by...

[2021-07-29 10:44] atamazov commented on #1063
@shurale-nkn > Disabled by default in develop.

You would like to tell that right now it is disabled, but you would like to enable it, but this issue prevents from doing so, right?

[2021-07-29 10:49] shurale-nkn commented on #1063
Yes, of course.

I have updated my branch and am waiting for the test result

[2021-07-29 10:52] atamazov commented on #1063
the most recent develop is broken, I am working on it. Meanwhile you can use develop 4acff920f001b86be94449c0fddfd8dfbbdb0164 as a baseline, it should work.

[2021-07-29 12:59] shurale-nkn commented on #1063
So sorry about develop, but it didn't affect this test. Passed with lastest develop. Closed.

[2021-07-29 13:21] #1063 closed

[2021-07-29 19:02] jerryyin commented on #979
Closing the ticket as #1052 merged and MLIR CI bumped to ROCm 4.2. Please feel free to reopen if there's anything else needs to be done in this ticket.

[2021-07-29 19:02] #979 closed

[2021-07-29 21:50] atamazov commented on #1063
wow

[2021-07-30 01:15] junliume commented on #1031
@atamazov do you have a WIP branch for this issue? If not yet I will ask @shaojiewang to support this issue as a prerequisite for #1035. Thanks!

[2021-07-30 02:24] junliume commented on #1031
@shaojiewang we initiated a WIP branch to *completely* mimic gfx 908 behavior in #1067, could you take a look and make necessary changes and fixes please?

[2021-07-30 03:43] shaojiewang commented on #1031
Yes, I'll use it. Thanks a lot.

[2021-07-30 06:34] shaojiewang commented on #995
OK. I will work on this. Supposed to pull request by next week.

[2021-07-30 08:20] atamazov commented on #1031
Let me repeat the plan here:
- (1) Switch MIOpen CI from SSH to HTTPS auth
  - @okakarpa, can you please test that in the sandbox?
    - For MIOpen, it is enough to check that develop branch is working fine. But this change may affect other projects in ROCmSoftwarePlatform, specifically AMDMIGraphX and MIOpenTensile
    - Therefore either the SSH->HTTPS switchover should be done for MIOpen only OR

[2021-07-30 11:33] atamazov opened #1069 "[MLIR][TESTS] test_conv_igemm_mlir* take too much time"
In FP32 gfx908 test, each takes >30 minutes so the overall testing time > 40 minutes. This is too much for Smoke testing. Recommendation:
- Create Full MLIR test stage and move these tests there.
- Create test_conv_igemm_mlir*_small and use these in Smoke.
  - It should contain ~10% from the existing test_conv_igemm_mlir*
  - Tip: _Move_ (not _copy_) test cases from test_conv_igemm_mlir* to *_smal

[2021-07-30 12:48] atamazov commented on #995
@shaojiewang Good, thanks.

[2021-07-30 14:07] pfultz2 commented on #1031
Whats the reason for this? I switched from https to ssh because https didn't work inside our internal network(due to IT's MITM).

[2021-07-30 15:49] jerryyin commented on #1069
Thanks for bring this up. It does look like we might be missing the build type in top level cmake, which is causing the excessive amount of test time in those stages. Refer to https://github.com/ROCmSoftwarePlatform/llvm-project-private/issues/292.

With this new information, I'm not sure some of the above suggestions still applies. Looks to me `CTEST_PARALLEL_LEVEL=8` is the only relevant one if

[2021-07-30 15:56] atamazov commented on #1031
@pfultz2 Please see mail thread, "public docker access". In short:

If this is so, then we are stuck again. But the testing pipeline created by @okakarpa somehow works (see mail)... However I didn't investigated the logs of the testing pipeline in detail yet. Lets discuss further in mail.

[2021-07-30 16:48] okakarpa commented on #1031
@pfultz2 for git cloning through ssh it uses  port 22 towards GitHub, which seems to be blocked so we have to switch to https.
It's better to use git https cloning just for MI200 rather than changing for all the jobs, @atamazov your thoughts ?

[2021-07-30 17:10] atamazov commented on #1069
MIOpen builds Release builds by default. I think that CI spends time for computation of reference convolution data, for validation. Reducing the number of test cases would linearly reduce the testing time.

[2021-07-30 17:12] atamazov commented on #1031
That would be the best solution, but I am wondering if this is possible to do within the same Jenkins ogranization/project. _Lets discuss further in mail._

[2021-07-31 03:18] shaojiewang commented on #954
I will also resolve this within PR #1068

[2021-07-31 15:50] pfultz2 commented on #1031
The machine should be configured to clone github using port 443(which is not blocked), if not then the machine is not configure correctly. In the fab scripts, I usually just copy the ~/.ssh directory from a machine thats already setup. This will copy the ssh keys and config file which is needed to clone github on port 443. You should do the same for the new gfx90a machines.

[2021-07-31 15:59] okakarpa commented on #1031
I did run fab scripts setup-Jenkins on the node, for https it uses 443 but for ssh it uses port 22

https://docs.github.com/en/enterprise-server@2.21/admin/configuration/configuring-network-settings/network-ports#administrative-ports

[2021-08-02 01:28] pfultz2 commented on #1031
Did you run the `copy-ssh` command to copy the ssh directory from an already setup node?

[2021-08-02 14:07] okakarpa commented on #1031
I had to manually reset the config file.

The git clone works on ssh as well, @pfultz2  thanks !!!

http://micimaster.amd.com/job/MLLibs/job/MIOpen/job/wip-rocmtest-trial-mi200/7/console

[2021-08-02 17:01] averinevg opened #1073 "[Doc] make clean does not remove all generated files in doc/src"
During documentation building several files are copied from other directories and remain after cleaning:

- doc/src/driver.md
- doc/src/install.md

[2021-08-02 17:14] averinevg opened #1074 "[Doc] Proper documentation is generated only after second make doc"
Proper html documentation is generated only after second `make doc`. This is because html files are generated before copying of driver.md and install.md. These files remain after `make clean`. This issue connected with https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1073

[2021-08-02 21:59] #1041 closed

[2021-08-03 23:25] junliume opened #1078 "[Jenkins] [PGP] MIOpen point to permanent gpg keys location"
Start around ROCm4.0 time frame ROCm gpg key no longer stored at:
https://repo.radeon.com/rocm/apt/$ROCM_KEY_VER/rocm.gpg.key

As documented for devops, the permanent gpg keys location will be:
https://repo.radeon.com/rocm/rocm.gpg.key

The old key was expired on August 1st 2021 and removed thus causing Jenkins issues

[2021-08-04 14:38] #1078 closed

[2021-08-04 22:37] junliume opened #1080 "[NoGPU] Build MIOpen fails when GPU device does not exist"
After enablement of #1024 MIOpen cannot build successfully on GPU-less platforms, such as WSL environment

[Task]
Differentiate "ROCMINFO FAILED, GPU TYPE UNKNOWN". and "ROCk module is NOT loaded, possibly no GPU devices".
Community can play with MIOpen build with WSL
MIOpen can be built on GPU-less platforms or servers

[2021-08-04 23:04] shurale-nkn commented on #1080
@junliume
Do we have any error logs on this issue? I don't quite understand how MIOpen should be build on WSL system.
I assume that WSL does not contain ROCm and rocminfo. In this case PR#1081 will not help

[2021-08-04 23:14] junliume commented on #1080
It's mostly for dev convenience, previously worked but boke by GPU Detect PR.
You can technically install rocminfo on WSL, just the outcome would be:

❯ rocminfo
ROCk module is NOT loaded, possibly no GPU devices

without the "fix":

❯ make check -j16
... ...
-- Configuring done
-- Generating done
-- Build files have been written to: /mnt/c/Users/junliu14/MIOpen/build
*** FATAL: GPU DETECTION FAIL

[2021-08-04 23:35] shurale-nkn commented on #1080
Hmmm... For me, the problem with these logs is that I can't "CHECK CMAKE WARNINGS" because they are suppressed

[2021-08-05 11:45] shaojiewang commented on #1031
@shurale-nkn In the WIP branch, why we need to avoid reboot for gfx90a? I just copy the wip_gfx90a branch in #1082 , but I do not understand why we do these changes.

[2021-08-05 14:58] #1050 closed

[2021-08-05 18:59] #1080 closed

[2021-08-07 13:54] tpkessler opened #1083 "Missing `#include <limits>`"
When compiling MIOpen with OpenCL backend (release 4.3.0) on Arch Linux with GCC 11 I get several build errors like
[code]
This is fixed by adding `#include <limits>` to `float_equal.hpp`:

[code]

[2021-08-09 07:48] jianlongf opened #1087 "fused matmul relu"
HI, The gemm + relu has many times in my inference.(In amd, we call rocblas backend) So I wanna know is there matmul + relu implementation in rocBlas. Thanks in advance for any help.

[2021-08-09 14:58] junliume commented on #1083
@tpkessler Thanks! It seems that GCC 11 started to explicitly require including \<limits\>, \<memory\>, \<utility\>, \<thread\>, according to [gcc-11_header-dep-changes](https://www.gnu.org/software/gcc/gcc-11/porting_to.html#header-dep-changes), it might have happened to clang too.
It ~~might~~ should have been fixed for most header files while this one is missed: have we only recently started te

[2021-08-09 15:08] #1083 closed

[2021-08-09 16:19] jerryyin opened #1085 "[MLIR] Address precision concerns in xdlops, wrw algorithm"
https://github.com/ROCmSoftwarePlatform/llvm-project-mlir/pull/310 leads to MIOpenDriver test breakage of following combination of problem config in mlir solvers:
 - fp32
 - xdlops
 - wrw

For breakage CI log please look at [here](http://rocmhead:8080/job/mlir-nightly-all/30/console). Search `failed` in CI log.

According to a discussion between @whchung and @asroy. This is less likely to be a ker

[2021-08-09 18:12] yiqian1 opened #1086 "[MLIR] Fully support OpenCL backend when using MLIR library"
To fully support OpenCL backend, we need to add the implementation of building MLIR with OpenCL backend.

To enable OpenCL backend:

 cmake -DMIOPEN_USE_MLIR=On -DCMAKE_CXX_COMPILER=/opt/rocm/llvm/bin/clang++ -DBUILD_DEV=On -DCMAKE_PREFIX_PATH="/root/MIOpen/MIOpen_deps" -DCMAKE_BUILD_TYPE=release -DMIOPEN_BACKEND=OpenCL ..

<details><summary><b><i>Currently these tests are failing:</i></b></summar

[2021-08-10 01:05] junliume commented on #1087
@jianlongf could you please provide more context of the issue? Have you used MIOpen as the backend? Thanks!

[2021-08-10 02:28] jianlongf commented on #1087
Sure, I wanna run mlperf - rnnt(speech recoginization) inference on AMD GPU based on rocm 4.0.x. In fact,, rnnt called Rocblas through aten::matmul op instead of MIopen to rocblas. And pytorch divided the matmul + relu into gemv + relu two ops that would be executed many times in while-loop and costed bad performance. So the direct thinking is to fused this two.(the single relu accounted for about

[2021-08-10 04:17] junliume commented on #1087
@zjing14 could you take a look at this feature request please?

[2021-08-11 01:45] carlushuang commented on #1085
@jerryyin from our perspective, fp32 wrw xdlops should not have precision issue, even if you use atomic add. This is true in both HIP and ASM implementation of igemm. According to [conv_driver.hpp#L3291](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/driver/conv_driver.hpp#L3291), this is already a big tolerance value.
I think before you adjust the fp32 wrw threshold(which may affect

[2021-08-11 15:32] jerryyin commented on #1085
@carlushuang Thanks for your reply. I merely just find the breakage. Since I didn't either develop the kernel code or the validation code, I will abstain from the technical side of discussion.

@ltqin Could you please respond?

Could you give an example where atomic add has been used in `wrw` and that it can continue to pass existing MIOpen validation? This should further prove that it is not a pr

[2021-08-11 19:57] junliume commented on #938
@kiritigowda The issue seems to be not reproducible on my end. To be safe I pulled a fresh docker ubuntu 18.04 and started from completely fresh:

   apt update
   apt install wget
   wget https://github.com/ROCmSoftwarePlatform/MIOpen/archive/2.12.0.zip && unzip 2.12.0.zip
   apt install unzip
   unzip 2.12.0.zip
   cd MIOpen-2.12.0/
   apt install cmake
   **apt-get install python3-venv**
   apt

[2021-08-11 21:01] kiritigowda commented on #938
@junliume thanks for looking into this. I am attaching 2 docker files to reproduce this issue on CentOS 7 & Ubuntu 18.04. I would appreciate it if you could find a fix or maybe find the problem with my docker file that I am missing.

* On CentOS 7 - [miopen-test-centos.dockerfile.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/6971338/miopen-test-centos.dockerfile.txt)

**build** - `sudo

[2021-08-12 03:14] shaojiewang commented on #1085
@jerryyin

Yes. From our side, fp32 wrw can always pass MIOpen validation. Here are some examples:
**NCHW**
[code]
**NHWC**
[code]

[2021-08-12 13:57] jerryyin commented on #1085
@whchung @ltqin Please follow up if necessary. Meanwhile I'm going to mark fp32 wrw xdlops as inapplicable before this is fixed, just so that MIOpen integration work can be unblocked.

[2021-08-12 16:57] junliume commented on #938
[miopen-test-ubuntu.dockerfile.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/6977169/miopen-test-ubuntu.dockerfile.txt)
@kiritigowda the slightly modified dockerfile worked on Ubuntu (I have tested locally). We suspect centOS is very similar issue.
Please remove the part:

        unzip half-1.12.0.zip -d half-files && sudo cp half-files/include/half.hpp /usr/local/include/
since it is

[2021-08-12 17:59] junliume opened #1089 "[Test][CI][gfx90a] ROCm4.3 Clang tidy issue"
As shown here: http://micimaster.amd.com/blue/rest/organizations/jenkins/pipelines/MLLibs/pipelines/MIOpen/branches/jenkins_and_docker_file_for_90a/runs/12/nodes/12/steps/80/log/?start=0

There are lots of errors for:

We suspect it could be caused by:

- Build with HIP 4.3.21254
- Clang tidy found: 13.0.0git

[reproduce]:
Only reproducible with ROCm4.3 as the CI frame, most of our current CI envi

[2021-08-13 17:47] raikonenfnu opened #1091 "Simple GEMM Example with Xdlops"
Hey guys, I am trying to set up a toy example of gemm using xdlops with the miopen, I was wondering if there are any simple examples on doing such, the closest things I have seen that give extra info is [gemm.hpp](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/src/kernels/composable_kernel/include/tensor_operation/xdlops_gemm.hpp) and [amd_xdlops.hpp] refered by Jack Chung and (https:

[2021-08-13 17:51] raikonenfnu commented on #1091
My final goal is to bring up a simple MLIR based gemm that runs on xdlops in [ROCm MLIR](https://github.com/ROCmSoftwarePlatform/llvm-project-mlir), I have seen the [examples]( [miopen_xdlops_gemm_v2_one_result_f16](https://github.com/ROCmSoftwarePlatform/llvm-project-mlir/blob/d0bc2c956231415039e51da3a0ac6f3d398f8b4a/mlir/test/Dialect/MIOpen/ops_blockwise_f16.mlir#L38)) but still don't quite unde

[2021-08-13 18:38] whchung commented on #1091
+ @junliume for awareness.

[2021-08-13 19:08] junliume commented on #1091
@raikonenfnu Thanks for getting in touch. Would you be interested in a brief intro meeting so that we can understand your requests more effectively? My contact email is listed under profile, and we can start from there to try to set something up next week. And thanks to @whchung !
CC: @zjing14 we can continue discussion thread here too, in case the request looks clear to you.

[2021-08-13 22:43] raikonenfnu commented on #1091
Sounds good! will shoot you an email and set up a meeting with my boss as well 😄

[2021-08-13 23:00] raikonenfnu commented on #1091
sent an email, my email is stanley@nod-labs.com

[2021-08-17 02:25] raikonenfnu opened #1092 "[Question] Clarification regarding algorithm used in xdlops_gemm"
Hi guys,

I have a few questions regarding the matmul/gemm algo used in xdlops_gemm specifically looking at reduction and non-emulated xdlops. ([file here](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/c701af3ba83f8fb99d7efab30ee0b22de57f2f42/src/kernels/composable_kernel/include/tensor_operation/xdlops_gemm.hpp#L723))

1. Why doesn't KPerThread consider the mfma_type.k ?
[code]
which seems

[2021-08-17 19:52] junliume commented on #1092
@zjing14  could you take a look?

[2021-08-17 23:58] junliume opened #1093 "[Test][CI][gfx90a] Temporarily disabled unit tests"
[Target]
re-enable the list of tests which have been disabled temporarily on gfx90a platform:

- [x] test_conv2d
- [x] test_find_db
- [x] test_main
- [x] test_immed_conv2d

[Cause]

1.  The first three is caused by *Assembly error*
2.  test_immed_conv2d is caused by:
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/jenkins_and_docker_file_for_90a/52/pipeline/

[2021-08-18 00:04] junliume opened #1094 "[Test][CI][gfx90a] MIOpenTensile Stage Support on gfx90a"
[Target]
Confirm whether MIOpenTensile Stage needs to be supported on gfx90a

[Cause]
MIOpenTensile Stage currently disabled for gfx90a:
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/jenkins_and_docker_file_for_90a/47/pipeline/128

[2021-08-17T19:39:36.704Z] *----------------------------------- ERROR -----------------------------------*
[2021-08-17T19:39:36.704Z] * Th

[2021-08-18 04:02] junliume opened #1095 "[Test][CI][gfx90a][gfx1030] test_dropout taking abnormally long"
[Target]
re-enable test_dropout on gfx1030 and gfx90a
This test is disabled on both platforms temporarily now

[Cause]
gfx1030: http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/develop/214/pipeline/1600
[2021-08-16T23:54:40.542Z] 79/81 Test #17: test_dropout ...............................   Passed  3846.46 sec

gfx90a: http://micimaster.amd.com/blue/organizations/jenkin

[2021-08-18 17:20] zjing14 commented on #1092
It may be confusing here. The K per Xdlops is determined by IsKReduction. mfma_type.k here is just k per thread
 per mfma.

There are two types of matrix-multiply instructions (i.e., mfma).
1): One type of mfma performs multiple gemms (by multiple thread_blks) along with M/N dimension. For example, 32x32x1fp32 mfma performs two 32x32 gemms along M/N (one per 32 threads). So we can do a gemm with M

[2021-08-18 17:21] junliume commented on #285
This still happens from time to time, more often on gfx1030 servers:
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/composable_kernel_init_integration_v3/35/pipeline
CC: @asroy @aserio @atamazov

[2021-08-18 17:34] junliume commented on #1087
@asroy we do not yet have such fusion readily available in MIOpen I guess. Would it be feasible to implement with CK?

[2021-08-18 18:49] JehandadKhan commented on #1089
I dont think we should disable the check, since its useful. We can however, move our CI to ROCm 4.3 and update the code to satisfy the tidy checks. @junliume  Do you agree ?

[2021-08-18 19:05] raikonenfnu commented on #1092
Thank you very much @zjing14 for the response! These explanation is supeeer helpful!!😄   Some follow up question:

1): One type of mfma performs multiple gemms (by multiple thread_blks) along with M/N dimension. For example, 32x32x1fp32 mfma performs two 32x32 gemms along M/N (one per 32 threads). So we can do a gemm with MxNxK = 32x64x1 or 64x32x1, depending on if we organize the two 32x32 gemms

[2021-08-18 21:09] junliume commented on #1089
@JehandadKhan it could be a fair amount of work to clean all of them, but I am on board with making the quality improvement :)
BTW~ so far I have seen they are all from our own code, nothing 3rd party, hopefully that is always true.

  Bar bar;
  return Foo(bar);
}

// transforms to:

  Bar bar;
  return {bar};
}

[2021-08-20 08:32] shaojiewang opened #1101 "[Test][CI][gfx90a]compile error for asm kernels"
For gfx90a arch, some asm kernels use .amdhsa_reserve_xnack_mask, it seems like to cause a compile error: ```.amdhsa_reserve_xnack_mask does not match target id```
CI is blocked: http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/asm_igemm_wrw_nhwc_gfx90a/9/pipeline/213/

[2021-08-20 14:35] junliume commented on #1101
Is this a duplication of https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1093?
These tests are temporarily blocked in develop line

[2021-08-20 18:29] atamazov commented on #1080
Now we must make it so that our CI does fail when GPU is not found but GPu is required by the Jenkins stage. Why: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1081#issuecomment-902877375

[2021-08-20 18:31] atamazov opened #1102 "[CI] Testing must fail when GPU is required but not found."
The issue is introduced in #1081, whose intent is to fix https://ontrack-internal.amd.com/browse/SWDEV-297881.

----

Now we must make it so that our CI does fail when GPU is not found but GPU is required by the Jenkins stage. Why: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1081#issuecomment-902877375

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/issue

[2021-08-20 18:35] atamazov commented on #1102
Note that we often see problems with clinfo (https://github.com/ROCmSoftwarePlatform/frameworks-internal/issues/218). In all such cases tests must fail.

[2021-08-20 18:37] atamazov commented on #1102
[Informative] Related review discussion: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1024#discussion_r667070823

[2021-08-20 18:38] atamazov commented on #1102
We can modify Jenkinsfile to resolve the problem. @shurale-nkn What do you think?

[2021-08-20 19:36] junliume commented on #1102
When GPU is not found but GPU is required by the Jenkins stage:

1.  GPU is there but ROCm fail to detect it. e.g. gfx90a with ROCm4.2.
In this case, it should falls into "TESTING IS NOT SUPPORTED FOR THE DETECTED GPU" branch, and fails with "FATAL: GPU DETECTION FAILED DURING CMAKE PHASE, CHECK CMAKE WARNINGS", right?

2.  GPU is ... not ... there ?
Indeed it will fall in to "ROCk module is NOT l

[2021-08-20 23:11] zjing14 commented on #1092
First, I want to clarify that "thread block" here is not threadblock/workgroup on NV/AMD GPUs. We may use thread groups instead. Basically, Mfma will split a wavefront into multiple groups. For example, 32x32x1fp32 mfma has two thread groups (32 thread per group). Each thread group performs a 32x32 gemm.

Here, we use 32x32x1fp32 for a 64x32x1(MxNxK) gemm [MxN]: two threadgroups (32 thread per gro

[2021-08-20 23:53] junliume opened #1105 "[Test][CI] ROCm4.3 COMGR '__clang_hip_runtime_wrapper.h' file not found"
[Target]
Together with #1089, MIOpen CI needs to be upgraded to ROCm 4.3

[Symptom]
"Fp32 Hip Debug COMGR" stage has failed with

[2021-08-20T23:17:41.443Z] #include "__clang_hip_runtime_wrapper.h"
[2021-08-20T23:17:41.443Z]          ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Failed tests:

[2021-08-20T23:17:44.762Z] 	 19 - test_find_db (Failed)
[2021-08-20T23:17:44.762Z] 	 21 - test_gpu_reference_kernel (F

[2021-08-21 02:21] raikonenfnu commented on #1092
This concept explains sooo much about what's going on!! 😅

Ok, this makes sense, so in the case of 16x16xf16 at each thread in each block/sub-wavefront(thread count 16):
[code]
Since both M and N index is dicated by blk_td, doesn't that mean we are only doing mfma to compute the diagonal elements of the resultant 16x16?

Also by going at a stride of k_base during running of mfma, does that mean we

[2021-08-23 00:25] shaojiewang commented on #1101
@junliume Yes, I see. It is more like a sub question of 1093. I'll move it to that ticket. But we need to open it for 90a kernels' integration.

[2021-08-23 00:25] #1101 closed

[2021-08-23 00:26] shaojiewang commented on #1093
As we need to open test_conv2d on gfx90a, this error is observed:
For gfx90a arch, some asm kernels use .amdhsa_reserve_xnack_mask, it seems like to cause a compile error: ```.amdhsa_reserve_xnack_mask does not match target id```
CI is blocked: http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/asm_igemm_wrw_nhwc_gfx90a/9/pipeline/213/

[2021-08-23 08:29] carlushuang commented on #1093
`EPILOG_KERNEL_DESCRIPTOR miopenSp3AsmConv_v21_1_2_gfx9_fp32_stride1`
from the log of the CI, winograd kernel happens to be compiled, where the compiler complain about an unrecognized syntax. Maybe winograd need to be disabled on gfx90a test environment
cc @DrizztDoUrden

[2021-08-23 15:29] mindest opened #1109 "BatchNorm backward with mode spatial seems incorrect"
**Problem**: MiOpenBatchNormBackward seems incorrect in mode `spatial`

Hi, we are trying deploying a onnxruntime training model in a Mi100 cluster. It includes a BatchNorm layer. We use MIOpenBatchNorm with mode `spatial` when implementing our BatchNorm operator, whose input is of size `(N, C)`. The result should be the same for a two-dim case under mode `spatial` or `per_activation`. But we foun

[2021-08-23 16:41] muralinr commented on #1109
Hello,
Can you please let us know batchnorm configs (N,CY,H,W) used here for spatial mode?

[2021-08-23 16:59] muralinr commented on #1109
I ran the following batchnorm forward and backward spatial mode configs with N = 1024 and C = 64.  I don't see any problem.

mnandhim@x1001c4s1b1n0:~/miopen/MIOpen/build$ ./bin/MIOpenDriver bnorm -m 1 -s 1 -n 1024 -c 64 -H 52 -W 52 -V 1 -F 1 -b 0 -i 1 -t 1 -w 0
MIOpenDriver bnorm -m 1 -s 1 -n 1024 -c 64 -H 52 -W 52 -V 1 -F 1 -b 0 -i 1 -t 1 -w 0
GPU Kernel Min Time Forward Batch Normalization Elaps

[2021-08-23 17:40] junliume commented on #1109
Hi @muralinr, have you used or examed @mindest's reproduce code attached above?

[2021-08-23 18:26] JehandadKhan commented on #1093
@Kirpich30000 can you please take a look at the Winograd kernel and suggest future steps for enablement on gfx90a.

[2021-08-23 20:09] muralinr commented on #1109
yes Jun.  I am using same N and C in NCHW mentioned in code.  However, H and W is not clear to me and hence I asked him if he can dump NCHW config info.

[2021-08-23 20:20] junliume commented on #1109
MIOpenDriver might have different tolerance level, so it's better to run at application level provided by the user.
@mindest could you share more details? email communication is also fine, my contact is listed under my profile :)

[2021-08-23 22:39] junliume commented on #1094
Some references:
https://gitlab.kitware.com/cmake/cmake/-/issues/21787
and lines from:
https://github.com/ROCmSoftwarePlatform/Tensile/blob/a8b2b42f28934c881dcd62b19ed2a53b67212a7a/Tensile/Source/CMakeLists.txt#L68

[2021-08-23 22:52] junliume commented on #1105
*Correction*: having correct LLVM PATH has resolved the issue.
reduce heat (urgency level) to wait for [SWDEV-290754](https://ontrack-internal.amd.com/browse/SWDEV-290754)

[2021-08-23 23:21] mindest commented on #1109
@muralinr @junliume Thanks for the quick response! In the repro example code, the input dimension is `(N, C, 1)` for spatial mode. I think I also tried similar checks (only forward, was not clear how to trigger a backward check), which did pass.
@muralinr Have tried the python directly? With input of dimension `(N, C, 1)`, should both modes (spatial/per_activation) have the same results?

[2021-08-23 23:33] muralinr commented on #1109
I tried NCHW (1024,64,1,1) and all  forward and backward passes tests are passed for spatial and per_activation modes.

mnandhim@x1001c4s1b1n0:~/miopen/MIOpen/build$ ./bin/MIOpenDriver bnorm -m 1 -s 1 -n 1024 -c 64 -H 1 -W 1 -V 1 -F 1 -b 0 -i 1 -t 1 -w 0
MIOpenDriver bnorm -m 1 -s 1 -n 1024 -c 64 -H 1 -W 1 -V 1 -F 1 -b 0 -i 1 -t 1 -w 0
GPU Kernel Min Time Forward Batch Normalization Elapsed: 0.023

[2021-08-23 23:42] mindest commented on #1109
@muralinr Thanks I will also try a backward check later on the machine. Can you try the above python code I provided? If it gives the correct answer on your side, I think the reason would be I using the kernel in a wrong way or using the outdated version.

[2021-08-23 23:55] muralinr commented on #1109
I used same configs mentioned in python code. I will ask our customer support team to run this python model.

[2021-08-24 00:40] junliume commented on #1094
[Root Cause]:
**MIOpenTensile version outdated**. It requires ROCm4.3 to support gfx90a, thus a few places needs to be updated:
- [ ]  this line should be fixed by PR #1099
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/03f5c10b42f256a407d610eba1f8d6ef7f27218e/Dockerfile#L18
- [ ] Line 66 and Line 74: one or both need to be updated to **9cbabb07f81e932b9c98bf5ae48fbd7fcef615cf**
https://githu

[2021-08-24 21:39] atamazov commented on #1093
As far as I see, the root reason of all the issues is assembly errors. In order to fix these errors we need access to gfx90a or logs of faulty cases taken with level 6.

[2021-08-24 21:49] atamazov opened #1112 "[Navi21][OpenCL] Stability issues of FP32 test_soft_max"
The fix should include removal of changes discussed here: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1098/files#r692320156. Notice that those changes are actually a workaround for unstable test, but the workaround was not legalized properly.

I highly recommend fixing #285 first, which is easily reproducible with ROCm 3.3 (and _may_ be easily reproducible with recent ROCm as well).

----

[2021-08-24 22:03] atamazov commented on #1094
I think that the full-blown fix should include reverting changes discussed here: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1098/files#r692309558 (those changes are a workaround for this issue, but not legalized properly).

[2021-08-25 02:39] mindest commented on #1109
Thanks @muralinr.

Tried the above forward/backward checks:
[code]
They all passed.

<details>
<summary>check log</summary>

[code]
</details>

[2021-08-25 04:34] muralinr commented on #1109
Thank you @mindest . We are able to run model and Both forward and backward tests are passed with these NCHW (1024, 64,1,1) tensor parameters. I did experiments on this spatial mode failures.  Batchnorm spatial mode fails with batch size (N > 768) for this model.  I will review code and work with teams to resolve this issue.

[2021-08-25 05:18] mindest commented on #1109
Thanks @muralinr. The number 768 is consistent with my previous findings -- Tried batch size 512 (fine) and further used binary search to find that batch size up to 768 seemed to work fine. Dumped some intermediate gradient values, doubted it might be related to tensor stride or something (just an assumption).
Also, NCHW (1024, 1, 1, 1) also works fine, while cases with C starting from 2 would fai

[2021-08-25 05:22] carlushuang opened #1113 "[NFC] asm igemm kernels integrate as tar.bz2, instead of plain text files"
Currently asm igemm kernels are placed under `src/kernels/dynamic_igemm/` as plain text files. And each kernel will have a single `.s` file. This will lead to MIOpen source file with hundreds ~  thousands of asm files, which may have following pitfalls:

- github clone time will be longer.
- When up load new PRs for new kernels, there will be hundreds of kernels (like #1035), will make review more

[2021-08-25 07:01] shaojiewang commented on #1113
If so, we could upload a code object, so that decompression will not be needed.

[2021-08-25 08:27] carlushuang commented on #1113
If upload a single code object, we may violate the purpose of splitting kernels (https://github.com/ROCmSoftwarePlatform/MIOpen/pull/957), that multiple kernel inside a single code object may slow down the wall time. Again, if we have a single code object per kernel, there seems no quite difference of current approach. we still has the problem as in the description.

[2021-08-27 13:19] atamazov opened #1119 "[post-merge review] PR 1116, Batchnorm backward convergence fix"
- [ ] Add a regression test for SWDEV-300279, see https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1116#pullrequestreview-740509405

[2021-08-27 14:52] atamazov opened #1120 "[post-merge review] PR 1108, [SWDEV-281541][MSRCHA-100] Implementation of Dynamic Generic Reduction"
- [x] Review by @asroy, https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1108#pullrequestreview-739054615
- [ ] Review by @atamazov, https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1108#pullrequestreview-740455376
- [x] Review by @asroy, https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1108#pullrequestreview-740752154

All the review comments must be resolved in order to close this.

[2021-08-27 19:29] atamazov opened #1122 "[post-merge review] PR #1117 [TUNA] IsTunable function for Solver Id (revised)"
- [x] https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1117#pullrequestreview-740737804

[2021-08-27 20:05] asroy opened #1123 "Dynamic reduction GPU access fault"
GPU access fault when running on Vega20 (tested with MI-60) on ROCm4.3 HIP backend

```bin/test_reduce_test --all --double```

Error msg, when using HIP backend, and on ROCm4.3
[code]

Note
* It doesn't fail if dynamic reduction is disabled
* It doesn't fail if using OpenCL backend
* It doesn't fail if running a single config
* It doesn't fail if using ROCm4.1

[2021-08-27 20:06] asroy opened #1124 "GPU access fault running dynamic reduction"
GPU access fault when running on Vega20 (tested with MI-60)

```bin/test_reduce_test --all --double```

Note
* It doesn't fail if dynamic reduction is disabled
* It doesn't fail if using OpenCL backend
* It doesn't fail if running a single config

Failed config:
[code]

[2021-08-27 20:15] #1124 closed, assigned to qianfengz

[2021-08-28 12:17] atamazov commented on #1123
UPDATE:

Manually verified on ixt-rack-54 that:
- PASS: ROCm4.2
- FAIL: ROCm4.3
- PASS: ROCm4.3.1
Also PASS on a more recent docker (not released yet). So that I am upgrading ROCm for CI to v4.3.1.
Monitor CI for the weekend, if not working, will revert the last commit.

_Originally posted by @junliume in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1125#issuecomment-907562514_

[2021-08-30 00:33] carlushuang commented on #1113
Close this issue since already have a consensus. If still have problem will reopen this issue again

[2021-08-30 00:33] #1113 closed

[2021-08-30 01:05] carlushuang commented on #1123
@junliume @atamazov
If fail in some rocm version and not fail in other, it still could be a kernel issue. When kernel have out-of-bound access, a specific rocm version may or may not crash (see:https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1040#issuecomment-884191006) due to different runtime/driver behavior.
I would suggest upgrade rocm-ci as WA, and a more closer look at the kernel impleme

[2021-08-30 08:33] qianfengz commented on #1123
This can be re-produced with ROCM 4.3 on other HW (MI100, MI25),  but very hard to debug since running single failed case could not produce the failure,   have to run `bin/test_reduce_test --all --double`

[2021-08-30 11:42] qianfengz commented on #1120
So,  should I make a P.R to have those issues corrected as soon as possible ?

[2021-08-30 14:14] jerryyin commented on #1085
Solution merged with https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1104. New atomic add instruction requires set zero to wrw tensor.

[2021-08-30 14:14] #1085 closed

[2021-08-30 16:37] asroy commented on #1123
@carlushuang How did you find out the bug in #1040? Maybe @qianfengz can do the same debugging

[2021-08-30 16:39] asroy commented on #1123
I think the first thing to do is to find the minimal set of tests that can reproduce the access fault. @qianfengz

[2021-08-31 00:46] ce1adon opened #1128 "Reduce dropout test time"
- [x] step 1. Reduce number of test case  #1129
- [ ] step 2. separate rng and dropout test procedure

[2021-08-31 01:00] carlushuang commented on #1123
@asroy this is not found till I switched to that rocm version. Out-of-bound depends on runtime behavior, so once found one (even if it will random fail), just keep that rocm version, then narrow down the configs. But still, a deep look at the kernel is needed.

[2021-08-31 02:17] junliume opened #1130 "test_pooling2d fails fairly persistently and stuck with Fp32 Hip All Install gfx1030 stage"
[Target]
Identify the cause in SW or HW for gfx1030

[Logs]
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/ci_gfx1030_ocl_to_hip/6/pipeline

[Symptom]
test_pooling2d fails fairly persistently
when failed, the whole test stuck and does not complete (or fail) even after two hours.

[2021-08-31 09:19] qianfengz commented on #1123
[PR. 1131](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1131) has been pushed for fixing the issue.  For double,  the bug causes 4096 * 8 / (4+8) bytes deviation while accessing the workspace buffer 2;  for float, the corresponding deviation is  4096 * 4 / (4 + 4);  for half, the deviation is 4096 * 2 / (4+2).   So under the bug situation, using double leads to higher probability of  access

[2021-08-31 19:03] ce1adon opened #1134 "miopentensile fails in GemmWrw1x1_stride1 solver path in vega20/gfx90a"
Observed in http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/miopentensile-gfx90a/14/pipeline in PR #1115

[2021-08-31 19:13] junliume commented on #1134
GemmWrw1x1_stride1 was created by a split in #852

@DrizztDoUrden  could you please take a look at this issue? Thanks!

[2021-08-31 20:19] atamazov commented on #1134
BTW how GemmWrw1x1_stride1 works with non-latest MIOpenTenslie? Any problems?

[2021-08-31 21:06] kahmed10 commented on #1061
@atamazov @JehandadKhan I found a similar issue in MIOpen when testing fusion with the following configs:
Conv input: (1, 64, 56, 56)
Weight input: (64, 64, 1, 1)
padding: 0, 0
strides: 1, 1
dilation: 1, 1
Bias input: (1, 64, 56, 56)

Using ROCm 4.2 on CI. Any updates on what could be causing the issue?

[2021-08-31 21:10] jerryyin commented on #939
Closing the ticket as we decide tuning is still necessary especially based on `wrw` result.

[2021-08-31 21:10] #939 closed

[2021-09-01 17:43] zjing14 commented on #1092
Yes. The output matrix is 16x16. 64 threads are divided into 4 thread groups (16 threads per group). Each thread group performs a 16x16x4 gemm. In the end, outputs of all four-thread groups are acclimated along with the K dimension into a 16x16 matrix. Together, a 16x16x16fp16 mfma achieves a 16x16x16 gemm.

We loop over along with the K dimension, accumulating the output matrix for each iteration

[2021-09-01 22:41] #1095 closed

[2021-09-02 18:45] JehandadKhan opened #1140 "Document MIOpenDriver behavior for reading input tensors from binary files and producing output to them."
MIOpenDriver can read input tensors from binary files as well as dump tensors to binary files. This behavior is not documented anywhere making it difficult for anyone to use it.

[2021-09-02 19:21] junliume commented on #1089
Issue resolved with #1099

[2021-09-02 19:21] #1089 closed

[2021-09-02 21:55] atamazov commented on #1102
The current implementation is such that if clinfo writes "no GPU devices" to the console, then most of the tests will be skipped, and CI stage will not fail, regardless of the reason. I don't see an opportunity to enumerate all the problems that may lead to "no GPU devices" printed by rocminfo.

I know for sure that GPU failures [happened many times in the past](https://github.com/ROCmSoftwarePlat

[2021-09-07 03:24] #1123 closed

[2021-09-07 04:51] junliume opened #1141 "[Navi21][HIP] test_pooling2d and other unit tests are failing"
The following tests are failing consistently on gfx1030, please take a look:
http://micimaster.amd.com/blue/rest/organizations/jenkins/pipelines/MLLibs/pipelines/MIOpen/branches/ci_gfx1030_ocl_to_hip/runs/7/nodes/10/steps/40/log/?start=0

[2021-09-02T00:03:15.364Z] Memory access fault by GPU node-2 (Agent handle: 0x69c8b0) on address 0x7fc8ad3f7000. Reason: Page not present or supervisor privilege

[2021-09-07 14:50] carlushuang commented on #1141
@junliume I tested both rocm-4.1/4.3, both HIP/OCL backend, but seems can't reproduce this navi crash of `test_pooling2d`? Does it related to CI hardware? I tested on ixt-sjc2-63

[2021-09-07 20:02] Slimakanzer commented on #1093
As far as I see, this problem is caused by running winograd on gfx90a with **_xnack on_**.
In the shader [metadata](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/src/kernels/Conv_Winograd_v21_1_2_metadata.inc#L133) it is explicitly defined that the **xnack** should be disabled, which led to assembly errors.
The _Winograd_v21_1_2_ kernel supports **_xnack on_**, but it can lead to sig

[2021-09-07 22:44] atamazov commented on #1093
## The root reasons of the issue
- XNACK mode is enabled by default on gfx90a
- No support for enabled XNACK in assembly shaders

### XNACK mode enabled by default on gfx90a

- Leads to substantial performance drop due to lower issue rate of MEM instructions in this mode even if replay does not happen
- It is unclear if this mode is really needed
- XNACK mode can be controlled dynamically.

### No

[2021-09-08 23:58] junliume commented on #1141
@carlushuang it is still pretty persistent: (the following pipeline is just now)
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/ci_gfx1030_ocl_to_hip/8/pipeline

[2021-09-09 00:00] junliume commented on #1130
Closed as a duplicate of #1141

[2021-09-09 00:00] #1130 closed

[2021-09-09 00:02] junliume commented on #1119
@muralinr please add a regression test in the pool for this PR. Thanks!

[2021-09-09 00:03] junliume commented on #1122
@cderb has it been resolved? If so please close this issue. Thanks!

[2021-09-09 00:03] junliume commented on #1109
@mindest has the issue been resolved? If so please mark this issue as closed. Thanks!

[2021-09-09 00:05] junliume commented on #1092
@raikonenfnu has the issue been resolved for you? If so can we close the issue?
@zjing14 can we move this very useful documentation to Wiki Page?

[2021-09-09 00:06] junliume commented on #1105
SWDEV-290754 implemented and issue no longer found
MIOpen CI has upgraded to ROCm 4.3.1

[2021-09-09 00:06] #1105 closed

[2021-09-09 00:07] junliume commented on #1091
@raikonenfnu has the issue been resolved for you?

[2021-09-09 00:08] junliume commented on #1073
@averinevg are you still working on resolving this issue?

[2021-09-09 00:08] junliume commented on #1074
@averinevg are you working on this issue together with #1073? Thanks!

[2021-09-09 01:20] ce1adon opened #1144 "miopentensile path failure in fp16"
Discovered in PR #1115's ctest logs. Further investigation is needed.

[2021-09-09 01:24] pfultz2 commented on #1144
This is one of the failing tests:

[code]

[2021-09-09 03:30] muralinr commented on #1119
This is tricky one. I had difficulty in reproducing with given tensor configs (NCHW).  I need to adjust thresholds to flag these kind of issues. Adjusting threshold might lead to unforeseen issues by break other test cases.  I will try to reproduce it without adjusting thresholds if possible.

[2021-09-09 03:31] mindest commented on #1109
@junliume I thought Murali was working on the fix (spatial mode fails in some cases)? For my case I just had a workaround with per_activation mode (HW are both 1).

[2021-09-09 03:34] muralinr commented on #1109
@mindest I released fix for this issue.  Can you please test and mark it closed?

[2021-09-09 04:02] mindest commented on #1109
@muralinr Thanks! Did you mean [this PR](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1116/)? Closing this.

[2021-09-09 04:02] #1109 closed

[2021-09-09 04:12] muralinr commented on #1109
yes @mindest

[2021-09-09 04:48] carlushuang commented on #1141
@junliume Hi, I tested on ixt-sjc2-63, with latest MIOpen, and rebuild docker, miopen and do test (all the command is the same as that Jenkins stage), but still everything can pass. Below is the command, here is the log
[log.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/7133457/log.txt)

[code]

[2021-09-09 05:02] junliume commented on #1141
Indeed interesting and tricky one, you can check pipelines here:
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/ci_gfx1030_ocl_to_hip/11/pipeline/
All of the pipelines failed pretty consistently at similar locations. Actually they stuck for hours and I have to manually kill the jobs.
I will look more into them tomorrow :)

[2021-09-09 11:21] averinevg commented on #1074
@junliume I just created https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1073 and https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1074, and switched to refactoring. I'll do them in parallel then.

[2021-09-09 11:21] averinevg commented on #1073
@junliume I just created https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1073 and https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1074, and switched to refactoring. I'll do them in parallel then.

[2021-09-09 14:20] Slimakanzer opened #1146 "[gfx90a] check asm solver applicability"
At the moment, we cannot simply add _gfx90a_ to the list of supported architectures in asm solvers, as assembly errors may occur. _gfx90a_ requires new `.amdhsa_accum_offset` directive and VGPR tuple 64bit alignment. We have already encountered these problem in #888, #809 and SWDEV-270970.

As mentioned in [this](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1142#discussion_r704625595) comme

[2021-09-09 14:25] atamazov opened #1147 "Investigating CI Instability"
This is umbrella ticket intended to collect & analyze information related to CI instability that we currently observe:
- A list of tickets that may affect the CI stability
- The statistics of several CI runs launched in a row (same git hash).

[2021-09-09 14:27] atamazov commented on #1147
## A list of tickets that may affect the CI stability

TBD

[2021-09-09 14:50] carlushuang commented on #1141
Hi @junliume  yes, I checked this pipeline, and it seems even the clinfo of this and  ixt-sjc2-63 is the same. very strange

[2021-09-09 15:09] atamazov commented on #1147
### Statistics of several CI runs launched in a row

Results of `ci-instability-investigation` or `develop`, c636bf2.

CI# | Re-run of | Result | Failing stage | Node | Failing test | Message | Reboot after
-- | -- | -- | -- | -- | -- | -- | --
287 |  | :black_circle:  | Fp32 Hip Debug COMGR | ixt-rack-55 | test_tensor_trans | MAF * | ?
288 | 287 | :red_circle:  | Fp16 Hip MLIR gfx908 | v340i-2 *

[2021-09-10 01:58] junliume commented on #1147
@atamazov I have brought down the following two gfx908 nodes temporarily, because the RCF issues are happening on these two nodes too often.

[2021-09-10 06:03] junliume opened #1148 "[TESTS][Navi21] Unstable behavior with CTEST_PARALLEL_LEVEL=4"
[Issue]
Navi21 nodes have been unstable for MIOpen CI (ref: #1147). In order to promote efficiency, they are temporarily removed from Full Test stages as per #1135

[Investigation]

The problem seems to be caused by running multiple ctests in parallel on Navi21 nodes:

- The default parallel execution level =4 which means 4 tasks are executed simultaneously
- #1168 has done a few tests and here ar

[2021-09-10 06:09] junliume commented on #1148
@okakarpa  could you please help with establishing nightly Jenkins check on the following conditions?
- develop branch
- with this parameter only: MIOPENNAVI21

[2021-09-10 15:42] atamazov commented on #1147
@junliume https://github.com/ROCmSoftwarePlatform/frameworks-internal/issues/285 created

[2021-09-10 15:48] atamazov commented on #1147
@junliume Please do NOT change the `ci-instability-investigation` branch. The idea is to run _the same_ good commit several times in a row. I will revert the changes.

[2021-09-10 15:52] atamazov commented on #1147
@junliume Aha, I see. You would like to exclude Full gfx1030 tests. Okay. Let's keep this.

[2021-09-10 16:50] atamazov commented on #1148
Heads-up: #1153 renames MIOPENNAVI21 to FULL_TESTS_NAVI21_OPTIONAL.

[2021-09-11 02:37] carlushuang commented on #1146
instead we never check if the previous solver for 908 can run on 90a... let me try this first

[2021-09-11 06:50] raikonenfnu commented on #1092
@junliume @zjing14 thank you for the super helpful explanation, I think we can close the issue for now! I'll try reopen new issue when we run into new problems :)

[2021-09-11 12:16] atamazov commented on #1146
They may randomly fail due to this:

So even if they _seem_ to be working on gfx90a, we still need to check the source code.

[2021-09-12 12:25] shaojiewang commented on #1146
As for ```ConvAsmImplicitGemmV4R1DynamicFwd``` ```ConvAsmImplicitGemmV4R1DynamicBwd``` and  ```ConvAsmImplicitGemmV4R1DynamicWrw```, I think gfx90a will not be applicable for them, due to [bwdline](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/7dbf3dd1ed54c94beefe8d9402fb4ae452df452b/src/solver/conv_asm_implicit_gemm_bwd_v4r1_dynamic.cpp#L136) [fwdline](https://github.com/ROCmSoftwarePlatfor

[2021-09-12 18:24] #1073 closed

[2021-09-12 18:24] #1074 closed

[2021-09-13 09:14] carlushuang commented on #1146
Agree, I think we'd better say these solvers not work for `gfx90a`. They are NCHW solvers, and I think currently HIP solver already have a good performance. The NHWC asm solver is where we feel worth it to use asm (and they support `gfx90a` now).

[2021-09-13 11:53] atamazov commented on #1146
@carlushuang Thanks! The topmost comment updated (note that you can do that yourself in the future ;)

[2021-09-13 11:55] atamazov commented on #1146
[Side note] It seems like we'll need to provide the max possible performance for XNACK enabled gfx90a systems as well. Stay tuned.

[2021-09-13 13:34] atamazov commented on #1146
@shaojiewang

Explanation: These asm solvers are not xDLOPs, and we have other xDLOPs solvers for MI100. Therefore these three are not enabled for MI100. The same should be done for gfx90a.

[2021-09-13 13:39] atamazov commented on #938
@kiritigowda Please confirm that issue is fixed, thanks!

[2021-09-13 14:24] atamazov commented on #1093
Actions points at https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1093#issuecomment-914674242 updated.

[2021-09-13 16:50] atamazov opened #1154 "[post-merge review][MLIR] GetPerformanceConfig() must produce valid PerformanceConfig"
This violates our internal Solver/Solution API. Please see https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1152#pullrequestreview-752988579 for more info. May lead to errors sooner or later.

[2021-09-13 17:17] atamazov commented on #1120
Basically, yes. Unless you have something more urgent related to release(s). Let's not accumulate imperfections. Thanks.

[2021-09-13 17:40] atamazov commented on #1128
#1129 is qualified as a workaround yet, so the original defect shouldn't be closed.

[2021-09-13 17:48] junliume commented on #1128
After original discussion with @ce1adon, this PR (reduce of number of tests) is more of a permanent approach to fix the issue.
@ce1adon : what do you think?

[2021-09-13 17:50] atamazov commented on #1128
Let's discuss this topic [there](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1129#issuecomment-918421792).

[2021-09-13 17:51] #1122 closed

[2021-09-13 18:35] ipdemes commented on #658
Do anyone know is the ticket was created for HIP. I have got similar error today with the recent hip and boost

[2021-09-13 20:49] jerryyin commented on #1154
I made this active decision based on the following observations:
 - `GetPerformanceConfig()`, in its all existing use cases, are used for tuning only
 - Inside tuning, `GetPerformanceConfig()` aims to provide a set of valid default tuning parameters and got passed back to the solver.

Based on the above, `GetPerformanceConfig()` seems to be a flag/sentinel value to "inform" a solver and let it wor

[2021-09-13 22:22] junliume commented on #658
Ping @pfultz2 who may know more about if HIP side is working on a fix or not.

[2021-09-13 23:27] atamazov commented on #658
I guess that HIP compiler bugs can be reported at https://github.com/ROCm-Developer-Tools/HIP/issues

[2021-09-14 00:32] atamazov commented on #1154
Yes, we should either conform to it or change it.

Proposal:
- Modify `GetPerformanceConfig()` to return some special value (say, all `-2`) to ask MLIR to perform heuristic init
  - You can define it as a static const object and use name like `HeuristicInitRequest` or something else, but the name should be self-explaining.
- `PerformanceConvMlirIgemm::IsValid(HeuristicInitRequest)` should return `

[2021-09-14 01:05] shaojiewang commented on #1146
I see. Thanks.

[2021-09-14 03:00] #1064 closed

[2021-09-14 10:24] Slimakanzer commented on #1146
@atamazov

_ConvBinWinogradRxS_ solver contains obsolete Winograd kernels.
Newer Winograd kernels that support an extended set of cases compared to _ConvBinWinogradRxS_ are located in _ConvBinWinogradRxSf2x3_ and _ConvBinWinogradRxSf3x2_ solvers.
At the moment, _ConvBinWinogradRxSf2x3_ supports fp32 cases for gfx90a and i'm working on fp16 support.

To summarize, we have better Solvers than **_Con

[2021-09-14 17:12] jerryyin commented on #1154
Agreed. If, in a scenario, heuristically initialized result is equivalent to the best result, then it doesn't matter which one get stored into the perfdb. Because the library will populate the same kernel anyways.

I think we are 99% on the same page, only to discuss one detail below. To give a summary on your suggestions:
 - Use a special value/object to represent this dedicated request
 - Handle

[2021-09-14 18:03] atamazov commented on #1154
@jerryyin

Yes, the explicit option is better than "special values" across different libraries. The cost is a little bit more complicated `GetSolution()`, but this seems negligible. Please go ahead.

[2021-09-14 18:08] atamazov commented on #1128
Let's close this when step 2 is done.

[2021-09-14 18:18] atamazov commented on #1092
@junliume

Maybe just remove the `question` label and keep it open? RFC's is a proven way of documenting things at IETF))

[2021-09-14 19:11] raikonenfnu commented on #1092
Can we add a README.md documenting this, or attach this link as part of the readme somwhere, maybe on the GEMM directories?

[2021-09-14 21:03] atamazov opened #1155 "[gfx90a] XNACK mode and assembly kernels"
Originated from #1093.

## The root reasons of the issue
- XNACK mode is enabled by default on gfx90a on our CI & development nodes
- No support for XNACK-enabled GPUs in the library
  - This was never required before
  - Specifically, we do not support enabled XNACK in assembly shaders

### XNACK mode enabled by default on gfx90a on our CI & development nodes

- Leads to substantial performance d

[2021-09-16 22:43] atamazov commented on #784
No, Immediate Mode API does not run anything until you explicitly ask it to perform computations. Unlike Find API (which actually runs convolutions and caches the results), it uses some internal "magic" and provides you with the "best guess" (let me omit details for now). But you need to make several API calls anyway:
- `miopenConvolution*GetSolutionCount()` to find out have many Solutions the lib

[2021-09-18 02:22] junliume opened #1161 "[TESTS][Vega][WORKAROUND] test_conv_embed_db fails with ROCm 4.4 tuning"
[Symptom]
test_conv_embed_db fails with ROCm 4.4 tuning on the following stage:
- [ ] Fp32 Hip Debug Embedded Vega20

[Root Cause]
unknown yet, not reproducible on local tests

[Plan]
Workaround to unblock performance tuning updates

[2021-09-18 23:16] atamazov commented on #1161
It seems like this issue is an "extension" of #874.

The CI logs show that some configs for ConvHipImplicitGemmV4R4Fwd are missing from perf-db. The proper workaround should only disable this solver for the failing test cases instead of disabling the whole test (see #875 for example)

[2021-09-18 23:28] junliume commented on #1161
The anticipation is that we will get this issue fixed within the next two weeks

[2021-09-18 23:38] atamazov commented on #1161
Note that if ConvHipImplicitGemmV4R4Fwd configs are really missing from perf-db (i.e. this issue is not specific to the "embedded" configuration of the library), then we most likely have performance drop. Why: CI logs show that this Solver is the fastest one, and tuning can make it faster.

[2021-09-19 04:04] junliume commented on #1161
@JehandadKhan  hopefully we can fix this issue with the coming 4.5 tuning?

[2021-09-19 21:17] #1154 closed

[2021-09-19 21:25] atamazov commented on #1092
@raikonenfnu Please go ahead and create a PR ;)

[2021-09-19 21:26] atamazov commented on #1092
@raikonenfnu If you really think this is necessary, then please go ahead and create a PR ;)

[2021-09-19 21:27] atamazov commented on #1093
Tests enabled.

[2021-09-19 21:27] #1093 closed

[2021-09-20 15:32] JehandadKhan commented on #1161
@atamazov and @junliume  I did tune the solver and add those entries to the db however, was unable to fix the issue when the test runs in the CI. I need to investigate further and figure out if I am doing the right thing.

The tuning PR going through staging would inform us whether there is perf regression elsewhere or not, if discovered we can cover it there.

[2021-09-20 19:37] junliume commented on #1061
@kahmed10  revive an old thread: has the urgency level of this ticket been changed?
Any change that you can update to ROCm4.3.1 as CI environment, the same as MIOpen does?

To get back to Artem's inquiries, it's better if we can identify the commit (or range or commits) which might have caused the issue. Would it be easy for you to build MIOpen within your existing docker image and try bi-sectioni

[2021-09-22 01:58] kahmed10 commented on #1061
@junliume urgency hasn't changed, but I have not heard anything with regards to what the error in the log means, or how it can even be triggered.

I will try to rebuild with ROCm 4.3.1. If it still fails, then I will try to identify the last passing MIOpen version.

[2021-09-22 13:13] atamazov commented on #1119
@muralinr We can create custom test and use the `--tolerance` option in individual test cases.

[2021-09-22 19:06] muralinr commented on #1119
This is one option.  However, we are phasing out current Batchnorm implementation and coming up with new one.  Jing zhou is working on new implementation.  I will work with Jing to adjust thresholds and add these kind of test cases as part of overall testing.

[2021-09-22 21:13] atamazov commented on #1119
@muralinr Sounds good. Finally, what is your commitment wrt this ticket?

[2021-09-22 21:47] muralinr commented on #1119
I will keep it open for sometime and close it once we test new batchnorm implementation with adjusted thresholds.

[2021-09-22 22:17] kahmed10 commented on #1061
@junliume @atamazov the test still fails on ROCm 4.3.1.

The problem with trying to find a version pre-2.3 is the compiler change from hcc to hip-clang. Most likely MIGraphX will not work with hcc anymore, and MIOpen pre-2.3 looks to not be able to compile using hip-clang without this workaround: https://github.com/ROCmSoftwarePlatform/MIOpen/commit/15e7dfe25634ffd85887f974c8458a2ce1ceef11

But th

[2021-09-22 22:27] atamazov opened #1167 "Properly fix W/A from #240, commit 661308bd7 - [test_conv_for_implicit_gemm] Disable config that fails often."
Commit that introduces the W/A: https://github.com/ROCmSoftwarePlatform/MIOpen/commit/661308bd74d96c7ce330c94394b0a43a2bd6fa21

Where it resides now: https://github.com/ROCmSoftwarePlatform/MIOpen/blob/2d7b2dd76464ac0fe052118718c4ab217341d25b/test/CMakeLists.txt#L723

Let's revert the W/A, check if problem still persists and provide a proper fix.

[2021-09-22 22:36] atamazov commented on #1061
@kahmed10 Are you using some old version of MIOpen with ROCm 4.3.1?

[2021-09-22 22:48] atamazov commented on #1061
@kahmed10  Probably I see. You would like to bisect and find the failing commit. This would be very hard to do. I would prefer debugging.

[2021-09-22 22:48] kahmed10 commented on #1061
@atamazov No. I tested using develop branch with commit 1ebf0216930f672994c341d3c29c9d670cfd3cf8 on ROCm 4.3.1. I can try a newer commit, but I don't think that will solve the problem.

[2021-09-22 22:50] atamazov commented on #1061
@kahmed10 Please try the most recent develop. 1ebf021 is too outdated.

[2021-09-22 22:53] kahmed10 commented on #1061
@atamazov ok. You can keep track of the errors as they arrive on Jenkins:
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FAMDMIGraphX/activity?branch=miopen_test

[2021-09-22 23:03] atamazov commented on #1061
@JehandadKhan Can we reproduce the issue using the above info?

[2021-09-22 23:53] junliume commented on #1167
Let's see what might or might not pass with this WA reverted:
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/fix_%231167/1/pipeline/

[2021-09-22 23:59] junliume commented on #1141
@atamazov and @carlushuang
A trial with CTEST_PARALLEL_LEVEL=1 seems to have stabilized CI tests for gfx1030, include HIP backend which used to never pass.
I will monitor
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/fix_WA1053/11/pipeline/689/
and
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/fix_%231167/1/pipeline/

It tried to see if C

[2021-09-23 08:17] gggh000 opened #1169 "hip cmake generator is failing"
cmake -DMIOPEN_BACKEND=HIP ..
fails because it can not find clang-offload-bundler. But I see it is there.

ROCm-4.1 however 4.3 had same result/failure.

With OpenCL specified as backend, this no longer occurs.

Full log pasted below:

[code]

[2021-09-23 08:21] gggh000 commented on #1169
OPENCL back end option as reference:

[code]

[2021-09-23 13:10] atamazov commented on #1169
[code]
then rebuild from scratch

[2021-09-23 14:41] gggh000 commented on #1169
nope did not work:

[code]

[2021-09-24 12:14] Slimakanzer commented on #1169
@gggh000
Try: `CXX='/opt/rocm/llvm/bin/clang++' cmake -DMIOPEN_BACKEND=HIP ..`

[2021-09-24 12:20] gggh000 commented on #1169
This worked but only to see another build error (below), please test on your system before recommending fix.

[code]

[2021-09-24 14:49] jerryyin commented on #1069
That's right, think I was wrong to assume it was debug build.

I can confirm this when I tested it locally. Now is there a variable like `MIOPEN_DRIVER_USE_GPU_REFERENCE=1` that works for `bin/test_conv2d`? @carlushuang. The variable saved me ton of time in local validation, it seems useful if we can make gpu validation by default on in MIOpen CI in general.

[2021-09-24 21:05] atamazov commented on #1147
Testing on Vega10 (prj47-rack-19) often ends with 5 hour timeout.

[2021-09-24 21:26] atamazov opened #1177 "Properly fix W/A from #240, commit ea710fe - The "Forward Inference RNN vanilla" sub-test fails too often"
Observed with ROCm3.3, Radeon VII (Vega20): Many test cases always fail with: "Forward Inference RNN vanilla: Output tensor output failed verification."

Workaround is introduced in https://github.com/ROCmSoftwarePlatform/MIOpen/commit/ea710fe433693f79da4e0197faea3cb4199f3de0. It is still there.

Let's revert the W/A, check if problem still persists and provide a proper fix.

[2021-09-24 21:34] atamazov opened #1178 "Properly fix W/A from #240, commit a019ef7 - [test_sqlite_perfdb] Reduce amount of work."
Workaround: https://github.com/ROCmSoftwarePlatform/MIOpen/commit/a019ef72a024ff729406e615845340cbd61bac5e. The code remains the same until now.

- Decide if this is a real problem (64 is greater than the number of available CPU cores)
- Revert W/A and apply proper fix

This is complex issue.

[2021-09-24 21:40] atamazov opened #1180 "Properly fix W/A from #240, commit 9899bdd - [test_ctc] Disabled some tests that fail on Jenkins from time to time."
Commit that introduces the W/A: https://github.com/ROCmSoftwarePlatform/MIOpen/commit/9899bdd0171107292ab8b55c50298563d50f59e0. It is still there.

Let's revert the W/A, check if problem still persists (please run the test multiple times!) and provide a proper fix if necessary.

[2021-09-24 22:06] atamazov opened #1181 "Properly fix W/A from #240, commit a983655 - [test_conv_group] Disabled WrW configs that fail during "Full long tests""
Commit that introduces the W/A: https://github.com/ROCmSoftwarePlatform/MIOpen/commit/a983655cd6501d63d128e4788d585e1fb2f3e3e2. Where it resides now:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/2509c87e63a9b80e34a12b55c61f32ddab16c8d5/test/CMakeLists.txt#L816-L817
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/2509c87e63a9b80e34a12b55c61f32ddab16c8d5/test/CMakeLists.txt#L791-L792

Let

[2021-09-24 22:07] atamazov commented on #1147
The "list of tickets that may affect the CI stability" is complete for now.

[2021-09-24 22:11] atamazov commented on #1177
Please find more info at https://github.com/ROCmSoftwarePlatform/MIOpen/pull/240#issuecomment-635268630

[2021-09-24 22:22] atamazov commented on #1069
@jerryyin

Just in case -- I still use the caching feature of the MIOpenDriver -- `MIOpenDriver ... -C ...`

[2021-09-24 22:25] atamazov commented on #1069
Yes, but there are some doubts. And IIRC it only works in the driver, please refer to discussion at #583

[2021-09-25 14:12] gggh000 commented on #1169
On 4.2, I got following build error:

[code]

[2021-09-25 21:10] atamazov commented on #1169
@gggh000 As far as I can see, you experience some configuration problems. Please make sure that you use boost 1.72 built with `-DCMAKE_POSITION_INDEPENDENT_CODE=On` as specified in min-requirements.txt.

I am really sorry that our advices didn't help.
Everything works on our systems.

We'll not waste your valuable time anymore.

/cc @Slimakanzer

[2021-09-26 17:21] atamazov opened #1183 "[Jenkinsfile] Do not require `clinfo` for tests that target "nogpu""
This would allow to use GPU-less nodes in our CI (as well as nodes that experience GPU-related problems, like https://github.com/ROCmSoftwarePlatform/frameworks-internal/issues/292)

[2021-09-27 12:46] atamazov opened #1185 "FAILED: filesystem::recursive_directory_iterator increment error: No such file or directory"
The issue happens with `ixt-rack-54` which carries Vega20 with 64CUs. Possibly 64 CUs is an implicit reason of the issue. More info at https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1147#issuecomment-916188676.

[2021-09-27 12:52] atamazov commented on #1185
It seems that `gfx906_64.db` is missing.

[2021-09-27 14:32] jerryyin commented on #1069
@atamazov I actually never knew the `-C` feature. Since the day `MIOPEN_DRIVER_USE_GPU_REFERENCE` becomes available I always use it and it is always fast a reliable for me to validate.

I thought this **was** what @carlushuang planned to do when we talked couple of months ago, so I want to double check with him. But yeah, I don't see a reason to not use such a convenient/efficient feature in CI.

[2021-09-27 17:00] #575 closed

[2021-09-27 17:43] atamazov commented on #598
It is fixed? By which PR?

[2021-09-27 17:44] atamazov commented on #636
It is fixed? By which PR?

[2021-09-27 18:12] atamazov opened #1187 "[TESTS][MI200] `test_conv_for_implicit_gemm` (and possibly more) to be enabled"
xDLOPs solvers are enabled for gfx90a, so these must be tested. `test_conv_for_implicit_gemm` is one of the tests that validate xDLOPs kernels.

[2021-09-27 18:13] atamazov opened #1188 "[MI100][FP16] ConvHipImplicitGemmBwdDataV4R1Xdlops verification issues"
[code]

Shortened configs:
[code]

[2021-09-27 18:14] atamazov opened #1189 "[MI100][FP16] ConvHipImplicitGemmForwardV4R4Xdlops verification issue"
[code]

[2021-09-27 19:00] atamazov commented on #1147
#285 and #1112 added to the "list of tickets that may affect the CI stability".

[2021-09-27 19:04] atamazov commented on #1147
The ticket reorganized, all TODO things collected in the topmost comment.

[2021-09-27 22:35] junliume commented on #598
Ping @zjing14 @ltqin @asroy

[2021-09-28 08:19] gggh000 commented on #1169
How do I update boost? The readme for MIOpen does not specifically says you need to use 1.72. The PIC option did not work.
Now I am getting this error: Your build for 4.3 is unstable.

[code]

[2021-09-28 08:42] xuhuisheng commented on #1169
`sudo cmake -P $ROCM_GIT_DIR/MIOpen/install_deps.cmake --minimum --prefix /usr/local`

It will install dependences for MIOpen.

[2021-09-28 20:30] atamazov commented on #1185
This becomes a bit annoying.
- If the issue is only CI-specific and not locally reproducible, then we can temporarily exclude gfx906/64 from CI pool.
- If this is a real problem, then we can copy gfx906/60 database for 64 CUs as a quick workaround.

@alvano Can you please look into this? I suspect that the "failure" happens in the code introduced in #701 (in `GetInstalledPathFile()`). Please dial

[2021-09-29 01:38] carlushuang commented on #636
@atamazov After discuss with @asleepzzz , after re-tune, the computation is correct

[2021-09-29 01:39] carlushuang commented on #1188
@atamazov I seems can't reproduced on tip development? I build it locally, and computation is correct. How this is setup?

[2021-09-29 17:25] #636 closed

[2021-09-29 17:29] atamazov commented on #1188
This is from CI. Please see there: runs 2, 3 and 4 of the `wa-936-cleanup` branch. Possibly you need ROCm 4.3.1 to reproduce (but that would mean a problem in the 4.3.1 compiler!)

[2021-09-29 20:19] atamazov commented on #1185
Another failing case: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1195#issuecomment-930510979

[2021-10-01 14:21] jerryyin opened #1202 "[Igemm] Implement GetWti() when dynamic kernels are ready"
For applicable configs, `GetWti()` is required such that igemm kernels can be used in immediate mode (Among untuned, and nonexistent user perfdb entry configs). Assuming dynamic igemm kernels continue to offer top tier performance number, it will be beneficial to enable immediate mode support for them.

Enabling the immediate mode support will give an estimation of non-tuned kernel execution, or t

[2021-10-01 20:11] atamazov commented on #1148
#1168 is a workaround.

[2021-10-01 20:15] atamazov commented on #1148
I think that basically, we need to identify a root reason, get rid of it (and remove W/A) and close only after that. Maybe this is a ROCm problem, so let's wait for the next release, update CI and see if we can remove the W/A & close

[2021-10-02 19:58] ianzur opened #1203 "RNN mask support"
EDIT: MIOpen does not currently support masking for RNN layers. This a feature request.

I attempted to build my own masked normalization layer, but I cannot run the model on my gpu.

- tensorflow-nightly (built on machine, a few weeks behind master)
- ROCm stack (4.3.0)  install via `apt`

I do not recieve this error when I run the model soley on my CPU: `os.environ["CUDA_VISIBLE_DEVICES"] = "-1"

[2021-10-03 05:53] junliume commented on #1203
Hi @sunway513, could you or someone from TF team take a look at this user issue please?

[2021-10-03 22:18] atamazov commented on #1185
The issue should be fixed by #1197.

@alvano Nevertheless, let's continue working on this machinery. I'll open a new issue for you.

[2021-10-03 22:18] #1185 closed

[2021-10-03 22:34] atamazov commented on #1069
This won't work (let me omit explanations for now).

[2021-10-03 22:55] Sigura opened #1204 "Vega 64: hipoc_program.cpp:286: Code object build failed. Source: MIOpenIm2d2Col.cl"
python3.6.6
pytorch 1.9.1 with ROCm support
Ubuntu:20.04

[code]

based on RadeonOpenCompute/ROCm#1572

PS: but! those lines from 1572 work for me

[code]

[2021-10-04 15:26] atamazov commented on #1031
implemented

[2021-10-04 15:26] #1031 closed

[2021-10-04 15:26] atamazov commented on #1022
implemented

[2021-10-04 15:26] #1022 closed

[2021-10-04 15:45] atamazov commented on #1204
@Sigura Please show output of `/opt/rocm/opencl/bin/clinfo | grep gfx`.

[2021-10-04 15:48] atamazov commented on #1204
@Sigura Another question if why you use COMGR for building kernels. Currently the default build path is offline compilation. Please consult PyTorch guys who work on AMD support.

[2021-10-04 15:48] atamazov commented on #1204
/cc @sunway513

[2021-10-04 16:18] atamazov opened #1206 "[MI100][FP32] ConvHipImplicitGemmBwdDataV4R1Xdlops verficiation failure"
Reproducible with 4.3.1.

Failing config:
[code]

The root reason is precision issue of ConvHipImplicitGemmBwdDataV4R1Xdlops (or precision issue of the verification in the driver, which is unlikely IMO).

The implicit reason of the issue is the recent find-db update (#1196) which moved ConvHipImplicitGemmBwdDataV4R1Xdlops on top of the list (it is the fastest one).

Most likely the same issue pers

[2021-10-04 18:03] ianzur commented on #1203
After further investigation, the issue does not lie in the my masked normalization layer.

Any RNN layer after the masked layer (GRU or LSTM) causes the error.

[gist minimal reproducible example (sorry it is quite long).](https://gist.github.com/ianzur/6c07e4bbf35fc33b8d49502c97dc1b13)

If this bug should be moved to tensorflow-upstream, please let me know.

error + traceback:
[code]

[2021-10-04 18:21] sunway513 commented on #1203
Yes, can you help move this ticket to the following forum:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues

cc @deven-amd  @reza-amd for awareness.

[2021-10-04 18:29] Sigura commented on #1204
Name:						 gfx900:xnack-

[2021-10-04 18:32] Sigura commented on #1204
Could you please help to check my understanding – you are a mean question about how to change the path to MIOpen for PyTorch?

[2021-10-04 18:34] Sigura commented on #1204
@atamazov I'm open to any questions. I will be glad to help with your great work!

[2021-10-04 18:41] Sigura commented on #1204
<details>
<summary>/opt/rocm/opencl/bin/clinfo</summary>
<p>

Number of platforms:				 1
  Platform Profile:				 FULL_PROFILE
  Platform Version:				 OpenCL 2.0 AMD-APP (3305.0)
  Platform Name:				 AMD Accelerated Parallel Processing
  Platform Vendor:				 Advanced Micro Devices, Inc.
  Platform Extensions:				 cl_khr_icd cl_amd_event_callback

  Platform Name:				 AMD Accelerated Parallel Proces

[2021-10-04 19:18] ianzur commented on #1203
Issue moved to [tf-upstream #1460](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1460).

Closing.

[2021-10-04 23:26] atamazov commented on #1206
W/A for 4.5 release is provided. Now we need to provide W/A for develop.

[2021-10-04 23:35] atamazov commented on #1206
Urgency shall be lowered after #1208 is merged in.

[2021-10-04 23:41] atamazov commented on #1204
@Sigura Please expect feedback tomorrow, sorry for delaying.

[2021-10-05 15:30] atamazov commented on #1206
Link to Jira added.

[2021-10-05 15:56] atamazov commented on #1206
## Analysis

The precision degradation occurs with certain values of PerformanceConfig -- 9 out of 111 total. The degradation seems so high (7 orders of magnitude) that I can't suppose that the reason is rounding or order-of-computations differences between CPU and GPU.

Most likely reason is that the Solver does not comply to the https://github.com/ROCmSoftwarePlatform/MIOpen/issues/866#issuecomm

[2021-10-05 16:00] atamazov commented on #1206
https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1206#issuecomment-934539404 moved to https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1208#issuecomment-934542037

[2021-10-05 21:41] ianzur commented on #1203
This is not a bug, but a feature that does not exist according to tensorflow testing.

This test is marked accordingly:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/7e8f960bb398526aea7e045884101029fd21bddd/tensorflow/python/keras/layers/gru_v2_test.py#L149

Reopening, please mark as feature request.

[2021-10-06 03:02] junliume commented on #1147
Just to report a few more data points:

Node: MI100-4 rocm-framework-v340i-2.amd.com
Error: Failed to run image 'miopen'. Error: docker: Error response from daemon: Unable to find group render.
Cause: **I guess render is missing from base OS group?**

@okakarpa: I marked these two nodes offline from Jenkins, should be an easy fix and get them back online. Thank you! I do not find these nodes' log

[2021-10-06 20:46] atamazov opened #1213 "Dedicated primitive (e.g. `Fused`) for fused convolutions?"
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/4e61a3ebdfe2b07b4d331cc46832eb4a6b49941c/src/solver.cpp#L264

Can we introduce some dedicated primitive (e.g. `Fused`) for fused convolutions and use it in the registry? This would help to avoid hacks like this: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1212/files/db05b058f77cc838f5bbafc93fe08fd8e20c713d..f26346d12ba5f2ee472d26d7e6c2073

[2021-10-07 12:14] atamazov commented on #1204
I need to know the ROCm version that you use. I remember that some versions have problems with the kernel mode driver, and that problems are gfx900-specific.

[2021-10-08 22:34] jithunnair-amd opened #1218 ""Unable to read system database file" warning"
If the user doesn't have the MIOpen kernels package installed, they see a message such as below:
`MIOpen(HIP): Warning [SQLiteBase] Unable to read system database file:gfx906_60.kdb Performance may degrade`

This message could be improved to point the uninitiated user to instructions on installing the miopen kernels package:  https://github.com/ROCmSoftwarePlatform/MIOpen#installing-miopen-kernels

[2021-10-10 19:25] ffleader1 commented on #1204
Hey
I just want to report that I came across this exact problem, with VEGA 56.
So it does seem to affect quite a lot of people
[code]
what can be a quick/painless option to solve this? Thank you.

[2021-10-11 22:19] atamazov commented on #1204
@ffleader1 @Sigura The question to both of you still remains: why the MIOpen used by PyTorch was built with the `-DMIOPEN_USE_COMGR=On` CMake option. Do you use PyTorch wheels?

[2021-10-12 01:41] ffleader1 commented on #1204
It was the version that was published on pytorch homepage.
Anyway, I really want to try out your patch, but I am normally a Windows kinda guy, so all this building HIP/MIOpen/Rocm from source seem overwhelming to me. I guess I will wait for a better release of pytorch then.

[2021-10-12 16:20] JehandadKhan opened #1223 "Excessive number of file handles opened and held onto during Tuning"
As reported in [SWDEV-304151](https://ontrack-internal.amd.com/browse/SWDEV-304151) when tuning using MIGraphX as the driver framework, a large number (more than 10k) of file handles are created and never released.

One of the possible causes is that HIP holds a file handle in the hipProgram structure, which only gets destroyed when the program gets destroyed.

[2021-10-15 06:09] junliume commented on #1188
@carlushuang and @atamazov: issues not observed with tip of develop and ROCm 4.5.

[2021-10-16 19:24] atamazov commented on #1187
GPU-specific regression tests (like `test_regression_half_mi100`) should not be enabled by definition.

[2021-10-16 19:29] atamazov commented on #1141
Let's agree that the root reason of this issue is #1148. In this case we can keep this issue closed.

[2021-10-17 03:20] junliume commented on #1188
@atamazov is there a way to force picking this kernel? I still have the docker ready so I can do more quick tests.

[2021-10-17 23:06] atamazov commented on #1188
@junliume `MIOPEN_FIND_MODE=normal MIOPEN_DEBUG_FIND_ONLY_SOLVER=ConvHipImplicitGemmBwdDataV4R1Xdlops <test or driver command>`.

With driver, I recommend using `-F 1`. With test_conv, use `--disable-backward-data --disable-backward-weights`. Otherwise you'll see that Bwd and WrW are failing.

[2021-10-18 19:33] #1086 closed

[2021-10-20 19:36] atamazov commented on #756
Moved to 5.1

[2021-10-20 22:39] junliume commented on #1169
Hi @gggh000, we are sorry that the recommendations above did not help you to fix the issue. Essentially, we are suspecting (without access to your system and configurations we cannot be sure) that you have met an issue with MIOpen minimal dependencies as listed in [readme](https://github.com/ROCmSoftwarePlatform/MIOpen#installing-minimum-dependencies-in-rocm-environment)

The easiest approach, as

[2021-10-21 20:52] JehandadKhan opened #1235 "MIOpenDriver does not accept layout string in lowercase."
When specifying layout string to MIOpenDriver (to run an NHWC config for instance), the binary expects the layout string to be all upper case which might be unexpected to a user.

[code]

Perhaps we can convert the input to upper case before processing to avoid such behavior.

[2021-10-27 11:43] atamazov opened #1241 "Post-merge review of PRs #1227 #1230"
- [x] (1) :yellow_circle: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1227#pullrequestreview-788691365 - Small invoker optimization
- [ ] (2) :yellow_circle: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1230#pullrequestreview-790724484 - Recommendations
- [ ] (3) :red_circle: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1230#pullrequestreview-791201218 - These must be resolve

[2021-10-28 13:12] atamazov commented on #1187
#1242 enables many tests for gfx90a but not test_conv_for_implicit_gemm yet, due to FP32 precision issues on gfx90a. WORKAROUND_ISSUE_1187 is introduced. What needs to be done soon:
- Check if the issue still persists
- Identify the reason of the failures,
- Open a new, more focused, ticket.
- Replace this W/A with a new, narrower one.
- Close this.

[2021-10-29 19:49] atamazov commented on #1147
"Statistics of several CI runs launched in a row" updated to cover builds from 352 to 379. There are no new systematically reproducible problems.

[2021-10-29 20:41] atamazov opened #1252 "Get rid of W/A: HIP kernels automatically switched off for embedded builds"
There were times when HIP builds didn't work in embedded MIOpen, because precompiled HIP headers weren't available.

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/5cb2e548131d777d589917db8a0d8669b3ae8c5d/CMakeLists.txt#L132-L135

This workaround leads to performance drop of embedded MIOpen.

We should remove this (or make it dependent on HIP version). Note that PCH is broken in 4.5.

[2021-10-31 11:18] Bengt opened #1254 "MIOpen(HIP): Warning [SQLiteBase] Unable to read system database - Performance may degrade"
Hello,

when running some PyTorch code, I am seeing a warning about MIOpen not being able to open a system database:

[code]

I checked that the database file is in place and readable as a user:

[code]

This seems somewhat similar #306, where the database file cannot be deleted.

Just after this warning, I get errors about the device identifier being messed up, but these are already covered in ht

[2021-10-31 17:33] atamazov commented on #1241
PRs merged, co we can go ahead with this.

[2021-10-31 23:03] atamazov commented on #1254
Hi @bengt. Most likely, the 1st problem (warning) can be safely ignored. Just in case, let's check the GPU (please paste output of `/opt/rocm/opencl/bin/clinfo | grep -E "gfx|units"` here).

For the 2nd problem we have workaround, see #1231

[2021-10-31 23:07] Bengt commented on #1254
Hi @atamazov,

here is the requested output about my GPU (it's a Vega 64):

[code]

[2021-11-01 09:55] atamazov commented on #1254
@Bengt Yes, the 1st problem can be ignored.

[2021-11-01 10:26] Bengt commented on #1254
Alright then. Since this issue is primarily about the first warning about not being able to read the database, I consider ignoring it a workaround. Hence, I will close this issue.

[2021-11-01 10:26] #1254 closed

[2021-11-01 10:28] Bengt commented on #1254
I hope this issue still helps somebody wondering about that warning message in the future.

[2021-11-01 19:36] atamazov commented on #1254
@Bengt The 1st issue (warning) and the 2nd (build error) are unrelated. The workaround is required to resolve the 2nd issue. The root reason of it is ROCm problem with gfx900 identification.

[2021-11-01 22:14] Bengt commented on #1254
Yes, thanks for clarifying.

[2021-11-02 00:22] atamazov opened #1257 "[gfx90a][COMGR] Verification errors of ImplicitGemm kernels (no errors with hip-clang)"
This prevents from switching to COMGR builds by default.

[DRAFT]
Some tests PASS with hip-clang, FAIL with COMGR.
Both ROCm 4.3.1 and 4.5 RC4.
gfx906a target only ?

<details><summary><b><i>Log from 4.3.1</i></b></summary>

[code]
</details>

<details><summary><b><i>Log with 4.5</i></b></summary>

[code]
</details>

<details><summary><b><i>How to reproduce with 4.3.1</i></b></summary>

[code]
</d

[2021-11-02 04:30] carlushuang commented on #1241
@atamazov
since some of the fix is related to invoker, and I have a PR #1247 also need to change invoker, so I fixed 2 of the issue in #1247
1. fixed in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1247
2. also fixed in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1247
3. @shaojiewang this should better implemented in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1248

[2021-11-02 19:03] jerryyin commented on #1069
Closing the ticket as corresponding PR merged. Each individual MLIR smoke test stage now only test 3 configs and finish in around 15 mins.

[2021-11-02 19:03] #1069 closed

[2021-11-03 20:53] atamazov commented on #1257
@junliume @JehandadKhan @asroy FYI

[2021-11-04 17:25] atamazov opened #1259 "[ImplicitGemm] Revise workarounds"
I guess it's time to find out if these W/A are still necessary in 4.3.1 (which we currently run CI on) and disable them.

This is the key point for killing the workarounds in the future and cleaning up the code. For example, if some W/A is not needed since, say, 4.3.1, then we can get rid of it as soon as we discontinue support for 4.3.

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/36807f46

[2021-11-05 09:05] Slimakanzer opened #1263 "Fused FP16 `miopenGcnAsmConv1x1U` verification issue"
- rocm 4.0.0
- gfx906

[code]

[code]
[miopen-log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/7481869/bug.txt)

[2021-11-07 09:08] junliume commented on #1257
Add @carlushuang  and @zjing14 to also take a look at these unit tests

[2021-11-07 09:11] junliume commented on #1259
CC: @aserio great starter for the round robin game: how many W/As can you eliminate this week? :)

[2021-11-08 14:19] atamazov opened #1266 "[TESTS] Add/fix tests for batched transpose"
Let's add tests for batched transpose, so issues like #1265 won't show up anymore.

[2021-11-08 19:53] atamazov opened #1268 "Do we need many members in PerformanceConfigAsmImplicitGemmGTC?"
Originated from https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1230#discussion_r737878197 (see the whole thread). Synopsis:

[2021-11-08 20:20] atamazov commented on #1268
Let's discuss.

[2021-11-09 04:53] carlushuang commented on #1266
@atamazov , the batched transpose I do added a test, but it is for nchw<->nhwc transform [test/gpu_nchw_nhwc_transpose.cpp](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/test/gpu_nchw_nhwc_transpose.cpp)

nchw<->nhwc transform will use batched transpose internally, do you mean add another dedicated batched_tranpose test?

[2021-11-09 07:55] shaojiewang commented on #1268
[code]

I agree with that. I can make a PR by this way.

[2021-11-09 10:31] carlushuang opened #1269 "[gfx90a][fp16][NCHW] ConvHipImplicitGemmForwardV4R4Xdlops computation error in one SSD config when find_mode=1"
[code]

This config is from SSD, and `ConvHipImplicitGemmForwardV4R4Xdlops` has computation error

[code]

docker tested under rocm-4.3.1:
rocm/tensorflow:rocm4.3.1-tf2.6-dev
rocm/pytorch-private:rocm4.3.1_ubuntu18.04_py3.6_pytorch_1.9.0_alt_impl_v4_miopen_bn_debug

Double checked on gfx908, no such computation error for this solver.

This blocks the SSD framework E2E test on gfx90a, we need eithe

[2021-11-09 13:23] atamazov commented on #1266
@carlushuang Any test that is able to catch the error from #1265 looks Ok to me.

[2021-11-09 13:54] atamazov opened #1270 "Let's use `KernelBuildParameters` in all new Solvers and refactor the existing ones eventually."
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/c701af3ba83f8fb99d7efab30ee0b22de57f2f42/src/solver/activ/fwd_1.cpp#L170-L240
Visit https://github.com/ROCmSoftwarePlatform/MIOpen/search?q=KernelBuildParameters&type=code for more examples.

If there is not enough functionality in `KernelBuildParameters` or you have any other questions, please contact @DrizztDoUrden or me.

[2021-11-09 14:00] atamazov commented on #1270
CC @junliume @aserio @zpwenjh @JehandadKhan @alexandraBara

[2021-11-09 22:48] atamazov commented on #1257
https://github.com/ROCmSoftwarePlatform/MIOpen-internal/issues/4 is another manifestation of this issue. #1253 must be reverted. [More motivation here](https://github.com/ROCmSoftwarePlatform/MIOpen-internal/issues/4#issuecomment-964614871).

[2021-11-10 03:21] carlushuang commented on #1266
@atamazov OK, then I think we already have one :)  test/gpu_nchw_nhwc_transpose.cpp

[2021-11-10 06:34] atamazov commented on #1266
@carlushuang Good! But the remaining question is: why it didn't caught the #1265 problem when COMGR was enabled by default?

[2021-11-10 08:45] carlushuang commented on #1266
@atamazov that test need to compile the hip code: `batched_transpose.cpp`, and, actually I don't know the reason... that test will run by default on any arch, and actually https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1247 also need to utilize this kernel ( compile this kernel), so I think we need this kernel compiled everywhere...

[2021-11-10 13:37] atamazov commented on #1266
@carlushuang If `test_gpu_nchw_nhwc_transpose` is used, but compilation of `batched_transpose.cpp` didn't fail (-DMIOPEN_USE_COMGR=On, before #1265), then `batched_transpose.cpp` is not really used by the test. This must be fixed ASAP, I believe.

[2021-11-10 17:37] junliume opened #1277 "Add test cases for heuristic init asm igemm fwd/bwd/wrw (#1267)"
Review from @shaojiewang https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1267#pullrequestreview-801032205

From #1267's description, the following config would be a natural choice:

Open this issue to add more test cases

[2021-11-11 05:22] carlushuang commented on #1266
@atamazov I did test locally, build MIOpen with `-DMIOPEN_USE_COMGR=On` and then try `make check`, and with out PR:#1265, it will fail in `test_gpu_reference_kernel`
![image](https://user-images.githubusercontent.com/8322173/141241897-04ec48e5-fee0-4c7c-a274-fb0a4488660e.png)
So I think this test do can detect the comgr problem. But I don't know why previously CI didn't face with this problem...

[2021-11-11 13:53] atamazov commented on #1266
@carlushuang This is different problem. You need to add LLVM_PATH for COMGR due to some SWDEV, see https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1253/files#r747517006

[2021-11-11 15:35] atamazov opened #1281 "[gfx90a][gfx908] Newly enabled `test_conv_group` is failing for Fp32."
:warning: New failure: Newly enabled `test_conv_group` is failing for Fp32 on gfx908and gfx90a. I am working on this.

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1278#issuecomment-966253321_

[2021-11-11 15:43] atamazov commented on #1281
WORKAROUND_ISSUE_1281 is included into #1278

[2021-11-11 18:39] junliume commented on #1257
@atamazov can we issue a ticket in internal JIRA for this issue? Would the following one be similar or the same?
https://ontrack-internal.amd.com/browse/SWDEV-309655
External users are using PT whl which uses COMGR, so that this would be essentially a blocker urgency issue for COMGR.

[2021-11-11 23:38] atamazov commented on #1257
@junliume

I would like to investigate from MIOpen side first. Depending on results, we may need to open jira for COMGR or compiler, or fix MIOpen.

Maybe. But this is FP16 gfx90a problem. They should try MIOpen with FP16 ALT kernels first, but I am not sure that they did.

[2021-11-11 23:58] atamazov commented on #1281
Via #1267

[2021-11-11 23:58] #1281 closed

[2021-11-12 18:20] junliume opened #1285 "[Documentation] [Question] GetWti() mechanism on roughly evaluate performance of a kernel"
_opened on behalf of @zpwenjh_

**[Category of Issue]**
Documentation and Question

**[Question]**
From MIOpen's Open Issue, I saw that the MIOpen team wanted to use the GetWti() function to roughly evaluate the performance of a kernel. From the code, we can also see that part of the solver has implemented the GetWti() function.

However, the implementation mechanism of GetWti() cannot be clearly

[2021-11-12 18:20] junliume opened #1286 "[Tuning] [Question][Enhancement] [Issues] Umbrella issue for multiple observations on MIOpen DB"
_opened on behalf of @zpwenjh_

**[Category of Issue]**
Issues, Questions, and Enhancement Recommendations

**[Question]**
- [x] **[Issues] sysDB for gfx906**. MI60 DB delivered with release has issues. User observed user DB are generated since kernels “recommended” by system DB will actually be “inapplicable” on the ASIC. Frustrated because user expectations are the kernels recommended by sysDB a

[2021-11-12 18:20] junliume opened #1287 "[Question][Enhancement] Kernels under “direct” methods are not dynamic."
_opened on behalf of @zpwenjh_

**[Category of Issue]**
Issues, Questions, and Enhancement Recommendations

**[Question]**
- [x] Kernels under “direct” methods are not dynamic. So when they upgraded ROCm version where dynamic-hybrid becomes default, the performance is actually much lower for them, because the direct kernels are not selected by default.

[2021-11-12 18:35] JehandadKhan commented on #1287
@junliume I think a better approach would be to ensure that the Dynamic kernels from iGEMM would have performance on part with the direct algorithm.

[2021-11-12 19:25] technicalgrp89 commented on #1235
Created a pull request. Please review my code changes.
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1282

[2021-11-12 20:19] atamazov commented on #1287
@zpwenjh

- (1) This applies only to "unknown" configs and to GPUs that we do not officially support. Please adjust the original question.
- (2) The limitations of dynamic_hybrid mode is known aspect of MIOpen's behavior.
  - (2.1) Would you like to change it?
    - (2.1.1) For example, would you like to enable Direct methods for "unknown" configs? or for unsupported GPUs? or for both?
  - (2.2) O

[2021-11-12 20:50] atamazov commented on #1286
If you see this, then this is just a bug in MIOpen. Please open issue.

- The first clause says "instead of precise matching", but the second one says "if exact match is not found". Please adjust this.
- Please elaborate the use case.  Do you mean the case when for some problem MIOpen has a record in find-db, but for another "similar" problem there is no record and you would like to borrow the inf

[2021-11-12 21:09] atamazov commented on #1285
Basically `GetWti()` should be written by individuals who know the details of kernel implementation and know how it works on the HW. This is how this function was implemented for some Winograd Solver (and it was confirmed by reasonable amount of testing). For Gemm, we have very approximate computations.

It should model the timing characteristics of the specific Solver. No other requirements, no p

[2021-11-13 19:14] #1277 closed

[2021-11-13 19:36] atamazov commented on #1257
The issue also happens with BF16.

The issue (as well as https://github.com/ROCmSoftwarePlatform/MIOpen-internal/issues/4) disappears on nodes that have kernel drivier 5.11.32 (hpe-rack-12 and hpe-rack-13):
[code]
CI nodes have driver 5.11.14 and issues manifests there. CI nodes must be updated.

[2021-11-13 19:37] atamazov commented on #1257
Assigning to @okakarpa.

[2021-11-14 17:56] atamazov commented on #1257
As far as I understand, only base installation should be upgraded. No changes in the Dockerfile required.

[2021-11-15 01:33] zpwenjh commented on #1286
I was intended to add a find mode to avoid exect matching. Using a certain model, directly map a problem to the corresponding fastest algorithm/solver. Now that we have WTI based Solution selection approach, I don't need to spend time thinking about a new model.

[2021-11-15 05:30] Kirpich30000 commented on #1285
The GetWti() for the Winograd Solver is based on a granularity loss model. Given a dispatch parameters (including geometry) and asic we know exactly how many works are asigned to each CU and how many FMAs are required in internal loop. Internaly we tryed more detailed model including shader's callbacks invokation and linear regression of the resulting formula. It showed impressive prediction. Howe

[2021-11-15 15:03] atamazov commented on #1285
@Kirpich30000 @JehandadKhan I am thinking about leveraging multivariate interpolation to predict WTI basing on results of a number of measurements (which we already have in Tuna). Perhaps it is worth to begin some small research.

If this works, then the similar approach can be used to predict perf-configs as well.

What do you think?

[2021-11-16 12:45] atamazov opened #1291 "Duplicate code in ConvHipImplicitGemmWrwV4R4Xdlops::IsApplicable"
Duplicate code

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/553#r750235273_

[2021-11-17 05:49] MOLOjl opened #1293 "tensortransform operation -- doc is missing"
l can't find the corresponding API to `cudnnTransformTensor()` in miopen library,
can anyone please help me?

[2021-11-17 20:09] atamazov commented on #1293
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/3ddeaaad51a7effaac4c63fa58c2a420afb8e586/include/miopen/miopen.h#L744-L750

[2021-11-17 23:12] junliume opened #1295 "MIOpen cache default location issue"
[Issue]
For some cluster environments, $HOME are accessible to log-in nodes but not compute nodes

[Proposal]
1. emit warning messages when $HOME/.cache/miopen is not accessible
2. flexible on user-defined cache location

[2021-11-18 00:18] atamazov commented on #1295
We have the `MIOPEN_CUSTOM_CACHE_DIR` env var for customizing location of user-binary-cache.

[2021-11-18 00:20] atamazov commented on #1295
Note that user perf/find databases reside in $HOME/.config.

[2021-11-18 00:57] junliume commented on #1295
Here is what the customer does:
1. Copy in ROCm 4.5 gfx90a6e.* into local ROCm 4.4 dir and set MIOPEN_SYSTEM_DB_PATH=xxx
2. Set $HOME to a die local to the compute nodes such as in tmp

Would out suggestions be:
1. Use MIOPEN_CUSTOM_CACHE_DIR to point to a local dir
2. Use MIOPEN_SYSTEM_DB_PATH to point to another local dir which contains the DB files

[2021-11-18 01:42] atamazov commented on #1257
We need to find the reason in MIOpen BEFORE upgrading CI nodes. So please hold off upgrading for now.

[2021-11-18 01:43] atamazov commented on #1257
I will work on this tomorrow.

[2021-11-18 02:04] MOLOjl commented on #1293
thanks a lot!
by the way, could you tell me how you find particular functions like this?
the MIOpen doc[(here)](https://rocmsoftwareplatform.github.io/MIOpen/doc/html) seems not to work very well.

[2021-11-18 02:13] atamazov commented on #1293
You can look in miopen.h. Or search (the search form is at the upper left corner).

[2021-11-18 02:15] atamazov commented on #1293
Doc must be fixed.

[2021-11-18 08:56] MOLOjl commented on #1293
all right,
thank you again,
looking forward to doc's update

[2021-11-18 12:03] atamazov commented on #1293
Let's fix the docs

[2021-11-18 12:03] atamazov commented on #1293
@junliume @JehandadKhan Maybe we can assign some engineer to this?

[2021-11-18 12:26] atamazov commented on #1257
There are the following differences between offline (hip-clang) and COMGR builds (ROCm 4.3.1) for gfx90a:
- [x] `-mllvm -amdgpu-early-inline-all=true` and `-mllvm -amdgpu-function-calls=false`: not used with COMGR
  - Resolved in #1288, b90acd1. No effect on this issue.
- [ ] `-mllvm --amdgpu-spill-vgpr-to-agpr=0`: not used with COMGR
  - Compiler guys say that this option should be removed
- [ ]

[2021-11-18 14:05] atamazov commented on #1147
CI# | commit | Res | Failing stage | GPU | BE | Node | Failing test | Error message
-- | -- | -- | -- | -- | -- | -- | -- | --
380 |   | :green_circle: | - | - |   | - | - | -
381 |   | :red_circle: | Fp32 All | gfx90a | Hip | dell113-r01-u27-28 | test_soft_max | FAILED: 0.0283859
382 |   | :green_circle: | - | - |   | - | - | -
383.. ..386 |   | :red_circle: | - | - | - | - | docker build | pcre

[2021-11-18 14:15] atamazov commented on #1147
- 5 memory access faults on ixt-sjc2-11 -- the node is candidate for disabling
- 2 serious faults on ixt-sjc2-17 -- the node is suspicious
- 3 test_soft_max errors
- Other faults are random or resolved.

[2021-11-18 15:22] atamazov commented on #1295
This should be enough for system databases.

And if the customer wants to use pre-compiled kernels, then the kernels shall be put there as well.

This should resolve problems with user databases.

~Yes. It should enable per-user-binary-cache.~

[UPDATE Feb 26, 2024] There is no harm in doing so. However, if $HOME already denotes some local directory, then overriding the default path for pre-user-b

[2021-11-18 16:18] junliume commented on #1147
@okakarpa **ixt-sjc2-11 (navi21)**
Nov 18, 2021 4:17:29 PM
Disconnected: Memory access fault on develop run #409, #411, #412

[2021-11-19 16:53] atamazov opened #1297 "[iGemm] Some ConvHipImplicitGemm* solvers have very slow IsApplicable(): 5000...10000 us"
Some of the Solvers have exceptionally high execution time of `IsApplicable()`. This happens because `IsApplicable()` call `HeuristicInit()`, which, in turn, is time consuming.

The list of solvers:
- ConvHipImplicitGemmForwardV4R4Xdlops
- ConvHipImplicitGemmForwardV4R4Xdlops_Padded_Gemm
- ConvHipImplicitGemmForwardV4R5Xdlops
- ConvHipImplicitGemmWrwV4R4Xdlops
- ConvHipImplicitGemmWrwV4R4Xdlops_Pa

[2021-11-22 02:14] zpwenjh commented on #1286
I haven't done this work recently. I'll report the problem next time I observe it.

[2021-11-22 02:14] #1286 closed

[2021-11-22 02:28] zpwenjh commented on #1287
@atamazov @junliume I think the dynamic kernel effectively avoids the problem of runtime compilation, so I prefer to use dynamic_hybrid find mode. Before the faster kernels came out, I may modify some commonly used direct kernels to dynamic kernels to meet user's requests.

[2021-11-22 02:28] #1287 closed

[2021-11-23 00:04] atamazov commented on #1257
Blocker for 5.1

[2021-11-23 00:10] atamazov commented on #1295
Added to the task list: "_3. Add documentation about customizing db/cache locations_"

[2021-11-23 00:15] atamazov commented on #1286
@zpwenjh Good, thanks!

[2021-11-23 08:46] MOLOjl opened #1303 "questions encountered when migrating cudnn to miopen."
I notice cudnn has a function `cudnnConvolutionBiasActivationForward()`, it fuses bias and activation into the convolution operator, does miopen support the same function?

[2021-11-23 09:48] aosewski opened #1304 "Dependency install script brakes OS Python."
Hi,

I've been trying to install MIOpen. Since there is a lot of dependencies to install to the OS, I tried to use the provided CMake script. As noted in [main page doc](https://github.com/ROCmSoftwarePlatform/MIOpen#installing-the-dependencies) I run it on a bare metal OS with command `cmake -P install_deps.cmake`. The script stopped with CMake syntax errors. And then turned out it broke my OS Py

[2021-11-23 13:55] pfultz2 commented on #1304
By default, install_deps.cmake installs into /usr/local(including a python venv). If you dont want this to mess up you /usr/local directory than you should pass `--prefix` flag to pass a local directory to install everything into.

[2021-11-24 00:07] junliume commented on #1304
@aosewski why would the following be necessary?

usually I use the following to build and so far have no problems:

Can we please dig the root cause a little further? Like which step might have messed up user's environment.

[2021-11-24 01:18] carlushuang commented on #1304
@aosewski Hi, `cmake -P install_deps.cmake` will install everything, including Tensile, which will have python dependencies and will take a lot of time. You can simply work around this issue by `cmake -P install_deps.cmake --minimum` which will only install dependency to build MIOpen host code.

[2021-11-24 01:44] carlushuang commented on #1303
Yes we have fusion support. Currently we have slightly different API structure with cudnn, please see [Getting_Started_FusionAPI](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/doc/src/Getting_Started_FusionAPI.md) for how to use fusion related API

[2021-11-24 09:17] MOLOjl commented on #1303
that's cool!
by the way, I'm expanding a library (named onednn), trying to add a HIP branch to it, so I need to transpose some cudnn API to miopen, but I barely know about miopen, so I prepare to ask my questions all in this trace if you don't mind.
if it's not proper, please let me know.

[2021-11-24 09:22] aosewski commented on #1304
@junliume

This is just an example command to install anything through pip for the user.

I tried to reproduce issue on plain Ubuntu:20.04 docker image and get different errors:

[code]
And this time it doesn't interfere with my OS Python environment. So it seems to me that IT guys have made some strange things on my PC...

[2021-11-24 09:43] MOLOjl commented on #1303
I encounter another question today
cudnn has a function defined like this
[code]
the corresponding function in miopen seems to have more parameters,
[code]
the description of miopen's function is:

in the meantime, I noticed cudnn's description says

does this mean cudnn allocate some test tensors to do the forward convolution and evaluate available algorithms' performance instead of using user-pr

[2021-11-24 10:07] aosewski commented on #1304
@junliume  Anyway when I install manually `python3-venv` and `clang` before running the script I still get errors:
[code]

[2021-11-24 14:47] atamazov commented on #990
Ping

[2021-11-24 14:59] atamazov commented on #1134
The feature is still experimental.

[2021-11-24 15:38] atamazov commented on #936
@asroy Could you please confirm that computations performed by ConvHipImplicitGemmV4R1Fwd for the configs in question are correct. Then I will fix test_conv2d.

[2021-11-24 15:48] atamazov commented on #743
@ce1adon @zjing14 Any recommendations WRT how shall we handle this issue?

[2021-11-24 15:55] #650 closed

[2021-11-24 16:18] atamazov commented on #600
Not reproducible with current develop, ROCm 4.0, gfx906.

[2021-11-24 16:18] #600 closed

[2021-11-24 16:25] atamazov commented on #469
Let's assume this is not a MIOpen bug for now (see previous comment)

[2021-11-24 16:33] atamazov commented on #479
AFAIU the original issue is about correctness, then a W/A (#478) has been merged, and the the issue is gone.

Now we need to restore performance with [value_high].

However I would like to keep the [bug] because the root reason of the issue was NOT found (see jira).

[2021-11-24 16:34] #464 closed

[2021-11-24 16:38] atamazov commented on #456
Right now the questionable Solver is disabled by `WORKAROUND_SWDEV_251757`. What we are going to do?

[2021-11-24 16:38] atamazov commented on #456
Quality issue (dead code)

[2021-11-24 16:48] atamazov commented on #449
FYI Not reproducible with 4.0, HIP backend, gfx906/60
[code]
[code]

[2021-11-25 00:38] junliume commented on #1304
@aosewski here is the Dockerfile I used locally to build minimal MIOpen:

[code]

[2021-11-25 01:29] carlushuang commented on #1303
@MOLOjl in MIOpen the *findConvolution* API will actually run convolution kernel on GPU and return a fastest, and there are different behaviors for this API, you can refer to [find_and_immediate](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/doc/src/find_and_immediate.md) for detail.
The behavior of cudnn I think it is hard for us to answer this question.

[2021-11-25 04:14] MOLOjl commented on #1303
@carlushuang thanks a lot, it looks like the right corresponding API is miopenConvolutionForwardGetSolution(), this is very helpful.

[2021-11-25 11:24] atamazov opened #1306 "Avoid MLIR default enablement in ROCm 5.0"
_On behalf of @junliume, @JehandadKhan and @jerryyin :_

Proposed actions:

- [x] (1) Promote develop to amd-develop (as usual), but do NOT send email about promotion of MIOpen Staging to CQE et al. yet
- [x] (2) Then, immediately: Rebase "[MLIR] Removing MLIR dependency requirement until ROCm 5.1" #1298 to amd-develop, and commit.
  - (2.1) Actually done by merging of 95b58f72f _"Removing MLIR de

[2021-11-26 14:42] zheng-ningxin commented on #108
Hi Does MIOpenConvFwd support int8 for Conv1d functions now? Thanks~

[2021-11-26 22:25] atamazov commented on #1257
Node | Reported sramecc | Base driver version | Issues?
-- | -- | -- | --
hpe-rack-12 | sramecc+ | 5.11.32 | :green_circle: No
hpe-rack-13 | sramecc- | 5.11.32 | :green_circle: No
hpe-rack-16 | sramecc+ | 5.11.14 | :red_circle: YES

[2021-11-29 15:56] iq136boy opened #1307 "Pure GeMM Mode Support"
Current MIOpenGeMM takes convolution descriptions (configs) as input to solve GeMM problems (Hip-backend). We need to add GeMM solvers for GeMM problems.
**MIOpen:**
Pure GeMM solvers
APIs that call pure GeMM Solvers (How to add GeMM solvers inside MIOpen?)
**Fin:**
APIs that take pure GeMM solvers (descriptions) to solve GeMM problems
**Tuna:**
Pure GeMM configs in data bases
Python scripts that

[2021-11-30 03:32] junliume opened #1309 "How to build and use MIOpen with AMD Radeon RX 6700 XT (gfx1031)"
_issue opened on behalf of @aosewski_

[Question]
Understandably gfx1031 is not officially supported, while can the user experiment with it and MIOpen?

- [ ]  How to build MIOpen with AMD Radeon RX 6700 XT?
- [ ]  How to use MIOpen kernels and DBs

[code]

[Some Tests and Workarounds]

-  The default instruction for installation will be stuck at `GPU_DETECTION` stage, since `gfx1031` is not offic

[2021-11-30 13:04] atamazov commented on #1257
Future actions:
- Merge #1288 and lower priority
- With each new version of ROCm: Test if W/A is really required (most likely this will be ROCm 4.5). Disable W/A as soon as such a version is found. Then, close the issue.

[2021-11-30 16:55] JehandadKhan commented on #1309
Please note that `cmake -DMIOPEN_BACKEND=HIPNOGPU` would disable all GPU functionality in MIOpen and should not be used for this purpose.

Once the build issue is addressed, the usual MIOpen variables to generate databases should work out of the box and need no additional code work. Namely,

`MIOPEN_FIND_MODE=1` to generate the find database and `MIOPEN_FIND_ENFORCE=4` to tune kernels

[2021-11-30 17:59] junliume commented on #1309
_Carry over some questions from chat:_ They are valuable for every potential users of MIOpen from scratch :)

- [ ] I do not see any instructions on how to add and from where get the precompiled kernels database.

- [ ] Does this local tuning happens also when running tests?

- [ ] Are there any examples available which showcase how to use MIOpen?

For pre-compiled kernels it seems that we only su

[2021-11-30 18:01] junliume commented on #1309
Indeed the user has the following issue with  `cmake -DMIOPEN_BACKEND=HIPNOGPU`

Any test throws an error `"hipErrorNoBinaryForGpu: Unable to find code object for all current devices!"`

[2021-11-30 21:13] iq136boy opened #1310 "Add GeMM Solver"
Add the GeMM Solver in MIOpen

[2021-11-30 22:19] technicalgrp89 opened #1311 "Layout Parameters - Error Handling"
convfp16 -n 128 -c 512 -H 28 -W 28 -k 128 -y 1 -x 1 -p 0 -q 0 -u 1 -v 1 -l 1 -j 1 -m conv -g 1 -F 1 -t 1 --in_layout nhwc --out_layout nhwc --fil_layout nhwc
MIOpenDriver convfp16 -n 128 -c 512 -H 28 -W 28 -k 128 -y 1 -x 1 -p 0 -q 0 -u 1 -v 1 -l 1 -j 1 -m conv -g 1 -F 1 -t 1 --in_layout nhwc --out_layout nhwc --fil_layout nhwc

Results in following Error Message
[code]
Error message needs to be co

[2021-11-30 23:15] atamazov commented on #990
Ping II

[2021-11-30 23:18] atamazov commented on #743
@ce1adon @zjing14 Advice?

[2021-11-30 23:22] atamazov commented on #1047
Ping.

[2021-12-01 01:01] muralinr commented on #1047
We are phasing out existing batchnorm implementation with new one.  I am not sure whether we want to spend any time on current batchnorm implementation unless it's a blocking issue.

[2021-12-01 15:59] atamazov opened #1314 "naive_conv.cpp build errors in Debug builds."
Use of reserved identifiers lead to kernel build errors in Debug builds. This hinders triaging of bugs at least.

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/037e006c19be0d810c5cf1ced53b02e10d99702d/src/kernels/gpu_reference_kernel/naive_conv.cpp#L32

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/037e006c19be0d810c5cf1ced53b02e10d99702d/src/kernels/gpu_reference_kernel/naive_conv.cpp

[2021-12-01 16:45] atamazov opened #1315 "[OCL][MI100][MI200] GEMM convolution failures with OCL backend (Staging 95b58f72f)"
`make check` convolution failures. Preconditions:
- Mainline build 9148
- OpenCL backend
- MI200 or MI100 target

Failures: [make-check.9148-opencl.float.gfx90a.failures.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/7654658/make-check.9148-opencl.float.gfx90a.failures.txt).

As you can see, all failures happen with `GemmBwd1x1_stride1` and `GemmBwdRest`.

The exact technical reason of

[2021-12-01 17:03] junliume commented on #1314
@carlushuang @atamazov Just curious why this issue is not caught in CI. I think we have debug configurations in the pipeline.

[2021-12-01 17:22] atamazov commented on #1314
This is visible in Full tests. Debug builds are very slow, so we do not run Full tests with them.

[2021-12-02 07:20] carlushuang commented on #1314
@atamazov I use `-DCMAKE_BUILD_TYPE=Debug` to build miopen, and managed to run MIOpenDriver that internally call to naive conv (`ConvDirectNaiveConvFwd`), but everything is just fine, no error prompt out?
How can I reproduce this failure?

[2021-12-02 13:07] atamazov opened #1317 "[OCL][MI100][MI200] iGemm ASM GTC XDLOPS failures with OCL backend (Staging 95b58f72f)"
`make check` convolution failures. Preconditions:
- Mainline build 9148
- OpenCL backend
- NCHW configs
- MI200 (possibly MI100 as well -- not tested)

:warning: GPU is dead after the failure (`sudo cat /sys/kernel/debug/dri/<GPU_NUM>/amdgpu_gpu_recover` to recover).

[code]

The memory access fault happens when some `igemm_fwd_gtcx2_*` is running, please see attached log: [issue-16-9-224-224.open

[2021-12-02 17:27] atamazov commented on #1314
@carlushuang Make sure to select proper problem, so that HIP kernel is selected, not ASM. Maybe also you need to use recent mainline build, e.g. compute-artifactory.amd.com:5000/rocm-plus-docker/compute-rocm-dkms-no-npi-hipclang:9148-ubuntu-18.04-stg2, and OCL backend. Example:
[code]
See attached output: [issue-16-9-224-224.opencl.ll5.dev-debug.build-failure.txt](https://github.com/ROCmSoftwarePl

[2021-12-02 21:13] asroy opened #1319 "HIP/ASM Naive solver ignore debug ENV"
All naive solvers are not controlled by use_asm_kernels or use_hip_kernels, for example:

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/037e006c19be0d810c5cf1ced53b02e10d99702d/src/solver/conv_direct_naive_conv_fwd.cpp#L37

@JehandadKhan @atamazov  @carlushuang

[2021-12-03 05:17] junliume opened #1322 "MIOpen Build in Docker Image - tons of -Wreserved-identifier warnings"
While Building MIOpen within dockers, I have met tons of warnings caused by

`warning: identifier '_***' is reserved because it starts with '_' followed by a capital letter [-Wreserved-identifier]`

Is there a way to ~~disable~~ **properly fix** them?

UPDATE by @atamazov: To reproduce, pull and run one of the latest HIP mainline builds, e.g. 9148. Install MIOpen's dependencies (of not there alrea

[2021-12-03 06:28] carlushuang commented on #1322
seems similiar to https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1314
Is all the compiler bug is because rocm-5.0, the clang++ compiler is upgraded?

[2021-12-03 08:37] atamazov commented on #1322
Those are valid warnings due to usage of reserved identifiers in MIOpen, e.g. addkernels produce them. Of course we can disable the warning, but let's make a proper fix.

[2021-12-03 08:39] atamazov commented on #1322
Maybe @averinevg can you fix these if you have time?

[2021-12-03 10:38] carlushuang opened #1325 "MIOpenDriver pooling `-F 2` fails"
[code]

above 6 configs are logged from alexnet. the backward pooling have computation error, with latest MIOpen code. Both gfx908/gfx90a will have this failure.
This is found while debugging [SWDEV-313696](https://ontrack-internal.amd.com/browse/SWDEV-313696)

[code]

cc @junliume @atamazov @DrizztDoUrden

[2021-12-03 15:05] aosewski commented on #1304
There are two small things to modify in the above dockerfile to make it work:

1.  Change `lsmod` to `kmod` package.
[code]
2. Export two environment variables
[code]
3. Also I'd recommend to export CC env variable as well when building MIOpen.
[code]

[2021-12-03 15:05] #1304 closed

[2021-12-03 15:17] averinevg commented on #1322
@atamazov Ok, I'll see how to fix it

[2021-12-03 18:14] atamazov commented on #1322
@averinevg :+1:

[2021-12-03 20:15] junliume commented on #1325
It looks like these numbers are troublesome:

MIOpen(HIP):    tensorDesc = 32, 192, 27, 27
MIOpen(HIP):    size = 0
MIOpen(HIP): }
MIOpen(HIP): miopenStatus_t miopenGet4dTensorDescriptorLengths(miopenTensorDescriptor_t, int *, int *, int *, int *){
MIOpen(HIP):    tensorDesc = 32, 192, 27, 27
MIOpen(HIP):    **n = 32764**
MIOpen(HIP):    **c = 319990760**
MIOpen(HIP):    **h = 3**
MIOpen(HIP):

[2021-12-03 20:34] atamazov opened #1326 "Implement and use an abstraction that represents a multi-buffer workspace"
This seems Ok as a hotfix. However we should hide details in some suitable abstraction instead hacky code here and there. In this specific case, I can propose some class that can represents metrics of a workspace that logically consists of two sub-buffers, each with its own size and alignment. Very basic example:
[code]

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MI

[2021-12-03 20:36] atamazov commented on #1326
FYI C++ features related to alignment: https://en.cppreference.com/w/cpp/memory/align

[2021-12-03 20:45] atamazov commented on #1325
Assigned @ce1adon as an implementer of many pooling features, see https://github.com/ROCmSoftwarePlatform/MIOpen/commits/develop/src/ocl/pooling_ocl.cpp

[2021-12-03 20:50] atamazov commented on #1325
Same symptoms on gfx906, ROCm 4.0.

[2021-12-03 21:51] atamazov commented on #1325
Tried the following commits on gfx906, ROCm 4.0:
- ca809fee7 -- just prior 6370fbedf Pooling forward solvers (except GetWorkspaceSize) (#1284)
  - NOV 17, 2021
- e2389abf0 -- just prior 79ba89316 Dynamic pooling (#515)
  - JUN 16, 2020
- 3e3143ca2 -- just prior 2dd98e759 Pooling: add max index mode & disable padding mode test (#1239)
  - JUN 12, 2020

The issue exists in all these commits. It is p

[2021-12-03 21:52] junliume commented on #1325
@atamazov Tensordesc is correct while the NCHW numbers are interpreted incorrectly, (if this is the case) unlikely it won't be caught sooner I guess.

MIOpen(HIP): n = 32764
MIOpen(HIP): c = 319990760
MIOpen(HIP): h = 3
MIOpen(HIP): w = 0

[2021-12-03 21:56] atamazov commented on #1325
Update to https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1325#issuecomment-985867423:
- It may worth to check also d9079e71a (which immediately precedes 5b31a8c07 ProblemDescription refactor (#2399), JAN 15, 2020), but I run into cmake issues and gave up.

[2021-12-04 01:52] shaojiewang commented on #1326
OK, I will do it.

[2021-12-04 16:46] shurale-nkn commented on #1326
@atamazov
Kernel arguments are a great example of such abstraction. Everything has already been thought up, just need to add a buffer to save pointers.

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/c701af3ba83f8fb99d7efab30ee0b22de57f2f42/src/include/miopen/hipoc_kernel.hpp#L140-L159

[2021-12-04 21:01] atamazov commented on #1315
Full description provided.

[2021-12-04 22:54] atamazov commented on #1317
@shaojiewang I assumed that #1324 would solve this problem and tried it, but unfortunately this is not so. It may worth double-checking #1324 -- maybe some of the fixes are still missing (and HIP is toleraan to these, but OCL doesn't)?

[2021-12-04 22:54] atamazov commented on #1317
[Informative] Full description provided

[2021-12-06 12:27] atamazov commented on #1322
@averinevg The topmost comment updated with reproduce instructions. Details by mail or voice.

[2021-12-06 16:36] atamazov commented on #1317
#1321 merged. This specific issues becomes a low priority bug now.

[2021-12-06 16:39] atamazov commented on #1315
#1321 merged. This specific issue can be now closed. We already have the goal to replace MIOpenGemm with MiopenTensile including OCL BE).

[2021-12-06 16:39] #1315 closed

[2021-12-06 16:52] atamazov commented on #1319
And in some cases Naive Solvers use ASM kernels (that shall be controlled by `use_asm_kernels`):
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/037e006c19be0d810c5cf1ced53b02e10d99702d/src/solver/conv_direct_naive_conv.cpp#L86-L95

[2021-12-06 18:58] atamazov commented on #1147
CI# | commit | Res | Failing stage | GPU | BE | Node | Failing test | Error message
-- | -- | -- | -- | -- | -- | -- | -- | --
415.. ..417 |   | :green_circle: | - | - |   | - | - | -
418 |   | :red_circle: | Fp32 | Vega20 /64 | Hip | ixt-rack-54 | test_gpu_nchw_nhwc_transpose | Core dumped
419 | R 418 | :green_circle: | - | - |   | - | - | -
420 |   | :green_circle: | - | - |   | - | - | -
421 |

[2021-12-06 23:54] ce1adon commented on #1325
You only see errors in "-F 2" is because by running backward only you are missing info calculated from forward. Try "-F 0" and you will get correct results.
The frameworks problem may lead by failing to pass workspace to backward in pooling.

[2021-12-06 23:57] ce1adon commented on #1325
It's a red herring.

[2021-12-07 06:45] carlushuang commented on #1325
@ce1adon we will log MIOpenDriver cmd with `MIOPEN_ENABLE_LOGGING_CMD=1` while run model from tf/pytorch. If the pooling will fail only in `-F 2` case, I highly recommend you fix this by for example give it a random input number.
Otherwise people will get confused while debug framework level stuffs.

[2021-12-07 18:07] ce1adon commented on #1325
The workspace value is calculated indices. They cannot be random.

[2021-12-08 00:10] junliume opened #1330 "CMake version needs to be 3.15.1 or higher"
While building MIOpen in docker images, very frequently we meet the following problem:

[code]

- [x]  Which component needs higher than default cmake version in Ubuntu 18.04 and why?
- [x] Ways to resolve the issue
https://askubuntu.com/questions/355565/how-do-i-install-the-latest-version-of-cmake-from-the-command-line

[2021-12-08 03:04] junliume commented on #1325
@carlushuang @atamazov and @ce1adon  any recommendations for enhancement or to fix this verification issue?

[2021-12-08 03:32] carlushuang commented on #1325
I still recommend to mimic(by some kind of randomness) the indices inside the workspace buffer, and let backward pooling run based on this artificial indices buffer. In this case backward pooling can be run in a _unit-test_ manner, which is very useful for our framework level debug

[2021-12-08 08:02] carlushuang commented on #1330
https://github.com/ROCmSoftwarePlatform/llvm-project-mlir/blob/miopen-dialect/CMakeLists.txt
MLIR require at least `3.15.1`, and we now depends on MLIR, so.

[2021-12-08 13:12] shaojiewang opened #1331 "In Jenkinsfile, Agent label is set to "vega" while stage is gfx908 or gfx90a"
In jenkins file:

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/4b37632a60b222f378bdc3228f15a1f149289a02/Jenkinsfile#L792-L811

@atamazov @junliume Noticed that the agent label is vega when stage is gfx908 or gfx90a. Is it a mistake?

[2021-12-08 15:58] atamazov commented on #1331
Sure, this is a bug.

[2021-12-08 15:59] atamazov commented on #1331
Originated from #1321

[2021-12-08 17:33] atamazov commented on #1325
MIOpenDriver to issue a descriptive error message when `-F 2` is incorrectly used with pooling.

[2021-12-08 22:17] atamazov opened #1334 "[Navi21] test_activation quietly fails"
[code]
but no other signs of error.

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1333#issuecomment-989256733_

[2021-12-08 22:27] atamazov commented on #1334
The test quietly fails when input tensor size reaches 1 GiB and if CTEST_PARALLEL_LEVEL=4. When the test runs exclusively, it passes, so it seems the root of the issue is lack of GPU resources. We can run the test in RUN_SERIAL mode, but I would consider this is as a workaround for now.

What needs to be done:
- (1) Find out the reason of the failure. Maybe this is normal.
- (2) Definitely, the pr

[2021-12-08 22:31] atamazov commented on #1334
Assume a bug an set normal urgency until the reason is identified found (see (1) from previous comment).

[2021-12-08 23:17] atamazov commented on #1148
`test_conv3d` fails when input tensor exceeds 1.34 GiB. This is similar to https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1334#issuecomment-989278146

[2021-12-09 02:00] junliume commented on #1334
@shaojiewang  could you please take a look at this issue?

[2021-12-09 02:21] #1330 closed

[2021-12-09 05:07] shaojiewang commented on #1334
Yes, sure. But not so familiar with activation kernel code.

[2021-12-10 02:46] #1331 closed

[2021-12-11 23:27] atamazov commented on #1148
Regarding returning to `CTEST_PARALLEL_LEVEL=4`. With #1336 I do not see any issues on my local Drakkar machine. However the same code fails from time to time when run on CI.

On CI machines, we have
[code]
 But on my development machine I see
[code]
So the development machine has base ROCm/driver versions that matches the ROCm version in the container where I run the tests (4.3.1). But on CI, bas

[2021-12-12 23:19] atamazov opened #1342 "Finish handling of W/A for SWDEV-271887"
@zjing14 On April 7 2021 https://ontrack-internal.amd.com/browse/SWDEV-271887 was set to implemented state. It needs to find out ROCm release the fix is included in, and disable the W/A starting from that release. Then we can check that the issue is gone and close the Jira.

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/739#discussion_r763317708_

[2021-12-12 23:30] atamazov commented on #990
Let's resolve this in 5.1. We are losing performance.

[2021-12-12 23:33] atamazov commented on #1047
@muralinr What is ETA for the new implementation?

[2021-12-12 23:36] atamazov commented on #1047
@atamazov or @averinevg To bring back useful test-related changes that were made in #916 (and later removed by #1046).

[2021-12-13 01:40] muralinr commented on #1047
Jing Zhou is currently working on new implementation.  Will provide ETA after checking the latest status.

[2021-12-13 02:38] zjing14 commented on #1342
@atamazov Checked with ROCm 4.3. Confirmed that the issue has been resolved.

[2021-12-13 06:44] #1342 closed

[2021-12-13 14:02] atamazov commented on #1342
_> It needs to find out ROCm release the fix is included in, and disable the W/A starting from that release._

@junliume ___This is not done yet.___ Also we have WORKAROUND_SWDEV_271887 in tests which needs to be removed as well.

...and this ticket.

[2021-12-14 03:19] zpwenjh opened #1343 "[Find Db] 3d convolutions with NCHW layout"
The following in gfx906_64.HIP.fdb.txt is 3d convolutions，but using `NCHW` layout.
![image](https://user-images.githubusercontent.com/63989327/145926525-2e955d3f-8d14-47db-b8eb-ff0ec1446f18.png)

Thus I parse the config to `MIOpenDriver` command, then i got an error as follows:
[code]

[2021-12-14 03:22] #1285 closed

[2021-12-14 11:27] Sigura commented on #1204
It looks like now it may be closed

https://github.com/RadeonOpenCompute/ROCm/issues/1572#issuecomment-992589243

[2021-12-14 11:41] #1204 closed

[2021-12-15 22:35] atamazov commented on #1343
@zpwenjh Is it trivial to reproduce?

[2021-12-15 22:37] atamazov commented on #1343
This may affect performance of 3D conv, but who knows which other side effects the defect has?

[2021-12-16 01:08] junliume commented on #1322
@averinevg PR #1340 and #1341 fixed quite a lot of these issues while still some more are observed:
an easy way is to search for `NOLINT (bugprone-reserved-identifier)` within the codebase.
also ref: @shurale-nkn do you know why these NOLINT instructions are not respected and are still generating warnings?

[2021-12-16 01:16] muralinr commented on #1047
PR is raised with new implementation.  Here are details.  https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1244

[2021-12-16 15:48] atamazov commented on #1322
@averinevg `__` is a replacement for ellipsis. The function answers the question: "Is parameter belongs to the sequence: {1,4,8,12,16...32}". Just use common sense and invent a new name. For ex, you can use `Is_1_4_8_12_to_32`.

[2021-12-17 15:08] atamazov opened #1349 "[MI200][NCHW][SWDEV-312112] The find-db NCHW records for ConvAsmImplicitGemmGTCDynamic*XdlopsNHWC must be updated"
The find-db NCHW records for
- ConvAsmImplicitGemmGTCDynamicBwdXdlopsNHWC
- ConvAsmImplicitGemmGTCDynamicFwdXdlopsNHWC
- ConvAsmImplicitGemmGTCDynamicWrwXdlopsNHWC

must be refreshed.

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1324#issuecomment-996793474_

[2021-12-17 15:23] atamazov commented on #1349
#1324 increases WS up to 3 bytes, but the system find-db remains the same. The library may run into fatal errors from time to time.

The problem may manifest in develop, Staging tests and in 5.0 Release Staging tests. The latter is potentially the most problematic.

## How we can fix this

We do not need to actually run tuning sessions to update find-db files. Adding 3 to the "required workspace s

[2021-12-17 16:09] atamazov commented on #1349
Maybe it is better to accommodate for #1327 in advance and increase requires WS size not by 3, but by (255*3).

[2021-12-17 18:07] JehandadKhan commented on #1349
@atamazov  Thanks for highlighting this. Can we hold off on merging #1324  until January ?

[2021-12-17 19:43] atamazov commented on #1349
Sure. But the immediate problem is that we have this issue in 5.0 staging.

[2021-12-17 20:35] junliume commented on #1349
AFAIK, we tune after the branch is cut, and will need to regenerate find-db then anyway?

[2021-12-17 20:46] atamazov commented on #1349
Of course, but we do not want to receive bug reports before that, right?

[2021-12-17 20:51] atamazov commented on #1349
...And currently we have this problem in Staging branch. After promotion it will be replicated to Master branch and will remain there (i.e. in all Mainline builds) until the fix is promoted.

[2021-12-17 21:14] junliume commented on #1349
@atamazov  @JehandadKhan : which way is "faster", a.k.a. can be completed by next Tuesday?  I will vote for "Patch existing find-db files using some script (@DrizztDoUrden )" since Chris is off and patching looks like a more "direct" way to ensure problems are fixed. What do you think?

[2021-12-17 21:25] atamazov commented on #1349
Either variant works for me.

[2021-12-17 21:57] JehandadKhan commented on #1349
I vote for @DrizztDoUrden to update it since that sounds the safest to me as well.

[2021-12-17 22:10] atamazov commented on #1342
Let's create a PR that:

and removes

[2021-12-17 22:17] atamazov commented on #1349
@DrizztDoUrden Let's update MI100/MI200 fdb as per https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1349#issuecomment-996806479. I am available for a call at any time.

[2021-12-17 22:19] atamazov commented on #1349
@shaojiewang FYI. Please share your opinion about this. Thanks.

[2021-12-17 22:41] atamazov commented on #1343
@averinevg Please have a look when you have time. This doesn't seem urgent (until we do not know the root reason at least))

[2021-12-18 00:46] shaojiewang commented on #1349
@atamazov Thanks for findings and updates. I think that patching the existing find-db is a better way.

In the future, for the find db part, could it be possible to remove the Workspace_size from the db and just let it be computed on the fly? Or else, is it possible to have some reserved space for WS?

[2021-12-18 22:43] atamazov opened #1351 "WORKAROUND_ISSUE_1317 must disable `test_regression_opencl_float_mi100`"
WORKAROUND_ISSUE_1317 must also disable `test_regression_opencl_float_mi100` which is intended to test some NCHW configs on OCL BE with `ConvAsmImplicitGemmGTCDynamicWrwXdlops` (see #1012). The reason is that PR totally disables `ConvAsmImplicitGemmGTCDynamic*Xdlops` for NCHW && OCL.

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1321#issuecomment-9972949

[2021-12-18 22:45] atamazov commented on #1351
Example failure: See CI, `bn_nhwc` branch, run 19.

[2021-12-19 21:31] #1351 closed

[2021-12-20 16:33] okakarpa commented on #1148
@atamazov The navi21 nodes works better with version rocm-5.0.0-9234.

**root@ixt-sjc2-11:~# cat /sys/module/amdgpu/version
5.13.8
root@ixt-sjc2-11:~# ls -l /opt
total 12
drwxr-xr-x  4 root root 4096 Dec 15 18:17 amdgpu
drwx--x--x  4 root root 4096 Sep  2 20:30 containerd
lrwxrwxrwx  1 root root   22 Dec 15 18:17 rocm -> /etc/alternatives/rocm
drwxr-xr-x 17 root root 4096 Dec 15 18:17 rocm-5.0.0-9

[2021-12-20 18:09] atamazov commented on #1343
It seems like system fdb is corrupt, the padding field should look like AxBxC and NCDHW should be used instead of NCHW,

1. Reproduce error with MIOpenDriver (decode 1024-14-14-1x1x1-512... into driver options)
2. Make sure the current develop encodes 3d conv problem config into valid db keys:
  - Export `MIOPEN_FIND_MODE=1`
  - Run the same MIOpenDriver command, there should be no failures.
  - L

[2021-12-20 18:57] atamazov commented on #1349
@JehandadKhan FYI There are none records with `ConvAsmImplicitGemmGTCDynamic*XdlopsNHWC` in MI100 find-db files.

[2021-12-20 19:01] atamazov commented on #1349
I mean, is it expected in `develop`?

[2021-12-20 20:42] atamazov commented on #1148
@okakarpa I recommend updating nodes to the most recent released ROCm version and corresponding kernel driver. 5.0 is not released yet, I would either wait or use 4.5.2.

We must be careful to avoid CI malfunction due to, for example, failures of static checks.

## Proposed plan:
- Devote one Navi21 node (re-label it to `rocmtest-5.0`, for example)
- Upgrade base installation or ROCm and kernel dr

[2021-12-20 21:58] JehandadKhan commented on #1349
Not according to my data

[2021-12-20 22:00] JehandadKhan commented on #1148
@jbakhrai for info

[2021-12-20 22:02] atamazov commented on #1349
@JehandadKhan Still unclear... ;) So there is nothing to fix in MI100 System find-db files, right?

[2021-12-20 22:04] JehandadKhan commented on #1349
@atamazov  That is correct, no records for gfx908 of the above/mentioned solvers

[2021-12-20 22:04] JehandadKhan commented on #1349
Perhaps I could have worded my earlier response better !

[2021-12-20 23:50] junliume opened #1355 "Is wheel or python3-wheel a dependency of MIOpen or cget?"
**Keywords**: error; dependency; cget; non-blocking; cosmetic issues

**[Symptom]**
When building MIOpen dependencies, the following *error* is observed. It's mostly cosmetic and does not ultimately affect the build integrity. This is mostly a cosmetic issue, discovered by searching for **errors** in full build log of MIOpen.
[code]

**[Steps to Reproduce]**
within MIOpen directory:
[code]

**[Wor

[2021-12-21 00:00] #1349 closed

[2021-12-21 13:23] averinevg commented on #1322
All related PRs have been merged. Issue fixed.

[2021-12-21 18:04] atamazov commented on #1148
`ixt-sjc2-11` was upgraded to ROCm 5.0 RC and now shows unstable behavior. Let's monitor it and disable it if it spoils the CI pipeline on regular basis.

[2021-12-21 20:26] atamazov commented on #1322
@averinevg :1st_place_medal:

[2021-12-21 21:11] atamazov commented on #1148
[Off-topic] ixt-sjc2-11 disabled. See https://github.com/ROCmSoftwarePlatform/frameworks-internal/issues/470.

[2021-12-22 07:05] MOLOjl opened #1357 "not used pooling arguments"
hi,
I was using a pooling kernel, I notice there are some not used arguments in forward and backward functions, as in below:
[code]
why not delete them, it can be very confusing if I haven't read your source code. by the way, if I input some null value when using these functions, will they cause errors?

[2021-12-23 21:23] atamazov opened #1359 "[COMGR] The use of hipModuleLoadData requires some redesign"
- [x] As a first step (workaround), #981 must be reverted.
  - Done in #1360
- [ ] Full-blown solution TBD. More info: https://ontrack-internal.amd.com/browse/SWDEV-304151#comment-8282503

/cc @sunway513 for awareness. I do not know if this really affects COMGR build path used in PyTorch WHL.

[2021-12-23 22:31] atamazov commented on #962
@zpwenjh

## Reason of the issue

Currently MIOpen uses hipModuleLoad to load programs onto GPU. In this case HIP runtime holds a file descriptor per each HIP Program object. "Too many open files" means that the application uses a lot of HIP Program objects, so the limit of open files has been exceeded. Usually this limit is 1024.

## Workaround

I recommend using something like  `ulimit -Sn 2048`

[2021-12-28 10:37] DrizztDoUrden commented on #1357
You may use 0s/nullptrs for those, that should not pose any problem.
API change is sadly not as simple to implement as many people would like, including me.

[2021-12-28 10:55] DrizztDoUrden opened #1362 "Pooling API problems"
Right now, we have several problems with the current API design. I would post the as comments bellow to ease later referencing as suggested by @atamazov.

[2021-12-28 10:55] DrizztDoUrden commented on #1362
X tensor descriptor, handle and direction are missing in GWSS. This leads to the following issues:
- It is impossible to properly reuse solver methods.
- We imply that x and y buffers have exactly same descriptors.
- Handle is required to properly fetch memory alignment from GPU to calculate offset of transpose regions in the workspace.

[2021-12-28 10:55] DrizztDoUrden commented on #1362
Some arguments of forward/backward functions are not used and generally are misleading, e.g. #1357.

[2021-12-28 10:55] DrizztDoUrden commented on #1362
Mask/indices in the workspace are interpreted as kind of a buffer everywhere but is positioned in the workspace. This leads to complications in the transpose branch but is avoidable as a problem to some extent.

[2021-12-28 23:08] atamazov commented on #479
- The root reason of the original issue is not known, and
- The original issue is about "random issues", and
- I do not know if there is any connection between disabled "variant 4" and other "variants", so it is possible that these variants share some parts of the the kernel code or share the computation _approaches_ (e.g. how we do address calculations),

-- Then it is possible that random issues

[2021-12-29 10:00] #1317 closed

[2021-12-29 10:00] #1326 closed

[2021-12-31 13:04] atamazov commented on #1306
95b58f7 reverted in amd-develop by ebaaf3ebd _Revert "Removing MLIR dependency requirement until ROCm 5.1"_

[2021-12-31 13:04] #1306 closed

[2022-01-03 19:36] junliume opened #1365 "[Tidy][Quality] MIOpen_Source include header files which are redundant and easy to miss"
**[Keywords]:**
Tidy; Quality; CMakeLists; Maintenance

**[Issue]:**
The file `src/CMakeLists.txt` contains a set of `MIOpen_Source` which includes lots of header files.
e.g. https://github.com/ROCmSoftwarePlatform/MIOpen/commit/96bc894860ce2211e73e25d891843c2a09758b17 and https://github.com/ROCmSoftwarePlatform/MIOpen/pull/1350

This list is easy to miss in future updates. (maintenance issue)

**

[2022-01-07 08:12] zpwenjh opened #1368 "[Question] Where to delete the dropoutDesc in RNNDescriptor"
I found `miopen::deref(&dropoutDesc) = new miopen::DropoutDescriptor();` in `rnn.cpp`, but didn't known where to delete it. Can you help me determine if this is a bug.
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/4949d29f70b6ac26b834713493d9e33759ba5f41/src/rnn.cpp#L282-L371

[2022-01-07 16:16] junliume commented on #1368
Hi @ce1adon , if you have time could you help to take a look? Thanks!

[2022-01-07 17:19] ce1adon commented on #1368
It will be deleted after the lifecycle of the API.

[2022-01-08 00:26] #1235 closed

[2022-01-12 21:44] atamazov commented on #1365
via #1369

[2022-01-12 21:44] #1365 closed

[2022-01-12 22:09] atamazov commented on #1368
@ce1adon Hmm... It looks like memleak (rather small, but anyway), or I do not understand something? If `RNNDescriptor` instance owns an instance of `DropoutDescriptor` that resides in the heap, why don't we delete dropout descriptor in `~RNNDescriptor()`?

[2022-01-12 22:16] atamazov commented on #1368
...Because of `miopenGetRNNDescriptor_V2()` which must return ptr to dropout descriptor to the user, and that dropout descriptor must be alive even after RNN descriptor is destroyed?

[2022-01-12 22:39] atamazov opened #1372 "CI upgrade plan (base driver and ROCm)"
_Originated from https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1148#issuecomment-998255498_

I recommend updating nodes to the most recent released ROCm version and corresponding kernel driver. 5.0 is not released yet, I would either wait or use 4.5.2.

We must be careful to avoid CI malfunction due to, for example, failures of static checks.

## Proposed plan:
- [ ] Devote one Navi21 node

[2022-01-12 23:06] ce1adon commented on #1368
@atamazov You can add the delete with ~RNNDescriptor()

[2022-01-13 00:29] junliume commented on #1372
@atamazov 4.5.2 in dockerfiles seem to have no problems on the current CI pipelines (while base OS ROCm are not updated):
https://github.com/ROCmSoftwarePlatform/MIOpen/commits/jenkins-ci-rocm-4.5
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/jenkins-ci-rocm-4.5/9/pipeline

[2022-01-13 07:25] littlewu2508 opened #1373 "A way to pre-build kernels for several architectures"
Hi, I'm maintainer of gentoo [miopen](https://gitweb.gentoo.org/repo/gentoo.git/tree/sci-libs/miopen) package. I'd like to know if you can also provide the source code of the pre-compiled kernels, so that we can package it and users can compile them for their specific card (the pre-compiled kernel only contains few archs, which leads to problems such as https://github.com/ROCmSoftwarePlatform/MIOp

[2022-01-13 09:02] zpwenjh opened #1374 "[Kernel] Compilation error of conv3x3.s"
I am using develop of miopen, the command line as follows:
[code]
Then I get errors list in the picture:
![image](https://user-images.githubusercontent.com/63989327/149296463-dbcd14db-9f82-4cec-a083-b654880c6e00.png)

The following lines in conv3x3.s seems to cause the error.
![image](https://user-images.githubusercontent.com/63989327/149298307-9be6be4e-5959-40d2-8bba-6a52e734962a.png)

Then I mod

[2022-01-13 13:26] atamazov commented on #1373
The pre-compiled kernels are just the ordinary kernels, and all their sources already provided in this repo. You can run MIOpen on whatever card you want and then collect compiled kernels from the binary cache directory.

[2022-01-13 13:38] atamazov commented on #1372
Of course I am not against updating docker to 4.5.2. This does not require any kind of special plan.

[2022-01-13 16:55] junliume commented on #1373
@atamazov Indeed the users can generate compiled kernels on any cards they process. However, the GPU detection check at the moment has blocked them from building it first.

Can we move "GPU DETECTION FAILED DURING CMAKE PHASE" to a warning instead?

[2022-01-13 20:38] ce1adon commented on #1368
I believe setrnndesc will be run first before you can get anything.
This get function is to get an existing desc.

see above

you can delete the very first defined dropout desc, which is independent with rnn desc.

[2022-01-14 01:57] zpwenjh commented on #1368
let's see RNNDriver in MIOpenDriver:
[code]
First, I don't find where to destroy the `DropoutDesc` created in the constructor.
Then, in the constructor, the code of `miopenCreateRNNDescriptor` is:
[code]
Here create the `dropoutDesc` but no where to destroy it, the setrnndesc will only replace the pointer `dropoutDesc` to another place, but don't destroy the previous one that created by `new miope

[2022-01-14 03:51] ce1adon commented on #1368
@zpwenjh
https://github.com/ROCmSoftwarePlatform/MIOpen/issues/1368#issuecomment-1011532409

[2022-01-14 20:25] atamazov commented on #1373
It should be warning already. Error will happen only if you run "make check"

[2022-01-15 02:04] littlewu2508 commented on #1373
Thanks. Also, I'd like to know, whether there is a way to build **all** these kernels to .kdb for several architectures, even if there is no available GPU on the build machine? I suppose there is a build tool in ROCm team to generate the binary cache hosted on https://repo.radeon.com/rocm/miopen-kernel/, and I'd like to compile these before during the build of MIOpen.

[2022-01-16 19:09] atamazov commented on #1368
You should not simply delete dropoutDesc in ~RNNDescriptor() because the user might have gotten it earlier via miopenGetRNNDescriptor_V2.

What I can propose:
- (1) Delete dropoutDesc in ~RNNDescriptor(). Track the use of miopenGetRNNDescriptor_V2 in RNNDescriptor. After miopenGetRNNDescriptor_V2, we shall assume that ownership of dropoutDesc is passed to the user and avoid deletion of it in the d

[2022-01-16 19:19] atamazov commented on #1373
@littlewu2508

Yes, but for each arch you'll get separate .ukdb file. I think that @JehandadKhan can provide you with the details on how to properly do that (as soon as time permits).

:warning: This feature is not intended for the end user, so the process (including API calls, environment settings etc) are subject to change without notice.

[2022-01-17 21:59] atamazov commented on #1374
@Slimakanzer @Kirpich30000 Please review this, thanks.

[2022-01-20 19:56] junliume opened #1384 "[cppcheck][warning][invalidFunctionArg] cppcheck 2.6 warnings on unsupported tensor datatype"
**[Keywords]:**
cppcheck; warning;
**[Urgency: Low; Importance: Low]**

**[Env]:**
cppcheck@2.6

**[Description]:**
The issue is [invalidFunctionArg] warning with cppcheck upgrade
[LOG]: [Jenkins Log](http://micimaster.amd.com/blue/rest/organizations/jenkins/pipelines/MLLibs/pipelines/MIOpen/branches/jenkins-ci-rocm-4.5/runs/11/nodes/13/steps/73/log/?start=0)
Nothing logically is wrong with the co

[2022-01-20 21:16] pfultz2 commented on #1384
The test driver will still instantiate this for double here:

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/622dd718138da185e98fbecd0e05961c1748c162/test/driver.hpp#L1361

We could remove this instantiation and just throw an error when `double` is passed to the driver. I dont think we support double for any of our inputs currently so it doesn't seem necessary.

[2022-01-20 23:40] #1374 closed

[2022-01-21 00:29] junliume commented on #1325
@DrizztDoUrden could we follow up a bit on the warning message? If `-F 2` is used without forward results and data, then we should issue such warning from MIOpenDriver. CC: @atamazov

[2022-01-21 03:38] junliume commented on #1384
@zjing14  do we have a quick fix for this? we support double reduction and that's the only double datatype AFAIK.

[2022-01-21 03:40] junliume commented on #1372
@jbakhrai could you align with @okakarpa for the best time window for this task? Thanks!

[2022-01-21 03:42] junliume commented on #1368
@atamazov could you recommend someone from API to fix this? Email could work. Thanks!

[2022-01-21 11:00] DrizztDoUrden commented on #1325
I guess we could.

[2022-01-21 18:34] pfultz2 commented on #1372
The rocm versions should be backwards-compatible(except releases where the ABI is changed like in rocm 5.0). So we can use rocm 4.5 in the docker container.

What is the rationale for needing to upgrade to 4.5 on the bare machines? Why cant we wait for rocm 5.0 release to upgrade all the CI nodes?

There is a pretty long process to upgrade all the nodes, and we will definitely need to do this for