[2020-11-13 16:14] zjing14 commented on #588
@carlushuang At this moment, We may simply add it as a solver in to direct conv. Algorithm rather than a fallback as GEMM. It should be simpler than replacing GEMM as a fallback. @atamazov What do you think?

[2020-11-13 17:32] carlushuang commented on #588
Yes... and if have an algorithm name like `NAIVE_CONV` is very strange.

[2020-11-13 22:40] atamazov commented on #588
Of course, this is another Solver that implements Direct algo. Just add it to begin with.

Then open a ticket where we can discuss and decide how to integrate it into Immediate Mode Fallback. When decision is made, the implementation will not be a problem.

[2020-11-14 12:14] artyom-beilis commented on #480
Any updates on that issue? I'm trying to implement my own Winograd kernel and somewhat struggle to get decent performance.

 I would at least like to understand general data flow etc. i.e. how to optimally separate the load between different threads/work items. Layout of local memory for intermediate results. etc.

[2020-11-15 15:55] daniellowell opened #590 "Compiler warning in Winograd MP"
Warnings in Winograd compilation:

I see these warning pop up in our Jenkins:
[code]

http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/code-object-v4/20/pipeline/447

[2020-11-15 21:33] atamazov opened #591 "[CI] Resolve leftovers from PR 582"
Resolve/discuss leftovers from PR #582 :
- [x] https://github.com/ROCmSoftwarePlatform/MIOpen/pull/582#discussion_r523447898
- [x] https://github.com/ROCmSoftwarePlatform/MIOpen/pull/582#discussion_r523447971
- [x] https://github.com/ROCmSoftwarePlatform/MIOpen/pull/582#discussion_r523447988
- [x] https://github.com/ROCmSoftwarePlatform/MIOpen/pull/582#discussion_r523447999
- [x] https://github.co

[2020-11-16 04:45] csehydrogen opened #592 "Is it OK to run HIP kernels with OpenCL backend?"
[code]

MIOpen 2.8.0 compiled with OpenCL backend was used on Radeon RX 5700 XT.
Find() API returns 3 algorithms including `ConvHipImplicitGemmV4R1Fwd`.
Selecting the algorithm outputs wrong results, while other 2 algorithms calculate correctly.
Should I set `MIOPEN_USE_HIP_KERNELS=OFF` with OpenCL backend?

[2020-11-16 10:54] carlushuang opened #593 "Reference (naive) kernel tasks"
This issue is to track reference kernel features in MIOpen

- [x] 1. MIOpenDriver verification backend (PR:https://github.com/ROCmSoftwarePlatform/MIOpen/pull/583, by setting env var `MIOPEN_DRIVER_USE_GPU_REFERENCE`)
- [x] 2. Direct algorithm solver. (PR:https://github.com/ROCmSoftwarePlatform/MIOpen/pull/583, can solve issue: https://github.com/ROCmSoftwarePlatform/MIOpen/issues/588)
- [ ] 3. ct

[2020-11-16 11:01] carlushuang commented on #588
@zjing14 @atamazov  this reference kernel is added as a solver together in PR:https://github.com/ROCmSoftwarePlatform/MIOpen/pull/583, and open an issue:https://github.com/ROCmSoftwarePlatform/MIOpen/issues/593 for further discussion

[2020-11-16 15:39] #270 closed

[2020-11-16 15:39] #427 closed

[2020-11-16 15:50] alexandraBara commented on #560
@atamazov  I have been tuning and I am about to finish with it. I picked up this task today and started working on it. Should have a PR this week.

[2020-11-16 19:06] atamazov commented on #593
[Question] Shall we integrate it into Immediate Mode Fallback?

[2020-11-16 19:09] atamazov commented on #560
@alexandraBara Good, thank you!

[2020-11-17 01:58] carlushuang commented on #593
Hi @atamazov I believe ultimately we need implicit-gemm as a fallback. But before that happen, these naive kernel is OK to play the role.

[2020-11-17 15:49] asroy opened #597 "Redesign hip-iGEMM solver implementation"
1. Simplify ```IsApplicable()```: only depends on blockwise GEMM size
2. Refactor functions that calculate tuning parameters to avoid re-calculation if possible
3. Simplify ```EurisiticInit()```: choose a blockwise GEMM size, then calculate the rest of tuning parameter, which should be guaranteed to be ```IsReallyValid```
4. For tuning, use default and  "spare" set of tuning range. If generic_sear

[2020-11-17 16:47] JehandadKhan commented on #593
@carlushuang i assume this would be a dynamic kernel ?

[2020-11-17 18:21] zjing14 opened #598 "iGEMM tuning failure on gfx908"
Following configs from ResNext101 failed with tuning (MIOPEN_FIND_ENFORCE=4) on gfx908. These configs can pass with default tuning parameters (i.e., parameters from EnuristInit)

[code]

[code]

[code]

[code]

[code]

More from inception3
[code]

[2020-11-17 21:18] asroy commented on #597
@atamazov Feel free to give suggestions, we will use this chance to improve hip iGEMM solver quality

[2020-11-17 21:33] asroy commented on #598
@zjing14 We saw this issue before in other solvers. Is it also because of ```IsFastToBeUsedForTuning``` return false for all tuning parameter?

[2020-11-17 21:49] atamazov commented on #597
Please resolve this soon: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/595#discussion_r525427847

[2020-11-18 11:48] zpwenjh opened #600 "Backward Convolution Weights failed."
My software environment is rocm3.9+miopen2.8, I set `MIOPEN_FIND_MODE=1` and `MIOPEN_FIND_ENFORCE=3`.
Then, run the following commands:
[code]
finally, the backward convolution weights failed. The info is as follows:
[code]
I run these commands several times. Sometimes, the `BWrW Chosen Algorithm` is `ConvOclBwdWrW53` but the problem is remains.
But if I set `MIOPEN_FIND_MODE=3` and `MIOPEN_FIND_E

[2020-11-18 17:37] JehandadKhan commented on #494
@aserio These errors show up everytime we tune, polluting the results with failed configs. Can we set a priority on this and allocate some resources?

[2020-11-18 21:47] aserio commented on #494
I will bring this up in my 1:1 with @daniellowell tomorrow.

[2020-11-18 21:57] atamazov commented on #494
@JehandadKhan

Now I understand the reason why this is high priority

Can you use this strategy during tuning? Run `-F 1`, then `F 2` and then `-F 4`?

[2020-11-18 22:01] atamazov commented on #494
And please let us know how you would like the driver to fail in case of OOGM. Is it enough for the tuning infrastructure if it will return some error code (and an error message of course -- for humans)?

[2020-11-18 22:01] atamazov commented on #494
`OOGM` := Out Of GPU memory ;)

[2020-11-18 22:37] JehandadKhan opened #603 "Implicit GEMM compile time bug"
While running mask rcnn I am encountering the following error:
Arch is gfx908 on Ubuntu, the problem parameters may be inferred from the compile command line. From the log it appears that a check for `GemmKTotal % GemmKPack == 0 ` is missing.

[code]

[2020-11-19 02:59] carlushuang commented on #593
@JehandadKhan yes, it is dynamic

[2020-11-19 04:24] JehandadKhan commented on #603
Issue is fixed in develop

[2020-11-19 04:24] #603 closed

[2020-11-19 08:00] kiritigowda commented on #161
with ROCm 3.7 and above, the performance looks to be back to normal, can you confirm the fix?

[code]

[2020-11-19 18:25] atamazov opened #609 "ConvAsm3x3U: precision problems"
Use case (immediate mode):
[code]

[2020-11-19 18:43] atamazov commented on #609
@Kirpich30000 W/A created but this issue is still a blocker because #610 may affect performance.

Presumably the correct fix will narrow the scope of the solver. However, this is only a guess. We need to find out the root cause.

[2020-11-19 19:54] aserio commented on #494
@daniellowell will followup

[2020-11-19 20:21] atamazov commented on #609
Old Solvers often outperform modern ones. For example:
[code]
Notice that old OpenCL `MIOpenConvUni` outperforms Winograd. `ConvAsm3x3U` too, but it has precision issues.

When N=64, `ConvAsm3x3U` is the fastest and works correctly:
[code]
That is why I think it's worth to keep it.

BTW could it be so that the reason of the issue is that `ConvAsm3x3U` is not really applicable when N > 64?

[2020-11-20 04:38] zpwenjh opened #614 "[Find] Parallel compilation does not take full advantage of CPU performance"
As example:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/a6003098c1f042581b5ed13d7ebb0a6bfaf1c6b1/src/ocl/convolutionocl.cpp#L658-L697
The number of solutions returned by `FindWinogradSolutions` is much less than the number of hardware concurrency  in my practice. Thus, the parallel compilation in `PrecompileSolutions`  does not take full advantage of CPU performance. The later processes of

[2020-11-20 07:19] Kirpich30000 commented on #609
@atamazov I can't reproduce the failure on my test bench. The shader passes bit exact verification as well as shows good precision on [0; 1) distribution.

[2020-11-20 09:17] ZPEthanWen opened #616 "[Legacy OCL] Kernel cache in the binary cache is not hit for the "best" kernel after tuning."
In the tuning process, there is a problem.
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/a6003098c1f042581b5ed13d7ebb0a6bfaf1c6b1/src/solver/conv_ocl_dir2Dfwd_exhaustive_search.cpp#L170-L185
We can see this line:
[code]
This compiler options is used by `handle.AddKernel()` later, this solution with the additional compiler options will be compiled and cache the kernel in the memory and kernel

[2020-11-20 10:08] zpwenjh opened #618 "[Legacy OCL] The ConvOclDirectFwdLegacyExhaustiveSearch:Search is still serial compilation for solutions"
The `ConvOclDirectFwdLegacyExhaustiveSearch:Search` is calling `SearchImpl` function to tune the parameters. In the `SearchImpl`, the number of solutions is up to five hundred. But it still performs serial compilation for all solutions by calling `MeasurePerfConfig` function. This is very inefficient, will take a long time to complete.

[2020-11-20 12:29] ZPEthanWen commented on #616
This problem has been avoided by the PR #619 , so, if PR #619 is accepted, there is no need to accept the PR #617 again.

[2020-11-20 15:17] atamazov commented on #616
Nice finding ;)

[2020-11-20 15:22] atamazov commented on #616
Even if #617 is a one-liner, it worth dedicated PR. I recommend removing this change from #619.

[2020-11-20 15:35] atamazov commented on #616
Please note that during tuning kernels are not stored (and should NOT be stored) in kcache (kernel cache). Persistent binary cache is another story.

[2020-11-20 15:49] daniellowell opened #620 "Performance database is approaching maximum size 100MB"
Our current binary size for miopen.db is : 98,852,864B
We need to implement a solution to reduce its overall size.

[2020-11-20 15:59] atamazov commented on #620
[Proposal] Split by target.

[2020-11-20 16:15] daniellowell opened #621 "<space holder>"

[2020-11-20 16:31] atamazov commented on #621
Why this is needed? We'll need masking in the future anyway, for other devices.

[2020-11-20 16:36] JehandadKhan commented on #620
@atamazov  thats what I am going to do

[2020-11-20 20:42] daniellowell commented on #621
This is specifically for MI100. We don't need it anymore.

[2020-11-20 21:44] #621 closed

[2020-11-21 10:16] ZPEthanWen commented on #616
I agree with you. But the `Search` function in solver will call 'Handle::AddKernel' before run the kernel, and then `Handle::AddKernel` will call 'KernelCache::AddKernel`. This function has code as follows:
[code]
I can see if there is no program in the memory cache, then miopen will call `Handle::LoadProgram` to load program and add it to the memory cache.

[2020-11-21 10:27] ZPEthanWen commented on #616
@atamazov Sorry, I am wrong for current develop branch.

[2020-11-21 10:52] ZPEthanWen commented on #616
@atamazov , Handle::AddKernel will cache the program to memory cache

[2020-11-21 17:51] atamazov commented on #616
@ZPEthanWen FYI some details about `KernelCache::AddKernel()`. If algorithm or network_config is not provided, then the function does not add kernel to the kcache. The run-time object that represents the kernel will be freed as soon as the `Kernel` instance (returned) by `KernelCache::AddKernel()`) is destroyed. This frees GPU memory from temporary kernels.

[2020-11-22 18:53] DrizztDoUrden commented on #620
Theoretically, we may change string solver ids in db to numbers, but that would require more careful handling of them in the future. No one would be able to put a new solver in the middle of registration, otherwise, the database would be invalid.

[2020-11-23 17:52] Kirpich30000 commented on #609
First tests didn't show issues on kernel side. One thing to try is to use floats during verification.

[2020-11-23 18:20] atamazov commented on #609
@Kirpich30000 Could you please tell us which tests have you used, becuise driver fails.

[2020-11-23 18:44] Kirpich30000 commented on #609
I've run assembly kernel directly using testing app that I currently working on. Input data was randomly generated floats from the {0.0, +-4.0, +-3.0, +-2.0, +-1.0} set. The case `-W 256 -H 256 -c 256 -k 6 -x 3 -y 3 -n 128 -p 1 -q 1 -w 1` passes verification.

[2020-11-24 10:15] carlushuang commented on #575
A tentative fix would be change from
[code]
to
[code]

[2020-11-24 12:33] ZPEthanWen opened #624 "[Comgr] Unknown type name occurred while compiling kernel"
I configured miopen-2.8.0 with `-DMIOPEN_USE_COMGR=1` and compiled it. Then I used `./MIOpenDriver conv --batchsize 16 --in_channels 64 --out_channels 256 --iter 1 -V 0` to run `MIOpenDriver`. Eventually, I got an error while compiling kernel as follows:

<details><summary><b><i>Console log:</i></b></summary>

[code]
</details>

Is my environment configured wrong?

[2020-11-24 16:52] atamazov commented on #624
Please try with recent develop and let us know if problem persists. Thanks!

[2020-11-25 01:31] ZPEthanWen commented on #624
@atamazov I have tried with develop at `a6003098c1f042581b5ed13d7ebb0a6bfaf1c6b1`, but the problem remains.

[2020-11-25 11:27] atamazov commented on #624
I need to reproduce this locally. Please let me know ROCm version you are using and attach full console log taken with MIOPEN_LOG_LEVEL=6. Thanks.

[2020-11-26 09:39] ZPEthanWen commented on #624
@atamazov I'm using rocm-3.9.0, here is the log.
[bwd-default-findmode.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5601892/bwd-default-findmode.log)

[2020-11-27 21:56] atamazov commented on #235
I not not think that wasting of GPU resources is of middle value anymore.

[2020-11-27 22:53] atamazov commented on #235
Important note about correctness (affects design). We shall remove only Programs that were added by pre-compilation. We ___must keep___ the ones that were there prior to pre-compilation.

I am working on a fix.

[2020-11-28 14:30] atamazov commented on #235
Update. Found that "wasting of resources" is not related to PR 2400, see details at https://github.com/AMDComputeLibraries/MLOpen/pull/2400/files#r532044479.

@pfultz2 @shurale-nkn @Kirpich30000 Is it really so that Programs reside on GPU? If yes, then we can think about destroying unused Programs (in separate ticket). Let's decide and close this ticket.

[2020-11-28 20:08] atamazov commented on #624
As far as I see in the log:
[code]

`USE_HIP_PCH: 1` means that HIP runtime reports that it supports HIP PCH. However it is known that ROCm 3.9. is missing such support (due to bugs). MIOpen tries to use PCH and of course fails.

I would appreciate if you confirm that #627 + `MIOPEN_DEBUG_COMGR_HIP_PCH_ENFORCE=0` setting in the environment resolve the issue.

[2020-11-30 06:54] seesturm opened #629 "fatal error: 'cmath' file not found"
I'm getting "fatal error: 'cmath' file not found" when using tensorflow-rocm with ROCm-3.9.
System:
* ROCM 3.9
* miopen-hip 2.8.0.8181-rocm-rel-3.9-17-e1e0f9cb
* Vega 56

Log output at error:
[code]

[2020-11-30 20:06] atamazov commented on #616
@ZPEthanWen Notice that _Programs_ are different from _Kernels_ and are handled in different way. IIRC Programs are HIP/OCL runtime objects that do not consume memory on GPU. That is why the library always holds these objects (stores the owning pointers in a per-handle store, the so-called "kernel cache").

[2020-12-01 03:01] #481 closed

[2020-12-02 02:52] ZPEthanWen commented on #624
I've comfirmed that. The process runs successfully.

[2020-12-02 22:04] atamazov commented on #624
#627 updated to resolve this issue automatically.

[2020-12-04 08:07] carlushuang opened #636 "[hip-igemm] bwd v4r1 computation fail on this miopenDriver config"
latest develop branch will have computation fail on this config:
[code]

And this config is OK before this commit (thanks @asleepzzz ):
2a182a8c6a1456f0eace0e4665cc62942c238bbe  RFC: Add code object v4 support (#582)

cc @asroy  @asleepzzz  @sabreshao

disable find db by `MIOPEN_DEBUG_DISABLE_FIND_DB=1` also will fail

--------------------------------
=> after @asleepzzz  triage, commit: d949000

[2020-12-04 08:20] asleepzzz commented on #636
commit 2a182a8c6a1456f0eace0e4665cc62942c238bbe is ok

[2020-12-04 08:22] asleepzzz commented on #636
after tunning commit d949000495b80d4bc500c39b4e9f615ab996faab,failed

[2020-12-04 08:31] asleepzzz commented on #636
256-56-56-1x1-256-56-56-64-0x0-1x1-1x1-0-NCHW-FP32-B=miopenConvolutionBwdDataAlgoImplicitGEMM:ConvHipImplicitGemmBwdDataV1R1Xdlops,1.00004,0,miopenConvolutionBwdDataAlgoImplicitGEMM,<unused>;miopenConvolutionBwdDataAlgoDirect:ConvAsm1x1U,1.3629,0,miopenConvolutionBwdDataAlgoDirect,<unused>;miopenConvolutionBwdDataAlgoGEMM:gemm,1.37184,0,rocBlas,<unused>;miopenConvolutionBwdDataAlgoWinograd:ConvBin

[2020-12-04 08:32] asleepzzz commented on #636
ConvHipImplicitGemmBwdDataV1R1Xdlops not purged ,@asroy

[2020-12-04 09:31] atamazov opened #637 "Weird output of test_tensor_vec"
I think this needs to be investigated.
<details><summary><b><i>Click to see screenshot</i></b></summary>

![image](https://user-images.githubusercontent.com/12697412/101146454-109b3480-362c-11eb-892c-59ad8537b5a1.png)
</details>

[2020-12-04 09:35] asleepzzz commented on #636
this issue is very  confusing because it do not use ConvHipImplicitGemmBwdDataV4R1Xdlops,
but it still show Solution is ConvHipImplicitGemmBwdDataV4R1Xdlops

[2020-12-04 09:58] atamazov commented on #636
I guess that the reason is some of the recent changes that affect PerfConfigs.

We can't use tip of develop for tuning of system databases because tuning procedure is very long. ___So when the next round of tuning begins, there is always some time window when PRs that affect system databases must NOT be merged.___

I think that all the PRs that may affect perf-db records should be marked with `nee

[2020-12-04 10:07] atamazov commented on #636
Someone please investigate & explain the reason for the failure. The topmost comment says that the failing solver is ConvHipImplicitGemmBwdData***V4***R1Xdlops.

The find-db entry for ConvHipImplicitGemmBwdData***V1***R1Xdlops cannot be the cause of its failure.

[2020-12-04 10:11] asleepzzz commented on #636
don't rely on the solver name.....
you can back to previous commit and set solver as 60 (ConvHipImplicitGemmBwdDataV4R1Xdlops),
it can pass.....

with the db,the error is 0.25xxx,it must not produced by V4R1....

[2020-12-04 10:14] atamazov commented on #636
Do you suspect that perf-db record for solver 60 is invalid?

[2020-12-04 10:18] asleepzzz commented on #636
no , you can't use solver no longer exist in db,
or it will return you a error data,
you can just add V1R1 to the db, select the config you want to try,
add V1R1 as first choice, you can see the issues

[2020-12-04 10:19] atamazov commented on #636
To check, you can run tuning for the failing problem. Invalid record from the system find-db will be superseded by the user's record. Or you can simply remove the system find-db and check if the solver works fine with default Perf-Config.

[2020-12-04 10:21] asleepzzz commented on #636
we meet similar issue in jira 258337, just remove ConvHipImplicitGemmBwdDataV1R1Xdlops in db, everything is ok

[2020-12-04 10:22] atamazov commented on #636
This is driver's limitation, not the library's one. I am working on the fix. Can send you a patch for preview, if you wish.

[2020-12-04 10:25] atamazov commented on #636
Are you saying that removal of V1R1 record from the find-db resolves issue in the V4R1 solver???

[2020-12-04 10:33] asleepzzz commented on #636
You can ignore V4R1.......
Just try add V1R1 everywhere in db to try

[2020-12-04 10:34] asleepzzz commented on #636
@JehandadKhan

[2020-12-04 10:37] atamazov commented on #636
Okay, but then why the topmost comment says that V4R1 was used? Typo?

I need MI100 node for that, but I do not have it immediately ready to use (I need ~a hour at least to set up).

[2020-12-04 10:38] atamazov commented on #636
(@asleepzzz thanks for the answers, let's take a break)

[2020-12-04 10:49] asleepzzz commented on #636
I know this issue is confusing,
logs showed it’s v4r1 and error number is huge
(0.25xxx)

If the config can’t find any solver, it will also return results with huge error

Before jd add protection, we can’t use legacy solver in db.

[2020-12-04 10:52] atamazov commented on #636
@asleepzzz Please attach some failing log (level 6), I would like to take a look. Thanks.

[2020-12-04 11:06] carlushuang commented on #636
@atamazov log updated in this issue description

[2020-12-04 11:18] atamazov commented on #636
From the log I see that V4R1 and GEMM are read from find-db, then Hybrid Find mode decides to use V4R1. Immediate Mode machinery normally reads perf-db, builds the kernels, and so on. Excerpt:
[code]
It seems like V4R1 has correctness problems with `PerfConfig = {64,256,1,4,128,64,1,1}`.  Also it could be so that ROCm 3.5 has buggy compiler.

[2020-12-04 11:23] atamazov commented on #636
Perhaps it is worth looking at the log from the clean experiment. Could you please remove the User Find-db and attach another log. Thanks.

[2020-12-04 11:44] atamazov commented on #636
@asleepzzz patch for the driver that allows using any solver id in immediate mode: [driver-imm-enable-any-solver.diff.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5642479/driver-imm-enable-any-solver.diff.txt)

[2020-12-04 13:16] atamazov commented on #636
@asleepzzz #638 adds also support for symbolic names in `-S`.

[2020-12-04 15:42] daniellowell commented on #636
Typically if the release branch gets too far from the `develop` branch I don't back merge. But you're right that `develop` is always in danger of being in a bad state due to tunings not being in synch with the tip.

Until we have per-PR tuning we will have this potential hazard. We can keep raising issues and tagging PRs as Artem is suggesting. This is something I've requested from a while back an

[2020-12-04 19:06] carlushuang opened #639 "potential immediate bwd crash"
found a potential crash in immediate mode API of bwd

[code]
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/e06e6c0c6e8c827419e8dce8de0af484f86fc715/src/ocl/convolutionocl.cpp#L2739

Right after context is created by `auto ctx=...`, where should be a `ctx.SetStream(&handle);` to set stream of the newly created context (fwd/wrw immediate already have this setStream, but not bwd). Otherwise the

[2020-12-04 20:24] asleepzzz commented on #636
there are 3 issues:
1. db use solver which no longer exist
2. after commit 9d2c25012cc3795bc144785ef53f9a5545619771,
if we have some tunning configs can't use , we can THROW it instead of assert in ConvHipImplicitGemmBwdDataV4R1Xdlops::GetSolution  and will not use this config
but I think we need more protection in invoker
@alexandraBara @atamazov @DrizztDoUrden
3.some corner cases v4r1bwdxdlops d

[2020-12-04 23:06] atamazov commented on #609
Triaged: `ConvAsm3x3U` does not support input/output buffers larger than 4GiB.

[2020-12-04 23:25] atamazov commented on #639
Thank you @carlushuang , nice catch! Could you please make dedicated PR and assign blocker urgency for it. Thanks.

[2020-12-04 23:32] atamazov commented on #636
You should implement in the Solver the following method correctly:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/0e0fdd7471d5ea2a75fdab64cdaab5819e8d6f7c/src/include/miopen/solver.hpp#L96-L102
Then the core of the library will do the rest of the job for you. It will throw away invalid PerformanceConfig, issue an error message and regenerate the PerformanceConfig using `yourSolver::GetPerform

[2020-12-04 23:34] atamazov commented on #636
Outdate find-db may lead to performance drops. This is known limitation. Correctness issues are not possible provided that the rest of the library is working properly.

[2020-12-05 02:48] asleepzzz commented on #636
PR 601 not updated yet, I can’t push code now

[2020-12-05 02:56] asleepzzz commented on #636
IsValidPerformanceConfig Already exist,
Not everytime IsValidPerformanceConfig is called

[2020-12-05 04:04] carlushuang commented on #639
@atamazov Sure, let me create one.

[2020-12-05 15:56] #624 closed

[2020-12-05 17:05] atamazov commented on #636
@asleepzzz If you mean that `IsValidPerformanceConfig` is not called when needed (and because of that, the wrong configs come from the perf-db to the solver), then there is a bug in the library core that I am not aware of yet. Please describe the use case scenario so that we can reproduce and fix the bug.

[2020-12-05 19:36] atamazov commented on #410
@aserio Staus updated at https://github.com/ROCmSoftwarePlatform/MIOpen/issues/410#issuecomment-683985700

[2020-12-05 21:13] seesturm commented on #629
Uninstalled some packages. Not sure which ones, but I guess it was gcc. Now error is gone.

[2020-12-05 21:13] #629 closed

[2020-12-07 03:18] asleepzzz commented on #636
use this config and close gemm,direct,winograd,
then export MIOPEN_FIND_ENFORCE=4 (important,without this , you can't reproduce)
I have a config which not selected bt current solver, if you need , I can give you the patch
PR 644 can fix 2 issues ,please also help to review

[2020-12-07 16:22] #639 closed

[2020-12-07 16:22] #135 closed

[2020-12-07 16:36] JehandadKhan opened #647 "Remove ConvOclDirectFwd3x3"
The legacy `ConvOclDirectFwd3x3` solver has serious correctness issues pertaining to large buffer sizes. Since this solver is rarely picked by MIOpen for convolution operations, this solver may be removed altogether.

@daniellowell Thoughts ?

[2020-12-07 16:41] atamazov commented on #559
ROCm 3.9, Navi21

[2020-12-07 17:06] atamazov commented on #647
How to reproduce: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/642#issue-533029738

[2020-12-07 18:49] atamazov commented on #609
Since ConvAsm3x3U has the best performance in cases where Winograd has high granularity loss (e.g. when C > K like in the example above), lets update the kernel to make it supporting huge buffers. That will be the complete fix.

PR #643 is a compromise; it will reduce urgency of this issue down to high or middle.

[2020-12-07 19:47] #352 closed

[2020-12-07 19:47] #284 closed

[2020-12-07 19:48] #241 closed

[2020-12-07 19:48] #237 closed

[2020-12-07 20:21] atamazov commented on #460
#489

[2020-12-07 20:21] #460 closed

[2020-12-07 20:21] atamazov commented on #336
#489

[2020-12-07 20:21] #336 closed

[2020-12-07 20:24] #387 closed

[2020-12-07 20:53] atamazov commented on #309
@daniellowell Right now we have workaround. I recommend checking if problem is fixed in the recent compiler and disable it. Could you please make an assignment?

[2020-12-07 20:56] atamazov commented on #263
Nobody else complains.

[2020-12-07 20:56] #263 closed

[2020-12-07 20:57] atamazov commented on #242
Already done.

[2020-12-07 20:57] #242 closed

[2020-12-07 20:59] atamazov commented on #235
@pfultz2 @shurale-nkn @Kirpich30000  Ping

[2020-12-07 21:02] atamazov commented on #197
@JehandadKhan Do we already have a fix for this in develop?

[2020-12-07 21:03] #136 closed

[2020-12-07 21:07] JehandadKhan commented on #197
@atamazov Not yet, this is a pending issue.

[2020-12-07 22:14] atamazov commented on #636
@asleepzzz

Do you mean that unwanted behavior happens during tuning?

[off-topic] I highly recommend using markdown formatting, see https://guides.github.com/features/mastering-markdown/

[2020-12-08 03:29] asleepzzz opened #648 "dynamic igemm not applicable for many cases"
dynamic igemm can't pass
just make test_conv_igemm_dynamic_small

[2020-12-08 05:55] carlushuang commented on #648
this test `test_conv_igemm_dynamic_small` is for non-xdlops and should not be run in xdlops environment.

[2020-12-08 06:17] carlushuang commented on #648
most resent CI pass all is http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/develop/168/pipeline

[2020-12-08 16:49] daniellowell commented on #648
@asleepzzz Add long logs as attachments.

[2020-12-08 17:29] jeffdaily opened #650 "llvm.amdgcn.buffer.atomic.fadd.f32 Intrinsic has incorrect return type"
Built a PyTorch wheel based on PyTorch 1.7 branch and MIOpen develop branch commit 81a206f57dad1fb3620fc55e354fc2b8833647a5.

[code]

When executing the pytorch microbenchmark, the following error occurred at runtime.

[code]

[2020-12-08 18:15] #616 closed

[2020-12-08 22:47] sunway513 commented on #650
Some more logs in case helpful:
[code]

[2020-12-09 09:21] jianlongf opened #651 "Example of use and/or documentation"
HI， I wanna integrete MIOpen into my framework( call the MIOpen kernel implementation) that uses OpenCL kernel implementation.  In order to make it, I have to transfer data to MIOpen and get back compute result. But I have not found the guide  or example about that yet.  Could you please give me one.

[2020-12-09 15:51] daniellowell commented on #651
You have a new OpenCL kernel you want to integrate into MIOpen?

[2020-12-09 16:00] atamazov commented on #650
@jeffdaily Are you intentionally use COMgr?

[2020-12-09 16:16] atamazov commented on #650
@jeffdaily What is the version of HIP? The library reports it in the following log line (once):
[code]

The `llvm.amdgcn.buffer.atomic.fadd.f32` intrinsic had a `void` return type before 3.10. Since ROCm-3.10, the return type becomes `float`. What is valid return type now?

@asroy The fix should be provided here:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/fa04cffdbb8550452cfd7ccdaeec2b903

[2020-12-09 16:25] atamazov commented on #650
Perhaps David Salinas can answer, [see here](http://ontrack-internal.amd.com/browse/SWDEV-255582?focusedCommentId=6465612&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-6465612).

[2020-12-09 16:31] atamazov commented on #650
@jeffdaily And thanks for opening an issue here.

[2020-12-09 16:38] atamazov commented on #651
@daniellowell AFAICS @jianlongf simply wants to use MIOpen normally, as a library, and asks for assistance -- examples and/or documentation.

@jianlongf First [install MIOpen on your system](https://rocmsoftwareplatform.github.io/MIOpen/doc/html/install.html), then look into miopen API ([docs](https://rocmsoftwareplatform.github.io/MIOpen/doc/html/apireference.html) and [public header file](https:

[2020-12-09 16:55] zjing14 commented on #650
@jeffdaily @sunway513 What is the rocm version/docker you are using? I cannot reproduce the issue.

[2020-12-09 17:00] atamazov commented on #650
@zjing14 I am reaching them by mail

[2020-12-09 17:37] atamazov commented on #648
@carlushuang

Is it related to this issue?

[2020-12-09 17:40] atamazov commented on #648
[off-topic]

You can also use collapsible sections:
[code]

[2020-12-09 20:41] atamazov commented on #650
@jeffdaily please look at HIP version. The library reports it in the following log line (only once):
[code]
If you're using ROCm 3.10, then it should be >= 3.10.20405.

[2020-12-09 22:01] atamazov commented on #650
We need to check if ROCm 3.10 really wants "void" intrinsic and then decide about a fix.

[2020-12-10 00:55] asroy commented on #309
I tried rocm3.9, but these cases still failed if using -O3, but pass if using -O1.

But they are no longer having memory access fault, instead they produce wrong result (if using -O3). This error can be captured by:
bin/test_conv2d --input 8, 64, 54, 54 --weights 64, 64, 3, 3 --pads_strides_dilations 1, 1, 1, 1, 1, 1 --disable-forward --disable-backward-weights --bfloat16 -v

which is testing the

[2020-12-10 07:42] asleepzzz commented on #648
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/fix_v4r1bwd_tunning/5/pipeline/

[2020-12-10 07:43] asleepzzz commented on #648
<details><summary><b><i>HEADLINE</i></b></summary>

[code]
</details>

[2020-12-10 17:13] asroy commented on #648
What is the cause of issue? The test for asm-iGEMM contains some cases not supported by asm-iGEMM?

[2020-12-11 06:44] carlushuang commented on #648
`test_conv_igemm_dynamic_small` should only apply to gfx906, not 908. But this test do not have `SKIP_UNLESS_ALL` flag and seems always keeped up in gfx908 environment. So for simplicity and easy of maintain, merge `test_conv_igemm_dynamic_small` and `test_conv_igemm_dynamic` together with `SKIP_UNLESS_ALL` set https://github.com/ROCmSoftwarePlatform/MIOpen/pull/649/files

[2020-12-11 14:15] Kirpich30000 opened #654 "[gfx10] CU count reported by HIP & OCL runtime have different meaning"
Looks like runtime will report number of WGPs instead of CUs. In that case winograd shader will be dispatched only on half of the gpu. It needs to be checked.

[2020-12-11 17:42] atamazov commented on #654
Which runtime, OCL or HIP?

[2020-12-11 22:08] Kirpich30000 commented on #654
Both

[2020-12-11 22:16] atamazov commented on #654
Not a bug in runtimes, I guess?

[2020-12-11 23:21] atamazov commented on #647
#642

[2020-12-11 23:21] #647 closed

[2020-12-11 23:23] atamazov commented on #609
The original bug resolved. We have updated kernel on hand and going to integrate it & remove limitations introduced in #643.

[2020-12-14 02:53] jianlongf commented on #651
Ok, thank you for your help. I have found the sample I need. [https://qiita.com/syoyo/items/2a2038d665499f1f6df1](url). It should be useful for someone who meet the same question.

[2020-12-14 02:54] #651 closed

[2020-12-17 17:25] asroy opened #656 "Post-merge issue of PR #644"
The corresponding logic in #644 should be ok, but some threads may not do copy thread-wise copy. This logic may be better:
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/644#discussion_r545192142

This logic need to be inspected:
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/644#pullrequestreview-554817964

[2020-12-18 14:42] asleepzzz commented on #656
this logic due to
./bin/MIOpenDriver convfp16 -n 256 -c 1024 -H 14 -W 14 -k 256 -y 1 -x 1 -p 0 -q 0 -u 1 -v 1 -l 1 -j 1 -m conv -g 1 -F 2 -t 1
failed, I will look into it

[2020-12-19 16:03] tpkessler opened #658 "Build fails with boost 1.75"
When compiling MIOpen 4.0.0 from source with boost 1.75 on Arch Linux I get multiple error messages regarding `noinline`, for instance:

[code]

MIOpen compiles fine however when I downgrade boost to 1.72.

[2020-12-21 15:57] asleepzzz opened #659 "[gfx900][gfx906][igemm] non-xdlops failed when isa scratch"
PR is :
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/657/
But it just add restrictions, we still need to find real root cause for this ci fail:
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/reshuffleAndReduceTestCases/160/pipeline

[2020-12-23 15:09] zjing14 commented on #659
The scratch memory issue is triggered by the tail in the kernel as below. The tail + k_loop may require too many registers for the compiler.

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/2ea0b12ee6cb14f1459f596f2c5a2243c8b27246/src/kernels/composable_kernel/include/kernel_algorithm/gridwise_convolution_implicit_gemm_v4r1_nchw_kcyx_nkhw_lds_double_buffer.hpp#L390-L431

[2020-12-23 16:18] atamazov commented on #659
The following review must be resolved ASAP:
- [ ] https://github.com/ROCmSoftwarePlatform/MIOpen/pull/657#pullrequestreview-558042187

[2020-12-24 15:30] atamazov commented on #557
AFAICS, the workaround will fix correctness for gfx10. The objective is a full-blown fix that should take into use new LLVM intrinsics and, thus, restore performance.

[2020-12-25 18:18] atamazov opened #664 "Complete workaround for MLOPEN issue 1057"
Code quality issue here:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/35142af8a2978d2cb4e3d7854553767943057841/src/ocl/mloNorm.cpp#L154-L167
Originated from https://github.com/AMDComputeLibraries/MLOpen/pull/1058

Proposal:
- At first, check if workaround is still required for the oldest ROCm we support (3.0?) If it is not required, then remove it and we are done.
- Otherwise:
  - Formalize

[2020-12-29 23:51] atamazov opened #666 "[cmake][OCL BE] "HIP compiler flags" are missing some options."
Found with ROCm 4.1 RC. Reproducible with ROCm 3.5.

The following flags are missing from `HIP Compiler Flags` when OCL backend is used:
- `-mllvm -amdgpu-early-inline-all=true`
- `-mllvm -amdgpu-function-calls=false`

The side effect is **_huge_** performance drop of HIP kernels with OCL BE.

Example (Radeon VII, ROCm 3.5):
- Config `conv -x 3 -y 3 -W 17 -H 17 -c 192 -n 128 -k 192 -p 0 -q 0 -u 2

[2020-12-29 23:52] atamazov commented on #666
Notice nice issue number :smiling_imp:

[2021-01-04 03:11] zpwenjh opened #667 "[RNN] Wall-clock time elapsed much longer then GPU kernel time elapsed"
lstm forward training:
[code]
lstm backward data:
[code]
lstm backward weights:
[code]
The Wall-clock time elapsed much longer then GPU kernel time elapsed in LSTM forward and backward data process. That's to say, a lot of time is spent on CPU rather than GPU computing.
[fwd_cached.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5762852/fwd_cached.log)
[bwd_data_cached.log](https://githu

[2021-01-04 17:20] zjing14 opened #668 "Double check a tuning parameter from perfdb"
Issue
------
- Current MIOpen does not check the validation of a tuning parameter from perfdb. Thus, after fixing the tuning of a solver, we need to re-tune perfdb, otherwise, problematic tuning parameters will still be loaded.

Solution
------
- Double-check the validation of a tuning parameter loaded from perfdb; if it is invalid, get a default tuning parameter
- Better to have the infrastructur

[2021-01-04 19:31] daniellowell commented on #668
This is an issue that can occur in the field if we fail to detect an error during testing. Or also in our CI if a perf-db exists that contains un-updated config for a solver.

[2021-01-04 19:33] daniellowell commented on #410
@atamazov What is left in this task list?

[2021-01-04 19:47] daniellowell commented on #658
Our requirements pin the boost version 1.72. I'll update our documentation to reflect that.

You can install the minimal requirements for MIOpen using the command:
`cmake -P install_deps.cmake --minimum --prefix /some/local/dir`

and then configure with:
`CXX=/opt/rocm/llvm/bin/clang++ cmake -DMIOPEN_BACKEND=HIP -DCMAKE_PREFIX_PATH="/some/local/dir" ..`

See more information here:
https://rocmsoft

[2021-01-04 19:56] daniellowell commented on #560
@alexandraBara @atamazov Is this `urgency_blocker` ticket ready to close?

[2021-01-05 03:14] daniellowell commented on #658
Documentation has been updated in our develop branch. Please feel free to reopen if you have additional questions.

[2021-01-05 03:14] #658 closed

[2021-01-05 03:16] daniellowell commented on #650
@jeffdaily A number of questions have been asked here, can you provide details?

[2021-01-05 15:22] pfultz2 commented on #658
Actually, this is a bug in HIP, as its defining a `__noinline__` macro and boost is trying to use the attribute `__noinline__` causing the error. I think we should file a ticket with the HIP team.

[2021-01-05 16:22] daniellowell commented on #559
@atamazov redirecting this to @zjing14

[2021-01-05 16:36] zjing14 opened #670 "[gfx10] ConvOclBwdWrW1x1 fails"
ROCm 4.0, Nav21

Fp32
[code]

[code]
Fp16
[code]

[2021-01-05 18:00] ce1adon commented on #667
@ZPEthanWen Which version are you testing?

[2021-01-05 20:23] zjing14 commented on #559
@daniellowell Could you point me to the log of failures or show me which configs? Cannot get failures with @atamazov 's cmd (ROCm 4.0 on Navi21).

[2021-01-06 00:17] asroy commented on #650
@jeffdaily from the email, you are using 3.10.20465, which doesn't have the intrinsic return type change yet, resulting compilation failure.
[code]

However, QA's docker 3.10.20412-d9f655f5 already contains the type change. This is strange.
http://ontrack-internal.amd.com/browse/SWDEV-255582?focusedCommentId=6549548&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-6549

[2021-01-06 01:31] ZPEthanWen commented on #667
@ce1adon I'm using `miopen-develop` at `b86f3a1acce8766d6e72a7c450dbfd173ee76d4d` in rocm-3.9，the gemm algorithm in RNN is performed by rocBLAS.

[2021-01-07 17:26] tpkessler commented on #658
Thank you! Installing `boost 1.72` via `cmake` does the trick for me.

That's interesting. Thank you for the information.

[2021-01-08 20:38] asroy commented on #650
According to compiler team, the compiler change in this JIRA (http://ontrack-internal.amd.com/browse/SWDEV-255582) has NOT made into rocm3.10 or rocm4.0 as planned. Therefore, the return type of buffer atomic in rocm3.10 and 4.0 should be still be ```void``` and NOT ```float```

This issue reported by @jeffdaily is reproducible on gfx908 with release docker ```rocm/pytorch:rocm4.0_ubuntu18.04_py3.

[2021-01-08 21:37] atamazov commented on #650
@asroy Thank you for the investigations! :+1:

Some kind of confusion with HIP versions. How did it happen that everything worked fine in the staging with version 3.10.20412 (that was 3.10 RC), but then the new intrinsics did not get into either 3.10 or 4.0? I don't clearly understand what is going on.

The simplest hot-fix is changing
[code]
to
[code]

[2021-01-08 21:47] atamazov commented on #650
But they have it in the staging? If so then, removal of `float` return type will lead to failure in the staging.

[2021-01-08 22:05] atamazov commented on #410
Basically nothing. All the necessary redesign (required for GetWti) is done and the minimal implementation is ready. So this specific ticket can be closed, I think.

I believe we can  further improve performance by adding `GetWti()` implementations to some other dynamic solvers. To figure this out, I would recommend:
- testing performance with important networks,
- identifying weak points/areas,
-

[2021-01-08 22:08] atamazov commented on #559
Perhaps compiler issue is fixed in 4.0

[2021-01-08 22:10] atamazov commented on #560
@daniellowell I don't think so.

[2021-01-08 22:23] asroy commented on #650
QA was using a 3.10.20412 rocm docker, but a newer compiler for the JIRA test.

[2021-01-09 16:58] atamazov commented on #650
@asroy @daniellowell

This may mean complete mess. It is likely that 671 will break their staging. To keep their staging in workable state, we need detailed HIP compiler version information. What we have right now does not give us necessary information:

[code]

Alternatively, _we can add a CMake variable_ to tell MIOpen that HIP compiler and libraries are of some RC version, like this:
[code]
QA

[2021-01-11 16:35] JehandadKhan opened #675 "Purge corrupt Perf Db entries"
The following solvers have updated `IsValid` method in the Performance Config and obsolete / corrupt entries need to be purged from the Perf Db

- [ ] Solver 1 ??

@zjing14  Please update the description above so we can assess what needs to be checked as well as retuned

[2021-01-11 16:58] zjing14 commented on #675
@JehandadKhan Updated.

[2021-01-12 16:46] JehandadKhan commented on #620
@daniellowell  @atamazov @DrizztDoUrden @pfultz2 Ticket description updated, please share your opinion about the two options described above.

[2021-01-12 20:03] pfultz2 commented on #620
Is possible the AI models would cover most of the DB? So if the DB is missing, if we at least include the AI models, there wouldn't be a big performance regression when a user clones without ltfs.

[2021-01-12 20:09] pfultz2 commented on #620
Also, what is size of the db if we compress it with bzip2? Another option could be to decompress it during cmake time. At least this could buy us time until the AI models are merged.

[2021-01-13 13:49] ltqin commented on #557
@asroy you mean need to test  out intrinsic  like "llvm.amdgcn.raw.buffer.load.v4f32"?
https://github.com/llvm/llvm-project/search?q=raw+buffer+load

[2021-01-13 20:10] asroy commented on #557
Yes, it's not fully tested yet.

[2021-01-13 20:29] ce1adon commented on #667
@zpwenjh What graphic card and CPU do you have?

[2021-01-14 00:11] ce1adon commented on #667
@zpwenjh I tested your cases and the rate of kernel time to wall time is 73.8%, 80.2% and 95.3% for forward, backward and weight (yours are 66%, 68%, and 97%). May I know your expectation?

[2021-01-14 22:44] atamazov commented on #620
@pfultz2

miopen.db contains performance tuning parameters, so even if AI will select the best solution, the performance will suffer. find-db are not that big yet (25 MB max so far).

AFAICS compression rate is ~5:1 for miopen.db and ~15:1 for .fdb.txt files.

[2021-01-14 23:10] atamazov commented on #620
@JehandadKhan Thanks for very good analysis. I am not against `git-lfs`, but I would vote for the simplest solution. One of the benefits of simplicity is that even if it is wrong, it is still easy to roll back (and try something else).

Hopefully not that soon. It took us about of 2 years to fill 100MB. At this rate, if we split db (so avg file size is reduced by ~4X), then we will have another...

[2021-01-14 23:27] zjing14 opened #683 "Memory fault with ConvBiasActivAsm1x1U on ROCm 3.10"
- Reported by http://ontrack-internal.amd.com/browse/SWDEV-263191
- Isolated the failing config
[code]
- Bisect and identify the failure is related to the PR (https://github.com/ROCmSoftwarePlatform/MIOpen/pull/203)

[2021-01-16 00:16] atamazov opened #684 "#674 breaks MIOpen for ROCm 4.0 release."
#674 breaks MIOpen for ROCm 4.0 release. The reason is that HIP version number in the staging is smaller than HIP version number in 4.0 release:

  | ROCm 4.0 | Staging docker with 4.1 RC (6220)
-- | -- | --
HIP version  | 4.0.20496 | 4.0.20482

That is, the version in the internal staging for 4.1 is smaller than existing 4.0 release. Therefore, when #674 is used with 4.0 release, it engages some

[2021-01-16 02:59] asroy commented on #309
Tried rocm/miopen-private:compute-rocm-dkms-staging-4309

The issue is gone

[2021-01-16 23:27] atamazov commented on #309
@asroy Great! We can switch the workaround OFF and then close the issue as soon as we see that the issue is gone in some ROCm release.

[2021-01-18 15:19] shurale-nkn opened #686 "false alarm in CI when verbose or time flag is ON"
test_gru_extra script fails verification and often interferes with PR testing

[code]

gfx906 rocBLAS 2.32.0.2844-cc18d25f
<details><summary><b><i>LOG level3</i></b></summary>

[code]
</details>

<details><summary><b><i>LOG level6</i></b></summary>

[code]
</details>

[2021-01-18 17:19] atamazov commented on #684
This is W/A for ROCm 4.0: [resolve_684_for_rocm4.0.diff.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5831651/resolve_684_for_rocm4.0.diff.txt)

[2021-01-19 13:19] atamazov commented on #591
I do not care about that anymore

[2021-01-19 13:19] #591 closed

[2021-01-19 22:48] cderb opened #689 "Errors observed in ROCm Tensorflow docker when installing latest develop"
gfx908
docker: rocm/tensorflow:latest
MIOpen branch: develop 4ae5799347d139c87553d62e6164d0cee630cb13

Building and installing the latest branch of MIOpen in place of the default miopen in the latest rocm/tensorflow docker leads to errors in the benchmarks.
typically ending in:
[code]
example logs
alexnet
https://amdcloud-my.sharepoint.com/:u:/g/personal/cerb_amd_com/ETU39h5CYh1HtT9EcoOKs1IB7U_2Ww

[2021-01-19 23:47] atamazov commented on #689
@cderb Thanks for the info. I am expecting that https://github.com/ROCmSoftwarePlatform/MIOpen/pull/690 resolves this. Please give it a try, if you have time.

[2021-01-20 07:13] cderb commented on #689
It does appear to have solved the unmap file error, though as of 1c46da844824d2334354e716415b494ecfc9dbc6 there is a new error.
[code]

[2021-01-20 15:09] atamazov commented on #560
The TODO list at https://github.com/ROCmSoftwarePlatform/MIOpen/issues/560#issuecomment-719842997 is updated. Note that there is one bug that presumably affects auto-tuning, not fixed for long.

[2021-01-20 15:33] atamazov opened #692 "[RNN][OCL BE] test_lstm fails due to OCL compiler warning"
- The test fails with compiler mainline builds 6326 and 6416 at least.
- Most likely, the reason is change in the compiler - a new warning was added recently or some bug (false warning) introduced.
- Who is affected
  - The problem should NOT affect the end users (warnings do not lead to errors in non-developer builds)
  - QA should not be affected because they use non-developer builds as well.

[2021-01-20 17:30] asroy opened #693 "Default find mode is not checking IsApplicable()"
The default find mode is not checking IsApplicable(), therefore, these ENV would not disable the solvers if they are in find-DB

[code]

[2021-01-20 18:26] ce1adon commented on #692
@atamazov Which architecture?

[2021-01-20 19:35] atamazov commented on #692
This is gfx906.

[2021-01-20 19:37] atamazov commented on #693
This should not be so. Please let me know how to reproduce the issue.

[2021-01-20 20:49] asroy commented on #693
QA found they cannot disable HIP-iGEMM and ASM-iGEMM with above ENV and default find mode, when we are debugging this ticket http://ontrack-internal.amd.com/browse/SWDEV-264323

It's still a hypothesis that when there is entry in find-db, IsApplicable() will be bypassed, I will update this issue when it's confirmed. Right now We are just debugging the convergence issue itself

[2021-01-20 21:25] asroy opened #694 "Assess performance impact of ConvHipImplicitGemmV4R1WrW and deprecate it"
```ConvHipImplicitGemmV4R1WrW``` is not maintained well. Need to remove it after accessing performance impact.

[2021-01-20 21:39] asroy commented on #694
closing. ConvHipImplicitGemmV4R1WrW is used quite often

[code]

[2021-01-20 21:39] #694 closed

[2021-01-20 22:14] DrizztDoUrden commented on #560
About auto-tuning: lines like `MIOPEN_FIND_ENFORCE=SEARCH_DB_UPDATE bin/MIOpenDriver conv -x 1 -y 1` fail horribly.

[2021-01-20 22:17] DrizztDoUrden commented on #560
@daniellowell I guess that's worth investigation and if I understood correctly, @atamazov has found the PR which caused it: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/533#discussion_r520911050

[2021-01-20 23:59] atamazov opened #697 "[OpenCL backend] Remove HIP unbundling when OCL runtime is ready"
Remove HIP unbundling from OpenCL BE as soon as [loading bundled program is added to OpenCL runtime](http://ontrack-internal.amd.com/browse/SWDEV-268562).

_Originated from https://github.com/ROCmSoftwarePlatform/MIOpen/pull/685#issue-556245151_

[2021-01-21 01:40] littlewu2508 opened #698 "boost::filesystem Too many open files"
I'm using Pytorch-1.7.1 build with rocm-4.0. It uses MIOpen to convolute, and when it cannot find implementation from kernel database, it compiles new kernels to /tmp/miopen-*.

However, when the program is generating too many new objects, the process is opening too much files without closing them, and cause boost::filesystem throw "Too many open files" and abort the program. So it seems that some

[2021-01-21 01:50] littlewu2508 commented on #698
I ran lsof -p pid to trace the opened files every 100 seconds, and as the log shows the number of opened files was increasing. A lot of deleted map files were not closed, and was accumulating.

[lsof1.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5846291/lsof1.log)
[lsof2.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5846292/lsof2.log)
[lsof3.log](https://github.com/ROCmSof

[2021-01-21 01:58] littlewu2508 commented on #698
A typical backtrace after catching abort: (note that backtrace differs every time, because there are multiple location opening new files in MIOpen codes, all of which can cause the file number limit exceeded)

[code]

[2021-01-21 02:35] littlewu2508 commented on #698
boost::filesystem::unique_path also frequently encounters this error

[2021-01-22 20:16] atamazov commented on #693
The library was intentionally designed to check IsApplicable even when find-db entry is found, because we want to support individual switches like `MIOPEN_DEBUG_CONV_IMPLICIT_GEMM_HIP_WRW_V4R1` etc. However, bugs are always possible.

[2021-01-23 21:05] atamazov commented on #684
via #690

[2021-01-23 21:05] #684 closed

[2021-01-25 09:40] chenyongqing270 opened #702 "GEMM verify failed"
./MIOpenDriver gemm -n 700 -m 161 -k 32 -F 1 -V 1 -t 1 -i 1
MIOpenDriver gemm -n 700 -m 161 -k 32 -F 1 -V 1 -t 1 -i 1
MIOpen(HIP): Info [Handle] stream: 0x293ccc0, device_id: 0
MIOpen(HIP): Info2 [CallGemm] gemm_desc: {isColMajor 0, transA 0, transB 0, m 161, n 700, k 32, lda 32, ldb 700, ldc 700, batch_count 1, strideA 5152, strideB 22400, strideC 112700, alpha 1, beta 0, dataType 0}
GPU Kernel T

[2021-01-25 09:43] chenyongqing270 commented on #702
I tested on the gfx906 platform, on the develop branch。rocm-4.0.0, rocm-3.9.0platform  both failed。

[2021-01-25 21:26] #565 closed

[2021-01-25 21:49] ce1adon commented on #692
It's not replicable locally with 6416.

[2021-01-25 23:27] atamazov opened #703 "[OCL BE] #674 breaks miopenCreateWithStream()"
#674 breaks `miopenCreateWithStream()` for OCL BE.

/cc @Kirpich30000

[2021-01-26 16:00] #683 closed

[2021-01-26 19:24] kahmed10 opened #706 "gfx10: fusion not supported"
When trying to run mobilnet_v1, I get the following MIOpen error:

[code]

[2021-01-26 19:24] kahmed10 commented on #706
[log.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5875581/log.txt)

[2021-01-27 19:11] rsanthanam-amd opened #708 "Feature Request: Add support for padded convolutions to MIOpen RNN API"
Here is a feature request to add support for padded convolutions to the MIOpen RNN API.

This came out of an investigation into a TF RNN related unit test failure caused by an upstream commit that was merged into the ROCm TF fork.

Here is a link to the breaking commit:

https://github.com/tensorflow/tensorflow/pull/46410/files

Basically, they substitute an older CudnnRNN function with a newer ve

[2021-01-28 14:20] atamazov commented on #706
Fused asm 1x1 kernel does not support gfx10 targets. Fix to be provided.

[2021-01-28 18:44] DrizztDoUrden opened #712 "Throw-catch-based logics"
Some implicit gemm solvers are using throw and catch for logic, which gets called often. It is a bad approach in general and clutters I-level log a lot. Would be nice to change that to explicit return instead of a throw.
An example (a catch is a couple of lines below, more throws above): https://github.com/ROCmSoftwarePlatform/MIOpen/blob/98fb10e69bbe463f34f36ea9af9da6a372a2d02a/src/solver/conv_hi

[2021-01-28 18:56] atamazov commented on #712
This pattern should not be used. Code redesign is required. Please ask for assistance/ideas, if necessary.

[2021-01-28 18:59] atamazov commented on #712
This is leftover from https://github.com/AMDComputeLibraries/MLOpen/pull/2407#discussion_r380260415, collected at https://github.com/AMDComputeLibraries/MLOpen/issues/2421 but not fixed anyway.

[2021-01-28 20:20] daniellowell commented on #559
Works in latest build.

[2021-01-28 20:20] #559 closed

[2021-01-28 21:36] atamazov commented on #559
@daniellowell

Could you please identify the build?

[2021-01-29 00:04] atamazov commented on #560
The library that has the issue marked with :red_circle: at https://github.com/ROCmSoftwarePlatform/MIOpen/issues/560#issuecomment-719842997 must not be released.

[2021-01-29 00:43] ce1adon commented on #692
The issue is in miopengemm. Let's temporarily disable this test in ocl backend to remove the blocker first.

[2021-01-29 00:45] atamazov commented on #692
Please go ahead.

[2021-01-29 00:55] ce1adon commented on #692
Please track http://ontrack-internal.amd.com/browse/SWDEV-270602

[2021-01-29 08:33] #667 closed

[2021-01-29 10:07] zpwenjh opened #716 "[GRU] The implementation of GRU seems problematic"
I am analyzing the implementation of GRU by  `RNNForwardTraining`. Here is the implementation step in `RNNForwardTraining`:
Suppose R = Reservespace.
![image](https://user-images.githubusercontent.com/63989327/106262417-f3669900-625d-11eb-832f-8358968b84a9.png)
The following is principle of GRU.
![image](https://user-images.githubusercontent.com/63989327/106261546-a9c97e80-625c-11eb-86bb-cdea4a93a

[2021-01-29 12:23] qili93 opened #717 "Performce of miopenFindConvolutionForwardAlgorithm bad when input is small"
When input size if 1x3x128x128, then the time cost for miopenConvolutionForwardGetWorkSpaceSize and miopenFindConvolutionForwardAlgorithm is small.

[code]

And after I change the input size to 1x3x8x8, the time cost increase significantly as following:

[code]

And change to 1x3x2x2, then time cost becomes huge

[code]

I'm using ROCM 3.5 on amdgpu-target=gfx906, any idea to improve the performan

[2021-01-29 12:46] atamazov commented on #717
(1) Please give full information for reproducing this.
- Padding, strides and dilation info is missing
- Do you use FP32?
-
If you give options for MIOpenDriver, it would be the best.

[2021-01-29 12:56] atamazov commented on #717
Most likely, this is due to the time that the library spends for building HIP kernels. If you are using the library in the usual way (building the release version without "-DBUILD_DEV=on" and then installing the library into your system), then it should have the binary caching feature enabled. The binary cache should avoid rebuilding kernels, thereby saving the time of `Find()` calls. Please try "

[2021-01-29 12:57] qili93 commented on #717
@atamazov Thanks for your quick resposne :)

The input and attributes of the conv2d is following, and I just change the `input_height` and `intput_width` in the following code. And the data type used is `float32`。And I have not set any options for MIOpenDriver, just load it form the header here: https://github.com/qili93/Paddle/blob/rocm_dev_0127/paddle/fluid/platform/dynload/miopen.h

[code]

[2021-01-29 13:01] atamazov commented on #717
https://github.com/ROCmSoftwarePlatform/MIOpen/issues/717#issuecomment-769784801 updated

[2021-01-29 13:01] qili93 commented on #717
@atamazov I have tried twice and seems the time cost is still huge

[code]

And I install miopen by the yum repo install commands。

[2021-01-29 13:03] qili93 commented on #717
@atamazov LOG here:

(base) [root@j20r4n12 operators]# export MIOPEN_LOG_LEVEL=5
(base) [root@j20r4n12 operators]# export MIOPEN_ENABLE_LOGGING_CMD=1
(base) [root@j20r4n12 operators]# export MIOPEN_ENABLE_LOGGING_ELAPSED_TIME=1

[code]

[2021-01-29 13:12] atamazov commented on #717
Binary cache seems non-functional in your system. Please check documentation, https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/doc/src/cache.md

Also please send me the MIOpen's cmake command line.

I highly recommend updating to the latest release of MIOpen. We maintain backward compatibility with older ROCm versions, so it should work.

[FYI] If log is very long, please _attach_ it. G

[2021-01-29 14:14] atamazov commented on #717
I've tested your smallest config on my system with recent MIOpen and ROCm 4.0 and found even in the best case the overhead is ~1500ms which is ridiculous. Further investigation shows that almost all this time is spent in the `hipMemsetAsync()` HIP runtime call, invoked from MIOpen's `dummy_memset()`. This happens during execution of GEMM algorithm. With `MIOPEN_DEBUG_CONV_GEMM=0`, the library's ov

[2021-01-29 14:16] atamazov commented on #717
Questions:
- Is it possible to avoid `hipMemsetAsync()` and use some kernel for that?
- Is it possible to improve performance of `hipMemsetAsync()`

[2021-01-29 14:17] atamazov commented on #717
The performance loss is so huge that I am assigning the `bug` label.

[2021-01-29 14:28] atamazov commented on #717
@qili93 Recommendations for you:
- Upgrade to the recent MIOpen release
- Make sure that binary cache is working
- Use the Hybrid Find mode (this is the default in the recent MIOpen). After the 1st run, it spends time for the fastest algorithm only, so it would completely avoid GEMM when it is not the fastest. I am getting ___host time overhead ~50 ms___ with these settings.

[2021-01-29 19:13] ce1adon commented on #716
@zpwenjh
There are two GRU prototypes based on how the update gate controls cell gate.
One is _W*(r*h)_, while _r_ and _h_ are vectors, as you mentioned above.
The other one, which is also adopted by cuDNN, is _r*(W*h)_.
The calculation results of these two prototypes are different, yet the basic idea is the same: using update gate to control cell gate.
We chose the latter one to be consistent to

[2021-01-29 19:16] ce1adon commented on #716
@zpwenjh
Please find a reference from cuDNN here. More details (https://docs.nvidia.com/deeplearning/cudnn/api/index.html).
[code]

[2021-01-29 22:45] atamazov commented on #670
Please fix typo
![image](https://user-images.githubusercontent.com/12697412/106334924-c1285c00-629c-11eb-8855-038e83b51a7f.png)

[2021-01-30 17:08] atamazov commented on #692
Description updated. Priority lowered to high.

[2021-01-30 18:56] atamazov opened #718 "[MP/MT] Binary cache write contentions during parallel builds in MP/MT environments"
`PrecompileKernels()` gets a vector of kernels to build. It selects the kernels from the vector one after the other, and builds them.

- (1) In MP/MT environments, the order of selection is the same in all processes.
- (2) The library begins to build the same kernels in parallel processes/threads.
- (3) Compilation of kernels in all processes/threads starts at the ~same time. At that moment, none

[2021-01-30 19:10] atamazov commented on #718
## [Proposal] The simplest solution for problems (4) and (7)

Blindly randomize the order of kernels (see bullet (1) in the description).

Or course, the optimal solution is making a queue of build jobs distributing the jobs among processes. The requires means of inter-process communication. The design and implementation looks ~two orders of magnitude more complex.

[2021-01-30 19:16] atamazov commented on #718
[Proposal] The solution for the problem (6)

The binary cache should check for a kernel just before writing (and skip if it is already there). Note that this is only partial solution, because cache locking/unlocking is still required. But amount of work will be less than now.

[2021-01-30 21:21] atamazov commented on #703
via #705

[2021-01-30 21:21] #703 closed

[2021-02-01 00:59] zpwenjh commented on #716
@ce1adon I get it. Thank you.

[2021-02-01 00:59] #716 closed

[2021-02-01 02:21] qili93 commented on #717
Thank you @atamazov so much for your help :)

I will follow your suggestions and try to upgrade to the latest version of ROCM.

[2021-02-01 04:21] qili93 commented on #717
I did not compile MIOpen from source, but installed it by the following command lines in dockerfile:

[code]

[2021-02-01 14:54] DrizztDoUrden opened #719 "Implicit gemm solvers fail Jenkins in some cases."
On MI100 with HIP and
`-DMIOPEN_TEST_BFLOAT16=On -DMIOPEN_TEST_GFX908=On -DMIOPEN_TEST_ALL=On -DBUILD_DEV=On -DMIOPEN_GPU_SYNC=On`
the command line
`bin/test_immed_conv2d --bfloat16 --cmode conv --pmode default --group-count 1 --enable-fdb 0 --input 1, 3, 224, 224 --weights 1, 3, 7, 7 --pads_strides_dilations 0 0 1 1 1 1 --trans_output_pads 0 0`
and many other test_immed_conv2d cases produse log l

[2021-02-01 14:58] atamazov commented on #719
#709 resolves the immediate CI problem by changing "failed" with "unsuccessful". However it seems worth double-checking if this is expected behavior for ImplicitGemm solvers.

[2021-02-01 18:44] atamazov commented on #717
Please let us know if upgrading to the recent ROCm helps.

[2021-02-01 23:29] atamazov commented on #719
@DrizztDoUrden

What is git hash of develop?

[2021-02-02 06:39] qili93 commented on #717
Hi @atamazov

After upgrading to ROCM 3.9.1 and the performance got much better. It only tasks about 75ms for small input. Thanks so much for your help :)

[2021-02-02 09:23] DrizztDoUrden commented on #719
Updated header

[2021-02-02 09:23] jianlongf opened #721 "How the gridwise_gemm algorithm run?"
Hi, I am interesting in the gridwise_convolution_implicit_gemm_v4r4_nchw_kcyz_nkhw details. I try to understand the process by reading source code.  And it is difficulty to me. I manage to find the relative resource, but only source code. So I wanna konw if there is document that can help measure. If there is , please let me know and thanks very much.

[2021-02-02 15:00] atamazov commented on #706
Closed via #711.

@kahmed10 you can apply patch to your version of MIOpen to double-check:
- https://github.com/ROCmSoftwarePlatform/MIOpen/commit/b7757e8aa0dfbcf69b4f188ba1b605ef44e3ab85.diff

[2021-02-02 15:09] atamazov commented on #717
Good!

[2021-02-02 15:09] #717 closed

[2021-02-02 18:10] JehandadKhan commented on #718
Please look at the approach I adopted in #572  where I use the binary cache as the synchronization point to record if a kernel is being built a different process. If so the system just waits for it to be built. Please take a look and let me know of your thoughts.

[2021-02-02 18:13] atamazov commented on #666
Guys, any ideas why this happens?

[2021-02-02 20:32] atamazov opened #723 "[GEMM] dummy_memset() is ridiculously slow"
## Questions:
- Is it possible to avoid `hipMemsetAsync()` and use `SetTensor()` or something else for that?
- Is it possible to improve performance of `hipMemsetAsync()`?

The performance loss is so huge that I am assigning the `bug` label.

### The issue is originated from https://github.com/ROCmSoftwarePlatform/MIOpen/issues/717#issuecomment-769829395:

[2021-02-03 06:22] ronny1996 opened #724 "The parameter yDesc of miopenBatchNormalizationForwardInference has no effect"
I call miopenBatchNormalizationForwardInference with input layout NHWC, but it returns layout NCHW

[2021-02-03 20:37] pfultz2 commented on #666
This is an issue with the hip-config.cmake. It seems to drop these flags if CXX compiler is not clang.

[2021-02-04 03:27] #721 closed

[2021-02-04 07:39] Joejiong opened #726 "[Eigen] core dump on TensorReductionGpu.h with double dtype"
hi we are implementing addmm op on our platform, but we depending on this Eigen functionality.
any help? thx
[code]

[2021-02-04 23:34] jithunnair-amd commented on #356
@atamazov Since I am recently looking into a potential MIOpen issue, how far did this get, if at all? It looks like #336 is Done.

[2021-02-04 23:54] atamazov commented on #356
In the same place, as no priority is set for this yet. Nevertheless #336 is a good step towards the goal ;) Please indicate how important is this feature for you, thanks.

/cc @daniellowell

[2021-02-04 23:59] atamazov commented on #726
How does this relate to MIOpen?

[2021-02-05 01:33] qili93 opened #731 "Memory access fault by GPU node-4. Reason: Page not present or supervisor privilege."
ROCM version: 3.9.1
MIOPEN version: 2.8.0
Datatype: FP32

Core dump when call `miopenFindConvolutionBackwardWeightsAlgorithm`

CONV OP

[code]

MIOPEN LOG

[code]

Append the core stack

[code]

Please kindly help to comment how to resolve this issue, thanks !

[2021-02-05 04:03] qili93 commented on #731
It's really weird that the problem gone, after I manually run the MIOPEN command line and then execute the test executable binary again. While core dump always happen if I switch to a new docker environment.

Step 1: execute `./test_conv_op` then core dump with above logs and core stack
Step 2: execute `./bin/MIOpenDriver conv -n 100 -c 3 -H 1 -W 1 -k 120 -y 1 -x 1 -p 0 -q 0 -u 1 -v 1 -l 1 -j 1 -m

[2021-02-05 06:41] Joejiong commented on #726
sorry I should given you the whole stack, because the way we use amd rocm miopen macro in compile time, the underlining backend is ,miopen.

[code]

[2021-02-05 07:37] #724 closed

[2021-02-05 12:54] atamazov commented on #726
I do not see that the problem is anyhhow related to MIOpen. AFAICS it just provides a device handle to the framework, and then framework fails due to its internal problem. Please notice the assertion at the 3rd line of the console log -- it seems coming from paddle internals.

I do not know if ROCm has specific support for Eigen. Perhaps this is good place to start asking: https://github.com/Radeo

[2021-02-05 12:54] #726 closed

[2021-02-05 15:11] atamazov commented on #731
Please try the following:
- upgrade to the recent MIOpen release
- use debug build of MIOpen

Let us know if the problem persists.

[2021-02-05 18:08] atamazov commented on #666
@pfultz2 The reason is https://github.com/ROCm-Developer-Tools/HIP/pull/2035

[2021-02-05 18:17] atamazov commented on #666
https://github.com/ROCm-Developer-Tools/HIP/issues/2233 created.

[2021-02-05 19:29] alexandraBara opened #732 "BZ2_bzBuffToBuffCompress throws err"
In recent tuning I noticed this compression lib err being thrown:
 - INFO - terminate called after throwing an instance of 'std::runtime_error'
- INFO - what():  BZ2_bzBuffToBuffCompress failed: unknown error!

This function call needs to be in a try-catch:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/0c105b144655c2fd5f7e09a7de8480d7124461ad/src/bz2.cpp#L56

Whether compression succeeded or

[2021-02-07 20:56] atamazov commented on #666
Some discussion can be found at http://ontrack-internal.amd.com/browse/SWDEV-271886

[2021-02-07 21:22] atamazov commented on #723
A large loss of time is expected, therefore `value_high`.

[2021-02-07 21:39] atamazov commented on #719
via #709

[2021-02-07 21:39] atamazov commented on #719
via #709

[2021-02-07 21:39] #719 closed

[2021-02-07 22:15] atamazov commented on #723
It seems like #554 resolves this. @asroy Am I correct?

[2021-02-08 01:49] tsteinholz commented on #132
I have reinstalled a new OS since I opened this ticket, so I can't verify it anymore. I will close the ticket since @joseprupi was able to get this to work.

[2021-02-08 01:49] #132 closed

[2021-02-08 21:26] atamazov commented on #509
The problem is already solved in the `miopen::conv::ProblemDescription` class. It aggregates the copies of tensor descriptors, that contain strides and provide the `GetLayout()` method (that implements approach as proposed at https://github.com/ROCmSoftwarePlatform/MIOpen/pull/343#discussion_r471737474).

[2021-02-09 14:36] qili93 opened #737 "miopenFindConvolutionForwardAlgorithm core dump"
Hi There,

I'm working on a miopen implementation of conv2d, while found miopenFindConvolutionForwardAlgorithm core dump when on ROCM 4.0.1 and 3.10. My code is just very simple. Please kindly help to comment if there's something wrong with my code, thanks in advance!

Core dump stack as following:

[code]

MIOPEN debug log

[code]

And my code is simple as following:

[code]

[2021-02-09 14:41] qili93 commented on #737
Upload the reproduce code file, just need to run the `build.sh` in the folder.
[convMIOpen.tar.gz](https://github.com/ROCmSoftwarePlatform/MIOpen/files/5952049/convMIOpen.tar.gz)

[2021-02-09 15:10] qili93 commented on #737
Close as miss to copy data from cpu to gpu

[2021-02-09 15:10] #737 closed

[2021-02-10 13:28] carlushuang opened #742 "[NHWC] gemm algorithm not support NHWC"
As addressed in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/728, gemm solver will not get correct result when using NHWC layout `--in_layout NHWC --out_layout NHWC --fil_layout NHWC`. We may need disable gemm with NHWC, or fix it.

cc @jerryyin @asroy @atamazov @zjing14

[2021-02-10 13:34] atamazov commented on #742
/cc @ce1adon

[2021-02-10 15:15] jerryyin commented on #742
Strictly speaking there are two elements to this issue:

In the short term (before June), we want to just disable gemm such that NHWC config won't accidentally fallback to NCHW gemm.

In the long term (after June), gemm should be able to execute on NHWC format.

[2021-02-10 16:24] ce1adon commented on #742
Do we know who owns this issue?

[2021-02-10 16:28] ce1adon commented on #742
What is the priority?

[2021-02-10 16:34] jerryyin commented on #742
@JehandadKhan FYI, since this is a work item in the NHWC prototyping issue. We need to decide on a short term goal owner to this one.

I believe from my past conversation with @daniellowell, the long term goal will be assigned to either @ce1adon or @zjing14. Not sure if you guys have any impressions on this.

[2021-02-10 16:54] ce1adon commented on #742
@jerryyin Yes I implemented part of the gemm path. I can take a look and evaluate what need to be done.

[2021-02-10 19:14] ce1adon opened #743 "Observe config failures in convolution"
Observed the following failures in convolution when testing through driver. Please evaluate.

[code]

[2021-02-11 04:38] zjing14 commented on #743
This is known issue due to compiler bugs. Fixed in ROCm 4.1.

On Wed, Feb 10, 2021 at 1:14 PM Jing Zhou <notifications@github.com> wrote:

[2021-02-11 13:28] JehandadKhan commented on #742
Do we really need a fallback to rocBlas? If we have @carlushuang's kernel ?

@asroy and @zjing14 can you comment ? AFAIU the plan was to fallback on the GPU golden kernel and not do

[2021-02-11 15:39] jerryyin commented on #742
@JehandadKhan I will try to answer your question to the best knowledge I have, but at the end of the day, it is probably still up to MIOpen team to decide.

My understanding is that @carlushuang's kernel is only as good as a backup for June's delivery, but does not meet the performance as a justified production kernel (10x slower than gemm). This way, in the long term, work related to gemm fallbac

[2021-02-11 17:09] JehandadKhan commented on #742
Thanks @jerryyin that makes sense. I believe at the very least we need to make sure if the rocblas fallback is exercised it provides correct result as well as the correct size for the workspace. I will let @ce1adon scope the work out and formulate a plan given her work engagements.

[2021-02-11 18:34] ce1adon commented on #742
@jerryyin
I talked to @daniellowell about my duty this year and learnt that this topic is currently assigned to me. Working on a plan. Feel free to reach me offline directly any time.

[2021-02-11 18:39] ce1adon commented on #743
@zjing14 Thanks! Do you know which PR or ticket fixes this issue?

[2021-02-11 22:55] atamazov commented on #692
Workaround merged. Fix in MIOpenGEMM is on the way.

[2021-02-11 23:06] atamazov commented on #743
@ce1adon How do I reproduce the issue? ROCm version, GPU type, backend? And, if you know, suspected Solver. Thanks.

[2021-02-11 23:23] atamazov opened #744 "[NHWC] Disable GEMM for non-NCHW layouts"
Let's disable it until support for NHWC layout is ready in Gemm Solvers. This can be done quickly. Originated from:
- https://github.com/ROCmSoftwarePlatform/MIOpen/pull/728#issuecomment-776729433
- https://github.com/ROCmSoftwarePlatform/MIOpen/issues/742#issuecomment-777585900

As reworking of existing GEMM into Solvers is ongoing, I am assigning also @DrizztDoUrden.

[2021-02-11 23:24] atamazov commented on #742
@jerryyin

+1 Lets quickly disable Gemm, #744 created.

[2021-02-11 23:33] ce1adon commented on #743
@atamazov
rocm 4.0, current MIOpen develop, gfx908, hip, not specified solver
BTW, @zjing14 said it's a known issue. I'm still checking for solution PR with him.

[2021-02-11 23:36] ce1adon commented on #744
Add @jerryyin as the watcher

[2021-02-11 23:45] jerryyin commented on #742
@atamazov Thanks, I just had a meeting with @ce1adon and @asroy. I'd fine with proceeding with `MIOPEN_DEBUG_CONV_GEMM=0` provided that it gives correct result. @ce1adon agreed to examine specifically the workspace now.

[2021-02-11 23:52] atamazov commented on #744
@ce1adon There is no "watchers" in github. We can simply add as an assignee. BTW do you have enough rights for that?

[2021-02-11 23:52] jerryyin commented on #744
@ce1adon also agreed to take at least part of this issue. I hope between @ce1adon and @DrizztDoUrden and clarify the owner.

In the short term, I'd be fine with either:
- Using the environment variable, if everything else can be guaranteed to give right result
- Disable gemm, this will result in a lot of if/else conditions

In the long term, given that gemm is both consuming a lot of memory as wel

[2021-02-12 00:05] atamazov commented on #743
@ce1adon @zjing14

If you add `-t 1` to the MIOpenDriver command line, then it will print solver name. Of you can use `MIOPEN_LOG_LEVEL=5` and find Solver's name in the log.

If develop is failing with 4.0 but working fine with 4.1 RC, then:
- We do not have the workaround or fix in MIOpen
- The fix is in the compiler or in the runtime (perhaps it is possible to track it in Jira, but not necessari

[2021-02-12 00:13] atamazov commented on #744
Yes, right now @DrizztDoUrden is reworking the whole GEMM to Solvers/Invokers. Forward Gemm is almost ready, see #473. So I agree with you WRT options 1/2.

[2021-02-12 12:24] #666 closed

[2021-02-12 14:16] JehandadKhan opened #745 "Update OS and ROCm on CI nodes"
Once PR #738  is merged we can update the OS and ROCm version on our CI nodes.

The blocking issue is that MIOpen Jenkinsfile as well as the Dockerfile depend on `hcc` which does not exist in newer versions of ROCm.

[2021-02-12 14:18] JehandadKhan commented on #745
@pfultz2  Can you comment on this, since MIGraphX shares some of these nodes ?

[2021-02-12 15:47] atamazov commented on #745
[Side note] The DKMS driver (even 5.6.0 in ROCm 4.0) still has issues that prevent HIP & OCL runtime correctly report SRAMECC state. QA are using DKMS driver (version > 5.9) from the mainline. I do not know is it safe to upgrade our CI to it.

[code]

[2021-02-12 22:47] pfultz2 commented on #745
MIGraphX uses a specific version of rocm in the docker so its not an issue to upgrade the nodes.

When MIOpen updates the jenkinsfile then I can install either rocm 3.7 or 4.1 on the CI nodes. We can see how it works and if there is an issue I can roll it back.

[2021-02-16 22:36] ce1adon commented on #744
@jerryyin @atamazov
By reviewing the current code, I realize the GEMM paths (including the getWorkSpaceSizeGEMM) have already wrapped by the evn var MIOPEN_USE_GEMM. You can simply turn off the env var to disable GEMM's usage of workspace in NHWC mode. If there are still errors, it must come from other things.

[2021-02-16 22:38] ce1adon commented on #742
See comments here https://github.com/ROCmSoftwarePlatform/MIOpen/issues/744#issuecomment-780162112

[2021-02-17 11:44] atamazov commented on #744
Yes. This issue is not a showstopper for reference NHWC solvers/kernels.

However, you won't be able to gradually add NHWC support to GEMM without resolving this issue first. Under "gradually" I mean implementing NHWC for Forward in one PR, then for Backward Data in other PR etc. Because, if you implement NHWC for Forward and enable GEMM you'll immediately get errors for Backward and WrW.

[2021-02-18 15:48] jerryyin commented on #744
Will make the environment variable to disable gemm as default, in June demo. Confirmed that this won't be a blocking issue.

[2021-02-19 11:24] DrizztDoUrden commented on #744
Should I check all the tensors for being NCHW or only one?

[2021-02-19 16:24] atamazov opened #747 "Logging when kernel is added to kcache"
`AddKernelDumpKernelParams()` has been removed in #674, see https://github.com/ROCmSoftwarePlatform/MIOpen/pull/674/files#r579298182. However we still need some logging of global/local work sizes, kernel name etc (at level 6), because this information may be important for triaging issues.

/cc @JehandadKhan @DrizztDoUrden @ce1adon

[2021-02-19 18:15] atamazov commented on #744
Yes. We have `IsLayoutDefault()` in old ProblemDescription.

[2021-02-22 04:17] qili93 commented on #731
Close this issue as problem resolved after change to set filter tensor by api of "miopenSet4dTensorDescriptor" instead of "miopenSetTensorDescriptor"。

[2021-02-22 04:17] #731 closed

[2021-02-22 04:21] qili93 opened #749 "MIOpen Error: /root/driver/MLOpen/src/gemm_v2.cpp:849: rocBlas error encountered"
MIOPEN core dump rocBlas as following, using the latest ROCM version 4.0.1:

input is : {1, 3, 1, 1}
filter is: {3, 1, 1, 1}
groups is: 3
stride is: {1, 1}
pad is: {1, 1, 2, 0}
dilation is: {1, 1}

[code]

[2021-02-22 05:39] qili93 commented on #749
Close this issue as found root cause of not setting groups correctly, by opening MIOPEN debug info

[code]

[2021-02-22 05:39] #749 closed

[2021-02-22 18:20] atamazov commented on #648
`test_conv_igemm_dynamic` and `test_conv_igemm_dynamic_small` test only FP32. These should be only used with Vega targets and only with FP32 datatypes.

This doesn't happen due to a bug in `add_custom_test`. Fix is #750

[2021-02-23 06:15] Joejiong opened #751 "cudnnRNNBackwardDataEx, padded lstm training api."
hi, will you guys support cudnnRNNBackwardDataEx equivalent api with miopen? (padded lstm training api)

[2021-02-24 03:31] Joejiong opened #752 "workspace and reserve space calculation mismatch with equavalent API when I run basically the same code."
Hi, miopen

I got the following code and failed to run my miopen version branch, what I found is that after `miopenGetRNNParamsSize` and `cudnnGetRNNParamsSize`,the two compiled version of code cannot get the same result on `workspace` and `reserve`
[code]
[code]

[2021-02-24 21:36] atamazov opened #754 "Remove redundant Winograd solvers"
Plan:
- Decide which ones can be removed
- Disable via environment and test how this affects performance
- Remove solvers & update documentation

/cc @dagamayank

[2021-02-25 02:20] zjing14 opened #755 "Hanging fused Winograd kernels on gfx1030"
Got GPU hangs on gfx1030 with fused Winograd kernels

[code]

[2021-02-25 09:20] Kirpich30000 commented on #755
@zjing14 could you try #740? Does it resolve the issue?

[2021-02-25 17:19] zjing14 commented on #755
Yes. I tested with #740.

[2021-02-25 18:15] atamazov commented on #755
@Kirpich30000 how it could be so? I thought #740 is NFC.

[2021-02-25 20:05] Kirpich30000 commented on #755
The first guess is that it might be dispatched with a wrong ndrange or arguments. Does the fusion reuse existing solver or it has it's own machinery for dispatching the kernel?

[2021-02-26 18:36] atamazov commented on #755
It uses own machinery.

[2021-02-26 18:37] atamazov commented on #755
#740 merged to develop.

[2021-02-26 18:45] atamazov commented on #309
As per http://ontrack-internal.amd.com/browse/SWDEV-264644, the fix for compiler is in the mainline.

[2021-02-26 20:53] atamazov commented on #309
The fix is expected in 4.2 release.

[2021-02-26 22:49] atamazov opened #756 "`CallImplicitGemmWrwDynamic` needs refactoring"
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/eec7091fbad407e9d43eae8985ad8eb4e0861689/src/solver/conv_asm_implicit_gemm_wrw_gtc_dynamic_xdlops.cpp#L230

All possible computations to be moved to Factory. The Solver lambda shall only hold copies of values pre-computed in Factory. No memory allocations/deallocations, no function calls etc.

[2021-02-27 21:00] atamazov opened #757 "[Reduction] Follow-ups of of #727"
Follow-up of #727

## Testing and minor coding style issue

Resolve https://github.com/ROCmSoftwarePlatform/MIOpen/pull/727#pullrequestreview-602895628

## NORM1/2 question

From https://github.com/ROCmSoftwarePlatform/MIOpen/pull/727#issuecomment-790251637:

@fronteer

----
<details><summary><b><i>Original description</i></b></summary><hr>

ROCm 4.0, gfx906: test_reduce_test fails with NORM1 and

[2021-02-27 21:03] atamazov commented on #757
Blocker for 4.3

[2021-02-27 21:06] atamazov commented on #757
See also https://github.com/ROCmSoftwarePlatform/MIOpen/pull/727#issuecomment-787062727 and below

[2021-03-01 11:29] fronteer commented on #757
For solving this issue, should I submit new P.R or continue to work on [#727](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/727#issuecomment-787062727) ?

[2021-03-02 05:34] zjing14 commented on #755
@atamazov Do you mean we should drop the issue currently?

[2021-03-02 05:41] zjing14 opened #763 "Test_mdgraph fails on gfx1030 due to unsupported fused kernels"
- test_mdgraph fails with unsupported fused kernels for gfx1030 - miopenConvolutionWinogradBiasActiv and miopenConvolutionDirectBiasActivAsm

[code]

[2021-03-02 10:26] Kirpich30000 commented on #755
@zjing14 am I correct, that the issue is still observed even with #740 merged in? We might get confused with `Yes` answering `Does it resolve the issue?` and not `could you try #740?`
If so, does any changes are needed to enable fused Winograd on gfx10?

[2021-03-02 14:59] zjing14 commented on #755
@Kirpich30000 Sorry for the confusion. The hanging issue still exists with #740 merged.

To enable fused Winograd on gfx10, we need to add gfx1030 into supported arch lists.

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/f8f7e325cd2a9c2e0a7e3944f226c8b800b87968/src/md_graph.cpp#L507
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/f8f7e325cd2a9c2e0a7e3944f226c8b800b87968/src/md_graph.cpp#

[2021-03-02 15:08] Kirpich30000 commented on #755
@Slimakanzer please take a look

[2021-03-02 20:19] atamazov commented on #763
@zjing14 Well, I would generalize the description of the issue. `test_mdgraph` is a unit test that should be aware of the implementation. Specifically, it must "know" which fused algorithms _and_ kernel names are supported on which GPUs. And that knowledge should be used in the test to avoid testing of unsupported algorithms/kernels. Do you agree?

[2021-03-03 03:31] zjing14 commented on #763
@atamazov But the logic of test_mdgraph is to make sure fused algorithms supported on all GPUs.

[2021-03-03 04:03] zjing14 commented on #763
@atamazov Let us refactor the test_mdgraph as you suggested in a separate PR.

[2021-03-03 15:34] carlushuang opened #767 "GetLayout() ambiguous while parsing tensor layout if a dimension is 1"
As in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/765, function [TensorDescriptor::GetLayout()](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/src/include/miopen/tensor.hpp#L188) will produce wrong result if a single dimension is 1.

e.g. if a depthwise weight length is `[63, 1, 3, 3]`, and we want to calculate the stride of `NHWC` layout, which is `[9, 1, 3, 1]`. The output o

[2021-03-03 17:05] jerryyin commented on #767
It's unfortunate that we didn't realize this in #343.

Honestly I don't see a way out when we have (any) one dimension as 1. When that case happens, to derive layout from strides is not possible, because at least two strides will be the same. It looks to me the only way out is to revert #343 to adopt a new API for accepting string as layout, and store it as-is. Let me know what your thoughts are.

[2021-03-03 17:26] pfultz2 commented on #767
Instead, we could have a function which checks if it is in the layout(ie `IsLayout("NCHW", "NHWC")`) rather or we could return a vector of different layout strings, and then pick the best one for the solver.

Do we have different solvers for different layouts?

I dont think we should make our API ambiguous, or put more burden on the user to figure out which layout the tensor is. MIOpen knows which

[2021-03-03 17:39] jerryyin commented on #767
This is a good idea for `Carlus` example, but what about the case such as C=H=W=1, then strides for both NCHW and NHWC = [1, 1, 1, 1] (same situation for input, filter and output, so it is hard to tell.). At this case, how do we differentiate between the two?

We are about to. Going forward, we might have solver only support NCHW, only support NHWC or support both.

With igemm kernels, we have the

[2021-03-03 17:55] pfultz2 commented on #767
We can treat it as whichever layout we want as long it will pick the fastest kernel for it.

But if the input tensor can be interpreted as either NCHW or NHWC, then how do we pick the fastest algorithm? We would need this as a some kind of tuning parameter if its in the same solver. As seperate solvers, the find command will figure out which is faster, but that may lead to too many solvers.

But w

[2021-03-03 18:26] jerryyin commented on #767
Thanks for reminding me on this. When a stride lead to arbitrary layouts, it does indeed not matter which of the layout it get interpreted as. Implicit gemm algorithm does rely on stride on do its coordinate transforms. It should make no difference which layout we treated it as.

This is a good one. Though I don't see much problem configs that can actually fall into this category. I guess we can d

[2021-03-03 20:38] atamazov commented on #767
I anticipated that problem with 1's.

[2021-03-03 21:06] jerryyin commented on #767
So according to discussion above, I propose the following fix:
 - `ComputeLayout()` and `GetLayout()` both return a vector of strings. Each string represent a potential layout for the data
 - When problem config needs to serialize the input/output/weight layout, prioritize in the follow sequence:
   - Highest priority: If any tensor has only one layout candidate, use that layout candidate
     eg:

[2021-03-03 22:38] atamazov commented on #757
Description updated.

[2021-03-04 04:00] carlushuang commented on #767
Hi @jerryyin @pfultz2
I just realize that my analysis is not correct. At least if one dimension is `1`, should have no ambiguous of `GetLayout`. I updated the description of this issue.
If multiple dimension is `1` then would have ambiguous layout.

I guess still the problem is just `GetLayout()` will not compute correctly if one dimension is `1`.

[2021-03-04 10:35] Slimakanzer commented on #755
@atamazov
I found some pretty interesting _md_graph_ behavior. It tries to launch the winograd kernel on gfx1030 even without being explicitly added to the `supported_arch .`

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/f8f7e325cd2a9c2e0a7e3944f226c8b800b87968/src/md_graph.cpp#L507

As far as I can see, this is the check. However, the debug shows that the `cur.first->supported_arch` vector

[2021-03-04 15:54] trinayan opened #771 "Using the matrix unit in MI100"
Hi,

Is there any documentation on how to leverage MIOpen so as to use the matrix unit on the new MI100s?.

[2021-03-04 17:36] jerryyin commented on #767
@carlushuang

This is a bit confusing and I'm not sure everyone get the same message. Let me rephrase your example to make sure everyone is in the same page:

If a depthwise weight length is [63=N, 1=C, 3=H, 3=W], we know the following:
 - for NHWC layout, the strides for each dimension: N: 9, C: 1, H: 3, W: 1
 - for NHCW layout, the strides for each dimension: N: 9, C: 3, H: 3, W: 1
This indicate

[2021-03-05 03:48] carlushuang commented on #767
@jerryyin yes, your explain is more clear.
I'm looking at the code of `GetLayout()` to see why it will return a `NHCW` layout information, if input stride is `[9, 1, 3, 1]`. At least single dimension is 1 should be OK.

[code]

My first glace is that it only deal with `strides` member, not know "lens" member

[2021-03-05 08:09] carlushuang commented on #767
An ugly but workable WA of `sort_permutation()` for a single dimension is 1 case could be:
[code]

[2021-03-05 14:50] atamazov commented on #757
Description updated.

[2021-03-05 14:52] atamazov commented on #757
@fronteer

I think we shall follow the commonly adopted implementation.

[2021-03-05 16:55] jerryyin commented on #767
@carlushuang Thanks for brainstorming the issue here. I think we are facing a dilemma in which:
 - If we use new APIs to pass additional layout information, we can clear this issue once and for all.
   - However, this is behavior change to client
   - This is partly redundant information compared to what strides can provide
 - Instead if we use the existing API to resolve the issues we see, we may

[2021-03-06 20:40] atamazov commented on #767
Public API change doesn't seem acceptable, but I could be wrong.

However we can change only internal APIs to ones that do not allow ambiguities. When ambiguous tensor descriptors arrive from the public API, we can resolve them to internal, unambiguous values. Such a  removal of ambiguities will most likely be based on some heuristics, and it should prefer old layout (NCHW) wherever possible.

Not

[2021-03-07 09:44] fronteer commented on #757
Which one is the commonly adopted implementation?  Our implementation is consistent with the mathematical concept of NORM1 and NORM2. But the comments from cudnn API document is really confusing.

[2021-03-08 07:32] zpwenjh opened #781 "[Driver] Invalid base input argument while input "--help" in MIOpenDriver"
[code]
The argument "--help" is "Invalid Base Input Argument". But it should be recognized logically. The ParseBaseArg function has some problems.
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/b7630f76dad1926e224a23d5e470e44987d84fc3/driver/driver.hpp#L137-L162

[2021-03-08 11:16] atamazov commented on #781
This is intentional. The list of supported options ("help") depends on the "base argument". For example, pooling and convolutions have substantially different options.

I recommend closing this.

[2021-03-08 14:52] zpwenjh commented on #781
@atamazov I've learned that, thank you.

[2021-03-08 14:52] #781 closed

[2021-03-09 07:35] ronny1996 opened #784 "miopenConvolutionForward return MIOPEN_STATUS_UNKNOWN_ERROR"
I try to train Faste R-CNN + FPN, and a miopen error occurred after 460 iterations.  Please kindly help to comment, thanks!

Some logs are as follows:

[code]

[2021-03-09 09:02] atamazov commented on #784
@ronny1996 I see something strange in this log fragment. Please zip and attach full log.

How important/urgent is this problem for you?

[2021-03-09 10:56] #418 closed

[2021-03-09 17:29] Slimakanzer opened #788 "Multi-pass Winograd failed with gfx90a"
Currently multi-pass winograd solvers do not work with gfx90a

[2021-03-09 18:04] JehandadKhan opened #789 "Code Review Assignments"
Solvers/Invokers:
-----------------
	Artem @atamazov  /Jehandad @JehandadKhan

Composable Kernels + Solvers:
-------------------------------
	Chao @asroy

All Kernels + Solvers:
-----------------------
	Jing Zhang @zjing14
        Jing Zhou @ce1adon

Winograd + Solvers:
---------------------
	Ilya @Kirpich30000

Databases: (Find, Perf, kernel cache)
-------------------------------------
	Jehandad

[2021-03-09 21:04] atamazov commented on #788
Please add some labels, add assignment, explain our goals wrt this issue.

[2021-03-09 23:38] jerryyin commented on #767
WIP in this today.

@carlushuang clarification:

The actual ambiguous situations include: Permutationof{NHW} + C = 6 cases in total: `NHWC`, `NWHC`, `WNHC`, `WHNC`, `HNWC`, `HWNC`. The ones you have `NHWC`/`NWHC` are the ones that are coherent with the lens.

------------

@atamazov clarification:

I gave #765 a review and find out that some use case that @carlushuang have in the PR does not have

[2021-03-10 02:24] ronny1996 commented on #784
@atamazov I've solved this problem because I passed the wrong algorithm to miopenConvolutionForward, thank you.

[2021-03-10 02:25] #784 closed

[2021-03-10 02:39] carlushuang commented on #767
[get_output_tensor
](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/765/files#diff-2d3fae366d1038683ea7430885cbb634117fe022cd046b8241c4201ab59e3da7R165)
@jerryyin indeed in ctest, if not specify output layout by `--out_layout`, then just use the same as input layout, other wise just use the layout from `--out_layout`. And yes the algorithm you described should workable for #765

[2021-03-10 07:55] atamazov commented on #784
Good. I suspected that.

[2021-03-10 20:43] avidov opened #796 "Batchnorm kernel compilation fail"
I am working to add MiOpen backend to my product. I'm testing on AWS g4ad.16xlarge with AMD Radeon Pro V520 GPUs and Ubuntu 18.04.
I tried both installing MIOpen using apt-get (https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html) and from source. In both cases the BatchNorm kernel compilation fails when calling miopenBatchNormalizationForwardTraining() while miopenBatchNo

[2021-03-10 21:23] atamazov commented on #796
Please _attach_ log taken with `export MIOPEN_LOG_LEVEL=6`.

[2021-03-10 21:34] avidov commented on #796
Thank you for the reply. The log is attached.

[make-check.log](https://github.com/ROCmSoftwarePlatform/MIOpen/files/6118982/make-check.log)

[2021-03-10 21:55] atamazov commented on #796
Your GPU is gfx1011. It is not fully supported in 2.9. You can try to filter our assembly kernels, see https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/doc/src/DebugAndLogging.md#filtering-by-build-method.

[2021-03-10 22:13] avidov commented on #796
Tries the following with similar result
`export MIOPEN_DEBUG_GCN_ASM_KERNELS=0`
`export MIOPEN_DEBUG_GCN_ASM_KERNELS=1`
`export MIOPEN_DEBUG_AMD_ROCM_PRECOMPILED_BINARIES=0`
`export MIOPEN_DEBUG_AMD_ROCM_PRECOMPILED_BINARIES=1`

Although, from the log it looks like the process tries to build  'MIOpenBatchNormFwdTrainSpatial.cl' from source rather than using assembly or precomplied one.
`FAILED: /h

[2021-03-10 22:19] atamazov commented on #796
It looks like gfx10 GPUs are not supported in the latest ROCm release https://github.com/RadeonOpenCompute/ROCm#supported-gpus. Please expect gfx10 support in the upcoming releases.

[2021-03-10 22:25] avidov commented on #796
I see.
Thank you a bunch for the great and quick support Artem !

[2021-03-10 22:25] #796 closed

[2021-03-11 21:29] jerryyin commented on #767
@atamazov @pfultz2 It turns out that the best place for me to derive the layout is in tensor descriptor construction time. Then the tensor descriptor can cache the result for later use.

I know that Paul has suggested we donot store layout in tensor descriptor itself but deriving the layout every time in the get function can be very expensive when it is an ambiguous layout. Therefore the need to c

[2021-03-11 22:47] atamazov commented on #767
@jerryyin What will happen if input tensor and weighs have both NCHW and NHWC among valid layouts, but output tensor has only NHWC?

I recommend computing layouts during construction of ProblemDescription (and storing them in it). All three tensors are available and some additional heuristic may be implemented (so the case above could be resolved to all-NHWC instead of NCHW-NCHW-NHWC, if necessary

[2021-03-12 00:55] jerryyin commented on #767
@atamazov From a stride stand of point:
- Stride of `NCHW`: [`CHW`, `HW`, `W`, `1`]
- Stride of `NHWC`: [`HWC`, `1`, `WC`, `C`]

The two can only be equivalent when `H==W==C==1`. It is not possible for input and weight to be both NCHW and NHWC unless they are both [1, 1, 1, 1]. On the other hand, if they are [1, 1, 1, 1], they will be treated as NCHW in the current heuristic, and we are good.

I a

[2021-03-12 01:55] carlushuang commented on #767
@jerryyin the ctest use the same approach as other places of MIOpen to get the layout information, currently is just `GetLayout()` function, this is I think a internal API implementation. So if ctest can't determine ambiguous layout, so do other places in MIOpen would fail to determine.

[2021-03-12 11:52] carlushuang commented on #744
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/765 this PR support NHWC in conv_2d/3d ctest driver. And currently I must use `export MIOPEN_DEBUG_CONV_GEMM=0` before running any ctest, otherwise it will ctest will choose gemm algorithm and have fail result

[2021-03-12 17:42] atamazov opened #797 "[igemm][ROCm 4.1][BUILD_DEV=On] HIP compiler warning: "error: loop not unrolled: the optimizer was unable to perform...""
HIP kernel compilation warnings appear when MIOpen is used with ROCm 4.1 RC3. These warnings cause errors in DEV builds (`-Werror`).

The issue would prevent us to triage issues with ROCm 4.1 and higher. Also these errors will lead to CI failures as soon as we upgrade our CI to 4.1 or higher.

Example config:
[code]
Message:
[code]

[2021-03-13 03:06] #519 closed

[2021-03-14 21:56] atamazov commented on #788
@Kirpich30000 Please have a look here.

[2021-03-15 08:11] DrizztDoUrden commented on #744
Done for forward, other directions in still progress with the solvers+invokers. Would make bwd data PR soon, WrW would follow.

[2021-03-16 00:05] atamazov commented on #771
@trinayan You do not need to do anything/ MIOpen uses it automatically.

[2021-03-16 00:39] atamazov opened #801 "[Jenkinsfile][NFC] Remove docker image name handling -- it is useless and just clutters the file."
Yes, image name is not important. Build process starts in any case, but if we have cached results it will be faster.

_Originally posted by @shurale-nkn in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/793#issuecomment-795806197_

[2021-03-16 11:30] volcacius opened #802 "Int4 status"
Hello,

I'm trying to understand the current state of support for the int4 datatype and related operators for neural network inference. Is it exposed in any way at the software level? I couldn't find any reference here, nor in MIGraphX or rocBLAS.

Thanks

Alessandro

[2021-03-16 18:54] jerryyin opened #803 "Proposal: Override the launch parameter from kernels built by mlir"
## Background: MLIR Build

We added MLIR to be a new backend for kernel compilations. When a solver populates a kernel file that end with `mlir-cpp`, hipoc_program will choose the MLIR backend to build the kernel. Then the hipoc_program will be used similarly as built with any other backend. So far, this has been proven working well with MLIR built kernels.

https://github.com/ROCmSoftwarePlatform

[2021-03-16 18:56] whchung commented on #803
really, can we fix the typo of `EuristicInit`?

[2021-03-16 18:59] jerryyin commented on #803
@whchung I want to get rid of it as bad as you do. But this `EuristicInit()` has been practically all over the place in solver.hpp, [here](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/3917634a62dd06a86868303b48b15e853efffc38/src/include/miopen/solver.hpp). I was afraid of changing it in my documentation to `HeuristicInit()` will make reader don't follow what function it is.

[2021-03-16 20:13] pfultz2 commented on #803
It doesn't need to be stored as `boost::optional`. If the vectors are empty we can ignore them.

I like this approach, the only catch is that we need to update both the opencl and hip program to have this field(otherwise it wont compile on the opencl backend).

I suggest this is done through methods rather than exposing a field directly. This way OCLKernel doesn't need to store launch parameters i

[2021-03-16 20:22] jerryyin commented on #803
@pfultz2 Thanks!

Sounds good to me.

That's what I plan on to do. I write it to expose the field directly, just for readability of this document. I'll implement two getters for vld and gld.

[2021-03-16 23:27] atamazov commented on #803
@jerryyin Thanks for extensive explanation of the problem and thanks @pfultz2 @whchung  for participation.

Let me begin with high-level concepts. Shall we use vector or std::options is an implementation detail.

Indeed, one of the limitations of current _architecture_ is that it implies that the Solver must know the grid size _before_ compilation of kernels. And the high level question is how to

[2021-03-16 23:33] atamazov opened #804 "really, can we fix the typo of `EuristicInit`?"
really, can we fix the typo of `EuristicInit`?

_Originally posted by @whchung in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/803#issuecomment-800523354_

[2021-03-16 23:35] atamazov commented on #804
/cc @whchung

[2021-03-16 23:44] atamazov commented on #802
Hello @volcacius. Currently int4 is not supported.

[2021-03-17 01:00] jerryyin commented on #803
@atamazov Appreciate your response. That' right, it took me a while to realize this is an architectural change. Then pondered on it for quite a while to document this for a thorough discussion. I'm sorry about not being able to recognize this as an important one before this point. The cpp backend should be *mostly* safe at this point in reaching the same launch parameter with MLIR end. However, wi

[2021-03-17 10:46] JehandadKhan commented on #803
MIOpen's original sin :/

[2021-03-17 19:41] atamazov commented on #803
@jerryyin Does MLIR backend generate dynamic kernels?

[2021-03-17 20:22] atamazov commented on #803
@jerryyin Right now we assume that grid size depend only on problem description and Solver's implementation. We build binary kernels, and construct Kernels objects from that binaries and take grid sizes from `Solver.GetSolution()` (see `Handle::PrepareInvoker()` and `static Invoker PrepareInvoker()` in convolutionocl.cpp).

If kernel was already built, we re-use binary from cache and use `Solver.G

[2021-03-17 20:53] jerryyin commented on #803
Not now or in June demo, but yet, dynamic kernels is in the roadmap.

Is it possible to obtain the grid size not from the solver, but from either `hipoc_program` or `kernel_cache`? Both hold true copies of the grid_size when kernel is compiled.

[2021-03-17 21:00] atamazov commented on #803
No. These objects are not persistent. An edge case: An application is restarted. All kernels reside in the persistent binary cache, so no build happens. Where can we get information about grid size?

[2021-03-17 21:03] jerryyin commented on #803
@atamazov It is not possible unless we do some partial lowering. My understanding is that once the lowering get started, the build process has begun and we are done with solver stage.

If we do partial lowering inside of the solver, that makes it very strange too. Because then this MLIR solver will have to do part of the build process.

[2021-03-17 21:09] jerryyin commented on #803
There's a third approach here: We are still dependent on MLIR backend to get the grid size. However, we don't do full lowering or build again to figure it out. If we can construct the MLIR handle, we can do just enough amount of lowering to get the grid size without a full MLIR backend compilation. This is suppose to be much cheaper than doing full lowering.

[2021-03-17 21:12] atamazov commented on #803
That's exactly I am talking about. Is it possible? Could it be really fast?

[2021-03-17 21:17] jerryyin commented on #803
Yes! Look, it only require the cheapest first three lowering steps:

https://github.com/ROCmSoftwarePlatform/llvm-project-mlir/blob/afd99d48dd587565f20cd68e2d5534d5d5571db4/mlir/tools/mlir-miopen-lib/mlir-miopen-lib.cpp#L268-L270

[code]
The rest of 12 additional stages of lowering can all be skipped. To do this, we will need to invent another API to make it possible to do a subset of `miirLowerBi

[2021-03-17 21:20] atamazov commented on #803
Let's agree on that.

[2021-03-17 21:25] atamazov commented on #803
Hmm...

It is questionable if a dynamic kernel can be always run with the same grid size.

[2021-03-17 21:29] atamazov commented on #803
(but Winograd assembly kernels do that)

[2021-03-17 21:29] jerryyin commented on #803
I have no idea. @asroy Could you help clarify that an igemm based dynamic kernel always run with similar or different grid size?

[2021-03-17 21:38] atamazov commented on #803
@jerryyin So far, I propose such a plan: Make a new API call, use it in GetSolution().

[Off-topic] Note that we need to discuss generation of dynamic kernels with MLIR, specifically --  how to avoid binary cache misses. There is a pitfall that is easy to overlook.

[2021-03-18 01:29] jerryyin commented on #803
@atamazov That's probably not possible to have just the solver to create a MLIR handle and be able to lower through first 4 lowering steps. The solver does not have `num_cu` and `arch` information, which is essential in deriving tuning parameters. See below:

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/3917634a62dd06a86868303b48b15e853efffc38/src/hip/handlehip.cpp#L394-L398

I don't see a

[2021-03-18 05:46] carlushuang commented on #803
The grid size of dynamic kernel is always computed from N, C, H, W, K....(`GetSolution`) with its block_size, m_per_block/n_per_block (aka kernel configs), so @jerryyin is it possible that we store in MIOpen solver the information of a kernel's config, or just have a quick approach to querry from MLIR the information, then let solver to compute the gridsize for you?

[2021-03-18 12:25] #614 closed

[2021-03-18 12:50] atamazov commented on #803
@carlushuang

Not really. As I said, some Winograd kernels have truly constant grid size. Your comment fixed.

[2021-03-18 12:52] atamazov commented on #803
@carlushuang

Solvers are stateless objects by design. I think you meant Solutions.

[2021-03-18 12:53] atamazov commented on #803
@jerryyin

It has access to everything, just take it. I can show when necessary.

[2021-03-18 14:27] jerryyin commented on #803
@atamazov Wants to clarify the new approach here: instead of making changes in `kernel_cache` or `hipoc_program` as mentioned in the `Solution` section, we are making changes in all MLIR solvers, such that:
  - For each solver, it locally it construct MLIR handle and lower the first 3 steps of pipeline, then destroy the handle
    - From there, MLIR solver is able to derive the global/local size,

[2021-03-18 14:42] #802 closed

[2021-03-18 16:10] DrizztDoUrden commented on #803
We can also store `function(vector<size_t>(some args like handle probably))` in solution instead of `vector<size_t>` for grid size and implement it in MLIR solvers doing some MLIR calls rather than returning POD value. But that would require writing A LOT of trivial copy-paste code like `[=](auto& handle){ return vld; }`. We could also manually type-erase that to something implicitly initialized f

[2021-03-18 16:14] DrizztDoUrden commented on #803
One more option would be to use type erasure instead of `KernelInfo` in the solution with some builder object which defaults to old KernelInfo logic and may be overridden with custom logic like fetching grid size. That would be more friendly to possible future changes to the build process.

[2021-03-18 16:56] pfultz2 commented on #803
It will probably need to be `function<std::pair<vector<size_t>, vector<size_t>>(Handle&)>` as it should probably return both global and local together. Although, we should consider making `std::pair<vector<size_t>, vector<size_t>>` a struct.

I think you can add setters to `KernelInfo` that can set the params with `[=](auto& handle){ return vld; }` rather than having the solvers do this everywhere

[2021-03-18 16:59] pfultz2 commented on #803
That is an interesting options as well. It would reduce the changes needed in all the solvers. However, I think most of the non-MLIR solvers will probably still need to be updated to explicitly construct the old KernelInfo class instead of relying on it being constructed in the solution.

[2021-03-18 17:23] DrizztDoUrden commented on #803
There is `std::vector<KernelInfo> construction_params` and it's usually used like `result.construction_params.push_back(construction_params);` so it shouldn't require any changes with implicit ctor allowed.

[2021-03-18 20:21] jerryyin commented on #767
### Summary of the ticket

Between me, @pfultz2  and @atamazov, we worked through a number of angles to address this problem. This issue is now pending merge with https://github.com/ROCmSoftwarePlatform/MIOpen/pull/765

#### Derive ambiguous layout for single tensor

We decided to address this with sorting the pair of strides and lens, implemented in commit 3ead3a3.

Before this we have a few prem

[2021-03-18 22:26] atamazov commented on #803
@jerryyin

Exactly.

No, if this is inexpensive in terms of time. Else we can, for example, create a MLIR handle in, say, MIOpen Handle, and use it in Solvers when necessary.

[code]

[2021-03-19 03:52] shaojiewang commented on #756
OK. I will do that with PR#691

[2021-03-19 09:21] atamazov commented on #756
@shaojiewang

Is it possible to do that in separate PR?

[2021-03-19 15:29] jerryyin commented on #803
I and @atamazov synced offline. Will address this issue in two steps:

1. Work out an additional lowering pipeline that does just enough lowering to get launch parameters, block size and grid size
2. In MIOpen side, make MLIR solvers to use the new API and populate both parameters as a normal solver does

[2021-03-19 15:56] pfultz2 commented on #803
But the elements to `construction_params` needs to be declared as `LegacyKernelInfo`(or whatever we want to call old KernelInfo), because I assume `KernelInfo` is the type erased class.

Nice thing about the type erased approach is that the launch parameters are only computed when the kernel will be launched, and not when calling `GetSolution`. This seems like it would be important for immediate m

[2021-03-19 17:51] atamazov commented on #803
Yes, this is nice. However we should call GetSolution only when we are going to build and run the kernel(s). Which is basically so now (and if this is not so, then it should be fixed).

[2021-03-19 20:45] DrizztDoUrden commented on #803
Even if we decide to name type erased class `KernelInfo`, we would only need to apply a trivial text replacing change to solvers, so it doesn't matter much. Otherwise, we won't need any.

[2021-03-19 21:02] atamazov opened #807 "Tunable Dynamic Solvers need perf-db interpolation."
By definition, if a dynamic Solver is applicable to a _set of configs_, then the same kernel(s) can be used for any config from that _set_ and no performance drop should happen. Therefore, if a Dynamic Solver have been tuned for _one_ config from the set, the resulting optimal performance parameters (PerformanceConfig) should be also optimal for _any other_ config from that set.

[Note 1] If this

[2021-03-19 21:03] atamazov commented on #807
## Variant 1.

- (A) We can implement the perf-db interpolation feature, see discussion & proposal at: https://github.com/AMDComputeLibraries/MLOpen/issues/1271.
  - Drawback: :red_circle: Perf-db interpolation time is added to the kernel execution time, thus directly affecting the performance.
  - What can we do: :green_circle: Write interpolated PerformanceConfig to the user-perf-db, so that nex

[2021-03-23 15:00] #801 closed

[2021-03-23 15:23] atamazov commented on #788
Too vague description.

[2021-03-23 15:23] #788 closed

[2021-03-23 15:35] #771 closed

[2021-03-23 19:45] atamazov commented on #755
via #772

[2021-03-23 19:49] #755 closed

[2021-03-24 19:28] jerryyin commented on #803
Please note: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/811 filed to address this issue. Please give review comments in the PR if you have any concerns. Otherwise, I will close the issue when PR is merged.

[2021-03-25 18:48] jerryyin commented on #803
Closing the issue as #811 is merged.

[2021-03-25 18:48] #803 closed

[2021-03-26 15:06] aserio opened #816 "[PR Testing] Get rid of test redundancy"

[2021-03-26 15:06] aserio opened #817 "[PR Testing] Look at input configs to see if they test relevant code"

[2021-03-26 15:07] aserio opened #818 "[PR Testing] Realistic testing"

[2021-03-26 15:07] aserio opened #819 "[PR Testing] Test all solvers"
1. Initially test offline as a weekly test
1. Need a C++ API to cycle through all applicable solvers for each config
1. Invokers should have a callback that has access to the output buffer

[2021-03-26 15:08] aserio opened #820 "[PR Testing] ctests for specific solvers; e.g., test_igemm2d"

[2021-03-26 15:10] aserio opened #821 "Create test for isApplicable"
Part of iGEMM Component testing

[2021-03-26 15:14] aserio opened #822 "[PR Testing][iGemm] perf param selection"
Part of iGEMM Component Testing
* requires parallel compilation

[2021-03-26 15:15] aserio opened #823 "[PR Testing][iGemm] transformation test -- address calculation"
Part of iGEMM Component Testing

[2021-03-26 15:16] aserio opened #824 "[PR Testing][iGemm] GEMM testing – make the test case tunable to test more GEMM sizes; e.g., 64x64 and 128x128 tests"
Part of iGEMM Component Testing #586

[2021-03-26 15:17] aserio opened #825 "[PR Testing][Conv Stability] IsApplicable Testing"
Convolution stability tests (see #586)

[2021-03-26 15:19] aserio opened #826 "[PR Testing][Conv Stability] Numerical stability testing (NaN and Inf)"
Convolution stability tests (see #586)

* Input / Initialization patterns NaN / Inf / 0’s / 1’s

[2021-03-26 15:19] aserio opened #827 "[PR Testing][Conv Stability] Long running segmentation fault scan"
Convolution stability tests (see #586)

[2021-03-26 15:20] aserio opened #828 "[PR Testing][Conv Stability] Database verification -- check for errors"
Convolution stability tests (see #586)

[2021-03-26 15:21] aserio opened #829 "[PR Testing][Jenkins] Implement priority in the Jenkins queue"
Jenkins improvements (see #586)

[2021-03-26 15:21] aserio opened #830 "[PR Testing][Jenkins] Testing hints, to reduce scale of testing, enhance testing"
Jenkins improvements (see #586)

[2021-03-26 20:23] atamazov opened #831 "Update test_mdgraph for gfx90a and gfx10"
@Slimakanzer IIRC #809 enables 1x1 fused asm kernel for gfx90a. And #772 enables fused Winograd for gfx10. Please update tests as necessary and check locally. Thanks.

/cc @Kirpich30000

_Originally posted by @atamazov in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/813#issuecomment-808487766_

[2021-03-26 20:28] atamazov commented on #763
Test refactored in #813

[2021-03-26 20:28] #763 closed

[2021-03-26 20:32] atamazov commented on #816
#147 in progress

[2021-03-26 20:39] atamazov commented on #818
#147 in progress

[2021-03-26 20:44] atamazov commented on #820
@asroy Originated from #586. I think this is almost done?

[2021-03-26 20:52] atamazov commented on #825
Anyone knows what this means?

[2021-03-26 20:54] atamazov commented on #827
Needs clarification.

[2021-03-26 20:57] atamazov commented on #828
What errors? This needs clarification.

[2021-03-26 21:01] atamazov commented on #830
Partially implemented in #815

[2021-03-26 21:05] atamazov commented on #586
All sub-tasks moved to separate tickets. And we now have [respective github Project](https://github.com/ROCmSoftwarePlatform/MIOpen/projects/9#card-57780622) for tracking.

[2021-03-26 21:05] #586 closed

[2021-03-27 23:43] atamazov commented on #797
This blocks upgrading our CI nodes to latest ROCm release.

[2021-03-29 10:15] atamazov opened #833 "[COMGR][MI100][HIP kernels] llvm.amdgcn.buffer.atomic.fadd.f32 does not work with ROCm 4.1 and newer."
Results of testing on MI100:

ROCm   version | HIP backend   (offline compiler) | COMGR   (in-process build) | COMGR version
-- | -- | -- | --
ROCm 3.10 | Ok | Ok | 1.9
ROCm 4.0 | Ok | Ok | 1.9
ROCm 4.1 RC3 | Ok | FAILED | 2.0
ROCm 4.1   release (4.1:26-STG2) | Ok | FAILED | 2.0
ROCm   no-npi-hipclang 6738-STG2 (proposed 4.2 release candidate) | Ok | FAILED | 2.0

"FAILED" means that **_build_** o

[2021-03-29 12:12] atamazov commented on #833
/cc @jeffdaily

[2021-03-29 14:52] jeffdaily commented on #833
You might need to change the intrinsic, too?  When we use this intrinsic in pytorch we have this code:
[code]

[2021-03-29 16:17] atamazov commented on #833
@jeffdaily Thanks for the hint. Currently MIOpen does not use this intrinsic.

[2021-03-30 06:57] zpwenjh opened #835 "In practical use, we should first ensure the completion of the task"
![image](https://user-images.githubusercontent.com/63989327/112943095-9dca4200-9163-11eb-979c-6bbd46774737.png)
This task with search on has been running for a week, and then, there is some errors occured. According to the message and source code, we can know the last error happened in `hip_build_utils.cpp:HipBuildImpl` function while compiling kernel with default solution. Before this error, ther

[2021-04-01 03:19] ronny1996 opened #838 "MIOpenDriver backward max pool validation failed"
I tried to verify the backward max pool, but got an error. Please kindly help to comment, thanks!
Some logs are as follows:
[code]

[2021-04-01 13:42] aserio commented on #817
Team, please look at the tests you have created and verify if you are testing relevant configs. Once you are confident that the configs are correct (and useful) please comment here. We will close this issue once all assignees have commented.

[2021-04-01 15:20] atamazov commented on #757
Without division.

Closed via #774

[2021-04-01 23:59] avidov opened #839 "MiOpen hangs or seg-fault when batachsize > 2"
I have implemented a simple convolutional network in MiOpen and train it on the MNIST dataset.
It works great for batchsize 1 and 2 but hangs for larger batchsizes.
FWIW GPU memory utilization is low, so that is not the issue.
Is there a way to force MiOpen to use the same kernels as in the successful smaller batch?
Can you please give me a pointer of how to make the large batch work the way the s

[2021-04-02 00:15] atamazov commented on #839
@avidov
- (1) Please read https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/doc/src/DebugAndLogging.md. Is allows for disabling convolution algorithms and/or individual solvers.
- (2) After short glance, I see that MIOpenGEMM is faulty in your case. MIOpenGEMM  is deprecated. What I can recommend quickly is disabling GEMM algorithm.
  - If it does not help, then you can disable GEMM for

[2021-04-02 00:16] atamazov commented on #839
And please user latest ROCm.

[2021-04-02 00:21] avidov commented on #839
Thank you for the blazing quick reply Artem !
I have the latest ROCm installed from
`echo 'deb [arch=amd64] https://repo.radeon.com/rocm/apt/debian/ xenial main' | sudo tee /etc/apt/sources.list.d/rocm.list`

Guess you mean that I need to build from source ?

I'll try I'll try disabling the GEMM algorithm first.

[2021-04-02 01:14] avidov commented on #839
It not clear to me how to use
`MIOPEN_DEBUG_FIND_ONLY_SOLVER`
Can you point me to an example of valid values?

Can I choose only single kernel id with it ?
But the network has also other layers, like  pooling, and different size convolutions.
I see it is processed here
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/599ffdea2248089834721e64545a95dcb32b8f28/src/find_controls.cpp#L103

Also,
I s

[2021-04-02 02:00] Mullich123 opened #840 "error: expecting exactly one host target but got 0"
Complete error information:

error: expecting exactly one host target but got 0.
MIOpen Error: /root/driver/MLOpen/src/tmp_dir.cpp:47: Can't execute cd /tmp/miopen-gridwise_convolution_backward_data_implicit_gemm_v1r1_nchw_kcyx_nkhw.cpp-89b1-f313-bbb6-980e; /opt/rocm/llvm/bin/clang-offload-bundler --type=o --targets=hip-amdgcn-amd-amdhsa-gfx906 --inputs=/tmp/miopen-gridwise_convolution_backward_da

[2021-04-02 02:03] atamazov commented on #839
I do not think that MIOPEN_DEBUG_FIND_ONLY_SOLVER would help. Ditto MIOPEN_GEMM_ENFORCE_BACKEND.

You do not need to rebuild library to disable GEMM. Just `export MIOPEN_DEBUG_CONV_GEMM=0` and run your app.

[2021-04-02 02:17] atamazov commented on #840
What type of GPU do you have?

Where did you get TensorFlow for ROCm? You may need to consult there. Note that TensorFlow must be no older than ROCm.

[2021-04-02 02:18] atamazov commented on #840
This error message is not from MIOpen

[2021-04-02 02:30] Mullich123 commented on #840
Well my GPU is ROCm AMD GPU ISA: gfx906,TensorFlow is 2.3.3 and Rocm is 3.9.0

[2021-04-02 02:33] Mullich123 commented on #840
I can't find the cause of the error,do you know something about it?

[2021-04-02 03:31] atamazov commented on #840
No. Please try to address your problem to https://github.com/ROCmSoftwarePlatform/tensorflow-upstream.

[2021-04-02 03:33] Mullich123 commented on #840
Thanks a lot

[2021-04-02 09:19] #838 closed

[2021-04-02 19:58] avidov commented on #839
Thank you, Artem !

Building master from source works !
The runs do not hung on a futex or crash on segmentation fault now!

FYI: disabling GEMM kernels with `export MIOPEN_DEBUG_CONV_GEMM=0` did not make a difference.

[2021-04-02 19:58] #839 closed

[2021-04-02 22:14] atamazov commented on #216
"Capturing values in Invoker/Factory labdas: be careful when using `slice` and similar things" added.

[2021-04-05 19:03] atamazov commented on #833
The actual reason of the issue is typo in #832.

[2021-04-05 22:21] atamazov opened #845 "Backport #843 to develop"
See #843 and #798 for more info.

[2021-04-06 13:39] shurale-nkn opened #846 "[GEMM][Conv3d]GemmFwdRest: Memory access fault"
Segfault in GemmFwdRest.

GPU: gfx906
Branch: develop b49c52ecc
HIP
ROCm 4.0.0

For reproduce:
[code]
LOG:
[code]

[2021-04-06 15:01] atamazov commented on #846
@shurale-nkn Thanks. Please also attach output of
[code]
from your system, thanks.

[2021-04-06 15:02] atamazov commented on #846
@shurale-nkn No need, thanks, I've got the log locally.

[2021-04-06 15:04] atamazov commented on #846
ROCm 4.0:
[code]

[2021-04-06 15:04] atamazov commented on #846
Ditto ROCm 3.7

[2021-04-06 15:58] shurale-nkn commented on #846
Error range starts from: ``--input 1, 16, 4, 140, 602``

Some limits not specified in isApplicable may have been exceeded.
[code]

[2021-04-06 16:15] atamazov commented on #846
ROCm | develop | af6561a8c (#473) | 0adcc3c9f (right before #473)
-- | -- | -- | --
3.7 | FAIL | FAIL | GEMM is not applicable
4.0 | FAIL | FAIL | GEMM is not applicable
4.1 RC3	| FAIL | FAIL | GEMM is not applicable

The reason is identified: the w/a related to `MAX_MEM_ALLOC_SZ` was not carefully reproduced with Gemm Invokers (#473). I will provide a fix.

Luckily, no release branches affected b

[2021-04-06 16:15] shurale-nkn commented on #846
And another error range:
Anything over ``--input 1, 16, 4, 274, 602``
[code]

<details><summary>CONSOLE LOGS</summary>
[code]
</details>

[2021-04-06 16:17] atamazov commented on #846
@shurale-nkn Thanks for triaging.

[2021-04-06 19:56] #833 closed

[2021-04-06 21:56] atamazov opened #847 "NCDHW = {1,640,320,320,100} => "src/tensor.cpp:68: Invalid strides. Strides must be greater than 0""
develop at 0155ee381.
[code]
If you change `--in_d`  from 100 to 10, then error goes away. Most likely, the reason is that strides are computed as 32 bit integers.
[code]

[2021-04-07 07:17] shaojiewang commented on #756
Yes, possible. It will be done with a separate PR.

[2021-04-07 08:57] stmuxa opened #848 "Not enough memory to compile MIOpen"
Generated kernel files are too big
[code]
Error while compiling
[code]
Tag: 2.10.0
OS: Ubuntu 18.04
RAM: 8 GB
gcc: 7.5.0

Similar issue on Windows7 with 16 GB RAM and Windows10 with 32 GB RAM under MSVC 2017

[2021-04-07 12:09] atamazov commented on #848
Windows is not officially supported.

For Linux, I highly recommend adding 8GB of RAM. Or increase the size of swap file at least. 40GB should be enough (I have 16 ram + 32 swap).

We'll think about splitting the kernel files.

[2021-04-07 13:19] stmuxa commented on #848
Linux build succeeded on 16 GB RAM/32 GB swap machine.
As for windows we gonna try MSVC 2019, since MSVC 2017 still has 32bit compiler.

[2021-04-07 16:23] stmuxa commented on #848
MSVC 2019 has no issues compiling generated kernels, although has other issues.

[2021-04-07 16:24] #848 closed

[2021-04-07 20:49] #846 closed

[2021-04-08 15:30] aserio opened #851 "Define MIOpen Review Process"
In order to improve and clarify the MIOpen review process, I am requesting that we discuss and record our policy on reviewing and accepting PRs. My first attempt to capture our current policy can be found here: [MIOPen PR Review Process](http://confluence.amd.com/display/MLSE/MIOpen+PR+Review+Process), however Artem has suggested that we may want to include additional components from the [GitLab C

[2021-04-09 15:32] atamazov opened #853 "Codecov is useless and harmful"
_It's sad to say, but_ -- Reports are useless because information is usually incorrect.

Harmful as useless info is cluttering our PRs and hinders reviewing
<details><summary>(Example)</summary>

![image](https://user-images.githubusercontent.com/12697412/114203901-45fcb980-9961-11eb-8d74-a09677440314.png)
</details>

[2021-04-09 17:24] pfultz2 commented on #853
How is that info useless in the image you posted? Why aren't we adding unit tests for these solvers?

[2021-04-09 17:37] pfultz2 commented on #853
We definitely should not disable it just because it might seem annoying to those that are choosing not to add unit tests for code they are adding/modifying.

[2021-04-09 18:04] atamazov commented on #853
We test is with -DMIOPEN_USE_MLIR=On.

[2021-04-09 18:22] atamazov commented on #853
Unit test for individual Solvers seem useless. For example, how do the unit test find out if `IsApplicable()` returns correct result? Or if WorkspaceSize returns correct value? Generally, the test needs to `GetSolution()`, build the necessary kernels and veriy the result. Something simpler boils down to testing against literal constants, which don't really test anything and does not worth the time

[2021-04-09 20:27] pfultz2 commented on #853
They are not. Unit tests will ensure the solvers do the what developers expect. This can avoid adding code like [this](https://github.com/ROCmSoftwarePlatform/MIOpen/pull/490/files#diff-9e8bfb8df48f491e73a98e9a832971bdfdb3d89f06defb907ccad5588ff0dcfaL295) to the solvers, which the developer most likely expected it to do something but it didn't actually do anything.

There is more than just `IsAppl

[2021-04-09 21:15] atamazov opened #854 "[MI100] Split huge dynamic assembly kernels"
Huge assembly kernels must be split. Otherwise both assembly time and load time (from the binary cache) are too long, which negatively affects the performance. See use case and explanations at https://github.com/ROCmSoftwarePlatform/MIOpen/pull/680#issuecomment-804873603.

- [ ] [igemm_fwd_gtc_gfx908.s](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/1207f907a16c6ed39f61c5caf0952bd6f0e70215/sr

[2021-04-09 21:24] atamazov opened #855 "Refactor CallImplicitGemmWrwDynamic()"
Depends on #691

_Originally posted by @shaojiewang in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/691#issuecomment-816368176_

All the parameters that depend only on problem config should be computed in the Factory and passed to the Invoker (well, captured by it) by value.

If only one kernel us used, no need to use a vector of kernel objects. Manual adjustments of kernel time are not n

[2021-04-09 22:35] atamazov commented on #853
It is quite possible that I simply not smart enough to understand what do you mean. So I would be grateful if you show this in practice, -- take the simplest Solver and write a proper (thorough, fast, isolated etc) unit test for it.

Well, actually I do not care much, but it sounds like "your opinion does not matter".

[2021-04-10 01:56] shaojiewang commented on #855
It might be the same thing as #756 .

[2021-04-10 08:19] atamazov commented on #756
Depends on #691

_Originally posted by @shaojiewang in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/691#issuecomment-816368176_

All the parameters that depend only on problem config should be computed in the Factory and passed to the Invoker (well, captured by it) by value.

If only one kernel us used, no need to use a vector of kernel objects. Manual adjustments of kernel time are not n

[2021-04-10 08:20] #855 closed

[2021-04-10 14:39] atamazov commented on #831
via #813

[2021-04-10 14:39] #831 closed

[2021-04-10 20:27] #757 closed

[2021-04-10 20:29] #840 closed

[2021-04-12 06:21] shaojiewang commented on #854
I will do it after #691 and #710 was merged.

[2021-04-12 15:11] shurale-nkn opened #856 "[Testing][Bug]Testing is stuck, boost can't be download"
Rocm recipes is outdated, link on boost library is broken, access forbidden
https://dl.bintray.com/boostorg/release/1.72.0/source/boost_1_72_0.tar.bz2

Need to fix dockerfile. Change the way to install boost or to change boost source location.

[2021-04-12 15:42] junliume commented on #856
It seems that Bintray, where Ubuntu/Debian and boost.org host packages, is limiting downloads and their account quota has been hit ... "usually" it will be back within a day or so (not in our control) :(

[reproduce]
https://dl.bintray.com/boostorg/release/1.72.0/source/

[ref]
https://github.com/boostorg/boost/issues/375
https://github.com/boostorg/boost/issues/299

[Temporary Bypass]
Use https:/

[2021-04-12 15:52] shurale-nkn commented on #856
I'm worried that this method may soon cease to exist.
On main page `https://bintray.com/` `Attention: All Bintray services will be deprecated and your accounts will be disabled on May 1st 2021.`

[2021-04-12 16:15] pfultz2 commented on #856
I updated rocm-recipe to use the URL from sourceforge:

https://github.com/pfultz2/rocm-recipes/blob/master/recipes/boost/1.72/package.txt

[2021-04-15 03:27] xudy-cdcs opened #859 "MIOpen v2.11"
Where can i get the source code of MIOpen v2.11?

[2021-04-15 05:03] xuhuisheng commented on #859
The 2.11 didn't release yet. It would be released with ROCm-4.2.
Please refer the rocm-4.2.x branch <https://github.com/ROCmSoftwarePlatform/MIOpen/tree/rocm-4.2.x>.

[2021-04-15 05:26] xudy-cdcs commented on #859
Okay, Thanks!

[2021-04-16 22:22] #845 closed

[2021-04-17 20:13] atamazov opened #862 "[MLIR] Sort out the problem with StridedMemRef"
Please do that when first round of fwd/bwd/wrw done.
- Original description of the problem: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/841#pullrequestreview-633980111.
- Requirement: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/841#discussion_r614324911

[2021-04-17 20:58] atamazov opened #863 "[MLIR] Make an env var to control the use of MLIR-based Solvers at runtime."
Please look how `MIOPEN_USE_HIP_KERNELS` macro, `MIOPEN_DEBUG_HIP_KERNELS` env var and `miopen::ExecutionContext::use_hip_kernels` are used to control HIP-based kernels, and make something similar for MLIR. This is important for triaging issues.

While MLIR support is experimental, this is not necessary (but still desirable).

[2021-04-17 23:25] junliume commented on #856
@pfultz2 sounds like this issue has been fixed? Usually what's the process and who is gonna verify and close it please? Thanks!

[2021-04-19 04:11] carlushuang commented on #847
The root cause is we use `int` type in API level to feed in the dimension/stride information for tensor descriptor, like [`TensorDescriptor::TensorDescriptor()`](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/src/tensor.cpp#L60), or [`miopenSetTensorDescriptor()`](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/src/tensor_api.cpp#L122). To solve this problem, the best way

[2021-04-19 04:15] sunway513 commented on #847
cc @deven-amd  @jithunnair-amd and @jeffdaily  for comments..

[2021-04-19 14:17] jerryyin commented on #862
Short term solution: https://github.com/ROCmSoftwarePlatform/llvm-project-mlir/pull/136

Long term solution: https://github.com/ROCmSoftwarePlatform/llvm-project-private/issues/142

[2021-04-19 14:18] jerryyin commented on #863
Thanks for documenting this, will keep it in my backlog for now.

[2021-04-19 14:31] jerryyin commented on #847
Agreed with @carlushuang

I see this Note from the cudnn API site:

It looks like either 6553600000 or 655360000 exceed the 2 Giga elements limit so will just return the `CUDNN_STATUS_NOT_SUPPORTED` in cudnn. We might need an additional return status for this.

[2021-04-19 15:24] atamazov opened #866 "Solver framework"
## 1. Intent

Problem: Variety of convolution kernels
- Different formats (OCL, asm, binary)
- Capable to do different (but often intersecting) subsets of convolution configs
- Some may benefit from auto-tuning, some not.
- Each kernel may require its own set of #defines for build
- There are cases when two (or more kernels) needs to be run to do the job
- Kernels need different parameters during

[2021-04-19 15:26] atamazov commented on #866
## 2. Problem Description
This is an input for the Solver.
- This is an object which represents a set of parameters that shall unambiguously describe the specific library primitive. Example for convolutions:
[code]
- If perf-db is used, the object must provide also "void Serialize(std::ostream& stream) const;". This is used to generate perf-db keys.
  - Each unique problem shall have unique db-key

[2021-04-19 16:01] atamazov commented on #866
## 3. What is Solver
Solver is an object which encapsulates the implementation of specific primitive.
- It "knows" all the information required to properly use the kernel(s) it hides.
- Searchable (Tunable) Solvers work together with paired PerformanceConfig objects. In such a case the information about kernel(s) is distributed between Solver and its PerformanceConfig.

### Member functions (see [

[2021-04-19 16:02] atamazov commented on #866
(to be continued)

[2021-04-19 16:03] atamazov opened #867 "[implicit GEMM] CalculateGemmSize() should not be a public member function of a Solver"
- Solver does not have any member data, so `static` or unnamed namespace should work in the most cases.
- If you need inheritance, make it `private` at least.

Solver design must comply the #866.

[2021-04-19 16:13] junliume commented on #866
Just curious, should this topic belong or eventually belong to Wiki or Contribution Guide page? It looks like a guideline which we should follow. **The intention for the issue is to bring up discussion and key decision?**

[2021-04-19 16:53] atamazov commented on #866
@junliume This is a copy of a presentation for MIOpen team I held a couple of years ago, when we've introduced and implemented the Solver/Solution architecture. It does not cover the recent additions like GetWti() and Invokers.

I would like to make it available for all MIOpen developers, including collaborators.

[2021-04-19 17:04] atamazov commented on #866
## 5. Perf-db support
- `SolverDbId(solver)`
- Serialization and De-serialization of `PerformanceConfigs`

[2021-04-19 17:05] atamazov commented on #866
## 6. Future directions

- Extend usage of Solvers to primitives other than plain Direct and Winograd convolutions
  - GEMM, FFT convolution algorithms (**_done_**)
  - Normalization, Pooling, Activation
  - Fused convolutions
- Invoker objects (**_done_**)
  - Allows for simplification of convolutionocl.cpp.
  - Second effect is removal of RunAndMeasureSolution() from Solvers.
  - More info at #2

[2021-04-19 17:35] atamazov opened #869 "[Recommendation] `ConvHipImplicitGemmMlirBinFwd` -> `ConvMlirImplicitGemmBinFwd` and ditto all other MLIR solvers."
[Recommendation] `ConvHipImplicitGemmMlirBinFwd` -> `ConvMlirImplicitGemmBinFwd` and ditto `MIOPEN_DEBUG_CONV_HIP_IMPLICIT_GEMM_MLIR_BIN_FWD`. Why: "Hip" here means that the kernels are (mostly, at least) written in HIP language. This one uses generated MLIR as a source. That fact that MLIR is based on the same llvm compiler as HIP (which is actually not so yet ;) does not matter in this specific

[2021-04-19 19:05] shurale-nkn opened #870 "[Debug][test_conv2d][gfx908] Segmentation fault"
test_conv2d failed on config from test_miopen_conv. Same error in driver.

GPU: gfx908
ROCM 3.7
develop 1f751ba8c
___cmake ... -DCMAKE_BUILD_TYPE=debug ...___

[code]

<details><summary>CONSOLE LOGS</summary>

[code]

</details>

WIth ``MIOPEN_DEBUG_CONV_GEMM=0`` same problem, but no available solutions:
<details><summary>LOG2</summary>

[code]

</details>

[2021-04-19 23:13] atamazov commented on #870
Thanks! What is test_miopen_conv?

[2021-04-19 23:58] atamazov commented on #870
@shurale-nkn This is not reproducible with the tip of develop (5ee21784e) on miopen908-1 with stock rocm3.7 docker. I need your user find-db file, please zip & attach (or send by mail).

Please also try with the same with MIOPEN_FIND_MODE=normal.

[2021-04-20 00:20] atamazov commented on #847
@carlushuang

This is because they explicitly specify the format by means of https://docs.nvidia.com/deeplearning/cudnn/api/index.html#cudnnTensorFormat_t.

[2021-04-20 03:38] carlushuang commented on #847
Thanks all and here a summary of solutions according to above information

1. **limit a tensor size to 2 Giga elements**. If bigger than this size simply return `CUDNN_STATUS_NOT_SUPPORTED`. @jerryyin
  **pros**: same behavior as cudnn. very small change is needed based on current MIOpen implementation
  **cons**: we just can't deal with tensor bigger than 2 Giga elements, while indeed internally

[2021-04-20 05:57] jammm opened #871 "Dense/Linear layer support?"
Hello!

Does MlOpen support dense/linear layers as part of a FCNN or MLP? A quick look at the source seem to point more towards CNN related primitives. Please correct me if I'm wrong as I just started exploring this project :-)

If such a primitive doesn't exist, could you suggest a good way to implement it within MlOpen?

[2021-04-20 06:18] #871 closed

[2021-04-20 08:21] zpwenjh opened #872 "[OpenCL Backend] Build failed"
Enviroment: ROCm-4.1.0, No GPU，at the newest develop `[HOTFIX] Made kernel sources inlined as multiple files`(5ee21784e3671c1edda336e75c540e69b6c4c36a).
HIP backend build successfully，but the opencl backend failed.
[code]

[2021-04-20 12:46] deven-amd commented on #847
TF actually already calculates dims/strides in `int64` and converts them to `int` in-order to accomodate MIOpen API. So switching to using `int64` for dims/strides should be not be an issue for TF

https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/tensorflow/stream_executor/rocm/rocm_dnn.cc#L662-L676

https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/

[2021-04-20 13:55] atamazov commented on #872
@zpwenjh Thanks for this finding! Please show your cmake command line.

[2021-04-20 15:18] shurale-nkn opened #873 "[test/ctc] Code quality: undefined-behavior"
ctc.cpp:130: The ctc_alpha_cpu function contains write access to an array by negative offset. This code leads to undefined behavior and should be fixed.

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/test/ctc.cpp#L130-L144

To reproduce:
[code]

[code]

[2021-04-20 16:14] shurale-nkn commented on #873
The problem is that outside of the function is not aware of such restrictions. And the method of setting arguments does not require passing a pointer not to the beginning of the array. Someone else can use it and get an error.

[2021-04-20 20:17] atamazov opened #874 "[tests] Failures of test_conv_embed_db"
develop 5ee21784e: `test_conv_embed_db` fails with errors like
[code]
Most likely the reason is either missing records in performance database or incorrect test (i.e. incorrect assumption that the config under test must be tuned). Many test cases in `test_conv_embed_db` are disabled due to this problem.

The issue blocks our CI. I will provide a workaround shortly.

[Informative] How to quickly ch

[2021-04-20 22:40] atamazov opened #876 "[CI] Clean up user-find-db files"
When we test DEV builds, the user-find-db files remain in the ./src/kernels directory. These should be removed before launching the next round of testing.

[Informative] See fix for similar issue: #814.

[2021-04-21 00:17] zpwenjh commented on #872
@atamazov Here is my cmake command line:
[code]

[2021-04-21 00:21] shurale-nkn opened #877 "[COMGR] Code quality: reference binding to null pointer of type 'char'"
The GetBytes function, takes a reference to the first element of the zero-size vector, which results in an error because the element does not exist

Should be checked in GetString, before calling GetBytes and if (GetSize() ==0)  return empty string {} ?

https://github.com/ROCmSoftwarePlatform/MIOpen/blob/00d57548c25399186eb201eb2e0e6f7480915c48/src/comgr.cpp#L532-L554

To reproduce:
[code]

Error

[2021-04-22 00:40] carlushuang commented on #847
OK. In this case, per @atamazov 's suggestion, we can have a *V2 API to deal with the big tensor support (solution_2) by promoting stride/dimention to `size_t`, while let current API return _unsupport_ (solution_1)

[code]
this function can be make default when switching to semi-hypothetic Find 2.0 API

new tensor format support together with this V2 API is yet to be discussed.

cc @asroy @Jehanda

[2021-04-22 03:30] zpwenjh opened #880 "[GRU] Redundant copy in RNNForwardTraining"
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/00d57548c25399186eb201eb2e0e6f7480915c48/src/ocl/rnnocl.cpp#L2256-L2266
Here copy a `hy_h` tensor from `static_cast<int>(offset) + 2 * hy_h + ri * wei_len` to `static_cast<int>(offset) + hid_off + ri * hy_h + static_cast<int>(nLayers) * batch_n * hy_stride` but nerver use the dst position.

[2021-04-22 12:33] atamazov commented on #847
Correction:
- In the V2 prototype, _my recommendation_ is changing the only type of `*stridesA` to `size_t`.

Well, I do not see a need to implement and maintain two ways for doing essentially the same thing. I would recommend:
- Implementing solution 1 from [this comment](https://github.com/ROCmSoftwarePlatform/MIOpen/issues/847#issuecomment-822949552), ___plus___
- Implementing either solution 2

[2021-04-22 13:02] carlushuang commented on #847
Hi @atamazov I uploaded a draft PR implementing the "V2" API function in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/883. Please take a look. That PR need a through review and decision if is missing something or if is not needed at all.
Beside, I keep the `dimsA` and `stridesA` to `size_t`, for I think both matches our internal `miopen::TensorDescriptor` `lens`, `strides` member type.

[2021-04-22 13:16] atamazov commented on #847
[Side note] I have a feeling that we are spending too much energy on this problem, which does not seem to be a priority right now.

[2021-04-22 13:25] carlushuang commented on #847
@atamazov OK. I just want to make some progress on this topic. But it is OK that first align the priority/decision and then move forward.

[2021-04-22 13:40] aserio commented on #820
@asroy would you be able to provide an update on this issue?

[2021-04-22 13:40] atamazov commented on #829
https://github.com/ROCmSoftwarePlatform/frameworks-internal/issues/190 opened

[2021-04-22 13:46] aserio commented on #822
@shaojiewang would you be able to update the ticket with a plan to resolve this issue?

[2021-04-22 13:47] aserio commented on #823
@zjing14 would you update the ticket with a plan to resolve this issue?

[2021-04-22 13:51] aserio commented on #824
@jane-zxy will you still be working on this ticket?

[2021-04-22 14:08] aserio commented on #825
This issue is not well defined and therefore its utility is unknown

[2021-04-22 14:08] #825 closed

[2021-04-22 14:17] jerryyin commented on #847
For 2, since we are about to invent a new API, why not promote it all the way up to `uint64_t`? As far as I understand, `size_t` could still be 32 bit integer that isn't much better than int.

For 3, will add a tensor format information hinder our ability to do some flexible layouts? The implication is that if we don't define a format, client will not be able to use it. I know that `TensorFlow` si

[2021-04-22 14:56] atamazov commented on #847
`size_t` is big enough to contain the size of the biggest object the system can handle.

[2021-04-22 15:09] jerryyin commented on #847
That still make it machine dependent (size_t on 32bit OS is 32 bit). What if a client has a 32 bit OS and at the same time a lot of gpu resources? He will can still overflow strides. `unit64_t` make it more deterministic to be 64 bit.

[2021-04-22 15:17] jerryyin commented on #847
Actually from MLIR point of view, all of strides, dimensions are defined in `int64_t`, so it is the same with tensorflow. I'd prefer to be `int64_t` just so that it is consistent with both.

[2021-04-22 16:23] atamazov commented on #847
No, because in this case it is impossible to create a tensor > 4G on the host, so the stride can't exceed it.

[2021-04-23 01:27] ce1adon commented on #873
Check #886

[2021-04-23 01:57] ce1adon commented on #880
@zpwenjh
Thank you for your feedback! This copy is part of the calculation.

[2021-04-23 08:16] zpwenjh commented on #872
@atamazov In the `gemm_bwd.cpp`，I found this:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/00d57548c25399186eb201eb2e0e6f7480915c48/src/solver/gemm_bwd.cpp#L50-L61
but in `gemm.cpp`, the `miopen` and `solver` namespace is outside the `#if`.
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/00d57548c25399186eb201eb2e0e6f7480915c48/src/solver/gemm.cpp#L50-L61
That's why error occured while

[2021-04-23 13:37] #880 closed

[2021-04-23 15:51] atamazov commented on #872
@zpwenjh Thanks for triaging and fixing this.

[2021-04-23 18:40] shurale-nkn opened #890 "[test_immed_conv2d][OCL][half] Failed: GEMM execution failure"
test_immed_conv2d (and test_conv2d)  with fp16 convolution failed.

Runtime:OpenCL
GPU: gfx906
ROCM 3.7-4.1
develop

[code]

For reproduce:
[code]

Error log:
<details><summary>CONSOLE LOGS</summary>

[code]
</details>

[2021-04-23 19:31] atamazov commented on #890
MIOpenGEMM does not support FP16.

[2021-04-23 19:58] atamazov commented on #890
@shurale-nkn Please set urgency label.

[2021-04-23 23:41] shurale-nkn commented on #890
Using #891

[code]

[2021-04-23 23:46] atamazov commented on #890
This issue is not related to GEMM: `ConvOclDirectFwd1x1`

[2021-04-23 23:52] shurale-nkn commented on #870
@atamazov
reproduced on 43bab58d.

First way: with ufdb -> Segmentation fault
Second way: removed ufdb -> Segmentation fault

Error log:
<details><summary>CONSOLE LOGS</summary>

[code]
</details>

[2021-04-24 00:08] shurale-nkn commented on #890
This issue related to test_conv2d and test_immed_conv2d :)

[2021-04-24 00:12] atamazov commented on #890
The root reason is different.

Finally, all the issues relate to one thing: MIOpen. But we do not put everything into a single ticket, right?

[2021-04-24 16:52] #804 closed

[2021-04-24 19:52] atamazov commented on #870
Reproducible with `-DCMAKE_BUILD_TYPE=debug` only.

[2021-04-24 20:23] atamazov commented on #870
[code]

The recursion depth of `gcd()` is too deep.

[2021-04-24 20:45] atamazov commented on #870
I am afraid that all solvers and kernels that use `gcd()` in its current form are unsafe.

- https://github.com/AMDComputeLibraries/MLOpen/pull/2376/files#r619705870
- https://github.com/AMDComputeLibraries/MLOpen/pull/2407/files#r380242054 - ___Comment created more than year ago and clearly denotes the danger of stack overflow.___
- https://github.com/ROCmSoftwarePlatform/MIOpen/pull/272/files#r6

[2021-04-24 20:48] atamazov commented on #870
`gcd()` is used in:
- src/conv/invokers/impl_gemm_dynamic.cpp
- src/solver/conv_asm_implicit_gemm_bwd_v4r1_dynamic.cpp
- src/solver/conv_asm_implicit_gemm_gtc_bwd.cpp
- src/solver/conv_hip_implicit_gemm_bwd_v1r1.cpp
- src/solver/conv_hip_implicit_gemm_bwd_v1r1_xdlops.cpp
- src/solver/conv_hip_implicit_gemm_bwd_v4r1.cpp
- src/solver/conv_hip_implicit_gemm_bwd_v4r1_xdlops.cpp
- src/solver/conv_hip_i

[2021-04-25 04:07] carlushuang commented on #870
Hi @atamazov is it because in `-DCMAKE_BUILD_TYPE=debug` a recursive function has a maximum depth?
Another fix would be change `gcd` function from recursive to iterative

[2021-04-25 12:28] fronteer commented on #870
Can  ` #ulimit -s 32768 ` to enlarge the stack able to get the issue avoided ?    I guess in "debug" building, there are more local variables to occupy the stack so that the recursive depth is restricted

[2021-04-25 20:52] #872 closed

[2021-04-25 21:59] atamazov commented on #870
- `gcd(2,527364)` wants > 200K iterations which looks like a nonsense waste of resources.
- WRT kernels. There is no ulimit in the device code. Even if compiler is able to fold the recursive call to the constant, the cost of this optimization (compilation time and required memory) is most likely too high.

I think that this should be redesigned.

[2021-04-26 13:31] #856 closed

[2021-04-26 14:27] #877 closed

[2021-04-26 14:43] atamazov commented on #873
@shurale-nkn Please specify urgency label for this issue and for #886

[2021-04-26 14:45] #876 closed

[2021-04-26 16:38] shurale-nkn opened #894 "[test_conv2d][half] ConvOclDirectFwd1x1 fails verification"
Using develop and #891
test_conv2d with fp16 convolution failed.

Runtime:OpenCL
GPU: gfx906

[code]

_Originally posted by @shurale-nkn in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/890#issuecomment-825994215_

[2021-04-26 16:46] shurale-nkn commented on #894
MIOPEN_LOG_LEVEL=5
<details><summary>CONSOLE LOGS</summary>

[code]
</details>

[2021-04-26 17:08] grandopener commented on #856
Found this issue searching for my own Boost problem, and I want to share some research.

While source forge is an okay temporary workaround, the official recommendation from boost (not part of their docs yet weirdly/unfortunately) is to use a new URL provided by jfrog: https://lists.boost.org/boost-users//2021/04/90899.php

Most relevant portion quoted:

Note also that the new link they provide us

[2021-04-26 22:07] #890 closed

[2021-04-26 22:13] atamazov commented on #894
For now, I have no idea who can triage/fix this...

/cc @zjing14 @ce1adon @junliume

[2021-04-26 22:14] atamazov commented on #856
@grandopener Thanks!

[2021-04-27 01:01] junliume commented on #894
Do we create a ticket to track the issue? Any hints on who should I reach out to diagnose this? Thanks!

[2021-04-27 01:47] ce1adon commented on #894
@atamazov @junliume
I can take a look of this ocl kernel.

[2021-04-27 01:49] ce1adon commented on #894
@shurale-nkn
Did you use a specific rocm docker? If yes, please email me the info. If not, I will use the miopen docker.

[2021-04-27 16:30] #873 closed

[2021-04-28 16:41] jerryyin commented on #869
@atamazov Could we adopt the following simplify the name such that:
 - we drop `Bin` because it is going to be the only backend in MIOpen
 - Make `ImplicitGemm` into `Igemm` to shorten the spelling

The results naming below for non-xdlops solver:
 - ConvMlirIgemmFwd
 - ConvMlirIgemmBwd
 - ConvMlirIgemmWrW

For xdlops solver:
 - ConvMlirIgemmFwdXdlops
 - ConvMlirIgemmBwdXdlops
 - ConvMlirIgemmWrWXd

[2021-04-28 17:06] atamazov commented on #869
No objections.

[2021-04-28 19:03] asroy opened #895 "Unable to launch kernel "MIOPEN_DEBUG_CONV_DIRECT_ASM_5X10U2V2""
See detailed issue found in JIRA http://ontrack-internal.amd.com/browse/SWDEV-277901
[code]
I've narrow it done to a ASM kernel, by disabling it, the issue is gone
[code]

The original issue is suspecting the root cause is that the number of work-item per work-group specified in the kernel is different from the actual number when launch the kernel.
[code]

However, I'm not able to find anything wr

[2021-04-28 19:08] asroy commented on #895
@muralinr Please look into this issue to find out if this is a launch parameter issue or not. Need you assembly expertise on this issue

cc @JehandadKhan @atamazov

[2021-04-29 13:41] aserio commented on #817
Closing

[2021-04-29 13:41] #817 closed

[2021-04-30 16:12] jerryyin commented on #869
For documentation purpose, the updated filename will be:

non-xdlops solvers:
  - solver/conv_mlir_igemm_fwd.cpp
  - solver/conv_mlir_igemm_bwd.cpp
  - solver/conv_mlir_igemm_wrw.cpp

xdlops solvers:
  - solver/conv_mlir_igemm_fwd_xdlops.cpp
  - solver/conv_mlir_igemm_bwd_xdlops.cpp
  - solver/conv_mlir_igemm_wrw_xdlops.cpp

[2021-04-30 19:40] shurale-nkn opened #898 "[COMGR][debug][test_gpu_reference_kernel] compiler errors"
Many errors from compiler during the test_gpu_reference_kernel execution in COMGR build.

ROCm:4.0
gfx906
Runtime:Hip

Not reproduced in CI docker Rocm 3.7.
Reproduced at Rocm 4.2

[code]

[code]

[2021-04-30 21:30] atamazov commented on #870
@junliume I am afraid that the library should not be released until the defect is resolved.

[2021-04-30 22:06] atamazov commented on #797
Noe reproducible with 4.1 release and 4.2 RC2

[2021-04-30 22:06] #797 closed

[2021-04-30 23:24] #853 closed

[2021-04-30 23:28] #723 closed

[2021-04-30 23:37] #609 closed

[2021-04-30 23:46] atamazov commented on #150
By #810

[2021-04-30 23:46] #150 closed

[2021-04-30 23:57] atamazov commented on #693
@asroy Please reopen if issue is reproducible.

[2021-04-30 23:57] #693 closed

[2021-05-01 00:04] atamazov commented on #506
XNACK is available as `target.Xnack()` in
[code]
and in all other necessary places.

[2021-05-01 00:04] #506 closed

[2021-05-01 00:08] atamazov commented on #378
It seems like we do not really need this.

[2021-05-01 00:08] #378 closed

[2021-05-01 07:47] junliume commented on #870
Affirmed. @aserio gcd() redesign issue is blocking the library release, we should highlight and track it properly.

@carlushuang @atamazov @fronteer  any work around to buy us some time?

[2021-05-01 08:34] artyom-beilis commented on #480
I'd rather meant the code that was converted to this assembly. Because without labels and single line of comment it is useless.

I'm not looking into development of winograd kernels For MIOpen but rather use them on non rocm platforms like standard amd drives on Linux or windows

[2021-05-01 13:53] carlushuang commented on #870
Hi @junliume
I would suggest a hot fix on `gcd` implementation in `src/include/miopen/solver/implicitgemm_util.hpp`, this is the host side. kernel side implementation can keep it.
Just change it to iterative would be fine.

Because if we turn off these solvers, may have performance regression in release.
cc @fronteer @asroy

[2021-05-01 15:38] asroy commented on #870
I will create a fix today

[2021-05-03 12:52] atamazov commented on #870
@carlushuang

Why?

[2021-05-03 12:57] atamazov commented on #870
We have two implementations of gcd() in the host code:
- src/include/miopen/numeric.hpp
- src/include/miopen/solver/implicitgemm_util.hpp

We shall get rid of the duplication.

[2021-05-03 13:04] atamazov commented on #869
via #896

[2021-05-03 13:04] #869 closed

[2021-05-03 15:09] atamazov opened #901 "Check perf-db performance"
@atamazov I believe this is due to the measurement being done with the driver, since each invocation of the driver re-initializes the database, however, in a network once the library is loaded in memory the db is initialized and this is not an issue.

_Originally posted by @JehandadKhan in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/710#issuecomment-828753371_

[2021-05-03 15:16] atamazov commented on #901
The driver is run in three directions (Backward is the second one), and there is warm-up pass activated in the driver (`-w 2`). Needs to double check logs (with timestamps) attached to #710.

[2021-05-03 16:22] atamazov commented on #480
@artyom-beilis

None of existing high-level languages support the execution model that our Winograd kernel implements.

IIRC, the kernels do not contain anything ROCM-specific, and therefore do not require modifications to run on a different platform.

Please contact me by mail, if you need more assistance.

[2021-05-03 16:22] #480 closed

[2021-05-04 09:15] carlushuang commented on #870
@atamazov
Because when using `gcd` in kernel side, it will never have such big number. I can see the only usage in kernel is like [here](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/src/kernels/composable_kernel/include/kernel_algorithm/gridwise_convolution_backward_data_implicit_gemm_v4r1_nchw_kcyx_nkhw.hpp#L57), to compute the gcd of stride and dilation. Besides, we can't tell if

[2021-05-04 09:33] carlushuang commented on #870
Let me remove the `src/include/miopen/numeric.hpp` and reuse that in `implicitgemm_util.hpp`, in another PR. numeric.hpp seems introduced by dynamic igemm.

[2021-05-04 19:18] atamazov opened #904 "ConvolutionDescriptor::IsWinograd3x3SupportedAndFast() must obey MIOPEN_DEBUG_FIND_ONLY_SOLVER"
...otherwise we can test ConvBinWinograd3x3U instead of the solver are were going to validate.

[2021-05-04 21:25] atamazov commented on #480
@artyom-beilis Notice that some Winograd kernels are coming with the original source code. See these Solvers:
- ConvMPBidirectWinograd
- ConvMPBidirectWinograd_xdlops
- ConvWinograd3x3MultipassWrW

[2021-05-05 19:05] jerryyin opened #906 "Revisit IsWinograd3x3SupportedAndFast() when MLIR igemm becomes MIOpen native"
From the comment in https://github.com/ROCmSoftwarePlatform/MIOpen/pull/905.

Right now there is a shortcut to all three fwd, bwd, wrw directions, such that if the config is 3x3 and is supported winograd, we prioritize using this algorithm. This is fine as long as:
 - igemm MLIR is still an experimental option
 - Most solvers support NCHW only

The above condition won't stand when MLIR algorithm b

[2021-05-05 20:05] atamazov commented on #906
There is no shortcut for WrW.

"Winograd 3x3 is Fast" means that GPU utilization is about 200%. Our assumption is that for these cases Winograd will be faster that any other Solver. That is why we skip all other Solvers. Will it remain valid in the future? Or we can expect outstanding performance from MLIR kernels?

[code]
`IsApplicable()` returns `false` for non-NCHW, so the shortcut does NOT aff

[2021-05-05 20:19] jerryyin commented on #906
Thanks for clarifying.

Thanks for providing the detailed performance metric. I can't answer this yet with MLIR solvers still in immature state. I'd be happy to give it a shot. I'd say it worth a shot for MLIR xdlops solvers.

That's right. I think I mis-remembered, I can confirm NHWC not affected. Now it is about fwd/bwd path in NCHW format.

[2021-05-05 20:46] #904 closed

[2021-05-05 20:50] atamazov commented on #870
Okay for now.

___However we need some programmatic guarantee that the following condition is true:___

Let's keep this ticket open until this is resolved.

[2021-05-06 21:58] muralinr commented on #895
Hello, It's not a MIOPEN issue. I looked at ASM source code and kernel launch solver code to cross check it.  Workgroup info  specified is same in both files.

ASM source filev (kernels/conv5x10u2v2f1.s)
.reqd_workgroup_size: [ 64, 8, 1 ]

Solver file (solver/conv_asm_5x10u2v2f1.cpp):
construction_params.l_wk.push_back(64);
construction_params.l_wk.push_back(8);
construction_params.l_wk.push_back(

[2021-05-07 07:01] carlushuang opened #908 "miir.h header file missing, blocking build from source"
introduced by https://github.com/ROCmSoftwarePlatform/MIOpen/commit/f3921e7d5ca71d3f57333cc9de2bd5aa37e7fbba, now build from source can't success, due to no [`miir.h`](https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/src/conv/invokers/mlir_impl_gemm.cpp#L35) in current source.
[code]

If this commit introduce dependency to mlir, need update document or method where to find this header f

[2021-05-07 13:25] jerryyin commented on #908
Synced with @carlushuang offline. It becomes inconvenient that `Miir.h` is required when a developer come to debug a non-MIOpen docker image.

I plan on to push a quick PR that wrap the `Miir.h` include into a macro so non-MLIR build does not depend on a MLIR header.

[2021-05-07 19:36] atamazov commented on #908
This would break QA Staging testing.

[2021-05-07 19:37] atamazov commented on #908
MIOpen promotion process should wait until the fix is merged in `develop`.

[2021-05-08 14:52] zpwenjh opened #915 "[OCL][BatchNorm] Verification failed"
The following params of `bnorm` of `bnormfp16` will cause presicion verification failure.
[code]

@atamazov UPDATE: More failing configs here: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/916#issuecomment-840199623

[2021-05-08 21:46] atamazov commented on #908
via #909

[2021-05-08 21:46] #908 closed

[2021-05-08 22:31] atamazov commented on #915
@zpwenjh Thank you!

[2021-05-09 18:32] shurale-nkn opened #917 "[iGemm][test_conv2d][gfx908][half] Verification failed"
test_conv2d with fp16 convolution failed
GPU: gfx908
Branch: **develop** (3e470a551)
OC: rocm 3.7

[code]
[code]

<details><summary>CONSOLE LOGS_LEVEL=6</summary>

[code]

</details>

[2021-05-09 20:45] atamazov commented on #917
The solver is originated from #272, @carlushuang

[2021-05-09 20:50] atamazov commented on #917
This needs to be triaged first.
- is this reproducible with DEV build?
- why `MIOPEN_DEBUG_FIND_ONLY_SOLVER=ConvAsmImplicitGemmV4R1DynamicBwd` but guilty Solver seems different?

[2021-05-09 20:51] atamazov commented on #917
@shurale-nkn "CONSOLE LOGS LEVEL=6" is unreadable. Please check https://github.com/ROCmSoftwarePlatform/MIOpen/wiki/How-to-insert-console-logs-into-github-pages

[2021-05-09 20:53] atamazov commented on #917
The most important question: is this reproducible with the most recent ROCm 4.2 RC?

[2021-05-10 10:44] carlushuang commented on #917
`ConvAsmImplicitGemmV4R1DynamicBwd` is gfx906/gfx900 solver, and will return `Not applicable` while find algorithm.

[2021-05-10 14:36] jerryyin opened #919 "[MLIR][Brainstorm] Make MLIR become part of release MIOpen package"
## Existing State

MLIR is an experimental compilation option for MIOpen. Assuming that the MLIR library and header has been shipped at ROCm release folder, a developer can use `-DMIOPEN_USE_MLIR=On` to turn on MLIR binary backend. This ticket is the umbrella item that documents what needs to be done to make MIOpen release package to also take advantage of MLIR capabilities.

### June Demo

All ML

[2021-05-10 18:02] atamazov commented on #919
MLIR Solver uses the same machinery as all other MIOpen's Solvers for populating kernels. So the "kernels are populated in run time" cannot be a reason for a Solver to be unused in Immediate mode. The library is able to build any kernel (including MLIR) when necessary.

The reason why the library do not use some Solver via Immediate Mode API is that the library does not "know" if a Solver is appli

[2021-05-10 18:03] atamazov commented on #919
This is already fixed.

[2021-05-10 18:05] atamazov commented on #744
via #800, #852

[2021-05-10 18:05] #744 closed

[2021-05-10 18:11] atamazov commented on #919
I highly recommend rephrasing use the "Find API" term instead. MLIR solvers are supported in all Find Modes, including Fast Find mode, Hybrid Find mode, Dynamic Hybrid Find mode.

[2021-05-10 18:11] atamazov commented on #919
This is supported.

[2021-05-10 18:21] atamazov commented on #919
Right now the generally adopted assumption in MIopen team is that even assembly kernels should be pre-compiled.

My expectation is some very small performance drop of Initial Iteration Time.

[2021-05-10 23:50] shurale-nkn commented on #917
@atamazov @carlushuang
I made a mistake with the choice of the required env var for reproduction. (required solver ConvHipImplicitGemmBwdDataV4R1Xdlops)
as you might have guessed from the logs
[code]

But that doesn't change the fact that with variable `MIOPEN_DEBUG_FIND_ONLY_SOLVER=ConvAsmImplicitGemmV4R1DynamicBwd` was selected different solver, which I think is wrong. This does not match either

[2021-05-11 00:03] shurale-nkn commented on #917
@atamazov

As i said this is develop. (3e470a551)
``MIOpen(HIP): Info [AmdRocmMetadataVersionDetect] ROCm MD version AMDHSA_COv3, MIOpen version 2.12.0.8441-3e470a551``

above

[2021-05-11 11:53] shurale-nkn commented on #917
Ohh, that DEV build.

The result is the same:

[code]

[code]

[2021-05-11 13:39] carlushuang commented on #917
This fail also happen if using fp32 (in above description it is fp16)
`MIOPEN_FIND_MODE=normal MIOPEN_DEBUG_FIND_ONLY_SOLVER=ConvHipImplicitGemmBwdDataV4R1Xdlops MIOPEN_LOG_LEVEL=5 ./bin/test_conv2d --input 8 16 14 14 --weights 32 16 1 1 -v --disable-backward-weights --disable-forward --pads_strides_dilations 1 1 1 1 1 1`

this is a 1x1 kernel with padding. If change padding to 0, then everything

[2021-05-11 23:09] atamazov commented on #917
@carlushuang What is ROCm version (or link to docker please)?

[2021-05-11 23:15] atamazov commented on #917
@shurale-nkn @carlushuang So this ticket is about verification errors of `ConvHipImplicitGemmBwdDataV4R1Xdlops`, right?

[2021-05-11 23:15] shurale-nkn commented on #917
Yes

[2021-05-11 23:18] shurale-nkn commented on #917
not important. Single solver for this case.

MIOPEN_FIND_MODE=normal for testing with other cases

[2021-05-12 00:36] carlushuang commented on #917
@atamazov
I tested on both rocm-3.10(rocm/miopen:miopen-rocm-310) and rocm-4.1(rocm/tensorflow:rocm4.1-tf2.4-dev), all fails. And both fp16/fp32 will fail.

[2021-05-12 14:08] atamazov commented on #917
The quick W/A is disabling `ConvHipImplicitGemmBwdDataV4R1Xdlops` for all non-zero padding configs. But let's find the answer for the following question first:

Then we can create a W/A, lower the urgency of the issue and think about a full-blown fix in a more relaxed atmosphere. Agreed?

/cc @junliume

[2021-05-12 17:12] shurale-nkn commented on #917
@atamazov

Tested on  rocm-rel-4.2:16-STG2:
test failed

[2021-05-12 23:56] ce1adon commented on #915
@muralinr @atamazov
See PR https://github.com/zpwenjh/MIOpen/pull/14 for these configures.

[2021-05-13 06:17] asleepzzz commented on #917
it may related to
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/3c5aea01701b7153bba6517d4655bb884a3ae6bf/src/solver/conv_hip_implicit_gemm_bwd_v4r1_xdlops.cpp#L183

we should add condition :(if pad >0 and 1x1) ,
solver can't just use gcd(SrcDataPerRead_GemmN, ho * wo)

            const auto ho        = ConvolutionContextInterpreter::GetOutputHeightHo(ctx);
            const auto wo        =

[2021-05-13 18:32] atamazov commented on #917
@shaojiewang The faulty Solver has been introduced in #167. Could you please provide the fix ASAP?

[2021-05-14 05:14] asroy opened #928 "[MI100][ROCm 3.7] Re-enable Forward and WrW V4R4Xdlops_Padded_Gem Solvers for BF16 with ROCm 3.7"
- [ ] Narrow the impact of the workaround in PR #929 to problematic configs, and re-enable Fwd/WrW V4R4 padded_gemm solvers for Bfloat16 with ROCm 3.7.
- [ ] Open compiler JIRA ticket

Some failing configs and example failing log: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/920#issue-640915724

[2021-05-14 14:03] atamazov commented on #928
`rocm-4.2.x-staging` contains the same workaround (via PR #920), but does NOT require a full-blown fix.

[2021-05-14 14:26] atamazov opened #930 "Add regression tests for the fix merged from PR 911"
In order to provide the fix ASAP, #911 was merged in spite of missing regression tests, but we still need them. See also https://github.com/ROCmSoftwarePlatform/MIOpen/pull/911#issuecomment-837609892.

[2021-05-14 15:14] junliume commented on #930
The issues found in #911 is not directly testable by MIOpenDriver, thus a holistic test from QA is needed. The information I get from @shaojiewang  and @carlushuang suggests that we should provide and ask QA to add the regression test to their procedure, instead of adding it to our CI regression pool.

[2021-05-14 18:15] atamazov commented on #930
Can we can try to modify the driver?

[2021-05-14 18:22] junliume commented on #930
+ @shaojiewang  @carlushuang to comment on whether MIOpenDriver can be modified to test this bugfix

This bug is found, fixed, and tested internally without QA involvement so far, I recommend submit a ticket for QA to add a holistic test in the meantime.

[2021-05-15 02:05] carlushuang commented on #930
@junliume agree.
Hi @atamazov , this bug is reported [SWDEV-285232](https://ontrack-internal.amd.com/browse/SWDEV-285232), and this is reproduced only in E2E test with TF. I tried locally and can hardly reproduce by MIOpendriver, the reason I guess is there is not too much workload, and not too much memory acquire/release process, unlike TF. And even if the kernel read a out-of-bound memory addres

[2021-05-15 18:57] atamazov commented on #930
We can specifically allocate a little more memory for the input tensor(s) than required, and fill that memory with NaNs. Perhaps this would make it possible to detect out-of-bound memory accesses more reliably, and sooner than QA, which is important. Opinions?

[2021-05-15 23:18] atamazov commented on #895
Should be fixed by #931.

[2021-05-16 03:00] carlushuang commented on #930
Yes this is a method for Nan caused by out-of-bound. I think the difficult thing is how to add this into either MIOpen or ctest, for this approach is a little bit hacky, perhaps need to add another flags/cmd_arg for this purpose. (or maybe default enable this while doing `make check` process)
I think this may contains 2 factors:

- for A/B matrix, allocate extra memory and fill that extra buffer w

[2021-05-18 12:23] #895 closed

[2021-05-18 12:25] atamazov commented on #756
Moved to 4.4. This is our internal goal.

[2021-05-18 17:19] shurale-nkn opened #936 "[iGemmfwd][test_conv2d][gfx906][half] Verification failed"
same problem as in #917, but with kernel ConvHipImplicitGemmV4R1Fwd
test_conv2d with fp16 convolution failed
GPU: gfx906
Branch: **develop** (3e470a551)
Tested on rocm 3.7 and rocm 4.2

[code]
[code]

<details><summary>CONSOLE LOGS_LEVEL=6</summary>

[code]

</details>

[2021-05-18 17:58] #581 closed

[2021-05-18 21:58] mvermeulen commented on #919
One comment on tuning costs.

I expect MLIR to be used in multiple contexts, e.g. (1) generating code for MIOpen kernels (2) supporting TF/XLA or similar framework and (3) integration with MIGraphX.  Not all these are fully online or fully offline but potentially a mix of both.  In the context of some of the more offline scenarios e.g. MIGraphX "model optimizer" followed later by deployment - we m

[2021-05-19 18:16] kiritigowda opened #938 "Failure - Install Dependency"
Using `cmake -P install_deps.cmake --minimum` to install deps fails due to boost source location change to - `https://boostorg.jfrog.io/artifactory/main/release/1.72.0/source/boost_1_72_0.tar.bz2`

[code]

[2021-05-19 19:50] junliume commented on #938
@kiritigowda @JehandadKhan
bintray has sunset support for download boost since May 1st, please refer to the below comment for new link
https://github.com/ROCmSoftwarePlatform/MIOpen/issues/856#issuecomment-827003984

I thought it was fixed already in MIOpen or should we try again?

[2021-05-19 20:21] jerryyin opened #939 "Evaluate Igemm algorithm tuning effectiveness"
## Purpose

Provide support to decide whether it is necessary to implement tuning for MLIR igemm solvers.

## Setup

The experimentation will be carried upon resnet50 configs, base driver: ROCm 4.0. Container: ROCm 3.7.

MIOpen: Same latest commit, on develop branch.

Solvers selections – we pick the **cpp** solvers where MLIR solvers prototyped from:
 - Fwd: NCHW, v4r4, ConvHipImplicitGemmV4R4Fwd

[2021-05-19 20:40] JehandadKhan commented on #938
@junliume The cmake based command still needs to be fixed and @pfultz2 has taken up that task. Alternatively @kiritigowda can use the same commands used in our docker to install dependencies.

[2021-05-19 22:09] shurale-nkn commented on #894
Any progress?

[2021-05-19 23:56] junliume commented on #894
@ce1adon Have you had a chance to look into this issue yet?

[2021-05-20 00:09] ce1adon commented on #894
Yes, but I haven't spotted the cause yet. Will keep checking.

[2021-05-20 02:04] asleepzzz commented on #928
I will look into why bf16 failed

[2021-05-20 14:22] jerryyin commented on #862
Short term solution on exposing a structure from the Miir.h interface has been implemented and merged

Regarding on the long term solution, me && @atamazov synced offline and agreed that the short term solution is:
 - Simple
 - Good for speed

The solution does not has any apparent flaws for existing use cases. Therefore, I'm setting this ticket as low priority. We will implement any fix necessary

[2021-05-20 14:24] jerryyin commented on #767
Closing the ticket as #765 merged.

[2021-05-20 18:25] atamazov commented on #939
None objections. Questions:
- What is the purpose of evaluation? (I know but let's inform all others)
- Pre-requisites? I see gfx908, but what is supposed ROCm version, base driver version? Are you going to use DEV build or installed build of MIOpen?
- How are you going to evaluate the performance? Does the host-side overhead important or only GPU time should be taken into account?

[2021-05-20 18:35] jerryyin commented on #939
It was in the evaluation section but I agree it is not explicit. I have added the first section to be explicit.

Updated in the ticket description. The key is that both experiment group and control group are from same environment, same machine, same setup, except use of perfdb.

Updated in the evaluation section. I'm going to use MIOpenDriver reported GPU kernel time.

[2021-05-20 18:57] JehandadKhan commented on #939
@jerryyin To assess the effectiveness of tuning it might be more enlightening if we select configs that are not ResNet/ResNext variants since usually the defaults baked in the solvers are selected by keeping these networks in mind. Would you agree ?

[2021-05-20 19:04] jerryyin commented on #939
Good point, I don't think I have a good enough understanding of the tuning process. From what you mentioned seem to indicate that we only record the entry in perfdb when it is the best algorithm for the config. (and do not record those secondary but also available algorithms).

If that is the case, then I should selected the configs which I can make sure there are entries from the perfdb. I'd say

[2021-05-20 19:45] atamazov commented on #936
@asroy Can you please provide a fix or workaround for this ASAP? Thanks.

[2021-05-20 19:46] atamazov commented on #917
via #933

[2021-05-20 19:46] #917 closed

[2021-05-20 21:36] atamazov commented on #939
[Off-topic]

No. Tuna optimizes ALL the applicable Solvers, including those that are not the best within Algorithm. For example, is we have two tunable Direct solvers, then Tuna ensures that optimal values are produced (and written into db) for both. Only after all applicable Solvers are tuned, we can find the best one.

[2021-05-20 21:49] atamazov commented on #939
@jerryyin Good idea. However I would recommend not 20 but about of 100 entries (per each solver).

@JehandadKhan Can you retrieve some data from the Tuna DB? I mean lists of problem configs for which Tuna DB contains optimized PerformanceConfigs for the solvers in question? The first is for ConvHipImplicitGemmV4R4Fwd, the second is for ConvHipImplicitGemmV4R1Xdlops, the third is for ConvHipImplici

[2021-05-20 22:40] atamazov commented on #285
This still happens from time to time.

[2021-05-20 22:45] atamazov opened #940 "[Doc] Immediate mode fallback and MIOPEN_DEBUG_FIND_ONLY_SOLVER info is outdated"
- [x] In https://github.com/ROCmSoftwarePlatform/MIOpen/blob/develop/doc/src/find_and_immediate.md#immediate-mode-fall-back: The behavior is actually more complex than described there, it is WTI based. The last chance solver is now Direct Naive.
- [ ] In https://github.com/ROCm/MIOpen/blob/develop/docs/DebugAndLogging.md: MIOPEN_DEBUG_FIND_ONLY_SOLVER doc should be updated as well. Let's add restr

[2021-05-20 22:51] atamazov opened #941 "GEMM algo is not functional for Int8?"
Please look at this change: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/934/commits/4721ccdbd5240ec3ae0ebed95c0ba8f85bf475b8#r636524492

It seems like right now GEMM algo is not functional for Int8. Does this fix worth separate PR?

[2021-05-20 22:52] atamazov commented on #941
Invalid

[2021-05-20 22:52] #941 closed

[2021-05-21 14:47] shurale-nkn opened #942 "[MIOPENTENSIL][GemmWrw1x1][test_conv3d] Verification failed"
Verification failed for half and for fp32.

GPU: gfx906
rocm 4.1.1
develop branch: d2de2fd

docker args
[code]

build params:
[code]

[code]

[2021-05-21 14:55] jerryyin commented on #939
@atamazov Thanks for the explanation.

Okay, since db has the entry anyways I don't see why we should not use `Resnet50` configs. They might not be the optimal amongst all algorithms, however, this is a comparison of the same algorithm against itself. Thus the two topics are orthogonal.

Agreed. It is more representative with a larger problem set.

That does sounds like a useful tool-set and can b

[2021-05-21 15:55] shurale-nkn opened #943 "Incorrect Ctest settings"
Ctest was incorrectly configured for "custom_tests", which caused it to pass tests with failed validation and other FAILED reasons, except cases with system interaption like segfault.

As example:
stage: Smoke FP32->FP32 Hip Debug gfx908 /opt/rocm
No fails in develop without fix.
Logs with fixed Ctest:
[code]

[2021-05-21 17:46] atamazov commented on #894
@shurale-nkn Please check with 4.2 and provide a workaround for the solver. The would reduce urgency to high. Thanks.

[2021-05-21 17:47] jerryyin commented on #939
To make sure we do not duplicate our effort, this is to let you know that I'm WIP in the execution scripts. For the first round of evaluation I will write the script, which is flexible enough to consume MIOpenDriver configs. I will be using resnet50 for the evaluation because I already have those configs. Then when it is done, I will share the script as well as instructions so that we can easily t

[2021-05-21 19:52] jerryyin commented on #939
### Evaluation Result for Resnet50

Scripts: In this [repository](https://github.com/jerryyin/MIOpenDriver-eval).

| Flavor        | Average Runtime | no perfdb/perfdb |
| ------------- | --------------- | ---------------- |
| fwd no perfdb | 3.205941909     |                  |
| fwd perfdb    | 3.162810295     | 1.013637117      |
| bwd no perfdb | 2.341242818     |                  |
| bwd perf

[2021-05-22 00:57] atamazov opened #946 "Numerous verification failures of ConvAsmImplicitGemmGTCDynamicWrwXdlops"
- gfx908
- ROCm 3.7, ROCm 4.2
- Found during CI testing of #944, at the "Fp16 Hip Tensile All gfx908" stage
- Blocks #944

[code]

[2021-05-22 23:05] atamazov opened #948 "Remove W/A that disables ConvAsmImplicitGemmGTCDynamicBwdXdlops"
Let's thoroughly check FP16 correctness, resolve all found correctness issues by fixing the root reason of those, verify that https://ontrack-internal.amd.com/browse/SWDEV-286774 remains fixed, and remove W/A introduced in #945 and updated in #949.

~Most likely, only FP16 has correctness issues, but I am not sure (so W/A disables both FP32 and FP16). Perhaps this is an overkill and only FP16 has

[2021-05-22 23:06] atamazov commented on #854
Ping.

[2021-05-22 23:44] atamazov commented on #948
Please note that `test_conv_igemm_dynamic_xdlops_bwd` is not allowed for HALF.

[2021-05-23 00:21] atamazov commented on #948
[Informative] Right now I am trying to narrow `WORKAROUND_SWDEV_286774` to FP16 configs only.

[2021-05-23 03:36] junliume commented on #854
@shaojiewang @atamazov are we only tracking this effort on GitHub? Do we have an internal ticket on this performance and quality enhancement?

[2021-05-23 14:00] carlushuang commented on #948
This is bwd fp16 NCHW kernel for asm igemm. @carlushuang @shaojiewang

[2021-05-23 23:49] atamazov commented on #930
@carlushuang

Yes, this is not easy to do.

I would recommend the to make it the default (and I do not see any particular need to disable it).

:+1: DEFINITELY YES.

Of course. But shall we add this to your plans, what do you think?

[2021-05-23 23:50] atamazov commented on #930
@shurale-nkn @Kirpich30000 Your opinion?

[2021-05-23 23:57] atamazov commented on #767
This ticket has a lot of reasoning/rationale related to design that may be handy in the future. Let's keep it open, as a part of our internal documentation.

[2021-05-24 00:04] atamazov commented on #939
@jerryyin Please attach the lists of configs for Fwd/Bwd/Wrw, in MIOpenDriver compatible option format, if possible. Thanks.

[2021-05-24 02:49] carlushuang commented on #930
@atamazov I think until we see other patterns that can cause Nan issue, this *out-of-bound* plus *invalid float* is what we can do now to make sure not happen again.

[2021-05-24 13:55] jerryyin commented on #939
@atamazov Sure, I have already shared in a public repository, [here](https://github.com/jerryyin/MIOpenDriver-eval/blob/master/resnet50-miopen-configs).

[2021-05-24 14:44] jerryyin commented on #919
I synced with @atamazov offline and below are summary of our conversations:

#### Tuning:

Key concerns comes from the following area:
 - Perfdb access time for the initial round can be as high as 200 ms. However, this is not a problem for frameworks because that is done only once.
 - New kernels will focus more on dynamic kernels. Dynamic kernels does not take advantage of perfdb good enough. - W

[2021-05-24 16:08] pfultz2 commented on #919
So we would disable MLIR when building MIOpen statically?

Statically linking HIP will bring in LLVM symbols.

But MLIR still needs to be a static library as users wanting to build MIOpen as a static library want to build everything statically. More importantly, some frameworks want to statically link rocm in their pip wheel, so this type of deployment may become more common.

[2021-05-24 16:11] pfultz2 commented on #919
We should be enabling COMGR by default, as this was a requirement for pytorch's pip wheel. So I dont see how we can treat it as independent. They both need to work together.

[2021-05-24 16:54] jerryyin commented on #919
@pfultz2 Thanks for bring these up.

If COMGR has to come with MIOpen's static release package, then yes. I don't see any requirement that MLIR must be available in that scenario.

My understand is that this milestone can target MLIR to be built as part of the dynamic release package of MIOpen.

@atamazov Please correct me if I'm wrong.

I might need more clarification on it. Who is the stakeholde

[2021-05-24 17:22] pfultz2 commented on #919
Well, better said, MIOpen needs to be able to compile programs without calling to `clang` or using headers on the filesystem of pytorch's pip wheel. This also needs to be done more widely as we move to "no path" instead of using absolute or relative path.

Ideally, we would move MLIR into our rocm fork. This way the team that merges with LLVM upstream can take care of breaking changes(so we aren't

[2021-05-24 19:21] jerryyin commented on #919
This we are on the same page. I just don't know if MLIR is at that maturity level yet.

Refer to [here](https://github.com/ROCmSoftwarePlatform/llvm-project-private/issues/80) for everything I have tried the previous time. That `-D` approach doesn't work because dumped symbols does not change at all before and after applying this. Also BTW, llvm namespace is just one of the many namespaces... Inte

[2021-05-24 19:36] atamazov commented on #946
Not a blocker as W/A is merged in.

[2021-05-25 23:35] junliume commented on #859
@xudy-cdcs @xuhuisheng MIOpen v2.11.0 is released
https://github.com/ROCmSoftwarePlatform/MIOpen/releases/tag/2.11.0

[2021-05-25 23:35] #859 closed

[2021-05-25 23:39] junliume commented on #851
@aserio @atamazov The above link is not accessible for external users. Here is the wiki page edited by Adrian:
https://github.com/ROCmSoftwarePlatform/MIOpen/wiki/MIOpen-PR-Review-Process

[2021-05-25 23:39] #851 closed

[2021-05-26 22:43] #946 closed

[2021-05-26 22:46] atamazov commented on #940
MIOPEN_DEBUG_FIND_ONLY_SOLVER doc should be updated as well. Let's add restriction that it reliably works only in NORMAL mode, and remove mentions of GEMM/FFT.

[2021-05-27 03:50] shaojiewang commented on #854
I will create PR to fix this by the end of this week. I was just fully occupied by writing nhwc wrw kernels during the last month. @junliume We do not create a ticket.

[2021-05-27 12:23] #948 closed

[2021-05-27 17:07] atamazov opened #954 "[TESTS] Incorrect test cases in test_conv_igemm_dynamic_xdlops_fwd"
These seem non-applicable for `ConvAsmImplicitGemmGTCDynamicFwdXdlops` for both FP32 and FP16:
[code]
W/A will be provided. Originated from #471.

[2021-05-28 13:58] #943 closed

[2021-05-28 22:03] junliume commented on #942
@ce1adon Have you got a chance to take a look at this issue?

[2021-05-29 03:03] ce1adon commented on #942
Yes, so far I haven't located the cause yet. Will need more time.

[2021-05-31 02:19] shaojiewang commented on #954
I tested these cases locally, fp16 is OK, but fp32 is NotApplicable. But for now, the fp32 kernel is not applicable for c==3 case.
[code]
./bin/test_conv2d --half --cmode conv --pmode default --group-count 1 --disable-backward-data --disable-backward-weights --input 64, 3, 224, 224 --weights 64, 3, 7, 7 --pads_strides_dilations 3 3 2 2 1 1 --trans_output_pads 0 0 --in_layout NCHW --fil_layout NCHW

[2021-06-01 18:15] jerryyin commented on #919
This is to document that in the meeting @atamazov pointed out that there are duplication between:
 - Cpp igemm solvers
 - MLIR backend igemm solvers

Since Cpp igemm solvers compilation speed of slower than that from the MLIR backend, we want to disable / (de-prioritize) cpp igemm solvers.

We will postpone this feature because:
 - The MLIR backend will be only available in shared library, therefo

[2021-06-01 22:59] ce1adon opened #960 "Update cmake version to 3.15.1"
This issue intends to discuss and solve the following problem:

Tensile with version >= 4.2 requires a cmake version >= 3.15.1 to build.
Do we want to:
1. allow version selection based on rocm version in Dockerfile;
2. Simply update cmake in Dockerfile to 3.15.1;
3. Other thoughts and concern

[2021-06-02 08:07] zpwenjh opened #962 "Error: Too many open files"
I'm runing mask_rcnn with miopen-2.8 in gfx906, rocm ver is 3.9.1, and I get errors as follows:
![image](https://user-images.githubusercontent.com/63989327/120444419-2e1e4080-c3ba-11eb-9a36-3e40b39d49f2.png)
Then I run the script again, the log is here:
[log_miopenerror.zip](https://github.com/ROCmSoftwarePlatform/MIOpen/files/6583045/log_miopenerror.zip)

[2021-06-03 03:39] zpwenjh opened #964 "[Build Error] Miir.h not found"
When build miopen-develop([4f48facd](https://github.com/ROCmSoftwarePlatform/MIOpen/commit/4f48facd76f26d7939fa53f16ba44086e8c58d43)) on ROCm-3.9.1, using the following compilation parameters:
![image](https://user-images.githubusercontent.com/63989327/120582631-5dd35400-c45f-11eb-9b01-b500f79af5f0.png)

Error log as follows:
![image](https://user-images.githubusercontent.com/63989327/120582009-54

[2021-06-03 04:11] junliume commented on #964
@zpwenjh Thank you for raising the issue, have you checked if MIOPEN_USE_MLIR is accidentally turned on?
The issue is directly related to:
https://github.com/ROCmSoftwarePlatform/MIOpen/issues/908
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/909

cc: @jerryyin @atamazov

[2021-06-03 04:20] junliume commented on #962
@zpwenjh Issue might be temporarily bypassed by increasing the OS limit on # of open files:
https://github.com/lynckia/licode/issues/102#issuecomment-41947660
https://www.tecmint.com/increase-set-open-file-limits-in-linux/

However, @atamazov could you please take a look why are we opening so many files without closing them?

[2021-06-03 04:22] junliume commented on #960
https://github.com/ROCmSoftwarePlatform/MIOpen/pull/961#discussion_r644240132

[2021-06-03 18:03] kiritigowda opened #965 "MIOpenDriver - Build Failure on 2.11.0"
[code]

[2021-06-03 20:40] junliume commented on #965
@kiritigowda We are unable to reproduce this issue. Could you clean the workspace and try again? What is your build environment and configurations? If the issuer persists we can further investigate with full logs available. Thanks!

[2021-06-03 21:13] kiritigowda commented on #965
@junliume thanks for looking at this. I have attached a dockerfile from which you can reproduce this issue. I would really appreciate it if you can tell me what's missing or get to the root of the issue.

to build the docker use the command below.

[code]
Issue below
[code]

file renamed as txt
[miopenTest.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/6594395/miopenTest.txt)

[2021-06-03 22:04] atamazov commented on #942
This is a MIOpenTensile issue, which is still experimental. Not a blocker right now.

[2021-06-03 22:32] atamazov commented on #686
@shurale-nkn Is it consistently reproducible or random?

[2021-06-03 23:34] atamazov commented on #954
@shaojiewang Thanks for the info. Can you please replace the workaround with some valid code? This would resolve this ticket.

[2021-06-04 00:16] junliume commented on #964
@carlushuang Issue is reproducible using user provided docker file, could you take a look?

[2021-06-04 00:53] junliume commented on #965
@carlushuang Issue is reproducible using user provided docker file, could you take a look?

[2021-06-04 16:53] JehandadKhan commented on #965
@kiritigowda This issue has been fixed. Please confirm.

[2021-06-04 17:27] kiritigowda commented on #965
@JehandadKhan thanks for the fix, I will confirm with the build.

[2021-06-04 18:26] shurale-nkn commented on #686
consistently

[2021-06-04 19:10] kiritigowda commented on #965
2.11.0 is now building. Thanks, @JehandadKhan @junliume for the quick response.

[code]

[2021-06-04 19:10] #965 closed

[2021-06-04 19:32] kiritigowda commented on #965
@junliume attached is a docker file that uses the deps install from MIOpen, this currently fails. Please take a look at it when you get a chance. Thanks!

Updated DockerFile - [miopenTest.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/6600859/miopenTest.txt)

[code]

Failure
[code]

[2021-06-04 20:22] junliume commented on #965
Hi @kiritigowda, you may need to update the docker file to:

https://dl.bintray.com/boostorg/release/1.72.0/source/boost_1_72_0.tar.gz

https://boostorg.jfrog.io/artifactory/main/release/1.72.0/source/boost_1_72_0.tar.gz

P.S. **why boost_1_72_0 instead of boost_1_76_0?**

Related to:
https://github.com/ROCmSoftwarePlatform/MIOpen/issues/938
https://github.com/ROCmSoftwarePlatform/MIOpen/issues/85

[2021-06-04 20:25] junliume commented on #964
Hi @zpwenjh, have you tested on version after fixes in #909? If the issue is no longer observed, please close this issue. Thanks!

[2021-06-04 20:26] kiritigowda commented on #965
I am only running `sudo cmake -P install_deps.cmake --minimum`, I don't have control over what this file downloads.

[2021-06-04 20:29] junliume commented on #962
Hi @atamazov  could this be another side effect of #858 and fixed again by #963?

@zpwenjh have you tried the work around and/or later version of MIOpen? If the issue is no longer observed, please close this issue. Thanks!

[2021-06-04 20:48] junliume commented on #965
Let's track progress in #938

Meanwhile would the following workaround work for you?
https://github.com/ROCmSoftwarePlatform/MIOpen/issues/938#issuecomment-844455916

[2021-06-04 20:50] junliume commented on #938
Hi @pfultz2, @kiritigowda mentioned the issue is still persistent in https://github.com/ROCmSoftwarePlatform/MIOpen/issues/965

Do we have a permanent fix for the issue please?

[2021-06-04 21:18] kiritigowda commented on #965
@junliume Thanks. Attached is a docker file to reproduce this issue.

[code]

[miopenDeps.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/6601274/miopenDeps.txt)

[2021-06-04 21:18] kiritigowda commented on #938
DockerFile to Reproduce the issue - [miopenDeps.txt](https://github.com/ROCmSoftwarePlatform/MIOpen/files/6601277/miopenDeps.txt)

[2021-06-04 23:10] atamazov commented on #960
I am not an expert in this field.

[2021-06-04 23:22] atamazov commented on #964
4f48facd includes #909. @jerryyin Please look into this issue, thanks.

[2021-06-05 03:00] zpwenjh commented on #964
@atamazov  I'm sorry that I got the wrong version. I didn't use [4f48facd](https://github.com/ROCmSoftwarePlatform/MIOpen/commit/4f48facd76f26d7939fa53f16ba44086e8c58d43)

[2021-06-05 03:00] #964 closed

[2021-06-05 03:04] zpwenjh commented on #962
@junliume I have tried MIOpen-2.11.0 too, but the problems still remains.

[2021-06-06 16:53] atamazov commented on #936
Note that MIOpenDriver passes the test. Commands to reproduce:
[code]

Another config where test_conv2d fails, but MIOpenDriver passes:
[code]

The reason of this behavior:
https://github.com/ROCmSoftwarePlatform/MIOpen/blob/96d7086fa0113e2109de44f870dbae1c340b48fc/driver/conv_driver.hpp#L3207-L3210

`test_conv2d` should be fixed: similar patch for tolerance must be added.

[2021-06-06 17:31] atamazov commented on #915
Would you like me or Murali to add regression tests?

[2021-06-06 18:33] atamazov commented on #686
@junliume Can you please assign this to the relevant person?

[2021-06-06 18:33] atamazov commented on #964
@zpwenjh Okay, no problem!

[2021-06-06 19:05] atamazov commented on #936
I can do this altogether with https://github.com/AMDComputeLibraries/MLOpen/pull/2512

[2021-06-06 19:06] ce1adon commented on #915
@atamazov @muralinr
Please go ahead and add regression tests, with also these reported configures: https://github.com/ROCmSoftwarePlatform/MIOpen/pull/916#issuecomment-840199623

[2021-06-06 19:07] atamazov commented on #936
This is not a library correctness problem, but a test related issue.

[2021-06-06 21:47] atamazov commented on #915
@junliume Could you please assign the owner of BN primitive to add regressions tests? Thanks!

[2021-06-06 22:34] muralinr commented on #915
@atamazov I will add these failures to regression tests.

[2021-06-06 22:39] atamazov commented on #915
@muralinr Wow! It's you)) Thanks! :+1:

[2021-06-07 01:54] junliume commented on #686
Hi @ce1adon, could you take a look at this issue? test/gru_common.hpp is what I can find in the repo :)

[2021-06-07 02:34] #835 closed

[2021-06-07 16:22] shurale-nkn commented on #898
http://micimaster.amd.com/blue/organizations/jenkins/MLLibs%2FMIOpen/detail/jenkins-ci-rocm-4.2/4/pipeline/477

[2021-06-07 20:24] atamazov commented on #938
2.11 does not contain #922. I recommend the following:
- Merging `v2.11_fix` to `master`
- Then, cherry-picking #922 to `master`
- Moving the `2.11` label to the tip of `master`
- Updating [2.11 release](https://github.com/ROCmSoftwarePlatform/MIOpen/releases/tag/2.11.0) & its assets

[2021-06-07 20:25] atamazov commented on #938
Alternatively, the 2.11.1 "patch" release can be created.

[2021-06-07 20:51] junliume commented on #938
@JehandadKhan 2.11.1 sounds like an easier path, is there any issues which might be holding us back? e.g. if it is easier to change 2.11 itself than to change scripts used everywhere else in the ROCm suite? :)

[2021-06-07 20:55] atamazov commented on #938
It seems more logical to create 2.11.1 and it looks more logical than updating 2.11. Release is something that shouldn't be changed after, um, releasing.

[2021-06-07 21:04] ce1adon commented on #686
[code]

Although reported failure, the max diff level is 1e-8.
It looks like a tolerance issue.

[2021-06-07 21:07] ce1adon commented on #686
[code]
Cannot replicate in driver.

[2021-06-07 21:27] atamazov commented on #835
@zpwenjh

Please describe the process, and I'll try to advise how to accelerate this. Am I right that you've tried `MIOPEN_FIND_ENFORCE=4`?

Due to too many files open, right?

[2021-06-07 21:33] ce1adon commented on #686
@atamazov I'm afraid I can't help since it's a tolerance issue. We may want to pin who is in charge of adjusting the CI testing param.

[2021-06-07 21:50] atamazov commented on #898
@shurale-nkn Please attach full logs.

Please also try `export MIOPEN_DEBUG_COMGR_HIP_PCH_ENFORCE=0` and let me know if it helps. Thanks.

[2021-06-07 21:54] atamazov commented on #898
@shurale-nkn Logs not needed.

[2021-06-07 22:01] atamazov commented on #898
@shurale-nkn

Replay job launched (`#5`), let's see the results.

[2021-06-07 22:29] atamazov commented on #686
@ce1adon Do we need to raise the tolerance?

Actually CI just re-uses tests written by developers. If you (or some other developer) would like to change the tolerance -- let's make it so and push through normal review process.

[2021-06-07 22:48] atamazov commented on #962
No. That changes only affect MIOpen build process.

[2021-06-07 22:53] ce1adon commented on #686
Let me dig more in the CI for the root cause. It's very strange that CI reported failure at 1e-8.
@shurale-nkn Hey Kamil can you provide some background info of this configure besides running on gfx906? Which PR reported this failure?